Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(tracing): satisfy python type checks
  src/phoenix/server/api/routers/chat_tracing.py
Due: format-python, lint-python

stop capturing stack traces
  app/schema.graphql
  app/src/pages/experiments/ExperimentDetailsDialog.tsx
  app/src/pages/experiments/__generated__/ExperimentDetailsDialogJobErrorsQuery.graphql.ts
  app/src/pages/experiments/__generated__/ExperimentDetailsDialogQuery.graphql.ts
  app/src/pages/experiments/__generated__/ExperimentDetailsDialog_jobErrors.graphql.ts
  src/phoenix/server/api/types/ExperimentLog.py
  src/phoenix/server/daemons/experiment_runner.py
  tests/unit/server/daemons/test_experiment_runner.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

feat(experiments): structured error table with sanitized messages (#12558)
  app/schema.graphql
  app/src/pages/experiments/ExperimentDetailsDialog.tsx
  app/src/pages/experiments/__generated__/ExperimentDetailsDialogJobErrorsQuery.graphql.ts
  app/src/pages/experiments/__generated__/ExperimentDetailsDialogQuery.graphql.ts
  app/src/pages/experiments/__generated__/ExperimentDetailsDialog_jobErrors.graphql.ts
  src/phoenix/server/api/types/ExperimentLog.py
  src/phoenix/server/daemons/experiment_runner.py
  tests/unit/server/daemons/test_experiment_runner.py
  uv.lock
Due: format-python, lint-python, oxfmt-app, oxlint-app, uv-lock-check

fix(agent): surface backend tool loop exhaustion
  src/phoenix/server/api/routers/data_stream_protocol.py
  tests/unit/server/api/routers/test_data_stream_protocol.py
Due: format-python, lint-python

chore(main): release arize-phoenix 14.0.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

chore(main): release arize-phoenix-evals 3.0.0
  .release-please-manifest.json
  packages/phoenix-evals/CHANGELOG.md
  packages/phoenix-evals/pyproject.toml
Due: uv-lock-check

chore: release 2.3.1
  packages/phoenix-client/pyproject.toml
Due: uv-lock-check

chore: update phoenix version to 14.0.0 in kustomize and helm
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

chore(main): release arize-phoenix-client 2.3.1
  .release-please-manifest.json
  packages/phoenix-client/CHANGELOG.md
  packages/phoenix-client/pyproject.toml
Due: uv-lock-check

feat(agent): preserve chat runtime across trace slideovers
  app/src/components/agent/AgentChatPanel.tsx
  app/src/components/agent/TraceAgentChatPanel.tsx
  app/src/components/agent/useAgentChat.ts
  app/src/contexts/AgentChatRuntimeContext.tsx
  app/src/pages/AuthenticatedRoot.tsx
  app/src/pages/Layout.tsx
  app/src/pages/trace/TraceDetails.tsx
Due: oxfmt-app, oxlint-app

refactor(agent): compose shared chat surface frames
  app/src/components/agent/AgentChatPanel.tsx
  app/src/components/agent/AgentChatPanelView.tsx
  app/src/components/agent/TraceAgentChatPanel.tsx
Due: oxfmt-app, oxlint-app

fix(agent): address review issues in chat panel runtime and layout
  app/src/components/agent/AgentChatPanelView.tsx
  app/src/components/agent/TraceAgentChatPanel.tsx
  app/src/components/agent/useActiveChatPanelWhileMounted.ts
  app/src/contexts/AgentChatRuntimeContext.tsx
  app/src/pages/Layout.tsx
  app/src/store/agentStore.ts
Due: oxfmt-app, oxlint-app

clean up
  .release-please-manifest.json
Due: none

fix(agent): improve modal entrypoints and chat mount timing
  app/src/components/agent/AgentChatPanel.tsx
  app/src/components/agent/AgentChatWidget.tsx
  app/src/components/ai/prompt-input/PromptInputTextarea.tsx
  app/src/hooks/useHasOpenModal.ts
  app/src/pages/trace/TracePage.tsx
Due: oxfmt-app, oxlint-app

fix(agent): gate trace entrypoint and lock model changes
  app/src/components/agent/AgentModelMenu.tsx
  app/src/components/agent/Chat.tsx
  app/src/components/generative/ModelMenu.tsx
  app/src/pages/trace/TracePage.tsx
Due: oxfmt-app, oxlint-app

fix(agent): reclaim idle chat runtimes
  app/src/agent/tools/bash/bashToolSessionRegistry.ts
  app/src/contexts/AgentChatRuntimeContext.tsx
  app/src/contexts/__tests__/AgentChatRuntimeContext.test.ts
Due: oxfmt-app, oxlint-app

docs(agent): clarify chat runtime ownership
  app/src/components/agent/useAgentChat.ts
  app/src/contexts/AgentChatRuntimeContext.tsx
Due: oxfmt-app, oxlint-app

fix: address PR review comments
  examples/agents/tau_bench_langgraph/run.py
  examples/agents/tau_bench_langgraph/tools.py
  examples/agents/tau_bench_langgraph/user_sim.py
  examples/agents/tau_bench_openai_agents/run.py
  examples/agents/tau_bench_openai_agents/tools.py
  examples/agents/tau_bench_openai_agents/user_sim.py
  examples/agents/traject_bench_langgraph/run.py
Due: format-python, lint-python

Fix DuplicateTableError on pod restart when PHOENIX_SQL_DATABASE_SCHEMA is empty
  src/phoenix/db/migrations/env.py
Due: format-python, lint-python

fix: normalize empty PHOENIX_SQL_DATABASE_SCHEMA to None
  helm/templates/phoenix/configmap.yaml
  helm/values.yaml
  scripts/ci/test_helm.py
  src/phoenix/config.py
  tests/unit/test_config.py
Due: format-python, lint-python

chore(main): release arize-phoenix 14.1.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

chore: update phoenix version to 14.1.0 in kustomize and helm
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

fix: use dataloader for session annotations to prevent connection exhaustion
  src/phoenix/server/api/types/ProjectSession.py
Due: format-python, lint-python

chore(main): release arize-phoenix 14.1.1
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

chore: update phoenix version to 14.1.1 in kustomize and helm
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

feat: add /redirects/projects/:project_name route for name-based project URLs
  app/schema.graphql
  app/src/Routes.tsx
  app/src/pages/redirects/__generated__/projectRedirectLoaderQuery.graphql.ts
  app/src/pages/redirects/projectRedirectLoader.ts
  src/phoenix/server/api/queries.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

test: add Playwright e2e test for project name redirect
  app/tests/project-redirect.spec.ts
Due: oxfmt-app, oxlint-app

docs: add shareable redirect URLs reference page
  docs/phoenix/llms.txt
  docs/phoenix/tracing/how-to-tracing.mdx
  docs/phoenix/tracing/how-to-tracing/advanced.mdx
  docs/phoenix/tracing/how-to-tracing/advanced/constructing-urls.mdx
Due: none

feat(db): add sandbox tables and extend CodeEvaluator for code execution (#12192)
  scripts/ddl/postgresql_schema.sql
  src/phoenix/db/migrations/versions/0ff41b5b118f_add_sandbox_and_code_evaluator_support.py
  src/phoenix/db/models.py
Due: format-python, lint-python

feat: implement sandbox backend and code evaluator mutations (#12240)
  app/schema.graphql
  app/src/components/evaluators/__generated__/EvaluatorOutputPreviewMutation.graphql.ts
  pyproject.toml
  scripts/ddl/postgresql_schema.sql
  src/phoenix/config.py
  src/phoenix/db/facilitator.py
  src/phoenix/db/migrations/versions/0ff41b5b118f_add_sandbox_and_code_evaluator_support.py
  src/phoenix/db/models.py
  src/phoenix/server/api/coerce_output.py
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/helpers/evaluators.py
  src/phoenix/server/api/input_types/EvaluatorPreviewInput.py
  src/phoenix/server/api/mutations/__init__.py
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/api/mutations/evaluator_mutations.py
  src/phoenix/server/api/mutations/sandbox_config_mutations.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/Evaluator.py
  src/phoenix/server/api/types/SandboxConfig.py
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/_download.py
  src/phoenix/server/sandbox/daytona_backend.py
  src/phoenix/server/sandbox/deno_backend.py
  src/phoenix/server/sandbox/e2b_backend.py
  src/phoenix/server/sandbox/sync.py
  src/phoenix/server/sandbox/types.py
  src/phoenix/server/sandbox/vercel_backend.py
  src/phoenix/server/sandbox/wasm_backend.py
  tests/unit/server/api/conftest.py
  tests/unit/server/api/mutations/test_code_evaluator_sandbox_mutations.py
  tests/unit/server/api/test_code_evaluator_runner.py
  tests/unit/server/api/test_coerce_output.py
  tests/unit/server/api/test_session_lifecycle.py
  tests/unit/server/api/test_sync.py
  tests/unit/server/api/test_wasm_backend.py
  uv.lock
Due: format-python, lint-python, oxfmt-app, oxlint-app, uv-lock-check

feat(sandbox): Add settings page for configuring code sandboxes (#12460)
  app/schema.graphql
  app/src/Routes.tsx
  app/src/pages/settings/SettingsPage.tsx
  app/src/pages/settings/SettingsSandboxesPage.tsx
  app/src/pages/settings/__generated__/SettingsSandboxesPageCreateSandboxConfigMutation.graphql.ts
  app/src/pages/settings/__generated__/SettingsSandboxesPageDeleteSandboxConfigMutation.graphql.ts
  app/src/pages/settings/__generated__/SettingsSandboxesPageFragment.graphql.ts
  app/src/pages/settings/__generated__/SettingsSandboxesPageProviderEnabledSwitchMutation.graphql.ts
  app/src/pages/settings/__generated__/SettingsSandboxesPageUpdateSandboxConfigMutation.graphql.ts
  app/src/pages/settings/__generated__/SettingsSandboxesPageUpdateSandboxProviderMutation.graphql.ts
  app/src/pages/settings/__generated__/settingsSandboxesPageLoaderQuery.graphql.ts
  app/src/pages/settings/sandboxes/DeleteSandboxConfigButton.tsx
  app/src/pages/settings/sandboxes/SandboxConfigDialog.tsx
  app/src/pages/settings/sandboxes/SandboxConfigsCard.tsx
  app/src/pages/settings/sandboxes/SandboxProvidersCard.tsx
  app/src/pages/settings/sandboxes/SettingsSandboxesPage.tsx
  app/src/pages/settings/sandboxes/__generated__/DeleteSandboxConfigButtonDeleteSandboxConfigMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigDialogCreateSandboxConfigMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigDialogUpdateSandboxConfigMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigsCardProviderEnabledSwitchMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxProvidersCardProviderEnabledSwitchMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxProvidersCardUpdateSandboxProviderMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SettingsSandboxesPageFragment.graphql.ts
  app/src/pages/settings/sandboxes/styles.ts
  app/src/pages/settings/sandboxes/types.ts
  app/src/pages/settings/sandboxes/utils.tsx
  app/src/pages/settings/settingsSandboxesPageLoader.ts
  src/phoenix/server/api/mutations/sandbox_config_mutations.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/routers/auth.py
  src/phoenix/server/api/types/SandboxConfig.py
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/deno_backend.py
  tests/unit/server/api/mutations/test_code_evaluator_sandbox_mutations.py
  tests/unit/server/api/test_sandbox_queries.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix(sandbox): remove re-introduced chat completion mutations, fix evaluator bugs
  src/phoenix/server/api/evaluators.py
Due: format-python, lint-python

refactor(sandbox): clean up sandbox interfaces, add dataloaders, and document defensive fallback (#12500)
  app/schema.graphql
  app/src/pages/settings/sandboxes/SandboxConfigDialog.tsx
  app/src/pages/settings/sandboxes/SandboxConfigsCard.tsx
  app/src/pages/settings/sandboxes/SandboxProvidersCard.tsx
  app/src/pages/settings/sandboxes/SettingsSandboxesPage.tsx
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigsCardConfigEnabledSwitchMutation.graphql.ts
  app/src/pages/settings/sandboxes/types.ts
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/language_by_id.py
  src/phoenix/server/api/dataloaders/sandbox_configs_by_provider.py
  src/phoenix/server/api/mutations/sandbox_config_mutations.py
  src/phoenix/server/api/types/SandboxConfig.py
  src/phoenix/server/app.py
  tests/unit/server/api/mutations/test_code_evaluator_sandbox_mutations.py
  tests/unit/server/api/test_sandbox_queries.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix(db): update sandbox migration down_revision to main's chain head
  src/phoenix/db/migrations/versions/0ff41b5b118f_add_sandbox_and_code_evaluator_support.py
Due: format-python, lint-python

fix(sandbox): remove test for dropped _cleanup_sandbox_sessions
  tests/unit/server/api/test_session_lifecycle.py
Due: format-python, lint-python

feat(evaluators): add dataset code evaluator flows
  app/schema.graphql
  app/src/components/dataset/CreateCodeDatasetEvaluatorSlideover.tsx
  app/src/components/dataset/EditCodeDatasetEvaluatorSlideover.tsx
  app/src/components/dataset/__generated__/CreateCodeDatasetEvaluatorSlideoverQuery.graphql.ts
  app/src/components/dataset/__generated__/CreateCodeDatasetEvaluatorSlideover_createCodeEvaluatorMutation.graphql.ts
  app/src/components/dataset/__generated__/CreateCodeDatasetEvaluatorSlideover_createDatasetCodeEvaluatorMutation.graphql.ts
  app/src/components/dataset/__generated__/EditCodeDatasetEvaluatorSlideover_datasetEvaluatorQuery.graphql.ts
  app/src/components/dataset/__generated__/EditCodeDatasetEvaluatorSlideover_updateCodeEvaluatorMutation.graphql.ts
  app/src/components/dataset/__generated__/EditCodeDatasetEvaluatorSlideover_updateDatasetCodeEvaluatorMutation.graphql.ts
  app/src/components/evaluators/AddEvaluatorMenu.tsx
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
  app/src/components/evaluators/EvaluatorInputVariablesContext/CodeEvaluatorInputVariablesProvider.tsx
  app/src/components/evaluators/codeEvaluatorUtils.ts
  app/src/pages/dataset/evaluators/CodeDatasetEvaluatorDetails.tsx
  app/src/pages/dataset/evaluators/DatasetEvaluatorDetailsPage.tsx
  app/src/pages/dataset/evaluators/__generated__/CodeDatasetEvaluatorDetails_datasetEvaluator.graphql.ts
  app/src/pages/dataset/evaluators/__generated__/datasetEvaluatorDetailsLoaderQuery.graphql.ts
  app/src/pages/dataset/evaluators/datasetEvaluatorDetailsLoader.ts
  app/src/pages/playground/PlaygroundEvaluatorSelect.tsx
  app/src/types/evaluators.ts
  src/phoenix/server/api/mutations/evaluator_mutations.py
  src/phoenix/server/api/types/Evaluator.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix(phoenix-client): load ATIF JSON fixtures as UTF-8
  packages/phoenix-client/tests/client/helpers/atif/test_convert.py
  packages/phoenix-client/tests/client/helpers/atif/test_integration.py
  packages/phoenix-client/tests/client/helpers/atif/test_validate.py
Due: format-python, lint-python

fix(datasets): handle omitted experimentCount args
  src/phoenix/server/api/types/Dataset.py
  tests/unit/server/api/types/test_Dataset.py
Due: format-python, lint-python

feat(evaluators): add dataset code evaluator flows (#12597)
  app/schema.graphql
  app/src/components/dataset/CreateCodeDatasetEvaluatorSlideover.tsx
  app/src/components/dataset/EditCodeDatasetEvaluatorSlideover.tsx
  app/src/components/dataset/__generated__/CreateCodeDatasetEvaluatorSlideoverQuery.graphql.ts
  app/src/components/dataset/__generated__/CreateCodeDatasetEvaluatorSlideover_createCodeEvaluatorMutation.graphql.ts
  app/src/components/dataset/__generated__/CreateCodeDatasetEvaluatorSlideover_createDatasetCodeEvaluatorMutation.graphql.ts
  app/src/components/dataset/__generated__/EditCodeDatasetEvaluatorSlideover_datasetEvaluatorQuery.graphql.ts
  app/src/components/dataset/__generated__/EditCodeDatasetEvaluatorSlideover_updateCodeEvaluatorMutation.graphql.ts
  app/src/components/dataset/__generated__/EditCodeDatasetEvaluatorSlideover_updateDatasetCodeEvaluatorMutation.graphql.ts
  app/src/components/evaluators/AddEvaluatorMenu.tsx
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
  app/src/components/evaluators/EvaluatorInputVariablesContext/CodeEvaluatorInputVariablesProvider.tsx
  app/src/components/evaluators/codeEvaluatorUtils.ts
  app/src/pages/dataset/evaluators/CodeDatasetEvaluatorDetails.tsx
  app/src/pages/dataset/evaluators/DatasetEvaluatorDetailsPage.tsx
  app/src/pages/dataset/evaluators/__generated__/CodeDatasetEvaluatorDetails_datasetEvaluator.graphql.ts
  app/src/pages/dataset/evaluators/__generated__/datasetEvaluatorDetailsLoaderQuery.graphql.ts
  app/src/pages/dataset/evaluators/datasetEvaluatorDetailsLoader.ts
  app/src/pages/playground/PlaygroundEvaluatorSelect.tsx
  app/src/types/evaluators.ts
  src/phoenix/server/api/mutations/evaluator_mutations.py
  src/phoenix/server/api/types/Dataset.py
  src/phoenix/server/api/types/Evaluator.py
  tests/unit/server/api/types/test_Dataset.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

chore: update sitemap.xml
  docs/phoenix/sitemap.xml
  sitemap.xml
Due: none

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
