Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

chore(plugin): ignore claude plugin eval results
  .gitignore
Due: none

feat(api): add GET /spans/{span_identifier} endpoint to fetch a single span
  js/app/src/api/__generated__/v1.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/spans.py
  tests/integration/_helpers.py
  tests/unit/server/api/routers/v1/test_spans.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(evals): validate initial request rate
  packages/phoenix-evals/src/phoenix/evals/rate_limiters.py
  packages/phoenix-evals/tests/phoenix/evals/test_rate_limiters.py
Due: format-python, lint-python

fix(evals): reject non-finite precision recall beta
  packages/phoenix-evals/src/phoenix/evals/metrics/precision_recall.py
  packages/phoenix-evals/tests/phoenix/evals/metrics/test_precision_recall.py
Due: format-python, lint-python

ci: verify Docker release tags point at commits on main before publishing
  .github/workflows/docker-build-release.yml
Due: none

docs: clean up httpx pins and examples for the httpx2 migration
  docs/phoenix/cookbook/ai-engineering-workflows/iterative-evaluation-and-experimentation-workflow-python.mdx
  docs/phoenix/cookbook/datasets-and-experiments/text2sql.mdx
  docs/phoenix/evaluation/server-evals/code-evaluators/composite.mdx
  docs/phoenix/evaluation/server-evals/code-evaluators/llm-jury.mdx
  docs/phoenix/integrations/python/pydantic/pydantic-tracing.mdx
  docs/phoenix/tracing/how-to-tracing/feedback-and-annotations/evaluating-phoenix-traces.mdx
  scripts/mock-llm-server/README.md
  tutorials/evals/evaluate_agent_parameter_extraction_classifications.ipynb
  tutorials/evals/evaluate_agent_tool_selection_classifications.ipynb
  tutorials/evals/evaluate_code_functionality_classifications.ipynb
  tutorials/evals/evaluate_code_readability_classifications.ipynb
  tutorials/experiments/datasets_and_experiments_quickstart.ipynb
  tutorials/experiments/txt2sql.ipynb
  tutorials/integrations/evaluating_traces_cleanlabTLM.ipynb
  tutorials/llm_application_tracing_evaluating_and_analysis.ipynb
  tutorials/multi_modal/image_classification_tutorial.ipynb
  tutorials/multi_modal/tracing_with_images_tutorial.ipynb
  tutorials/tracing/autogen_tutorial.ipynb
  tutorials/tracing/dspy_tracing_tutorial.ipynb
  tutorials/tracing/llama_index_openai_agent_tracing_tutorial.ipynb
  tutorials/tracing/llama_index_sql_retriever_tutorial.ipynb
  tutorials/tracing/llama_index_tracing_tutorial.ipynb
  tutorials/tracing/manual_instrumentation_tutorial.ipynb
  tutorials/tracing/openai_tracing_tutorial.ipynb
  tutorials/tracing/span_filtering_tutorial.ipynb
Due: clean-notebooks

fix(cost): update built-in model token prices
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Due: none

refactor(mcp): rename additional_skills to external_skills
  src/phoenix/server/app.py
  src/phoenix/server/mcp_server.py
  tests/unit/server/mcp/test_skills.py
Due: format-python, lint-python

refactor(skills): type skill visibility as a literal
  src/phoenix/server/mcp/skills/__init__.py
Due: format-python, lint-python

docs(mcp): shorten the external_skills docstring
  src/phoenix/server/mcp_server.py
Due: format-python, lint-python

feat(agents): mount configured skills in MCP and PXI
  src/phoenix/config.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/routers/agents.py
  src/phoenix/server/app.py
  src/phoenix/server/mcp/skills/__init__.py
  src/phoenix/server/mcp_server.py
  tests/unit/server/mcp/test_mounted_skills.py
  tests/unit/server/mcp/test_skills.py
Due: format-python, lint-python

refactor(skills): clarify visibility mode and external skills names
  src/phoenix/config.py
  src/phoenix/server/app.py
  src/phoenix/server/mcp_server.py
Due: format-python, lint-python

refactor(skills): address review naming feedback
  src/phoenix/server/mcp/skills/__init__.py
  tests/unit/server/mcp/test_skills.py
Due: format-python, lint-python

docs(mcp): describe the external_skills parameter
  src/phoenix/server/mcp_server.py
Due: format-python, lint-python

refactor(config): comma-separated skills paths and typed visibility
  src/phoenix/config.py
  tests/unit/server/mcp/test_mounted_skills.py
  tests/unit/server/mcp/test_skills.py
Due: format-python, lint-python

refactor(skills): extract frontmatter visibility and directory helpers
  src/phoenix/server/app.py
  src/phoenix/server/mcp/skills/__init__.py
  src/phoenix/server/mcp_server.py
  tests/unit/server/mcp/test_skills.py
Due: format-python, lint-python

refactor(server): rename app.state.pxi_skills to agent_skills
  src/phoenix/config.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/routers/agents.py
  src/phoenix/server/app.py
  tests/unit/server/mcp/test_mounted_skills.py
Due: format-python, lint-python

fix(skills): log and skip clashing external skills instead of failing startup
  src/phoenix/server/mcp/skills/__init__.py
  tests/unit/server/mcp/test_skills.py
Due: format-python, lint-python

feat(cli): show external skills in the startup banner
  src/phoenix/server/cli/boot_message.py
  src/phoenix/server/cli/commands/serve.py
  tests/unit/server/cli/test_boot_message.py
Due: format-python, lint-python

clean
  src/phoenix/server/mcp_server.py
  tests/unit/server/mcp/test_skills.py
Due: format-python, lint-python

refactor(cli): list external skills under the Server banner section
  src/phoenix/server/cli/boot_message.py
  tests/unit/server/cli/test_boot_message.py
Due: format-python, lint-python

refactor(skills): remove skills visibility mode
  src/phoenix/config.py
  src/phoenix/server/cli/boot_message.py
  src/phoenix/server/cli/commands/serve.py
  src/phoenix/server/mcp/skills/__init__.py
  tests/unit/server/cli/test_boot_message.py
  tests/unit/server/mcp/test_mounted_skills.py
  tests/unit/server/mcp/test_skills.py
Due: format-python, lint-python

feat(agents): mount skills from GitHub repositories
  src/phoenix/config.py
  src/phoenix/server/mcp/skills/__init__.py
  src/phoenix/server/mcp/skills/github.py
  tests/unit/server/mcp/test_github_skills.py
Due: format-python, lint-python

fix(playground): review follow-ups for evaluator tasks
  js/app/src/components/experiment/ExperimentReferenceOutputCell.tsx
  js/app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  js/app/src/pages/playground/PlaygroundExampleColumnSelector.tsx
  js/app/src/pages/playground/__tests__/exampleColumns.test.ts
  js/app/src/pages/playground/evaluators/EvaluatorTaskEditor.tsx
  js/app/src/pages/playground/exampleColumns.ts
  src/phoenix/db/migrations/versions/a7f1c3e9d2b4_add_online_eval_coordination.py
  src/phoenix/db/migrations/versions/b066673f6b5d_add_experiment_evaluator_tasks.py
  src/phoenix/db/types/data_stream_protocol/ui_state_types.py
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/helpers/evaluators.py
  src/phoenix/server/api/subscriptions.py
  tests/integration/db_migrations/test_db_schema_a7f1c3e9d2b4_experiment_evaluator_tasks.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

perf(graphql): reuse the loaded evaluator record when resolving output configs
  src/phoenix/server/api/types/Evaluator.py
Due: format-python, lint-python

docs: simplify migration approval flow
  docs/phoenix/resources/phoenix-to-arize-ax-migration.mdx
Due: none

docs: describe migration source inventory
  docs/phoenix/resources/phoenix-to-arize-ax-migration.mdx
Due: none

docs: add coding-agent migration workflow
  docs/phoenix/resources/phoenix-to-arize-ax-migration.mdx
Due: none

docs: align agent migration workflow
  docs/phoenix/resources/phoenix-to-arize-ax-migration.mdx
Due: none

test: drop the unit test for the removed create_llm_evaluator_from_inline
  tests/unit/server/api/test_create_llm_evaluator_from_inline.py
Due: format-python, lint-python

feat: add Phoenix-to-AX migration skill
  .agents/skills/README.md
  .agents/skills/phoenix-to-ax-migration/README.md
  .agents/skills/phoenix-to-ax-migration/SKILL.md
  .agents/skills/phoenix-to-ax-migration/references/migration.md
  .agents/skills/phoenix-to-ax-migration/scripts/migrate.py
  .agents/skills/phoenix-to-ax-migration/scripts/migrate_data.py
  .agents/skills/phoenix-to-ax-migration/scripts/requirements.txt
  .cursor-plugin/plugin.json
  docs/phoenix/integrations/developer-tools/coding-agents.mdx
  docs/phoenix/resources/phoenix-to-arize-ax-migration.mdx
  tests/unit/server/agents/skills/test_phoenix_to_ax_data_migration.py
  tests/unit/server/agents/skills/test_phoenix_to_ax_trace_migration.py
Due: format-python, lint-python

test(online-eval): pin that every trace scalar is assigned by its loader
  tests/unit/server/online_eval/test_bound_variables.py
Due: format-python, lint-python

refactor(online-eval): dispatch publication by explicit target
  src/phoenix/server/online_eval/db_coordinator.py
Due: format-python, lint-python

refactor(online-eval): bind the executor to its evaluation target
  src/phoenix/server/online_eval/consumer.py
  src/phoenix/server/online_eval/executor.py
  tests/unit/server/online_eval/test_consumer.py
Due: format-python, lint-python

chore(ui): drop the remaining useTransition narration in the scope panel
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopePanel.tsx
Due: oxfmt-js, oxlint-js

chore(ui): remove redundant trace evaluator comments
  js/app/src/pages/project/TraceFilterConditionField.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorMetrics.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopeDetails.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopeFields.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopePanel.tsx
  js/app/src/pages/project/evaluators/projectEvaluatorTypes.ts
  js/app/src/pages/project/evaluators/sampleTraceEvaluationContext.ts
  js/app/src/store/evaluatorStore.tsx
  js/app/src/types/evaluators.ts
Due: oxfmt-js, oxlint-js

chore(ui): drop narration comments from the trace evaluator authoring surface
  js/app/src/components/evaluators/__tests__/evaluatorContext.test.ts
  js/app/src/pages/project/TraceFilterConditionField.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopeFields.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopePanel.tsx
  js/app/src/pages/project/evaluators/projectEvaluatorTypes.ts
  js/app/src/pages/project/evaluators/sampleTraceEvaluationContext.ts
  js/app/src/types/evaluators.ts
Due: oxfmt-js, oxlint-js

feat(ui): author trace evaluators from the project evaluators UI
  js/app/src/components/evaluators/__tests__/evaluatorContext.test.ts
  js/app/src/components/evaluators/__tests__/evaluatorSlotDefaults.test.ts
  js/app/src/components/evaluators/evaluatorContextCompletions.ts
  js/app/src/components/evaluators/evaluatorSlotDefaults.ts
  js/app/src/pages/project/TraceFilterConditionField.tsx
  js/app/src/pages/project/TracesTable.tsx
  js/app/src/pages/project/__generated__/TraceFilterConditionFieldVocabularyQuery.graphql.ts
  js/app/src/pages/project/evaluators/ProjectEvaluatorMetrics.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopeDetails.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopeFields.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopePanel.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorScopePanelTraceCountQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorScopePanelTracesQuery.graphql.ts
  js/app/src/pages/project/evaluators/evaluatorBoundVariables.ts
  js/app/src/pages/project/evaluators/projectEvaluatorTypes.ts
  js/app/src/pages/project/evaluators/sampleTraceEvaluationContext.ts
  js/app/src/store/evaluatorStore.tsx
  js/app/src/types/evaluators.ts
Due: oxfmt-js, oxlint-js

test(ui): provide trace filter vocabulary in table mock
  js/app/src/pages/project/__tests__/TracesTablePreloadIntegration.test.tsx
Due: oxfmt-js, oxlint-js

feat(ui): author trace evaluators from the project evaluators UI (#15942)
  js/app/src/components/evaluators/__tests__/evaluatorContext.test.ts
  js/app/src/components/evaluators/__tests__/evaluatorSlotDefaults.test.ts
  js/app/src/components/evaluators/evaluatorContextCompletions.ts
  js/app/src/components/evaluators/evaluatorSlotDefaults.ts
  js/app/src/pages/project/TraceFilterConditionField.tsx
  js/app/src/pages/project/TracesTable.tsx
  js/app/src/pages/project/__generated__/TraceFilterConditionFieldVocabularyQuery.graphql.ts
  js/app/src/pages/project/__tests__/TracesTablePreloadIntegration.test.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorMetrics.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopeDetails.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopeFields.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopePanel.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorScopePanelTraceCountQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorScopePanelTracesQuery.graphql.ts
  js/app/src/pages/project/evaluators/evaluatorBoundVariables.ts
  js/app/src/pages/project/evaluators/projectEvaluatorTypes.ts
  js/app/src/pages/project/evaluators/sampleTraceEvaluationContext.ts
  js/app/src/store/evaluatorStore.tsx
  js/app/src/types/evaluators.ts
Due: oxfmt-js, oxlint-js

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
