Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

feat(project-evals): Add mean score column with lazily fetched data (#15765)
  js/app/schema.graphql
  js/app/src/Routes.tsx
  js/app/src/components/chart/Sparkline.tsx
  js/app/src/components/chart/__tests__/Sparkline.test.tsx
  js/app/src/components/chart/index.tsx
  js/app/src/components/datetime/__tests__/utils.test.ts
  js/app/src/components/datetime/utils.ts
  js/app/src/components/evaluators/EvaluatorCost.tsx
  js/app/src/contexts/ProjectEvaluatorsTableContext.tsx
  js/app/src/hooks/useTimeBin.ts
  js/app/src/hooks/useUTCOffsetMinutes.ts
  js/app/src/pages/project/evaluators/ProjectEvaluatorMeanScoreCell.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsTable.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsToolbar.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTablePaginationQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_project.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_row.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_scores.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorsLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/refetchProjectEvaluatorsQuery.graphql.ts
  js/app/src/pages/project/evaluators/projectEvaluatorScoreWindow.ts
  js/app/src/pages/project/evaluators/projectEvaluatorsLoader.ts
  js/app/src/pages/project/evaluators/useProjectEvaluatorResultAnnotations.ts
  js/app/src/store/preferencesStore.tsx
  js/app/stories/Sparkline.stories.tsx
  src/phoenix/server/api/annotation_metrics.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/annotation_mean_score_time_series.py
  src/phoenix/server/api/types/Evaluator.py
  tests/unit/server/api/types/test_Evaluator.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

updated completeness template: get user intentions only from user turns + clarify how to identify intentions
  prompts/classification_evaluator_configs/COMPLETENESS_CLASSIFICATION_EVALUATOR_CONFIG.yaml
Due: none

completeness template update: collapsed negative labels to just unfulfilled
  js/benchmarks/evals-benchmarks/src/completeness.eval.ts
  js/packages/phoenix-evals/src/__generated__/default_templates/COMPLETENESS_CLASSIFICATION_EVALUATOR_CONFIG.ts
  js/pnpm-lock.yaml
  packages/phoenix-evals/src/phoenix/evals/__generated__/classification_evaluator_configs/_completeness_classification_evaluator_config.py
  prompts/classification_evaluator_configs/COMPLETENESS_CLASSIFICATION_EVALUATOR_CONFIG.yaml
  src/phoenix/__generated__/classification_evaluator_configs/_completeness_classification_evaluator_config.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

Drop accidental @pnpm/exe lockfile entries so TypeScript CI's install stays clean.
  js/pnpm-lock.yaml
Due: oxfmt-js

fix(ui): hide empty custom evaluator sections
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
Due: oxfmt-js, oxlint-js

fix(ui): stabilize evaluator gallery interactions
  js/app/src/pages/project/evaluators/CreateProjectEvaluatorSlideover.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
Due: oxfmt-js, oxlint-js

refactor(ui): use Relay fragments for evaluator details
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorSlideoverRoutes.tsx
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorDetailsQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorOptions_codeEvaluatorDetails.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorOptions_llmEvaluatorDetails.graphql.ts
  js/app/src/pages/project/evaluators/projectEvaluatorOptions.ts
Due: oxfmt-js, oxlint-js

refactor(ui): simplify evaluator gallery selection
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
Due: oxfmt-js, oxlint-js

feat(ui): add custom evaluators to gallery
  js/app/schema.graphql
  js/app/src/constants/searchParams.ts
  js/app/src/pages/project/evaluators/CreateProjectEvaluatorSlideover.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorGalleryPageQuery.graphql.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorPaths.test.tsx
  js/app/src/pages/project/evaluators/projectEvaluatorGalleryConstants.ts
  js/app/src/pages/project/evaluators/projectEvaluatorOptions.ts
  js/app/src/pages/project/evaluators/projectEvaluatorPaths.ts
  src/phoenix/server/api/queries.py
  tests/unit/server/api/test_queries.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(ui): clear resolved sandbox warning
  js/app/src/pages/project/evaluators/CreateProjectCodeEvaluatorDialogContent.tsx
Due: oxfmt-js, oxlint-js

feat(ui): duplicate code evaluators
  js/app/src/Routes.tsx
  js/app/src/pages/project/evaluators/AddProjectEvaluatorMenu.tsx
  js/app/src/pages/project/evaluators/CreateProjectCodeEvaluatorDialogContent.tsx
  js/app/src/pages/project/evaluators/CreateProjectEvaluatorSlideover.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorSlideoverRoutes.tsx
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorDetailsQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorOptions_codeEvaluatorDetails.graphql.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorOptions.test.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorPaths.test.tsx
  js/app/src/pages/project/evaluators/projectEvaluatorOptions.ts
  js/app/src/pages/project/evaluators/projectEvaluatorPaths.ts
Due: oxfmt-js, oxlint-js

refactor(ui): distinguish evaluator copy modes
  js/app/src/Routes.tsx
  js/app/src/pages/project/evaluators/CreateProjectEvaluatorSlideover.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorPaths.test.tsx
  js/app/src/pages/project/evaluators/projectEvaluatorOptions.ts
  js/app/src/pages/project/evaluators/projectEvaluatorPaths.ts
Due: oxfmt-js, oxlint-js

feat(ui): add custom evaluators to gallery (#15771)
  js/app/schema.graphql
  js/app/src/constants/searchParams.ts
  js/app/src/pages/project/evaluators/CreateProjectEvaluatorSlideover.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorSlideoverRoutes.tsx
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorDetailsQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorGalleryPageQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorOptions_codeEvaluatorDetails.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorOptions_llmEvaluatorDetails.graphql.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorPaths.test.tsx
  js/app/src/pages/project/evaluators/projectEvaluatorGalleryConstants.ts
  js/app/src/pages/project/evaluators/projectEvaluatorOptions.ts
  js/app/src/pages/project/evaluators/projectEvaluatorPaths.ts
  src/phoenix/server/api/queries.py
  tests/unit/server/api/test_queries.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

feat(ui): duplicate code evaluators (#15809)
  js/app/src/Routes.tsx
  js/app/src/pages/project/evaluators/AddProjectEvaluatorMenu.tsx
  js/app/src/pages/project/evaluators/CreateProjectCodeEvaluatorDialogContent.tsx
  js/app/src/pages/project/evaluators/CreateProjectEvaluatorSlideover.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorSlideoverRoutes.tsx
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorDetailsQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorOptions_codeEvaluatorDetails.graphql.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorOptions.test.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorPaths.test.tsx
  js/app/src/pages/project/evaluators/projectEvaluatorOptions.ts
  js/app/src/pages/project/evaluators/projectEvaluatorPaths.ts
Due: oxfmt-js, oxlint-js

test(e2e): follow the scope panel's Bindings tab rename to Values
  js/app/tests/projects.spec.ts
Due: oxfmt-js, oxlint-js

feat(evaluators): render every binding in one namespace-shaped list
  js/app/src/pages/project/evaluators/ProjectEvaluatorBoundVariables.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopePanel.tsx
Due: oxfmt-js, oxlint-js

feat(evaluators): drill a code evaluator's members in its own language
  js/app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
  js/app/src/components/evaluators/__tests__/codeEvaluatorAutocomplete.test.ts
  js/app/src/components/evaluators/__tests__/codeEvaluatorMemberPath.test.ts
  js/app/src/components/evaluators/codeEvaluatorAutocomplete.ts
  js/app/src/components/evaluators/codeEvaluatorMemberPath.ts
  js/app/src/components/evaluators/evaluatorContext.ts
  js/app/src/components/evaluators/evaluatorContextCompletions.ts
  js/app/src/components/filter/styles.ts
Due: oxfmt-js, oxlint-js

feat(evaluators): teach the template editor what an evaluator receives
  js/app/src/components/evaluators/EvaluatorChatTemplate/EvaluatorChatTemplate.tsx
  js/app/src/components/templateEditor/TemplateEditor.tsx
  js/app/src/components/templateEditor/TemplateEvaluatorContext.tsx
  js/app/src/components/templateEditor/__tests__/evaluatorTemplateCompletions.test.ts
  js/app/src/components/templateEditor/autocomplete.ts
  js/app/src/components/templateEditor/evaluatorTemplateCompletions.ts
Due: oxfmt-js, oxlint-js

fix(evaluators): recognize the whole-entity context so completion opens
  js/app/src/components/evaluators/EvaluatorChatTemplate/EvaluatorChatTemplate.tsx
  js/app/src/components/evaluators/EvaluatorMappingSourceEditor.tsx
  js/app/src/components/evaluators/codeEvaluatorAutocomplete.ts
  js/app/src/components/evaluators/codeEvaluatorTypeGeneration.ts
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopePanel.tsx
  js/app/src/pages/project/evaluators/sampleSessionEvaluationContext.ts
  js/app/src/pages/project/evaluators/sampleSpanEvaluationContext.ts
  js/app/src/store/__tests__/evaluatorStore.test.ts
  js/app/src/store/evaluatorStore.tsx
  js/app/src/types/evaluators.ts
Due: oxfmt-js, oxlint-js

feat(evaluators): suggest worked mapping paths for every slot
  js/app/src/components/evaluators/EvaluatorPathField.tsx
  js/app/src/components/evaluators/__tests__/evaluatorPathCompletions.test.ts
  js/app/src/components/evaluators/__tests__/evaluatorSlotDefaults.test.ts
  js/app/src/components/evaluators/evaluatorPathCompletions.ts
  js/app/src/components/evaluators/evaluatorSlotDefaults.ts
Due: oxfmt-js, oxlint-js

feat(evals): bind span and session fields as evaluator variables
  js/app/schema.graphql
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/types/ProjectSession.py
  src/phoenix/server/api/types/Span.py
  src/phoenix/server/online_eval/bound_variables.py
  src/phoenix/server/online_eval/executor.py
  tests/unit/server/api/test_code_evaluator_runner.py
  tests/unit/server/api/types/test_ProjectSession.py
  tests/unit/server/api/types/test_Span.py
  tests/unit/server/online_eval/test_consumer.py
Due: format-python, lint-python

feat(evaluators): drill a mapping path with segment completion
  js/app/src/components/evaluators/EvaluatorEntityTree.tsx
  js/app/src/components/evaluators/EvaluatorPathField.tsx
  js/app/src/components/evaluators/__tests__/EvaluatorEntityTree.test.ts
  js/app/src/components/evaluators/__tests__/evaluatorPathCompletions.test.ts
  js/app/src/components/evaluators/__tests__/evaluatorSlotDefaults.test.ts
  js/app/src/components/evaluators/evaluatorPathCompletions.ts
  js/app/src/components/evaluators/evaluatorSlotDefaults.ts
  js/app/src/components/filter/DSLFilterConditionField.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorInputMapping.tsx
  js/app/src/utils/objectUtils.ts
Due: oxfmt-js, oxlint-js

style(evaluators): let the ghost path speak for the slot defaults
  js/app/src/pages/project/evaluators/ProjectEvaluatorFormSections.tsx
Due: oxfmt-js, oxlint-js

fix(evaluators): let an input's origin own its completion row
  js/app/src/components/evaluators/codeEvaluatorAutocomplete.ts
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopePanel.tsx
Due: oxfmt-js, oxlint-js

feat(online-eval): bind the unmapped input slot to the whole entity
  .claude/settings.local.json.lore.lock
  docs/phoenix/self-hosting/configuration.mdx
  src/phoenix/config.py
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/api/types/ProjectSession.py
  src/phoenix/server/api/types/Span.py
  src/phoenix/server/app.py
  src/phoenix/server/online_eval/bound_variables.py
  src/phoenix/server/online_eval/derivation.py
  src/phoenix/server/online_eval/executor.py
  src/phoenix/server/online_eval/project_evaluator_resolution.py
  src/phoenix/server/online_eval/session_policy.py
  tests/unit/server/api/helpers/test_evaluators.py
  tests/unit/server/api/types/test_ProjectSession.py
  tests/unit/server/api/types/test_Span.py
  tests/unit/server/online_eval/test_app_wiring.py
  tests/unit/server/online_eval/test_consumer.py
  tests/unit/server/online_eval/test_derivation.py
  tests/unit/server/online_eval/test_producer.py
  tests/unit/test_config.py
Due: format-python, lint-python

feat(evaluators): teach the code editor's autocomplete what evaluate receives
  js/app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
  js/app/src/components/evaluators/__tests__/codeEvaluatorUtils.test.ts
  js/app/src/components/evaluators/__tests__/evaluatorContext.test.ts
  js/app/src/components/evaluators/codeEvaluatorAutocomplete.ts
  js/app/src/components/evaluators/codeEvaluatorUtils.ts
  js/app/src/components/evaluators/evaluatorContext.ts
  js/app/src/components/evaluators/evaluatorPathCompletions.ts
  js/app/src/components/evaluators/evaluatorSlotDefaults.ts
  js/app/src/components/filter/styles.ts
Due: oxfmt-js, oxlint-js

feat(evaluators): offer the record's standard fields when nothing matches
  js/app/src/components/evaluators/evaluatorPathCompletions.ts
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopePanel.tsx
  js/app/src/pages/project/evaluators/sampleSessionEvaluationContext.ts
  js/app/src/pages/project/evaluators/sampleSpanEvaluationContext.ts
Due: oxfmt-js, oxlint-js

fix(evaluators): reopen the completion menu when its data arrives late
  js/app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
  js/app/src/components/filter/DSLFilterConditionField.tsx
  js/app/src/components/templateEditor/TemplateEditor.tsx
Due: oxfmt-js, oxlint-js

feat(evaluators): one bindings list, led by the slots as they are mapped
  js/app/src/components/evaluators/EvaluatorPathField.tsx
  js/app/src/components/evaluators/__tests__/evaluatorPathCompletions.test.ts
  js/app/src/components/evaluators/__tests__/evaluatorSlotDefaults.test.ts
  js/app/src/components/evaluators/evaluatorPathCompletions.ts
  js/app/src/components/evaluators/evaluatorSlotDefaults.ts
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopePanel.tsx
Due: oxfmt-js, oxlint-js

feat(evaluators): pair the sample record with schema-derived authoring
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopePanel.tsx
  js/app/src/pages/project/evaluators/sampleSessionEvaluationContext.ts
  js/app/src/pages/project/evaluators/sampleSpanEvaluationContext.ts
Due: oxfmt-js, oxlint-js

fix(online-evals): hold the bound-variable lists together and stop a no-op edit rewriting the mapping
  .github/workflows/python-CI.yml
  js/app/src/pages/project/evaluators/EditProjectEvaluatorSlideover.tsx
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorTypes.test.ts
  js/app/src/pages/project/evaluators/evaluatorBoundVariables.ts
  js/app/src/pages/project/evaluators/projectEvaluatorTypes.ts
  tests/unit/server/online_eval/test_bound_variables.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

chore(graphql): regenerate schema for the evaluator context descriptions
  js/app/schema.graphql
Due: none

fix(online-evals): repair CI for the whole-entity binding change
  .github/workflows/python-CI.yml
  js/app/src/components/evaluators/__tests__/evaluatorSlotDefaults.test.ts
  js/app/src/pages/project/evaluators/ProjectEvaluatorInputMapping.tsx
  tests/unit/server/api/test_subscriptions.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(js): give vitest one copy of @codemirror/state
  js/app/vite.config.mts
Due: none

feat(online-evals): show bound variables in the scope panel with rounded cost display
  js/app/src/pages/project/evaluators/ProjectEvaluatorBoundVariables.tsx
  js/app/src/pages/project/evaluators/boundVariablesPlacement.ts
Due: oxfmt-js, oxlint-js

style(evaluators): drop the optional-and-absent line from binding previews
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopePanel.tsx
Due: oxfmt-js, oxlint-js

style(evaluators): trim hint text to the non-obvious
  js/app/src/components/evaluators/ContainsEvaluatorForm.tsx
  js/app/src/components/evaluators/EvaluatorInputMapping.tsx
  js/app/src/components/evaluators/ExactMatchEvaluatorForm.tsx
  js/app/src/components/evaluators/JSONDistanceEvaluatorForm.tsx
  js/app/src/components/evaluators/LLMEvaluatorForm.tsx
  js/app/src/components/evaluators/LevenshteinDistanceEvaluatorForm.tsx
  js/app/src/components/evaluators/RegexEvaluatorForm.tsx
  js/app/src/pages/project/evaluators/EditProjectEvaluatorSlideover.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorBoundVariables.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorFormSections.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorInputMapping.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopePanel.tsx
Due: oxfmt-js, oxlint-js

fix(evaluators): bind the grain vocabulary in preview runs
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/online_eval/bound_variables.py
  tests/unit/server/online_eval/test_bound_variables.py
Due: format-python, lint-python

feat(online-evals): three-slot evaluator inputs with record field picker
  js/app/src/components/dataset/CreateCodeDatasetEvaluatorSlideover.tsx
  js/app/src/components/dataset/EditCodeDatasetEvaluatorSlideover.tsx
  js/app/src/components/evaluators/EvaluatorEntityTree.tsx
  js/app/src/components/evaluators/EvaluatorInputMapping.tsx
  js/app/src/components/evaluators/LLMEvaluatorForm.tsx
  js/app/src/components/evaluators/SwitchableEvaluatorInput.tsx
  js/app/src/components/evaluators/__tests__/EvaluatorEntityTree.test.ts
  js/app/src/pages/project/evaluators/EditProjectEvaluatorSlideover.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorBoundVariables.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorFormSections.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorInputMapping.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopePanel.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorScopePanelSessionsQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorScopePanelSpansQuery.graphql.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorTypes.test.ts
  js/app/src/pages/project/evaluators/boundVariablesPlacement.ts
  js/app/src/pages/project/evaluators/evaluatorBoundVariables.ts
  js/app/src/pages/project/evaluators/projectEvaluatorTypes.ts
  js/app/src/pages/project/evaluators/sampleSessionEvaluationContext.ts
  js/app/src/pages/project/evaluators/sampleSpanEvaluationContext.ts
  js/app/src/store/__tests__/evaluatorStore.test.ts
  js/app/src/store/evaluatorStore.tsx
  js/app/src/types/evaluators.ts
  js/app/src/utils/jsonUtils.ts
Due: oxfmt-js, oxlint-js

feat(evaluators): show each slot's settled default in the field
  js/app/src/components/evaluators/EvaluatorPathField.tsx
  js/app/src/components/evaluators/__tests__/evaluatorSlotDefaults.test.ts
  js/app/src/components/evaluators/evaluatorSlotDefaults.ts
Due: oxfmt-js, oxlint-js
