Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

chore(deps): bump exact Python pins in weekly upgrade workflow
  .github/workflows/claude-weekly-deps-upgrade.yml
  pyproject.toml
  uv.lock
Due: uv-lock-check

chore(deps): upgrade sqlglot to 30.18.0 and drop obsolete workarounds
  pyproject.toml
  src/phoenix/server/mcp/sql/allowlist.py
  src/phoenix/server/mcp/sql/parse.py
  src/phoenix/server/mcp/sql/rewrite.py
  tests/unit/server/mcp/sql/admission_corpus.py
  tests/unit/server/mcp/sql/test_function_policy.py
  tests/unit/server/mcp/sql/test_liveness.py
  tests/unit/server/mcp/sql/test_parse.py
  tests/unit/server/mcp/sql/test_rewrite.py
  uv.lock
Due: format-python, lint-python, uv-lock-check

test: update the Postgres extras count in the allowlist pin comment
  tests/unit/server/mcp/sql/test_function_policy.py
Due: format-python, lint-python

docs(evals): clarify Harbor benchmark documentation
  Makefile
  evals/harbor/README.md
  evals/harbor/conditions/claude-cli.yaml
  evals/harbor/conditions/claude-mcp.yaml
  evals/harbor/conditions/codex-cli.yaml
  evals/harbor/conditions/codex-mcp.yaml
  evals/harbor/conditions/images/cli.yaml
  evals/harbor/conditions/oracle.yaml
  evals/harbor/environment/agent.Dockerfile
  evals/harbor/environment/docker-compose.yaml
  evals/harbor/environment/phoenix.Dockerfile
  evals/harbor/lib/__init__.py
  evals/harbor/lib/answers.py
  evals/harbor/lib/atif.py
  evals/harbor/lib/grade.py
  evals/harbor/pyproject.toml
  evals/harbor/scripts/build_images.sh
  evals/harbor/tasks/dev/count-traces/solution/solve.sh
  evals/harbor/tasks/dev/error-rate-by-length/solution/solve.py
  evals/harbor/tasks/dev/max-llm-calls/solution/solve.py
  evals/harbor/tasks/dev/most-failing-tool/solution/solve.py
  evals/harbor/tasks/dev/noop-surface-cost/solution/solve.py
  evals/harbor/tasks/dev/pagedown-root-cause/solution/solve.py
  evals/harbor/tasks/dev/repeated-tool-calls/solution/solve.py
  evals/harbor/tasks/dev/spend-concentration/solution/solve.py
  evals/harbor/tasks/dev/top-error-category/solution/solve.py
  evals/harbor/tasks/dev/total-cost/solution/solve.py
  tests/unit/harbor/conftest.py
Due: format-python, lint-python, uv-lock-check

fix(evals): tie graded values to their claims and share the oracle query code
  Makefile
  evals/harbor/README.md
  evals/harbor/conditions/oracle.yaml
  evals/harbor/environment/agent.Dockerfile
  evals/harbor/lib/answers.py
  evals/harbor/lib/grade.py
  evals/harbor/lib/phoenix_query.py
  evals/harbor/scripts/build_images.sh
  evals/harbor/tasks/dev/count-traces/tests/expected.json
  evals/harbor/tasks/dev/error-rate-by-length/solution/solve.py
  evals/harbor/tasks/dev/error-rate-by-length/tests/expected.json
  evals/harbor/tasks/dev/max-llm-calls/solution/solve.py
  evals/harbor/tasks/dev/max-llm-calls/tests/expected.json
  evals/harbor/tasks/dev/most-failing-tool/solution/solve.py
  evals/harbor/tasks/dev/most-failing-tool/tests/expected.json
  evals/harbor/tasks/dev/noop-surface-cost/tests/expected.json
  evals/harbor/tasks/dev/pagedown-root-cause/solution/solve.py
  evals/harbor/tasks/dev/pagedown-root-cause/tests/expected.json
  evals/harbor/tasks/dev/repeated-tool-calls/solution/solve.py
  evals/harbor/tasks/dev/repeated-tool-calls/tests/expected.json
  evals/harbor/tasks/dev/spend-concentration/instruction.md
  evals/harbor/tasks/dev/spend-concentration/solution/solve.py
  evals/harbor/tasks/dev/spend-concentration/tests/expected.json
  evals/harbor/tasks/dev/top-error-category/solution/solve.py
  evals/harbor/tasks/dev/top-error-category/tests/expected.json
  evals/harbor/tasks/dev/total-cost/solution/solve.py
  evals/harbor/tasks/dev/total-cost/tests/expected.json
  pyproject.toml
  tests/unit/harbor/test_answers.py
  tests/unit/harbor/test_tasks.py
Due: format-python, lint-python, uv-lock-check

feat(db): use sqlean time extension for date_trunc and latency_ms on SQLite
  pyproject.toml
  src/phoenix/db/engines.py
  src/phoenix/db/helpers.py
  src/phoenix/db/models.py
  src/phoenix/server/mcp/sql/allowlist.py
  src/phoenix/server/mcp/sql/parse.py
  src/phoenix/server/mcp/sql/rewrite.py
  src/phoenix/server/mcp/sql/tools.py
  tests/unit/server/api/helpers/__snapshots__/test_experiment_run_filters.ambr
  tests/unit/server/api/routers/v1/test_list_project_traces.py
  tests/unit/server/mcp/sql/admission_corpus.py
  tests/unit/server/mcp/sql/test_function_policy.py
  tests/unit/server/mcp/sql/test_liveness.py
  tests/unit/server/mcp/sql/test_node_coverage.py
  tests/unit/server/mcp/sql/test_rewrite.py
  tests/unit/trace/dsl/session_filter_reference.py
  tests/unit/trace/dsl/trace_filter_reference.py
  uv.lock
Due: format-python, lint-python, uv-lock-check

fix(api): rename Project.traceAnnotationsNames to traceAnnotationNames
  js/app/schema.graphql
  js/app/src/pages/dataset/evaluators/__generated__/DatasetEvaluatorSpansQuery.graphql.ts
  js/app/src/pages/project/SpanColumnSelector.tsx
  js/app/src/pages/project/SpanFilterConditionField.tsx
  js/app/src/pages/project/SpansTableAside.tsx
  js/app/src/pages/project/__generated__/ProjectPageQueriesSpansQuery.graphql.ts
  js/app/src/pages/project/__generated__/ProjectPageQueriesTracesQuery.graphql.ts
  js/app/src/pages/project/__generated__/SpanColumnSelector_traceAnnotations.graphql.ts
  js/app/src/pages/project/__generated__/SpanFilterConditionFieldCompletionsQuery.graphql.ts
  js/app/src/pages/project/__generated__/SpansTableAsideQuery.graphql.ts
  js/app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  js/app/src/pages/project/__generated__/TracesTableQuery.graphql.ts
  js/app/src/pages/project/metrics/ProjectAnnotationMetrics.tsx
  js/app/src/pages/project/metrics/__generated__/ProjectAnnotationMetricNamesTraceQuery.graphql.ts
  src/phoenix/server/agents/prompts/skills/phoenix-graphql/references/annotations.md
  src/phoenix/server/agents/prompts/skills/phoenix-graphql/references/project-spans-traces.md
  src/phoenix/server/api/types/Project.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

ci(playwright): run Firefox only on the nightly schedule
  .github/workflows/playwright.yaml
  js/app/playwright.config.ts
Due: oxfmt-js, oxlint-js

ci(playwright): drop redundant comment on browser skip flags
  js/app/playwright.config.ts
Due: oxfmt-js, oxlint-js

ci(playwright): drop comment on the Firefox skip flag
  .github/workflows/playwright.yaml
Due: none

ci: describe the release tag check as defense in depth
  .github/actions/resolve-release-tag/action.yml
Due: none

ci: take the release branch as an input with a guard
  .github/actions/resolve-release-tag/action.yml
Due: none

docs(sqlean): note that the release tag must be on main
  .agents/skills/phoenix-sqlean/SKILL.md
Due: none

fix(cost): update built-in model token prices
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Due: none

chore(harbor): drop the regression-triage task
  Makefile
  evals/harbor/README.md
  evals/harbor/tasks/regression-triage/environment/Dockerfile
  evals/harbor/tasks/regression-triage/environment/generate_fixture_data.py
  evals/harbor/tasks/regression-triage/solution/solve.py
  evals/harbor/tasks/regression-triage/solution/solve.sh
  evals/harbor/tasks/regression-triage/steps/step_01_aggregate/__init__.py
  evals/harbor/tasks/regression-triage/steps/step_01_aggregate/instruction.md
  evals/harbor/tasks/regression-triage/steps/step_01_aggregate/tests/check.py
  evals/harbor/tasks/regression-triage/steps/step_01_aggregate/workdir/setup.sh
  evals/harbor/tasks/regression-triage/steps/step_01_aggregate/workdir/step-config.json
  evals/harbor/tasks/regression-triage/steps/step_02_diagnose/__init__.py
  evals/harbor/tasks/regression-triage/steps/step_02_diagnose/instruction.md
  evals/harbor/tasks/regression-triage/steps/step_02_diagnose/tests/check.py
  evals/harbor/tasks/regression-triage/steps/step_02_diagnose/workdir/setup.sh
  evals/harbor/tasks/regression-triage/steps/step_02_diagnose/workdir/step-config.json
  evals/harbor/tasks/regression-triage/steps/step_03_trace_drilldown/__init__.py
  evals/harbor/tasks/regression-triage/steps/step_03_trace_drilldown/instruction.md
  evals/harbor/tasks/regression-triage/steps/step_03_trace_drilldown/tests/check.py
  evals/harbor/tasks/regression-triage/steps/step_03_trace_drilldown/workdir/setup.sh
  evals/harbor/tasks/regression-triage/steps/step_03_trace_drilldown/workdir/step-config.json
  evals/harbor/tasks/regression-triage/steps/step_04_create_split/__init__.py
  evals/harbor/tasks/regression-triage/steps/step_04_create_split/instruction.md
  evals/harbor/tasks/regression-triage/steps/step_04_create_split/tests/check.py
  evals/harbor/tasks/regression-triage/steps/step_04_create_split/workdir/setup.sh
  evals/harbor/tasks/regression-triage/steps/step_04_create_split/workdir/step-config.json
  evals/harbor/tasks/regression-triage/task.toml
  evals/harbor/tasks/regression-triage/tests/test.sh
Due: format-python, lint-python

feat(harbor): bake the fixture database into the task image
  .gitignore
  evals/harbor/container_assets/fetch_fixtures.py
  evals/harbor/scripts/publish_fixtures.sh
  evals/harbor/scripts/stage_harbor_task_environments.sh
  evals/harbor/tasks/error-analysis/environment/Dockerfile
Due: format-python, lint-python

fix(harbor): keep the error-analysis grading material out of the agent's reach
  evals/harbor/tasks/error-analysis/solution/solve.py
  evals/harbor/tasks/error-analysis/steps/step_01_open_coding/tests/check.py
  evals/harbor/tasks/error-analysis/steps/step_02_axial_coding/tests/check.py
  evals/harbor/tasks/error-analysis/tests/error_analysis_checks.py
  evals/harbor/tasks/error-analysis/tests/ground_truth.json
Due: format-python, lint-python

ci: scope the PXI eval workflow to PXI changes
  .github/workflows/pxi-evals.yml
Due: none

refactor(harbor): start the Phoenix server from the step hook, not the agent
  evals/harbor/agents/phoenix_chat_agent.py
  evals/harbor/container_assets/start_phoenix_server.sh
  evals/harbor/tasks/error-analysis/steps/step_01_open_coding/workdir/setup.sh
  evals/harbor/tasks/error-analysis/steps/step_02_axial_coding/workdir/setup.sh
Due: format-python, lint-python

refactor(skills): type skill visibility as a literal
  src/phoenix/server/mcp/skills/__init__.py
Due: format-python, lint-python

refactor(config): comma-separated skills paths and typed visibility
  src/phoenix/config.py
  tests/unit/server/mcp/test_mounted_skills.py
  tests/unit/server/mcp/test_skills.py
Due: format-python, lint-python

refactor(server): rename app.state.pxi_skills to agent_skills
  src/phoenix/config.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/routers/agents.py
  src/phoenix/server/app.py
  tests/unit/server/mcp/test_mounted_skills.py
Due: format-python, lint-python

refactor(skills): extract frontmatter visibility and directory helpers
  src/phoenix/server/app.py
  src/phoenix/server/mcp/skills/__init__.py
  src/phoenix/server/mcp_server.py
  tests/unit/server/mcp/test_skills.py
Due: format-python, lint-python

refactor(skills): clarify visibility mode and external skills names
  src/phoenix/config.py
  src/phoenix/server/app.py
  src/phoenix/server/mcp_server.py
Due: format-python, lint-python

refactor(mcp): rename additional_skills to external_skills
  src/phoenix/server/app.py
  src/phoenix/server/mcp_server.py
  tests/unit/server/mcp/test_skills.py
Due: format-python, lint-python

docs(mcp): describe the external_skills parameter
  src/phoenix/server/mcp_server.py
Due: format-python, lint-python

docs(mcp): shorten the external_skills docstring
  src/phoenix/server/mcp_server.py
Due: format-python, lint-python

clean
  src/phoenix/server/mcp_server.py
  tests/unit/server/mcp/test_skills.py
Due: format-python, lint-python

feat(cli): show external skills in the startup banner
  src/phoenix/server/cli/boot_message.py
  src/phoenix/server/cli/commands/serve.py
  tests/unit/server/cli/test_boot_message.py
Due: format-python, lint-python

fix(server): attach project evaluator id to filter failure exceptions
  src/phoenix/server/online_eval/producer.py
  src/phoenix/server/online_eval/sweeper.py
  tests/unit/server/online_eval/test_session_sweeper.py
Due: format-python, lint-python

refactor(cli): list external skills under the Server banner section
  src/phoenix/server/cli/boot_message.py
  tests/unit/server/cli/test_boot_message.py
Due: format-python, lint-python

docs: add coding-agent migration workflow
  docs/phoenix/resources/phoenix-to-arize-ax-migration.mdx
Due: none

fix(skills): log and skip clashing external skills instead of failing startup
  src/phoenix/server/mcp/skills/__init__.py
  tests/unit/server/mcp/test_skills.py
Due: format-python, lint-python

feat(harbor): add the three-agent comparison job
  Makefile
  evals/harbor/README.md
  evals/harbor/jobs/error-analysis.yaml
Due: none

feat(harbor): add Claude Code agents for the Phoenix MCP server and the px CLI
  evals/harbor/agents/claude_code_agents.py
  evals/harbor/tasks/error-analysis/environment/Dockerfile
  evals/harbor/tasks/error-analysis/tests/error_analysis_checks.py
Due: format-python, lint-python

refactor(skills): address review naming feedback
  src/phoenix/server/mcp/skills/__init__.py
  tests/unit/server/mcp/test_skills.py
Due: format-python, lint-python

feat(agents): mount skills from GitHub repositories
  src/phoenix/config.py
  src/phoenix/server/mcp/skills/__init__.py
  src/phoenix/server/mcp/skills/github.py
  tests/unit/server/mcp/test_github_skills.py
Due: format-python, lint-python

ci: extract RCA workflow prompt into rca-dev-phoenix skill
  .agents/skills/rca-dev-phoenix/SKILL.md
  .claude/commands/rca-dev-phoenix.md
  .github/workflows/claude-rca.yml
Due: none

fix(api): rename Project.traceAnnotationsNames to traceAnnotationNames (#16197)
  js/app/schema.graphql
  js/app/src/pages/dataset/evaluators/__generated__/DatasetEvaluatorSpansQuery.graphql.ts
  js/app/src/pages/project/SpanColumnSelector.tsx
  js/app/src/pages/project/SpanFilterConditionField.tsx
  js/app/src/pages/project/SpansTableAside.tsx
  js/app/src/pages/project/__generated__/ProjectPageQueriesSpansQuery.graphql.ts
  js/app/src/pages/project/__generated__/ProjectPageQueriesTracesQuery.graphql.ts
  js/app/src/pages/project/__generated__/SpanColumnSelector_traceAnnotations.graphql.ts
  js/app/src/pages/project/__generated__/SpanFilterConditionFieldCompletionsQuery.graphql.ts
  js/app/src/pages/project/__generated__/SpansTableAsideQuery.graphql.ts
  js/app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  js/app/src/pages/project/__generated__/TracesTableQuery.graphql.ts
  js/app/src/pages/project/metrics/ProjectAnnotationMetrics.tsx
  js/app/src/pages/project/metrics/__generated__/ProjectAnnotationMetricNamesTraceQuery.graphql.ts
  src/phoenix/server/agents/prompts/skills/phoenix-graphql/references/annotations.md
  src/phoenix/server/agents/prompts/skills/phoenix-graphql/references/project-spans-traces.md
  src/phoenix/server/api/types/Project.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

feat(evaluators): pairwise evaluator comparison aggregates
  js/app/schema.graphql
  src/phoenix/server/api/helpers/evaluator_comparison.py
  src/phoenix/server/api/types/EvaluatorComparison.py
  src/phoenix/server/api/types/Project.py
  tests/unit/server/api/helpers/test_evaluator_comparison.py
  tests/unit/server/api/types/test_Project.py
Due: format-python, lint-python
