Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Revert "ci: publish /schemas directory to GitHub Pages"
  .github/workflows/gh_pages.yml
Due: none

fix(datasets): clarify external ID field copy in add-example form
  app/src/pages/dataset/AddExampleFromScratchForm.tsx
Due: oxfmt-app, oxlint-app

refactor(server): tighten trace span aggregate edge cases
  app/schema.graphql
  src/phoenix/server/api/dataloaders/trace_error_count.py
  src/phoenix/server/api/types/Trace.py
  tests/unit/server/api/dataloaders/test_trace_errors_by_type.py
  tests/unit/server/api/types/test_Trace_span_aggregates.py
Due: format-python, lint-python

fix(app): address trace-annotations column review feedback
  app/src/pages/project/SpanColumnSelector.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/TracesTable.tsx
  app/src/store/tracingStore.tsx
Due: oxfmt-app, oxlint-app

feat(app): add sessions_ux flag with Turns/Traces toggle in session view
  app/src/components/core/icon/Icons.tsx
  app/src/components/trace/TraceTree.tsx
  app/src/contexts/FeatureFlagsContext.tsx
  app/src/pages/trace/SessionDetails.tsx
  app/src/pages/trace/SessionDetailsTracesView.tsx
  app/src/pages/trace/TraceDetails.tsx
  app/src/pages/trace/__generated__/SessionDetailsQuery.graphql.ts
  app/src/pages/trace/__generated__/SessionDetailsTracesViewRefetchQuery.graphql.ts
  app/src/pages/trace/__generated__/SessionDetailsTracesViewTreeQuery.graphql.ts
  app/src/pages/trace/__generated__/SessionDetailsTracesView_traces.graphql.ts
Due: oxfmt-app, oxlint-app

chore(agents): Document backend model invocation
  src/phoenix/server/api/routers/data_stream_protocol.py
Due: format-python, lint-python

fix(datasets): omit missing & empty keys from CSV/JSONL upsert buckets (#12808)
  app/src/pages/dataset/AddExampleFromScratchForm.tsx
  app/src/pages/datasets/ColumnAssigner/__tests__/collapseUtils.test.ts
  app/src/pages/datasets/ColumnAssigner/collapseUtils.ts
  app/src/pages/datasets/DatasetPreview/DatasetPreviewTable.tsx
  app/src/utils/__tests__/jsonlUtils.test.ts
  app/src/utils/jsonlUtils.ts
  src/phoenix/server/api/routers/v1/datasets.py
  tests/unit/server/api/routers/v1/test_datasets.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

feat(datasets): backfill content_hash and make column non-nullable
  scripts/ddl/postgresql_schema.sql
  src/phoenix/db/insertion/dataset.py
  src/phoenix/db/migrations/versions/575aa27302ee_dataset_upsert.py
  src/phoenix/db/models.py
  src/phoenix/server/api/mutations/dataset_mutations.py
  tests/integration/db_migrations/test_data_migration_575aa27302ee_dataset_upsert.py
  tests/unit/datasets/conftest.py
  tests/unit/db/test_helpers.py
  tests/unit/server/api/conftest.py
  tests/unit/server/api/mutations/test_dataset_mutations.py
  tests/unit/server/api/mutations/test_experiment_mutations.py
  tests/unit/server/api/test_queries.py
  tests/unit/server/api/types/test_Dataset.py
  tests/unit/server/api/types/test_DatasetExample.py
  tests/unit/server/api/types/test_Experiment.py
  tests/unit/server/api/types/test_Span.py
Due: format-python, lint-python

fix(cost): update built-in model token prices
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Due: none

fix(app): use stable trace annotations column id
  app/src/pages/project/SpanColumnSelector.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/TracesTable.tsx
  app/src/pages/project/tableUtils.ts
  app/src/store/tracingStore.tsx
Due: oxfmt-app, oxlint-app

refactor(datasets): split upload into create/append/update actions
  app/src/pages/datasets/DatasetFromFileForm.tsx
  internal_docs/specs/dataset-create.md
  internal_docs/specs/dataset-upload.md
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-client/src/datasets/createDataset.ts
  js/packages/phoenix-client/test/datasets/createDataset.test.ts
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
  schemas/openapi.json
  src/phoenix/db/insertion/dataset.py
  src/phoenix/server/api/routers/v1/datasets.py
  tests/unit/db/insertion/test_dataset.py
  tests/unit/server/api/routers/v1/test_datasets.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

feat: add trace annotations column to spans table (#12802)
  app/schema.graphql
  app/src/components/annotation/TraceAnnotationSummaryGroup.tsx
  app/src/components/annotation/__generated__/TraceAnnotationSummaryGroup.graphql.ts
  app/src/pages/dataset/evaluators/__generated__/datasetEvaluatorDetailsLoaderQuery.graphql.ts
  app/src/pages/project/SpanColumnSelector.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/TracesTable.tsx
  app/src/pages/project/__generated__/ProjectPageQueriesSpansQuery.graphql.ts
  app/src/pages/project/__generated__/ProjectPageQueriesTracesQuery.graphql.ts
  app/src/pages/project/__generated__/SpanColumnSelector_traceAnnotations.graphql.ts
  app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTable_spans.graphql.ts
  app/src/pages/project/__generated__/TracesTableQuery.graphql.ts
  app/src/pages/project/__generated__/TracesTable_spans.graphql.ts
  app/src/pages/project/tableUtils.ts
  app/src/store/tracingStore.tsx
  app/tests/settings-secrets.spec.ts
  src/phoenix/server/api/types/TraceAnnotation.py
  tests/unit/server/api/types/test_TraceAnnotation.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

wip: first pass
  app/src/pages/dataset/evaluators/__generated__/datasetEvaluatorDetailsLoaderQuery.graphql.ts
  app/src/pages/project/SpanNotesTableCell.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/__generated__/ProjectPageQueriesSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTable_spans.graphql.ts
  app/src/store/tracingStore.tsx
Due: oxfmt-app, oxlint-app

Fix default visibility for span notes column
  app/src/store/tracingStore.tsx
Due: oxfmt-app, oxlint-app

Add span notes table column
  app/src/pages/project/SpanNotesTableCell.tsx
  app/src/pages/project/SpansTable.tsx
Due: oxfmt-app, oxlint-app

Fix span annotation column selector note handling
  app/src/pages/dataset/evaluators/__generated__/datasetEvaluatorDetailsLoaderQuery.graphql.ts
  app/src/pages/project/ProjectStats.tsx
  app/src/pages/project/SpanColumnSelector.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/__generated__/ProjectPageQueriesSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTable_spans.graphql.ts
  app/src/pages/project/__tests__/spanAnnotationUtils.test.ts
  app/src/pages/project/spanAnnotationUtils.ts
Due: oxfmt-app, oxlint-app

refactor: address span annotation review feedback
  app/src/pages/project/ProjectStats.tsx
  app/src/pages/project/SpanColumnSelector.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/__tests__/spanAnnotationUtils.test.ts
  app/src/pages/project/spanAnnotationUtils.ts
Due: oxfmt-app, oxlint-app

Name span notes tooltip sizing constants
  app/src/pages/project/SpanNotesTableCell.tsx
Due: oxfmt-app, oxlint-app

feat: add span note count field
  app/schema.graphql
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/span_note_counts.py
  src/phoenix/server/api/types/Span.py
  src/phoenix/server/app.py
  tests/unit/server/api/types/test_Span.py
Due: format-python, lint-python

feat: lazy load span note tooltip details
  app/src/pages/dataset/evaluators/__generated__/datasetEvaluatorDetailsLoaderQuery.graphql.ts
  app/src/pages/project/SpanNotesTableCell.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/__generated__/ProjectPageQueriesSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpanNotesTableCellQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTable_spans.graphql.ts
Due: oxfmt-app, oxlint-app

fix session trace counters
  app/src/pages/trace/SessionDetailsTraceList.tsx
  app/src/pages/trace/SessionDetailsTracesView.tsx
  app/src/pages/trace/__generated__/SessionDetailsQuery.graphql.ts
  app/src/pages/trace/__generated__/SessionDetailsTraceListRefetchQuery.graphql.ts
  app/src/pages/trace/__generated__/SessionDetailsTraceList_traces.graphql.ts
  app/src/pages/trace/__generated__/SessionDetailsTracesViewRefetchQuery.graphql.ts
  app/src/pages/trace/__generated__/SessionDetailsTracesView_traces.graphql.ts
Due: oxfmt-app, oxlint-app

fix(cost): update built-in model token prices (#12828)
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Due: none

feat(agents): advertise typed page contexts to /chat and gate contextual tools
  app/src/agent/chat/__tests__/buildAgentChatRequestBody.test.ts
  app/src/agent/chat/buildAgentChatRequestBody.ts
  app/src/agent/context/AgentContextSync.tsx
  app/src/agent/context/__tests__/deriveRouteContexts.test.ts
  app/src/agent/context/__tests__/selectors.test.ts
  app/src/agent/context/agentContextTypes.ts
  app/src/agent/context/deriveRouteContexts.ts
  app/src/agent/context/selectors.ts
  app/src/agent/context/useAdvertiseAgentContext.ts
  app/src/components/agent/AgentContextPills.tsx
  app/src/components/agent/Chat.tsx
  app/src/components/agent/useAgentChat.ts
  app/src/components/ai/prompt-input/PromptInputContextRow.tsx
  app/src/components/ai/prompt-input/index.ts
  app/src/pages/AuthenticatedRoot.tsx
  app/src/pages/project/SpanFilterConditionField.tsx
  app/src/store/agentStore.ts
  src/phoenix/server/api/routers/chat_context.py
  src/phoenix/server/api/routers/chat_tools/__init__.py
  src/phoenix/server/api/routers/chat_tools/registry.py
  src/phoenix/server/api/routers/chat_tools/search_project.py
  src/phoenix/server/api/routers/data_stream_protocol.py
  tests/unit/server/api/routers/test_chat_context.py
  tests/unit/server/api/routers/test_chat_tools.py
  tests/unit/server/api/routers/test_data_stream_protocol.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

advertise agent page context
  app/src/agent/chat/buildAgentChatRequestBody.ts
  app/src/agent/context/AgentContextCoordinator.tsx
  app/src/agent/context/__tests__/agentContexts.test.ts
  app/src/agent/context/agentContexts.ts
  app/src/agent/context/pageContext.ts
  app/src/agent/context/pageContextTypes.ts
  app/src/agent/context/useAdvertiseAgentContextSource.ts
  app/src/agent/tools/bash/context/pageContext.ts
  app/src/agent/tools/bash/context/pageContextTypes.ts
  app/src/components/agent/Chat.tsx
  app/src/components/agent/PromptContextPills.tsx
  app/src/components/agent/__tests__/Chat.contexts.test.ts
  app/src/components/agent/useAgentChat.ts
  app/src/pages/AuthenticatedRoot.tsx
  app/src/pages/project/SpanFilterConditionField.tsx
  app/src/store/__tests__/agentStore.test.ts
  app/src/store/agentStore.ts
  src/phoenix/server/api/routers/agent_backend_tools.py
  src/phoenix/server/api/routers/chat.py
  src/phoenix/server/api/routers/data_stream_protocol.py
  tests/unit/server/api/routers/test_data_stream_protocol.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

feat(datasets): fall back to action=create when server rejects update
  internal_docs/specs/dataset-upload.md
  js/packages/phoenix-client/src/datasets/createDataset.ts
  js/packages/phoenix-client/test/datasets/createDataset.test.ts
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
  packages/phoenix-client/tests/client/resources/datasets/test_datasets.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

feat(sandbox): wire internet_access and dependency capabilities across adapters
  pyproject.toml
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/daytona_backend.py
  src/phoenix/server/sandbox/e2b_backend.py
  src/phoenix/server/sandbox/modal_backend.py
  tests/unit/server/sandbox/test_capability_matrix.py
  tests/unit/server/sandbox/test_daytona_backend.py
  tests/unit/server/sandbox/test_e2b_backend.py
  tests/unit/server/sandbox/test_modal_backend.py
  uv.lock
Due: format-python, lint-python, uv-lock-check

fix(evals): rewrite OpenAI _system_role() using regex policy
  packages/phoenix-evals/src/phoenix/evals/llm/adapters/openai/adapter.py
Due: format-python, lint-python

test(evals): add OpenAI _system_role() regression tests
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/openai/test_system_role.py
Due: format-python, lint-python

feat(evals): add shared normalize_role and validate_message_dict helpers
  packages/phoenix-evals/src/phoenix/evals/llm/prompts.py
Due: format-python, lint-python

feat(agents): advertise phoenix page context to chat
  app/src/agent/chat/__tests__/buildAgentChatRequestBody.test.ts
  app/src/agent/chat/buildAgentChatRequestBody.ts
  app/src/agent/context/AgentContextSync.tsx
  app/src/agent/context/__tests__/deriveRouteContexts.test.ts
  app/src/agent/context/__tests__/selectors.test.ts
  app/src/agent/context/agentContextTypes.ts
  app/src/agent/context/deriveRouteContexts.ts
  app/src/agent/context/selectors.ts
  app/src/agent/context/useAdvertiseAgentContext.ts
  app/src/components/agent/AgentContextPills.tsx
  app/src/components/agent/Chat.tsx
  app/src/components/agent/useAgentChat.ts
  app/src/components/ai/prompt-input/PromptInputContextRow.tsx
  app/src/components/ai/prompt-input/index.ts
  app/src/components/ai/prompt-input/types.ts
  app/src/pages/AuthenticatedRoot.tsx
  app/src/pages/project/SpanFilterConditionField.tsx
  app/src/store/__tests__/agentStore.test.ts
  app/src/store/agentStore.ts
  src/phoenix/server/api/routers/chat.py
  src/phoenix/server/api/routers/chat_context.py
  src/phoenix/server/api/routers/chat_tools/__init__.py
  src/phoenix/server/api/routers/chat_tools/registry.py
  src/phoenix/server/api/routers/chat_tools/search_project.py
  src/phoenix/server/api/routers/data_stream_protocol.py
  tests/unit/server/api/routers/test_chat_context.py
  tests/unit/server/api/routers/test_chat_tools.py
  tests/unit/server/api/routers/test_data_stream_protocol.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

feat(evals): route adapter dict prompts through shared validation and role normalization
  packages/phoenix-evals/src/phoenix/evals/llm/adapters/anthropic/adapter.py
  packages/phoenix-evals/src/phoenix/evals/llm/adapters/google/adapter.py
  packages/phoenix-evals/src/phoenix/evals/llm/adapters/langchain/adapter.py
  packages/phoenix-evals/src/phoenix/evals/llm/adapters/litellm/adapter.py
  packages/phoenix-evals/src/phoenix/evals/llm/adapters/openai/adapter.py
Due: format-python, lint-python

docs(datasets): point update-fallback warning at Phoenix v15+
  internal_docs/specs/dataset-upload.md
  js/packages/phoenix-client/src/datasets/createDataset.ts
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

test(evals): add _build_* unit tests across adapters (#12465)
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/anthropic/__init__.py
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/anthropic/test_build_messages.py
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/google/__init__.py
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/google/test_build_content.py
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/langchain/__init__.py
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/langchain/test_build_prompt.py
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/litellm/test_build_messages.py
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/openai/test_build_messages.py
Due: format-python, lint-python

test(evals): add unit tests for normalize_role and validate_message_dict
  packages/phoenix-evals/tests/phoenix/evals/llm/test_prompts.py
Due: format-python, lint-python

delete useless tests
  app/src/agent/chat/__tests__/buildAgentChatRequestBody.test.ts
  app/src/agent/context/__tests__/deriveRouteContexts.test.ts
  app/src/agent/context/__tests__/selectors.test.ts
  app/src/store/__tests__/agentStore.test.ts
Due: oxfmt-app, oxlint-app

delete more tests
  tests/unit/server/api/routers/test_chat_context.py
  tests/unit/server/api/routers/test_chat_tools.py
  tests/unit/server/api/routers/test_data_stream_protocol.py
Due: format-python, lint-python

refactor: derive span note counts from annotations
  app/schema.graphql
  app/src/pages/dataset/evaluators/__generated__/datasetEvaluatorDetailsLoaderQuery.graphql.ts
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/__generated__/ProjectPageQueriesSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTable_spans.graphql.ts
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/span_note_counts.py
  src/phoenix/server/api/types/Span.py
  src/phoenix/server/app.py
  tests/unit/server/api/types/test_Span.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

Relocate context pills
  app/src/components/agent/AgentContextPills.tsx
  app/src/components/agent/Chat.tsx
Due: oxfmt-app, oxlint-app

add derivedRouteContexts test
  app/src/agent/context/__tests__/deriveRouteContexts.test.ts
Due: oxfmt-app, oxlint-app

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
