Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

Move time range GraphQL variable hook
  app/src/components/datetime/index.tsx
  app/src/components/datetime/useTimeRangeVariable.ts
  app/src/hooks/__tests__/useTimeRangeGraphQLVariable.test.tsx
  app/src/hooks/index.ts
  app/src/hooks/useTimeRangeGraphQLVariable.ts
  app/src/pages/project/ProjectPage.tsx
  app/src/pages/project/SessionsTable.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/TracesTable.tsx
Due: oxfmt-app, oxlint-app

refactor(ui): expose ISO time range from context
  app/src/components/datetime/TimeRangeContext.tsx
  app/src/components/datetime/__tests__/TimeRangeContext.test.tsx
  app/src/components/trace/SpanAnnotationsEditor.tsx
  app/src/hooks/__tests__/useTimeRangeGraphQLVariable.test.tsx
  app/src/hooks/index.ts
  app/src/hooks/useTimeRangeGraphQLVariable.ts
  app/src/pages/dataset/evaluators/DatasetEvaluatorSpans.tsx
  app/src/pages/project/AnnotationSummary.tsx
  app/src/pages/project/DocumentEvaluationSummary.tsx
  app/src/pages/project/ProjectPage.tsx
  app/src/pages/project/SessionAnnotationSummary.tsx
  app/src/pages/project/SessionsTable.tsx
  app/src/pages/project/SessionsTableAside.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/SpansTableAside.tsx
  app/src/pages/project/TraceAnnotationSummary.tsx
  app/src/pages/project/TracesTable.tsx
  app/src/pages/projects/ProjectsPage.tsx
Due: oxfmt-app, oxlint-app

refine Solve with PXI button glow
  app/src/components/agent/PxiGlyph.tsx
  app/src/components/agent/SolveWithPxiButton.tsx
  app/src/components/agent/pxiStyles.ts
  app/stories/SolveWithPxiButton.stories.tsx
Due: oxfmt-app, oxlint-app

fix(ui): keep filters applied on project tables during live streaming refresh (#14217)
  app/src/components/datetime/TimeRangeContext.tsx
  app/src/components/datetime/__tests__/TimeRangeContext.test.tsx
  app/src/components/trace/SpanAnnotationsEditor.tsx
  app/src/pages/dataset/evaluators/DatasetEvaluatorSpans.tsx
  app/src/pages/project/AnnotationSummary.tsx
  app/src/pages/project/DocumentEvaluationSummary.tsx
  app/src/pages/project/ProjectPage.tsx
  app/src/pages/project/SessionAnnotationSummary.tsx
  app/src/pages/project/SessionsTable.tsx
  app/src/pages/project/SessionsTableAside.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/SpansTableAside.tsx
  app/src/pages/project/TraceAnnotationSummary.tsx
  app/src/pages/project/TracesTable.tsx
  app/src/pages/projects/ProjectsPage.tsx
Due: oxfmt-app, oxlint-app

fix PXI button sizing and glow timing
  app/src/GlobalStyles.tsx
  app/src/components/agent/AgentChatWidget.tsx
  app/src/components/agent/SolveWithPxiButton.tsx
Due: oxfmt-app, oxlint-app

refactor: rename SolveWithPxiButton to PxiButton
  app/src/components/agent/PxiButton.tsx
  app/src/components/agent/index.tsx
  app/stories/PxiButton.stories.tsx
  app/stories/SolveWithPxiCompositions.stories.tsx
Due: oxfmt-app, oxlint-app

fix(ui): add selected spans to newly created dataset
  app/src/components/dataset/CreateDatasetForm.tsx
  app/src/pages/project/SpanSelectionToolbar.tsx
Due: oxfmt-app, oxlint-app

cleanup
  app/src/components/chart/InteractiveLegend.tsx
  app/src/components/chart/__tests__/InteractiveLegend.test.tsx
  app/src/pages/dataset/metrics/ExperimentBaselineReference.tsx
  app/src/pages/dataset/metrics/ExperimentCostChart.tsx
  app/src/pages/dataset/metrics/ExperimentErrorRateChart.tsx
  app/src/pages/dataset/metrics/ExperimentLatencyChart.tsx
  app/src/pages/dataset/metrics/ExperimentTokensChart.tsx
Due: oxfmt-app, oxlint-app

fix(ui): allow empty prompt descriptions on create
  app/src/pages/playground/SavePromptForm.tsx
  app/src/pages/playground/__tests__/SavePromptForm.test.tsx
Due: oxfmt-app, oxlint-app

fix(ui): align save prompt button state
  app/src/pages/playground/SavePromptForm.tsx
  app/src/pages/playground/__tests__/SavePromptForm.test.tsx
Due: oxfmt-app, oxlint-app

feat(ui): refine experiment metric charts (#14208)
  app/schema.graphql
  app/src/Routes.tsx
  app/src/components/chart/InteractiveLegend.tsx
  app/src/components/chart/__tests__/InteractiveLegend.test.tsx
  app/src/components/experiment/__generated__/useSetExperimentBaselineMutation.graphql.ts
  app/src/components/experiment/useSetExperimentBaseline.tsx
  app/src/pages/dataset/constants.ts
  app/src/pages/dataset/metrics/DatasetMetricsPage.tsx
  app/src/pages/dataset/metrics/ExperimentAnnotationScoresChart.tsx
  app/src/pages/dataset/metrics/ExperimentBaselineReference.tsx
  app/src/pages/dataset/metrics/ExperimentCostChart.tsx
  app/src/pages/dataset/metrics/ExperimentErrorRateChart.tsx
  app/src/pages/dataset/metrics/ExperimentLatencyChart.tsx
  app/src/pages/dataset/metrics/ExperimentMetricsTooltipContent.tsx
  app/src/pages/dataset/metrics/ExperimentMetricsTooltipHeader.tsx
  app/src/pages/dataset/metrics/ExperimentTokensChart.tsx
  app/src/pages/dataset/metrics/__generated__/useExperimentMetricsDataQuery.graphql.ts
  app/src/pages/dataset/metrics/__generated__/useExperimentMetricsData_experiment.graphql.ts
  app/src/pages/dataset/metrics/chartCatalog.tsx
  app/src/pages/dataset/metrics/experimentXAxisProps.ts
  app/src/pages/dataset/metrics/useExperimentMetricsData.ts
  app/src/pages/experiments/ExperimentsChart.tsx
  app/src/pages/experiments/ExperimentsLineChart.tsx
  app/src/pages/experiments/ExperimentsMetricsChartSelector.tsx
  app/src/pages/experiments/ExperimentsMetricsCharts.tsx
  app/src/pages/experiments/ExperimentsPage.tsx
  app/src/pages/experiments/ExperimentsTable.tsx
  app/src/pages/experiments/__generated__/ExperimentsLineChartQuery.graphql.ts
  app/src/store/__tests__/datasetStore.test.ts
  app/src/store/datasetStore.tsx
  scripts/experiments/generate_baseline_metrics_data.py
  src/phoenix/server/api/mutations/experiment_mutations.py
  src/phoenix/server/api/types/Dataset.py
  tests/unit/server/api/mutations/test_experiment_mutations.py
  tests/unit/server/api/types/test_Dataset.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

chore(main): release arize-phoenix 17.25.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

feat(playground): show output error count
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  app/src/pages/playground/PlaygroundOutputHeader.tsx
  app/src/pages/playground/__tests__/PlaygroundOutputHeader.test.tsx
  app/stories/PlaygroundOutputHeader.stories.tsx
Due: oxfmt-app, oxlint-app

Revert "fix(ui): align save prompt button state"
  app/src/pages/playground/SavePromptForm.tsx
  app/src/pages/playground/__tests__/SavePromptForm.test.tsx
Due: oxfmt-app, oxlint-app

fix(playground): label forced tool choices
  app/src/components/generative/ToolChoiceSelector.tsx
  app/src/components/generative/__tests__/ToolChoiceSelector.test.tsx
Due: oxfmt-app, oxlint-app

chore(main): release arize-phoenix 17.25.0 (#14200)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

fix(ui): constrain dataset picker height
  app/src/GlobalStyles.tsx
  app/src/components/core/menu/Menu.tsx
  app/src/pages/project/DatasetSelectorPopoverContent.tsx
Due: oxfmt-app, oxlint-app

test(ui): add menu height token stories
  app/stories/Menu.stories.tsx
Due: oxfmt-app, oxlint-app

fix(playground): clarify forced tool choice labels
  app/src/components/generative/ToolChoiceSelector.tsx
  app/src/components/generative/__tests__/ToolChoiceSelector.test.tsx
Due: oxfmt-app, oxlint-app

chore: update phoenix version to 17.25.0 in kustomize and helm
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

fix(ui): omit missing prompt version descriptions
  app/src/pages/playground/PromptMenu.tsx
  app/src/pages/playground/__tests__/PromptMenu.test.tsx
Due: oxfmt-app, oxlint-app

chore(js): update versions (#14274)
  js/.changeset/phoenix-config-env-file.md
  js/packages/phoenix-cli/CHANGELOG.md
  js/packages/phoenix-cli/package.json
  js/packages/phoenix-client/CHANGELOG.md
  js/packages/phoenix-client/package.json
  js/packages/phoenix-config/CHANGELOG.md
  js/packages/phoenix-config/package.json
  js/packages/phoenix-mcp/CHANGELOG.md
  js/packages/phoenix-mcp/package.json
  js/packages/phoenix-otel/CHANGELOG.md
  js/packages/phoenix-otel/package.json
Due: oxfmt-js

fix(ui): constrain action-bar dataset picker height (#14280)
  app/src/GlobalStyles.tsx
  app/src/components/core/menu/Menu.tsx
  app/src/pages/project/DatasetSelectorPopoverContent.tsx
  app/stories/Menu.stories.tsx
Due: oxfmt-app, oxlint-app

feat(ui): add menu container width sizes
  app/src/GlobalStyles.tsx
  app/src/components/core/menu/Menu.tsx
Due: oxfmt-app, oxlint-app

fix: make span status code filters case insensitive
  src/phoenix/trace/dsl/filter.py
  tests/unit/server/api/types/test_Trace_span_aggregates.py
  tests/unit/trace/dsl/test_filter.py
Due: format-python, lint-python

feat: clarify forced tool choice menus (#14279)
  app/src/components/generative/ToolChoiceSelector.tsx
  app/src/components/generative/__tests__/ToolChoiceSelector.test.tsx
Due: oxfmt-app, oxlint-app

fix: make span status code filters case insensitive (#14287)
  src/phoenix/trace/dsl/filter.py
  tests/unit/server/api/types/test_Trace_span_aggregates.py
  tests/unit/trace/dsl/test_filter.py
Due: format-python, lint-python

fix(ui): bound menu popover widths
  app/src/components/core/copy/CopyActionMenu.tsx
  app/src/components/dataset/DatasetLabelConfigButton.tsx
  app/src/components/dataset/DatasetLabelFilterButton.tsx
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
  app/src/components/experiment/ExperimentActionMenu.tsx
  app/src/components/experiment/ExperimentCompareDetails.tsx
  app/src/components/trace/SpanAnnotationsEditor.tsx
  app/src/pages/dataset/AddDatasetExampleButton.tsx
  app/src/pages/dataset/DatasetDownloadMenu.tsx
  app/src/pages/dataset/RunDatasetExperimentButton.tsx
  app/src/pages/dataset/evaluators/DatasetEvaluatorActionMenu.tsx
  app/src/pages/datasets/DatasetActionMenu.tsx
  app/src/pages/experiments/DownloadExperimentActionMenu.tsx
  app/src/pages/project/SpanSelectionToolbar.tsx
  app/src/pages/project/TransferTracesButton.tsx
  app/src/pages/projects/ProjectActionMenu.tsx
  app/src/pages/prompt/PromptLabelConfigButton.tsx
  app/src/pages/prompts/PromptActionMenu.tsx
  app/src/pages/prompts/PromptsLabelMenu.tsx
  app/src/pages/settings/RetentionPolicyActionMenu.tsx
  app/src/pages/settings/UserActionMenu.tsx
Due: oxfmt-app, oxlint-app

fix(settings): polish user credential management
  app/src/components/auth/APIKeysList.tsx
  app/src/components/auth/DeleteAPIKeyButton.tsx
  app/src/components/auth/index.tsx
  app/src/components/auth/oauth2ScopeDisplay.ts
  app/src/components/table/TableEmptyWrap.tsx
  app/src/pages/profile/APIKeysTable.tsx
  app/src/pages/profile/AuthorizedApplicationsCard.tsx
  app/src/pages/settings/SystemAPIKeysTable.tsx
  app/src/pages/settings/UserAPIKeysCard.tsx
  app/src/pages/settings/UserDetailsDrawer.tsx
  app/src/pages/settings/UsersTable.tsx
  app/tests/member-access.spec.ts
  app/tests/user-details-access.spec.ts
  app/tests/viewer-access.spec.ts
Due: oxfmt-app, oxlint-app

fix(settings): polish user credential management (#14289)
  app/src/components/auth/APIKeysList.tsx
  app/src/components/auth/DeleteAPIKeyButton.tsx
  app/src/components/auth/index.tsx
  app/src/components/auth/oauth2ScopeDisplay.ts
  app/src/components/table/TableEmptyWrap.tsx
  app/src/pages/profile/APIKeysTable.tsx
  app/src/pages/profile/AuthorizedApplicationsCard.tsx
  app/src/pages/settings/SystemAPIKeysTable.tsx
  app/src/pages/settings/UserAPIKeysCard.tsx
  app/src/pages/settings/UserDetailsDrawer.tsx
  app/src/pages/settings/UsersTable.tsx
  app/tests/member-access.spec.ts
  app/tests/user-details-access.spec.ts
  app/tests/viewer-access.spec.ts
Due: oxfmt-app, oxlint-app

fix(ui): add selected spans to newly created dataset (#14276)
  app/src/components/dataset/CreateDatasetForm.tsx
  app/src/pages/project/SpanSelectionToolbar.tsx
Due: oxfmt-app, oxlint-app

chore(main): release arize-phoenix 17.26.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

feat(auth): refresh OAuth credentials across clients
  .agents/skills/phoenix-cli/SKILL.md
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/overview.mdx
  js/.changeset/fresh-horses-refresh.md
  js/packages/phoenix-cli/README.md
  js/packages/phoenix-cli/src/client.ts
  js/packages/phoenix-cli/src/commands/api.ts
  js/packages/phoenix-cli/src/pxi/client.ts
  js/packages/phoenix-cli/test/oauth.test.ts
  js/packages/phoenix-cli/test/pxiClient.test.ts
  js/packages/phoenix-client/README.md
  js/packages/phoenix-client/src/authFetch.ts
  js/packages/phoenix-client/src/index.ts
  js/packages/phoenix-client/test/authFetch.test.ts
Due: oxfmt-js, oxlint-js

refactor(auth): simplify OAuth fetch composition
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/overview.mdx
  js/.changeset/fresh-horses-refresh.md
  js/packages/phoenix-cli/src/authFetch.ts
  js/packages/phoenix-cli/src/client.ts
  js/packages/phoenix-cli/src/commands/api.ts
  js/packages/phoenix-cli/src/commands/auth.ts
  js/packages/phoenix-cli/src/pxi/client.ts
  js/packages/phoenix-cli/test/oauth.test.ts
  js/packages/phoenix-client/README.md
  js/packages/phoenix-client/src/authFetch.ts
  js/packages/phoenix-client/test/authFetch.test.ts
Due: oxfmt-js, oxlint-js

fix(auth): harden OAuth token rotation
  js/.changeset/fresh-horses-refresh.md
  js/packages/phoenix-cli/src/commands/auth.ts
  js/packages/phoenix-cli/test/auth.test.ts
  src/phoenix/server/api/routers/oauth2_authorization_server.py
  src/phoenix/server/jwt_store.py
  src/phoenix/server/types.py
  tests/integration/auth/test_oauth2.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

chore(main): release arize-phoenix 17.26.0 (#14286)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

refactor(ui): migrate playground to new dnd-kit
  app/package.json
  app/pnpm-lock.yaml
  app/src/components/dnd/DragHandle.tsx
  app/src/pages/playground/PlaygroundChatTemplate.tsx
  app/tests/playground.spec.ts
Due: oxfmt-app, oxlint-app

chore: update phoenix version to 17.26.0 in kustomize and helm
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

fix: preserve combobox tab navigation
  app/src/components/core/combobox/ComboBox.tsx
  app/src/components/core/combobox/__tests__/ComboBox.test.tsx
  app/stories/ComboBox.stories.tsx
Due: oxfmt-app, oxlint-app
