Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(pxi): rank unknown-operation suggestions by edit distance
  js/app/src/agent/uiOperations/__tests__/suggestUiOperationNames.test.ts
  js/app/src/agent/uiOperations/catalog.ts
  js/app/src/agent/uiOperations/dispatch.ts
Due: oxfmt-js, oxlint-js

feat(pxi): subsume dataset label tools into execute_ui operations
  js/app/src/agent/extensions/toolRegistry.ts
  js/app/src/agent/tools/datasetLabels/clientActions.ts
  js/app/src/agent/tools/datasetLabels/index.ts
  js/app/src/agent/tools/datasetLabels/schemas.ts
  js/app/src/agent/tools/datasetLabels/setDatasetLabels.ts
  js/app/src/agent/uiOperations/PLAN.md
  js/app/src/agent/uiOperations/RootUiOperationsRegistration.tsx
  js/app/src/agent/uiOperations/catalog.ts
  js/app/src/agent/uiOperations/operations/datasetLabels.ts
  src/phoenix/server/agents/capabilities/tools/external/__init__.py
  src/phoenix/server/agents/capabilities/tools/external/create_dataset_label.py
  src/phoenix/server/agents/capabilities/tools/external/delete_dataset_labels.py
  src/phoenix/server/agents/capabilities/tools/external/set_dataset_labels.py
  src/phoenix/server/agents/prompts/__init__.py
  src/phoenix/server/agents/prompts/tools/CREATE_DATASET_LABEL_TOOL_INSTRUCTIONS.xml.j2
  src/phoenix/server/agents/prompts/tools/DELETE_DATASET_LABELS_TOOL_INSTRUCTIONS.xml.j2
  src/phoenix/server/agents/prompts/tools/LIST_DATASET_LABELS_TOOL_INSTRUCTIONS.xml.j2
  src/phoenix/server/agents/prompts/tools/LIST_LABELS_TOOL_INSTRUCTIONS.xml.j2
  src/phoenix/server/agents/prompts/tools/SET_DATASET_LABELS_TOOL_INSTRUCTIONS.xml.j2
  tests/unit/server/agents/test_agent_factory.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

feat(pxi): replace raw-JSON approval previews with summary rows
  js/app/src/components/agent/AnnotationConfigWriteApprovalCard.tsx
  js/app/src/components/agent/ApprovalCard.tsx
  js/app/src/components/agent/DatasetWriteApprovalCard.tsx
  js/app/src/components/agent/ExecuteUiToolDetails.tsx
  js/app/src/components/agent/ToolPart.tsx
  js/app/src/components/agent/__tests__/approvalSummaryRows.test.ts
Due: oxfmt-js, oxlint-js

docs(app): RFC — propose approval-gated navigation.goTo operation
  js/app/src/agent/uiOperations/PLAN.md
Due: oxfmt-js

feat(pxi): subsume dataset split tools into execute_ui operations
  js/app/src/agent/extensions/toolRegistry.ts
  js/app/src/agent/tools/datasetSplits/clientActions.ts
  js/app/src/agent/tools/datasetSplits/index.ts
  js/app/src/agent/tools/datasetSplits/schemas.ts
  js/app/src/agent/tools/datasetSplits/setDatasetExampleSplits.ts
  js/app/src/agent/uiOperations/PLAN.md
  js/app/src/agent/uiOperations/RootUiOperationsRegistration.tsx
  js/app/src/agent/uiOperations/catalog.ts
  js/app/src/agent/uiOperations/operations/datasetSplits.ts
  src/phoenix/server/agents/capabilities/tools/external/__init__.py
  src/phoenix/server/agents/capabilities/tools/external/create_dataset_split.py
  src/phoenix/server/agents/capabilities/tools/external/delete_dataset_splits.py
  src/phoenix/server/agents/capabilities/tools/external/patch_dataset_split.py
  src/phoenix/server/agents/capabilities/tools/external/set_dataset_example_splits.py
  src/phoenix/server/agents/prompts/__init__.py
  src/phoenix/server/agents/prompts/tools/CREATE_DATASET_SPLIT_TOOL_INSTRUCTIONS.xml.j2
  src/phoenix/server/agents/prompts/tools/DELETE_DATASET_SPLITS_TOOL_INSTRUCTIONS.xml.j2
  src/phoenix/server/agents/prompts/tools/LIST_SPLITS_TOOL_INSTRUCTIONS.xml.j2
  src/phoenix/server/agents/prompts/tools/PATCH_DATASET_SPLIT_TOOL_INSTRUCTIONS.xml.j2
  src/phoenix/server/agents/prompts/tools/SET_DATASET_EXAMPLE_SPLITS_TOOL_INSTRUCTIONS.xml.j2
  tests/unit/server/agents/test_agent_factory.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(app): relocate execute UI sandbox files under js app
  js/app/src/agent/uiOperations/runtime/__tests__/maskNonCode.test.ts
  js/app/src/agent/uiOperations/runtime/__tests__/referencesDynamicImport.test.ts
  js/app/src/agent/uiOperations/runtime/__tests__/removeGlobalsEverywhere.test.ts
  js/app/src/agent/uiOperations/runtime/__tests__/uiScriptBridge.test.ts
  js/app/src/agent/uiOperations/runtime/maskNonCode.ts
Due: oxfmt-js, oxlint-js

test(pxi): drop server tests pinned to the retired patch_experiment tool
  tests/unit/server/agents/capabilities/contexts/test_capabilities.py
  tests/unit/server/agents/capabilities/test_external_tools.py
Due: format-python, lint-python

fix(pxi): flag navigation.goTo as always requiring approval
  js/app/src/agent/uiOperations/operations/navigation.ts
Due: oxfmt-js, oxlint-js

style(pxi): format execute_ui runtime sources with oxfmt
  js/app/src/agent/uiOperations/runtime/__tests__/maskNonCode.test.ts
  js/app/src/agent/uiOperations/runtime/__tests__/uiScriptBridge.test.ts
  js/app/src/agent/uiOperations/runtime/maskNonCode.ts
  js/app/src/agent/uiOperations/runtime/uiScriptBridge.ts
Due: oxfmt-js, oxlint-js

fix(pxi): emit a JS execute_ui worker and lock its protocol channel
  js/app/src/agent/uiOperations/runtime/__tests__/removeGlobalsEverywhere.test.ts
  js/app/src/agent/uiOperations/runtime/__tests__/uiScriptBridge.test.ts
  js/app/src/agent/uiOperations/runtime/uiScriptBridge.ts
  js/app/src/agent/uiOperations/runtime/uiScriptWorker.ts
  js/app/vite.config.mts
  src/phoenix/server/middleware/ui_script_worker_csp.py
  tests/unit/server/middleware/test_ui_script_worker_csp.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(app): preserve worker format literal type
  js/app/vite.config.mts
Due: none

feat(pxi): add the approval-gated navigation.goTo operation
  js/app/src/agent/chat/pendingToolStateCleanup.ts
  js/app/src/agent/tools/navigation/__tests__/navigation.test.ts
  js/app/src/agent/tools/navigation/clientActions.ts
  js/app/src/agent/tools/navigation/constants.ts
  js/app/src/agent/tools/navigation/index.ts
  js/app/src/agent/tools/navigation/pendingNavigation.ts
  js/app/src/agent/tools/navigation/schemas.ts
  js/app/src/agent/tools/navigation/types.ts
  js/app/src/agent/uiOperations/PLAN.md
  js/app/src/agent/uiOperations/RootUiOperationsRegistration.tsx
  js/app/src/agent/uiOperations/catalog.ts
  js/app/src/agent/uiOperations/dispatch.ts
  js/app/src/agent/uiOperations/operations/navigation.ts
  js/app/src/components/agent/ExecuteUiToolDetails.tsx
  js/app/src/store/agentStore.ts
  src/phoenix/server/agents/prompts/tools/EXECUTE_UI_TOOL_INSTRUCTIONS.xml.j2
Due: oxfmt-js, oxlint-js

feat(pxi): subsume patch_experiment into the experiment.patch operation
  js/app/src/agent/chat/pendingToolStateCleanup.ts
  js/app/src/agent/extensions/toolRegistry.ts
  js/app/src/agent/tools/patchExperiment/clientActions.ts
  js/app/src/agent/tools/patchExperiment/index.ts
  js/app/src/agent/tools/patchExperiment/pendingPatchExperiment.ts
  js/app/src/agent/tools/patchExperiment/types.ts
  js/app/src/agent/uiOperations/PLAN.md
  js/app/src/agent/uiOperations/RootUiOperationsRegistration.tsx
  js/app/src/agent/uiOperations/catalog.ts
  js/app/src/agent/uiOperations/operations/experiment.ts
  js/app/src/components/agent/ExecuteUiToolDetails.tsx
  src/phoenix/server/agents/capabilities/tools/external/__init__.py
  src/phoenix/server/agents/capabilities/tools/external/patch_experiment.py
  src/phoenix/server/agents/prompts/__init__.py
  src/phoenix/server/agents/prompts/tools/PATCH_EXPERIMENT_TOOL_INSTRUCTIONS.xml.j2
Due: format-python, lint-python, oxfmt-js, oxlint-js

refactor(pxi): collapse UI operation registrations into one call per surface
  js/app/src/agent/uiOperations/PLAN.md
  js/app/src/agent/uiOperations/RootUiOperationsRegistration.tsx
  js/app/src/agent/uiOperations/catalog.ts
  js/app/src/agent/uiOperations/operations/setTimeRange.ts
  js/app/src/agent/uiOperations/types.ts
  js/app/src/components/datetime/TimeRangeContext.tsx
  js/app/src/components/evaluators/CodeEvaluatorTestSection.tsx
  js/app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
  js/app/src/components/evaluators/EvaluatorOutputPreview.tsx
  js/app/src/components/evaluators/useLlmEvaluatorDraftRegistration.ts
  js/app/src/pages/playground/Playground.tsx
  js/app/src/pages/playground/PlaygroundDatasetSection.tsx
  js/app/src/pages/project/SpanFiltersContext.tsx
Due: oxfmt-js, oxlint-js

refactor(pxi): Q2 cleanup — drop dead per-tool rendering and tool defs
  js/app/src/agent/tools/annotationConfig/agentTools.ts
  js/app/src/agent/tools/annotationConfig/index.ts
  js/app/src/agent/tools/batchSpanAnnotate/batchSpanAnnotateAgentTool.ts
  js/app/src/agent/tools/batchSpanAnnotate/index.ts
  js/app/src/agent/tools/createDataset/agentTools.ts
  js/app/src/agent/tools/createDataset/index.ts
  js/app/src/agent/tools/datasetEdit/agentTools.ts
  js/app/src/agent/tools/datasetEdit/index.ts
  js/app/src/agent/tools/datasetExamples/agentTools.ts
  js/app/src/agent/tools/datasetLabels/agentTools.ts
  js/app/src/agent/tools/datasetSplits/agentTools.ts
  js/app/src/agent/tools/patchExperiment/index.ts
  js/app/src/agent/tools/patchExperiment/patchExperimentAgentTool.ts
  js/app/src/agent/tools/spansToDataset/agentTools.ts
  js/app/src/agent/tools/spansToDataset/index.ts
  js/app/src/agent/uiOperations/PLAN.md
  js/app/src/components/agent/EditPromptToolDetails.tsx
  js/app/src/components/agent/LoadDatasetToolDetails.tsx
  js/app/src/components/agent/RemovePromptInstanceToolDetails.tsx
  js/app/src/components/agent/SavePromptToolDetails.tsx
  js/app/src/components/agent/ToolPart.tsx
  js/app/src/components/agent/WritePromptToolsToolDetails.tsx
  js/app/stories/ToolPart.stories.tsx
Due: oxfmt-js, oxlint-js

style(pxi): format agent router test
  evals/pxi/evaluators/tools.py
  js/app/src/agent/shared/pendingApproval/__tests__/approvalOutcome.test.ts
  tests/unit/pxi/evals/test_evaluators.py
  tests/unit/server/agents/test_agents_router.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(pxi): harden the execute_ui worker sandbox
  app/src/agent/uiOperations/runtime/__tests__/maskNonCode.test.ts
  app/src/agent/uiOperations/runtime/__tests__/referencesDynamicImport.test.ts
  app/src/agent/uiOperations/runtime/__tests__/removeGlobalsEverywhere.test.ts
  app/src/agent/uiOperations/runtime/__tests__/uiScriptBridge.test.ts
  app/src/agent/uiOperations/runtime/maskNonCode.ts
  js/app/src/agent/uiOperations/runtime/uiScriptBridge.ts
  js/app/src/agent/uiOperations/runtime/uiScriptWorker.ts
  src/phoenix/server/app.py
  src/phoenix/server/middleware/ui_script_worker_csp.py
  tests/unit/server/middleware/test_ui_script_worker_csp.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

feat(pxi): subsume batch_span_annotate into the spans.annotate operation
  js/app/src/agent/chat/pendingToolStateCleanup.ts
  js/app/src/agent/extensions/__tests__/toolRegistry.test.ts
  js/app/src/agent/extensions/registry/requireToolSession.ts
  js/app/src/agent/extensions/toolRegistry.ts
  js/app/src/agent/tools/batchSpanAnnotate/clientActions.ts
  js/app/src/agent/tools/batchSpanAnnotate/index.ts
  js/app/src/agent/tools/batchSpanAnnotate/pendingBatchSpanAnnotate.ts
  js/app/src/agent/tools/batchSpanAnnotate/types.ts
  js/app/src/agent/uiOperations/PLAN.md
  js/app/src/agent/uiOperations/RootUiOperationsRegistration.tsx
  js/app/src/agent/uiOperations/catalog.ts
  js/app/src/agent/uiOperations/operations/spans.ts
  js/app/src/components/agent/ExecuteUiToolDetails.tsx
  src/phoenix/server/agents/capabilities/tools/external/__init__.py
  src/phoenix/server/agents/capabilities/tools/external/batch_span_annotate.py
  src/phoenix/server/agents/prompts/__init__.py
  src/phoenix/server/agents/prompts/skills/annotate-spans/SKILL.md
  src/phoenix/server/agents/prompts/skills/span-coding/SKILL.md
  src/phoenix/server/agents/prompts/tools/BATCH_SPAN_ANNOTATE_TOOL_INSTRUCTIONS.xml.j2
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(online-evals): do not delete trace projects during builtin sync
  src/phoenix/server/api/builtin_evaluator_sync.py
Due: format-python, lint-python

feat(pxi): add stable error codes to UI operation failures
  js/app/src/agent/tools/playgroundOutput/clientActions.ts
  js/app/src/agent/tools/playgroundPrompt/clientActions.ts
  js/app/src/agent/tools/playgroundPromptTools/promptToolsStore.ts
  js/app/src/agent/tools/playgroundPromptTools/types.ts
  js/app/src/agent/uiOperations/catalog.ts
  js/app/src/agent/uiOperations/dispatch.ts
  js/app/src/agent/uiOperations/types.ts
  js/app/src/store/agentStore.ts
  src/phoenix/server/agents/capabilities/tools/external/execute_ui.py
  src/phoenix/server/agents/prompts/tools/EXECUTE_UI_TOOL_INSTRUCTIONS.xml.j2
Due: format-python, lint-python, oxfmt-js, oxlint-js

feat(pxi): declare output schemas on UI operations
  js/app/src/agent/uiOperations/__tests__/renderUiOperationSignature.test.ts
  js/app/src/agent/uiOperations/catalog.ts
  js/app/src/agent/uiOperations/operations/datasetEvaluators.ts
  js/app/src/agent/uiOperations/operations/playgroundModel.ts
  js/app/src/agent/uiOperations/operations/playgroundPrompt.ts
  js/app/src/agent/uiOperations/operations/playgroundPromptTools.ts
  js/app/src/agent/uiOperations/operations/playgroundRun.ts
  js/app/src/agent/uiOperations/types.ts
Due: oxfmt-js, oxlint-js

feat(pxi): structure-aware truncation and per-call telemetry for execute_ui
  js/app/src/agent/uiOperations/__tests__/executeUiRunOutput.test.ts
  js/app/src/agent/uiOperations/executeUiAgentTool.ts
  src/phoenix/server/agents/prompts/tools/EXECUTE_UI_TOOL_INSTRUCTIONS.xml.j2
Due: oxfmt-js, oxlint-js

revert(pxi): drop the early turn-lock release before the ack
  js/app/src/agent/chat/__tests__/toolOutputFlush.test.ts
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

refactor(pxi): cohere the mutation-approval frontend around existing patterns
  js/app/src/agent/chat/__tests__/buildAgentChatRequestBody.test.ts
  js/app/src/agent/chat/__tests__/shouldSendAutomatically.test.ts
  js/app/src/agent/chat/__tests__/transcriptPersistence.test.ts
  js/app/src/agent/chat/buildAgentChatRequestBody.ts
  js/app/src/agent/chat/createAgentSessionChat.ts
  js/app/src/agent/chat/shouldSendAutomatically.ts
  js/app/src/agent/chat/transcriptPersistence.ts
  js/app/src/agent/extensions/capabilities.ts
  js/app/src/agent/tools/bash/index.ts
  js/app/src/agent/tools/bash/pendingMutations.ts
  js/app/src/components/agent/BashToolDetails.tsx
  js/app/src/components/agent/ToolApprovalRequest.tsx
  js/app/src/components/agent/ToolPart.tsx
  js/app/src/components/agent/__tests__/Chat.test.tsx
  js/app/src/store/__tests__/agentStore.test.ts
  js/app/src/store/agentStore.ts
Due: oxfmt-js, oxlint-js

fix(pxi): persist answered tool approvals while a batch is pending
  js/app/src/agent/chat/__tests__/flushQueue.test.ts
  js/app/src/agent/chat/__tests__/toolApprovalFlush.test.ts
  js/app/src/agent/chat/agentChatApi.ts
  js/app/src/agent/chat/buildAgentChatRequestBody.ts
  js/app/src/agent/chat/chatUtils.ts
  js/app/src/agent/chat/createAgentSessionChat.ts
  js/app/src/agent/chat/flushQueue.ts
  js/app/src/agent/chat/toolApprovalFlush.ts
  js/app/src/agent/chat/toolOutputFlush.ts
  js/app/src/api/__generated__/v1.ts
  js/app/src/components/agent/useAgentSessionSync.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/agents/test_agents_router.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

refactor(pxi): drop the disable-graphql-mutations env var
  src/phoenix/config.py
  src/phoenix/server/agents/capabilities/contexts/graphql_mutations.py
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python

refactor(pxi): tighten bash tool typing and consolidate shell construction
  js/app/src/store/agentStore.ts
  src/phoenix/server/agents/capabilities/tools/internal/bash.py
  tests/unit/server/agents/capabilities/tools/internal/test_bash.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

nix comments
  src/phoenix/server/agents/context.py
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python

clean
  src/phoenix/db/types/data_stream_protocol/provider_metadata.py
Due: format-python, lint-python

fix(pxi): stop re-flushing persisted tool outputs to the tool-outputs route
  js/app/src/agent/chat/__tests__/toolOutputFlush.test.ts
  js/app/src/agent/chat/createAgentSessionChat.ts
  js/app/src/agent/chat/toolOutputFlush.ts
Due: oxfmt-js, oxlint-js

test(pxi): seed the compaction test with a restorable shell snapshot
  tests/unit/server/agents/test_agents_router.py
Due: format-python, lint-python

refactor(pxi): enable GraphQL mutations by default and deprecate the graphql context
  js/app/src/agent/chat/__tests__/buildAgentChatRequestBody.test.ts
  js/app/src/agent/chat/buildAgentChatRequestBody.ts
  js/app/src/api/__generated__/v1.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  schemas/openapi.json
  src/phoenix/server/agents/capabilities/contexts/graphql_mutations.py
  src/phoenix/server/agents/capabilities/tools/internal/bash.py
  src/phoenix/server/agents/context.py
  src/phoenix/server/api/routers/agents.py
  src/phoenix/server/api/routers/legacy_agents.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

clean comments
  js/app/src/agent/tools/bash/pendingMutations.ts
  js/app/src/components/agent/BashToolDetails.tsx
Due: oxfmt-js, oxlint-js

feat(pxi): drop the graphql mutations toggle and stop persisting the capability
  js/app/src/agent/extensions/capabilities.ts
  js/app/src/store/__tests__/agentStore.test.ts
  js/app/src/store/agentStore.ts
  js/app/tests/pxi/fixtures.ts
Due: oxfmt-js, oxlint-js

refactor(pxi): pin pending-mutation schema to the OpenAPI type and trim comments
  js/app/src/agent/tools/bash/bashToolSchema.ts
  js/app/src/agent/tools/bash/pendingMutations.ts
  js/app/src/components/agent/ToolPart.tsx
Due: oxfmt-js, oxlint-js

fix(pxi): close the mutation-approval review follow-ups
  js/app/src/agent/chat/__tests__/buildAgentChatRequestBody.test.ts
  js/app/src/agent/chat/__tests__/toolOutputFlush.test.ts
  js/app/src/agent/chat/__tests__/transcriptPersistence.test.ts
  js/app/src/agent/chat/createAgentSessionChat.ts
  js/app/src/agent/chat/transcriptPersistence.ts
  js/app/src/api/__generated__/v1.ts
  js/app/src/components/agent/ToolApprovalRequest.tsx
  js/app/src/components/agent/__tests__/ToolApprovalRequest.test.tsx
  schemas/openapi.json
  src/phoenix/server/agents/agent_factory.py
  src/phoenix/server/agents/capabilities/tools/internal/bash.py
  src/phoenix/server/agents/server_agents.py
  src/phoenix/server/api/routers/agents.py
  src/phoenix/server/api/routers/legacy_agents.py
  tests/unit/server/agents/capabilities/tools/internal/test_bash.py
  tests/unit/server/agents/test_agents_router.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(pxi): unbreak the TypeScript build after the chat-request changes
  js/packages/phoenix-cli/src/pxi/types.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
Due: oxfmt-js, oxlint-js

chore(pxi): regenerate openapi schema after docstring trim
  js/app/src/api/__generated__/v1.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  schemas/openapi.json
Due: oxfmt-js, oxlint-js

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
