Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

refactor(sandbox): DB-enforce language identity (#13055)
  app/schema.graphql
  app/src/components/dataset/__generated__/EditCodeDatasetEvaluatorSlideover_datasetEvaluatorQuery.graphql.ts
  app/src/pages/dataset/evaluators/__generated__/CodeDatasetEvaluatorDetails_datasetEvaluator.graphql.ts
  scripts/ddl/generate_ddl_postgresql.py
  scripts/ddl/postgresql_schema.sql
  src/phoenix/db/migrations/versions/0ff41b5b118f_add_sandbox_and_code_evaluator_support.py
  src/phoenix/db/models.py
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/language_by_id.py
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/helpers/evaluators.py
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/api/mutations/evaluator_mutations.py
  src/phoenix/server/api/mutations/sandbox_config_mutations.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/Evaluator.py
  src/phoenix/server/api/types/SandboxConfig.py
  src/phoenix/server/app.py
  src/phoenix/server/sandbox/sync.py
  tests/unit/server/api/conftest.py
  tests/unit/server/api/dataloaders/test_sandbox_provider_by_id.py
  tests/unit/server/api/helpers/test_evaluators.py
  tests/unit/server/api/mutations/test_code_evaluator_sandbox_mutations.py
  tests/unit/server/api/mutations/test_evaluator_preview_mutation.py
  tests/unit/server/api/mutations/test_sandbox_cache_invalidation.py
  tests/unit/server/api/mutations/test_sandbox_config_mutations.py
  tests/unit/server/api/routers/v1/test_projects.py
  tests/unit/server/api/test_code_evaluator_runner.py
  tests/unit/server/api/test_queries.py
  tests/unit/server/api/test_sync.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix(sandbox): close mutation surface gaps and eliminate read-side N+1 (#12986)
  app/schema.graphql
  app/src/pages/settings/sandboxes/DeleteSandboxConfigButton.tsx
  app/src/pages/settings/sandboxes/__generated__/DeleteSandboxConfigButtonDeleteSandboxConfigMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigDialogUpdateSandboxConfigMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigsCardConfigEnabledSwitchMutation.graphql.ts
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/evaluator_by_id.py
  src/phoenix/server/api/dataloaders/sandbox_provider_by_id.py
  src/phoenix/server/api/mutations/evaluator_mutations.py
  src/phoenix/server/api/mutations/sandbox_config_mutations.py
  src/phoenix/server/api/types/Evaluator.py
  src/phoenix/server/api/types/SandboxConfig.py
  src/phoenix/server/app.py
  tests/unit/server/api/dataloaders/test_evaluator_by_id.py
  tests/unit/server/api/dataloaders/test_sandbox_provider_by_id.py
  tests/unit/server/api/mutations/test_code_evaluator_sandbox_mutations.py
  tests/unit/server/api/mutations/test_sandbox_cache_invalidation.py
  tests/unit/server/api/mutations/test_sandbox_config_mutations.py
  tests/unit/server/api/mutations/test_sandbox_credential_mutations.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

feat(sandboxes): Improve code evaluator editor ux (#12690)
  app/schema.graphql
  app/src/components/dataset/CreateCodeDatasetEvaluatorSlideover.tsx
  app/src/components/dataset/EditCodeDatasetEvaluatorSlideover.tsx
  app/src/components/dataset/__generated__/CreateCodeDatasetEvaluatorSlideoverQuery.graphql.ts
  app/src/components/dataset/__generated__/CreateCodeDatasetEvaluatorSlideover_createCodeEvaluatorMutation.graphql.ts
  app/src/components/dataset/__generated__/EditCodeDatasetEvaluatorSlideover_datasetEvaluatorQuery.graphql.ts
  app/src/components/dataset/__generated__/EditCodeDatasetEvaluatorSlideover_updateCodeEvaluatorMutation.graphql.ts
  app/src/components/evaluators/CodeEvaluatorLanguageSandboxFields.tsx
  app/src/components/evaluators/CodeEvaluatorSourceCodeBlock.tsx
  app/src/components/evaluators/CodeEvaluatorTestSection.tsx
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
  app/src/components/evaluators/__generated__/CodeEvaluatorTestSectionMutation.graphql.ts
  app/src/components/evaluators/__tests__/codeEvaluatorAutocomplete.test.ts
  app/src/components/evaluators/codeEvaluatorAutocomplete.ts
  app/src/components/evaluators/codeEvaluatorTypeGeneration.ts
  app/src/components/evaluators/codeEvaluatorUtils.ts
  app/src/pages/dataset/evaluators/CodeDatasetEvaluatorDetails.tsx
  app/src/pages/dataset/evaluators/DatasetEvaluatorActionMenu.tsx
  app/tests/code-evaluators.spec.ts
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/input_types/EvaluatorPreviewInput.py
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/api/mutations/evaluator_mutations.py
  tests/unit/server/api/mutations/test_code_evaluator_sandbox_mutations.py
  tests/unit/server/api/mutations/test_evaluator_preview_mutation.py
  tests/unit/server/api/test_code_evaluator_runner.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

feat(evaluators): code evaluator + sandbox dogfooding fixes (#12991)
  app/src/components/dataset/__generated__/CreateBuiltInDatasetEvaluatorSlideover_CreateDatasetBuiltinEvaluatorMutation.graphql.ts
  app/src/components/dataset/__generated__/CreateCodeDatasetEvaluatorSlideover_createDatasetCodeEvaluatorMutation.graphql.ts
  app/src/components/dataset/__generated__/CreateLLMDatasetEvaluatorSlideover_createLLMEvaluatorMutation.graphql.ts
  app/src/components/dataset/__generated__/EditBuiltInDatasetEvaluatorSlideover_UpdateDatasetBuiltinEvaluatorMutation.graphql.ts
  app/src/components/dataset/__generated__/EditCodeDatasetEvaluatorSlideover_updateDatasetCodeEvaluatorMutation.graphql.ts
  app/src/components/dataset/__generated__/EditLLMDatasetEvaluatorSlideover_updateLLMEvaluatorMutation.graphql.ts
  app/src/components/evaluators/CodeEvaluatorLanguageSandboxFields.tsx
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
  app/src/components/evaluators/EvaluatorKindToken.tsx
  app/src/components/evaluators/EvaluatorNameInput.tsx
  app/src/components/evaluators/OptimizationDirectionField.tsx
  app/src/pages/dataset/evaluators/CodeDatasetEvaluatorDetails.tsx
  app/src/pages/dataset/evaluators/__generated__/DatasetEvaluatorsTableEvaluatorsQuery.graphql.ts
  app/src/pages/dataset/evaluators/__generated__/DatasetEvaluatorsTable_evaluators.graphql.ts
  app/src/pages/dataset/evaluators/__generated__/datasetEvaluatorsLoaderQuery.graphql.ts
  app/src/pages/evaluators/DatasetEvaluatorsTable.tsx
  app/src/pages/evaluators/__generated__/DatasetEvaluatorsTable_row.graphql.ts
  app/src/pages/settings/sandboxes/SandboxConfigDialog.tsx
  app/src/pages/settings/sandboxes/SandboxConfigsCard.tsx
  app/src/pages/settings/sandboxes/__tests__/formValuesToConfigPatch.test.ts
  app/src/pages/settings/sandboxes/utils.tsx
  app/tests/code-evaluators.spec.ts
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/daytona_backend.py
  src/phoenix/server/sandbox/e2b_backend.py
  src/phoenix/server/sandbox/modal_backend.py
  src/phoenix/server/sandbox/types.py
  src/phoenix/server/sandbox/vercel_backend.py
  src/phoenix/server/sandbox/wasm_backend.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

refactor(sandbox): move timeout default into application code (#13102)
  scripts/ddl/postgresql_schema.sql
  src/phoenix/db/migrations/versions/0ff41b5b118f_add_sandbox_and_code_evaluator_support.py
  src/phoenix/db/migrations/versions/9a7a47b0dc5c_increase_sandbox_config_timeout_default.py
  src/phoenix/db/models.py
  src/phoenix/server/api/mutations/sandbox_config_mutations.py
  src/phoenix/server/api/types/SandboxConfig.py
Due: format-python, lint-python

test(sandbox): escape Windows path in pytest.raises match (#13128)
  tests/unit/server/sandbox/test_wasm_download.py
Due: format-python, lint-python

feat(sandbox): bundle deno and wasmtime into Phoenix container (#13047)
  Dockerfile
  app/src/pages/settings/sandboxes/SandboxConfigDialog.tsx
  app/src/pages/settings/sandboxes/__tests__/shouldShowLocalDenoTrustWarning.test.ts
  app/src/pages/settings/sandboxes/utils.tsx
  docs.json
  docs/phoenix/self-hosting.mdx
  docs/phoenix/self-hosting/features/sandbox-runtimes.mdx
  pyproject.toml
  scripts/docker/devops/Dockerfile
  scripts/docker/devops/Dockerfile.vite
  src/phoenix/server/api/types/SandboxConfig.py
  src/phoenix/server/sandbox/_download.py
  src/phoenix/server/sandbox/wasm_backend.py
  tests/unit/server/api/test_wasm_backend.py
  tests/unit/server/sandbox/test_wasm_download.py
Due: format-python, lint-python, oxfmt-app, oxlint-app, uv-lock-check

feat(sandbox): add provider brand icons and tighten config dialog UX (#13029)
  app/src/components/evaluators/CodeEvaluatorLanguageSandboxFields.tsx
  app/src/components/sandbox/SandboxProviderIcon.tsx
  app/src/pages/settings/sandboxes/SandboxConfigDialog.tsx
  app/src/pages/settings/sandboxes/SandboxConfigsCard.tsx
  app/src/pages/settings/sandboxes/SandboxProvidersCard.tsx
  app/src/pages/settings/sandboxes/utils.tsx
  app/src/utils/identifierUtils.ts
  app/stories/SandboxProviderIcon.stories.tsx
Due: oxfmt-app, oxlint-app

fix(sandbox): correct Daytona SDK invocation and gain type safety (#13118)
  pyproject.toml
  src/phoenix/server/sandbox/daytona_backend.py
  tests/unit/server/sandbox/test_daytona_backend.py
  uv.lock
Due: format-python, lint-python, uv-lock-check

chore: regenerate Relay artifacts and uv.lock after rebase onto main
  app/src/components/dataset/__generated__/CreateLLMDatasetEvaluatorSlideover_createLLMEvaluatorMutation.graphql.ts
  app/src/components/dataset/__generated__/EditLLMDatasetEvaluatorSlideover_updateLLMEvaluatorMutation.graphql.ts
  app/src/components/evaluators/__generated__/CodeEvaluatorTestSectionMutation.graphql.ts
  app/src/components/evaluators/__generated__/EvaluatorOutputPreviewMutation.graphql.ts
  app/src/pages/dataset/evaluators/__generated__/datasetEvaluatorDetailsLoaderQuery.graphql.ts
Due: oxfmt-app, oxlint-app

fix(sandbox): type-check E2B SDK, fix Jupyter template, rename credential to E2B_API_KEY (#13127)
  docs/phoenix/self-hosting/features/sandbox-runtimes.mdx
  pyproject.toml
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/e2b_backend.py
  tests/unit/server/api/mutations/test_code_evaluator_sandbox_mutations.py
  tests/unit/server/api/test_sandbox_queries.py
  tests/unit/server/sandbox/test_e2b_backend.py
  tests/unit/server/sandbox/test_env_var_resolution.py
  uv.lock
Due: format-python, lint-python, uv-lock-check

feat(evaluators): differentiate dialog titles by evaluator type (#13105)
  app/src/components/evaluators/EditBuiltInEvaluatorDialogContent.tsx
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
  app/src/components/evaluators/EditLLMEvaluatorDialogContent.tsx
  app/tests/code-evaluators.spec.ts
  app/tests/server-evaluators.spec.ts
Due: oxfmt-app, oxlint-app

fix(sandbox): UI cleanup for code evaluator and sandbox settings (#12613)
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
  app/src/pages/settings/sandboxes/SandboxConfigDialog.tsx
  app/src/pages/settings/sandboxes/SandboxProvidersCard.tsx
Due: oxfmt-app, oxlint-app

fix(sandbox): type-check Vercel SDK invocation and use native env var names (#13121)
  docs/phoenix/self-hosting/features/sandbox-runtimes.mdx
  pyproject.toml
  src/phoenix/server/api/mutations/sandbox_config_mutations.py
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/vercel_backend.py
  tests/unit/server/api/mutations/test_code_evaluator_sandbox_mutations.py
  tests/unit/server/api/mutations/test_reserved_credential_names.py
  tests/unit/server/api/mutations/test_sandbox_cache_invalidation.py
  tests/unit/server/api/mutations/test_sandbox_config_mutations.py
  tests/unit/server/api/test_sandbox_queries.py
  tests/unit/server/sandbox/test_env_var_resolution.py
  uv.lock
Due: format-python, lint-python, uv-lock-check

feat(sandbox): add PHOENIX_ALLOWED_SANDBOX_PROVIDERS allowlist (#13101)
  MIGRATION.md
  src/phoenix/config.py
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/daytona_backend.py
  src/phoenix/server/sandbox/deno_backend.py
  src/phoenix/server/sandbox/e2b_backend.py
  src/phoenix/server/sandbox/modal_backend.py
  src/phoenix/server/sandbox/types.py
  src/phoenix/server/sandbox/vercel_backend.py
  src/phoenix/server/sandbox/wasm_backend.py
  tests/unit/server/api/mutations/test_sandbox_cache_invalidation.py
  tests/unit/server/api/mutations/test_sandbox_config_mutations.py
  tests/unit/server/api/mutations/test_sandbox_credential_mutations.py
  tests/unit/server/api/test_sandbox_queries.py
  tests/unit/server/sandbox/test_get_or_create_backend.py
  tests/unit/server/sandbox/test_sandbox_config_validation.py
  tests/unit/test_config.py
Due: format-python, lint-python

test(evaluators): adapt code-evaluator playwright tests to refactored editor UI (#13100)
  .github/workflows/playwright.yaml
  app/tests/code-evaluators.spec.ts
  app/tests/settings-sandboxes.spec.ts
Due: oxfmt-app, oxlint-app

feat(sandbox): clarify sandbox configuration settings display
  app/src/pages/dataset/evaluators/CodeDatasetEvaluatorDetails.tsx
  app/src/pages/settings/sandboxes/SandboxConfigsCard.tsx
  app/src/pages/settings/sandboxes/SandboxProvidersCard.tsx
  app/src/pages/settings/sandboxes/styles.ts
  app/src/pages/settings/sandboxes/utils.tsx
Due: oxfmt-app, oxlint-app

feat(evaluators): add code evaluator versions list with diff view (#13132)
  .agents/skills/phoenix-design/SKILL.md
  .agents/skills/phoenix-design/rules/counters.md
  app/schema.graphql
  app/src/Routes.tsx
  app/src/components/evaluators/CodeEvaluatorLanguageSandboxFields.tsx
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
  app/src/pages/dataset/evaluators/BuiltInDatasetEvaluatorDetails.tsx
  app/src/pages/dataset/evaluators/CodeDatasetEvaluatorDetails.tsx
  app/src/pages/dataset/evaluators/CodeDatasetEvaluatorVersions.tsx
  app/src/pages/dataset/evaluators/DatasetEvaluatorDetailsPage.tsx
  app/src/pages/dataset/evaluators/LLMDatasetEvaluatorDetails.tsx
  app/src/pages/dataset/evaluators/__generated__/CodeDatasetEvaluatorVersionsQuery.graphql.ts
  app/src/pages/dataset/evaluators/__generated__/CodeDatasetEvaluatorVersions_datasetEvaluator.graphql.ts
  app/src/pages/dataset/evaluators/__generated__/datasetEvaluatorDetailsLoaderQuery.graphql.ts
  app/src/pages/dataset/evaluators/datasetEvaluatorDetailsLoader.ts
  app/tests/code-evaluators.spec.ts
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/code_evaluator_version_count.py
  src/phoenix/server/api/types/Evaluator.py
  src/phoenix/server/app.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

feat(sandbox): typed config schema via per-adapter pydantic models with GraphQL ConfigFieldSpec exposure (#12523)
  app/schema.graphql
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/mutations/sandbox_config_mutations.py
  src/phoenix/server/api/types/SandboxConfig.py
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/daytona_backend.py
  src/phoenix/server/sandbox/deno_backend.py
  src/phoenix/server/sandbox/e2b_backend.py
  src/phoenix/server/sandbox/modal_backend.py
  src/phoenix/server/sandbox/types.py
  src/phoenix/server/sandbox/vercel_backend.py
  src/phoenix/server/sandbox/wasm_backend.py
  tests/unit/server/api/mutations/test_code_evaluator_sandbox_mutations.py
  tests/unit/server/api/test_sandbox_config_validation.py
  tests/unit/server/api/test_sandbox_queries.py
  tests/unit/server/api/test_wasm_backend.py
Due: format-python, lint-python

feat(sandbox): credentials dialog, provider table polish, Vercel triple-only auth (#13061)
  .agents/skills/phoenix-design/SKILL.md
  .agents/skills/phoenix-design/rules/dialogs.md
  app/schema.graphql
  app/src/pages/settings/sandboxes/SandboxConfigsCard.tsx
  app/src/pages/settings/sandboxes/SandboxProviderCredentialsDialog.tsx
  app/src/pages/settings/sandboxes/SandboxProvidersCard.tsx
  app/src/pages/settings/sandboxes/SettingsSandboxesPage.tsx
  app/src/pages/settings/sandboxes/__generated__/DeleteSandboxConfigButtonDeleteSandboxConfigMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigDialogCreateSandboxConfigMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigDialogUpdateSandboxConfigMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigsCardConfigEnabledSwitchMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxProviderCredentialsDialogQuery.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxProviderCredentialsDialogUpsertMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxProvidersCardProviderEnabledSwitchMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SettingsSandboxesPageFragment.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SettingsSandboxesPageRefetchQuery.graphql.ts
  app/src/pages/settings/sandboxes/styles.ts
  src/phoenix/server/api/types/SandboxConfig.py
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/modal_backend.py
  src/phoenix/server/sandbox/types.py
  src/phoenix/server/sandbox/vercel_backend.py
  tests/unit/server/api/test_sandbox_queries.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

feat(evaluators): polish code-evaluator details layout (#13110)
  app/src/components/core/icon/Icons.tsx
  app/src/components/evaluators/CodeEvaluatorSourceCodeBlock.tsx
  app/src/pages/dataset/evaluators/CodeDatasetEvaluatorDetails.tsx
Due: oxfmt-app, oxlint-app

feat(evaluators): add revision history (#13021)
  app/schema.graphql
  app/src/components/dataset/EditCodeDatasetEvaluatorSlideover.tsx
  app/src/components/dataset/__generated__/EditCodeDatasetEvaluatorSlideover_createCodeEvaluatorVersionMutation.graphql.ts
  app/src/components/dataset/__generated__/EditCodeDatasetEvaluatorSlideover_datasetEvaluatorQuery.graphql.ts
  app/src/components/dataset/__generated__/EditCodeDatasetEvaluatorSlideover_patchCodeEvaluatorMutation.graphql.ts
  app/src/components/dataset/__generated__/EditCodeDatasetEvaluatorSlideover_updateDatasetCodeEvaluatorMutation.graphql.ts
  app/src/components/evaluators/CodeEvaluatorLanguageSandboxFields.tsx
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
  app/src/pages/dataset/evaluators/CodeDatasetEvaluatorDetails.tsx
  app/src/pages/dataset/evaluators/__generated__/CodeDatasetEvaluatorDetails_datasetEvaluator.graphql.ts
  app/src/pages/dataset/evaluators/__generated__/datasetEvaluatorDetailsLoaderQuery.graphql.ts
  app/tests/code-evaluators.spec.ts
  app/tests/settings-sandboxes.spec.ts
  scripts/ddl/postgresql_schema.sql
  src/phoenix/db/helpers.py
  src/phoenix/db/migrations/versions/0ff41b5b118f_add_sandbox_and_code_evaluator_support.py
  src/phoenix/db/models.py
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/code_evaluator_version_sequence_number.py
  src/phoenix/server/api/dataloaders/latest_code_evaluator_versions.py
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/helpers/sandbox_redaction.py
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/api/mutations/evaluator_mutations.py
  src/phoenix/server/api/types/Evaluator.py
  src/phoenix/server/api/types/SandboxConfig.py
  src/phoenix/server/app.py
  tests/unit/server/api/helpers/test_evaluators.py
  tests/unit/server/api/mutations/test_code_evaluator_sandbox_mutations.py
  tests/unit/server/api/mutations/test_evaluator_preview_mutation.py
  tests/unit/server/api/mutations/test_sandbox_credential_mutations.py
  tests/unit/server/api/test_capability_advertisement.py
  tests/unit/server/api/test_sandbox_queries.py
  tests/unit/server/api/types/test_Evaluator.py
  tests/unit/server/sandbox/test_get_or_create_backend.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix(sandbox): type-check modal SDK invocation (#13120)
  pyproject.toml
  src/phoenix/server/sandbox/modal_backend.py
  uv.lock
Due: format-python, lint-python, uv-lock-check

feat(sandbox): add Vercel Python support, Modal adapter, and shutdown teardown (#12519)
  app/src/components/dataset/__generated__/CreateCodeDatasetEvaluatorSlideover_createCodeEvaluatorMutation.graphql.ts
  app/src/components/dataset/__generated__/CreateCodeDatasetEvaluatorSlideover_createDatasetCodeEvaluatorMutation.graphql.ts
  app/src/components/dataset/__generated__/EditCodeDatasetEvaluatorSlideover_updateCodeEvaluatorMutation.graphql.ts
  app/src/components/dataset/__generated__/EditCodeDatasetEvaluatorSlideover_updateDatasetCodeEvaluatorMutation.graphql.ts
  pyproject.toml
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/api/types/SandboxConfig.py
  src/phoenix/server/app.py
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/daytona_backend.py
  src/phoenix/server/sandbox/deno_backend.py
  src/phoenix/server/sandbox/e2b_backend.py
  src/phoenix/server/sandbox/modal_backend.py
  src/phoenix/server/sandbox/sync.py
  src/phoenix/server/sandbox/types.py
  src/phoenix/server/sandbox/vercel_backend.py
  src/phoenix/server/sandbox/wasm_backend.py
  tests/unit/server/api/test_sandbox_queries.py
  tests/unit/server/api/test_sync.py
  tests/unit/server/api/test_wasm_backend.py
  tests/unit/server/sandbox/__init__.py
  tests/unit/server/sandbox/test_modal_backend.py
  tests/unit/server/sandbox/test_vercel_backend.py
Due: format-python, lint-python, oxfmt-app, oxlint-app, uv-lock-check

feat(sandbox): trim Sandbox Runtime summary to the configured settings
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
Due: oxfmt-app, oxlint-app

feat(sandbox): add copy button and show-types toggle to code evaluator editor
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
Due: oxfmt-app, oxlint-app

fix(sandbox): drop redundant Test Evaluator heading inside test section
  app/src/components/evaluators/CodeEvaluatorTestSection.tsx
Due: oxfmt-app, oxlint-app

test(sandbox): update test-section assertions for removed disclosure
  app/tests/code-evaluators.spec.ts
Due: oxfmt-app, oxlint-app

test(sandbox): seed fake E2B_API_KEY in Playwright server
  app/tests/utils/testServer.mjs
Due: none

feat(sandbox): add config link button to Sandbox card in evaluator details
  app/src/components/core/button/LinkButton.tsx
  app/src/pages/dataset/evaluators/CodeDatasetEvaluatorDetails.tsx
Due: oxfmt-app, oxlint-app

feat(sandbox): surface hosting type as a badge, mute config descriptions
  app/schema.graphql
  app/src/pages/settings/__generated__/settingsSandboxesPageLoaderQuery.graphql.ts
  app/src/pages/settings/sandboxes/SandboxConfigsCard.tsx
  app/src/pages/settings/sandboxes/SandboxProvidersCard.tsx
  app/src/pages/settings/sandboxes/SettingsSandboxesPage.tsx
  app/src/pages/settings/sandboxes/__generated__/DeleteSandboxConfigButtonDeleteSandboxConfigMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigDialogCreateSandboxConfigMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigDialogUpdateSandboxConfigMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigsCardConfigEnabledSwitchMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxProvidersCardProviderEnabledSwitchMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SettingsSandboxesPageFragment.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SettingsSandboxesPageRefetchQuery.graphql.ts
  app/src/pages/settings/sandboxes/styles.ts
  app/src/pages/settings/sandboxes/utils.tsx
  src/phoenix/server/api/types/SandboxConfig.py
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/deno_backend.py
  src/phoenix/server/sandbox/wasm_backend.py
  tests/unit/server/api/test_capability_advertisement.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix(sandbox): drop extra padding around Sandbox Runtime summary list
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
Due: oxfmt-app, oxlint-app

feat(sandbox): pin Sandbox Runtime to bottom of code evaluator sidebar
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
Due: oxfmt-app, oxlint-app

fix(sandbox): move copy + show-types controls into the editor header
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
Due: oxfmt-app, oxlint-app

fix(sandbox): unify editor header controls (Reset, Copy, Show types)
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
Due: oxfmt-app, oxlint-app

feat(sandbox): add copy-code button to evaluator version card
  app/src/pages/dataset/evaluators/CodeDatasetEvaluatorVersions.tsx
Due: oxfmt-app, oxlint-app

fix(sandbox): hide unusable providers from new-config dropdown
  app/src/pages/settings/sandboxes/SandboxConfigsCard.tsx
Due: oxfmt-app, oxlint-app

fix(sandbox): stop env mutation and pass resolved credentials explicitly (#13211)
  docs/phoenix/self-hosting/features/sandbox-runtimes.mdx
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/daytona_backend.py
  src/phoenix/server/sandbox/deno_backend.py
  src/phoenix/server/sandbox/e2b_backend.py
  src/phoenix/server/sandbox/modal_backend.py
  src/phoenix/server/sandbox/types.py
  src/phoenix/server/sandbox/vercel_backend.py
  src/phoenix/server/sandbox/wasm_backend.py
  tests/unit/server/api/mutations/test_reserved_credential_names.py
  tests/unit/server/api/mutations/test_sandbox_cache_invalidation.py
  tests/unit/server/api/mutations/test_sandbox_credential_mutations.py
  tests/unit/server/api/test_sandbox_queries.py
  tests/unit/server/sandbox/test_capability_matrix.py
  tests/unit/server/sandbox/test_daytona_backend.py
  tests/unit/server/sandbox/test_e2b_backend.py
  tests/unit/server/sandbox/test_env_var_resolution.py
  tests/unit/server/sandbox/test_get_or_create_backend.py
  tests/unit/server/sandbox/test_modal_backend.py
  tests/unit/server/sandbox/test_sandbox_config_validation.py
  tests/unit/server/sandbox/test_vercel_backend.py
Due: format-python, lint-python
