Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

feat(agents): persist trace session identity (#14435)
  scripts/ddl/postgresql_schema.sql
  src/phoenix/db/migrations/versions/e767d3c57f32_create_agent_sessions_and_agent_session_.py
  src/phoenix/db/models.py
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/agents/test_agents_router.py
  tests/unit/server/api/mutations/test_agent_session_mutations.py
  tests/unit/server/api/routers/test_agents.py
  tests/unit/server/api/types/test_AgentSession.py
Due: format-python, lint-python

feat(agents): eagerly persist first user message and session title on new session creation (#14417)
  src/phoenix/server/agents/summarization.py
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python

refactor(agents): Imperative session creation
  app/schema.graphql
  app/src/agent/chat/types.ts
  app/src/agent/slashCommands/__tests__/runPromptCommands.test.ts
  app/src/agent/slashCommands/promptCommands.ts
  app/src/api/__generated__/v1.ts
  app/src/components/agent/AgentSessionsResource.tsx
  app/src/components/agent/Chat.tsx
  app/src/components/agent/ChatSessionUsage.tsx
  app/src/components/agent/SessionListMenu.tsx
  app/src/components/agent/__generated__/agentSessionRelaySessionQuery.graphql.ts
  app/src/components/agent/__generated__/useAgentChatCreateAgentSessionMutation.graphql.ts
  app/src/components/agent/__tests__/agentSessionRelay.test.ts
  app/src/components/agent/agentSessionRelay.ts
  app/src/components/agent/index.tsx
  app/src/components/agent/sessionTitleUtils.ts
  app/src/components/agent/useAgentChat.ts
  app/src/contexts/AgentChatRuntimeContext.tsx
  app/src/contexts/__tests__/AgentChatRuntimeContext.test.ts
  app/src/store/__tests__/agentStore.test.ts
  app/src/store/agentStore.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/server/api/mutations/agent_session_mutations.py
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/agents/test_agents_router.py
  tests/unit/server/api/mutations/test_agent_session_mutations.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

feat(agents): server-authoritative session transcripts
  app/src/agent/chat/__tests__/buildAgentChatRequestBody.test.ts
  app/src/agent/chat/buildAgentChatRequestBody.ts
  app/src/api/__generated__/v1.ts
  app/src/components/agent/AgentSessionsResource.tsx
  app/src/components/agent/Chat.tsx
  app/src/components/agent/ChatErrorMessage.tsx
  app/src/components/agent/__tests__/Chat.test.tsx
  app/src/components/agent/useAgentChat.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/server/api/mutations/agent_session_mutations.py
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/agents/test_agents_router.py
  tests/unit/server/api/mutations/test_agent_session_mutations.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

refactor(agents): remove legacy server chat route
  app/src/api/__generated__/v1.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/agents/test_agents_router.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

feat(agents): Branch and Truncate mutations
  app/schema.graphql
  app/src/agent/chat/__tests__/rewindMessages.test.ts
  app/src/agent/chat/rewindMessages.ts
  app/src/components/agent/AgentSessionsResource.tsx
  app/src/components/agent/Chat.tsx
  app/src/components/agent/__generated__/useAgentChatBranchAgentSessionMutation.graphql.ts
  app/src/components/agent/__generated__/useAgentChatTruncateAgentSessionMutation.graphql.ts
  app/src/components/agent/__tests__/Chat.test.tsx
  app/src/components/agent/sessionTitleUtils.ts
  app/src/components/agent/useAgentChat.ts
  src/phoenix/server/api/mutations/agent_session_mutations.py
  tests/unit/server/api/mutations/test_agent_session_mutations.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix(agents): restore cumulative chat token usage
  app/src/components/agent/ChatSessionUsage.tsx
  app/src/components/agent/__tests__/ChatSessionUsage.test.ts
Due: oxfmt-app, oxlint-app

fix(agents): Prevent summarization confusion
  src/phoenix/server/agents/summarization.py
Due: format-python, lint-python

refactor(agents): scope chat route to sessions
  app/src/agent/chat/buildAgentChatRequestBody.ts
  app/src/api/__generated__/v1.ts
  app/src/components/agent/AgentSessionsResource.tsx
  app/src/components/agent/useAgentChat.ts
  app/src/components/agent/useAgentChatPanelState.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/server/api/routers/agents.py
  tests/integration/auth/test_auth.py
  tests/unit/server/agents/test_agents_router.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

refactor(agents): align message ID uniqueness definition
  src/phoenix/db/models.py
Due: format-python, lint-python

feat(agents): persist globally unique message IDs
  app/src/components/agent/useAgentChat.ts
  scripts/ddl/postgresql_schema.sql
  src/phoenix/db/migrations/versions/e767d3c57f32_create_agent_sessions_and_agent_session_.py
  src/phoenix/db/models.py
  src/phoenix/server/agents/data_stream_protocol.py
  src/phoenix/server/agents/session_persistence.py
  src/phoenix/server/api/mutations/agent_session_mutations.py
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/agents/test_agents_router.py
  tests/unit/server/agents/test_data_stream_protocol.py
  tests/unit/server/api/mutations/test_agent_session_mutations.py
  tests/unit/server/api/types/test_AgentSession.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

refactor(agents): simplify session truncation queries
  src/phoenix/server/api/mutations/agent_session_mutations.py
  tests/unit/server/api/mutations/test_agent_session_mutations.py
Due: format-python, lint-python

refactor(agents): refine session persistence mutations
  app/schema.graphql
  scripts/ddl/generate_ddl_postgresql.py
  scripts/ddl/postgresql_schema.sql
  src/phoenix/db/migrations/versions/e767d3c57f32_create_agent_sessions_and_agent_session_.py
  src/phoenix/db/models.py
  src/phoenix/server/agents/session_persistence.py
  src/phoenix/server/api/auth.py
  src/phoenix/server/api/mutations/agent_session_mutations.py
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/agents/test_agents_router.py
  tests/unit/server/api/mutations/test_agent_session_mutations.py
  tests/unit/server/api/types/test_AgentSession.py
Due: format-python, lint-python

refactor: move agent session helpers
  src/phoenix/server/api/mutations/agent_session_mutations.py
Due: format-python, lint-python

fix(agents): serialize transcript persistence
  app/src/agent/chat/__tests__/transcriptPersistence.test.ts
  app/src/agent/chat/transcriptPersistence.ts
  app/src/agent/chat/types.ts
  app/src/api/__generated__/v1.ts
  app/src/components/agent/useAgentChat.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/server/agents/data_stream_protocol.py
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/agents/test_agents_router.py
  tests/unit/server/agents/test_data_stream_protocol.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

fix agent session transcript persistence
  src/phoenix/server/api/mutations/agent_session_mutations.py
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/agents/test_agents_router.py
Due: format-python, lint-python

test(agents): adapt response-pending tests to server-owned sessions
  app/src/components/agent/__tests__/AgentChatTopNavButton.test.tsx
  app/src/components/agent/__tests__/AgentChatWidget.test.tsx
Due: oxfmt-app, oxlint-app

test(agents): fix remaining CI regressions
  app/src/components/agent/__tests__/ChatSessionUsage.test.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  tests/integration/auth/test_auth.py
  tests/unit/server/api/routers/test_agents.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

test(agents): remove stale pytest import
  tests/unit/server/api/routers/test_agents.py
Due: format-python, lint-python

chore(deps): weekly dependency upgrade 2026-07-20 (#14542)
  app/package.json
  app/pnpm-lock.yaml
  js/benchmarks/evals-benchmarks/package.json
  js/examples/apps/cli-agent-starter-kit/package.json
  js/examples/apps/demo-document-relevancy-experiment/package.json
  js/examples/apps/experiments-quickstart/package.json
  js/examples/apps/langchain-quickstart/package.json
  js/examples/apps/mastra-agent/package.json
  js/examples/apps/mastra-quickstart/package.json
  js/examples/apps/phoenix-experiment-runner/package.json
  js/examples/apps/tracing-tutorial/package.json
  js/package.json
  js/packages/phoenix-cli/package.json
  js/packages/phoenix-client/package.json
  js/packages/phoenix-evals/package.json
  js/packages/phoenix-mcp/package.json
  js/pnpm-lock.yaml
  uv.lock
Due: oxfmt-app, oxfmt-js, uv-lock-check

feat(agents): add temporary session backend
  scripts/ddl/postgresql_schema.sql
  src/phoenix/config.py
  src/phoenix/db/migrations/versions/e767d3c57f32_create_agent_sessions_and_agent_session_.py
  src/phoenix/db/models.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/app.py
  src/phoenix/server/daemons/agent_session_sweeper.py
  tests/unit/server/api/routers/test_agents.py
  tests/unit/server/api/types/test_AgentSession.py
  tests/unit/server/daemons/test_agent_session_sweeper.py
Due: format-python, lint-python

feat(agents): add temporary chat frontend
  app/src/agent/chat/__tests__/buildAgentChatRequestBody.test.ts
  app/src/agent/chat/__tests__/sessionExpiry.test.ts
  app/src/agent/chat/sessionExpiry.ts
  app/src/components/agent/AgentChatPanelView.tsx
  app/src/components/agent/SessionListMenu.tsx
  app/src/components/agent/__tests__/AgentChatPanelView.test.tsx
  app/src/pages/settings/SettingsAgentsPage.tsx
Due: oxfmt-app, oxlint-app

fix: position temporary chat tooltips
  app/src/components/agent/TemporaryChatToggle.tsx
  app/src/components/agent/TemporarySessionIcon.tsx
Due: oxfmt-app, oxlint-app

feat(agents): use chat ephemerality icons
  app/src/components/agent/TemporaryChatToggle.tsx
  app/src/components/agent/TemporarySessionIcon.tsx
Due: oxfmt-app, oxlint-app

fix(agents): use compact tooltip for temporary chat toggle
  app/src/components/agent/AgentChatPanelView.tsx
Due: oxfmt-app, oxlint-app

refactor(agents): refresh session expiry with an atomic update
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/api/routers/test_agents.py
Due: format-python, lint-python

feat(ui): add chat ephemerality icons
  .agents/skills/phoenix-design/references/icons.md
  app/src/components/core/icon/Icons.tsx
Due: oxfmt-app, oxlint-app

fix(agents): hide beta badge after the first message is submitted
  app/src/components/agent/AgentChatPanelView.tsx
  app/src/components/agent/__tests__/AgentChatPanelView.test.tsx
Due: oxfmt-app, oxlint-app

refactor(agents): move temporary chat toggle below the composer
  app/src/components/agent/AgentChatPanelView.tsx
  app/src/components/agent/TemporaryChatToggle.tsx
  app/src/components/agent/TemporarySessionIcon.tsx
  app/src/components/agent/__tests__/AgentChatPanelView.test.tsx
  app/src/components/agent/__tests__/TemporaryChatToggle.test.tsx
Due: oxfmt-app, oxlint-app

fix(agents): dim inactive temporary chat icon
  app/src/components/agent/TemporaryChatToggle.tsx
Due: oxfmt-app, oxlint-app

style: space temporary chat indicators
  app/src/components/agent/AgentChatPanelView.tsx
  app/src/components/agent/SessionListMenu.tsx
Due: oxfmt-app, oxlint-app

refactor(agents): simplify temporary session handling
  app/src/agent/chat/__tests__/sessionExpiry.test.ts
  app/src/agent/chat/sessionExpiry.ts
  app/src/components/agent/AgentChatPanelView.tsx
  app/src/components/agent/TemporaryChatToggle.tsx
  app/src/components/agent/TemporarySessionIcon.tsx
  app/src/pages/settings/SettingsAgentsPage.tsx
Due: oxfmt-app, oxlint-app

refactor(agents): simplify temporary session expiry
  src/phoenix/config.py
Due: format-python, lint-python

fix(agents): align temporary sessions with session mutations
  app/src/agent/chat/__tests__/buildAgentChatRequestBody.test.ts
  app/src/pages/settings/SettingsAgentsPage.tsx
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix(server): harden historical cost backfill
  .dockerignore
  app/src/api/__generated__/v1.ts
  docs/phoenix/tracing/how-to-tracing/cost-tracking.mdx
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  scripts/backfill_costs_perf/README.md
  scripts/backfill_costs_perf/docker-compose.postgres.yml
  scripts/backfill_costs_perf/docker-compose.sqlite.yml
  scripts/backfill_costs_perf/run_perf_test.py
  src/phoenix/server/api/routers/v1/span_costs.py
  tests/integration/_helpers.py
  tests/unit/server/api/routers/v1/test_span_costs.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

feat(agents): add transcript revision concurrency control
  app/schema.graphql
  app/src/agent/chat/__tests__/buildAgentChatRequestBody.test.ts
  app/src/agent/chat/__tests__/transcriptPersistence.test.ts
  app/src/agent/chat/buildAgentChatRequestBody.ts
  app/src/agent/chat/transcriptPersistence.ts
  app/src/api/__generated__/v1.ts
  app/src/components/agent/AgentSessionsResource.tsx
  app/src/components/agent/__generated__/agentSessionRelaySessionQuery.graphql.ts
  app/src/components/agent/__generated__/useAgentChatBranchAgentSessionMutation.graphql.ts
  app/src/components/agent/__generated__/useAgentChatCreateAgentSessionMutation.graphql.ts
  app/src/components/agent/__generated__/useAgentChatTruncateAgentSessionMutation.graphql.ts
  app/src/components/agent/agentSessionRelay.ts
  app/src/components/agent/useAgentChat.ts
  app/src/pages/settings/__generated__/UserAPIKeysTableDeleteAPIKeyMutation.graphql.ts
  app/src/pages/settings/__generated__/UserAPIKeysTableQuery.graphql.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/db/migrations/versions/e767d3c57f32_create_agent_sessions_and_agent_session_.py
  src/phoenix/db/models.py
  src/phoenix/server/api/mutations/agent_session_mutations.py
  src/phoenix/server/api/routers/agents.py
  src/phoenix/server/api/types/AgentSession.py
  tests/unit/server/agents/test_agents_router.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

fix(agents): complete transcript revision rebase
  app/src/agent/chat/__tests__/transcriptPersistence.test.ts
  src/phoenix/server/api/mutations/agent_session_mutations.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix(agents): restore temporary session controls
  app/schema.graphql
  app/src/components/agent/AgentSessionsResource.tsx
  app/src/components/agent/Chat.tsx
  app/src/components/agent/SessionListMenu.tsx
  app/src/components/agent/TemporaryChatToggle.tsx
  app/src/components/agent/__generated__/AgentSessionsResourcePaginationQuery.graphql.ts
  app/src/components/agent/__generated__/AgentSessionsResourceQuery.graphql.ts
  app/src/components/agent/__generated__/AgentSessionsResource_sessions.graphql.ts
  app/src/components/agent/__generated__/agentSessionRelaySessionQuery.graphql.ts
  app/src/components/agent/__generated__/useAgentChatBranchAgentSessionMutation.graphql.ts
  app/src/components/agent/__generated__/useAgentChatCreateAgentSessionMutation.graphql.ts
  app/src/components/agent/__tests__/Chat.test.tsx
  app/src/components/agent/agentSessionRelay.ts
  app/src/components/agent/useAgentChat.ts
  app/src/store/__tests__/agentStore.test.ts
  app/src/store/agentStore.ts
  src/phoenix/config.py
  src/phoenix/server/api/mutations/agent_session_mutations.py
  src/phoenix/server/api/routers/agents.py
  src/phoenix/server/api/types/AgentSession.py
  tests/unit/server/api/mutations/test_agent_session_mutations.py
Due: format-python, lint-python, oxfmt-app, oxlint-app
