Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(evaluators): comparison score distributions and time series (#15777)
  js/app/schema.graphql
  src/phoenix/db/helpers.py
  src/phoenix/server/api/helpers/evaluator_comparison.py
  src/phoenix/server/api/types/EvaluatorComparison.py
  src/phoenix/server/api/types/Project.py
  tests/unit/server/api/helpers/test_evaluator_comparison.py
  tests/unit/server/api/types/test_Project.py
Due: format-python, lint-python

refactor(online-eval): preserve session results after deletion (#16082)
  js/app/schema.graphql
  src/phoenix/db/ddl/postgresql_schema.sql
  src/phoenix/db/ddl/sqlite_schema.sql
  src/phoenix/db/eval_work.py
  src/phoenix/db/helpers.py
  src/phoenix/db/migrations/versions/a7f1c3e9d2b4_add_online_eval_coordination.py
  src/phoenix/db/models.py
  src/phoenix/server/api/dataloaders/project_evaluator_run_counts.py
  src/phoenix/server/api/types/ProjectSession.py
  src/phoenix/server/api/utils.py
  src/phoenix/server/online_eval/db_coordinator.py
  src/phoenix/server/online_eval/executor.py
  src/phoenix/server/online_eval/sweeper.py
  src/phoenix/server/prometheus.py
  tests/integration/db_migrations/test_db_schema_a7f1c3e9d2b4_online_eval_coordination.py
  tests/unit/_helpers.py
  tests/unit/db/test_eval_work_coordination.py
  tests/unit/db/types/test_trace_retention.py
  tests/unit/server/api/mutations/test_project_mutations.py
  tests/unit/server/api/mutations/test_trace_mutations.py
  tests/unit/server/api/routers/v1/test_spans.py
  tests/unit/server/api/routers/v1/test_traces.py
  tests/unit/server/api/types/test_Evaluator.py
  tests/unit/server/api/types/test_ProjectSession.py
  tests/unit/server/online_eval/test_consumer.py
  tests/unit/server/online_eval/test_session_sweeper.py
Due: format-python, lint-python

feat(online-eval): bound the session sweep by a per-evaluator watermark (#15939)
  src/phoenix/server/online_eval/sweeper.py
  src/phoenix/server/session_filters.py
  tests/unit/server/online_eval/test_session_sweeper.py
Due: format-python, lint-python

feat(frontend): render read-only JSON as static highlighted previews (#16270)
  js/app/src/components/code/JSONBlock.tsx
  js/app/src/components/code/JSONPreview.tsx
  js/app/src/components/code/__tests__/jsonTokens.test.ts
  js/app/src/components/code/__tests__/truncateJsonPreview.test.ts
  js/app/src/components/code/jsonTokens.ts
  js/app/src/components/code/pierreCodeMirrorTheme.ts
  js/app/src/components/code/truncateJsonPreview.ts
  js/app/stories/JSONPreview.stories.tsx
Due: oxfmt-js, oxlint-js

fix: reconcile the online evals branch with main after rebasing onto it
  js/app/src/components/chart/AnnotationMetricsChart.tsx
  js/app/src/components/filter/styles.ts
  js/app/src/components/templateEditor/autocomplete.ts
  js/app/src/pages/project/SessionFilterConditionField.tsx
  js/app/src/pages/project/SessionsTable.tsx
  js/app/src/pages/project/TraceFilterConditionField.tsx
  js/app/src/pages/project/TracesTable.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopeFields.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopePanel.tsx
  src/phoenix/server/api/routers/v1/traces.py
  src/phoenix/server/api/utils.py
  tests/unit/conftest.py
  tests/unit/server/agents/capabilities/test_phoenix_mcp.py
  tests/unit/server/api/test_schema_search.py
  tests/unit/server/api/test_subscriptions.py
  tests/unit/server/online_eval/test_app_wiring.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(ui): refine evaluator gallery details (#16210)
  .agents/skills/phoenix-design/references/icons.md
  js/app/src/components/annotation/OptimizationDirectionIndicator.tsx
  js/app/src/components/annotation/index.ts
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
  js/app/stories/OptimizationStyles.stories.tsx
Due: oxfmt-js, oxlint-js

feat(evaluators): add evaluator comparison page (#15989)
  js/app/src/Routes.tsx
  js/app/src/constants/searchParams.ts
  js/app/src/pages/project/evaluators/CompareProjectEvaluatorsButton.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareContent.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareMatrix.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorComparePage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareSelect.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareStats.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorSelectionToolbar.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorStats.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsTable.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareContentQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareContent_evaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareMatrix_comparison.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareMatrix_evaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareStats_comparison.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareStats_evaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorCompareLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorCompareUtils.test.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorPaths.test.tsx
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorSelection.test.ts
  js/app/src/pages/project/evaluators/projectEvaluatorCompareLoader.ts
  js/app/src/pages/project/evaluators/projectEvaluatorCompareUtils.ts
  js/app/src/pages/project/evaluators/projectEvaluatorPaths.ts
  js/app/src/pages/project/evaluators/projectEvaluatorSelection.ts
  js/app/src/pages/project/evaluators/projectEvaluatorStatFields.tsx
Due: oxfmt-js, oxlint-js

feat(evaluators): add score and label comparison distributions (#16101)
  js/app/src/Routes.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareContent.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareDistributions.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareMatrix.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorComparePage.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareContentQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareDistributions_evaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareDistributions_side.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareMatrix_comparison.graphql.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorDistributionUtils.test.ts
  js/app/src/pages/project/evaluators/projectEvaluatorDistributionUtils.ts
  src/phoenix/server/api/helpers/evaluator_comparison.py
  src/phoenix/server/api/helpers/evaluator_distribution.py
  src/phoenix/server/api/helpers/evaluator_results.py
  src/phoenix/server/api/types/Evaluator.py
  src/phoenix/server/api/types/EvaluatorComparison.py
  src/phoenix/server/api/types/EvaluatorDistribution.py
  src/phoenix/server/api/types/Project.py
  tests/unit/server/api/helpers/test_evaluator_comparison.py
  tests/unit/server/api/helpers/test_evaluator_distribution.py
  tests/unit/server/api/types/test_Project.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(ui): keep side nav bottom links inside the viewport
  js/app/src/pages/Layout.tsx
Due: oxfmt-js, oxlint-js

feat(experiments): run evaluators as experiment tasks through experimentsOverDataset (#16272)
  js/app/schema.graphql
  src/phoenix/db/ddl/postgresql_schema.sql
  src/phoenix/db/ddl/sqlite_schema.sql
  src/phoenix/db/helpers.py
  src/phoenix/db/migrations/versions/a7f1c3e9d2b4_add_online_eval_coordination.py
  src/phoenix/db/models.py
  src/phoenix/db/types/evaluator_definition.py
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/helpers/evaluators.py
  src/phoenix/server/api/input_types/AnnotationConfigInput.py
  src/phoenix/server/api/input_types/EvaluatorPreviewInput.py
  src/phoenix/server/api/input_types/ExperimentsOverDatasetInput.py
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/api/mutations/evaluator_mutations.py
  src/phoenix/server/api/subscriptions.py
  src/phoenix/server/api/types/ChatCompletionSubscriptionPayload.py
  src/phoenix/server/api/types/ExperimentJob.py
  src/phoenix/server/api/types/ExperimentTaskConfig.py
  src/phoenix/server/daemons/experiment_runner.py
  tests/integration/db_migrations/test_db_schema_a7f1c3e9d2b4_experiment_evaluator_tasks.py
  tests/unit/db/test_models.py
  tests/unit/server/api/mutations/test_evaluator_preview_mutation.py
  tests/unit/server/api/test_create_llm_evaluator_from_inline.py
  tests/unit/server/api/test_pin_evaluator_definition.py
  tests/unit/server/api/test_subscriptions.py
  tests/unit/server/api/types/test_ExperimentJob.py
  tests/unit/server/daemons/test_experiment_runner.py
Due: format-python, lint-python

feat(online-eval): schedule trace evaluators (#15940)
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopeDetails.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorStats.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorStatusCell.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsTable.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorScopeDetails_projectEvaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorStats_projectEvaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTablePaginationQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_project.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorDetailsLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorsLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/refetchProjectEvaluatorsQuery.graphql.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorTypes.test.ts
  js/app/src/pages/project/evaluators/projectEvaluatorTypes.ts
  src/phoenix/server/api/mutations/evaluator_mutations.py
  src/phoenix/server/api/types/Evaluator.py
  src/phoenix/server/app.py
  src/phoenix/server/online_eval/db_coordinator.py
  src/phoenix/server/online_eval/executor.py
  src/phoenix/server/online_eval/session_policy.py
  src/phoenix/server/online_eval/sweeper.py
  src/phoenix/server/trace_filters.py
  tests/unit/server/api/mutations/test_project_evaluator_mutations.py
  tests/unit/server/api/types/test_Evaluator.py
  tests/unit/server/online_eval/test_app_wiring.py
  tests/unit/server/online_eval/test_session_sweeper.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

feat(ui): eval category icons (#16169)
  .agents/skills/phoenix-design/references/icons.md
  js/app/src/components/core/icon/Icons.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
Due: oxfmt-js, oxlint-js

feat(ui): open evaluator gallery as a modal (#16249)
  js/app/src/Routes.tsx
  js/app/src/constants/searchParams.ts
  js/app/src/pages/project/evaluators/AddProjectEvaluatorMenu.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryModal.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorSlideoverRoutes.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsEmptyState.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsToolbar.tsx
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorGalleryModalQuery.graphql.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorPaths.test.tsx
  js/app/src/pages/project/evaluators/projectEvaluatorContext.tsx
  js/app/src/pages/project/evaluators/projectEvaluatorPaths.ts
  js/app/src/pages/project/index.tsx
  js/app/tests/projects.spec.ts
Due: oxfmt-js, oxlint-js

feat(api): expose the frozen evaluator definition as typed GraphQL (#16306)
  js/app/schema.graphql
  src/phoenix/server/api/types/EvaluatorTaskDefinition.py
  src/phoenix/server/api/types/ExperimentTaskConfig.py
  tests/unit/server/api/types/test_ExperimentJob.py
Due: format-python, lint-python

feat(evaluators): pairwise evaluator comparison aggregates (#15776)
  js/app/schema.graphql
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/helpers/evaluator_comparison.py
  src/phoenix/server/api/helpers/evaluators.py
  src/phoenix/server/api/types/Evaluator.py
  src/phoenix/server/api/types/EvaluatorComparison.py
  src/phoenix/server/api/types/Project.py
  src/phoenix/server/online_eval/executor.py
  tests/unit/server/api/helpers/test_evaluator_comparison.py
  tests/unit/server/api/types/test_Project.py
Due: format-python, lint-python

feat(online-eval): trace liveness and trace work units in the schema (#15938)
  scripts/perf/online_eval_trace_liveness_ab.py
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/ddl/postgresql_schema.sql
  src/phoenix/db/ddl/sqlite_schema.sql
  src/phoenix/db/insertion/trace.py
  src/phoenix/db/migrations/versions/a7f1c3e9d2b4_add_online_eval_coordination.py
  src/phoenix/db/models.py
  src/phoenix/server/api/routers/agents.py
  src/phoenix/server/online_eval/coordinator.py
  src/phoenix/server/online_eval/db_coordinator.py
  src/phoenix/server/online_eval/executor.py
  src/phoenix/tracers.py
  tests/integration/db_migrations/test_db_schema_a7f1c3e9d2b4_online_eval_coordination.py
  tests/unit/db/test_bulk_inserter.py
  tests/unit/server/online_eval/test_consumer.py
  tests/unit/test_tracers.py
Due: format-python, lint-python

fix(ui): online eval form nits (#16302)
  js/app/src/components/core/card/styles.ts
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopePanel.tsx
  js/app/src/pages/project/evaluators/__tests__/bindingPreview.test.tsx
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorTypes.test.ts
  js/app/src/pages/project/evaluators/projectEvaluatorTypes.ts
Due: oxfmt-js, oxlint-js

fix(ui): color online evaluator annotation badges by optimization direction (#16216)
  js/app/schema.graphql
  js/app/src/components/annotation/__generated__/useProjectAnnotationConfigsByName_config.graphql.ts
  js/app/src/components/annotation/__tests__/__generated__/useProjectAnnotationConfigsByNameTestQuery.graphql.ts
  js/app/src/components/annotation/__tests__/useProjectAnnotationConfigsByName.test.tsx
  js/app/src/components/annotation/useProjectAnnotationConfigsByName.ts
  js/app/src/hooks/__generated__/useProjectEvaluatorResultAnnotationsFragment.graphql.ts
  js/app/src/hooks/useProjectEvaluatorResultAnnotations.ts
  js/app/src/pages/project/evaluators/ProjectEvaluatorMeanScoreCell.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorMetrics.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorStats.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsTable.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareTargetsQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorTracesQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTablePaginationQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorsLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/projectEvaluatorMetricPanels.tsx
  src/phoenix/server/api/input_types/ProjectEvaluatorFilter.py
  src/phoenix/server/api/types/Evaluator.py
  src/phoenix/server/api/types/Project.py
  tests/unit/server/api/types/test_Project.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

chore: regenerate generated artifacts after rebasing onto main
  js/app/schema.graphql
  js/app/src/components/evaluators/__generated__/CodeEvaluatorTestSectionMutation.graphql.ts
  js/app/src/components/evaluators/__generated__/EvaluatorOutputPreviewMutation.graphql.ts
  js/app/src/pages/evaluators/__generated__/EvaluatorsTable_row.graphql.ts
  js/app/src/pages/experiments/__generated__/ExperimentDetailsDialogQuery.graphql.ts
  js/app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableFragment.graphql.ts
  js/app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableQuery.graphql.ts
  js/app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableRefetchQuery.graphql.ts
  js/app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableSubscription.graphql.ts
  js/app/src/pages/playground/__generated__/experimentRehydrationQuery.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/useEvaluatorTaskSaveCreateLLMMutation.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/useEvaluatorTaskSaveUpdateLLMMutation.graphql.ts
  js/app/src/pages/project/__generated__/TraceFilterConditionFieldVocabularyQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/EditProjectEvaluatorSlideoverUpdateLlmMutation.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/LLMProjectEvaluatorDetails_projectEvaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareTargetsQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorScopePanelPreviewMutation.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorScopePanelTraceCountQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorScopePanelTracesQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorTracesQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_row.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/createProjectLlmEvaluatorMutation.graphql.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(ui): stop the project's span filter from emptying an evaluator's traces (#16581)
  js/app/src/pages/project/evaluators/ProjectEvaluatorTracePage.tsx
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorPaths.test.tsx
  js/app/src/pages/project/evaluators/projectEvaluatorPaths.ts
Due: oxfmt-js, oxlint-js

feat(online evals): shade sparklines down to the baseline so sparse series read as charts (#16408)
  js/app/src/components/chart/Sparkline.tsx
  js/app/src/components/chart/__tests__/Sparkline.test.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorMeanScoreCell.tsx
  js/app/stories/Sparkline.stories.tsx
Due: oxfmt-js, oxlint-js

fix(ui): land on the evaluator list after creating from the gallery (#16481)
  js/app/src/Routes.tsx
  js/app/src/constants/searchParams.ts
  js/app/src/pages/project/evaluators/AddProjectEvaluatorMenu.tsx
  js/app/src/pages/project/evaluators/CreateProjectEvaluatorSlideover.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryModal.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorSlideoverRoutes.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsEmptyState.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsToolbar.tsx
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorPaths.test.tsx
  js/app/src/pages/project/evaluators/projectEvaluatorContext.tsx
  js/app/src/pages/project/evaluators/projectEvaluatorPaths.ts
  js/app/src/pages/project/evaluators/projectEvaluatorTemplates.ts
  js/app/src/pages/project/index.tsx
  js/app/tests/projects.spec.ts
Due: oxfmt-js, oxlint-js

fix(ui): show a disabled project evaluator as Disabled (#16580)
  js/app/src/pages/project/evaluators/ProjectEvaluatorStats.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorStatusCell.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsTable.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsToolbar.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorStats_projectEvaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorDetailsLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorTypes.test.ts
  js/app/src/pages/project/evaluators/projectEvaluatorTypes.ts
Due: oxfmt-js, oxlint-js

feat(online-evals): failure rate column on the project evaluators table (#16419)
  js/app/schema.graphql
  js/app/src/pages/project/evaluators/ProjectEvaluatorFailuresCell.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsTable.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsToolbar.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTablePaginationQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_failures.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_project.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorsLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/refetchProjectEvaluatorsQuery.graphql.ts
  js/app/src/pages/project/evaluators/refetchProjectEvaluators.ts
  src/phoenix/db/ddl/postgresql_schema.sql
  src/phoenix/db/ddl/sqlite_schema.sql
  src/phoenix/db/eval_work.py
  src/phoenix/db/migrations/versions/a7f1c3e9d2b4_add_online_eval_coordination.py
  src/phoenix/db/models.py
  src/phoenix/server/api/dataloaders/project_evaluator_run_counts.py
  src/phoenix/server/api/types/Evaluator.py
  tests/integration/db_migrations/test_db_schema_a7f1c3e9d2b4_online_eval_coordination.py
  tests/unit/server/api/types/test_Evaluator.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(ui): put code evaluator scope on the left, consistent with LLM forms (#16479)
  js/app/src/components/evaluators/CodeAuthoringFields.tsx
  js/app/src/components/evaluators/CodeEvaluatorAnnotationSection.tsx
  js/app/src/components/evaluators/CodeEvaluatorSourceEditor.tsx
  js/app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
  js/app/src/components/evaluators/EvaluatorNameAndDescriptionFields.tsx
  js/app/src/components/evaluators/LLMEvaluatorForm.tsx
  js/app/src/pages/project/evaluators/CreateProjectCodeEvaluatorDialogContent.tsx
  js/app/src/pages/project/evaluators/CreateProjectEvaluatorSlideover.tsx
  js/app/src/pages/project/evaluators/EditProjectEvaluatorSlideover.tsx
  js/app/src/pages/project/evaluators/ProjectCodeEvaluatorDialogContent.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorFormSections.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopeFields.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopePanel.tsx
Due: oxfmt-js, oxlint-js

fix: reconcile the online evals branch with main after rebasing onto it
  js/app/src/components/annotation/__tests__/useProjectAnnotationConfigsByName.test.tsx
  js/app/src/components/evaluators/codeEvaluatorUtils.ts
  js/app/src/pages/project/evaluators/ProjectEvaluatorInputMapping.tsx
  src/phoenix/db/helpers.py
  src/phoenix/db/insertion/project_session.py
  src/phoenix/db/insertion/trace.py
  src/phoenix/server/api/dataloaders/annotation_mean_score_time_series.py
  src/phoenix/server/api/dataloaders/project_evaluator_run_counts.py
  src/phoenix/server/api/helpers/evaluator_distribution.py
  src/phoenix/server/online_eval/db_coordinator.py
  src/phoenix/server/online_eval/producer.py
  src/phoenix/server/online_eval/sweeper.py
  src/phoenix/server/online_eval/tracing.py
  tests/unit/server/api/types/test_ExperimentJob.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

feat(ui): map online evaluator inputs by the variables the evaluator declares (#16483)
  js/app/src/components/evaluators/EvaluatorInputMapping.tsx
  js/app/src/components/evaluators/EvaluatorNameInput.tsx
  js/app/src/components/evaluators/EvaluatorPathField.tsx
  js/app/src/components/evaluators/LLMEvaluatorForm.tsx
  js/app/src/components/evaluators/__tests__/evaluatorSlotDefaults.test.ts
  js/app/src/components/evaluators/evaluatorSlotDefaults.ts
  js/app/src/pages/project/evaluators/CreateProjectCodeEvaluatorDialogContent.tsx
  js/app/src/pages/project/evaluators/CreateProjectEvaluatorSlideover.tsx
  js/app/src/pages/project/evaluators/EditProjectEvaluatorSlideover.tsx
  js/app/src/pages/project/evaluators/ProjectCodeEvaluatorDialogContent.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorFormSections.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorInputMapping.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopePanel.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorSubmitHint.tsx
  js/app/src/pages/project/evaluators/ProjectLlmEvaluatorDialogContent.tsx
  js/app/src/pages/project/evaluators/__tests__/bindingPreview.test.tsx
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorDeclaredMapping.test.tsx
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorLiteralRoundTrip.test.tsx
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorTypes.test.ts
  js/app/src/pages/project/evaluators/projectEvaluatorOptions.ts
  js/app/src/pages/project/evaluators/projectEvaluatorTypes.ts
  js/app/tests/projects.spec.ts
Due: oxfmt-js, oxlint-js

fix(ui): Unfold eval gallery prompts/code (#16576)
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryModal.tsx
Due: oxfmt-js, oxlint-js

chore(dev): run datagen by default in pnpm dev (#16454)
  DEVELOPMENT.md
  js/app/mprocs.yaml
Due: oxfmt-js

feat(playground): edit the dataset's examples from the playground table (#16662)
  docs/phoenix/prompt-engineering/how-to-prompts/using-the-playground.mdx
  js/app/src/components/experiment/ExperimentInputCell.tsx
  js/app/src/components/experiment/ExperimentReferenceOutputCell.tsx
  js/app/src/components/table/edit/DiscardEditsDialog.tsx
  js/app/src/components/table/edit/EditableJSONCell.tsx
  js/app/src/components/table/edit/EditableTableToolbar.tsx
  js/app/src/components/table/edit/index.ts
  js/app/src/components/table/edit/useEditableTableCell.ts
  js/app/src/pages/examples/ExamplesEditToolbar.tsx
  js/app/src/pages/examples/SaveDatasetExamplesDialog.tsx
  js/app/src/pages/examples/newExampleTemplate.ts
  js/app/src/pages/playground/Playground.tsx
  js/app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  js/app/src/pages/playground/PlaygroundDatasetSection.tsx
  js/app/src/pages/playground/PlaygroundExperimentToolbar.tsx
  js/app/src/pages/playground/PlaygroundRunButton.tsx
  js/app/src/pages/playground/evaluatorCells/PlaygroundEvaluatorExampleCell.tsx
  js/app/src/pages/playground/examplesEditing/EditExampleCellButton.tsx
  js/app/src/pages/playground/examplesEditing/PlaygroundExampleEditContent.tsx
  js/app/src/pages/playground/examplesEditing/PlaygroundExampleEditingContext.tsx
  js/app/src/pages/playground/examplesEditing/PlaygroundExampleRowActionsCell.tsx
  js/app/src/pages/playground/examplesEditing/PlaygroundExamplesEditToolbar.tsx
  js/app/src/pages/playground/examplesEditing/__tests__/playgroundExampleEditing.test.ts
  js/app/src/pages/playground/examplesEditing/index.ts
  js/app/src/pages/playground/examplesEditing/playgroundExampleEditing.ts
  js/app/src/store/__tests__/editableTableStore.test.ts
  js/app/src/store/editableTableStore.ts
  js/app/src/types/table.ts
Due: oxfmt-js, oxlint-js

fix(online-eval): claim only the work units a consumer can start (#16464)
  docs/phoenix/self-hosting/configuration.mdx
  src/phoenix/config.py
  src/phoenix/server/online_eval/consumer.py
  src/phoenix/server/online_eval/coordinator.py
  src/phoenix/server/online_eval/db_coordinator.py
  tests/unit/server/online_eval/test_consumer.py
  tests/unit/server/online_eval/test_producer.py
Due: format-python, lint-python

fix(online-eval): key work units on the project evaluator (#16468)
  internal_docs/specs/online-evals.md
  src/phoenix/db/ddl/postgresql_schema.sql
  src/phoenix/db/ddl/sqlite_schema.sql
  src/phoenix/db/eval_work.py
  src/phoenix/db/migrations/versions/a7f1c3e9d2b4_add_online_eval_coordination.py
  src/phoenix/db/models.py
  src/phoenix/server/api/dataloaders/project_evaluator_run_counts.py
  src/phoenix/server/online_eval/consumer.py
  src/phoenix/server/online_eval/coordinator.py
  src/phoenix/server/online_eval/db_coordinator.py
  src/phoenix/server/online_eval/derivation.py
  src/phoenix/server/online_eval/executor.py
  src/phoenix/server/online_eval/producer.py
  src/phoenix/server/online_eval/project_evaluator_resolution.py
  src/phoenix/server/online_eval/session_policy.py
  src/phoenix/server/online_eval/sweeper.py
  src/phoenix/server/prometheus.py
  tests/integration/db_migrations/test_db_schema_a7f1c3e9d2b4_online_eval_coordination.py
  tests/unit/_helpers.py
  tests/unit/db/test_eval_work_coordination.py
  tests/unit/db/types/test_trace_retention.py
  tests/unit/server/api/types/test_Evaluator.py
  tests/unit/server/online_eval/test_consumer.py
  tests/unit/server/online_eval/test_db_coordinator.py
  tests/unit/server/online_eval/test_producer.py
  tests/unit/server/online_eval/test_session_sweeper.py
Due: format-python, lint-python

docs(online-eval): correct docstrings that no longer match the code (#16462)
  internal_docs/specs/online-evals.md
  js/app/schema.graphql
  src/phoenix/db/models.py
  src/phoenix/server/api/dataloaders/project_evaluator_run_counts.py
  src/phoenix/server/api/types/Evaluator.py
  src/phoenix/server/online_eval/db_coordinator.py
  src/phoenix/server/online_eval/derivation.py
  src/phoenix/server/online_eval/executor.py
  src/phoenix/server/online_eval/producer.py
  src/phoenix/server/prometheus.py
  tests/unit/server/online_eval/test_consumer.py
  tests/unit/server/online_eval/test_db_coordinator.py
  tests/unit/server/online_eval/test_producer.py
  tests/unit/server/online_eval/test_session_sweeper.py
Due: format-python, lint-python

fix(online-eval): stop publication from locking evaluator and entity rows (#16465)
  src/phoenix/server/online_eval/coordinator.py
  src/phoenix/server/online_eval/db_coordinator.py
  tests/unit/server/online_eval/test_db_coordinator.py
Due: format-python, lint-python

refactor(online-eval): one lease table and one lease helper for the materializers (#16477)
  src/phoenix/db/ddl/postgresql_schema.sql
  src/phoenix/db/ddl/sqlite_schema.sql
  src/phoenix/db/migrations/versions/a7f1c3e9d2b4_add_online_eval_coordination.py
  src/phoenix/db/models.py
  src/phoenix/server/online_eval/consumer.py
  src/phoenix/server/online_eval/coordinator.py
  src/phoenix/server/online_eval/db_coordinator.py
  src/phoenix/server/online_eval/leases.py
  src/phoenix/server/online_eval/producer.py
  src/phoenix/server/online_eval/sweeper.py
  tests/integration/db_migrations/test_db_schema_a7f1c3e9d2b4_online_eval_coordination.py
  tests/unit/db/test_eval_work_coordination.py
  tests/unit/server/online_eval/test_app_wiring.py
  tests/unit/server/online_eval/test_leases.py
  tests/unit/server/online_eval/test_producer.py
  tests/unit/server/online_eval/test_session_sweeper.py
  tests/unit/server/online_eval/test_work_unit_query_plans.py
Due: format-python, lint-python

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
