Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat: add block-no-verify PreToolUse hook to .claude/settings.json
  .claude/settings.json
Due: none

docs: update package READMEs for recently added features
  js/.changeset/readme-updates-march-2026.md
  js/packages/phoenix-cli/README.md
  js/packages/phoenix-client/README.md
  packages/phoenix-client/README.md
Due: oxfmt-js

format readme
  js/packages/phoenix-cli/README.md
  js/packages/phoenix-client/README.md
Due: oxfmt-js

chore: bump uv to 0.10.9 for Dependabot compatibility
  .github/workflows/cost-sync.yml
  .github/workflows/helm-ci.yml
  .github/workflows/playwright.yaml
  .github/workflows/publish.yaml
  .github/workflows/python-CI.yml
  .github/workflows/python-all-platforms.yml
  .github/workflows/sync-lockfile-release-pr.yml
  Dockerfile
  pyproject.toml
  scripts/docker/devops/Dockerfile
Due: uv-lock-check

uv sync --upgrade
  src/phoenix/server/api/helpers/playground_clients.py
  src/phoenix/server/api/types/GenerativeModel.py
  uv.lock
Due: format-python, lint-python, uv-lock-check

fix(docker): use published uv 0.10.9 trixie-slim base image
  Dockerfile
Due: none

feat: add GET /v1/user endpoint for authenticated user profile (#12262)
  src/phoenix/server/api/routers/v1/users.py
  tests/integration/_helpers.py
  tests/integration/client/test_users.py
Due: format-python, lint-python

refactor: remove username from AnonymousUser
  src/phoenix/server/api/routers/v1/users.py
  tests/integration/client/test_users.py
Due: format-python, lint-python

chore: regenerate OpenAPI schema and client types for GET /v1/user
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
Due: format-python, lint-python, oxfmt-js, oxlint-js

chore: add phoenix-rest-api skill
  .agents/skills/phoenix-rest-api/SKILL.md
  .agents/skills/phoenix-rest-api/references/endpoint-patterns.md
  .agents/skills/phoenix-rest-api/references/openapi-codegen.md
  .agents/skills/phoenix-rest-api/references/testing-patterns.md
  .claude/skills/phoenix-rest-api
Due: none

chore: add REST API design principles to phoenix-rest-api skill
  .agents/skills/phoenix-rest-api/references/endpoint-patterns.md
Due: none

chore: reference RFC 9110 and RFC 5789 for HTTP methods and status codes
  .agents/skills/phoenix-rest-api/references/endpoint-patterns.md
Due: none

chore: adopt RFC 2119/8174 notation in REST API design principles
  .agents/skills/phoenix-rest-api/references/endpoint-patterns.md
Due: none

chore: document union identifiers in REST path structure
  .agents/skills/phoenix-rest-api/references/endpoint-patterns.md
Due: none

refactor: use _db_user_to_response in create_user to eliminate duplication
  src/phoenix/server/api/routers/v1/users.py
Due: format-python, lint-python

fix: use fresh ports for no-auth test server and fix import ordering
  tests/integration/client/test_users.py
Due: format-python, lint-python

chore: simplify testing-patterns.md to focus on what to test
  .agents/skills/phoenix-rest-api/references/testing-patterns.md
Due: none

chore: condense phoenix-rest-api skill from 314 to 71 lines
  .agents/skills/phoenix-rest-api/SKILL.md
  .agents/skills/phoenix-rest-api/references/endpoint-patterns.md
  .agents/skills/phoenix-rest-api/references/openapi-codegen.md
  .agents/skills/phoenix-rest-api/references/testing-patterns.md
Due: none

fix: remove default from AnonymousUser.auth_method so it survives response_model_exclude_defaults
  src/phoenix/server/api/routers/v1/users.py
Due: format-python, lint-python

fix: regenerate OpenAPI schema and fix import ordering in test_users
  schemas/openapi.json
  tests/integration/client/test_users.py
Due: format-python, lint-python

remove extra dollar sign icon
  app/src/components/trace/TokenCosts.tsx
Due: oxfmt-app, oxlint-app

fix(sandbox): rebuild Relay artifacts for updated GraphQL schema
  app/src/components/evaluators/__generated__/EvaluatorOutputPreviewMutation.graphql.ts
Due: oxfmt-app, oxlint-app

ci: enable PR comments and allowedTools for Claude code review
  .github/workflows/claude-code-review.yml
Due: none

feat: add expectedRunCount experiment field and experiments table fraction
  app/schema.graphql
  app/src/pages/experiments/ExperimentsTable.tsx
  app/src/pages/experiments/__generated__/ExperimentsPageQuery.graphql.ts
  app/src/pages/experiments/__generated__/ExperimentsTableFragment.graphql.ts
  app/src/pages/experiments/__generated__/ExperimentsTableQuery.graphql.ts
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/experiment_expected_run_counts.py
  src/phoenix/server/api/types/Experiment.py
  src/phoenix/server/app.py
  tests/unit/server/api/types/test_Experiment.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

Update ChatCompletionOverDatasetSubscription test cassettes
  tests/unit/server/api/cassettes/test_subscriptions/TestChatCompletionOverDatasetSubscription.test_evaluator_not_emitted_when_task_errors.yaml
  tests/unit/server/api/cassettes/test_subscriptions/TestChatCompletionOverDatasetSubscription.test_experiment_with_multiple_splits.yaml
  tests/unit/server/api/cassettes/test_subscriptions/TestChatCompletionOverDatasetSubscription.test_experiment_with_single_split_filters_examples.yaml
  tests/unit/server/api/cassettes/test_subscriptions/TestChatCompletionOverDatasetSubscription.test_experiment_without_splits_includes_all_examples.yaml
  tests/unit/server/api/helpers/test_playground_clients.py
Due: format-python, lint-python

docs: promote coding agents to top-level docs nav
  docs.json
Due: none

feat(trace): show trace, session, and span IDs with copy in headers
  app/src/components/core/InteractiveValue.tsx
  app/src/components/core/ScopeHeader.tsx
  app/src/components/core/index.tsx
  app/src/pages/trace/SessionDetails.tsx
  app/src/pages/trace/SessionPage.tsx
  app/src/pages/trace/SpanDetails.tsx
  app/src/pages/trace/TraceDetails.tsx
  app/src/pages/trace/TracePage.tsx
  app/src/pages/trace/__generated__/SpanDetailsQuery.graphql.ts
Due: oxfmt-app, oxlint-app

refactor: border colors
  app/src/GlobalStyles.tsx
  app/src/components/agent/AgentChatPanel.tsx
  app/src/components/code/CodeWrap.tsx
  app/src/components/experiment/ExperimentCompareDetails.tsx
  app/src/components/resize/styles.tsx
  app/src/pages/Layout.tsx
  app/src/pages/evaluators/DatasetEvaluatorsFilterBar.tsx
  app/src/pages/evaluators/EvaluatorsFilterBar.tsx
  app/src/pages/experiment/ExperimentCompareTable.tsx
  app/src/pages/playground/PlaygroundChatTemplate.tsx
  app/src/pages/playground/VariableEditor.tsx
  app/src/pages/project/SessionsTable.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/TracesTable.tsx
  app/src/pages/projects/ProjectsPage.tsx
  app/src/pages/prompts/PromptsFilterBar.tsx
Due: oxfmt-app, oxlint-app

chore(app): format Relay GraphQL and styled CSS
  app/src/GlobalStyles.tsx
  app/src/components/experiment/ExperimentCompareDetails.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/TracesTable.tsx
Due: oxfmt-app, oxlint-app

docs: reorganize Get Started nav with Quick Start subgroup and rocket icon
  docs.json
Due: none

docs: move agent-assisted-setup under Coding Agents group
  docs.json
Due: none

docs: move agent-assisted setup under Coding Agents and rename to Agent-Assisted Tracing
  docs/phoenix/agent-assisted-setup.mdx
Due: none

chore: update sitemap.xml
  docs/phoenix/sitemap.xml
  sitemap.xml
Due: none

test: Add correctness tests and benchmark harness for collector perf changes
  scripts/perf/collector/benchmark_span_insertion.py
  tests/unit/db/test_bulk_inserter.py
  tests/unit/db/test_cumulative.py
  tests/unit/db/test_span_insertion.py
Due: format-python, lint-python

Add collector refactor spec
  internal_docs/specs/collector-performance-improvements.md
Due: none

fix(test): avoid concurrent savepoints on SQLite in span insertion test
  tests/unit/db/test_span_insertion.py
Due: format-python, lint-python

perf: Improve otel collector performance
  src/phoenix/config.py
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/insertion/cumulative.py
  src/phoenix/db/insertion/span.py
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/app.py
  src/phoenix/server/daemons/cumulative_repair.py
  src/phoenix/tracers.py
  tests/unit/db/test_bulk_inserter.py
  tests/unit/db/test_cumulative.py
  tests/unit/db/test_span_insertion.py
Due: format-python, lint-python

fix: session pre-resolution uses correct attribute accessor; repair daemon advances cursor
  src/phoenix/db/bulk_inserter.py
  src/phoenix/server/daemons/cumulative_repair.py
Due: format-python, lint-python

Bugfix pass
  src/phoenix/db/bulk_inserter.py
  tests/unit/_helpers.py
Due: format-python, lint-python

feat: ID icon
  app/src/GlobalStyles.tsx
  app/src/Routes.tsx
  app/src/components/AlphabeticIndexIcon.tsx
  app/src/components/auth/OneTimeAPIKeyDialog.tsx
  app/src/components/code/AttributesJSONBlock.tsx
  app/src/components/code/BashBlockWithCopy.tsx
  app/src/components/code/PythonBlockWithCopy.tsx
  app/src/components/code/TypeScriptBlockWithCopy.tsx
  app/src/components/core/CopyToClipboardButton.tsx
  app/src/components/core/icon/Icon.tsx
  app/src/components/core/icon/Icons.tsx
  app/src/components/core/index.tsx
  app/src/components/core/tag/Tag.tsx
  app/src/components/dnd/DragHandle.tsx
  app/src/components/index.tsx
  app/src/components/nav/NavBreadcrumb.tsx
  app/src/components/nav/NavCopyActionMenu.tsx
  app/src/components/nav/Navbar.tsx
  app/src/components/resize/styles.tsx
  app/src/components/trace/TraceTree.tsx
  app/src/hooks/useChatMessageStyles.ts
  app/src/hooks/useMatchesWithCrumb.ts
  app/src/pages/dataset/AddDatasetExampleDialog.tsx
  app/src/pages/datasets/ColumnAssigner/ColumnBucket.tsx
  app/src/pages/datasets/ColumnAssigner/ColumnTag.tsx
  app/src/pages/datasets/DatasetsTable.tsx
  app/src/pages/example/EditExampleDialog.tsx
  app/src/pages/examples/ExamplesTable.tsx
  app/src/pages/playground/PlaygroundTemplate.tsx
  app/src/pages/playground/PromptMenu.tsx
  app/src/pages/prompts/PromptsTable.tsx
  app/src/pages/trace/SpanDetails.tsx
  app/src/pages/trace/SpanToDatasetExampleDialog.tsx
  app/stories/Icons.stories.tsx
Due: oxfmt-app, oxlint-app

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
