Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

refactor: extract semantic table color tokens and add tooltip arrows
  app/src/GlobalStyles.tsx
  app/src/components/table/styles.ts
  app/src/pages/experiment/ExampleDetailsPaginator.tsx
  app/src/pages/trace/TraceDetailsPaginator.tsx
Due: oxfmt-app, oxlint-app

fix(prompts): replace fetchQuery with loadQuery in promptConfigLoader
  app/src/pages/prompt/PromptConfigPage.tsx
  app/src/pages/prompt/promptConfigLoader.ts
Due: oxfmt-app, oxlint-app

fix(prompts): replace fetchQuery with loadQuery in promptVersionLoader
  app/src/pages/prompt/PromptVersionDetailsPage.tsx
  app/src/pages/prompt/promptVersionLoader.tsx
Due: oxfmt-app, oxlint-app

fix(datasets): replace fetchQuery with loadQuery in datasetVersionsLoader
  app/src/pages/dataset/versions/DatasetVersionsPage.tsx
  app/src/pages/dataset/versions/datasetVersionsLoader.tsx
Due: oxfmt-app, oxlint-app

fix(auth): replace fetchQuery with loadQuery in resetPasswordLoader
  app/src/pages/auth/ResetPasswordPage.tsx
  app/src/pages/auth/resetPasswordLoader.ts
Due: oxfmt-app, oxlint-app

fix(auth): replace fetchQuery with loadQuery in authenticatedRootLoader
  app/src/pages/AuthenticatedRoot.tsx
  app/src/pages/__generated__/authenticatedRootLoaderQuery.graphql.ts
  app/src/pages/__generated__/authenticatedRootLoader_viewerQuery.graphql.ts
  app/src/pages/authenticatedRootLoader.ts
Due: oxfmt-app, oxlint-app

fix(dashboards): replace fetchQuery with loadQuery in dashboardsLoader
  app/src/pages/dashboards/DashboardsPage.tsx
  app/src/pages/dashboards/dashboardsLoader.tsx
Due: oxfmt-app, oxlint-app

fix(settings): replace fetchQuery with loadQuery in settingsAIProvidersPageLoader
  app/src/pages/settings/SettingsAIProvidersPage.tsx
  app/src/pages/settings/settingsAIProvidersPageLoader.ts
Due: oxfmt-app, oxlint-app

fix(filter): raise SyntaxError when comparing string field to numeric value
  src/phoenix/trace/dsl/filter.py
  tests/unit/trace/dsl/test_filter.py
Due: format-python, lint-python

refactor: remove redundant fetchQuery calls in loaders that already use loadQuery
  app/src/Routes.tsx
  app/src/pages/dataset/datasetLoader.ts
  app/src/pages/dataset/evaluators/EvaluatorTracePage.tsx
  app/src/pages/dataset/evaluators/datasetEvaluatorDetailsLoader.ts
  app/src/pages/prompt/promptLoader.tsx
Due: oxfmt-app, oxlint-app

fix(agent): align tool output handling with AI SDK guidance
  app/src/components/agent/Chat.tsx
Due: oxfmt-app, oxlint-app

feedback
  app/src/agent/chat/buildAgentChatRequestBody.ts
  app/src/agent/tools/bash/bashToolSchema.ts
  app/src/agent/tools/bash/handleBashToolCall.ts
  app/src/agent/tools/types.ts
Due: oxfmt-app, oxlint-app

feat(agent): add bash execution limits
  app/src/agent/tools/bash/bashToolRuntime.ts
  app/src/agent/tools/bash/bashToolTypes.ts
  app/src/agent/tools/bash/index.ts
  internal_docs/agent-filesystem/tasks.md
Due: oxfmt-app, oxlint-app

feat(agent): expose bash sandbox limits and richer command results
  app/src/agent/chat/__tests__/buildAgentChatRequestBody.test.ts
  app/src/agent/chat/__tests__/handleAgentToolCall.test.ts
  app/src/agent/chat/buildAgentChatRequestBody.ts
  app/src/agent/tools/bash/bashToolCapabilities.ts
  app/src/agent/tools/bash/bashToolRuntime.ts
  app/src/agent/tools/bash/bashToolSchema.ts
  app/src/agent/tools/bash/bashToolSessionRegistry.ts
  app/src/agent/tools/bash/bashToolTypes.ts
  app/src/agent/tools/bash/index.ts
  app/src/components/agent/ChatMessage.tsx
Due: oxfmt-app, oxlint-app

feat(agent): enforce bash filesystem write policy
  app/package.json
  app/pnpm-lock.yaml
  app/src/agent/tools/bash/bashToolFilesystemPolicy.ts
  app/src/agent/tools/bash/bashToolRuntime.ts
  app/src/agent/tools/bash/index.ts
  internal_docs/agent-filesystem/plan.md
  internal_docs/agent-filesystem/tasks.md
Due: oxfmt-app, oxlint-app

feat(agent): refresh chat context on navigation and /refresh
  app/src/components/agent/AgentChatPanel.tsx
  app/src/components/agent/Chat.tsx
  app/src/pages/Layout.tsx
  app/src/pages/ProjectsRoot.tsx
  app/src/pages/agents/AgentsPage.tsx
Due: oxfmt-app, oxlint-app

feat(agent): materialize page state into /phoenix snapshots
  app/src/agent/context/__tests__/refreshAgentContext.test.ts
  app/src/agent/context/filesystem/contextMetadata.ts
  app/src/agent/context/filesystem/index.ts
  app/src/agent/context/filesystem/indexFiles.ts
  app/src/agent/context/filesystem/manifest.ts
  app/src/agent/context/filesystem/pathConstants.ts
  app/src/agent/context/filesystem/schemaFiles.ts
  app/src/agent/context/generatePageContextFiles.ts
  app/src/agent/context/materializers/genericPageMaterializer.ts
  app/src/agent/context/materializers/materializePageContext.ts
  app/src/agent/context/materializers/projectPageMaterializer.ts
  app/src/agent/context/materializers/shared.ts
  app/src/agent/context/materializers/tracePageMaterializer.ts
  app/src/agent/context/pageContext.ts
  app/src/agent/context/pageContextTypes.ts
  app/src/agent/context/refreshAgentContext.ts
  app/src/agent/context/sources/__experimental__/graphql/graphqlPageContextQueries.ts
  app/src/agent/context/sources/__experimental__/graphql/graphqlPageContextSource.ts
  app/src/agent/context/sources/__experimental__/graphql/graphqlPageContextTypes.ts
  app/src/agent/context/sources/__experimental__/graphql/graphqlTransport.ts
  app/src/agent/context/sources/types.ts
Due: oxfmt-app, oxlint-app

docs(agent): document the context lifecycle and follow-up work
  internal_docs/agent-filesystem/README.md
  internal_docs/agent-filesystem/chat-session-context-lifecycle.md
  internal_docs/agent-filesystem/page-context-refactor-plan.md
  internal_docs/agent-filesystem/tasks.md
Due: none

format
  app/src/agent/tools/bash/bashToolSchema.ts
Due: oxfmt-app, oxlint-app

feat: new icons for mastra, llamaindex, bedrock
  app/src/components/generative/GenerativeProviderIcon.tsx
  app/src/components/project/IntegrationIcons.tsx
Due: oxfmt-app, oxlint-app

fix: respect height property
  app/src/components/generative/GenerativeProviderIcon.tsx
Due: oxfmt-app, oxlint-app

clean
  app/src/pages/settings/SettingsAIProvidersPage.tsx
Due: oxfmt-app, oxlint-app

types
  app/src/pages/dashboards/DashboardsPage.tsx
Due: oxfmt-app, oxlint-app

refactor(agent): extract chat panel state and share bash policy metadata
  app/src/agent/tools/bash/bashToolFilesystemPolicy.ts
  app/src/agent/tools/bash/bashToolRuntime.ts
  app/src/components/agent/AgentChatPanel.tsx
  app/src/components/agent/useAgentChatPanelState.ts
Due: oxfmt-app, oxlint-app

docs(agent): fix GitHub Mermaid lifecycle diagram
  internal_docs/agent-filesystem/chat-session-context-lifecycle.md
Due: none

docs(agent): simplify Mermaid labels for GitHub
  internal_docs/agent-filesystem/chat-session-context-lifecycle.md
Due: none

fix(js): re-export suppressTracing from phoenix-otel
  docs/phoenix/tracing/how-to-tracing/setup-tracing/instrument.mdx
  js/packages/phoenix-otel/src/index.ts
  js/packages/phoenix-otel/test/suppressTracing.test.ts
Due: oxfmt-js, oxlint-js

clean
  app/src/pages/dataset/versions/DatasetVersionsPage.tsx
  app/src/pages/dataset/versions/datasetVersionsLoader.tsx
Due: oxfmt-app, oxlint-app

clean
  app/src/pages/AuthenticatedRoot.tsx
  app/src/pages/auth/ResetPasswordPage.tsx
  app/src/pages/dashboards/dashboardsLoader.tsx
  app/src/pages/dataset/versions/datasetVersionsLoader.tsx
  app/src/pages/prompt/promptVersionLoader.tsx
Due: oxfmt-app, oxlint-app

clean;
  app/src/pages/auth/__generated__/resetPasswordLoaderCheckQuery.graphql.ts
  app/src/pages/auth/__generated__/resetPasswordLoaderQuery.graphql.ts
  app/src/pages/auth/resetPasswordLoader.ts
  app/src/pages/dataset/versions/DatasetVersionsPage.tsx
  app/src/pages/dataset/versions/datasetVersionsLoader.tsx
  app/src/pages/prompt/PromptConfigPage.tsx
  app/src/pages/prompt/PromptVersionDetailsPage.tsx
  app/src/pages/prompt/promptConfigLoader.ts
  app/src/pages/prompt/promptVersionLoader.tsx
  app/src/pages/settings/SettingsAIProvidersPage.tsx
  app/src/pages/settings/settingsAIProvidersPageLoader.ts
Due: oxfmt-app, oxlint-app

ci: prevent httpx.ReadTimeout in experiment integration tests
  tests/integration/_mock_llm_server.py
  tests/integration/experiments/test_playground.py
Due: format-python, lint-python

clean
  app/src/contexts/ViewerContext.tsx
  app/src/contexts/__generated__/ViewerContextRefetchQuery.graphql.ts
  app/src/contexts/__generated__/ViewerContext_viewer.graphql.ts
  app/src/pages/AuthenticatedRoot.tsx
  app/src/pages/__generated__/AuthenticatedRoot_viewer.graphql.ts
  app/src/pages/__generated__/authenticatedRootLoaderQuery.graphql.ts
  app/src/pages/__generated__/authenticatedRootLoader_viewerPasswordNeedsResetQuery.graphql.ts
  app/src/pages/__generated__/authenticatedRootLoader_viewerQuery.graphql.ts
  app/src/pages/authenticatedRootLoader.ts
Due: oxfmt-app, oxlint-app

clean
  app/src/contexts/ViewerContext.tsx
  app/src/contexts/__generated__/ViewerContextRefetchQuery.graphql.ts
  app/src/contexts/__generated__/ViewerContext_viewer.graphql.ts
  app/src/pages/__generated__/authenticatedRootLoaderQuery.graphql.ts
Due: oxfmt-app, oxlint-app

clean
  app/src/pages/auth/ResetPasswordPage.tsx
  app/src/pages/dashboards/DashboardsPage.tsx
Due: oxfmt-app, oxlint-app

clean
  app/src/pages/prompt/PromptConfigPage.tsx
  app/src/pages/prompt/promptConfigLoader.ts
Due: oxfmt-app, oxlint-app

clean
  app/src/pages/dataset/versions/datasetVersionsLoader.tsx
Due: oxfmt-app, oxlint-app

clean
  .pre-commit-config.yaml
  app/src/pages/prompt/PromptVersionDetailsPage.tsx
  app/src/pages/prompt/promptVersionLoader.tsx
Due: oxfmt-app, oxlint-app

fix(db): address PR review feedback — rename provider_id, revert _InputMapping change
  scripts/ddl/postgresql_schema.sql
  src/phoenix/db/migrations/versions/0ff41b5b118f_add_sandbox_and_code_evaluator_support.py
  src/phoenix/db/models.py
Due: format-python, lint-python

fix(db): return default InputMapping for pre-existing rows with NULL
  src/phoenix/db/models.py
Due: format-python, lint-python

Modernize legacy eval prompt templates to use XML tags
  docs/phoenix/evaluation/pre-built-metrics/q-and-a-on-retrieved-data.mdx
  docs/phoenix/evaluation/pre-built-metrics/retrieval-rag-relevance.mdx
  docs/phoenix/evaluation/pre-built-metrics/sql-generation-eval.mdx
  docs/phoenix/evaluation/pre-built-metrics/summarization-eval.mdx
  docs/phoenix/evaluation/pre-built-metrics/tool-calling-eval.mdx
  docs/phoenix/evaluation/pre-built-metrics/toxicity.mdx
Due: none
