Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs(evaluators): name the context keys an omitted input mapping can bind
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/evaluators.mdx
  js/app/src/api/__generated__/v1.ts
  js/packages/phoenix-cli/src/commands/projectEvaluator.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-client/src/evaluators/createProjectEvaluator.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/resources/evaluators/project_evaluators.py
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/evaluators.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(evaluators): move the evaluator prompt label when the prompt changes
  src/phoenix/server/api/helpers/dataset_evaluator_service.py
  src/phoenix/server/api/helpers/evaluator_service.py
  tests/unit/server/api/mutations/test_evaluator_mutations.py
Due: format-python, lint-python

fix(prompts): toast when setting a prompt version tag fails
  js/app/src/components/prompt/TagPromptVersionButton.tsx
Due: oxfmt-js, oxlint-js

refactor(api): share the identifier pattern between validation and OpenAPI
  src/phoenix/db/types/identifier.py
  tests/unit/db/types/test_identifier.py
Due: format-python, lint-python

fix(api): explain identifier rules instead of returning the regex
  src/phoenix/db/types/identifier.py
  tests/unit/db/types/test_identifier.py
Due: format-python, lint-python

fix(evaluators): remove trace projects when detaching bindings
  docs/phoenix/sdk-api-reference/python/arize-phoenix-client.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/evaluators.mdx
  js/app/src/api/__generated__/v1.ts
  js/packages/phoenix-cli/README.md
  js/packages/phoenix-cli/src/commands/datasetEvaluator.ts
  js/packages/phoenix-cli/src/commands/projectEvaluator.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-client/src/evaluators/deleteDatasetEvaluators.ts
  js/packages/phoenix-client/src/evaluators/deleteProjectEvaluators.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/resources/evaluators/dataset_evaluators.py
  packages/phoenix-client/src/phoenix/client/resources/evaluators/project_evaluators.py
  schemas/openapi.json
  src/phoenix/server/api/helpers/dataset_evaluator_service.py
  src/phoenix/server/api/helpers/evaluator_service.py
  src/phoenix/server/api/helpers/project_evaluator_service.py
  src/phoenix/server/api/mutations/evaluator_mutations.py
  src/phoenix/server/api/routers/v1/__init__.py
  src/phoenix/server/api/routers/v1/dataset_evaluators.py
  src/phoenix/server/api/routers/v1/evaluators.py
  src/phoenix/server/api/routers/v1/project_evaluators.py
  tests/integration/evaluators/test_dataset_evaluators.py
  tests/integration/evaluators/test_evaluators.py
  tests/unit/server/api/mutations/test_project_evaluator_mutations.py
  tests/unit/server/api/routers/v1/test_dataset_evaluators.py
  tests/unit/server/api/routers/v1/test_evaluators.py
  tests/unit/server/api/routers/v1/test_project_evaluators.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(client): clear pyright errors in the evaluator client
  packages/phoenix-client/scripts/codegen/transform.py
  packages/phoenix-client/src/phoenix/client/resources/evaluators/dataset_evaluators.py
  packages/phoenix-client/src/phoenix/client/resources/evaluators/project_evaluators.py
  packages/phoenix-client/src/phoenix/client/utils/problem_details.py
Due: format-python, lint-python

fix(cli): point a missing sandbox config id at px sandbox-config list
  js/packages/phoenix-cli/src/commands/evaluator.ts
  js/packages/phoenix-cli/test/evaluatorCommand.test.ts
Due: oxfmt-js, oxlint-js

fix(evaluators): validate GraphQL shared-definition edits
  src/phoenix/server/api/helpers/dataset_evaluator_service.py
  src/phoenix/server/api/helpers/evaluator_service.py
  src/phoenix/server/api/helpers/project_evaluator_service.py
  tests/unit/server/api/test_llm_evaluator_prompt_version_tag_moves.py
Due: format-python, lint-python

fix(evaluators): preserve names of shared definitions
  src/phoenix/server/api/helpers/dataset_evaluator_service.py
  src/phoenix/server/api/helpers/evaluator_management.py
  src/phoenix/server/api/helpers/project_evaluator_service.py
  tests/unit/server/api/mutations/test_project_evaluator_mutations.py
  tests/unit/server/api/test_llm_evaluator_prompt_version_tag_moves.py
Due: format-python, lint-python

feat: assign a random gradient to projects created by ingestion (#16873)
  src/phoenix/db/helpers.py
  src/phoenix/db/insertion/span.py
  tests/unit/db/insertion/test_span.py
Due: format-python, lint-python

fix(evaluators): restore dataset editor binding settings
  js/app/src/components/dataset/CreateCodeDatasetEvaluatorSlideover.tsx
  js/app/src/components/dataset/EditCodeDatasetEvaluatorSlideover.tsx
  src/phoenix/db/migrations/versions/ef09e3bc213f_dataset_evaluators_inherit_evaluator_settings.py
  src/phoenix/server/api/helpers/dataset_evaluator_service.py
  src/phoenix/server/api/mutations/evaluator_mutations.py
  tests/integration/db_migrations/test_data_migration_ef09e3bc213f_dataset_evaluators_inherit_evaluator_settings.py
  tests/unit/server/api/mutations/test_evaluator_mutations.py
  tests/unit/server/api/routers/v1/test_dataset_evaluators.py
  tests/unit/server/api/test_llm_evaluator_prompt_version_tag_moves.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

ci(cost): audit playground model lists with Claude in one rolling sync PR (#16871)
  .github/workflows/cost-sync.yml
Due: none

docs(evaluators): clarify binding detach effects
  .agents/skills/phoenix-cli/SKILL.md
  js/.changeset/cli-dataset-evaluators.md
  js/.changeset/cli-project-evaluators.md
  js/.changeset/dataset-evaluators-client.md
  js/.changeset/project-evaluators-client.md
  js/packages/phoenix-client/README.md
  packages/phoenix-client/README.md
Due: oxfmt-js

fix(evaluators): name incompatible dataset bindings
  src/phoenix/server/api/helpers/evaluator_service.py
  src/phoenix/server/api/helpers/evaluators.py
  src/phoenix/server/api/helpers/prompt_version_tags.py
  tests/integration/evaluators/test_dataset_evaluators.py
  tests/unit/server/api/test_llm_evaluator_prompt_version_tag_moves.py
Due: format-python, lint-python

fix(evaluators): patch untagged dataset binding overrides
  src/phoenix/server/api/helpers/dataset_evaluator_service.py
  tests/unit/server/api/routers/v1/test_dataset_evaluators.py
Due: format-python, lint-python

fix(cli): scope evaluator deletes to the selected parent
  js/packages/phoenix-cli/src/commands/datasetEvaluator.ts
  js/packages/phoenix-cli/src/commands/projectEvaluator.ts
  js/packages/phoenix-cli/test/datasetEvaluatorCommand.test.ts
  js/packages/phoenix-cli/test/projectEvaluatorCommand.test.ts
Due: oxfmt-js, oxlint-js

refactor(cli): remove unused evaluator input helper
  js/packages/phoenix-cli/src/commands/evaluatorInputs.ts
Due: oxfmt-js, oxlint-js

fix(api): reject malformed evaluator cursors
  src/phoenix/server/api/routers/v1/evaluators.py
  tests/unit/server/api/routers/v1/test_evaluator_definitions.py
Due: format-python, lint-python

fix(evaluators): preserve tags shared by LLM definitions
  src/phoenix/server/api/helpers/evaluator_management.py
  tests/unit/server/api/test_llm_evaluator_prompt_version_tag_moves.py
Due: format-python, lint-python

fix(clients): handle malformed problem detail fields
  js/packages/phoenix-client/src/errors.ts
  js/packages/phoenix-client/test/errors.test.ts
  packages/phoenix-client/src/phoenix/client/utils/problem_details.py
  packages/phoenix-client/tests/client/utils/test_problem_details.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

refactor(evaluators): reuse annotation config conversion
  src/phoenix/server/api/input_types/evaluator_adapters.py
Due: format-python, lint-python

fix(evaluators): lock definitions before deleting bindings
  src/phoenix/server/api/helpers/dataset_evaluator_service.py
  src/phoenix/server/api/helpers/evaluator_management.py
  src/phoenix/server/api/helpers/project_evaluator_service.py
  tests/unit/server/api/helpers/test_evaluator_delete_lock_order.py
Due: format-python, lint-python

feat(server): add dataset create REST endpoint
  js/app/src/api/__generated__/v1.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/datasets.py
  tests/unit/server/api/routers/v1/test_datasets.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(agents): upgrade pydantic-ai for CVE-2026-107286
  pyproject.toml
  uv.lock
Due: uv-lock-check

fix(playground): sync built-in model prices and model lists
  src/phoenix/server/api/helpers/playground_clients.py
  src/phoenix/server/cost_tracking/model_cost_manifest.json
  tests/unit/server/api/helpers/test_playground_clients.py
Due: format-python, lint-python

Add Scalekit to the Phoenix platform docs.
  docs.json
  docs/phoenix/integrations/platforms/scalekit.mdx
  docs/phoenix/integrations/platforms/scalekit/scalekit-tracing.mdx
Due: none

test(server): cover dataset create endpoint access
  tests/integration/_helpers.py
Due: format-python, lint-python

fix(client): send evaluator metadata at top level of evaluation request
  js/.changeset/evaluator-metadata-top-level.md
  js/packages/phoenix-client/src/experiments/resumeEvaluation.ts
  js/packages/phoenix-client/src/experiments/runExperiment.ts
  js/packages/phoenix-client/src/testing/phoenix-test-tracking.ts
  js/packages/phoenix-client/test/experiments/resumeEvaluation.test.ts
  js/packages/phoenix-client/test/experiments/runExperimentTracing.test.ts
Due: oxfmt-js, oxlint-js

feat(ui): use the TypeSafe AI mark for the provider icon
  js/app/src/components/generative/GenerativeProviderIcon.tsx
Due: oxfmt-js, oxlint-js

fix: account for the TYPESAFE provider in the client, CLI, and Harbor codegen
  evals/harbor/verifiers/harbor_verifiers/graphql/__generated__/enums.py
  js/packages/phoenix-cli/src/pxi/options.ts
  packages/phoenix-client/src/phoenix/client/types/prompts.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(server): reject empty dataset names
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/datasets.py
  tests/unit/server/api/routers/v1/test_datasets.py
Due: format-python, lint-python

fix(harbor): build the sql-benchmark fixture atomically and scrub every account column
  evals/harbor/environments/fixtures/sql-benchmark/fixture.sh
  evals/harbor/environments/fixtures/sql-benchmark/scrub.py
Due: format-python, lint-python

style(harbor): format the api-selection solve scripts with ruff
  evals/harbor/tasks/api-selection-dev/annotation-errors/solution/solve.py
  evals/harbor/tasks/api-selection-dev/attributes-over-100kb/solution/solve.py
  evals/harbor/tasks/api-selection-dev/multi-day-sessions/solution/solve.py
  evals/harbor/tasks/api-selection-dev/spans-over-200k-prompt/solution/solve.py
  evals/harbor/tasks/api-selection-test/cumulative-errors-ok/solution/solve.py
  evals/harbor/tasks/api-selection-test/inverted-sessions/solution/solve.py
Due: format-python, lint-python

fix(harbor): name email-less accounts by row id instead of hashing the username
  evals/harbor/environments/fixtures/sql-benchmark/scrub.py
Due: format-python, lint-python

Cover lede: evidence, not vibes
  talks/aie-harbor/index.html
Due: none

Cover lede: break between the two sentences
  talks/aie-harbor/index.html
Due: none

Cover lede: ship on evidence
  talks/aie-harbor/index.html
Due: none

Drop the outline slide
  talks/aie-harbor/index.html
Due: none

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
