Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

refactor(evaluators): simplify dirty state effect handling
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
Due: oxfmt-app, oxlint-app

feat(db): add Azure managed identity authentication for PostgreSQL
  app/schema.graphql
  docs.json
  docs/phoenix/llms.txt
  docs/phoenix/self-hosting/configuration/using-amazon-aurora.mdx
  docs/phoenix/self-hosting/configuration/using-azure-managed-identity.mdx
  helm/README.md
  helm/templates/phoenix/configmap.yaml
  helm/values.yaml
  internal_docs/specs/pg-read-replica-routing.md
  internal_docs/specs/postgres-cloud-auth-pooling.md
  pyproject.toml
  requirements/unit-tests.txt
  scripts/ci/test_helm.py
  src/phoenix/config.py
  src/phoenix/db/aws_auth.py
  src/phoenix/db/azure_auth.py
  src/phoenix/db/engines.py
  src/phoenix/db/iam_auth.py
  src/phoenix/db/pg_config.py
  tests/unit/db/test_aws_auth.py
  tests/unit/db/test_azure_auth.py
  tests/unit/test_config.py
  uv.lock
Due: format-python, lint-python, uv-lock-check

Fix pyright reportPrivateUsage errors in trace_id binding tests
  packages/phoenix-client/tests/client/resources/experiments/test_trace_id_binding.py
Due: format-python, lint-python

Fix mypy errors in trace_id experiment tests
  tests/integration/client/test_experiments.py
Due: format-python, lint-python

docs: remove assistant agent release notes (still in beta)
  .agents/skills/phoenix-release-notes/SKILL.md
  docs.json
  docs/phoenix/release-notes.mdx
  docs/phoenix/release-notes/04-2026/04-14-2026-assistant-agent-improvements.mdx
  docs/phoenix/release-notes/2026.mdx
Due: none

Fix import sorting in test_experiments.py
  tests/integration/client/test_experiments.py
Due: format-python, lint-python

Apply suggestion from @claude[bot]
  docs/phoenix/release-notes.mdx
Due: none

fix(evaluators): keep sandbox IDs opaque and validate code inputs
  app/schema.graphql
  app/src/components/dataset/CreateCodeDatasetEvaluatorSlideover.tsx
  app/src/components/dataset/EditCodeDatasetEvaluatorSlideover.tsx
  app/src/components/dataset/__generated__/CreateCodeDatasetEvaluatorSlideover_createCodeEvaluatorMutation.graphql.ts
  app/src/components/dataset/__generated__/EditCodeDatasetEvaluatorSlideover_updateCodeEvaluatorMutation.graphql.ts
  app/src/components/evaluators/CodeEvaluatorLanguageSandboxFields.tsx
  app/src/components/evaluators/CodeEvaluatorTestSection.tsx
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/mutations/evaluator_mutations.py
  tests/unit/server/api/mutations/test_code_evaluator_sandbox_mutations.py
  tests/unit/server/api/test_code_evaluator_runner.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

Add px support for trace and span notes
  js/packages/phoenix-cli/README.md
  js/packages/phoenix-cli/src/commands/formatNoteMutation.ts
  js/packages/phoenix-cli/src/commands/formatSpans.ts
  js/packages/phoenix-cli/src/commands/formatTraces.ts
  js/packages/phoenix-cli/src/commands/noteMutationUtils.ts
  js/packages/phoenix-cli/src/commands/span.ts
  js/packages/phoenix-cli/src/commands/trace.ts
  js/packages/phoenix-cli/src/trace.ts
  js/packages/phoenix-cli/test/cli.test.ts
  js/packages/phoenix-cli/test/notes.test.ts
  js/packages/phoenix-cli/test/output.test.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-client/src/traces/addTraceNote.ts
  js/packages/phoenix-client/src/traces/index.ts
  js/packages/phoenix-client/test/traces/addTraceNote.test.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/server/api/mutations/annotation_config_mutations.py
  src/phoenix/server/api/mutations/trace_annotations_mutations.py
  src/phoenix/server/api/routers/v1/annotation_configs.py
  src/phoenix/server/api/routers/v1/traces.py
  tests/integration/_helpers.py
  tests/unit/server/api/mutations/test_annotation_config_mutations.py
  tests/unit/server/api/mutations/test_trace_annotation_mutations.py
  tests/unit/server/api/routers/v1/test_traces.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

cleanup paddings, add field descriptions
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
  app/src/components/evaluators/codeEvaluatorTypeGeneration.ts
Due: oxfmt-app, oxlint-app

Add tests and reduce duplication
  app/src/components/evaluators/__tests__/codeEvaluatorAutocomplete.test.ts
  app/src/components/evaluators/codeEvaluatorAutocomplete.ts
Due: oxfmt-app, oxlint-app

fix(evaluators): submit validated sandbox selection
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
Due: oxfmt-app, oxlint-app

Fix undefined standalone function calls in pairwise evaluator cookbook
  docs/phoenix/cookbook/datasets-and-experiments/comparing-llamaindex-query-engines-with-a-pairwise-evaluator.mdx
Due: none

feat: session pagination
  app/src/pages/project/ProjectSessionsPage.tsx
  app/src/pages/project/SessionsTable.tsx
  app/src/pages/trace/SessionDetailsPaginator.tsx
  app/src/pages/trace/SessionPage.tsx
  app/src/pages/trace/SessionPaginationContext.tsx
Due: oxfmt-app, oxlint-app

Revert "Fix undefined standalone function calls in pairwise evaluator cookbook"
  docs/phoenix/cookbook/datasets-and-experiments/comparing-llamaindex-query-engines-with-a-pairwise-evaluator.mdx
Due: none

format
  app/src/pages/projects/ProjectsPage.tsx
Due: oxfmt-app, oxlint-app

Fix evaluate_experiment to use client method, clean notebook metadata
  docs/phoenix/cookbook/datasets-and-experiments/comparing-llamaindex-query-engines-with-a-pairwise-evaluator.mdx
  tutorials/prompts/hallucination_eval.ipynb
Due: clean-notebooks

Pause useInterval when page is no longer visible
  app/src/hooks/useInterval.ts
Due: oxfmt-app, oxlint-app

playwright tests
  app/tests/code-evaluators.spec.ts
Due: oxfmt-app, oxlint-app

fix(python): repair code evaluator CI tests
  src/phoenix/server/sandbox/e2b_backend.py
  src/phoenix/server/sandbox/wasm_backend.py
  tests/unit/server/api/mutations/test_code_evaluator_sandbox_mutations.py
  tests/unit/server/api/test_code_evaluator_runner.py
  tests/unit/server/api/test_wasm_backend.py
Due: format-python, lint-python

remove unused dep
  app/package.json
  app/pnpm-lock.yaml
Due: oxfmt-app

refactor: use dataloader for trace_annotations resolver with filter support
  app/schema.graphql
  src/phoenix/server/api/types/Trace.py
Due: format-python, lint-python

Apply notes CLI review feedback
  js/packages/phoenix-cli/README.md
  js/packages/phoenix-cli/src/commands/noteMutationUtils.ts
  js/packages/phoenix-cli/src/commands/span.ts
  js/packages/phoenix-cli/src/commands/trace.ts
  src/phoenix/server/api/mutations/trace_annotations_mutations.py
  src/phoenix/server/api/routers/v1/traces.py
  tests/unit/server/api/mutations/test_trace_annotation_mutations.py
  tests/unit/server/api/routers/v1/test_traces.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

Fix trace annotation sort stability
  src/phoenix/server/api/types/Trace.py
  tests/unit/server/api/types/test_TraceAnnotation.py
Due: format-python, lint-python

Fix formatting in Trace.py to pass CI lint check
  src/phoenix/server/api/types/Trace.py
Due: format-python, lint-python

Fix mypy type error in test_TraceAnnotation.py
  tests/unit/server/api/types/test_TraceAnnotation.py
Due: format-python, lint-python

fix: correct ClassificationEvaluator import path and replace removed constants
  tutorials/evals/CoT_explanations_simple_vs_complex_evals.ipynb
  tutorials/integrations/amazon_bedrock_agents_tracing_and_evals.ipynb
Due: clean-notebooks

fix: correct parameter names and fix missed google-gen-ai page
  docs/phoenix/integrations/llm-providers/google-gen-ai/google-gen-ai-evals.mdx
  tutorials/evals/CoT_explanations_simple_vs_complex_evals.ipynb
  tutorials/integrations/amazon_bedrock_agents_tracing_and_evals.ipynb
Due: clean-notebooks

fix: address PR review — runtime bugs and eval pattern improvements
  docs/phoenix/integrations/llm-providers/mistralai/mistralai-evals.mdx
  examples/llamaindex-workflows-research-agent/evaluate_traces.ipynb
  tutorials/agents/langgraph/langgraph_parallel.ipynb
  tutorials/agents/langgraph/langgraph_promptchaining.ipynb
  tutorials/agents/langgraph/langgraph_router.ipynb
  tutorials/annotations/custom-annotations-tool-for-eval-driven-development.ipynb
  tutorials/evals/CoT_explanations_simple_vs_complex_evals.ipynb
  tutorials/evals/_run_evals_quickstart.py
  tutorials/evals/evals_quickstart.ipynb
  tutorials/experiments/agents-cookbook.ipynb
  tutorials/experiments/generating_synthetic_datasets.ipynb
  tutorials/integrations/ragas_agents_cookbook_phoenix.ipynb
  tutorials/integrations/tracing_and_evals_weaviate.ipynb
  tutorials/prompts/react_prompting.ipynb
  tutorials/tracing/langchain_tracing_tutorial.ipynb
  tutorials/tracing/langchain_vertex_ai_tracing_tutorial.ipynb
Due: format-python, lint-python, clean-notebooks

style: run ruff format on notebooks
  tutorials/evals/CoT_explanations_simple_vs_complex_evals.ipynb
  tutorials/experiments/agents-cookbook.ipynb
  tutorials/experiments/generating_synthetic_datasets.ipynb
  tutorials/integrations/amazon_bedrock_agents_tracing_and_evals.ipynb
  tutorials/prompts/react_prompting.ipynb
Due: clean-notebooks

fix: address remaining PR review comments
  tutorials/evals/evaluate_code_readability_classifications.ipynb
  tutorials/evals/evaluate_rag_system.ipynb
Due: clean-notebooks

Fix default sort to preserve original created_at DESC behavior
  src/phoenix/server/api/types/Trace.py
Due: format-python, lint-python

Add Python example for trace_id evaluator in experiments
  packages/phoenix-client/examples/experiments/experiment_trace_evaluator.py
Due: format-python, lint-python

Fix import sorting in experiment_trace_evaluator example
  packages/phoenix-client/examples/experiments/experiment_trace_evaluator.py
Due: format-python, lint-python

refactor: convert choices list to dict with scores across docs and tutorials
  docs/phoenix/cookbook/datasets-and-experiments/experiment-with-a-customer-support-agent.mdx
  docs/phoenix/cookbook/evaluation/code-readability-evaluation.mdx
  docs/phoenix/cookbook/evaluation/evaluate-an-agent.mdx
  docs/phoenix/cookbook/evaluation/openai-agents-sdk-cookbook.mdx
  docs/phoenix/cookbook/human-in-the-loop-workflows-annotations/using-human-annotations-for-eval-driven-development.mdx
  docs/phoenix/cookbook/tracing/generating-synthetic-datasets-for-llm-evaluators-and-agents.mdx
  docs/phoenix/evaluation/how-to-evals/configuring-the-llm/prompt-formats.mdx
  docs/phoenix/evaluation/how-to-evals/custom-llm-evaluators.mdx
  docs/phoenix/evaluation/how-to-evals/prompt-formats.mdx
  docs/phoenix/evaluation/how-to-evals/using-evals-with-phoenix.mdx
  docs/phoenix/tracing/how-to-tracing/feedback-and-annotations/evaluating-phoenix-traces.mdx
  tutorials/agents/langgraph/langgraph_promptchaining.ipynb
  tutorials/evals/evaluate_agent.ipynb
  tutorials/experiments/generating_synthetic_datasets.ipynb
Due: clean-notebooks

refactor: replace create_classifier with ClassificationEvaluator
  docs/phoenix/cookbook/ai-engineering-workflows/iterative-evaluation-and-experimentation-workflow-python.mdx
  docs/phoenix/cookbook/datasets-and-experiments/experiment-with-a-customer-support-agent.mdx
  docs/phoenix/cookbook/evaluation/code-readability-evaluation.mdx
  docs/phoenix/cookbook/evaluation/evaluate-an-agent.mdx
  docs/phoenix/cookbook/evaluation/openai-agents-sdk-cookbook.mdx
  docs/phoenix/cookbook/human-in-the-loop-workflows-annotations/creating-a-custom-llm-evaluator-with-a-benchmark-dataset.mdx
  docs/phoenix/cookbook/human-in-the-loop-workflows-annotations/using-human-annotations-for-eval-driven-development.mdx
  docs/phoenix/cookbook/prompt-engineering/llm-as-a-judge-prompt-optimization.mdx
  docs/phoenix/cookbook/prompt-engineering/react-prompting.mdx
  docs/phoenix/cookbook/tracing/generating-synthetic-datasets-for-llm-evaluators-and-agents.mdx
  docs/phoenix/datasets-and-experiments/tutorial/run-experiments-with-llm-judge.mdx
  docs/phoenix/evaluation/concepts-evals/building-your-own-evals.mdx
  docs/phoenix/evaluation/python-quickstart.mdx
  docs/phoenix/sdk-api-reference/python/arize-phoenix-evals.mdx
  docs/phoenix/tracing/tutorial/annotations-and-evaluations.mdx
  docs/phoenix/tracing/tutorial/sessions.mdx
  tutorials/evals/bedrock_tracing_and_evals_tutorial.ipynb
  tutorials/evals/evals_introduction.ipynb
  tutorials/evals/evaluate_agent.ipynb
  tutorials/evals/evaluate_agent_parameter_extraction_classifications.ipynb
  tutorials/evals/evaluate_agent_tool_selection_classifications.ipynb
  tutorials/evals/evaluate_code_functionality_classifications.ipynb
  tutorials/evals/evaluate_code_readability_classifications.ipynb
  tutorials/evals/evaluate_rag_system.ipynb
  tutorials/evals/openai_agents_cookbook.ipynb
  tutorials/evals/optimizing_llm_as_a_judge_prompts.ipynb
  tutorials/evals/session_level_evals.ipynb
  tutorials/evals/trace_level_evals.ipynb
  tutorials/experiments/python_experiments_quickstart.ipynb
  tutorials/llm_application_tracing_evaluating_and_analysis.ipynb
  tutorials/llm_ops_overview.ipynb
  tutorials/tracing/python_tracing_quickstart.ipynb
Due: clean-notebooks

refactor: migrate evaluate_dataframe to async_evaluate_dataframe
  docs/phoenix/cookbook/datasets-and-experiments/experiment-with-a-customer-support-agent.mdx
  docs/phoenix/cookbook/evaluation/code-readability-evaluation.mdx
  docs/phoenix/cookbook/evaluation/evaluate-an-agent.mdx
  docs/phoenix/cookbook/evaluation/evaluate-rag.mdx
  docs/phoenix/cookbook/evaluation/openai-agents-sdk-cookbook.mdx
  docs/phoenix/cookbook/evaluation/relevance-classification-evaluation.mdx
  docs/phoenix/cookbook/human-in-the-loop-workflows-annotations/creating-a-custom-llm-evaluator-with-a-benchmark-dataset.mdx
  docs/phoenix/cookbook/human-in-the-loop-workflows-annotations/using-human-annotations-for-eval-driven-development.mdx
  docs/phoenix/cookbook/prompt-engineering/llm-as-a-judge-prompt-optimization.mdx
  docs/phoenix/cookbook/prompt-engineering/react-prompting.mdx
  docs/phoenix/cookbook/tracing/generating-synthetic-datasets-for-llm-evaluators-and-agents.mdx
  docs/phoenix/evaluation/concepts-evals/building-your-own-evals.mdx
  docs/phoenix/evaluation/evals.mdx
  docs/phoenix/evaluation/python-quickstart.mdx
  docs/phoenix/evaluation/tutorials/customize-eval-template.mdx
  docs/phoenix/evaluation/tutorials/run-evals-with-built-in-evals.mdx
  docs/phoenix/get-started/get-started-evaluations.mdx
  docs/phoenix/sdk-api-reference/python/arize-phoenix-evals.mdx
  docs/phoenix/use-cases/rag-evaluation.mdx
  tutorials/agents/langgraph/langgraph_parallel.ipynb
  tutorials/agents/langgraph/langgraph_promptchaining.ipynb
  tutorials/agents/langgraph/langgraph_router.ipynb
  tutorials/evals/CoT_explanations_simple_vs_complex_evals.ipynb
  tutorials/evals/_run_evals_quickstart.py
  tutorials/evals/evals_quickstart.ipynb
  tutorials/evals/evaluate_agent.ipynb
  tutorials/evals/evaluate_agent_parameter_extraction_classifications.ipynb
  tutorials/evals/evaluate_agent_tool_selection_classifications.ipynb
  tutorials/evals/evaluate_code_functionality_classifications.ipynb
  tutorials/evals/evaluate_code_readability_classifications.ipynb
  tutorials/evals/openai_agents_cookbook.ipynb
  tutorials/evals/session_level_evals.ipynb
  tutorials/experiments/agents-cookbook.ipynb
  tutorials/integrations/amazon_bedrock_agents_tracing_and_evals.ipynb
  tutorials/integrations/tracing_and_evals_weaviate.ipynb
  tutorials/quickstarts/agno_agent_for_evals.ipynb
  tutorials/quickstarts/python_quickstart.ipynb
  tutorials/tracing/langchain_tracing_tutorial.ipynb
  tutorials/tracing/langchain_vertex_ai_tracing_tutorial.ipynb
Due: format-python, lint-python, clean-notebooks

refactor: eliminate eval wrapper functions, use bind_evaluator and direct evaluator passing
  docs/phoenix/cookbook/datasets-and-experiments/experiment-with-a-customer-support-agent.mdx
  docs/phoenix/cookbook/evaluation/evaluate-an-agent.mdx
  docs/phoenix/cookbook/evaluation/openai-agents-sdk-cookbook.mdx
  docs/phoenix/cookbook/human-in-the-loop-workflows-annotations/creating-a-custom-llm-evaluator-with-a-benchmark-dataset.mdx
  docs/phoenix/cookbook/human-in-the-loop-workflows-annotations/using-human-annotations-for-eval-driven-development.mdx
  docs/phoenix/cookbook/prompt-engineering/llm-as-a-judge-prompt-optimization.mdx
  tutorials/evals/build_benchmark_dataset_and_custom_evaluator.ipynb
  tutorials/evals/evaluate_agent.ipynb
  tutorials/evals/openai_agents_cookbook.ipynb
  tutorials/evals/optimizing_llm_as_a_judge_prompts.ipynb
  tutorials/experiments/agents-cookbook.ipynb
  tutorials/experiments/generating_synthetic_datasets.ipynb
  tutorials/human_feedback/chatbot_with_human_feedback.ipynb
Due: clean-notebooks

feat: add ToolInvocationEvaluator alongside ToolSelectionEvaluator and clean up custom templates
  docs/phoenix/cookbook/evaluation/evaluate-an-agent.mdx
  docs/phoenix/cookbook/prompt-engineering/react-prompting.mdx
  tutorials/agents/langgraph/langgraph_router.ipynb
  tutorials/evals/evaluate_agent.ipynb
  tutorials/evals/evaluate_agent_tool_calling_classifications.ipynb
  tutorials/integrations/amazon_bedrock_agents_tracing_and_evals.ipynb
  tutorials/prompts/react_prompting.ipynb
Due: clean-notebooks
