Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

feat: apply the 2026 brand to the Phoenix docs (#15458)
  docs.json
  docs/phoenix/cookbook/tracing/identify-high-signal-traces.mdx
  docs/phoenix/datasets-and-experiments/tutorial/defining-the-dataset.mdx
  docs/phoenix/datasets-and-experiments/tutorial/iteration-workflow-experiments.mdx
  docs/phoenix/integrations/coding-agents/claude-code.mdx
  docs/phoenix/integrations/coding-agents/opencode.mdx
  docs/style.css
Due: none

test: expose openai resource attributes on the model factory client stub (#15482)
  tests/unit/server/agents/test_model_factory.py
Due: format-python, lint-python

chore(deps): require openai>=3.1.0
  pyproject.toml
  requirements/ci.txt
  src/phoenix/server/api/helpers/playground_clients.py
  tests/unit/server/api/helpers/test_evaluators.py
  tests/unit/server/api/routers/v1/test_chat_completions.py
  uv.lock
Due: format-python, lint-python, uv-lock-check

fix: handle missing annotation labels with pandas 3
  src/phoenix/server/api/types/AnnotationSummary.py
  tests/unit/server/api/types/test_AnnotationSummary.py
Due: format-python, lint-python

chore(deps): upgrade sqlglot to 30.17.0 and drop obsolete workarounds
  pyproject.toml
  src/phoenix/server/mcp/sql/allowlist.py
  src/phoenix/server/mcp/sql/catalog.py
  src/phoenix/server/mcp/sql/parse.py
  src/phoenix/server/mcp/sql/rewrite.py
  src/phoenix/server/mcp/sql/tools.py
  tests/unit/server/mcp/sql/admission_corpus.py
  tests/unit/server/mcp/sql/test_ddl.py
  tests/unit/server/mcp/sql/test_liveness.py
  tests/unit/server/mcp/sql/test_node_coverage.py
  tests/unit/server/mcp/sql/test_parse.py
  tests/unit/server/mcp/sql/test_rewrite.py
  tests/unit/server/test_mcp_sql_tools.py
  uv.lock
Due: format-python, lint-python, uv-lock-check

fix(mcp/sql): parenthesise an operator key in a postgres JSON read
  src/phoenix/server/mcp/sql/rewrite.py
  tests/unit/server/mcp/sql/test_liveness.py
  tests/unit/server/mcp/sql/test_rewrite.py
Due: format-python, lint-python

fix(mcp/sql): parenthesise BETWEEN and IN keys in a postgres JSON read
  src/phoenix/server/mcp/sql/rewrite.py
  tests/unit/server/mcp/sql/test_rewrite.py
Due: format-python, lint-python

docs(mcp/sql): correct a cross-reference left by the test class rename
  tests/unit/server/mcp/sql/test_parse.py
Due: format-python, lint-python

chore(scripts): add Patronus TRAIL benchmark data loader (#13461)
  scripts/load_patronus_trail.py
Due: format-python, lint-python

fix: handle missing annotation labels with pandas 3 (#15486)
  src/phoenix/server/api/types/AnnotationSummary.py
  tests/unit/server/api/types/test_AnnotationSummary.py
Due: format-python, lint-python

chore(deps): require openai>=3.1.0 (#15479)
  pyproject.toml
  requirements/ci.txt
  src/phoenix/server/api/helpers/playground_clients.py
  tests/unit/server/api/helpers/test_evaluators.py
  tests/unit/server/api/routers/v1/test_chat_completions.py
  uv.lock
Due: format-python, lint-python, uv-lock-check

fix(agents): carry reasoning part ids from AI SDK v7
  js/app/src/api/__generated__/v1.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/db/types/data_stream_protocol/request_types.py
  src/phoenix/server/agents/vercel_ui_message_stream.py
  src/phoenix/server/api/routers/agents.py
  tests/unit/db/types/test_data_stream_protocol_compatibility.py
  tests/unit/server/agents/test_pydantic_ai_metadata_canary.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

docs(db): say what the vendored pydantic-ai tag means
  src/phoenix/db/types/data_stream_protocol/_models.py
  src/phoenix/db/types/data_stream_protocol/request_types.py
Due: format-python, lint-python

fix(api): reject Relay node ids too large for any row id
  src/phoenix/server/api/types/node.py
  tests/unit/server/api/routers/v1/test_projects.py
  tests/unit/server/api/types/test_node.py
Due: format-python, lint-python

fix(traces): keyset pagination for listProjectTraces
  src/phoenix/server/api/routers/v1/traces.py
  tests/unit/server/api/routers/v1/test_list_project_traces.py
Due: format-python, lint-python

refactor(traces): reuse the shared Cursor for trace pagination
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  src/phoenix/server/api/routers/v1/traces.py
  tests/unit/server/api/routers/v1/test_list_project_traces.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(traces): encode the database's sort value in the trace cursor
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/traces.py
  tests/unit/server/api/routers/v1/test_list_project_traces.py
Due: format-python, lint-python

fix(traces): bound the cursor rowid by what the dialect can hold
  src/phoenix/server/api/routers/v1/traces.py
  tests/unit/server/api/routers/v1/test_list_project_traces.py
Due: format-python, lint-python

fix(traces): reject cursors whose rowid cannot identify a row
  js/packages/phoenix-client/README.md
  js/packages/phoenix-client/src/traces/getTraces.ts
  src/phoenix/server/api/routers/v1/traces.py
  tests/unit/server/api/routers/v1/test_list_project_traces.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

chore(traces): regenerate app OpenAPI types for the cursor description
  js/app/src/api/__generated__/v1.ts
Due: oxfmt-js, oxlint-js

chore(traces): format the phoenix-client README table for oxfmt
  js/packages/phoenix-client/README.md
Due: oxfmt-js

feat(mcp): point the tool descriptions at SQL for aggregate questions
  src/phoenix/server/api/routers/v1/spans.py
  src/phoenix/server/mcp/sql/tools.py
  src/phoenix/server/mcp_server.py
Due: format-python, lint-python

fix(agents): retain analytics execution caveats
  src/phoenix/server/agents/prompts/tools/PHOENIX_MCP_TOOL_INSTRUCTIONS.xml.j2
  src/phoenix/server/mcp/sql/tools.py
  tests/unit/server/agents/capabilities/test_phoenix_mcp.py
Due: format-python, lint-python

feat(agents): run the assistant's MCP surface in code mode
  src/phoenix/server/agents/prompts/tools/PHOENIX_MCP_TOOL_INSTRUCTIONS.xml.j2
  src/phoenix/server/app.py
  src/phoenix/server/mcp_code_mode.py
  src/phoenix/server/mcp_server.py
  src/phoenix/server/monty_runtime.py
  tests/unit/server/agents/capabilities/test_phoenix_mcp.py
  tests/unit/server/agents/test_agent_factory.py
  tests/unit/server/test_app_mcp_mount.py
  tests/unit/server/test_mcp_code_mode.py
Due: format-python, lint-python

fix(agents): distinguish MCP discovery from code callbacks
  src/phoenix/server/agents/prompts/tools/PHOENIX_MCP_TOOL_INSTRUCTIONS.xml.j2
  tests/unit/server/agents/capabilities/test_phoenix_mcp.py
Due: format-python, lint-python

feat(agents): give the assistant Phoenix's REST API as an in-process MCP toolset
  src/phoenix/server/agents/agent_factory.py
  src/phoenix/server/agents/capabilities/__init__.py
  src/phoenix/server/agents/capabilities/phoenix_mcp.py
  src/phoenix/server/agents/prompts/__init__.py
  src/phoenix/server/agents/prompts/tools/PHOENIX_MCP_TOOL_INSTRUCTIONS.xml.j2
  src/phoenix/server/api/routers/agents.py
  src/phoenix/server/app.py
  src/phoenix/server/bearer_auth.py
  src/phoenix/server/mcp_server.py
  tests/unit/server/agents/capabilities/test_phoenix_mcp.py
  tests/unit/server/agents/test_agent_factory.py
  tests/unit/server/test_app_mcp_mount.py
Due: format-python, lint-python

fix(agents): tell the assistant about the analytics SQL tools
  src/phoenix/server/agents/prompts/tools/PHOENIX_MCP_TOOL_INSTRUCTIONS.xml.j2
  src/phoenix/server/mcp/sql/tools.py
  tests/unit/server/agents/capabilities/test_phoenix_mcp.py
Due: format-python, lint-python

fix(mcp): log code-mode tool submissions
  src/phoenix/server/mcp_code_mode.py
  tests/unit/server/test_mcp_code_mode.py
Due: format-python, lint-python

chore(mcp): regenerate OpenAPI types for the span search descriptions
  js/app/src/api/__generated__/v1.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  schemas/openapi.json
Due: oxfmt-js, oxlint-js

feat(scripts): MCP analytics benchmark harness
  scripts/README.md
  scripts/benchmarks/mcp/.gitignore
  scripts/benchmarks/mcp/README.md
  scripts/benchmarks/mcp/bench.yaml
  scripts/benchmarks/mcp/harness/mcpbench/__init__.py
  scripts/benchmarks/mcp/harness/mcpbench/analyze.py
  scripts/benchmarks/mcp/harness/mcpbench/cli.py
  scripts/benchmarks/mcp/harness/mcpbench/config.py
  scripts/benchmarks/mcp/harness/mcpbench/invocation.py
  scripts/benchmarks/mcp/harness/mcpbench/metrics.py
  scripts/benchmarks/mcp/harness/mcpbench/preflight.py
  scripts/benchmarks/mcp/harness/mcpbench/report.py
  scripts/benchmarks/mcp/harness/mcpbench/runner.py
  scripts/benchmarks/mcp/harness/mcpbench/server.py
  scripts/benchmarks/mcp/harness/mcpbench/store.py
  scripts/benchmarks/mcp/harness/mcpbench/templates/report.html
  scripts/benchmarks/mcp/harness/pyproject.toml
  scripts/benchmarks/mcp/tasks/cost-error-direction.yaml
  scripts/benchmarks/mcp/tasks/count-traces.yaml
  scripts/benchmarks/mcp/tasks/noop-surface-cost.yaml
  scripts/benchmarks/mcp/tasks/pagedown-exception.yaml
  scripts/benchmarks/mcp/tasks/top-error-category.yaml
  scripts/benchmarks/mcp/tasks/total-cost.yaml
  scripts/benchmarks/mcp/tasks/worst-tool.yaml
Due: format-python, lint-python, uv-lock-check

refactor(scripts): first-principles comments; label-driven report
  scripts/benchmarks/mcp/harness/mcpbench/analyze.py
  scripts/benchmarks/mcp/harness/mcpbench/cli.py
  scripts/benchmarks/mcp/harness/mcpbench/invocation.py
  scripts/benchmarks/mcp/harness/mcpbench/metrics.py
  scripts/benchmarks/mcp/harness/mcpbench/runner.py
  scripts/benchmarks/mcp/harness/mcpbench/server.py
  scripts/benchmarks/mcp/harness/mcpbench/templates/report.html
Due: format-python, lint-python

fix(scripts): grade against the question as asked; refresh the docs
  scripts/benchmarks/mcp/README.md
  scripts/benchmarks/mcp/harness/mcpbench/analyze.py
  scripts/benchmarks/mcp/harness/mcpbench/cli.py
  scripts/benchmarks/mcp/harness/mcpbench/runner.py
Due: format-python, lint-python

wip(scripts): report-only pipeline, corrected metrics, rewritten tasks
  scripts/benchmarks/mcp/bench.yaml
  scripts/benchmarks/mcp/harness/mcpbench/analyze.py
  scripts/benchmarks/mcp/harness/mcpbench/cli.py
  scripts/benchmarks/mcp/harness/mcpbench/metrics.py
  scripts/benchmarks/mcp/harness/mcpbench/report.py
  scripts/benchmarks/mcp/harness/mcpbench/runner.py
  scripts/benchmarks/mcp/harness/mcpbench/server.py
  scripts/benchmarks/mcp/harness/mcpbench/store.py
  scripts/benchmarks/mcp/harness/mcpbench/templates/report.html
  scripts/benchmarks/mcp/tasks/cost-error-direction.yaml
  scripts/benchmarks/mcp/tasks/count-traces.yaml
  scripts/benchmarks/mcp/tasks/max-llm-calls.yaml
  scripts/benchmarks/mcp/tasks/most-failing-tool.yaml
  scripts/benchmarks/mcp/tasks/noop-surface-cost.yaml
  scripts/benchmarks/mcp/tasks/pagedown-exception.yaml
  scripts/benchmarks/mcp/tasks/pagedown-root-cause.yaml
  scripts/benchmarks/mcp/tasks/top-error-category.yaml
  scripts/benchmarks/mcp/tasks/total-cost.yaml
  scripts/benchmarks/mcp/tasks/worst-tool.yaml
Due: format-python, lint-python

feat(scripts): route column, three questions about agent behaviour
  scripts/benchmarks/mcp/harness/mcpbench/metrics.py
  scripts/benchmarks/mcp/harness/mcpbench/report.py
  scripts/benchmarks/mcp/harness/mcpbench/templates/report.html
  scripts/benchmarks/mcp/tasks/error-rate-by-length.yaml
  scripts/benchmarks/mcp/tasks/repeated-tool-calls.yaml
  scripts/benchmarks/mcp/tasks/spend-concentration.yaml
Due: format-python, lint-python

style(scripts): lighter arrow in the route
  scripts/benchmarks/mcp/harness/mcpbench/metrics.py
Due: format-python, lint-python

feat(scripts): count failed calls, and show how the SQL surface was reached
  scripts/benchmarks/mcp/harness/mcpbench/metrics.py
  scripts/benchmarks/mcp/harness/mcpbench/report.py
  scripts/benchmarks/mcp/harness/mcpbench/templates/report.html
Due: format-python, lint-python

feat(scripts): copy the run table as TSV for a spreadsheet
  scripts/benchmarks/mcp/harness/mcpbench/templates/report.html
Due: none

fix(scripts): make each task prove its own grading before a run is spent
  scripts/benchmarks/mcp/harness/mcpbench/cli.py
  scripts/benchmarks/mcp/harness/mcpbench/config.py
  scripts/benchmarks/mcp/harness/mcpbench/metrics.py
  scripts/benchmarks/mcp/harness/mcpbench/preflight.py
  scripts/benchmarks/mcp/tasks/count-traces.yaml
  scripts/benchmarks/mcp/tasks/error-rate-by-length.yaml
  scripts/benchmarks/mcp/tasks/max-llm-calls.yaml
  scripts/benchmarks/mcp/tasks/most-failing-tool.yaml
  scripts/benchmarks/mcp/tasks/noop-surface-cost.yaml
  scripts/benchmarks/mcp/tasks/pagedown-root-cause.yaml
  scripts/benchmarks/mcp/tasks/repeated-tool-calls.yaml
  scripts/benchmarks/mcp/tasks/spend-concentration.yaml
  scripts/benchmarks/mcp/tasks/top-error-category.yaml
  scripts/benchmarks/mcp/tasks/total-cost.yaml
Due: format-python, lint-python

feat(scripts): default to concurrency 3, and cut the report to what is read
  scripts/benchmarks/mcp/README.md
  scripts/benchmarks/mcp/bench.yaml
  scripts/benchmarks/mcp/harness/mcpbench/analyze.py
  scripts/benchmarks/mcp/harness/mcpbench/cli.py
  scripts/benchmarks/mcp/harness/mcpbench/metrics.py
  scripts/benchmarks/mcp/harness/mcpbench/report.py
  scripts/benchmarks/mcp/harness/mcpbench/templates/report.html
  scripts/benchmarks/mcp/tasks/pagedown-root-cause.yaml
  scripts/benchmarks/mcp/tasks/spend-concentration.yaml
Due: format-python, lint-python

fix(scripts): name the execute calls that call no tool
  scripts/benchmarks/mcp/harness/mcpbench/metrics.py
Due: format-python, lint-python
