Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

Update js/.changeset/hallucination-evaluator.md
  js/.changeset/hallucination-evaluator.md
Due: oxfmt-js

Update js/benchmarks/evals-benchmarks/src/hallucination.eval.ts
  js/benchmarks/evals-benchmarks/src/hallucination.eval.ts
Due: oxfmt-js, oxlint-js

test(evals): expand hallucination benchmark coverage
  js/benchmarks/evals-benchmarks/src/hallucination.eval.ts
Due: oxfmt-js, oxlint-js

chore(js): update versions (#14926)
  js/.changeset/cli-unknown-command-upgrade-hint.md
  js/packages/phoenix-cli/CHANGELOG.md
  js/packages/phoenix-cli/package.json
Due: oxfmt-js

chore: revert manual sitemap changes
  docs/phoenix/sitemap.xml
Due: none

fix(ui): reorder default session columns
  app/src/pages/project/SessionsTable.tsx
Due: oxfmt-app, oxlint-app

fix(ui): layer note composer escape dismissal
  app/src/components/core/overlay/Drawer.tsx
  app/src/pages/trace/SpanNoteBar.tsx
  app/src/pages/trace/SpanNoteBarContext.tsx
  app/src/pages/trace/__tests__/SpanNoteBar.test.tsx
Due: oxfmt-app, oxlint-app

fix(filters): alias annotations on the parse tree, not the source text
  app/src/pages/project/SpanFilterConditionField.tsx
  src/phoenix/trace/dsl/filter.py
  src/phoenix/trace/dsl/session_filter.py
  tests/unit/trace/dsl/test_annotation_aliasing.py
  tests/unit/trace/dsl/test_filter.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

test(ui): cover nested drawer resize ownership
  app/src/components/core/overlay/__tests__/Drawer.test.ts
Due: oxfmt-app, oxlint-app

fix(ui): hold the pending filter through transport failures, with a retry
  app/src/pages/project/PendingSpanFilter.tsx
Due: oxfmt-app, oxlint-app

fix(ui): stop persisting the filter field's mount-time settlement
  app/src/components/filter/DSLFilterConditionField.tsx
  app/src/components/filter/__tests__/DSLFilterConditionFieldValidation.test.tsx
  app/src/pages/project/ProjectPage.tsx
  app/src/pages/project/ProjectSpansPage.tsx
  app/src/pages/project/SpanFilterConditionField.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/TracesTable.tsx
  app/src/pages/project/__tests__/SpansTableSeedIntegration.test.tsx
  app/src/pages/project/__tests__/spanFilterSeedLoadState.test.ts
  app/src/pages/project/spanFilterSeedLoadState.ts
Due: oxfmt-app, oxlint-app

fix(ui): stop a tab's default filter leaking onto the other tab
  app/src/pages/project/ProjectPage.tsx
Due: oxfmt-app, oxlint-app

perf(session-filters): dispatch filter lowering by access pattern
  src/phoenix/db/session_aggregates.py
  src/phoenix/server/api/input_types/ProjectSessionSort.py
  src/phoenix/server/api/types/Project.py
  src/phoenix/server/session_filters.py
  src/phoenix/trace/dsl/session_filter.py
  tests/unit/server/api/types/test_Project.py
  tests/unit/trace/dsl/test_session_filter.py
Due: format-python, lint-python

feat(ui): make trace row control span tree
  app/src/components/trace/TraceSummaryRow.tsx
  app/src/components/trace/TraceTree.tsx
  app/src/components/trace/__tests__/TraceTree.test.tsx
  app/src/pages/trace/SessionDetailsNavigation.tsx
  app/src/pages/trace/SessionDetailsTracesView.tsx
  app/src/pages/trace/TraceDetails.tsx
Due: oxfmt-app, oxlint-app

fix: preserve omitted fields and gate ownership re-attribution in updateProjectCodeEvaluator
  app/schema.graphql
  src/phoenix/server/api/mutations/evaluator_mutations.py
  tests/unit/server/api/mutations/test_project_evaluator_mutations.py
Due: format-python, lint-python

perf(session-filters): benchmark the shipped seams and align the spec
  internal_docs/specs/session-filter-dsl.md
  scripts/perf/session_filter_perf.py
Due: format-python, lint-python

feat(ui): restore trace and session header identities
  app/src/components/trace/SpanKindIcon.tsx
  app/src/components/trace/__tests__/SpanKindIcon.test.tsx
  app/src/components/trace/spanKindColor.ts
  app/src/pages/DetailHeader.tsx
  app/src/pages/SpanHeader.tsx
  app/src/pages/trace/SessionDetailsHeader.tsx
  app/src/pages/trace/TraceDetailsHeader.tsx
  app/src/pages/trace/__tests__/SessionDetailsHeader.test.tsx
  app/src/pages/trace/__tests__/TraceDetailsHeader.test.tsx
  app/src/pages/trace/__tests__/TraceDetailsSkeleton.test.tsx
  app/stories/SpanKindIcon.stories.tsx
Due: oxfmt-app, oxlint-app

feat(ui): surface missing span content
  app/src/pages/trace/SpanDetails.tsx
  app/src/pages/trace/__tests__/SpanDetails.test.tsx
  app/src/pages/trace/span/LLMInput.tsx
  app/src/pages/trace/span/RerankerSpanInfo.tsx
  app/src/pages/trace/span/SpanInfo.tsx
  app/src/pages/trace/span/__tests__/SpanInfo.test.tsx
  app/src/pages/trace/span/utils.ts
Due: oxfmt-app, oxlint-app

docs(skills): remove legacy evaluator docs and condense pre-built reference
  .agents/skills/phoenix-evals/references/evaluators-pre-built.md
Due: none

docs(skills): weekly audit — 2026-07-29 (#14873)
  .agents/skills/phoenix-cli/SKILL.md
  .agents/skills/phoenix-evals/references/evaluators-pre-built.md
  .agents/skills/phoenix-evals/references/experiments-running-typescript.md
  .agents/skills/phoenix-evals/references/setup-typescript.md
  .agents/skills/phoenix-tracing/references/instrumentation-auto-typescript.md
  .agents/skills/phoenix-tracing/references/setup-typescript.md
Due: none

feat(sessions-ui): make text search discoverable from the empty filter
  app/src/components/filter/DSLFilterConditionField.tsx
  app/src/pages/project/SessionFilterConditionField.tsx
  app/src/pages/project/__tests__/sessionFilterSnippets.test.ts
Due: oxfmt-app, oxlint-app

docs(session-filter-dsl): record the case-polarity contract and its span-grain divergence
  internal_docs/specs/session-filter-dsl.md
Due: none

feat(session-filters): make string containment case-insensitive
  app/schema.graphql
  src/phoenix/db/session_aggregates.py
  src/phoenix/server/api/types/FilterVocabularyTerm.py
  src/phoenix/trace/dsl/filter.py
  src/phoenix/trace/dsl/session_filter.py
  tests/unit/server/api/types/test_Project.py
  tests/unit/trace/dsl/session_filter_reference.py
  tests/unit/trace/dsl/test_annotation_aliasing.py
  tests/unit/trace/dsl/test_session_filter.py
Due: format-python, lint-python

fix: preserve enabled when omitted from updateProjectLlmEvaluator
  app/schema.graphql
  app/src/pages/project/evaluators/EditProjectEvaluatorSlideover.tsx
  app/src/pages/project/evaluators/__generated__/EditProjectEvaluatorSlideoverUpdateLlmMutation.graphql.ts
  src/phoenix/server/api/mutations/evaluator_mutations.py
  tests/unit/server/api/mutations/test_project_evaluator_mutations.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix(server): make the monty binary discoverable in Docker images
  Dockerfile
  scripts/docker/devops/Dockerfile
  src/phoenix/server/monty_runtime.py
  tests/unit/server/test_mcp_code_mode.py
Due: format-python, lint-python

fix(server): make the monty binary discoverable in Docker images (#14935)
  Dockerfile
  scripts/docker/devops/Dockerfile
  src/phoenix/server/monty_runtime.py
  tests/unit/server/test_mcp_code_mode.py
Due: format-python, lint-python

chore(main): release arize-phoenix 19.11.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

fix: render span binding tabs in the create evaluator slideover
  app/src/components/evaluators/__tests__/codeEvaluatorUtils.test.ts
  app/src/components/evaluators/codeEvaluatorUtils.ts
  app/src/pages/project/ProjectPage.tsx
  app/src/pages/project/evaluators/AddProjectEvaluatorMenu.tsx
  app/src/pages/project/evaluators/CreateProjectCodeEvaluatorDialogContent.tsx
  app/src/pages/project/evaluators/CreateProjectEvaluatorSlideover.tsx
  app/src/pages/project/evaluators/EditProjectEvaluatorSlideover.tsx
  app/src/pages/project/evaluators/ProjectCodeEvaluatorDialogContent.tsx
  app/src/pages/project/evaluators/ProjectEvaluatorScopePanel.tsx
  app/src/pages/project/evaluators/__tests__/projectEvaluatorTypes.test.ts
  app/src/pages/project/evaluators/projectEvaluatorOptions.ts
  app/src/pages/project/evaluators/projectEvaluatorTypes.ts
  app/tests/projects.spec.ts
Due: oxfmt-app, oxlint-app

fix(tests): exact-match the Create button now that binding rows render in the dialog
  app/tests/projects.spec.ts
Due: oxfmt-app, oxlint-app

chore(main): release arize-phoenix 19.11.0 (#14839)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

feat(session-filters): scope the sessions aside to the active filter
  app/schema.graphql
  app/src/pages/project/SessionAnnotationSummary.tsx
  app/src/pages/project/SessionsTable.tsx
  app/src/pages/project/SessionsTableAside.tsx
  app/src/pages/project/__generated__/SessionAnnotationSummaryQuery.graphql.ts
  app/src/pages/project/__generated__/SessionAnnotationSummaryValueFragment.graphql.ts
  app/src/pages/project/__generated__/SessionAnnotationSummaryValueQuery.graphql.ts
  app/src/pages/project/__generated__/SessionsTableAsideQuery.graphql.ts
  internal_docs/specs/session-filter-dsl.md
  src/phoenix/server/api/dataloaders/annotation_summaries.py
  src/phoenix/server/api/types/Project.py
  src/phoenix/server/session_filters.py
  tests/unit/server/api/dataloaders/test_annotation_summaries.py
  tests/unit/server/api/types/test_Project.py
  tests/unit/server/test_session_filters.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

feat(session-filters): type the language before it reaches SQL
  internal_docs/specs/session-filter-dsl.md
  src/phoenix/trace/dsl/filter.py
  src/phoenix/trace/dsl/session_filter.py
  tests/unit/trace/dsl/session_filter_reference.py
  tests/unit/trace/dsl/test_session_filter.py
  tests/unit/trace/dsl/test_session_filter_semantics.py
Due: format-python, lint-python

chore: update phoenix version to 19.11.0 in kustomize and helm
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

fix(session-filters): count span kinds the same way in both spellings
  src/phoenix/trace/dsl/session_filter.py
  tests/unit/trace/dsl/session_filter_reference.py
  tests/unit/trace/dsl/test_session_filter.py
Due: format-python, lint-python

refactor(filter): move the DSL string helpers out of the component layer
  app/src/components/filter/filterUtils.ts
  app/src/components/filter/index.tsx
  app/src/pages/experiment/ExperimentRunFilterConditionContext.tsx
  app/src/pages/project/SessionFiltersContext.tsx
  app/src/pages/project/SpanFiltersContext.tsx
  app/src/pages/project/annotationFilterUtils.ts
  app/src/utils/__tests__/filterConditionUtils.test.ts
  app/src/utils/filterConditionUtils.ts
Due: oxfmt-app, oxlint-app

test(session-io): pin the displayed IO and the filter term to one root span
  tests/unit/server/api/dataloaders/test_session_io.py
Due: format-python, lint-python

docs(session-filter-dsl): describe the mechanics the compiler actually runs
  internal_docs/specs/session-filter-dsl.md
  src/phoenix/db/session_aggregates.py
  src/phoenix/server/api/types/FilterVocabularyTerm.py
  src/phoenix/trace/dsl/session_filter.py
  tests/unit/server/api/types/test_Project.py
  tests/unit/trace/dsl/test_session_filter.py
Due: format-python, lint-python
