Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

chore(main): release arize-phoenix-client 2.1.0 (#12205)
  .release-please-manifest.json
  packages/phoenix-client/CHANGELOG.md
  packages/phoenix-client/pyproject.toml
  uv.lock
Due: uv-lock-check

chore(js): update versions (#12204)
  js/.changeset/add-span-filters.md
  js/packages/phoenix-cli/CHANGELOG.md
  js/packages/phoenix-cli/package.json
  js/packages/phoenix-client/CHANGELOG.md
  js/packages/phoenix-client/package.json
  js/packages/phoenix-mcp/CHANGELOG.md
  js/packages/phoenix-mcp/package.json
Due: oxfmt-js

chore(js): update versions (#12190)
  js/.changeset/migrate-llms-txt-format.md
  js/packages/phoenix-cli/CHANGELOG.md
  js/packages/phoenix-cli/package.json
Due: oxfmt-js

chore(ui): enable jsx-a11y plugin and fix storybook violations (#11684)
  app/.oxlintrc.json
  app/stories/AnnotationInputs.stories.tsx
  app/stories/Menu.stories.tsx
  app/stories/TokenCosts.stories.tsx
  app/stories/TokenCount.stories.tsx
Due: oxfmt-app, oxlint-app

fix(playground): require tool parameters, normalize empty schema, show tool_choice in UI (#12185)
  app/schema.graphql
  app/src/components/dataset/__generated__/EditLLMDatasetEvaluatorSlideover_evaluator.graphql.ts
  app/src/pages/dataset/evaluators/__generated__/LLMDatasetEvaluatorDetails_datasetEvaluator.graphql.ts
  app/src/pages/playground/__generated__/fetchPlaygroundPromptQuery.graphql.ts
  app/src/pages/playground/__generated__/fetchPlaygroundPrompt_promptVersionToInstance_promptVersion.graphql.ts
  app/src/pages/playground/playgroundUtils.ts
  app/src/pages/playground/schemas.ts
  app/src/pages/prompt/PromptInvocationParameters.tsx
  app/src/pages/prompt/__generated__/EditPromptButtonPatchPromptMutation.graphql.ts
  app/src/pages/prompt/__generated__/PromptCodeExportCard__main.graphql.ts
  app/src/pages/prompt/__generated__/PromptInvocationParameters__main.graphql.ts
  app/src/pages/prompt/__generated__/PromptTools__main.graphql.ts
  app/src/pages/prompt/__generated__/promptLoaderQuery.graphql.ts
  app/src/pages/prompt/__generated__/promptVersionLoaderQuery.graphql.ts
  app/src/pages/prompt/promptCodeSnippets.tsx
  app/src/schemas/__tests__/toolSchemas.test.ts
  app/src/schemas/toolSchemas.ts
  app/src/store/playground/playgroundStore.tsx
  src/phoenix/server/api/helpers/playground_clients.py
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/api/subscriptions.py
  src/phoenix/server/api/types/PromptResponseFormat.py
  src/phoenix/server/api/types/PromptTools.py
  src/phoenix/server/api/types/PromptVersion.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

feat(agent): add browser bash tool execution (#12196)
  app/package.json
  app/pnpm-lock.yaml
  app/src/agent/chat/buildAgentChatRequestBody.ts
  app/src/agent/chat/chatTools.ts
  app/src/agent/chat/handleAgentToolCall.ts
  app/src/agent/tools/bash/bashToolRuntime.ts
  app/src/agent/tools/bash/bashToolSchema.ts
  app/src/agent/tools/bash/bashToolSessionRegistry.ts
  app/src/agent/tools/bash/bashToolTypes.ts
  app/src/agent/tools/bash/handleBashToolCall.ts
  app/src/agent/tools/bash/index.ts
  app/src/agent/tools/types.ts
  app/src/components/agent/AgentChatPanel.tsx
  app/src/components/agent/Chat.tsx
  app/src/components/agent/ChatMessage.tsx
  internal_docs/agent-filesystem/README.md
  internal_docs/agent-filesystem/plan.md
  internal_docs/agent-filesystem/t0.1-tool-contract.md
  internal_docs/agent-filesystem/t0.2-module-layout.md
  internal_docs/agent-filesystem/tasks.md
Due: oxfmt-app, oxlint-app

feat(evals): accept structured data eval inputs (#12095)
  packages/phoenix-evals/pyproject.toml
  packages/phoenix-evals/src/phoenix/evals/evaluators.py
  packages/phoenix-evals/src/phoenix/evals/llm/prompts.py
  packages/phoenix-evals/tests/phoenix/evals/llm/test_prompts.py
  packages/phoenix-evals/tests/phoenix/evals/test_evaluators.py
Due: format-python, lint-python, uv-lock-check

docs: rewrite CONTRIBUTING.md to set clear contribution expectations (#12184)
  CONTRIBUTING.md
Due: none

feat: tracing onboarding UI refinements (#12177)
  app/src/pages/profile/ViewerPreferences.tsx
  app/src/pages/project/integrationRegistry.tsx
  app/src/types/code.ts
Due: oxfmt-app, oxlint-app

docs: refine llms.txt: expand coverage, drop integrations, optimize conciseness (#12191)
  .agents/skills/phoenix-llms-txt/SKILL.md
  .github/workflows/claude-llms-txt.yml
  docs/phoenix/llms.txt
Due: none

feat(onboarding): add Python integration snippets (#12197)
  .agents/skills/phoenix-integration-snippets/SKILL.md
  app/src/components/project/integrationSnippets.ts
  app/src/components/project/integrationSnippets/agno.ts
  app/src/components/project/integrationSnippets/anthropic.ts
  app/src/components/project/integrationSnippets/environmentVariables.ts
  app/src/components/project/integrationSnippets/index.ts
  app/src/components/project/integrationSnippets/langchain.ts
  app/src/components/project/integrationSnippets/langgraph.ts
  app/src/components/project/integrationSnippets/llamaIndex.ts
  app/src/components/project/integrationSnippets/mastra.ts
  app/src/components/project/integrationSnippets/openai.ts
  app/src/components/project/integrationSnippets/openaiAgents.ts
  app/src/components/project/integrationSnippets/phoenixOtel.ts
  app/src/components/project/integrationSnippets/vercelAiSdk.ts
  app/src/pages/project/integrationRegistry.tsx
Due: oxfmt-app, oxlint-app

feat: Add TypeScript onboarding snippets for LangChain, OpenAI, Anthropic, and Mastra (#12186)
  .agents/skills/phoenix-integration-snippets/SKILL.md
  app/src/components/project/IntegrationIcons.tsx
  app/src/components/project/PythonProjectGuide.tsx
  app/src/components/project/TypeScriptProjectGuide.tsx
  app/src/components/project/integrationSnippets.ts
  app/src/pages/project/ProjectOnboarding.tsx
  app/src/pages/project/integrationDefinitions.ts
  app/src/pages/project/integrationRegistry.tsx
Due: oxfmt-app, oxlint-app

feat(client): add span filter params to getSpans (#12203)
  js/.changeset/add-span-filters.md
  js/examples/apps/langchain-quickstart/src/tools.ts
  js/packages/phoenix-client/src/constants/serverRequirements.ts
  js/packages/phoenix-client/src/spans/getSpans.ts
  js/packages/phoenix-client/src/spans/index.ts
  js/packages/phoenix-client/src/types/spans.ts
  js/packages/phoenix-client/test/spans/getSpans.test.ts
  packages/phoenix-client/src/phoenix/client/constants/server_requirements.py
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
  packages/phoenix-client/tests/client/resources/spans/__init__.py
  packages/phoenix-client/tests/client/resources/spans/test_spans.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

refactor: extract semantic table color tokens and add tooltip arrows (#12208)
  app/src/GlobalStyles.tsx
  app/src/components/table/styles.ts
  app/src/pages/experiment/ExampleDetailsPaginator.tsx
  app/src/pages/trace/TraceDetailsPaginator.tsx
Due: oxfmt-app, oxlint-app

chore: add frontend skill for relay (#12246)
  .agents/skills/phoenix-frontend/SKILL.md
  .agents/skills/phoenix-frontend/rules/relay.md
Due: none

feat: Add spans command to Phoenix CLI for fetching and filtering spans (#12241)
  docs/phoenix/sdk-api-reference/typescript/arizeai-phoenix-cli.mdx
  js/.changeset/spans-table-format.md
  js/packages/phoenix-cli/src/cli.ts
  js/packages/phoenix-cli/src/commands/formatSpans.ts
  js/packages/phoenix-cli/src/commands/index.ts
  js/packages/phoenix-cli/src/commands/spans.ts
  skills/phoenix-cli/SKILL.md
Due: oxfmt-js, oxlint-js

chore(skills): split TypeScript rules into standalone phoenix-typescript skill (#12244)
  .agents/skills/phoenix-frontend/SKILL.md
  .agents/skills/phoenix-frontend/rules/typescript.md
  .agents/skills/phoenix-typescript/SKILL.md
  .claude/skills/phoenix-typescript
Due: none

chore: update sitemap.xml (#12238)
  docs/phoenix/sitemap.xml
  sitemap.xml
Due: none

feat(onboarding): add Bedrock integration and language tab icons (#12214)
  app/src/components/code/styles.tsx
  app/src/components/core/icon/Icons.tsx
  app/src/pages/project/OnboardingSteps.tsx
  app/src/pages/project/ProjectOnboarding.tsx
  app/src/pages/project/integrationDefinitions.ts
  app/src/pages/project/integrationRegistry.tsx
Due: oxfmt-app, oxlint-app

feat: new icons for mastra, llamaindex, bedrock (#12232)
  app/src/components/generative/GenerativeProviderIcon.tsx
  app/src/components/project/IntegrationIcons.tsx
Due: oxfmt-app, oxlint-app

fix(js): re-export suppressTracing from phoenix-otel (#12201)
  docs/phoenix/tracing/how-to-tracing/setup-tracing/instrument.mdx
  js/packages/phoenix-otel/src/index.ts
  js/packages/phoenix-otel/test/suppressTracing.test.ts
Due: oxfmt-js, oxlint-js

docs: Add Phoenix release notes for 03-11-2026 through 03-18-2026 (#12211)
  docs.json
  docs/phoenix/release-notes.mdx
  docs/phoenix/release-notes/03-2026/03-13-2026-rest-api-improvements.mdx
  docs/phoenix/release-notes/2026.mdx
Due: none

fix(datasets): replace fetchQuery with loadQuery in react router loaders (#12225)
  .pre-commit-config.yaml
  app/src/pages/auth/ResetPasswordPage.tsx
  app/src/pages/auth/__generated__/resetPasswordLoaderQuery.graphql.ts
  app/src/pages/auth/resetPasswordLoader.ts
  app/src/pages/dashboards/DashboardsPage.tsx
  app/src/pages/dashboards/dashboardsLoader.tsx
  app/src/pages/dataset/versions/DatasetVersionsPage.tsx
  app/src/pages/dataset/versions/datasetVersionsLoader.tsx
  app/src/pages/prompt/PromptConfigPage.tsx
  app/src/pages/prompt/PromptVersionDetailsPage.tsx
  app/src/pages/prompt/promptConfigLoader.ts
  app/src/pages/prompt/promptVersionLoader.tsx
  app/src/pages/settings/SettingsAIProvidersPage.tsx
  app/src/pages/settings/settingsAIProvidersPageLoader.ts
Due: oxfmt-app, oxlint-app

ci: prevent httpx.ReadTimeout in experiment integration tests (#12234)
  tests/integration/_mock_llm_server.py
  tests/integration/experiments/test_playground.py
Due: format-python, lint-python

chore(js): update versions (#12242)
  js/.changeset/spans-table-format.md
  js/packages/phoenix-cli/CHANGELOG.md
  js/packages/phoenix-cli/package.json
Due: oxfmt-js

feat: add copy-to-clipboard to session, span, and trace ID cells (#12237)
  app/src/GlobalStyles.tsx
  app/src/components/core/CopyToClipboardButton.tsx
  app/src/components/table/CellWithControlsWrap.tsx
  app/src/components/table/CellWithControlsWrapper.tsx
  app/src/components/table/index.tsx
  app/src/components/table/styles.ts
  app/src/pages/project/SessionsTable.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/TracesTable.tsx
  app/src/store/tracingStore.tsx
Due: oxfmt-app, oxlint-app

chore: remove no-op useTheme() calls from chart color hooks
  app/src/components/chart/colors.tsx
Due: oxfmt-app, oxlint-app

refactor(datasets): compute content hashes outside DB transaction
  src/phoenix/db/insertion/dataset.py
  src/phoenix/server/api/routers/v1/datasets.py
  tests/unit/db/insertion/test_dataset.py
Due: format-python, lint-python

fix(sandbox): address review findings from PR #12240
  src/phoenix/db/facilitator.py
  src/phoenix/server/api/helpers/evaluators.py
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/api/mutations/sandbox_config_mutations.py
  src/phoenix/server/api/types/SandboxConfig.py
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/sync.py
  src/phoenix/server/sandbox/wasm_backend.py
  tests/unit/server/api/mutations/test_code_evaluator_sandbox_mutations.py
  tests/unit/server/api/test_sync.py
  tests/unit/server/api/test_wasm_backend.py
Due: format-python, lint-python

enable filtering integrations
  app/src/pages/project/IntegrationSelectButtonGroup.tsx
Due: oxfmt-app, oxlint-app

fix(sandbox): regenerate GraphQL schema to include sandbox types
  app/schema.graphql
Due: none

fix: playground subscription in_progress keyed by Task
  src/phoenix/server/api/subscriptions.py
  tests/unit/server/api/test_cancellation.py
Due: format-python, lint-python

chore: improve logs for flaky integration test
  tests/integration/experiments/test_playground.py
Due: format-python, lint-python

wip
  .github/workflows/python-all-platforms.yml
  tests/integration/experiments/test_playground.py
Due: format-python, lint-python

chore: add design token naming guide to phoenix-design skill
  .agents/skills/phoenix-design/SKILL.md
  .agents/skills/phoenix-design/rules/tokens.md
Due: none

refactor: move BEM rules to rules/bem.md for progressive disclosure
  .agents/skills/phoenix-design/SKILL.md
  .agents/skills/phoenix-design/rules/bem.md
Due: none

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
