Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

chore: update phoenix version to 19.8.0 in kustomize and helm (#14788)
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

feat(evals): add Evaluators tab to the project page (#14081)
  app/src/Routes.tsx
  app/src/components/evaluators/EditBuiltInEvaluatorDialogContent.tsx
  app/src/components/evaluators/EditLLMEvaluatorDialogContent.tsx
  app/src/components/evaluators/EvaluatorDatasetTestPanel.tsx
  app/src/components/evaluators/EvaluatorForm.tsx
  app/src/components/evaluators/EvaluatorNameAndDescriptionFields.tsx
  app/src/pages/project/ProjectPage.tsx
  app/src/pages/project/evaluators/AddProjectEvaluatorMenu.tsx
  app/src/pages/project/evaluators/CreateLLMProjectEvaluatorSlideover.tsx
  app/src/pages/project/evaluators/ProjectEvaluatorTargetField.tsx
  app/src/pages/project/evaluators/ProjectEvaluatorTestPlaceholder.tsx
  app/src/pages/project/evaluators/ProjectEvaluatorsPage.tsx
  app/src/pages/project/evaluators/createProjectLlmEvaluator.ts
  app/src/pages/project/evaluators/projectEvaluatorTypes.ts
  app/src/pages/project/index.tsx
Due: oxfmt-app, oxlint-app

feat(db): online-eval work coordination schema (#14011)
  scripts/ddl/postgresql_schema.sql
  src/phoenix/config.py
  src/phoenix/db/migrations/versions/a7f1c3e9d2b4_add_online_eval_coordination.py
  src/phoenix/db/models.py
  src/phoenix/server/app.py
  src/phoenix/server/online_eval/__init__.py
  src/phoenix/server/online_eval/derivation.py
  src/phoenix/server/online_eval/producer.py
  src/phoenix/server/prometheus.py
  tests/integration/db_migrations/test_db_schema_a7f1c3e9d2b4_online_eval_coordination.py
  tests/unit/db/test_eval_work_coordination.py
  tests/unit/server/online_eval/__init__.py
  tests/unit/server/online_eval/test_app_wiring.py
  tests/unit/server/online_eval/test_derivation.py
  tests/unit/server/online_eval/test_producer.py
Due: format-python, lint-python

fix(db): linearize migration chain — re-parent online-eval coordination onto eaf1907ae453
  src/phoenix/db/migrations/versions/a7f1c3e9d2b4_add_online_eval_coordination.py
Due: format-python, lint-python

feat(evals): GraphQL CRUD for project evaluators (#14375)
  app/schema.graphql
  scripts/ddl/postgresql_schema.sql
  src/phoenix/db/migrations/versions/a7f1c3e9d2b4_add_online_eval_coordination.py
  src/phoenix/db/models.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/project_evaluator_criteria_by_id.py
  src/phoenix/server/api/helpers/evaluators.py
  src/phoenix/server/api/mutations/evaluator_mutations.py
  src/phoenix/server/api/types/Evaluator.py
  src/phoenix/server/api/types/Project.py
  src/phoenix/server/online_eval/derivation.py
  src/phoenix/server/online_eval/producer.py
  src/phoenix/trace/dsl/filter.py
  tests/integration/db_migrations/test_db_schema_a7f1c3e9d2b4_online_eval_coordination.py
  tests/unit/db/test_eval_work_coordination.py
  tests/unit/server/api/helpers/test_evaluators.py
  tests/unit/server/api/mutations/test_evaluator_mutations.py
  tests/unit/server/api/mutations/test_project_evaluator_mutations.py
  tests/unit/server/online_eval/test_derivation.py
  tests/unit/server/online_eval/test_producer.py
Due: format-python, lint-python

refactor(online-eval): rename eval_work_cursors.grain to evaluation_target
  src/phoenix/db/migrations/versions/a7f1c3e9d2b4_add_online_eval_coordination.py
  src/phoenix/db/models.py
  src/phoenix/server/api/types/Evaluator.py
  src/phoenix/server/online_eval/consumer.py
  src/phoenix/server/online_eval/db_coordinator.py
  src/phoenix/server/online_eval/executor.py
  src/phoenix/server/online_eval/producer.py
  tests/integration/db_migrations/test_db_schema_a7f1c3e9d2b4_online_eval_coordination.py
  tests/unit/db/test_eval_work_coordination.py
  tests/unit/server/online_eval/test_app_wiring.py
  tests/unit/server/online_eval/test_db_coordinator.py
  tests/unit/server/online_eval/test_producer.py
Due: format-python, lint-python

refactor(online-eval): align span evaluation context vocabulary (#14556)
  app/schema.graphql
  src/phoenix/server/online_eval/executor.py
  tests/unit/server/online_eval/test_consumer.py
  tests/unit/server/online_eval/test_derivation.py
Due: format-python, lint-python

feat(online-eval): consumer + env-var config (stacked on producer-only) (#14100)
  src/phoenix/config.py
  src/phoenix/server/app.py
  src/phoenix/server/online_eval/consumer.py
  src/phoenix/server/online_eval/coordinator.py
  src/phoenix/server/online_eval/db_coordinator.py
  src/phoenix/server/online_eval/executor.py
  src/phoenix/server/online_eval/producer.py
  src/phoenix/server/prometheus.py
  tests/unit/server/online_eval/test_app_wiring.py
  tests/unit/server/online_eval/test_consumer.py
  tests/unit/server/online_eval/test_db_coordinator.py
  tests/unit/server/online_eval/test_producer.py
  tests/unit/test_config.py
Due: format-python, lint-python

feat(evaluators): bind existing code evaluators to projects (#14593)
  app/schema.graphql
  src/phoenix/server/api/mutations/evaluator_mutations.py
  tests/unit/server/api/mutations/test_project_evaluator_mutations.py
Due: format-python, lint-python

feat(online-eval): consumer throughput env knobs, TTL-vs-drain warning, expired-work gauge
  src/phoenix/config.py
  src/phoenix/server/app.py
  src/phoenix/server/online_eval/consumer.py
  src/phoenix/server/online_eval/coordinator.py
  src/phoenix/server/online_eval/db_coordinator.py
  src/phoenix/server/prometheus.py
  tests/unit/server/online_eval/test_db_coordinator.py
  tests/unit/test_config.py
Due: format-python, lint-python

fix(db): re-parent online-eval coordination migration onto c9d0e1f2a3b4
  src/phoenix/db/migrations/versions/a7f1c3e9d2b4_add_online_eval_coordination.py
Due: format-python, lint-python

refactor(server): trim code-mode sandbox prose per review
  MIGRATION.md
  pyproject.toml
  src/phoenix/server/mcp_code_mode.py
Due: format-python, lint-python, uv-lock-check

fix: mount-safe filter field, faithful span preview context, review fixes
  app/schema.graphql
  app/src/components/evaluators/EditLLMEvaluatorDialogContent.tsx
  app/src/components/evaluators/EvaluatorInputMapping.tsx
  app/src/pages/project/SpanFilterConditionField.tsx
  app/src/pages/project/evaluators/AddProjectEvaluatorMenu.tsx
  app/src/pages/project/evaluators/CreateLLMProjectEvaluatorSlideover.tsx
  app/src/pages/project/evaluators/EditProjectEvaluatorSlideover.tsx
  app/src/pages/project/evaluators/ProjectCodeEvaluatorDialogContent.tsx
  app/src/pages/project/evaluators/ProjectEvaluatorFormSections.tsx
  app/src/pages/project/evaluators/ProjectEvaluatorTestPanel.tsx
  app/src/pages/project/evaluators/__generated__/AddProjectEvaluatorMenuQuery.graphql.ts
  app/src/pages/project/evaluators/__generated__/EditProjectEvaluatorSlideoverQuery.graphql.ts
  app/src/pages/project/evaluators/projectEvaluatorTypes.ts
  app/src/store/__tests__/evaluatorStore.test.ts
  app/src/store/evaluatorStore.tsx
  app/src/types/evaluators.ts
  src/phoenix/server/api/types/Span.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix: event-driven evaluator previews, register ProjectEvaluator node resolution
  app/src/pages/project/evaluators/ProjectEvaluatorFormSections.tsx
  app/src/pages/project/evaluators/ProjectEvaluatorTestPanel.tsx
  src/phoenix/server/api/queries.py
  tests/unit/server/api/mutations/test_project_evaluator_mutations.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix: wrap code-evaluator edit panel in playground provider
  app/src/pages/project/evaluators/EditProjectEvaluatorSlideover.tsx
Due: oxfmt-app, oxlint-app

refactor: extract shared evaluator form dialog chrome shell
  app/src/components/evaluators/EditLLMEvaluatorDialogContent.tsx
  app/src/components/evaluators/EvaluatorFormDialogContent.tsx
  app/src/pages/project/evaluators/ProjectCodeEvaluatorDialogContent.tsx
Due: oxfmt-app, oxlint-app

feat: in-row enable/disable toggle for code project evaluators
  app/src/pages/project/evaluators/ProjectEvaluatorEnabledSwitch.tsx
  app/src/pages/project/evaluators/ProjectEvaluatorsTable.tsx
  app/src/pages/project/evaluators/__generated__/ProjectEvaluatorEnabledSwitchMutation.graphql.ts
  app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsPageQuery.graphql.ts
  app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTablePaginationQuery.graphql.ts
  app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_project.graphql.ts
Due: oxfmt-app, oxlint-app

feat: discoverable empty state for project evaluators
  app/src/pages/project/evaluators/AddProjectEvaluatorMenu.tsx
  app/src/pages/project/evaluators/ProjectEvaluatorsEmptyGallery.tsx
  app/src/pages/project/evaluators/ProjectEvaluatorsTable.tsx
  app/src/pages/project/evaluators/__generated__/projectEvaluatorOptionsQuery.graphql.ts
  app/src/pages/project/evaluators/projectEvaluatorOptions.ts
Due: oxfmt-app, oxlint-app

fix: cap sampling slider track width
  app/src/pages/project/evaluators/ProjectEvaluatorFormSections.tsx
Due: oxfmt-app, oxlint-app

feat: deep-link the project scratch-create evaluator flow
  app/src/pages/project/evaluators/AddProjectEvaluatorMenu.tsx
Due: oxfmt-app, oxlint-app

fix: align evaluator preview spans with page time range
  app/src/pages/project/evaluators/ProjectEvaluatorTestPanel.tsx
  app/src/pages/project/evaluators/__generated__/ProjectEvaluatorTestPanelQuery.graphql.ts
Due: oxfmt-app, oxlint-app

fix: prevent backdrop click from discarding evaluator form
  app/src/pages/project/evaluators/CreateLLMProjectEvaluatorSlideover.tsx
  app/src/pages/project/evaluators/EditProjectEvaluatorSlideover.tsx
Due: oxfmt-app, oxlint-app

refactor: use a dropdown menu for project evaluator row actions
  app/src/pages/project/evaluators/ProjectEvaluatorActionMenu.tsx
Due: oxfmt-app, oxlint-app

fix: align project add-evaluator creation label with dataset menu
  app/src/pages/project/evaluators/AddProjectEvaluatorMenu.tsx
Due: oxfmt-app, oxlint-app

refactor: render project evaluators table through TanStack
  app/src/pages/project/evaluators/ProjectEvaluatorsTable.tsx
  app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsPageQuery.graphql.ts
  app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTablePaginationQuery.graphql.ts
  app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_project.graphql.ts
  app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_row.graphql.ts
Due: oxfmt-app, oxlint-app

feat: animate disclosure expand/collapse
  app/src/components/core/disclosure/Disclosure.tsx
  app/src/components/core/disclosure/styles.tsx
Due: oxfmt-app, oxlint-app

feat: add "Create new code evaluator" to the project add-evaluator menu
  app/src/pages/project/evaluators/AddProjectEvaluatorMenu.tsx
Due: oxfmt-app, oxlint-app

feat: deep-link the project new-code evaluator create flow
  app/src/pages/project/evaluators/AddProjectEvaluatorMenu.tsx
Due: oxfmt-app, oxlint-app

feat: toggle any project evaluator's enabled flag in-row
  app/schema.graphql
  app/src/pages/project/evaluators/ProjectEvaluatorEnabledSwitch.tsx
  app/src/pages/project/evaluators/ProjectEvaluatorsTable.tsx
  app/src/pages/project/evaluators/__generated__/ProjectEvaluatorEnabledSwitchMutation.graphql.ts
  app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsPageQuery.graphql.ts
  app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTablePaginationQuery.graphql.ts
  app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_project.graphql.ts
  app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_row.graphql.ts
  src/phoenix/server/api/mutations/evaluator_mutations.py
  tests/unit/server/api/mutations/test_project_evaluator_mutations.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

feat: author new code evaluators from the project evaluators surface
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
  app/src/pages/project/evaluators/CreateLLMProjectEvaluatorSlideover.tsx
  app/src/pages/project/evaluators/CreateProjectCodeEvaluatorDialogContent.tsx
  app/src/pages/project/evaluators/ProjectEvaluatorFormSections.tsx
  app/src/pages/project/evaluators/ProjectEvaluatorTestPanel.tsx
  app/src/pages/project/evaluators/__generated__/CreateProjectCodeEvaluatorDialogContentMutation.graphql.ts
  app/src/pages/project/evaluators/__generated__/CreateProjectCodeEvaluatorDialogContentQuery.graphql.ts
Due: oxfmt-app, oxlint-app

fix: point the project evaluator E2E test at the renamed menu item
  app/tests/projects.spec.ts
Due: oxfmt-app, oxlint-app

feat: add "Create new code evaluator" card to the project evaluators empty gallery
  app/src/pages/project/evaluators/ProjectEvaluatorsEmptyGallery.tsx
Due: oxfmt-app, oxlint-app

feat: seed from-scratch project evaluators with a span-shaped template
  app/src/components/evaluators/EvaluatorChatTemplate/utils.ts
  app/src/components/evaluators/templates/spanEvaluatorTemplate.tsx
  app/src/pages/project/evaluators/CreateLLMProjectEvaluatorSlideover.tsx
Due: oxfmt-app, oxlint-app

feat: name the step still blocking evaluator submission
  app/src/components/evaluators/EditLLMEvaluatorDialogContent.tsx
  app/src/components/evaluators/EvaluatorFormDialogContent.tsx
  app/src/pages/project/evaluators/CreateLLMProjectEvaluatorSlideover.tsx
  app/src/pages/project/evaluators/ProjectEvaluatorSubmitHint.tsx
Due: oxfmt-app, oxlint-app

feat: compact the project evaluator scope into an always-visible card
  app/src/components/evaluators/EvaluatorForm.tsx
  app/src/pages/project/evaluators/CreateLLMProjectEvaluatorSlideover.tsx
  app/src/pages/project/evaluators/CreateProjectCodeEvaluatorDialogContent.tsx
  app/src/pages/project/evaluators/EditProjectEvaluatorSlideover.tsx
  app/src/pages/project/evaluators/ProjectCodeEvaluatorDialogContent.tsx
  app/src/pages/project/evaluators/ProjectEvaluatorFormSections.tsx
  app/src/pages/project/evaluators/ProjectEvaluatorTargetField.tsx
  app/src/pages/project/evaluators/__generated__/ProjectEvaluatorFormSectionsMatchedCountQuery.graphql.ts
  app/tests/projects.spec.ts
Due: oxfmt-app, oxlint-app

style: apply prettier to the project evaluator enabled switch
  app/src/pages/project/evaluators/ProjectEvaluatorEnabledSwitch.tsx
Due: oxfmt-app, oxlint-app

feat: author evaluators against a sample span before traffic arrives
  app/src/pages/project/evaluators/ProjectEvaluatorTestPanel.tsx
  app/src/pages/project/evaluators/sampleSpanEvaluationContext.ts
Due: oxfmt-app, oxlint-app

feat: rebuild the evaluator preview into a working test panel
  app/src/pages/project/evaluators/ProjectEvaluatorTestPanel.tsx
  app/src/pages/project/evaluators/__generated__/ProjectEvaluatorTestPanelQuery.graphql.ts
Due: oxfmt-app, oxlint-app

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
