Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

chore(agents): drop a redundant validator comment
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python

chore(agents): format chat session modules and trim comments
  app/src/agent/chat/createAgentSessionChat.ts
  app/src/components/agent/useDraftSessionCreation.ts
Due: oxfmt-app, oxlint-app

perf(agents): index agent_sessions.custom_provider_id
  scripts/ddl/postgresql_schema.sql
  src/phoenix/db/migrations/versions/e767d3c57f32_create_agent_sessions_and_agent_session_.py
  src/phoenix/db/models.py
Due: format-python, lint-python

chore(agents): trim agent store notice comments
  app/src/store/agentStore.ts
Due: oxfmt-app, oxlint-app

refactor(agents): rename the stale-transcript 409 code to agent_session_messages_stale
  app/src/agent/chat/agentChatApi.ts
  app/src/agent/chat/createAgentSessionChat.ts
  app/src/api/__generated__/v1.ts
  js/packages/phoenix-cli/src/pxi/App.tsx
  js/packages/phoenix-cli/src/pxi/client.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  schemas/openapi.json
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/agents/test_agents_router.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

chore(cli): format pxi client and app test
  js/packages/phoenix-cli/src/pxi/client.ts
  js/packages/phoenix-cli/test/pxiApp.test.tsx
Due: oxfmt-js, oxlint-js

refactor(agents): drop redundant session flushes in agent session mutations
  src/phoenix/server/api/mutations/agent_session_mutations.py
Due: format-python, lint-python

refactor(agents): rename the stale-transcript notice to messagesAddedElsewhere
  app/src/agent/chat/createAgentSessionChat.ts
  app/src/components/agent/Chat.tsx
  app/src/store/__tests__/agentStore.test.ts
  app/src/store/agentStore.ts
Due: oxfmt-app, oxlint-app

refactor(agents): rename the internal session update helper to patch
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/api/routers/test_agents.py
Due: format-python, lint-python

chore(agents): drop a session-notice comment in Chat
  app/src/components/agent/Chat.tsx
Due: oxfmt-app, oxlint-app

fix(agents): auto-generated session title no longer overwrites a manual rename
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/api/routers/test_agents.py
Due: format-python, lint-python

clean
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python

refactor(agents): derive session model from Relay instead of a store copy
  app/src/agent/chat/createAgentSessionChat.ts
  app/src/components/agent/AgentSessionsResource.tsx
  app/src/components/agent/__generated__/agentSessionModelSessionQuery.graphql.ts
  app/src/components/agent/__generated__/useAgentChatPanelStatePatchAgentSessionMutation.graphql.ts
  app/src/components/agent/__tests__/agentSessionModel.test.ts
  app/src/components/agent/__tests__/useAgentChatPanelState.test.ts
  app/src/components/agent/agentSessionModel.ts
  app/src/components/agent/useAgentChat.ts
  app/src/components/agent/useAgentChatPanelState.ts
  app/src/components/agent/useAgentSessionHistory.ts
  app/src/components/agent/useAgentSessionSync.ts
  app/src/components/agent/useDraftSessionCreation.ts
  app/src/store/__tests__/agentStore.test.ts
  app/src/store/agentStore.ts
Due: oxfmt-app, oxlint-app

test(cli): rename session model mocks to patchSessionModel
  js/packages/phoenix-cli/test/pxiApp.test.tsx
Due: oxfmt-js, oxlint-js

chore(agents): format the relay session model modules
  app/src/components/agent/__tests__/agentSessionModel.test.ts
  app/src/components/agent/useAgentChat.ts
  app/src/components/agent/useAgentSessionSync.ts
Due: oxfmt-app, oxlint-app

test(agents): supply the required session model columns in title tests
  tests/unit/server/api/routers/test_agents.py
Due: format-python, lint-python

chore(agents): rename the model-loader surface and trim session-model comments
  app/src/agent/chat/createAgentSessionChat.ts
  app/src/components/agent/AgentSessionsResource.tsx
  app/src/components/agent/agentSessionModel.ts
  app/src/components/agent/useAgentChat.ts
  app/src/components/agent/useAgentChatPanelState.ts
  app/src/components/agent/useDraftSessionCreation.ts
Due: oxfmt-app, oxlint-app

refactor(agents): drop always-true only_if_untitled flag from session update
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python

refactor(cli): rename the session model update to patch
  js/packages/phoenix-cli/src/pxi/App.tsx
  js/packages/phoenix-cli/src/pxi/client.ts
  js/packages/phoenix-cli/src/pxi/types.ts
Due: oxfmt-js, oxlint-js

test(agents): annotate the loaded title so mypy accepts the return
  tests/unit/server/api/routers/test_agents.py
Due: format-python, lint-python

fix(agents): discard a losing generated title instead of only skipping the write
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/api/routers/test_agents.py
Due: format-python, lint-python

test(agents): type the pagination params dict for mypy
  tests/unit/server/agents/test_agent_session_routes.py
Due: format-python, lint-python

chore(agents): regenerate openapi after the get-session docstring trim
  app/src/api/__generated__/v1.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  schemas/openapi.json
Due: oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

refactor(agents): split the session patch helper and drop the end-of-turn title retry
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/api/routers/test_agents.py
Due: format-python, lint-python

refactor(agents): paginate the session transcript on a /messages subresource
  app/src/api/__generated__/v1.ts
  internal_docs/specs/agent-session-messages-route.md
  js/packages/phoenix-cli/src/pxi/client.ts
  js/packages/phoenix-cli/test/pxiClient.test.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-client/src/constants/serverRequirements.ts
  js/packages/phoenix-client/src/index.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/server/api/routers/agents.py
  tests/integration/auth/test_auth.py
  tests/unit/server/agents/test_agent_session_routes.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

docs(agents): plan paginated session messages subresource route
  internal_docs/specs/agent-session-messages-route.md
Due: none

clean comments
  js/packages/phoenix-cli/src/pxi/client.ts
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix: move span and trace link formatting into the PXI system prompt (#14854)
  src/phoenix/server/agents/prompts/base/BASE_INSTRUCTIONS.xml.j2
  src/phoenix/server/agents/prompts/skills/phoenix-graphql/SKILL.md
Due: none

refactor: simplify AI query internals and eval harness
  app/evals/aiQuery/equivalenceJudge.ts
  app/evals/aiQuery/evalCase.ts
  app/evals/aiQuery/experimentRunFilterCases.ts
  app/evals/aiQuery/experimentRunFilterPrompt.eval.ts
  app/evals/aiQuery/googleModels.ts
  app/evals/aiQuery/intentJudge.ts
  app/evals/aiQuery/spanFilterCases.ts
  app/evals/aiQuery/spanFilterIntent.eval.ts
  app/evals/aiQuery/spanFilterIntentCases.ts
  app/evals/aiQuery/spanFilterPrompt.eval.ts
  app/src/components/ai/AIOutline.tsx
  app/src/components/filter/DSLFilterConditionField.tsx
  app/src/components/filter/ai/AIQueryDSLFilterField.tsx
  app/src/components/filter/ai/AIQueryModelPicker.tsx
  app/src/components/filter/ai/types.ts
  app/src/components/filter/ai/useAIQuery.ts
  app/src/components/generative/ModelMenu.tsx
  app/src/components/generative/serverLanguageModel.ts
  app/stories/DSLFilterConditionField.stories.tsx
Due: oxfmt-app, oxlint-app

feat(ui): teach the AI query prompt to capture intent, not literal words
  app/src/components/filter/__tests__/extractFilterExpression.test.ts
  app/src/components/filter/ai/buildAIQueryPrompt.ts
  app/src/components/filter/ai/extractFilterExpression.ts
  app/src/components/filter/ai/generateFilterCondition.ts
Due: oxfmt-app, oxlint-app

fix(cli): make px setup's trace verdict the run's result (#14904)
  .agents/skills/phoenix-cli/SKILL.md
  docs/phoenix/agent-assisted-setup.mdx
  docs/phoenix/sdk-api-reference/typescript/arizeai-phoenix-cli.mdx
  js/packages/phoenix-cli/.agents/skills/phoenix-cli-development/SKILL.md
  js/packages/phoenix-cli/README.md
  js/packages/phoenix-cli/src/commands/formatSetup.ts
  js/packages/phoenix-cli/src/commands/setup.ts
  js/packages/phoenix-cli/src/exitCodes.ts
  js/packages/phoenix-cli/src/setup/copy.ts
  js/packages/phoenix-cli/src/setup/runSetup.ts
  js/packages/phoenix-cli/src/setup/steps/verifyTraces.ts
  js/packages/phoenix-cli/test/formatSetup.test.ts
  js/packages/phoenix-cli/test/setup/runSetup.test.ts
  js/packages/phoenix-cli/test/setup/verifyTraces.test.ts
  js/packages/phoenix-cli/test/setupCommand.test.ts
Due: oxfmt-js, oxlint-js

chore(main): release arize-phoenix 19.17.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

chore: Show assistant config at startup (#15025)
  src/phoenix/server/agents/config.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/app.py
  src/phoenix/server/cli/boot_message.py
  src/phoenix/server/cli/commands/serve.py
  tests/unit/server/cli/commands/test_serve.py
  tests/unit/server/cli/test_boot_message.py
Due: format-python, lint-python

fix(cost-tracking): sync LiteLLM above_NNNk_tokens tier rates as threshold_based customizations
  .github/.scripts/sync_models.py
  src/phoenix/server/cost_tracking/model_cost_manifest.json
  tests/unit/server/cost_tracking/test_model_cost_manifest.py
Due: format-python, lint-python

update
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Due: none

chore(main): release arize-phoenix 19.17.0 (#15080)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

Add REST prompt metadata patch endpoint
  src/phoenix/server/api/routers/v1/prompts.py
  tests/unit/server/api/routers/v1/test_prompts.py
Due: format-python, lint-python

Fix prompt patch CI coverage
  schemas/openapi.json
  tests/integration/_helpers.py
Due: format-python, lint-python

Fix prompt PATCH CI failures
  app/src/api/__generated__/v1.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/prompts.py
  tests/unit/server/api/routers/v1/test_prompts.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
