Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

clean-notebooks:
  name: clean-notebooks
  stages:
  - pre-commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --ClearMetadataPreprocessor.enabled=True --inplace

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs: add append messages video to playground docs and release notes
  docs/phoenix/prompt-engineering/how-to-prompts/using-the-playground.mdx
  docs/phoenix/release-notes/01-2026/01-05-2026-appended-messages-for-playground-experiments.mdx
Due: none

docs: add append messages video to playground docs and release notes (#11709)
  docs/phoenix/prompt-engineering/how-to-prompts/using-the-playground.mdx
  docs/phoenix/release-notes/01-2026/01-05-2026-appended-messages-for-playground-experiments.mdx
Due: none

feat(app): migrate bundler from Vite/Rollup to rolldown-vite
  app/package.json
  app/pnpm-lock.yaml
  app/vite.config.mts
Due: oxfmt-app

feat(evals): Add utility to convert Phoenix prompts to evals templates (#11696)
  docs/phoenix/evaluation/how-to-evals/configuring-the-llm/prompt-formats.mdx
  docs/phoenix/evaluation/how-to-evals/using-evals-with-phoenix.mdx
  packages/phoenix-evals/src/phoenix/evals/__init__.py
  packages/phoenix-evals/src/phoenix/evals/llm/__init__.py
  packages/phoenix-evals/src/phoenix/evals/llm/prompts.py
  packages/phoenix-evals/tests/phoenix/evals/llm/test_prompt_versions.py
Due: none

docs: expand evaluator prompt versioning and tagging section
  app/package.json
  app/pnpm-lock.yaml
  app/vite.config.mts
  docs/phoenix/evaluation/server-evals/llm-evaluators.mdx
Due: oxfmt-app

docs: expand evaluator prompt versioning and tagging section (#11711)
  docs/phoenix/evaluation/server-evals/llm-evaluators.mdx
Due: none

docs: fix incorrect code fence language labels (#11703)
  docs/phoenix/cookbook/agent-workflow-patterns/google-genai-sdk-manual-orchestration.mdx
  docs/phoenix/cookbook/datasets-and-experiments/summarization.mdx
  docs/phoenix/cookbook/evaluation/evaluate-rag.mdx
  docs/phoenix/cookbook/tracing/structured-data-extraction.mdx
  docs/phoenix/evaluation/evals.mdx
  docs/phoenix/evaluation/legacy/how-to-evals/evaluation-models.mdx
  docs/phoenix/integrations/llm-providers/amazon-bedrock/amazon-bedrock-agents-tracing.mdx
  docs/phoenix/integrations/llm-providers/amazon-bedrock/amazon-bedrock-tracing.mdx
  docs/phoenix/integrations/llm-providers/openai/openai-agents-sdk-tracing.mdx
  docs/phoenix/integrations/llm-providers/openai/openai-evals.mdx
  docs/phoenix/integrations/llm-providers/openai/openai-node-js-sdk.mdx
  docs/phoenix/integrations/llm-providers/openai/openai-tracing.mdx
  docs/phoenix/prompt-engineering/how-to-prompts/create-a-prompt.mdx
  docs/phoenix/prompt-engineering/how-to-prompts/using-a-prompt.mdx
  docs/phoenix/sdk-api-reference/openinference-sdk/openinference-java.mdx
  docs/phoenix/self-hosting/deployment-options/aws-with-cloudformation.mdx
  docs/phoenix/tracing/how-to-tracing/add-metadata/customize-spans.mdx
  docs/phoenix/tracing/how-to-tracing/add-metadata/instrumenting-prompt-templates-and-prompt-variables.mdx
  docs/phoenix/tracing/how-to-tracing/feedback-and-annotations/capture-feedback.mdx
  docs/phoenix/tracing/how-to-tracing/importing-and-exporting-traces/exporting-annotated-spans.mdx
  docs/phoenix/tracing/how-to-tracing/importing-and-exporting-traces/extract-data-from-spans.mdx
Due: none

docs: fix openapi reference docs
  docs/openapi.json
Due: none

docs: fix openapi reference docs (#11713)
  docs/openapi.json
Due: none

docs: openapi symlink
  .mintignore
  docs/openapi.json
Due: none

docs: openapi symlink (#11714)
  .mintignore
  docs/openapi.json
Due: none

chore(main): release arize-phoenix-client 1.29.1
  .release-please-manifest.json
  packages/phoenix-client/CHANGELOG.md
  packages/phoenix-client/pyproject.toml
Due: uv-lock-check

Revert "docs: openapi symlink (#11714)"
  .mintignore
  docs/openapi.json
Due: none

chore(main): release arize-phoenix-client 1.29.1 (#11480)
  .release-please-manifest.json
  packages/phoenix-client/CHANGELOG.md
  packages/phoenix-client/pyproject.toml
Due: uv-lock-check

fix(deps): update arize-phoenix-client to 1.29.1
  pyproject.toml
Due: uv-lock-check

Revert "docs: openapi symlink (#11714)" (#11715)
  .mintignore
  docs/openapi.json
Due: none

Reapply "docs: openapi symlink (#11714)" (#11715)
  .mintignore
  docs/openapi.json
Due: none

mint ignore
  .mintignore
Due: none

docs: openapi (#11717)
  .mintignore
  docs/openapi.json
Due: none

feat: refusal metric
  js/benchmarks/evals-benchmarks/src/refusal_benchmark.ts
  js/packages/phoenix-evals/src/__generated__/types.ts
  js/packages/phoenix-evals/src/llm/createRefusalEvaluator.ts
  js/packages/phoenix-evals/src/llm/index.ts
  js/packages/phoenix-evals/src/types/evals.ts
  packages/phoenix-evals/src/phoenix/evals/metrics/__init__.py
  packages/phoenix-evals/src/phoenix/evals/metrics/refusal.py
  prompts/classification_evaluator_configs/REFUSAL_CLASSIFICATION_EVALUATOR_CONFIG.yaml
Due: oxfmt-js, oxlint-js

docs: docs for refusal
  docs/phoenix/evaluation/pre-built-metrics.mdx
  docs/phoenix/evaluation/pre-built-metrics/refusal.mdx
  docs/sitemap.xml
Due: none

add neutral/none optimization direction handling
  scripts/prompts/compile_python_prompts.py
  scripts/prompts/compile_typescript_prompts.py
  src/phoenix/server/api/queries.py
Due: none

compile prompts
  js/packages/phoenix-evals/src/__generated__/default_templates/REFUSAL_CLASSIFICATION_EVALUATOR_CONFIG.ts
  js/packages/phoenix-evals/src/__generated__/default_templates/index.ts
  packages/phoenix-evals/src/phoenix/evals/__generated__/classification_evaluator_configs/__init__.py
  packages/phoenix-evals/src/phoenix/evals/__generated__/classification_evaluator_configs/_models.py
  packages/phoenix-evals/src/phoenix/evals/__generated__/classification_evaluator_configs/_refusal_classification_evaluator_config.py
  src/phoenix/__generated__/classification_evaluator_configs/__init__.py
  src/phoenix/__generated__/classification_evaluator_configs/_models.py
  src/phoenix/__generated__/classification_evaluator_configs/_refusal_classification_evaluator_config.py
Due: oxfmt-js, oxlint-js

ci: sync uv.lock in Python CI workflow
  .github/workflows/python-CI.yml
  uv.lock
Due: uv-lock-check

ci: move linux py313 tests to all-platforms
  .github/workflows/python-CI.yml
  .github/workflows/python-all-platforms.yml
  uv.lock
Due: uv-lock-check

clean up
  .github/workflows/python-CI.yml
Due: none

sync lockfile
  uv.lock
Due: uv-lock-check

feat(app): migrate bundler from Vite/Rollup to rolldown-vite (#11722)
  app/package.json
  app/pnpm-lock.yaml
  app/vite.config.mts
Due: oxfmt-app

sync lockfile (#11721)
  uv.lock
Due: uv-lock-check

clean up
  .github/workflows/python-all-platforms.yml
Due: none

chore: enable TypeScript LSP and Pyright LSP Claude plugins
  .claude/settings.json
Due: none

chore: enable TypeScript LSP and Pyright LSP Claude plugins (#11723)
  .claude/settings.json
Due: none

ci: move linux py313 tests to cron job (#11720)
  .github/workflows/python-CI.yml
  .github/workflows/python-all-platforms.yml
Due: none

docs: add Claude Agent SDK integration documentation
  README.md
  docs.json
  docs/phoenix/integrations.mdx
  docs/phoenix/integrations/typescript/claude-agent-sdk.mdx
  docs/phoenix/integrations/typescript/claude-agent-sdk/claude-agent-sdk-tracing-ts.mdx
  docs/phoenix/release-notes.mdx
Due: none

docs: add Claude Agent SDK integration (#11725)
  README.md
  docs.json
  docs/phoenix/integrations.mdx
  docs/phoenix/integrations/typescript/claude-agent-sdk.mdx
  docs/phoenix/integrations/typescript/claude-agent-sdk/claude-agent-sdk-tracing-ts.mdx
  docs/phoenix/release-notes.mdx
  docs/phoenix/sitemap.xml
  sitemap.xml
Due: none

Path conditions:
  clean-notebooks: any of: \.ipynb$, but not: ^tutorials/evals/.*\.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
