Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

chore: update phoenix version to 15.6.0 in kustomize and helm
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

refactor: adjust session turn message layout
  app/src/pages/trace/SessionDetailsTraceList.tsx
Due: oxfmt-app, oxlint-app

refactor: update session turn layout
  app/src/pages/trace/SessionDetailsTraceList.tsx
Due: oxfmt-app, oxlint-app

refactor: rename expandable overflow content
  app/src/components/core/content/ExpandableContent.tsx
  app/src/components/core/content/index.tsx
  app/src/components/experiment/ExperimentInputCell.tsx
  app/src/components/experiment/ExperimentReferenceOutputCell.tsx
  app/src/components/table/index.tsx
  app/src/pages/experiment/ExperimentCompareTable.tsx
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  app/src/pages/trace/SessionDetailsTraceList.tsx
  app/stories/ExpandableContent.stories.tsx
Due: oxfmt-app, oxlint-app

feat: allow grow expandable content to collapse
  app/src/components/core/content/ExpandableContent.tsx
Due: oxfmt-app, oxlint-app

perf: restore expandable content memoization
  app/src/components/core/content/ExpandableContent.tsx
Due: oxfmt-app, oxlint-app

feat: make session turn messages expandable
  app/src/components/table/OverflowCell.tsx
  app/src/pages/trace/SessionDetailsTraceList.tsx
  app/stories/OverflowCell.stories.tsx
Due: oxfmt-app, oxlint-app

refactor: remove unused expandable content attributes
  app/src/components/core/content/ExpandableContent.tsx
Due: oxfmt-app, oxlint-app

chore: auto-label external issues and PRs for triage (#13084)
  .github/.scripts/collect-customer-issues.js
  .github/workflows/auto-label-external-issues.yaml
Due: none

fix: preserve session turn alignment
  app/src/pages/trace/SessionDetailsTraceList.tsx
Due: oxfmt-app, oxlint-app

feat: make session turn messages expandable (#13057)
  app/src/components/core/content/ExpandableContent.tsx
  app/src/components/core/content/index.tsx
  app/src/components/experiment/ExperimentInputCell.tsx
  app/src/components/experiment/ExperimentReferenceOutputCell.tsx
  app/src/components/table/index.tsx
  app/src/pages/experiment/ExperimentCompareTable.tsx
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  app/src/pages/trace/SessionDetailsTraceList.tsx
  app/stories/ExpandableContent.stories.tsx
Due: oxfmt-app, oxlint-app

refactor(cli): rename annotation bulk-delete to entity-first <entity>-annotations delete
  .agents/skills/phoenix-cli/SKILL.md
  .agents/skills/phoenix-cli/references/axial-coding.md
  .agents/skills/phoenix-cli/references/open-coding.md
  js/.changeset/rename-annotation-delete-commands.md
  js/packages/phoenix-cli/README.md
  js/packages/phoenix-cli/src/cli.ts
  js/packages/phoenix-cli/src/commands/formatAnnotationDelete.ts
  js/packages/phoenix-cli/src/commands/index.ts
  js/packages/phoenix-cli/src/commands/session.ts
  js/packages/phoenix-cli/src/commands/sessionAnnotationsCommand.ts
  js/packages/phoenix-cli/src/commands/span.ts
  js/packages/phoenix-cli/src/commands/spanAnnotationsCommand.ts
  js/packages/phoenix-cli/src/commands/trace.ts
  js/packages/phoenix-cli/src/commands/traceAnnotationsCommand.ts
  js/packages/phoenix-cli/test/cli.test.ts
  js/packages/phoenix-cli/test/deleteAnnotations.test.ts
Due: oxfmt-js, oxlint-js

feat(sandbox): clarify sandbox configuration settings display
  app/src/pages/dataset/evaluators/CodeDatasetEvaluatorDetails.tsx
  app/src/pages/settings/sandboxes/SandboxConfigsCard.tsx
  app/src/pages/settings/sandboxes/SandboxProvidersCard.tsx
  app/src/pages/settings/sandboxes/styles.ts
  app/src/pages/settings/sandboxes/utils.tsx
Due: oxfmt-app, oxlint-app

feat(agents): handle interrupted tool calls in agent chat
  app/src/components/agent/useAgentChat.ts
Due: oxfmt-app, oxlint-app

feat(sandbox): surface hosting type as a badge, mute config descriptions
  app/schema.graphql
  app/src/pages/settings/__generated__/settingsSandboxesPageLoaderQuery.graphql.ts
  app/src/pages/settings/sandboxes/SandboxConfigsCard.tsx
  app/src/pages/settings/sandboxes/SandboxProvidersCard.tsx
  app/src/pages/settings/sandboxes/SettingsSandboxesPage.tsx
  app/src/pages/settings/sandboxes/__generated__/DeleteSandboxConfigButtonDeleteSandboxConfigMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigDialogCreateSandboxConfigMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigDialogUpdateSandboxConfigMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigsCardConfigEnabledSwitchMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxProvidersCardProviderEnabledSwitchMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SettingsSandboxesPageFragment.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SettingsSandboxesPageRefetchQuery.graphql.ts
  app/src/pages/settings/sandboxes/styles.ts
  app/src/pages/settings/sandboxes/utils.tsx
  src/phoenix/server/api/types/SandboxConfig.py
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/deno_backend.py
  src/phoenix/server/sandbox/wasm_backend.py
  tests/unit/server/api/test_capability_advertisement.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

style(cli): apply oxfmt formatting to phoenix-cli tests
  js/packages/phoenix-cli/test/cli.test.ts
  js/packages/phoenix-cli/test/deleteAnnotations.test.ts
Due: oxfmt-js, oxlint-js

chore(agents): drop unused user and db fields from ChatDependencies
  src/phoenix/server/agents/dependencies.py
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python

feat(sandbox): add config link button to Sandbox card in evaluator details
  app/src/components/core/button/LinkButton.tsx
  app/src/pages/dataset/evaluators/CodeDatasetEvaluatorDetails.tsx
Due: oxfmt-app, oxlint-app

feat(sandbox): pin Sandbox Runtime to bottom of code evaluator sidebar
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
Due: oxfmt-app, oxlint-app

feat(sandbox): trim Sandbox Runtime summary to the configured settings
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
Due: oxfmt-app, oxlint-app

fix(sandbox): drop extra padding around Sandbox Runtime summary list
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
Due: oxfmt-app, oxlint-app

fix(sandbox): drop redundant Test Evaluator heading inside test section
  app/src/components/evaluators/CodeEvaluatorTestSection.tsx
Due: oxfmt-app, oxlint-app

fix: surface playground validation errors
  src/phoenix/server/api/subscriptions.py
  tests/unit/server/api/test_subscriptions.py
Due: format-python, lint-python

feat(sandbox): add copy button and show-types toggle to code evaluator editor
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
Due: oxfmt-app, oxlint-app

fix(sandbox): move copy + show-types controls into the editor header
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
Due: oxfmt-app, oxlint-app

fix(sandbox): unify editor header controls (Reset, Copy, Show types)
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
Due: oxfmt-app, oxlint-app

feat(sandbox): add copy-code button to evaluator version card
  app/src/pages/dataset/evaluators/CodeDatasetEvaluatorVersions.tsx
Due: oxfmt-app, oxlint-app

chore(agents): drop unused user and db fields from ChatDependencies (#13162)
  src/phoenix/server/agents/dependencies.py
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python

test(sandbox): update test-section assertions for removed disclosure
  app/tests/code-evaluators.spec.ts
Due: oxfmt-app, oxlint-app

feat(evaluators): trace sandbox code evaluators (#13108)
  src/phoenix/server/api/evaluators.py
  tests/unit/server/api/test_code_evaluator_runner.py
Due: format-python, lint-python

feat(evaluators): emit raw output, source code, and redact secrets on evaluator spans
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/helpers/sandbox_redaction.py
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/daytona_backend.py
  src/phoenix/server/sandbox/deno_backend.py
  src/phoenix/server/sandbox/e2b_backend.py
  src/phoenix/server/sandbox/modal_backend.py
  src/phoenix/server/sandbox/vercel_backend.py
  src/phoenix/server/sandbox/wasm_backend.py
  tests/unit/server/api/test_code_evaluator_runner.py
Due: format-python, lint-python

fix: minimize user feedback annotation changes
  app/schema.graphql
  app/src/api/__generated__/v1.ts
  app/src/components/agent/AssistantMessageActions.tsx
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/db/facilitator.py
  src/phoenix/server/api/helpers/annotations.py
  src/phoenix/server/api/helpers/trace_user_feedback.py
  src/phoenix/server/api/mutations/trace_annotations_mutations.py
  src/phoenix/server/api/routers/v1/traces.py
  tests/integration/_helpers.py
  tests/unit/server/api/mutations/test_trace_annotation_mutations.py
  tests/unit/server/api/routers/v1/test_traces.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

wip: tool call group overflow stories and styles
  app/src/components/agent/ToolPartGroup.tsx
  app/stories/ToolPartGroup.stories.tsx
Due: oxfmt-app, oxlint-app

wip: line style for groups
  app/src/GlobalStyles.tsx
  app/src/components/agent/ToolPartGroup.tsx
Due: oxfmt-app, oxlint-app

feat(evaluators): make sandbox execution a TOOL span with tool conventions
  src/phoenix/server/api/evaluators.py
  src/phoenix/tracers.py
  tests/unit/server/api/test_code_evaluator_runner.py
  tests/unit/test_tracers.py
Due: format-python, lint-python

wip: improved text layout for toolgroups
  app/src/components/agent/ToolPartGroup.tsx
Due: oxfmt-app, oxlint-app

wip: text truncation and icon layout for tools and groups
  app/src/components/agent/ToolPart.tsx
Due: oxfmt-app, oxlint-app

fix(evaluators): drop source code from evaluator span telemetry
  src/phoenix/server/api/evaluators.py
  tests/unit/server/api/test_code_evaluator_runner.py
Due: format-python, lint-python
