Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

name and description can be optionally set from playground, default values are the same
  js/app/src/pages/playground/PlaygroundExperimentSettingsButton.tsx
  js/app/src/pages/playground/__tests__/getChatCompletionOverDatasetInput.test.ts
  js/app/src/pages/playground/playgroundUtils.ts
  js/app/src/store/playground/__tests__/playgroundStore.test.ts
  js/app/src/store/playground/playgroundStore.tsx
  js/app/src/store/playground/types.ts
Due: oxfmt-js, oxlint-js

fix(ui): unify evaluator gallery details spacing
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
Due: oxfmt-js, oxlint-js

docs: add Google ADK Java tracing guide
  docs.json
  docs/phoenix/integrations.mdx
  docs/phoenix/integrations/java/google-adk.mdx
  docs/phoenix/integrations/java/google-adk/google-adk-tracing.mdx
  java/examples/google-adk/README.md
  java/examples/google-adk/build.gradle
  java/examples/google-adk/settings.gradle
  java/examples/google-adk/src/main/java/com/arize/phoenix/examples/adk/WeatherAgent.java
Due: none

fix(js): count eligible runs in acceptance criteria denominator
  js/.changeset/acceptance-denominator-eligible-runs.md
  js/packages/phoenix-client/src/testing/acceptance.ts
  js/packages/phoenix-client/src/testing/types.ts
  js/packages/phoenix-client/test/testing/acceptance.test.ts
Due: oxfmt-js, oxlint-js

fix formatting and extract experiment field helper to satisfy lint complexity
  js/app/src/pages/playground/playgroundUtils.ts
Due: oxfmt-js, oxlint-js

feat(evaluator-playground): experiment-style result cells and stable rows while loading
  js/app/src/pages/playground/evaluators/CalibrationResults.tsx
  js/app/src/pages/playground/evaluators/CalibrationResultsTable.tsx
  js/app/src/pages/playground/evaluators/EvaluatorPlayground.tsx
  js/app/src/pages/playground/evaluators/__tests__/CalibrationResults.test.tsx
  js/app/src/pages/playground/evaluators/__tests__/CalibrationResultsTable.test.tsx
Due: oxfmt-js, oxlint-js

perf(evaluator-playground): load slot data lazily and share the model catalog
  js/app/src/components/generative/useModelMenuData.ts
  js/app/src/pages/playground/evaluators/EvaluatorSlot.tsx
  js/app/src/pages/playground/evaluators/EvaluatorSlotEditor.tsx
  js/app/src/pages/playground/evaluators/__generated__/EvaluatorSlotQuery.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/EvaluatorSlotSourceQuery.graphql.ts
Due: oxfmt-js, oxlint-js

refactor(playground): put the mode switch in the header row
  js/app/src/pages/playground/Playground.tsx
  js/app/src/pages/playground/PlaygroundPage.tsx
  js/app/src/pages/playground/evaluators/EvaluatorPlaygroundFrame.tsx
Due: oxfmt-js, oxlint-js

fix(evaluator-playground): reject non-categorical outputs on LLM slots before running
  js/app/src/agent/uiOperations/operations/evaluatorPlayground.ts
  js/app/src/components/evaluators/utils.ts
  js/app/src/pages/playground/evaluators/EvaluatorSlotEditor.tsx
  js/app/src/pages/playground/evaluators/__tests__/evaluatorSlotValidation.test.ts
  js/app/src/pages/playground/evaluators/evaluatorAgentSlot.ts
  src/phoenix/server/agents/prompts/skills/evaluators/SKILL.md
Due: oxfmt-js, oxlint-js

refactor(evaluator-playground): say expected, not reviewed, in the results filter
  js/app/src/Routes.tsx
  js/app/src/agent/uiOperations/operations/evaluatorPlayground.ts
  js/app/src/pages/playground/evaluators/CalibrationResults.tsx
  js/app/src/pages/playground/evaluators/EvaluatorPlayground.tsx
  js/app/src/pages/playground/evaluators/useEvaluatorWorkspaceOperations.ts
Due: oxfmt-js, oxlint-js

fix(evaluator-playground): call the calibration label resolver's logic directly in the test
  src/phoenix/server/api/types/DatasetExampleRevision.py
  tests/unit/server/api/mutations/test_evaluator_calibration.py
Due: format-python, lint-python

feat(playground): wire the page for evaluator tasks
  js/app/src/pages/playground/Playground.tsx
  js/app/src/pages/playground/PlaygroundDatasetSection.tsx
  js/app/src/pages/playground/PlaygroundExperimentToolbar.tsx
  js/app/src/pages/playground/PlaygroundTaskInstance.tsx
  js/app/src/pages/playground/TaskMenu/TaskMenu.tsx
  js/app/src/pages/playground/evaluators/EvaluatorTaskEditor.tsx
  js/app/src/pages/playground/evaluators/EvaluatorTaskMappingSource.tsx
  js/app/src/pages/playground/evaluators/__generated__/EvaluatorTaskMappingSourceQuery.graphql.ts
Due: oxfmt-js, oxlint-js

refactor(playground): remove the evaluator results table and the per-cell run path
  js/app/src/pages/playground/evaluators/__tests__/EvaluatorPlaygroundResults.test.tsx
  js/app/src/pages/playground/evaluators/__tests__/EvaluatorPlaygroundResultsTable.test.tsx
  js/app/src/pages/playground/evaluators/__tests__/evaluatorResults.test.ts
  js/app/src/pages/playground/evaluators/evaluatorResults.ts
  js/app/src/pages/playground/evaluators/results/EvaluatorPlaygroundResults.tsx
  js/app/src/pages/playground/evaluators/results/EvaluatorPlaygroundResultsTable.tsx
  js/app/src/pages/playground/evaluators/results/EvaluatorPlaygroundResultsTableContext.tsx
  js/app/src/pages/playground/evaluators/results/ExampleFieldCell.tsx
  js/app/src/pages/playground/evaluators/results/RowCell.tsx
  js/app/src/pages/playground/evaluators/results/index.ts
Due: oxfmt-js, oxlint-js

feat(experiments): add the EVALUATOR experiment job type
  src/phoenix/db/ddl/postgresql_schema.sql
  src/phoenix/db/ddl/sqlite_schema.sql
  src/phoenix/db/migrations/versions/b066673f6b5d_add_experiment_evaluator_tasks.py
  src/phoenix/db/models.py
  src/phoenix/db/types/evaluator_definition.py
  tests/unit/db/test_models.py
Due: format-python, lint-python

feat(pxi): run evaluator playground rows and read slot kind from the snapshot
  js/app/src/agent/uiOperations/operations/evaluatorPlayground.ts
  js/app/src/pages/playground/evaluators/__tests__/evaluatorPlaygroundOperations.test.tsx
  js/app/src/pages/playground/evaluators/useEvaluatorPlaygroundAgent.ts
  js/app/src/pages/playground/evaluators/useEvaluatorWorkspaceOperations.ts
  src/phoenix/server/agents/prompts/skills/evaluators/SKILL.md
Due: oxfmt-js, oxlint-js

refactor(pxi): stop advertising the evaluator playground operations
  js/app/src/agent/uiOperations/catalog.ts
  js/app/src/agent/uiOperations/operations/playgroundLoadDataset.ts
  js/app/src/agent/uiOperations/operations/playgroundModel.ts
  js/app/src/agent/uiOperations/operations/playgroundPrompt.ts
  js/app/src/agent/uiOperations/operations/playgroundPromptTools.ts
  js/app/src/agent/uiOperations/operations/playgroundRun.ts
  js/app/src/agent/uiOperations/operations/playgroundSavePrompt.ts
  js/app/src/agent/uiOperations/operations/playgroundSettings.ts
Due: oxfmt-js, oxlint-js

fix(evaluator-playground): keep the evaluator picker list inside its popover
  js/app/src/pages/playground/evaluators/EvaluatorSlot.tsx
  js/app/src/pages/playground/searchablePickerStyles.ts
Due: oxfmt-js, oxlint-js

refactor(evaluator-playground): name workspace components after the evaluator playground, not calibration
  js/app/src/pages/playground/evaluators/EvaluatorPlayground.tsx
  js/app/src/pages/playground/evaluators/EvaluatorPlaygroundSample.tsx
  js/app/src/pages/playground/evaluators/EvaluatorPlaygroundSettingsButton.tsx
  js/app/src/pages/playground/evaluators/__generated__/EvaluatorPlaygroundSampleQuery.graphql.ts
  js/app/src/pages/playground/evaluators/__tests__/EvaluatorPlaygroundResults.test.tsx
  js/app/src/pages/playground/evaluators/__tests__/EvaluatorPlaygroundResultsTable.test.tsx
  js/app/src/pages/playground/evaluators/__tests__/evaluatorResults.test.ts
  js/app/src/pages/playground/evaluators/calibrationResults/index.ts
  js/app/src/pages/playground/evaluators/evaluatorResults.ts
  js/app/src/pages/playground/evaluators/expectedOutputQueue.ts
  js/app/src/pages/playground/evaluators/results/EvaluatorCell.tsx
  js/app/src/pages/playground/evaluators/results/EvaluatorColumnHeader.tsx
  js/app/src/pages/playground/evaluators/results/EvaluatorOutputValue.tsx
  js/app/src/pages/playground/evaluators/results/EvaluatorPlaygroundResults.tsx
  js/app/src/pages/playground/evaluators/results/EvaluatorPlaygroundResultsTable.tsx
  js/app/src/pages/playground/evaluators/results/EvaluatorPlaygroundResultsTableContext.tsx
  js/app/src/pages/playground/evaluators/results/ExampleFieldCell.tsx
  js/app/src/pages/playground/evaluators/results/ExpectedLabelSelect.tsx
  js/app/src/pages/playground/evaluators/results/ExpectedOutputForm.tsx
  js/app/src/pages/playground/evaluators/results/ExpectedOutputSaveIndicator.tsx
  js/app/src/pages/playground/evaluators/results/RowCell.tsx
  js/app/src/pages/playground/evaluators/results/index.ts
  js/app/src/pages/playground/evaluators/useEvaluatorPlaygroundAgent.ts
  js/app/src/pages/playground/evaluators/useEvaluatorWorkspaceOperations.ts
Due: oxfmt-js, oxlint-js

feat(playground): name evaluator tasks in the playground URL and loader
  js/app/src/pages/playground/Playground.tsx
  js/app/src/pages/playground/__generated__/fetchPlaygroundEvaluatorQuery.graphql.ts
  js/app/src/pages/playground/__generated__/fetchPlaygroundEvaluator_datasetEvaluator.graphql.ts
  js/app/src/pages/playground/__generated__/fetchPlaygroundEvaluator_output.graphql.ts
  js/app/src/pages/playground/__generated__/fetchPlaygroundEvaluator_source.graphql.ts
  js/app/src/pages/playground/__tests__/playgroundPageLoader.test.ts
  js/app/src/pages/playground/__tests__/playgroundURLSearchParamsUtils.test.ts
  js/app/src/pages/playground/fetchPlaygroundEvaluator.ts
  js/app/src/pages/playground/playgroundPageLoader.ts
  js/app/src/pages/playground/playgroundURLSearchParamsUtils.ts
Due: oxfmt-js, oxlint-js

feat(frontend): render read-only JSON as static highlighted previews
  js/app/src/components/code/JSONBlock.tsx
  js/app/src/components/code/JSONPreview.tsx
  js/app/src/components/code/__tests__/jsonPreview.test.ts
  js/app/src/components/code/__tests__/jsonTokens.test.ts
  js/app/src/components/code/jsonPreview.ts
  js/app/src/components/code/jsonTokens.ts
  js/app/src/components/code/pierreCodeMirrorTheme.ts
Due: oxfmt-js, oxlint-js

feat(evaluator-playground): metadata column with a column selector, legible narrow cells
  js/app/src/pages/playground/evaluators/CalibrationResults.tsx
  js/app/src/pages/playground/evaluators/CalibrationResultsTable.tsx
  js/app/src/pages/playground/evaluators/EvaluatorPlaygroundResultsTableContext.tsx
  js/app/src/pages/playground/evaluators/__tests__/CalibrationResults.test.tsx
  js/app/src/pages/playground/evaluators/__tests__/CalibrationResultsTable.test.tsx
Due: oxfmt-js, oxlint-js

feat(evaluator-playground): grade results with thumbs and run per column or row
  js/app/src/pages/playground/evaluators/CalibrationResults.tsx
  js/app/src/pages/playground/evaluators/CalibrationResultsTable.tsx
  js/app/src/pages/playground/evaluators/EvaluatorPlayground.tsx
  js/app/src/pages/playground/evaluators/EvaluatorPlaygroundRunButton.tsx
  js/app/src/pages/playground/evaluators/EvaluatorSlot.tsx
  js/app/src/pages/playground/evaluators/EvaluatorSlotEditor.tsx
  js/app/src/pages/playground/evaluators/__tests__/CalibrationResults.test.tsx
  js/app/src/pages/playground/evaluators/__tests__/calibration.test.ts
  js/app/src/pages/playground/evaluators/calibration.ts
  js/app/src/pages/playground/evaluators/evaluatorSlotTypes.ts
Due: oxfmt-js, oxlint-js

feat(evaluator-playground): batch expected outputs into one dataset version
  js/app/src/pages/playground/evaluators/CalibrationResults.tsx
  js/app/src/pages/playground/evaluators/EvaluatorPlayground.tsx
  js/app/src/pages/playground/evaluators/__generated__/EvaluatorPlaygroundReviewMutation.graphql.ts
  js/app/src/pages/playground/evaluators/__tests__/CalibrationResults.test.tsx
  js/app/src/pages/playground/evaluators/__tests__/expectedOutputQueue.test.ts
  js/app/src/pages/playground/evaluators/expectedOutputQueue.ts
  js/app/src/pages/playground/evaluators/useEvaluatorWorkspaceOperations.ts
  src/phoenix/server/api/input_types/SetDatasetExampleCalibrationLabelInput.py
  src/phoenix/server/api/input_types/SetDatasetExampleCalibrationLabelsInput.py
  src/phoenix/server/api/mutations/dataset_mutations.py
  tests/unit/server/api/mutations/test_evaluator_calibration.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

feat(evaluators): open evaluators in the playground as tasks
  js/app/src/Routes.tsx
  js/app/src/pages/dataset/evaluators/DatasetEvaluatorActionMenu.tsx
  js/app/src/pages/evaluators/EvaluatorsTable.tsx
Due: oxfmt-js, oxlint-js

feat(experiments): add the experimentsOverDataset subscription
  src/phoenix/server/api/input_types/ExperimentsOverDatasetInput.py
  src/phoenix/server/api/subscriptions.py
  src/phoenix/server/api/types/ChatCompletionSubscriptionPayload.py
  tests/unit/server/api/test_subscriptions.py
Due: format-python, lint-python

feat(playground): run every task as one experimentsOverDataset subscription
  js/app/src/agent/tools/playgroundRun/clientActions.ts
  js/app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  js/app/src/pages/playground/PlaygroundDatasetExamplesTableContext.tsx
  js/app/src/pages/playground/PlaygroundRunButton.tsx
  js/app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableSubscription.graphql.ts
  js/app/src/pages/playground/__tests__/experimentsOverDatasetEvents.test.ts
  js/app/src/pages/playground/__tests__/getExperimentsOverDatasetInput.test.ts
  js/app/src/pages/playground/experimentsOverDatasetEvents.ts
  js/app/src/pages/playground/experimentsOverDatasetInput.ts
  js/app/src/pages/playground/playgroundUtils.ts
Due: oxfmt-js, oxlint-js

feat(evaluator-playground): store expected outputs as HUMAN annotations, drop content hashing
  src/phoenix/server/api/helpers/evaluator_calibration.py
  src/phoenix/server/api/mutations/dataset_mutations.py
  src/phoenix/server/api/types/DatasetExampleRevision.py
  tests/unit/server/api/mutations/test_evaluator_calibration.py
Due: format-python, lint-python

feat(playground): review evaluator tasks in the dataset examples table
  js/app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  js/app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableFragment.graphql.ts
  js/app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableQuery.graphql.ts
  js/app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableRefetchQuery.graphql.ts
  js/app/src/pages/playground/evaluatorCells/EvaluatorOutputValue.tsx
  js/app/src/pages/playground/evaluatorCells/ExpectedLabelSelect.tsx
  js/app/src/pages/playground/evaluatorCells/ExpectedOutputForm.tsx
  js/app/src/pages/playground/evaluatorCells/ExpectedOutputSaveIndicator.tsx
  js/app/src/pages/playground/evaluatorCells/PlaygroundEvaluatorCell.tsx
  js/app/src/pages/playground/evaluatorCells/PlaygroundEvaluatorColumnHeader.tsx
  js/app/src/pages/playground/evaluatorCells/PlaygroundEvaluatorExampleCell.tsx
  js/app/src/pages/playground/evaluatorCells/PlaygroundExpectedOutputsContext.tsx
  js/app/src/pages/playground/evaluatorCells/PlaygroundExpectedOutputsStatus.tsx
  js/app/src/pages/playground/evaluatorCells/__generated__/PlaygroundExpectedOutputsContextMutation.graphql.ts
  js/app/src/pages/playground/evaluatorCells/__tests__/evaluatorCellResults.test.ts
  js/app/src/pages/playground/evaluatorCells/evaluatorCellResults.ts
  js/app/src/pages/playground/evaluatorCells/index.ts
  js/app/src/pages/playground/evaluators/__tests__/evaluatorResults.test.ts
  js/app/src/pages/playground/evaluators/evaluatorResults.ts
  js/app/src/pages/playground/evaluators/evaluatorSlotTypes.ts
  js/app/src/pages/playground/evaluators/results/EvaluatorColumnHeader.tsx
  js/app/src/pages/playground/evaluators/useEvaluatorWorkspaceOperations.ts
Due: oxfmt-js, oxlint-js

refactor(playground): move dataset run concurrency to the page-level settings
  js/app/src/pages/playground/PlaygroundConfigButton.tsx
  js/app/src/pages/playground/PlaygroundExperimentSettingsButton.tsx
Due: oxfmt-js, oxlint-js

feat(experiment-runner): run evaluator tasks as experiment work items
  src/phoenix/server/daemons/experiment_runner.py
  tests/unit/server/daemons/test_experiment_runner.py
Due: format-python, lint-python

fix(evaluator-playground): keep the results banner inside the panel
  js/app/src/pages/playground/evaluators/CalibrationResults.tsx
Due: oxfmt-js, oxlint-js

feat(evaluator-playground): hide expected annotations from metadata cells
  js/app/src/pages/playground/evaluators/CalibrationResults.tsx
  js/app/src/pages/playground/evaluators/CalibrationSettingsButton.tsx
  js/app/src/pages/playground/evaluators/EvaluatorPlayground.tsx
  js/app/src/pages/playground/evaluators/__tests__/CalibrationResults.test.tsx
  js/app/src/store/preferencesStore.tsx
Due: oxfmt-js, oxlint-js

fix(playground): keep the page header at its own height in both modes
  js/app/src/pages/playground/Playground.tsx
  js/app/src/pages/playground/evaluators/EvaluatorPlaygroundFrame.tsx
Due: oxfmt-js, oxlint-js

feat(evaluator-playground): save updates a loaded evaluator; save dialog with Save as new
  docs/phoenix/prompt-engineering/how-to-prompts/using-the-playground.mdx
  js/app/src/agent/uiOperations/operations/evaluatorPlayground.ts
  js/app/src/pages/playground/evaluators/EvaluatorSlot.tsx
  js/app/src/pages/playground/evaluators/EvaluatorSlotEditor.tsx
  js/app/src/pages/playground/evaluators/SaveEvaluatorSlotDialog.tsx
  js/app/src/pages/playground/evaluators/__generated__/EvaluatorSlot_datasetEvaluator.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/EvaluatorSlot_source.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/useEvaluatorSlotSaveAttachCodeMutation.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/useEvaluatorSlotSaveCodeVersionMutation.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/useEvaluatorSlotSaveCreateCodeMutation.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/useEvaluatorSlotSaveCreateLLMMutation.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/useEvaluatorSlotSaveNamesQuery.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/useEvaluatorSlotSavePatchCodeMutation.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/useEvaluatorSlotSaveUpdateCodeMutation.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/useEvaluatorSlotSaveUpdateLLMMutation.graphql.ts
  js/app/src/pages/playground/evaluators/__tests__/evaluatorAgentSlot.test.ts
  js/app/src/pages/playground/evaluators/__tests__/evaluatorCopyName.test.ts
  js/app/src/pages/playground/evaluators/__tests__/evaluatorSaveTarget.test.ts
  js/app/src/pages/playground/evaluators/evaluatorAgentSlot.ts
  js/app/src/pages/playground/evaluators/evaluatorCopyName.ts
  js/app/src/pages/playground/evaluators/evaluatorSaveTarget.ts
  js/app/src/pages/playground/evaluators/useEvaluatorSlotSave.ts
  src/phoenix/server/agents/prompts/skills/playground/SKILL.md
Due: oxfmt-js, oxlint-js

refactor(pxi): move evaluator-mode guidance from the evaluators skill to the playground skill
  src/phoenix/server/agents/prompts/skills/evaluators/SKILL.md
  src/phoenix/server/agents/prompts/skills/playground/SKILL.md
  src/phoenix/server/agents/prompts/static/context/PLAYGROUND_CONTEXT_INSTRUCTIONS.xml
Due: none

refactor(evaluators): share evaluator construction between previews and experiments
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/input_types/AnnotationConfigInput.py
  src/phoenix/server/api/input_types/EvaluatorPreviewInput.py
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/api/mutations/evaluator_mutations.py
  tests/unit/server/api/mutations/test_evaluator_preview_mutation.py
Due: format-python, lint-python
