Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feedback
  js/packages/phoenix-client/src/datasets/appendDatasetExamples.ts
  js/packages/phoenix-client/src/datasets/createDataset.ts
Due: oxfmt-js, oxlint-js

test
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  packages/phoenix-client/src/phoenix/client/constants/server_requirements.py
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/tests/client/resources/datasets/test_datasets.py
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/datasets.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

clean
  js/packages/phoenix-client/src/types/datasets.ts
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

comment
  src/phoenix/server/api/routers/v1/experiment_runs.py
Due: format-python, lint-python

fix
  js/packages/phoenix-client/src/__generated__/api/v1.ts
Due: oxfmt-js, oxlint-js

feat(datasets): add example_id_key support to file upload endpoint
  src/phoenix/server/api/routers/v1/datasets.py
  tests/unit/server/api/routers/v1/test_datasets.py
Due: format-python, lint-python

clean
  src/phoenix/server/api/routers/v1/datasets.py
Due: format-python, lint-python

remove createOrGetDataset
  js/packages/phoenix-client/src/datasets/createOrGetDataset.ts
  js/packages/phoenix-client/src/datasets/index.ts
Due: oxfmt-js, oxlint-js

fix(ts): add missing nodeId to ExampleWithId in resume functions
  js/packages/phoenix-client/src/experiments/resumeEvaluation.ts
  js/packages/phoenix-client/src/experiments/resumeExperiment.ts
Due: oxfmt-js, oxlint-js

chore: update openapi.json schema for example_id_key
  schemas/openapi.json
Due: none

script
  js/packages/phoenix-client/examples/dataset_upsert_roundtrip.ts
Due: oxfmt-js, oxlint-js

test(datasets): add mixed example_id_key coverage
  scripts/demo_example_id_key.py
  tests/unit/server/api/routers/v1/test_datasets.py
Due: format-python, lint-python

clean
  src/phoenix/db/insertion/dataset.py
  src/phoenix/server/api/routers/v1/datasets.py
  src/phoenix/server/api/routers/v1/experiment_runs.py
  tests/integration/client/test_datasets.py
  tests/unit/server/api/routers/v1/test_datasets.py
Due: format-python, lint-python

feat(experiments): accept external_id strings as dataset_example_id in experiment runs
  src/phoenix/server/api/routers/v1/experiment_runs.py
  tests/unit/server/api/routers/v1/test_experiments.py
Due: format-python, lint-python

clean
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
Due: format-python, lint-python

chore: regenerate TypeScript API types for example_id_key
  js/packages/phoenix-client/src/__generated__/api/v1.ts
Due: oxfmt-js, oxlint-js

clean
  packages/phoenix-client/tests/client/resources/datasets/test_datasets.py
  packages/phoenix-client/tests/client/resources/experiments/test_example_proxy.py
  src/phoenix/server/api/routers/v1/experiment_runs.py
  src/phoenix/server/api/routers/v1/experiments.py
Due: format-python, lint-python

rename
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/constants/server_requirements.py
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
  packages/phoenix-client/tests/client/resources/datasets/test_datasets.py
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/datasets.py
  tests/unit/server/api/routers/v1/test_datasets.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix: handle new OpenAI response item types and update CI filters
  .github/workflows/python-CI.yml
  src/phoenix/server/api/helpers/playground_clients.py
Due: format-python, lint-python

fix: replace NORMALIZED_SESSION_ID in Harbor golden fixtures
  packages/phoenix-client/scripts/verify_atif_upload.py
  packages/phoenix-client/tests/client/helpers/atif/fixtures/harbor_openhands.json
  packages/phoenix-client/tests/client/helpers/atif/fixtures/harbor_terminus2_continuation.json
  packages/phoenix-client/tests/client/helpers/atif/fixtures/harbor_terminus2_continuation_cont1.json
  packages/phoenix-client/tests/client/helpers/atif/fixtures/harbor_terminus2_invalid_json.json
  packages/phoenix-client/tests/client/helpers/atif/fixtures/harbor_terminus2_summarization.json
  packages/phoenix-client/tests/client/helpers/atif/fixtures/harbor_terminus2_timeout.json
  packages/phoenix-client/tests/client/helpers/atif/fixtures/subagent_trajectories.json
Due: format-python, lint-python

fix: use real image URLs in multimodal test fixture
  packages/phoenix-client/tests/client/helpers/atif/fixtures/multimodal_trajectory.json
  packages/phoenix-client/tests/client/helpers/atif/test_convert.py
Due: format-python, lint-python

fix: Revert out-of-scope changes
  src/phoenix/server/cli/commands/serve.py
  tests/integration/_helpers.py
  tests/integration/conftest.py
  tests/unit/conftest.py
  tests/unit/server/cli/commands/test_serve.py
  tests/unit/test_config.py
Due: format-python, lint-python

chore: Remove protobuf evaluation pipeline
  .github/workflows/python-CI.yml
  MIGRATION.md
  pyproject.toml
  schemas/openapi.json
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/insertion/evaluation.py
  src/phoenix/proto/trace/v1/evaluation.proto
  src/phoenix/server/api/input_types/SpanSort.py
  src/phoenix/server/api/routers/v1/evaluations.py
  src/phoenix/server/app.py
  src/phoenix/server/cli/commands/serve.py
  src/phoenix/server/telemetry.py
  src/phoenix/session/evaluation.py
  src/phoenix/session/session.py
  src/phoenix/trace/dsl/filter.py
  src/phoenix/trace/exporter.py
  src/phoenix/trace/fixtures.py
  src/phoenix/trace/v1/__init__.py
  src/phoenix/trace/v1/evaluation_pb2.py
  src/phoenix/trace/v1/evaluation_pb2.pyi
  tests/integration/_helpers.py
  tests/integration/conftest.py
  tests/unit/conftest.py
  tests/unit/server/cli/commands/test_serve.py
  tests/unit/test_config.py
  tests/unit/trace/test_exporter.py
  uv.lock
Due: format-python, lint-python, uv-lock-check

fix: Add else branch for unrecognized eval index in fixture loader
  src/phoenix/server/app.py
Due: format-python, lint-python

fix: Resolve CI failures from protobuf evaluation pipeline removal
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  tests/integration/conftest.py
  tests/unit/conftest.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix: More cleanup
  src/phoenix/server/cli/commands/serve.py
Due: format-python, lint-python

refactor: preserve startup evaluations without protobuf
  .github/workflows/python-CI.yml
  MIGRATION.md
  src/phoenix/server/api/routers/v1/evaluations.py
  src/phoenix/server/app.py
  src/phoenix/server/cli/commands/serve.py
  src/phoenix/server/evaluations.py
  src/phoenix/server/telemetry.py
  src/phoenix/session/session.py
  src/phoenix/trace/fixtures.py
  tests/integration/_helpers.py
  tests/unit/conftest.py
  tests/unit/server/cli/commands/test_serve.py
  tests/unit/server/test_app_evaluations.py
  tests/unit/session/test_root_path.py
Due: format-python, lint-python

fix: resolve mypy type-var error for pd.Series in evaluations
  src/phoenix/server/evaluations.py
Due: format-python, lint-python

chore: remove protobuf evaluation ingestion path (#12382)
  MIGRATION.md
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  pyproject.toml
  schemas/openapi.json
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/insertion/evaluation.py
  src/phoenix/proto/trace/v1/evaluation.proto
  src/phoenix/server/api/input_types/SpanSort.py
  src/phoenix/server/api/routers/v1/evaluations.py
  src/phoenix/server/app.py
  src/phoenix/server/cli/commands/serve.py
  src/phoenix/server/evaluations.py
  src/phoenix/session/evaluation.py
  src/phoenix/session/session.py
  src/phoenix/trace/dsl/filter.py
  src/phoenix/trace/exporter.py
  src/phoenix/trace/fixtures.py
  src/phoenix/trace/v1/__init__.py
  src/phoenix/trace/v1/evaluation_pb2.py
  src/phoenix/trace/v1/evaluation_pb2.pyi
  tests/unit/conftest.py
  tests/unit/server/cli/commands/test_serve.py
  tests/unit/server/test_app_evaluations.py
  tests/unit/session/test_root_path.py
  tests/unit/trace/test_exporter.py
  uv.lock
Due: format-python, lint-python, oxfmt-js, oxlint-js, uv-lock-check

feedback
  app/src/pages/settings/sandboxes/SandboxConfigsCard.tsx
  app/src/pages/settings/sandboxes/utils.tsx
Due: oxfmt-app, oxlint-app

format
  app/src/pages/settings/sandboxes/SandboxConfigsCard.tsx
Due: oxfmt-app, oxlint-app

feat(db): add sandbox tables and extend CodeEvaluator for code execution (#12192)
  scripts/ddl/postgresql_schema.sql
  src/phoenix/db/migrations/versions/0ff41b5b118f_add_sandbox_and_code_evaluator_support.py
  src/phoenix/db/models.py
Due: format-python, lint-python

feat: implement sandbox backend and code evaluator mutations (#12240)
  app/schema.graphql
  app/src/components/evaluators/__generated__/EvaluatorOutputPreviewMutation.graphql.ts
  pyproject.toml
  scripts/ddl/postgresql_schema.sql
  src/phoenix/config.py
  src/phoenix/db/facilitator.py
  src/phoenix/db/migrations/versions/0ff41b5b118f_add_sandbox_and_code_evaluator_support.py
  src/phoenix/db/models.py
  src/phoenix/server/api/coerce_output.py
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/helpers/evaluators.py
  src/phoenix/server/api/input_types/EvaluatorPreviewInput.py
  src/phoenix/server/api/mutations/__init__.py
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/api/mutations/evaluator_mutations.py
  src/phoenix/server/api/mutations/sandbox_config_mutations.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/subscriptions.py
  src/phoenix/server/api/types/Evaluator.py
  src/phoenix/server/api/types/SandboxConfig.py
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/_download.py
  src/phoenix/server/sandbox/daytona_backend.py
  src/phoenix/server/sandbox/deno_backend.py
  src/phoenix/server/sandbox/e2b_backend.py
  src/phoenix/server/sandbox/sync.py
  src/phoenix/server/sandbox/types.py
  src/phoenix/server/sandbox/vercel_backend.py
  src/phoenix/server/sandbox/wasm_backend.py
  tests/unit/server/api/conftest.py
  tests/unit/server/api/mutations/test_code_evaluator_sandbox_mutations.py
  tests/unit/server/api/test_code_evaluator_runner.py
  tests/unit/server/api/test_coerce_output.py
  tests/unit/server/api/test_session_lifecycle.py
  tests/unit/server/api/test_sync.py
  tests/unit/server/api/test_wasm_backend.py
  uv.lock
Due: format-python, lint-python, oxfmt-app, oxlint-app, uv-lock-check

feat(sandbox): Add settings page for configuring code sandboxes (#12460)
  app/schema.graphql
  app/src/Routes.tsx
  app/src/pages/settings/SettingsPage.tsx
  app/src/pages/settings/SettingsSandboxesPage.tsx
  app/src/pages/settings/__generated__/SettingsSandboxesPageCreateSandboxConfigMutation.graphql.ts
  app/src/pages/settings/__generated__/SettingsSandboxesPageDeleteSandboxConfigMutation.graphql.ts
  app/src/pages/settings/__generated__/SettingsSandboxesPageFragment.graphql.ts
  app/src/pages/settings/__generated__/SettingsSandboxesPageProviderEnabledSwitchMutation.graphql.ts
  app/src/pages/settings/__generated__/SettingsSandboxesPageUpdateSandboxConfigMutation.graphql.ts
  app/src/pages/settings/__generated__/SettingsSandboxesPageUpdateSandboxProviderMutation.graphql.ts
  app/src/pages/settings/__generated__/settingsSandboxesPageLoaderQuery.graphql.ts
  app/src/pages/settings/sandboxes/DeleteSandboxConfigButton.tsx
  app/src/pages/settings/sandboxes/SandboxConfigDialog.tsx
  app/src/pages/settings/sandboxes/SandboxConfigsCard.tsx
  app/src/pages/settings/sandboxes/SandboxProvidersCard.tsx
  app/src/pages/settings/sandboxes/SettingsSandboxesPage.tsx
  app/src/pages/settings/sandboxes/__generated__/DeleteSandboxConfigButtonDeleteSandboxConfigMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigDialogCreateSandboxConfigMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigDialogUpdateSandboxConfigMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigsCardProviderEnabledSwitchMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxProvidersCardProviderEnabledSwitchMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxProvidersCardUpdateSandboxProviderMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SettingsSandboxesPageFragment.graphql.ts
  app/src/pages/settings/sandboxes/styles.ts
  app/src/pages/settings/sandboxes/types.ts
  app/src/pages/settings/sandboxes/utils.tsx
  app/src/pages/settings/settingsSandboxesPageLoader.ts
  src/phoenix/server/api/mutations/sandbox_config_mutations.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/routers/auth.py
  src/phoenix/server/api/types/SandboxConfig.py
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/deno_backend.py
  tests/unit/server/api/mutations/test_code_evaluator_sandbox_mutations.py
  tests/unit/server/api/test_sandbox_queries.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

feat(agent): Trace pxi requests to local project
  app/src/agent/chat/buildAgentChatRequestBody.ts
  app/src/components/agent/Chat.tsx
  app/src/components/agent/useGenerateSessionSummary.ts
  src/phoenix/server/api/routers/chat.py
  src/phoenix/server/api/routers/chat_tracing.py
  src/phoenix/server/api/routers/data_stream_protocol.py
  tests/unit/server/api/routers/test_chat_tracing.py
  tests/unit/server/api/routers/test_data_stream_protocol.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

feat(agent): Trace pxi requests to remote project
  app/.env.example
  src/phoenix/config.py
  src/phoenix/server/api/routers/chat_tracing.py
  src/phoenix/server/api/routers/data_stream_protocol.py
  src/phoenix/tracers.py
  tests/unit/server/api/routers/test_chat_tracing.py
  tests/unit/test_tracers.py
Due: format-python, lint-python

fix tests typecheck
  tests/unit/test_tracers.py
Due: format-python, lint-python

comments
  app/src/agent/chat/buildAgentChatRequestBody.ts
Due: oxfmt-app, oxlint-app

fix(agent): prevent resource leaks in chat tracing and improve architecture
  src/phoenix/server/api/routers/chat_tracing.py
  src/phoenix/server/api/routers/data_stream_protocol.py
  tests/unit/server/api/routers/test_data_stream_protocol.py
Due: format-python, lint-python

fix(agent): use Any type for lazy-initialized _VercelRequest to satisfy mypy
  src/phoenix/server/api/routers/data_stream_protocol.py
Due: format-python, lint-python

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
