Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

docs(server): add request body example to chat completions OpenAPI schema
  app/src/api/__generated__/v1.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/chat_completions.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

refactor(server): keep custom provider id validation endpoint-local
  src/phoenix/server/agents/model_factory.py
  src/phoenix/server/api/routers/v1/chat_completions.py
  tests/unit/server/api/routers/v1/test_chat_completions.py
Due: format-python, lint-python

refactor(server): simplify chat completions endpoint and fix TS codegen drift
  Makefile
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  src/phoenix/server/agents/model_factory.py
  src/phoenix/server/api/routers/v1/chat_completions.py
  tests/integration/auth/test_auth.py
  tests/unit/server/api/routers/v1/test_chat_completions.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

feat(ui): AI search on filter condition fields
  app/package.json
  app/pnpm-lock.yaml
  app/src/Routes.tsx
  app/src/components/core/icon/Icons.tsx
  app/src/components/filter/DSLFilterConditionField.tsx
  app/src/components/filter/__tests__/extractFilterExpression.test.ts
  app/src/components/filter/ai/AISearchSettingsButton.tsx
  app/src/components/filter/ai/AISearchSettingsCard.tsx
  app/src/components/filter/ai/AISearchSettingsForm.tsx
  app/src/components/filter/ai/browserModel.ts
  app/src/components/filter/ai/buildAISearchPrompt.ts
  app/src/components/filter/ai/createAISearchDSL.ts
  app/src/components/filter/ai/createAISearchModel.ts
  app/src/components/filter/ai/detectFilterExpression.ts
  app/src/components/filter/ai/extractFilterExpression.ts
  app/src/components/filter/ai/generateFilterCondition.ts
  app/src/components/filter/ai/index.ts
  app/src/components/filter/ai/providerModels.ts
  app/src/components/filter/ai/types.ts
  app/src/components/filter/ai/useAISearch.ts
  app/src/components/filter/index.tsx
  app/src/components/filter/styles.ts
  app/src/pages/experiment/ExperimentRunFilterConditionField.tsx
  app/src/pages/profile/ProfilePreferencesPage.tsx
  app/src/pages/profile/__tests__/profileRouteInfo.test.ts
  app/src/pages/project/SpanFilterConditionField.tsx
  app/src/pages/settings/SettingsAIProvidersPage.tsx
  app/src/store/preferencesStore.tsx
  app/stories/DSLFilterConditionField.stories.tsx
Due: oxfmt-app, oxlint-app

fix(ui): address code review on AI filter search (#14941)
  app/src/components/filter/DSLFilterConditionField.tsx
  app/src/components/filter/__tests__/detectFilterExpression.test.ts
  app/src/components/filter/ai/detectFilterExpression.ts
  app/src/components/filter/ai/index.ts
  app/src/components/filter/ai/providerModels.ts
  app/src/components/filter/ai/useAISearch.ts
Due: oxfmt-app, oxlint-app

refactor(ui): share the PXI thinking glow's traveling wipe
  app/src/components/agent/AgentChatWidget.tsx
  app/src/components/agent/PxiButton.tsx
  app/src/components/agent/PxiOutline.tsx
  app/src/components/agent/pxiStyles.ts
Due: oxfmt-app, oxlint-app

feat(ui): move AI search settings to a Generative AI profile page
  app/src/Routes.tsx
  app/src/pages/profile/ProfileGenerativeAIPage.tsx
  app/src/pages/profile/ProfilePreferencesPage.tsx
  app/src/pages/profile/__tests__/profileRouteInfo.test.ts
  app/src/pages/profile/index.tsx
  app/src/routing/RouteNavigationIcon.tsx
  app/src/routing/routeNavigation.ts
Due: oxfmt-app, oxlint-app

feat(ui): make AI search an explicit mode toggle on filter fields
  app/src/components/filter/DSLFilterConditionField.tsx
  app/src/components/filter/__tests__/detectFilterExpression.test.ts
  app/src/components/filter/ai/AISearchSettingsButton.tsx
  app/src/components/filter/ai/detectFilterExpression.ts
  app/src/components/filter/styles.ts
  app/src/pages/experiment/ExperimentRunFilterConditionField.tsx
  app/src/pages/project/SpanFilterConditionField.tsx
  app/stories/DSLFilterConditionField.stories.tsx
Due: oxfmt-app, oxlint-app

feat(ui): add an XS inline size to IconButton
  app/src/components/core/button/IconButton.tsx
  app/stories/IconButton.stories.tsx
Due: oxfmt-app, oxlint-app

feat(ui): redesign the AI search settings around the model menu
  app/src/components/filter/ai/AISearchSettingsCard.tsx
  app/src/components/filter/ai/AISearchSettingsForm.tsx
  app/src/components/filter/ai/BrowserModelCard.tsx
  app/src/components/filter/ai/CardFootnote.tsx
  app/src/components/filter/ai/StatusText.tsx
  app/src/components/filter/ai/browserModel.ts
  app/src/components/filter/ai/index.ts
  app/src/components/filter/ai/types.ts
  app/src/components/filter/ai/useAISearch.ts
  app/stories/AISearchSettingsCard.stories.tsx
  app/stories/BrowserModelCard.stories.tsx
  app/stories/utils/aiSearchRelayEnvironment.tsx
Due: oxfmt-app, oxlint-app

refactor(ui): extract the span filter DSL vocabulary into its own module
  app/src/pages/project/SpanFilterConditionField.tsx
  app/src/pages/project/spanFilterDSL.ts
Due: oxfmt-app, oxlint-app

feat(ui): actionable checklist on empty evaluators page
  app/src/pages/evaluators/GlobalEvaluatorsEmptyState.tsx
  app/src/pages/evaluators/__generated__/GlobalEvaluatorsEmptyStateQuery.graphql.ts
Due: oxfmt-app, oxlint-app

fix(ui): revalidate provider credentials on evaluators empty state
  app/src/pages/evaluators/GlobalEvaluatorsEmptyState.tsx
Due: oxfmt-app, oxlint-app

fix(ui): count browser-stored provider keys in home checklist
  app/src/pages/home/HomePage.tsx
  app/src/pages/home/__tests__/HomePage.test.tsx
Due: oxfmt-app, oxlint-app

fix(ui): count browser-stored provider keys on evaluators checklist
  app/src/pages/evaluators/GlobalEvaluatorsEmptyState.tsx
Due: oxfmt-app, oxlint-app

Add optional playground step and gate LLM evaluator CTA on API key
  app/src/pages/evaluators/GlobalEvaluatorsEmptyState.tsx
Due: oxfmt-app, oxlint-app

Evaluators and tracking onboarding
  app/src/pages/project/OnboardingSteps.tsx
  app/src/pages/project/ProjectOnboarding.tsx
  app/src/pages/project/ProjectOnboardingGate.tsx
  app/src/pages/projects/ProjectsOnboardingCard.tsx
  app/src/pages/projects/ProjectsPage.tsx
  app/src/pages/projects/__generated__/ProjectsPageProjectsFragment.graphql.ts
  app/src/pages/projects/__generated__/ProjectsPageProjectsQuery.graphql.ts
  app/src/pages/projects/__generated__/ProjectsPageQuery.graphql.ts
Due: oxfmt-app, oxlint-app

navbar grouping. Low risk. Straight to main.
  app/src/components/nav/Navbar.tsx
  app/src/pages/Layout.tsx
Due: oxfmt-app, oxlint-app

Add bare-identifier diagnostics to span filter DSL (P4, T1)
  src/phoenix/trace/dsl/filter.py
Due: format-python, lint-python

Expose filter-condition warnings over GraphQL (P4, T2)
  app/schema.graphql
  src/phoenix/server/api/types/Project.py
  src/phoenix/server/api/types/SpanFilterConditionAnalysis.py
  tests/unit/server/api/types/test_Project.py
Due: format-python, lint-python

Thread filter-condition warnings through validation (P4, T4)
  app/src/pages/project/__generated__/spanFilterValidationQuery.graphql.ts
  app/src/pages/project/spanFilterValidation.ts
Due: oxfmt-app, oxlint-app

Render advisory filter warnings in the field (P4, T5)
  app/src/components/filter/DSLFilterConditionField.tsx
  app/src/components/filter/styles.ts
  app/src/pages/project/__tests__/spanFilterValidation.test.ts
Due: oxfmt-app, oxlint-app

Propagate filter warnings to span consumers (P4, T6)
  app/src/pages/project/SpanFilterConditionField.tsx
Due: oxfmt-app, oxlint-app

Filter-aware empty state for traces/spans tables (P4, T7)
  app/src/pages/project/ProjectTableEmpty.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/TracesTable.tsx
Due: oxfmt-app, oxlint-app

Unit-test filter condition diagnostics (P4, T3)
  tests/unit/trace/dsl/test_filter_diagnostics.py
Due: format-python, lint-python

Mark warned recent-search history entries (P4, T8)
  app/src/components/filter/__tests__/useDSLFilterConditionHistory.test.tsx
  app/src/components/filter/useDSLFilterConditionHistory.ts
  app/src/pages/project/SpanFilterConditionField.tsx
Due: oxfmt-app, oxlint-app

Frontend tests for filter warning threading (P4, T9)
  app/src/components/filter/__tests__/DSLFilterConditionFieldValidation.test.tsx
  app/src/pages/project/__tests__/spanFilterValidation.test.ts
Due: oxfmt-app, oxlint-app

test(ui): cover the Generative AI profile route in search destinations
  app/src/components/search/__tests__/searchDestinations.test.tsx
Due: oxfmt-app, oxlint-app

chore: update phoenix version to 19.13.0 in kustomize and helm (#14994)
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

fix(trace): coerce object json_schema in getLLMAttributes toolSchemas
  app/src/pages/trace/span/utils.ts
Due: oxfmt-app, oxlint-app

test(trace): cover object json_schema coercion in getLLMAttributes
  app/src/pages/trace/span/__tests__/utils.test.ts
Due: oxfmt-app, oxlint-app

feat(agents): move first-party skills onto the bashkit VFS
  src/phoenix/server/agents/capabilities/tools/internal/bash.py
  src/phoenix/server/agents/prompts/__init__.py
  src/phoenix/server/agents/prompts/skills/phoenix-graphql/SKILL.md
  src/phoenix/server/agents/prompts/tools/SERVER_BASH_TOOL_INSTRUCTIONS.xml.j2
  src/phoenix/server/agents/server_agents.py
  tests/unit/server/agents/capabilities/tools/internal/test_bash.py
  tests/unit/server/agents/test_server_agents.py
Due: format-python, lint-python

nix comments and docstrings
  src/phoenix/server/agents/capabilities/tools/internal/bash.py
Due: format-python, lint-python

clean
  src/phoenix/server/agents/capabilities/tools/internal/bash.py
  src/phoenix/server/agents/prompts/tools/SERVER_BASH_TOOL_INSTRUCTIONS.xml.j2
  src/phoenix/server/agents/server_agents.py
  tests/unit/server/agents/capabilities/tools/internal/test_bash.py
  tests/unit/server/agents/test_server_agents.py
Due: format-python, lint-python

feat(agents): load external skills from directories and GitHub
  docs/phoenix/pxi.mdx
  src/phoenix/config.py
  src/phoenix/server/agents/capabilities/skills/skill.py
  src/phoenix/server/agents/capabilities/tools/internal/bash.py
  src/phoenix/server/agents/prompts/tools/SERVER_BASH_TOOL_INSTRUCTIONS.xml.j2
  src/phoenix/server/agents/server_agents.py
  src/phoenix/server/agents/skills/__init__.py
  src/phoenix/server/agents/skills/external/__init__.py
  src/phoenix/server/agents/skills/external/diagnostics.py
  src/phoenix/server/agents/skills/external/discovery.py
  src/phoenix/server/agents/skills/external/fetch.py
  src/phoenix/server/agents/skills/external/loader.py
  src/phoenix/server/agents/skills/external/sources.py
  src/phoenix/server/agents/skills/external/validation.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/routers/agents.py
  src/phoenix/server/app.py
  tests/unit/server/agents/capabilities/tools/internal/test_bash.py
  tests/unit/server/agents/skills/external/__init__.py
  tests/unit/server/agents/skills/external/conftest.py
  tests/unit/server/agents/skills/external/test_discovery.py
  tests/unit/server/agents/skills/external/test_fetch.py
  tests/unit/server/agents/skills/external/test_loader.py
  tests/unit/server/agents/skills/external/test_sources.py
  tests/unit/server/agents/test_server_agents.py
Due: format-python, lint-python

clean docs
  app/schema.graphql
  app/src/components/agent/SlashCommandMenu.tsx
  app/src/components/agent/__generated__/useAvailableAgentSkillsQuery.graphql.ts
  app/src/components/agent/useAvailableAgentSkills.ts
  app/src/components/agent/usePromptSkillCommand.ts
  docs/phoenix/pxi.mdx
  src/phoenix/server/agents/capabilities/skills/skill.py
  src/phoenix/server/agents/skills/external/discovery.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/AgentSkill.py
  tests/unit/server/agents/skills/external/test_discovery.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix(server): detach the docs MCP server after a failed startup warmup
  src/phoenix/server/app.py
  tests/unit/server/test_app_docs_mcp_lifespan.py
Due: format-python, lint-python

feat(evals): add hallucination evaluator (#14708)
  docs.json
  docs/phoenix/evaluation/pre-built-metrics.mdx
  docs/phoenix/evaluation/pre-built-metrics/hallucination.mdx
  docs/phoenix/sitemap.xml
  js/.changeset/hallucination-evaluator.md
  js/benchmarks/evals-benchmarks/src/hallucination.eval.ts
  js/packages/phoenix-evals/src/__generated__/default_templates/HALLUCINATION_CLASSIFICATION_EVALUATOR_CONFIG.ts
  js/packages/phoenix-evals/src/llm/createHallucinationEvaluator.ts
  js/packages/phoenix-evals/src/llm/index.ts
  js/packages/phoenix-evals/test/llm/createHallucinationEvaluator.test.ts
  packages/phoenix-evals/src/phoenix/evals/__generated__/classification_evaluator_configs/_hallucination_classification_evaluator_config.py
  packages/phoenix-evals/src/phoenix/evals/metrics/__init__.py
  packages/phoenix-evals/src/phoenix/evals/metrics/hallucination.py
  packages/phoenix-evals/tests/phoenix/evals/metrics/test_classification_evaluators.py
  prompts/classification_evaluator_configs/HALLUCINATION_CLASSIFICATION_EVALUATOR_CONFIG.yaml
  src/phoenix/__generated__/classification_evaluator_configs/_hallucination_classification_evaluator_config.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

chore: update sitemap.xml
  docs/phoenix/sitemap.xml
  sitemap.xml
Due: none

chore(main): release arize-phoenix 19.14.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python
