Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

feat(app): add error column to spans and traces tables
  app/src/pages/dataset/evaluators/__generated__/DatasetEvaluatorSpansQuery.graphql.ts
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/TracesTable.tsx
  app/src/pages/project/__generated__/ProjectPageQueriesSpansQuery.graphql.ts
  app/src/pages/project/__generated__/ProjectPageQueriesTracesQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTable_spans.graphql.ts
  app/src/pages/project/__generated__/TracesTableQuery.graphql.ts
  app/src/pages/project/__generated__/TracesTable_spans.graphql.ts
Due: oxfmt-app, oxlint-app

feat(app): add contextual help to error column header
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/TracesTable.tsx
Due: oxfmt-app, oxlint-app

feat(app): add error column to spans and traces tables (#14052)
  app/src/pages/dataset/evaluators/__generated__/DatasetEvaluatorSpansQuery.graphql.ts
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/TracesTable.tsx
  app/src/pages/project/__generated__/ProjectPageQueriesSpansQuery.graphql.ts
  app/src/pages/project/__generated__/ProjectPageQueriesTracesQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTable_spans.graphql.ts
  app/src/pages/project/__generated__/TracesTableQuery.graphql.ts
  app/src/pages/project/__generated__/TracesTable_spans.graphql.ts
Due: oxfmt-app, oxlint-app

refactor(app): extract reusable DSLFilterConditionField for DSL filter typeahead
  app/src/components/filter/DSLFilterConditionBuilder.tsx
  app/src/components/filter/DSLFilterConditionField.tsx
  app/src/components/filter/index.tsx
  app/src/components/filter/styles.ts
  app/src/pages/experiment/ExperimentRunFilterConditionField.tsx
  app/src/pages/project/SpanFilterConditionField.tsx
  app/src/pages/project/styles.tsx
  app/stories/DSLFilterConditionField.stories.tsx
Due: oxfmt-app, oxlint-app

refactor(app): remove language prop from DSL filter components
  app/src/components/filter/DSLFilterConditionBuilder.tsx
  app/src/components/filter/DSLFilterConditionField.tsx
Due: oxfmt-app, oxlint-app

feat(app): add ListFilter icon, deprecate Funnel, use it in filter surfaces
  app/src/agent/quickActions/quickActions.tsx
  app/src/components/agent/ToolPart.tsx
  app/src/components/ai/attachment/utils.tsx
  app/src/components/core/icon/Icons.tsx
  app/src/components/experiment/ExperimentRunCellAnnotationsList.tsx
  app/src/components/filter/DSLFilterConditionField.tsx
  app/src/components/filter/styles.ts
Due: oxfmt-app, oxlint-app

feat(app): align DSL filter clear button with search field styling
  app/src/components/filter/DSLFilterConditionField.tsx
Due: oxfmt-app, oxlint-app

style(app): even out filter icon spacing in DSL filter field
  app/src/components/filter/styles.ts
Due: oxfmt-app, oxlint-app

fix(client): include PHOENIX_HOST_ROOT_PATH in derived base_url
  packages/phoenix-client/src/phoenix/client/utils/config.py
  packages/phoenix-client/tests/client/utils/test_config.py
Due: format-python, lint-python

refactor(app): replace DSL filter builder popover with loaded completions and error badge
  app/src/components/filter/DSLFilterConditionBuilder.tsx
  app/src/components/filter/DSLFilterConditionField.tsx
  app/src/components/filter/index.tsx
  app/src/components/filter/styles.ts
  app/src/pages/experiment/ExperimentRunFilterConditionField.tsx
  app/src/pages/experiment/__generated__/ExperimentRunFilterConditionFieldCompletionsQuery.graphql.ts
  app/src/pages/project/SpanFilterConditionField.tsx
  app/src/pages/project/__generated__/SpanFilterConditionFieldCompletionsQuery.graphql.ts
  app/stories/DSLFilterConditionField.stories.tsx
Due: oxfmt-app, oxlint-app

refactor(app): move createAnnotationMemberCompletions out of the base DSL filter field
  app/src/components/filter/DSLFilterConditionField.tsx
  app/src/components/filter/annotationCompletions.ts
  app/src/components/filter/index.tsx
Due: oxfmt-app, oxlint-app

refactor(app): extract reusable DSLFilterConditionField for DSL filter typeahead (#14053)
  app/src/agent/quickActions/quickActions.tsx
  app/src/components/agent/ToolPart.tsx
  app/src/components/ai/attachment/utils.tsx
  app/src/components/core/icon/Icons.tsx
  app/src/components/experiment/ExperimentRunCellAnnotationsList.tsx
  app/src/components/filter/DSLFilterConditionField.tsx
  app/src/components/filter/annotationCompletions.ts
  app/src/components/filter/index.tsx
  app/src/components/filter/styles.ts
  app/src/pages/experiment/ExperimentRunFilterConditionField.tsx
  app/src/pages/experiment/__generated__/ExperimentRunFilterConditionFieldCompletionsQuery.graphql.ts
  app/src/pages/project/SpanFilterConditionField.tsx
  app/src/pages/project/__generated__/SpanFilterConditionFieldCompletionsQuery.graphql.ts
  app/src/pages/project/styles.tsx
  app/stories/DSLFilterConditionField.stories.tsx
Due: oxfmt-app, oxlint-app

fix(app): improve span filter completions
  app/src/components/filter/DSLFilterConditionField.tsx
  app/src/components/filter/DSLFilterConditionFieldUtils.ts
  app/src/components/filter/__tests__/DSLFilterConditionField.test.ts
  app/src/pages/project/SpanFilterConditionField.tsx
  app/src/pages/project/__tests__/spanFilterSemanticConventionCompletions.test.ts
  app/src/pages/project/spanFilterSemanticConventionCompletions.ts
Due: oxfmt-app, oxlint-app

chore(app): document span filter completion helpers
  app/src/components/filter/DSLFilterConditionField.tsx
  app/src/components/filter/__tests__/DSLFilterConditionField.test.ts
  app/src/components/filter/dslFilterConditionFieldUtils.ts
  app/src/pages/project/spanFilterSemanticConventionCompletions.ts
Due: oxfmt-app, oxlint-app

fix(app): improve span filter completions (#14057)
  app/src/components/filter/DSLFilterConditionField.tsx
  app/src/components/filter/__tests__/DSLFilterConditionField.test.ts
  app/src/components/filter/dslFilterConditionFieldUtils.ts
  app/src/pages/project/SpanFilterConditionField.tsx
  app/src/pages/project/__tests__/spanFilterSemanticConventionCompletions.test.ts
  app/src/pages/project/spanFilterSemanticConventionCompletions.ts
Due: oxfmt-app, oxlint-app

feat(ui): add dismissable version update notice to side nav
  app/src/components/nav/VersionUpdateNotice.tsx
  app/src/components/nav/index.tsx
  app/src/hooks/index.ts
  app/src/hooks/useLatestPhoenixVersion.ts
  app/src/pages/Layout.tsx
  app/src/utils/__tests__/versionUtils.test.ts
  app/src/utils/versionUtils.ts
Due: oxfmt-app, oxlint-app

refactor(ui): simplify version notice, dedupe fetch, drop looping animation
  app/src/components/nav/VersionUpdateNotice.tsx
  app/src/hooks/useLatestPhoenixVersion.ts
  app/src/pages/settings/SettingsGeneralPage.tsx
  app/src/utils/versionUtils.ts
Due: oxfmt-app, oxlint-app

feat(ui): threshold version notice at two minors behind, admin-only, settings status
  .agents/skills/phoenix-design/references/icons.md
  app/src/components/core/icon/Icons.tsx
  app/src/components/nav/VersionUpdateNotice.tsx
  app/src/contexts/ViewerContext.tsx
  app/src/hooks/useLatestPhoenixVersion.ts
  app/src/pages/settings/SettingsGeneralPage.tsx
  app/src/utils/__tests__/versionUtils.test.ts
  app/src/utils/versionUtils.ts
  app/stories/VersionUpdateNotice.stories.tsx
Due: oxfmt-app, oxlint-app

feat(ui): add dismissable version update notice to side nav (#14056)
  .agents/skills/phoenix-design/references/icons.md
  app/src/components/core/icon/Icons.tsx
  app/src/components/nav/VersionUpdateNotice.tsx
  app/src/components/nav/index.tsx
  app/src/contexts/ViewerContext.tsx
  app/src/hooks/index.ts
  app/src/hooks/useLatestPhoenixVersion.ts
  app/src/pages/Layout.tsx
  app/src/pages/settings/SettingsGeneralPage.tsx
  app/src/utils/__tests__/versionUtils.test.ts
  app/src/utils/versionUtils.ts
  app/stories/VersionUpdateNotice.stories.tsx
Due: oxfmt-app, oxlint-app

fix(ui): admin-gate settings version status, stop caching failed fetches
  app/src/components/nav/VersionUpdateNotice.tsx
  app/src/contexts/ViewerContext.tsx
  app/src/hooks/useLatestPhoenixVersion.ts
  app/src/pages/settings/SettingsGeneralPage.tsx
Due: oxfmt-app, oxlint-app

fix(ui): admin-gate settings version status, stop caching failed fetches (#14058)
  app/src/components/nav/VersionUpdateNotice.tsx
  app/src/contexts/ViewerContext.tsx
  app/src/hooks/useLatestPhoenixVersion.ts
  app/src/pages/settings/SettingsGeneralPage.tsx
Due: oxfmt-app, oxlint-app

chore(main): release arize-phoenix 17.16.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

chore(main): release arize-phoenix 17.16.0 (#13997)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

chore: update phoenix version to 17.16.0 in kustomize and helm
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

chore: update phoenix version to 17.16.0 in kustomize and helm (#14059)
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

feat(app): add shift-click range selection to tables
  app/src/components/table/RowSelectionColumn.tsx
  app/src/components/table/__tests__/selectionUtils.test.ts
  app/src/components/table/index.tsx
  app/src/components/table/selectionUtils.ts
  app/src/components/table/useShiftClickRowSelection.ts
  app/src/pages/examples/ExamplesTable.tsx
  app/src/pages/experiments/ExperimentsTable.tsx
  app/src/pages/project/ProjectAnnotationConfigCard.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/TracesTable.tsx
  app/src/pages/settings/AnnotationConfigTable.tsx
  app/stories/Table.stories.tsx
Due: oxfmt-app, oxlint-app

ci: skip PXI evals for fork PRs
  .github/workflows/pxi-evals.yml
Due: none

feat(app): add shift-click range selection to tables (#14060)
  app/src/components/table/RowSelectionColumn.tsx
  app/src/components/table/__tests__/selectionUtils.test.ts
  app/src/components/table/index.tsx
  app/src/components/table/selectionUtils.ts
  app/src/components/table/useShiftClickRowSelection.ts
  app/src/pages/examples/ExamplesTable.tsx
  app/src/pages/experiments/ExperimentsTable.tsx
  app/src/pages/project/ProjectAnnotationConfigCard.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/TracesTable.tsx
  app/src/pages/settings/AnnotationConfigTable.tsx
  app/stories/Table.stories.tsx
Due: oxfmt-app, oxlint-app

chore: record lodash path-import convention in phoenix-typescript skill
  .agents/skills/phoenix-typescript/SKILL.md
Due: none

feat(ui): recent searches in the span filter typeahead
  app/src/components/filter/DSLFilterConditionField.tsx
  app/src/components/filter/__tests__/useDSLFilterConditionHistory.test.tsx
  app/src/components/filter/dslFilterConditionFieldUtils.ts
  app/src/components/filter/index.tsx
  app/src/components/filter/styles.ts
  app/src/components/filter/useDSLFilterConditionHistory.ts
  app/src/pages/project/SpanFilterConditionField.tsx
Due: oxfmt-app, oxlint-app

fix(app): restrict shift-click range selection to same-depth rows
  app/src/components/table/RowSelectionColumn.tsx
  app/src/components/table/__tests__/addRowRangeToSelection.test.ts
  app/src/components/table/__tests__/selectionUtils.test.ts
  app/src/components/table/addRowRangeToSelection.ts
  app/src/components/table/constants.ts
  app/src/components/table/index.tsx
  app/src/components/table/selectionUtils.ts
  app/src/components/table/useShiftClickRowSelection.ts
  app/src/pages/examples/ExamplesTable.tsx
  app/src/pages/experiments/ExperimentsTable.tsx
  app/src/pages/project/ProjectAnnotationConfigCard.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/TracesTable.tsx
  app/src/pages/settings/AnnotationConfigTable.tsx
  app/stories/Table.stories.tsx
Due: oxfmt-app, oxlint-app

feat(ui): show total session count on project card
  app/schema.graphql
  app/src/pages/projects/ProjectsPage.tsx
  app/src/pages/projects/__generated__/ProjectsPageProjectMetricsQuery.graphql.ts
  src/phoenix/server/api/dataloaders/record_counts.py
  src/phoenix/server/api/types/Project.py
  tests/unit/server/api/dataloaders/test_record_counts.py
  tests/unit/server/api/types/test_Project.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

feat(ui): recent searches in the span filter typeahead (#14062)
  .agents/skills/phoenix-typescript/SKILL.md
  app/src/components/filter/DSLFilterConditionField.tsx
  app/src/components/filter/__tests__/useDSLFilterConditionHistory.test.tsx
  app/src/components/filter/dslFilterConditionFieldUtils.ts
  app/src/components/filter/index.tsx
  app/src/components/filter/styles.ts
  app/src/components/filter/useDSLFilterConditionHistory.ts
  app/src/pages/project/SpanFilterConditionField.tsx
Due: oxfmt-app, oxlint-app

fix(app): restrict shift-click range selection to same-depth rows (#14063)
  app/src/components/table/RowSelectionColumn.tsx
  app/src/components/table/__tests__/addRowRangeToSelection.test.ts
  app/src/components/table/__tests__/selectionUtils.test.ts
  app/src/components/table/addRowRangeToSelection.ts
  app/src/components/table/constants.ts
  app/src/components/table/index.tsx
  app/src/components/table/selectionUtils.ts
  app/src/components/table/useShiftClickRowSelection.ts
  app/src/pages/examples/ExamplesTable.tsx
  app/src/pages/experiments/ExperimentsTable.tsx
  app/src/pages/project/ProjectAnnotationConfigCard.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/TracesTable.tsx
  app/src/pages/settings/AnnotationConfigTable.tsx
  app/stories/Table.stories.tsx
Due: oxfmt-app, oxlint-app

chore(main): release arize-phoenix 17.17.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

fix(app): key shift-click range selection to the clicked row's parent
  app/src/components/table/__tests__/addRowRangeToSelection.test.ts
  app/src/components/table/addRowRangeToSelection.ts
  app/stories/Table.stories.tsx
Due: oxfmt-app, oxlint-app

chore(main): release arize-phoenix 17.17.0 (#14061)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

chore: update phoenix version to 17.17.0 in kustomize and helm
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

feat: consistent arrows
  app/src/GlobalStyles.tsx
  app/src/components/agent/ToolPart.tsx
  app/src/components/core/card/Card.tsx
  app/src/components/core/card/styles.ts
  app/src/components/core/content/ExpandableContent.tsx
  app/src/components/core/disclosure/Disclosure.tsx
  app/src/components/core/disclosure/DisclosureArrow.tsx
  app/src/components/core/disclosure/index.ts
  app/src/components/core/disclosure/styles.tsx
  app/src/components/experiment/ExperimentCompareDetails.tsx
  app/src/components/react-resizable-panels/TitledPanel.tsx
  app/src/components/table/TableExpandButton.tsx
  app/src/components/trace/TraceTree.tsx
  app/src/pages/trace/SessionDetailsTracesView.tsx
Due: oxfmt-app, oxlint-app

refactor(app): move DisclosureArrow to core/icon and add stories
  app/src/components/core/card/Card.tsx
  app/src/components/core/disclosure/index.ts
  app/src/components/core/icon/DisclosureArrow.tsx
  app/src/components/core/icon/index.tsx
  app/stories/DisclosureArrow.stories.tsx
Due: oxfmt-app, oxlint-app
