Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: clean-notebooks, format-notebooks

clean-notebooks:
  name: clean-notebooks
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --ClearMetadataPreprocessor.enabled=True --inplace

format-notebooks:
  name: format-notebooks
  stages:
  - commit
  language: system
  entry: nbqa ruff --fix

fix style
  tutorials/tracing/llm_ops_overview.ipynb
Due: clean-notebooks, format-notebooks

cleanup
  tutorials/tracing/llm_ops_overview.ipynb
Due: clean-notebooks, format-notebooks

get num choices from input parameters rather than by inspecting the stream of chat completion chunks
  src/phoenix/trace/openai/instrumentor.py
Due: none

make variable name more clear
  src/phoenix/core/traces.py
Due: none

ensure that end time is not set until the stream is fully consumed
  src/phoenix/trace/openai/instrumentor.py
  tests/trace/openai/test_instrumentor.py
Due: none

remove extraneous function
  src/phoenix/trace/openai/instrumentor.py
Due: none

fix images
  tutorials/tracing/llm_ops_overview.ipynb
Due: clean-notebooks, format-notebooks

add timezones to all datetimes
  src/phoenix/trace/openai/instrumentor.py
Due: none

refactor: cach decoded span
  src/phoenix/core/traces.py
  src/phoenix/trace/schemas.py
Due: none

add re-entrant lock to span buffer append
  src/phoenix/trace/tracer.py
Due: none

simplify span creation
  src/phoenix/trace/openai/instrumentor.py
  src/phoenix/trace/tracer.py
Due: none

feat: support instrumentation for openai synchronous streaming (#1879)
  src/phoenix/trace/openai/instrumentor.py
  src/phoenix/trace/tracer.py
  tests/trace/llama_index/test_callback.py
  tests/trace/openai/test_instrumentor.py
Due: none

fix sections
  tutorials/tracing/llm_ops_overview.ipynb
Due: clean-notebooks, format-notebooks

refactor: reorganize span filter
  src/phoenix/server/api/schema.py
  src/phoenix/session/session.py
  src/phoenix/trace/dsl/__init__.py
  src/phoenix/trace/dsl/filter.py
  src/phoenix/trace/dsl/missing.py
  tests/trace/dsl/test_filter.py
Due: none

clean up
  src/phoenix/server/api/schema.py
Due: none

feat(traces): graphql query for document evaluation summary (#1874)
  app/schema.graphql
  src/phoenix/core/evals.py
  src/phoenix/core/traces.py
  src/phoenix/server/api/schema.py
  src/phoenix/server/api/types/DocumentEvaluationSummary.py
Due: none

clean up
  src/phoenix/core/traces.py
Due: none

feat(traces): filterable span and document evaluation summaries (#1880)
  app/schema.graphql
  src/phoenix/core/evals.py
  src/phoenix/core/traces.py
  src/phoenix/server/api/input_types/SpanSort.py
  src/phoenix/server/api/schema.py
Due: none

start removing the feature flag
  app/src/contexts/FeatureFlagsContext.tsx
  app/src/pages/trace/TracePage.tsx
Due: none

run guardrails
  tutorials/tracing/llm_ops_overview.ipynb
Due: clean-notebooks, format-notebooks

guardrails
  tutorials/tracing/llm_ops_overview.ipynb
Due: clean-notebooks, format-notebooks

chore(evals): export QA template top level
  src/phoenix/experimental/evals/templates/__init__.py
Due: none

chore(evals): export QA template top level (#1895)
  src/phoenix/experimental/evals/templates/__init__.py
Due: none

chore: export QA PROMPT top level
  src/phoenix/experimental/evals/__init__.py
Due: none

chore: export QA PROMPT top level (#1896)
  src/phoenix/experimental/evals/__init__.py
Due: none

WIP
  tutorials/tracing/llm_ops_overview.ipynb
Due: clean-notebooks, format-notebooks

refactor(traces): reorganize span filter (#1889)
  src/phoenix/server/api/schema.py
  src/phoenix/session/session.py
  src/phoenix/trace/dsl/__init__.py
  src/phoenix/trace/dsl/filter.py
  src/phoenix/trace/dsl/missing.py
  tests/trace/dsl/test_filter.py
Due: none

add more evals
  tutorials/tracing/llm_ops_overview.ipynb
Due: clean-notebooks, format-notebooks

move the tutorial down
  tutorials/llm_ops_overview.ipynb
Due: clean-notebooks, format-notebooks

refactor: allow arbitrary json string for iovalue
  src/phoenix/proto/trace/v1/trace.proto
  src/phoenix/trace/v1/trace_pb2.py
  src/phoenix/trace/v1/trace_pb2.pyi
  src/phoenix/trace/v1/utils.py
  tests/trace/test_schemas.py
Due: none

add image explaining hallucinations
  tutorials/llm_ops_overview.ipynb
Due: clean-notebooks, format-notebooks

refactor: allow arbitrary json string for iovalue (#1897)
  src/phoenix/proto/trace/v1/trace.proto
  src/phoenix/trace/v1/trace_pb2.py
  src/phoenix/trace/v1/trace_pb2.pyi
  src/phoenix/trace/v1/utils.py
  tests/trace/test_schemas.py
Due: none

add openai request notebook
  .pre-commit-config.yaml
  tutorials/internal/openai_request_types.ipynb
Due: clean-notebooks

ensure that updated spans share an id with the original span
  src/phoenix/trace/openai/instrumentor.py
  src/phoenix/trace/tracer.py
  tests/trace/openai/test_instrumentor.py
Due: none

revert changes to create span
  src/phoenix/trace/openai/instrumentor.py
  src/phoenix/trace/tracer.py
Due: none

update notebook
  tutorials/internal/openai_request_types.ipynb
Due: clean-notebooks

change name to first token stream event
  src/phoenix/trace/openai/instrumentor.py
Due: none

only add first token events to prevent too many events from being added
  src/phoenix/trace/openai/instrumentor.py
  tests/trace/openai/test_instrumentor.py
Due: none

only submit span once
  src/phoenix/trace/openai/instrumentor.py
  tests/trace/openai/test_instrumentor.py
Due: none

fix span updates
  src/phoenix/core/traces.py
Due: none

Path conditions:
  clean-notebooks: any of: \.ipynb$
  format-notebooks: any of: \.ipynb$, but not: \.*internal.*$
