Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

feat(evaluators): lazy sandbox config tooltip + UI polish (#13180)
  .agents/skills/phoenix-frontend/rules/accessibility.md
  .agents/skills/phoenix-frontend/rules/relay.md
  app/src/components/evaluators/AddEvaluatorMenu.tsx
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
  app/src/components/sandbox/SandboxConfigLabel.tsx
  app/src/components/sandbox/__generated__/SandboxConfigLabelDetailsQuery.graphql.ts
  app/src/pages/evaluators/DatasetEvaluatorsTable.tsx
  app/src/pages/settings/sandboxes/SandboxConfigDialog.tsx
  src/phoenix/server/api/queries.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

feat(sandbox): adopt SDK-native env var names across providers (#13225)
  docs/phoenix/self-hosting/features/sandbox-runtimes.mdx
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/daytona_backend.py
  src/phoenix/server/sandbox/e2b_backend.py
  src/phoenix/server/sandbox/modal_backend.py
  src/phoenix/server/sandbox/vercel_backend.py
  tests/unit/server/api/mutations/test_reserved_credential_names.py
  tests/unit/server/api/mutations/test_sandbox_credential_mutations.py
  tests/unit/server/api/test_sandbox_queries.py
  tests/unit/server/sandbox/test_capability_matrix.py
  tests/unit/server/sandbox/test_daytona_backend.py
  tests/unit/server/sandbox/test_e2b_backend.py
  tests/unit/server/sandbox/test_env_var_resolution.py
  tests/unit/server/sandbox/test_modal_backend.py
Due: format-python, lint-python

refactor(sandbox): drop dead provider config, cache, and stored_config plumbing (#13218)
  app/schema.graphql
  app/src/pages/settings/__generated__/settingsSandboxesPageLoaderQuery.graphql.ts
  app/src/pages/settings/sandboxes/SettingsSandboxesPage.tsx
  app/src/pages/settings/sandboxes/__generated__/DeleteSandboxConfigButtonDeleteSandboxConfigMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigDialogCreateSandboxConfigMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigDialogUpdateSandboxConfigMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigsCardConfigEnabledSwitchMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxProvidersCardProviderEnabledSwitchMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxProvidersCardUpdateSandboxProviderMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SettingsSandboxesPageFragment.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SettingsSandboxesPageRefetchQuery.graphql.ts
  scripts/ddl/postgresql_schema.sql
  src/phoenix/db/migrations/versions/0ff41b5b118f_add_sandbox_and_code_evaluator_support.py
  src/phoenix/db/models.py
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/api/mutations/sandbox_config_mutations.py
  src/phoenix/server/api/mutations/secret_mutations.py
  src/phoenix/server/api/types/SandboxConfig.py
  src/phoenix/server/app.py
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/sync.py
  src/phoenix/server/sandbox/types.py
  src/phoenix/server/sandbox/wasm_backend.py
  tests/unit/server/api/dataloaders/test_sandbox_provider_by_id.py
  tests/unit/server/api/helpers/test_evaluators.py
  tests/unit/server/api/mutations/test_code_evaluator_sandbox_mutations.py
  tests/unit/server/api/mutations/test_evaluator_preview_mutation.py
  tests/unit/server/api/mutations/test_reserved_credential_names.py
  tests/unit/server/api/mutations/test_sandbox_cache_invalidation.py
  tests/unit/server/api/mutations/test_sandbox_config_mutations.py
  tests/unit/server/api/mutations/test_sandbox_credential_mutations.py
  tests/unit/server/api/test_capability_advertisement.py
  tests/unit/server/api/test_evaluators_timeout.py
  tests/unit/server/api/test_sandbox_queries.py
  tests/unit/server/api/test_sync.py
  tests/unit/server/sandbox/test_build_sandbox_backend.py
  tests/unit/server/sandbox/test_capability_matrix.py
  tests/unit/server/sandbox/test_credential_resolution.py
  tests/unit/server/sandbox/test_sandbox_config_validation.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

feat(evaluators): add language-aware code evaluator templates (#13171)
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
  app/src/components/evaluators/codeEvaluatorTemplates.ts
Due: oxfmt-app, oxlint-app

feat(sandbox): wire runtime dependency install for Vercel backend (#13169)
  pyproject.toml
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/vercel_backend.py
  tests/unit/server/sandbox/test_capability_matrix.py
  tests/unit/server/sandbox/test_unified_config_contract.py
  tests/unit/server/sandbox/test_vercel_backend.py
  uv.lock
Due: format-python, lint-python, uv-lock-check

docs(evaluation): add Code Evaluators page under server-side evaluators (#13278)
  docs.json
  docs/phoenix/evaluation/server-evals/code-evaluators.mdx
  docs/phoenix/evaluation/server-evals/code-evaluators/composite.mdx
  docs/phoenix/evaluation/server-evals/code-evaluators/embedding-distance.mdx
  docs/phoenix/evaluation/server-evals/code-evaluators/json-match.mdx
  docs/phoenix/evaluation/server-evals/code-evaluators/llm-jury.mdx
  docs/phoenix/evaluation/server-evals/code-evaluators/pairwise.mdx
  docs/phoenix/evaluation/server-evals/code-evaluators/regex-match.mdx
  docs/phoenix/evaluation/server-evals/code-evaluators/scikit-learn.mdx
  docs/phoenix/evaluation/server-evals/overview.mdx
  docs/phoenix/evaluation/server-evals/pre-built-metrics.mdx
  docs/phoenix/integrations.mdx
  docs/phoenix/integrations/sandboxes/daytona.mdx
  docs/phoenix/integrations/sandboxes/e2b.mdx
  docs/phoenix/integrations/sandboxes/modal.mdx
  docs/phoenix/integrations/sandboxes/vercel.mdx
  docs/phoenix/llms.txt
  docs/phoenix/self-hosting/features/sandbox-runtimes.mdx
  docs/phoenix/settings/sandboxes.mdx
  docs/phoenix/settings/sandboxes/daytona.mdx
  docs/phoenix/settings/sandboxes/deno.mdx
  docs/phoenix/settings/sandboxes/e2b.mdx
  docs/phoenix/settings/sandboxes/modal.mdx
  docs/phoenix/settings/sandboxes/vercel.mdx
  docs/phoenix/settings/sandboxes/wasm.mdx
Due: none

docs(sandbox): improve logo layout on sandbox docs pages (#13310)
  docs/phoenix/evaluation/server-evals/code-evaluators.mdx
  docs/phoenix/settings/sandboxes/daytona.mdx
  docs/phoenix/settings/sandboxes/deno.mdx
  docs/phoenix/settings/sandboxes/e2b.mdx
  docs/phoenix/settings/sandboxes/modal.mdx
  docs/phoenix/settings/sandboxes/vercel.mdx
  docs/phoenix/settings/sandboxes/wasm.mdx
  docs/style.css
Due: none

fix(sandbox): normalize and validate dependency package specs (#13196)
  app/src/components/dataset/CreateCodeDatasetEvaluatorSlideover.tsx
  app/src/components/evaluators/CodeEvaluatorLanguageSandboxFields.tsx
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
  app/src/components/evaluators/OptimizationDirectionField.tsx
  app/src/components/evaluators/codeEvaluatorTemplates.ts
  app/src/components/evaluators/codeEvaluatorUtils.ts
  app/src/components/sandbox/SandboxProviderSelect.tsx
  app/src/components/sandbox/__generated__/SandboxProviderSelectQuery.graphql.ts
  app/src/pages/settings/sandboxes/SandboxConfigDialog.tsx
  app/src/pages/settings/sandboxes/__tests__/formValuesToConfigPatch.test.ts
  app/src/pages/settings/sandboxes/utils.tsx
  app/src/utils/__tests__/packageSpecUtils.test.ts
  app/src/utils/packageSpecUtils.ts
  app/tests/code-evaluators.spec.ts
  app/tests/settings-sandboxes.spec.ts
  src/phoenix/server/sandbox/types.py
  tests/unit/server/sandbox/test_sandbox_config_validation.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

feat(sandbox): add Daytona TypeScript sandbox adapter (#13222)
  app/src/components/evaluators/CodeEvaluatorLanguageSandboxFields.tsx
  app/src/components/sandbox/SandboxProviderIcon.tsx
  app/src/pages/settings/sandboxes/utils.tsx
  src/phoenix/config.py
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/daytona_backend.py
  src/phoenix/server/sandbox/types.py
  tests/unit/server/api/test_code_evaluator_runner.py
  tests/unit/server/api/test_sandbox_queries.py
  tests/unit/server/sandbox/test_capability_matrix.py
  tests/unit/server/sandbox/test_daytona_backend.py
  tests/unit/server/sandbox/test_unified_config_contract.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix(sandbox): remove adapter-introduced noise from sandbox spans (#13258)
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/sandbox/deno_backend.py
  src/phoenix/server/sandbox/e2b_backend.py
  src/phoenix/server/sandbox/modal_backend.py
  src/phoenix/server/sandbox/types.py
  src/phoenix/server/sandbox/vercel_backend.py
  tests/unit/server/api/mutations/test_evaluator_preview_mutation.py
  tests/unit/server/api/test_code_evaluator_runner.py
  tests/unit/server/api/test_evaluators_timeout.py
  tests/unit/server/sandbox/test_daytona_backend.py
  tests/unit/server/sandbox/test_e2b_backend.py
  tests/unit/server/sandbox/test_modal_backend.py
  tests/unit/server/sandbox/test_vercel_backend.py
Due: format-python, lint-python

fix(evaluators): preserve user score when categorical config has no canonical score (#13193)
  src/phoenix/server/api/coerce_output.py
  tests/unit/server/api/test_coerce_output.py
Due: format-python, lint-python

test(sandbox): fix dialog locator flakes in e2e tests (#13223)
  app/tests/code-evaluators.spec.ts
  app/tests/settings-sandboxes.spec.ts
Due: oxfmt-app, oxlint-app

chore(sandbox): rewrite comments to drop planning-decision labels
  app/tests/code-evaluators.spec.ts
  src/phoenix/db/migrations/versions/0ff41b5b118f_add_sandbox_and_code_evaluator_support.py
  src/phoenix/db/types/annotation_configs.py
  src/phoenix/server/api/coerce_output.py
  tests/unit/server/api/test_code_evaluator_runner.py
  tests/unit/server/api/test_coerce_output.py
  tests/unit/server/api/test_wasm_backend.py
  tests/unit/server/sandbox/test_capability_matrix.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

chore: regenerate uv.lock, GraphQL schema, and Relay types after rebase
  app/schema.graphql
  app/src/components/dataset/__generated__/CreateLLMDatasetEvaluatorSlideover_createLLMEvaluatorMutation.graphql.ts
  app/src/components/dataset/__generated__/EditLLMDatasetEvaluatorSlideover_updateLLMEvaluatorMutation.graphql.ts
  app/src/components/evaluators/__generated__/CodeEvaluatorTestSectionMutation.graphql.ts
  app/src/components/evaluators/__generated__/EvaluatorOutputPreviewMutation.graphql.ts
  app/src/pages/dataset/evaluators/__generated__/datasetEvaluatorDetailsLoaderQuery.graphql.ts
  tests/unit/server/api/test_queries.py
  uv.lock
Due: format-python, lint-python, oxfmt-app, oxlint-app, uv-lock-check

test(sandbox): scope dialog locator to data-testid to avoid Select popover collision (#13224)
  app/tests/code-evaluators.spec.ts
  app/tests/settings-sandboxes.spec.ts
Due: oxfmt-app, oxlint-app

feat(evaluators): trace sandbox code evaluators (#13156)
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/helpers/sandbox_redaction.py
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/daytona_backend.py
  src/phoenix/server/sandbox/deno_backend.py
  src/phoenix/server/sandbox/e2b_backend.py
  src/phoenix/server/sandbox/modal_backend.py
  src/phoenix/server/sandbox/types.py
  src/phoenix/server/sandbox/vercel_backend.py
  src/phoenix/server/sandbox/wasm_backend.py
  src/phoenix/tracers.py
  tests/unit/server/api/test_code_evaluator_runner.py
  tests/unit/server/api/test_evaluators_timeout.py
  tests/unit/server/sandbox/test_get_or_create_backend.py
  tests/unit/test_tracers.py
Due: format-python, lint-python

docs(evaluation): add intro videos to code evaluator pages (#13318)
  docs/phoenix/evaluation/server-evals/code-evaluators.mdx
Due: none

feat(evaluators): widen code editor and right-align sandbox details in code evaluator page (#13327)
  app/src/pages/dataset/evaluators/CodeDatasetEvaluatorDetails.tsx
  app/src/pages/dataset/evaluators/DatasetEvaluatorDetailsPage.tsx
Due: oxfmt-app, oxlint-app

docs(evaluation): code-evaluator docs cleanup — terminology, examples, framing (#13322)
  docs.json
  docs/phoenix/evaluation/server-evals/code-evaluators.mdx
  docs/phoenix/evaluation/server-evals/code-evaluators/json-distance.mdx
  docs/phoenix/evaluation/server-evals/code-evaluators/json-match.mdx
  docs/phoenix/evaluation/server-evals/code-evaluators/llm-jury.mdx
  docs/phoenix/integrations/sandboxes/daytona.mdx
  docs/phoenix/integrations/sandboxes/e2b.mdx
  docs/phoenix/integrations/sandboxes/modal.mdx
  docs/phoenix/integrations/sandboxes/vercel.mdx
  docs/phoenix/llms.txt
  docs/phoenix/self-hosting.mdx
  docs/phoenix/self-hosting/features/sandbox-runtimes.mdx
  docs/phoenix/settings/sandboxes.mdx
Due: none

chore: update uv, relay types in code evaluators
  app/src/pages/trace/__generated__/SessionDetailsTraceListQuery.graphql.ts
  app/src/pages/trace/__generated__/SessionDetailsTraceListRefetchQuery.graphql.ts
  app/src/pages/trace/__generated__/TraceFeedbackActionToolbarCreateAnnotationMutation.graphql.ts
  app/src/pages/trace/__generated__/TraceFeedbackActionToolbarDeleteAnnotationMutation.graphql.ts
  uv.lock
Due: oxfmt-app, oxlint-app, uv-lock-check

docs(sandbox): document untrusted-code risks for Deno and Wasm
  docs/phoenix/settings/sandboxes/deno.mdx
  docs/phoenix/settings/sandboxes/wasm.mdx
Due: none

docs(sandbox): document untrusted-code risks for Deno and Wasm (#13334)
  docs/phoenix/settings/sandboxes/deno.mdx
  docs/phoenix/settings/sandboxes/wasm.mdx
Due: none

fix(db): align sandbox config constraints
  scripts/ddl/postgresql_schema.sql
  src/phoenix/db/migrations/versions/0ff41b5b118f_add_sandbox_and_code_evaluator_support.py
  src/phoenix/db/models.py
Due: format-python, lint-python

fix(sandbox): verify CPython WASM binary integrity via pinned sha256
  .github/workflows/playwright.yaml
  Dockerfile
  scripts/docker/devops/Dockerfile
  scripts/docker/devops/Dockerfile.vite
  scripts/docker/devops/smtp-server/Dockerfile
  src/phoenix/server/sandbox/_download.py
Due: format-python, lint-python

fix(db): align sandbox config constraints (#13335)
  scripts/ddl/postgresql_schema.sql
  src/phoenix/db/migrations/versions/0ff41b5b118f_add_sandbox_and_code_evaluator_support.py
  src/phoenix/db/models.py
Due: format-python, lint-python

feat(agents): stamp tool execution environment on tool-call provider metadata
  app/src/agent/extensions/__tests__/toolRegistry.test.ts
  app/src/agent/extensions/toolRegistry.ts
  app/src/api/__generated__/v1.ts
  schemas/openapi.json
  src/phoenix/server/agents/pydantic_ai/__init__.py
  src/phoenix/server/agents/pydantic_ai/vercel_ai_adapter.py
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/agents/pydantic_ai/test_vercel_ai_adapter.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

refactor(agents): extract docs tool name constants
  app/src/agent/tools/docs/docsToolTypes.ts
  app/src/agent/tools/docs/index.ts
  app/src/components/agent/DocsToolDetails.tsx
  app/stories/ToolPart.stories.tsx
  app/tests/pxi/fixtures.ts
Due: oxfmt-app, oxlint-app

fix(agents): align PXI docs tool contract
  app/src/agent/tools/docs/docsToolTypes.ts
  app/src/agent/tools/docs/index.ts
  app/src/components/agent/DocsToolDetails.tsx
  app/stories/ToolPart.stories.tsx
  app/tests/pxi/fixtures.ts
  src/phoenix/server/agents/prompts/tools/DOCS_TOOL_INSTRUCTIONS.xml
Due: oxfmt-app, oxlint-app

refactor(agents): polish openapi schema registry and docs tool types
  app/src/agent/extensions/toolRegistry.ts
  app/src/agent/tools/docs/docsToolTypes.ts
  app/src/agent/tools/docs/index.ts
  app/src/components/agent/DocsToolDetails.tsx
  app/stories/ToolPart.stories.tsx
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  src/phoenix/server/api/openapi/registry.py
  src/phoenix/server/api/openapi/schema.py
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

refactor(agents): clean up chat router and openapi schema registration
  app/src/agent/extensions/toolRegistry.ts
  app/src/api/__generated__/v1.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/server/agents/pydantic_ai/__init__.py
  src/phoenix/server/agents/pydantic_ai/vercel_ai_adapter.py
  src/phoenix/server/api/openapi/registry.py
  src/phoenix/server/api/openapi/schema.py
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/agents/pydantic_ai/test_vercel_ai_adapter.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

fix(agents): update stale toolsets import to capabilities
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python

fix(sandbox): verify CPython WASM binary integrity via pinned sha256 (#13336)
  .github/workflows/playwright.yaml
  Dockerfile
  scripts/docker/devops/Dockerfile
  scripts/docker/devops/Dockerfile.vite
  scripts/docker/devops/smtp-server/Dockerfile
  src/phoenix/server/sandbox/_download.py
Due: format-python, lint-python

chore(main): release arize-phoenix 15.11.1 (#13330)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

fix(evaluators): wire time range to evaluator details and harden error boundary
  app/src/components/exception/ErrorBoundary.tsx
  app/src/components/exception/TextErrorBoundaryFallback.tsx
  app/src/pages/dataset/evaluators/DatasetEvaluatorDetailsPage.tsx
  app/src/pages/dataset/evaluators/DatasetEvaluatorSpans.tsx
  app/src/pages/dataset/evaluators/__generated__/DatasetEvaluatorSpansQuery.graphql.ts
  app/src/pages/dataset/evaluators/__generated__/DatasetEvaluatorSpans_project.graphql.ts
  app/src/pages/dataset/evaluators/__generated__/datasetEvaluatorDetailsLoaderQuery.graphql.ts
  app/src/pages/dataset/evaluators/datasetEvaluatorDetailsLoader.ts
  app/src/pages/project/SpansTableAside.tsx
Due: oxfmt-app, oxlint-app

chore: update phoenix version to 15.11.1 in kustomize and helm
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

chore: update phoenix version to 15.11.1 in kustomize and helm (#13338)
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

refactor(evaluators): consolidate DatasetEvaluatorSpans and lift Suspense to call site
  app/src/pages/dataset/evaluators/DatasetEvaluatorDetailsPage.tsx
  app/src/pages/dataset/evaluators/DatasetEvaluatorSpans.tsx
Due: oxfmt-app, oxlint-app

style: apply oxfmt formatting
  app/src/components/exception/TextErrorBoundaryFallback.tsx
  app/src/pages/dataset/evaluators/DatasetEvaluatorDetailsPage.tsx
Due: oxfmt-app, oxlint-app
