Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Harden deno CLI flags
  src/phoenix/server/sandbox/deno_backend.py
  tests/unit/server/sandbox/test_deno_backend.py
Due: format-python, lint-python

Strip ANSI from deno errors
  src/phoenix/server/sandbox/deno_backend.py
  tests/unit/server/sandbox/test_deno_backend.py
Due: format-python, lint-python

Conditionally render deno trust warning depending on host environment
  app/src/pages/settings/sandboxes/SandboxConfigDialog.tsx
Due: oxfmt-app, oxlint-app

feat(sandbox): restore local Deno execution and async TS harness support
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/sandbox/deno_backend.py
  tests/unit/server/api/test_code_evaluator_runner.py
  tests/unit/server/sandbox/test_deno_backend.py
Due: format-python, lint-python

feat: Add sandbox details to code eval details page
  app/src/components/dataset/__generated__/EditCodeDatasetEvaluatorSlideover_updateDatasetCodeEvaluatorMutation.graphql.ts
  app/src/pages/dataset/evaluators/CodeDatasetEvaluatorDetails.tsx
  app/src/pages/dataset/evaluators/DatasetEvaluatorDetailsPage.tsx
  app/src/pages/dataset/evaluators/__generated__/CodeDatasetEvaluatorDetails_datasetEvaluator.graphql.ts
  app/src/pages/dataset/evaluators/__generated__/datasetEvaluatorDetailsLoaderQuery.graphql.ts
  app/src/pages/dataset/evaluators/datasetEvaluatorDetailsLoader.ts
Due: oxfmt-app, oxlint-app

feat(sandbox): local Deno execution and async TS harness support (#12882)
  app/src/components/dataset/__generated__/EditCodeDatasetEvaluatorSlideover_updateDatasetCodeEvaluatorMutation.graphql.ts
  app/src/pages/dataset/evaluators/CodeDatasetEvaluatorDetails.tsx
  app/src/pages/dataset/evaluators/DatasetEvaluatorDetailsPage.tsx
  app/src/pages/dataset/evaluators/__generated__/CodeDatasetEvaluatorDetails_datasetEvaluator.graphql.ts
  app/src/pages/dataset/evaluators/__generated__/datasetEvaluatorDetailsLoaderQuery.graphql.ts
  app/src/pages/dataset/evaluators/datasetEvaluatorDetailsLoader.ts
  app/src/pages/settings/sandboxes/SandboxConfigDialog.tsx
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/sandbox/deno_backend.py
  tests/unit/server/api/test_code_evaluator_runner.py
  tests/unit/server/sandbox/test_deno_backend.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

feat: Add sandbox runtime details to edit dialog
  app/src/components/dataset/CreateCodeDatasetEvaluatorSlideover.tsx
  app/src/components/dataset/EditCodeDatasetEvaluatorSlideover.tsx
  app/src/components/dataset/__generated__/CreateCodeDatasetEvaluatorSlideoverQuery.graphql.ts
  app/src/components/dataset/__generated__/EditCodeDatasetEvaluatorSlideover_datasetEvaluatorQuery.graphql.ts
  app/src/components/evaluators/CodeEvaluatorLanguageSandboxFields.tsx
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
Due: oxfmt-app, oxlint-app

feat(agents): support custom providers and secret store values
  src/phoenix/server/api/routers/chat.py
  tests/unit/server/api/routers/test_chat.py
Due: format-python, lint-python

Add dataset upsert smoke experiments
  scripts/testing/dataset_upsert_smoke.py
  scripts/testing/dataset_upsert_smoke.ts
Due: format-python, lint-python

feat(api): add session notes endpoint
  docs.json
  docs/phoenix/release-notes.mdx
  docs/phoenix/release-notes/04-2026/04-28-2026-session-notes-api.mdx
  docs/phoenix/release-notes/2026.mdx
  js/.changeset/session-notes-api.md
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/sessions.py
  tests/integration/_helpers.py
  tests/unit/server/api/routers/v1/test_sessions.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(client): use example.nodeId in resumeExperiment task results
  js/packages/phoenix-client/src/experiments/resumeExperiment.ts
Due: oxfmt-js, oxlint-js

refactor(agents): move chat internals under server.agents
  src/phoenix/server/agents/__init__.py
  src/phoenix/server/agents/chat_params.py
  src/phoenix/server/agents/context.py
  src/phoenix/server/agents/mcp.py
  src/phoenix/server/agents/model_factory.py
  src/phoenix/server/agents/tools/__init__.py
  src/phoenix/server/agents/tools/apply_span_filter_condition.py
  src/phoenix/server/agents/tools/registry.py
  src/phoenix/server/api/routers/chat.py
  src/phoenix/server/api/routers/chat_tools/__init__.py
  src/phoenix/server/api/routers/data_stream_protocol.py
  tests/unit/server/agents/test_context.py
  tests/unit/server/agents/test_mcp.py
  tests/unit/server/agents/test_model_factory.py
  tests/unit/server/agents/test_tools.py
  tests/unit/server/api/routers/test_chat.py
Due: format-python, lint-python

docs(integrations): add Asqav (ML-DSA audit signing) page
  docs.json
  docs/phoenix/integrations/python/asqav.mdx
Due: none

fix(agents): address chat review feedback and ci
  src/phoenix/server/agents/mcp.py
  src/phoenix/server/agents/model_factory.py
  src/phoenix/server/api/routers/data_stream_protocol.py
  tests/integration/auth/conftest.py
  tests/unit/server/agents/test_mcp.py
  tests/unit/server/agents/test_model_factory.py
Due: format-python, lint-python

clean up
  docs/phoenix/datasets-and-experiments/how-to-experiments/run-experiments-in-background.mdx
  docs/phoenix/release-notes/04-2026/04-07-2026-phoenix-v14-breaking-changes.mdx
Due: none

fix(agents): unquote MintlifyDocsClient annotation
  src/phoenix/server/api/routers/data_stream_protocol.py
Due: format-python, lint-python

docs(experiments): how-to page for running experiments in the background (#12736)
  docs.json
  docs/phoenix/datasets-and-experiments/how-to-experiments.mdx
  docs/phoenix/datasets-and-experiments/how-to-experiments/run-experiments-in-background.mdx
  docs/phoenix/release-notes/04-2026/04-07-2026-phoenix-v14-breaking-changes.mdx
Due: none

chore: update sitemap.xml
  docs/phoenix/sitemap.xml
  sitemap.xml
Due: none

refactor(agents): drop unnecessary TYPE_CHECKING shim for ContextualTool
  src/phoenix/server/agents/tools/apply_span_filter_condition.py
Due: format-python, lint-python

docs(agents): restore call_tool param docs
  src/phoenix/server/agents/mcp.py
Due: format-python, lint-python

docs(skills): codify docstring guidance in phoenix-server
  .agents/skills/phoenix-server/SKILL.md
Due: none

feat(server): redact sensitive GraphQL fields with RedactedString (#12807)
  app/relay.config.js
  app/schema.graphql
  app/src/components/core/field/RedactedCredentialField.tsx
  app/src/components/core/field/index.tsx
  app/src/pages/settings/CustomProviderForm.tsx
  app/src/pages/settings/GenerativeProvidersCard.tsx
  app/src/pages/settings/secrets/ReplaceSecretButton.tsx
  app/src/pages/settings/secrets/SecretMutationForm.tsx
  app/src/pages/settings/secrets/SecretsMutation.ts
  app/src/pages/settings/secrets/SecretsTable.tsx
  app/src/pages/settings/secrets/SettingsSecretsPage.tsx
  app/src/pages/settings/secrets/__generated__/SecretsMutationMutation.graphql.ts
  app/src/pages/settings/secrets/__generated__/SettingsSecretsPageFragment.graphql.ts
  app/src/pages/settings/secrets/__generated__/SettingsSecretsPageRefetchQuery.graphql.ts
  app/src/pages/settings/secrets/__generated__/settingsSecretsPageLoaderQuery.graphql.ts
  app/src/utils/redactionUtils.ts
  app/tests/settings-secrets.spec.ts
  src/phoenix/server/api/exceptions.py
  src/phoenix/server/api/input_types/GenerativeModelCustomerProviderConfigInput.py
  src/phoenix/server/api/mutations/generative_model_custom_provider_mutations.py
  src/phoenix/server/api/schema.py
  src/phoenix/server/api/types/GenerativeModelCustomProvider.py
  src/phoenix/server/api/types/RedactedString.py
  src/phoenix/server/api/types/Secret.py
  src/phoenix/server/app.py
  src/phoenix/server/redaction.py
  tests/integration/auth/conftest.py
  tests/integration/auth/test_auth.py
  tests/integration/auth/test_redaction.py
  tests/integration/client/test_secrets.py
  tests/unit/server/api/mutations/test_generative_model_custom_provider_mutations.py
  tests/unit/server/api/mutations/test_secret_mutations.py
  tests/unit/server/api/routers/v1/test_secrets.py
  tests/unit/server/api/test_queries.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

chore(main): release arize-phoenix 14.16.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

docs(agents): document package layout and clean up dead code
  src/phoenix/server/agents/__init__.py
  src/phoenix/server/agents/chat_params.py
  src/phoenix/server/agents/mcp.py
  src/phoenix/server/agents/model_factory.py
  src/phoenix/server/agents/tools/__init__.py
  src/phoenix/server/agents/tools/registry.py
Due: format-python, lint-python

chore(main): release arize-phoenix 14.16.0 (#12877)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

chore: update sitemap.xml (#12905)
  docs/phoenix/sitemap.xml
  sitemap.xml
Due: none

chore: update phoenix version to 14.16.0 in kustomize and helm
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

fix: show label-only annotations in summary cells (#12898)
  app/src/components/annotation/AnnotationSummaryGroup.tsx
  app/src/components/annotation/SessionAnnotationSummaryGroup.tsx
  app/src/components/annotation/TraceAnnotationSummaryGroup.tsx
  app/src/pages/project/AnnotationSummary.tsx
Due: oxfmt-app, oxlint-app

refactor(agents): decouple model_factory from FastAPI and GraphQL
  src/phoenix/server/agents/__init__.py
  src/phoenix/server/agents/chat_params.py
  src/phoenix/server/agents/exceptions.py
  src/phoenix/server/agents/model_factory.py
  src/phoenix/server/api/routers/chat.py
  tests/unit/server/agents/test_model_factory.py
Due: format-python, lint-python

refactor(agents): simplify per review
  src/phoenix/server/agents/chat_params.py
  src/phoenix/server/agents/exceptions.py
  src/phoenix/server/agents/model_factory.py
Due: format-python, lint-python

feat(api): add session notes endpoint (#12902)
  docs.json
  docs/phoenix/release-notes.mdx
  docs/phoenix/release-notes/04-2026/04-28-2026-session-notes-api.mdx
  docs/phoenix/release-notes/2026.mdx
  js/.changeset/session-notes-api.md
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/sessions.py
  tests/integration/_helpers.py
  tests/unit/server/api/routers/v1/test_sessions.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

feat(client): add example_ids to Python and TS clients (#12889)
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-client/src/datasets/appendDatasetExamples.ts
  js/packages/phoenix-client/src/datasets/createDataset.ts
  js/packages/phoenix-client/src/datasets/createOrGetDataset.ts
  js/packages/phoenix-client/src/datasets/getDatasetExamples.ts
  js/packages/phoenix-client/src/datasets/index.ts
  js/packages/phoenix-client/src/experiments/resumeEvaluation.ts
  js/packages/phoenix-client/src/experiments/resumeExperiment.ts
  js/packages/phoenix-client/src/experiments/runExperiment.ts
  js/packages/phoenix-client/src/types/datasets.ts
  js/packages/phoenix-client/test/datasets/appendDatasetExamples.test.ts
  js/packages/phoenix-client/test/datasets/createDataset.test.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/tests/client/resources/datasets/test_datasets.py
  packages/phoenix-client/tests/client/resources/experiments/test_example_proxy.py
  schemas/openapi.json
  scripts/testing/dataset_upsert_smoke.py
  scripts/testing/dataset_upsert_smoke.ts
  src/phoenix/server/api/routers/v1/datasets.py
  src/phoenix/server/api/routers/v1/experiment_runs.py
  src/phoenix/server/api/routers/v1/experiments.py
  tests/integration/client/test_datasets.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(cost): update built-in model token prices
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Due: none

test(playwright): align e2e tests with new dataset-upsert UI
  app/tests/dataset-file-upload.spec.ts
  app/tests/playground.spec.ts
  app/tests/server-evaluators.spec.ts
Due: oxfmt-app, oxlint-app

test(playwright): align e2e tests with new dataset-upsert UI (#12913)
  app/tests/dataset-file-upload.spec.ts
  app/tests/playground.spec.ts
  app/tests/server-evaluators.spec.ts
Due: oxfmt-app, oxlint-app

chore: version-15 feature branch
  .github/workflows/playwright.yaml
Due: none

feat: extend db prompt types for invocation paramaters
  .github/workflows/python-CI.yml
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  packages/phoenix-client/src/phoenix/client/helpers/sdk/anthropic/messages.py
  packages/phoenix-client/src/phoenix/client/helpers/sdk/openai/chat.py
  packages/phoenix-client/tests/canary/sdk/anthropic/test_messages.py
  schemas/openapi.json
  src/phoenix/db/types/prompts.py
  src/phoenix/server/api/helpers/playground_clients.py
  tests/integration/client/test_prompts.py
  uv.lock
Due: format-python, lint-python, oxfmt-js, oxlint-js, uv-lock-check

fix(datasets): surface pre-upsert examples to the diff algorithm
  src/phoenix/db/insertion/dataset.py
  tests/unit/db/insertion/test_dataset.py
Due: format-python, lint-python

docs(datasets): refer to pre-v15 datasets in upsert comments
  src/phoenix/db/insertion/dataset.py
  tests/unit/db/insertion/test_dataset.py
Due: format-python, lint-python

feat: extend db prompt types for invocation paramaters (#12855)
  .github/workflows/python-CI.yml
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  packages/phoenix-client/src/phoenix/client/helpers/sdk/anthropic/messages.py
  packages/phoenix-client/src/phoenix/client/helpers/sdk/openai/chat.py
  packages/phoenix-client/tests/canary/sdk/anthropic/test_messages.py
  schemas/openapi.json
  src/phoenix/db/types/prompts.py
  src/phoenix/server/api/helpers/playground_clients.py
  tests/integration/client/test_prompts.py
  uv.lock
Due: format-python, lint-python, oxfmt-js, oxlint-js, uv-lock-check

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
