Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

test(pxi): cover malformed turn topologies
  tests/unit/pxi/evals/offline_evals/test_tool_count_per_turn.py
Due: format-python, lint-python

fix(pxi): scope scheduled evaluator credentials
  .github/workflows/pxi-offline-evals.yml
  evals/pxi/README.md
Due: none

fix(pxi): make manual offline evals safe by default
  .github/workflows/pxi-offline-evals.yml
Due: none

fix(pxi): sample offline evals consistently across evaluators
  evals/pxi/offline_evals/run.py
  tests/unit/pxi/evals/offline_evals/test_run.py
Due: format-python, lint-python

docs(pxi): make offline eval provenance notes self-contained
  evals/pxi/offline_evals/conversation.py
  evals/pxi/offline_evals/message_origin.py
  evals/pxi/offline_evals/rendering.py
Due: format-python, lint-python

test(server): verify /mcp enforces caller role on tool dispatch and code-mode execute
  tests/integration/auth/test_mcp.py
Due: format-python, lint-python

feat(agents): persist server agent chat sessions
  app/src/api/__generated__/v1.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  schemas/openapi.json
  scripts/ddl/postgresql_schema.sql
  src/phoenix/db/migrations/versions/6dbf083632b6_add_agent_id_to_agent_sessions.py
  src/phoenix/db/models.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/agents/test_agents_router.py
  tests/unit/server/api/routers/test_agents.py
  tests/unit/server/api/types/test_AgentSession.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

feat(cli): persist PXI agent chat sessions
  .agents/skills/phoenix-cli/SKILL.md
  .github/workflows/openapi-schema.yaml
  .github/workflows/typescript-packages-CI.yml
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/overview.mdx
  js/packages/phoenix-cli/README.md
  js/packages/phoenix-cli/src/pxi/App.tsx
  js/packages/phoenix-cli/src/pxi/client.ts
  js/packages/phoenix-cli/src/pxi/index.tsx
  js/packages/phoenix-cli/src/pxi/options.ts
  js/packages/phoenix-cli/src/pxi/preflight.ts
  js/packages/phoenix-cli/src/pxi/types.ts
  js/packages/phoenix-cli/test/pxiClient.test.ts
  js/packages/phoenix-cli/test/pxiOptions.test.ts
  js/packages/phoenix-cli/test/pxiPreflight.test.ts
  js/packages/phoenix-client/src/client.ts
  js/packages/phoenix-client/src/index.ts
  js/packages/phoenix-client/test/client.test.ts
Due: oxfmt-js, oxlint-js

fix(agents): use persisted IDs for session hydration
  app/src/components/agent/AgentSessionsResource.tsx
  app/src/components/agent/__tests__/agentSessionRuntime.test.ts
  app/src/components/agent/agentSessionRuntime.ts
  tests/unit/server/agents/test_agents_router.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

feat(settings): split users and API keys into dedicated settings tabs
  app/src/Routes.tsx
  app/src/pages/settings/SettingsAPIKeysPage.tsx
  app/src/pages/settings/SettingsGeneralPage.tsx
  app/src/pages/settings/SettingsPage.tsx
  app/src/pages/settings/SettingsUsersPage.tsx
  app/tests/admin-access.ts
  app/tests/auth.setup.ts
  app/tests/settings-tables.spec.ts
  app/tests/user-management.spec.ts
Due: oxfmt-app, oxlint-app

style(tabs): pill selection indicator for vertical tab rails
  app/src/components/core/tabs/Tabs.tsx
Due: oxfmt-app, oxlint-app

feat(settings): virtualize the models table
  app/src/pages/settings/ModelsTable.tsx
  app/src/pages/settings/SettingsModelsPage.tsx
Due: oxfmt-app, oxlint-app

style: format GlobalRetentionPolicyCard with oxfmt
  app/src/pages/settings/GlobalRetentionPolicyCard.tsx
Due: oxfmt-app, oxlint-app

feat(settings): vertical settings tabs on large screens with responsive fallback
  app/src/components/core/tabs/Tabs.tsx
  app/src/hooks/index.ts
  app/src/hooks/useMediaQuery.ts
  app/src/pages/settings/GlobalRetentionPolicyCard.tsx
  app/src/pages/settings/SettingsGeneralPage.tsx
  app/src/pages/settings/SettingsPage.tsx
Due: oxfmt-app, oxlint-app

chore(main): release arize-phoenix 18.1.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

test(integration): fix mypy --strict errors in auth/test_mcp.py
  tests/integration/auth/test_mcp.py
Due: format-python, lint-python

chore: update phoenix version to 18.1.0 in kustomize and helm
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

chore: update phoenix version to 18.1.0 in kustomize and helm (#14471)
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

docs: fix broken internal links to moved/renamed pages (#14444)
  docs/phoenix/evaluation/concepts-evals/evaluating-multi-agent-systems.mdx
  docs/phoenix/integrations/python/pydantic/pydantic-evals.mdx
  docs/phoenix/release-notes/01-2025/01-18-2025-automatic-and-manual-span-tracing.mdx
  docs/phoenix/self-hosting/features/management.mdx
  docs/phoenix/tracing/how-to-tracing/importing-and-exporting-traces/importing-atif-trajectories.mdx
  docs/phoenix/tracing/how-to-tracing/importing-and-exporting-traces/importing-existing-traces.mdx
  docs/phoenix/tracing/llm-traces.mdx
Due: none

style(js): fix oxfmt formatting in phoenix-testing
  js/packages/phoenix-testing/README.md
  js/packages/phoenix-testing/src/index.ts
  js/packages/phoenix-testing/test/openApi.test.ts
Due: oxfmt-js, oxlint-js

make phoenix testing workspace-only
  js/.changeset/lucky-planets-share.md
  js/packages/phoenix-client/test/mocks/phoenixMockServer.test.ts
  js/packages/phoenix-client/test/spans/logSpans.integration.test.ts
  js/packages/phoenix-testing/README.md
  js/packages/phoenix-testing/package.json
  js/packages/phoenix-testing/scripts/embed-openapi-document.mjs
  js/packages/phoenix-testing/src/__generated__/document.ts
  js/packages/phoenix-testing/src/openApi.ts
  js/packages/phoenix-testing/test/openApi.test.ts
Due: oxfmt-js, oxlint-js

refactor: reuse phoenix-config base URL and collapse node re-exports in phoenix-testing
  js/packages/phoenix-cli/.gitignore
  js/packages/phoenix-testing/package.json
  js/packages/phoenix-testing/src/constants.ts
  js/packages/phoenix-testing/src/node.ts
  js/pnpm-lock.yaml
Due: oxfmt-js, oxlint-js

simplify mock server API
  js/packages/phoenix-client/test/spans/logSpans.test.ts
  js/packages/phoenix-testing/README.md
  js/packages/phoenix-testing/src/node.ts
  js/packages/phoenix-testing/test/node.test.ts
Due: oxfmt-js, oxlint-js

fix logSpans HTTP error handling
  js/packages/phoenix-client/src/errors.ts
  js/packages/phoenix-client/src/spans/logSpans.ts
  js/packages/phoenix-client/test/client.test.ts
  js/packages/phoenix-client/test/spans/logSpans.integration.test.ts
  js/packages/phoenix-client/test/spans/logSpans.test.ts
Due: oxfmt-js, oxlint-js

refactor(js): migrate phoenix-client tests from manual mocks to phoenix-testing MSW
  js/packages/phoenix-client/test/datasets/appendDatasetExamples.test.ts
  js/packages/phoenix-client/test/datasets/createDataset.test.ts
  js/packages/phoenix-client/test/experiments/createExperiment.test.ts
  js/packages/phoenix-client/test/experiments/deleteExperiment.test.ts
  js/packages/phoenix-client/test/experiments/getExperimentRuns.test.ts
  js/packages/phoenix-client/test/experiments/listExperiments.test.ts
  js/packages/phoenix-client/test/experiments/resumeEvaluation.test.ts
  js/packages/phoenix-client/test/experiments/resumeExperiment.test.ts
  js/packages/phoenix-client/test/experiments/runExperimentTracing.test.ts
  js/packages/phoenix-client/test/prompts/createPrompt.test.ts
  js/packages/phoenix-client/test/sessions/addSessionNote.test.ts
  js/packages/phoenix-client/test/sessions/getSession.test.ts
  js/packages/phoenix-client/test/sessions/getSessionTurns.test.ts
  js/packages/phoenix-client/test/sessions/listSessions.test.ts
  js/packages/phoenix-client/test/spans/addDocumentAnnotation.test.ts
  js/packages/phoenix-client/test/spans/addSpanAnnotation.test.ts
  js/packages/phoenix-client/test/spans/addSpanNote.test.ts
  js/packages/phoenix-client/test/spans/deleteSpan.test.ts
  js/packages/phoenix-client/test/spans/getSpanAnnotations.test.ts
  js/packages/phoenix-client/test/spans/getSpans.test.ts
  js/packages/phoenix-client/test/spans/logDocumentAnnotations.test.ts
  js/packages/phoenix-client/test/spans/logSpanAnnotations.test.ts
  js/packages/phoenix-client/test/traces/addTraceAnnotation.test.ts
  js/packages/phoenix-client/test/traces/addTraceNote.test.ts
  js/packages/phoenix-client/test/traces/getTraces.test.ts
  js/packages/phoenix-client/test/traces/logTraceAnnotations.test.ts
Due: oxfmt-js, oxlint-js

refactor(js): centralize createTestClient helper and rename createPhoenixHttp to createHttp
  js/packages/phoenix-client/test/spans/logSpans.test.ts
  js/packages/phoenix-client/test/testUtils.ts
  js/packages/phoenix-testing/README.md
  js/packages/phoenix-testing/src/http.ts
  js/packages/phoenix-testing/src/index.ts
  js/packages/phoenix-testing/src/node.ts
  js/packages/phoenix-testing/test/node.test.ts
Due: oxfmt-js, oxlint-js

feat(js): add @arizeai/phoenix-testing with MSW mocks generated from the OpenAPI definition
  js/.changeset/lucky-planets-share.md
  js/packages/phoenix-client/package.json
  js/packages/phoenix-client/test/mocks/phoenixMockServer.test.ts
  js/packages/phoenix-testing/README.md
  js/packages/phoenix-testing/package.json
  js/packages/phoenix-testing/scripts/embed-openapi-document.mjs
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/document.ts
  js/packages/phoenix-testing/src/constants.ts
  js/packages/phoenix-testing/src/http.ts
  js/packages/phoenix-testing/src/index.ts
  js/packages/phoenix-testing/src/node.ts
  js/packages/phoenix-testing/src/openApi.ts
  js/packages/phoenix-testing/test/node.test.ts
  js/packages/phoenix-testing/test/openApi.test.ts
  js/packages/phoenix-testing/tsconfig.json
  js/packages/phoenix-testing/vitest.config.ts
  js/pnpm-lock.yaml
Due: oxfmt-js, oxlint-js

refactor(js): drop redundant Phoenix prefix from phoenix-testing exports
  js/packages/phoenix-client/test/testUtils.ts
  js/packages/phoenix-testing/README.md
  js/packages/phoenix-testing/src/constants.ts
  js/packages/phoenix-testing/src/http.ts
  js/packages/phoenix-testing/src/index.ts
  js/packages/phoenix-testing/src/node.ts
  js/packages/phoenix-testing/src/openApi.ts
  js/packages/phoenix-testing/test/openApi.test.ts
Due: oxfmt-js, oxlint-js

chore(agents): update generated stream types
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  tests/unit/server/agents/test_agents_router.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix: tab padding broken
  app/src/components/core/tabs/Tabs.tsx
Due: oxfmt-app, oxlint-app

fix: tab padding broken (#14478)
  app/src/components/core/tabs/Tabs.tsx
Due: oxfmt-app, oxlint-app

fix(auth): replace removed --global-dimension-static-size tokens
  app/src/pages/auth/AuthLayout.tsx
  app/src/pages/auth/OAuth2ConsentCard.tsx
Due: oxfmt-app, oxlint-app

feat(js): add @arizeai/phoenix-testing with MSW mocks generated from the OpenAPI definition (#14456)
  js/packages/phoenix-cli/.gitignore
  js/packages/phoenix-client/package.json
  js/packages/phoenix-client/src/errors.ts
  js/packages/phoenix-client/src/spans/logSpans.ts
  js/packages/phoenix-client/test/client.test.ts
  js/packages/phoenix-client/test/spans/logSpans.test.ts
  js/packages/phoenix-client/test/testUtils.ts
  js/packages/phoenix-testing/README.md
  js/packages/phoenix-testing/package.json
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/constants.ts
  js/packages/phoenix-testing/src/http.ts
  js/packages/phoenix-testing/src/index.ts
  js/packages/phoenix-testing/src/node.ts
  js/packages/phoenix-testing/src/openApi.ts
  js/packages/phoenix-testing/test/node.test.ts
  js/packages/phoenix-testing/test/openApi.test.ts
  js/packages/phoenix-testing/tsconfig.json
  js/packages/phoenix-testing/vitest.config.ts
  js/pnpm-lock.yaml
Due: oxfmt-js, oxlint-js

refactor(js): migrate phoenix-client tests from manual mocks to phoenix-testing MSW (#14474)
  js/packages/phoenix-client/test/datasets/appendDatasetExamples.test.ts
  js/packages/phoenix-client/test/datasets/createDataset.test.ts
  js/packages/phoenix-client/test/experiments/createExperiment.test.ts
  js/packages/phoenix-client/test/experiments/deleteExperiment.test.ts
  js/packages/phoenix-client/test/experiments/getExperimentRuns.test.ts
  js/packages/phoenix-client/test/experiments/listExperiments.test.ts
  js/packages/phoenix-client/test/experiments/resumeEvaluation.test.ts
  js/packages/phoenix-client/test/experiments/resumeExperiment.test.ts
  js/packages/phoenix-client/test/experiments/runExperimentTracing.test.ts
  js/packages/phoenix-client/test/prompts/createPrompt.test.ts
  js/packages/phoenix-client/test/sessions/addSessionNote.test.ts
  js/packages/phoenix-client/test/sessions/getSession.test.ts
  js/packages/phoenix-client/test/sessions/getSessionTurns.test.ts
  js/packages/phoenix-client/test/sessions/listSessions.test.ts
  js/packages/phoenix-client/test/spans/addDocumentAnnotation.test.ts
  js/packages/phoenix-client/test/spans/addSpanAnnotation.test.ts
  js/packages/phoenix-client/test/spans/addSpanNote.test.ts
  js/packages/phoenix-client/test/spans/deleteSpan.test.ts
  js/packages/phoenix-client/test/spans/getSpanAnnotations.test.ts
  js/packages/phoenix-client/test/spans/getSpans.test.ts
  js/packages/phoenix-client/test/spans/logDocumentAnnotations.test.ts
  js/packages/phoenix-client/test/spans/logSpanAnnotations.test.ts
  js/packages/phoenix-client/test/traces/addTraceAnnotation.test.ts
  js/packages/phoenix-client/test/traces/addTraceNote.test.ts
  js/packages/phoenix-client/test/traces/getTraces.test.ts
  js/packages/phoenix-client/test/traces/logTraceAnnotations.test.ts
Due: oxfmt-js, oxlint-js

style(app): fix oxfmt formatting in UsersTable
  app/src/pages/settings/UsersTable.tsx
Due: oxfmt-app, oxlint-app
