Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

chore(ddl): regenerate schema assets
  scripts/ddl/postgresql_schema.sql
  scripts/ddl/sqlite_schema.sql
Due: none

update
  packages/phoenix-client/CHANGELOG.md
Due: none

Apply suggestion from @ehutt
  docs/phoenix/llms.txt
Due: none

Delete scripts/rag/llamaindex_retrieval_chunk_eval.ipynb on ehutt's recommendation
  scripts/rag/llamaindex_retrieval_chunk_eval.ipynb
Due: clean-notebooks

chore(main): release arize-phoenix-client 3.1.0 (#15338)
  .release-please-manifest.json
  packages/phoenix-client/CHANGELOG.md
  packages/phoenix-client/pyproject.toml
  uv.lock
Due: uv-lock-check

docs: link LLM-as-a-Judge text to concepts page
  docs/phoenix/tracing/how-to-tracing/feedback-and-annotations/evaluating-phoenix-traces.mdx
Due: none

fix(auth): improve error for missing Azure Workload Identity token file
  src/phoenix/server/oauth2.py
Due: format-python, lint-python

Apply suggestion from @MoraVigoMalusardi
  docs/phoenix/tracing/how-to-tracing/importing-and-exporting-traces/extract-data-from-spans.mdx
Due: none

fix(online-evals): route OpenAI reasoning models to the Responses API client (#15299)
  src/phoenix/server/api/helpers/playground_clients.py
  tests/unit/server/api/helpers/test_playground_clients.py
Due: format-python, lint-python

feat: refine evaluation metric chart layout and controls
  app/src/components/chart/AnnotationMetricsViewMenu.tsx
  app/src/components/chart/AnnotationScoreLabelToggle.tsx
  app/src/components/chart/index.tsx
  app/src/pages/dataset/metrics/ExperimentAnnotationMetricsGrid.tsx
  app/src/pages/project/metrics/ProjectAnnotationMetrics.tsx
  app/stories/AnnotationMetricsChart.stories.tsx
Due: oxfmt-app, oxlint-app

style: fix import ordering in agents router
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python

fix(agents): prevent exported session ID collisions
  src/phoenix/server/api/helpers/agent_sessions.py
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/agents/test_agents_router.py
  tests/unit/server/api/helpers/test_agent_sessions.py
  tests/unit/server/api/mutations/test_agent_session_mutations.py
Due: format-python, lint-python

refactor: guard playground registry against silent overwrites, simplify reasoning-client tests
  src/phoenix/server/api/helpers/playground_clients.py
  src/phoenix/server/api/helpers/playground_registry.py
  tests/unit/server/api/helpers/test_playground_clients.py
Due: format-python, lint-python

fix(agents): emit full tool definitions on PXI LLM spans
  app/src/pages/trace/span/LLMToolSchemasList.tsx
  app/src/pages/trace/span/__tests__/utils.test.ts
  app/src/pages/trace/span/utils.ts
  src/phoenix/server/agents/pydantic_ai/openinference_model_wrapper.py
  tests/unit/server/agents/pydantic_ai/test_openinference_model_wrapper.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix(agents): prevent exported session ID collisions (#15358)
  src/phoenix/server/api/helpers/agent_sessions.py
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/agents/test_agents_router.py
  tests/unit/server/api/helpers/test_agent_sessions.py
  tests/unit/server/api/mutations/test_agent_session_mutations.py
Due: format-python, lint-python

fix: size evaluation metric view menu to content
  app/src/components/chart/AnnotationMetricsViewMenu.tsx
Due: oxfmt-app, oxlint-app

feat(server): add POST /traces/transfer
  app/src/api/__generated__/v1.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/traces.py
  tests/unit/server/api/routers/v1/test_traces.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

feat: use labeled segmented control in evaluation metric view popover
  app/src/components/chart/AnnotationMetricsViewMenu.tsx
Due: oxfmt-app, oxlint-app

feat(server): add GET /traces/{trace_identifier}
  app/src/api/__generated__/v1.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/traces.py
  tests/integration/_helpers.py
  tests/unit/server/api/routers/v1/test_get_trace.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

feat: refine evaluation metric chart layout and controls (#15356)
  app/src/components/chart/AnnotationMetricsViewMenu.tsx
  app/src/components/chart/AnnotationScoreLabelToggle.tsx
  app/src/components/chart/index.tsx
  app/src/pages/dataset/metrics/ExperimentAnnotationMetricsGrid.tsx
  app/src/pages/project/metrics/ProjectAnnotationMetrics.tsx
  app/stories/AnnotationMetricsChart.stories.tsx
Due: oxfmt-app, oxlint-app

docs: simplify Harbor plugin specification
  internal_docs/specs/harbor-phoenix-plugin.md
Due: none

docs(filters): address PR review feedback
  docs/phoenix/tracing/how-to-tracing/filter-expressions.mdx
  src/phoenix/trace/dsl/session_filter.py
Due: format-python, lint-python

refactor(playground): resolve OpenAI/Azure default client without the registry
  src/phoenix/server/api/helpers/playground_clients.py
  tests/unit/server/api/helpers/test_playground_clients.py
Due: format-python, lint-python

refactor(playground): drop the registration collision guard
  src/phoenix/server/api/helpers/playground_clients.py
  src/phoenix/server/api/helpers/playground_registry.py
Due: format-python, lint-python

refactor(playground): take PROVIDER_DEFAULT out of GEMINI_2_5_MODELS
  src/phoenix/server/api/helpers/playground_clients.py
Due: format-python, lint-python

fix(playground): apply the developer-role remap on OpenAI reasoning models
  src/phoenix/server/api/helpers/playground_clients.py
  tests/unit/server/api/helpers/test_playground_clients.py
Due: format-python, lint-python

refactor(playground): rename the reasoning clients for the API they target
  src/phoenix/server/api/helpers/playground_clients.py
  src/phoenix/server/api/helpers/playground_registry.py
  tests/unit/server/api/helpers/test_playground_clients.py
Due: format-python, lint-python

fix(playground): stop showing an API type the server has not been told
  app/src/components/playground/model/ModelParametersConfigButton.tsx
  app/src/components/playground/model/OpenAIApiTypeConfigFormField.tsx
Due: oxfmt-app, oxlint-app

docs(filters): document trace_annotations span keyword
  docs/phoenix/tracing/how-to-tracing/filter-expressions.mdx
Due: none

docs(playground): trim routing comments to the steady state
  src/phoenix/server/api/helpers/playground_clients.py
  tests/unit/server/api/helpers/test_playground_clients.py
Due: format-python, lint-python

refactor(playground): route custom providers through get_openai_client_class
  src/phoenix/server/api/helpers/playground_clients.py
  tests/unit/server/api/helpers/test_playground_clients.py
Due: format-python, lint-python

feat(online-evals): show evaluator config columns in the project evaluators table
  app/src/pages/project/evaluators/ProjectEvaluatorsTable.tsx
  app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsPageQuery.graphql.ts
  app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTablePaginationQuery.graphql.ts
  app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_project.graphql.ts
  app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_row.graphql.ts
  app/src/pages/project/evaluators/__generated__/refetchProjectEvaluatorsQuery.graphql.ts
Due: oxfmt-app, oxlint-app

fix(playground): keep model-name specialization off the custom-provider path
  src/phoenix/server/api/helpers/playground_clients.py
  tests/unit/server/api/helpers/test_playground_clients.py
Due: format-python, lint-python

fix: route OpenAI reasoning models to the Responses API client (#15362)
  app/src/components/playground/model/ModelParametersConfigButton.tsx
  app/src/components/playground/model/OpenAIApiTypeConfigFormField.tsx
  src/phoenix/server/api/helpers/playground_clients.py
  src/phoenix/server/api/helpers/playground_registry.py
  tests/unit/server/api/helpers/test_playground_clients.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix(lint): sort project_session import in agents router
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python

refactor(playground): drop the reasoning-model Chat Completions clients
  src/phoenix/server/api/helpers/playground_clients.py
  tests/unit/server/api/helpers/test_playground_clients.py
Due: format-python, lint-python

fix(ui): ensure users table refetch sees a newly created user
  app/src/pages/settings/UsersCard.tsx
Due: oxfmt-app, oxlint-app

fix(server): address review feedback on POST /traces/transfer
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/traces.py
  tests/integration/_helpers.py
Due: format-python, lint-python

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
