Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

fix(sandbox): revert SDK-incompatible env var renames
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/modal_backend.py
  src/phoenix/server/sandbox/vercel_backend.py
  tests/unit/server/api/mutations/test_reserved_credential_names.py
  tests/unit/server/api/test_sandbox_queries.py
  tests/unit/server/sandbox/test_env_var_resolution.py
Due: format-python, lint-python

fix(sandbox): regenerate Relay artifact after rebase onto typed-config schema
  app/src/pages/dataset/evaluators/__generated__/datasetEvaluatorDetailsLoaderQuery.graphql.ts
Due: oxfmt-app, oxlint-app

feat(api): query annotations by identifier on GET endpoints
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/annotations.py
  tests/unit/server/api/routers/v1/test_annotations.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

chore(deps): bump uv to 0.11.8 and add drift-check workflow
  .github/workflows/check-dependabot-uv-version.yml
  .github/workflows/cost-sync.yml
  .github/workflows/helm-ci.yml
  .github/workflows/playwright.yaml
  .github/workflows/publish.yaml
  .github/workflows/pypi-smoke-test.yml
  .github/workflows/python-CI.yml
  .github/workflows/python-all-platforms.yml
  .github/workflows/sync-lockfile-release-pr.yml
  Dockerfile
  pyproject.toml
  scripts/docker/devops/Dockerfile
  uv.lock
Due: uv-lock-check

chore(deps): guard against duplicate uv-bump PRs on subsequent runs
  .github/workflows/check-dependabot-uv-version.yml
Due: none

chore(deps): bump uv to 0.11.8 and add drift-check workflow (#12951)
  .github/workflows/check-dependabot-uv-version.yml
  .github/workflows/cost-sync.yml
  .github/workflows/helm-ci.yml
  .github/workflows/playwright.yaml
  .github/workflows/publish.yaml
  .github/workflows/pypi-smoke-test.yml
  .github/workflows/python-CI.yml
  .github/workflows/python-all-platforms.yml
  .github/workflows/sync-lockfile-release-pr.yml
  Dockerfile
  pyproject.toml
  scripts/docker/devops/Dockerfile
  uv.lock
Due: uv-lock-check

test(annotations): condense identifier-mode coverage to one happy-path per surface
  tests/unit/server/api/routers/v1/test_annotations.py
Due: format-python, lint-python

feat(api): query annotations by identifier on GET endpoints (#12952)
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/annotations.py
  tests/unit/server/api/routers/v1/test_annotations.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(ui): remove unused sticky positioning on Drawer dialog header
  app/src/components/core/overlay/Drawer.tsx
Due: oxfmt-app, oxlint-app

fix(ui): remove unused sticky positioning on Drawer dialog header (#12954)
  app/src/components/core/overlay/Drawer.tsx
Due: oxfmt-app, oxlint-app

chore(main): release arize-phoenix 15.1.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

feat: consolidate span filter controls into one agent tool
  app/src/agent/context/agentContextTypes.ts
  app/src/agent/context/selectors.ts
  app/src/agent/extensions/toolRegistry.ts
  app/src/pages/dataset/evaluators/DatasetEvaluatorSpans.tsx
  app/src/pages/project/AnnotationTooltipFilterActions.tsx
  app/src/pages/project/MetadataTableCell.tsx
  app/src/pages/project/MetadataTooltip.tsx
  app/src/pages/project/ProjectSessionsPage.tsx
  app/src/pages/project/ProjectSpansPage.tsx
  app/src/pages/project/ProjectTracesPage.tsx
  app/src/pages/project/SpanFilterConditionContext.tsx
  app/src/pages/project/SpanFilterConditionField.tsx
  app/src/pages/project/SpanFiltersContext.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/__generated__/spanFilterValidationQuery.graphql.ts
  app/src/pages/project/spanFilterValidation.ts
  src/phoenix/server/agents/context.py
  src/phoenix/server/agents/tools/apply_span_filter_condition.py
  src/phoenix/server/agents/tools/registry.py
  src/phoenix/server/agents/tools/set_spans_filter.py
  tests/unit/server/agents/test_context.py
  tests/unit/server/agents/test_tools.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

chore(main): release arize-phoenix 15.1.0 (#12935)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

Add Python pairwise evaluator
  packages/phoenix-evals/src/phoenix/evals/__generated__/pairwise_evaluator_configs/__init__.py
  packages/phoenix-evals/src/phoenix/evals/__generated__/pairwise_evaluator_configs/_models.py
  packages/phoenix-evals/src/phoenix/evals/__generated__/pairwise_evaluator_configs/_pairwise_quality_evaluator_config.py
  packages/phoenix-evals/src/phoenix/evals/__init__.py
  packages/phoenix-evals/src/phoenix/evals/aggregation.py
  packages/phoenix-evals/src/phoenix/evals/evaluators.py
  packages/phoenix-evals/src/phoenix/evals/exceptions.py
  packages/phoenix-evals/src/phoenix/evals/metrics/__init__.py
  packages/phoenix-evals/src/phoenix/evals/metrics/pairwise_quality.py
  packages/phoenix-evals/tests/phoenix/evals/test_pairwise_evaluator.py
Due: format-python, lint-python

Add TypeScript pairwise evaluator
  js/packages/phoenix-evals/src/__generated__/default_templates/PAIRWISE_QUALITY_EVALUATOR_CONFIG.ts
  js/packages/phoenix-evals/src/__generated__/default_templates/index.ts
  js/packages/phoenix-evals/src/__generated__/types.ts
  js/packages/phoenix-evals/src/aggregation.ts
  js/packages/phoenix-evals/src/index.ts
  js/packages/phoenix-evals/src/llm/PairwiseEvaluator.ts
  js/packages/phoenix-evals/src/llm/createPairwiseEvaluator.ts
  js/packages/phoenix-evals/src/llm/createPairwiseQualityEvaluator.ts
  js/packages/phoenix-evals/src/llm/index.ts
  js/packages/phoenix-evals/src/types/evals.ts
  js/packages/phoenix-evals/test/llm/PairwiseEvaluator.test.ts
Due: oxfmt-js, oxlint-js

Document pairwise evaluators
  js/packages/phoenix-evals/README.md
  packages/phoenix-evals/README.md
  skills/phoenix-evals/rules/evaluators-llm-python.md
  skills/phoenix-evals/rules/evaluators-llm-typescript.md
  skills/phoenix-evals/rules/evaluators-pre-built.md
Due: oxfmt-js

chore: update phoenix version to 15.1.0 in kustomize and helm
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

refactor(ui): use useEffectEvent for span filter client action
  app/src/pages/project/SpanFiltersContext.tsx
Due: oxfmt-app, oxlint-app

feat: enhance filter condition filter (#12938)
  app/src/agent/context/agentContextTypes.ts
  app/src/agent/context/selectors.ts
  app/src/agent/extensions/toolRegistry.ts
  app/src/pages/dataset/evaluators/DatasetEvaluatorSpans.tsx
  app/src/pages/project/AnnotationTooltipFilterActions.tsx
  app/src/pages/project/MetadataTableCell.tsx
  app/src/pages/project/MetadataTooltip.tsx
  app/src/pages/project/ProjectSessionsPage.tsx
  app/src/pages/project/ProjectSpansPage.tsx
  app/src/pages/project/ProjectTracesPage.tsx
  app/src/pages/project/SpanFilterConditionContext.tsx
  app/src/pages/project/SpanFilterConditionField.tsx
  app/src/pages/project/SpanFiltersContext.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/__generated__/spanFilterValidationQuery.graphql.ts
  app/src/pages/project/spanFilterValidation.ts
  src/phoenix/server/agents/context.py
  src/phoenix/server/agents/tools/apply_span_filter_condition.py
  src/phoenix/server/agents/tools/registry.py
  src/phoenix/server/agents/tools/set_spans_filter.py
  tests/unit/server/agents/test_context.py
  tests/unit/server/agents/test_tools.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix(ui): remove redundant Ask PXI button from trace details drawer
  app/src/pages/trace/TracePage.tsx
Due: oxfmt-app, oxlint-app

fix(ui): remove redundant Ask PXI button from trace details drawer (#12957)
  app/src/pages/trace/TracePage.tsx
Due: oxfmt-app, oxlint-app

chore: update phoenix version to 15.1.0 in kustomize and helm (#12955)
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

chore: update sitemap.xml (#12909)
  docs/phoenix/sitemap.xml
  sitemap.xml
Due: none

feat: move PXI prompt assembly server-side
  app/src/agent/chat/__tests__/buildAgentChatRequestBody.test.ts
  app/src/agent/chat/buildAgentChatRequestBody.ts
  app/src/agent/chat/systemPrompt.ts
  app/src/agent/tools/docs/docsToolCapabilities.ts
  app/src/agent/tools/docs/index.ts
  app/src/agent/tools/elicit/elicitToolCapabilities.ts
  app/src/agent/tools/elicit/index.ts
  app/src/components/agent/AgentSettingsForm.tsx
  app/src/store/agentStore.ts
  packages/phoenix-evals/pyproject.toml
  pyproject.toml
  src/phoenix/server/agents/capabilities.py
  src/phoenix/server/agents/prompts.py
  src/phoenix/server/agents/tools/external/bash.py
  src/phoenix/server/api/routers/data_stream_protocol.py
  tests/unit/server/agents/test_capabilities.py
  tests/unit/server/agents/test_prompts.py
  tests/unit/server/api/routers/test_data_stream_protocol.py
  uv.lock
Due: format-python, lint-python, oxfmt-app, oxlint-app, uv-lock-check

feat: expose PXI cache token usage
  app/src/agent/chat/__tests__/assistantMessageMetadata.test.ts
  app/src/agent/chat/types.ts
  app/src/components/agent/ChatSessionUsage.tsx
  app/src/components/agent/useAgentChat.ts
  app/src/store/agentStore.ts
  src/phoenix/server/api/routers/chat_tracing.py
  src/phoenix/server/api/routers/data_stream_protocol.py
  tests/unit/server/api/routers/test_chat_tracing.py
  tests/unit/server/api/routers/test_data_stream_protocol.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix(cost): update built-in model token prices
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Due: none

fix(cost): update built-in model token prices (#12960)
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Due: none

refactor(agent): remove unused prompt helper
  app/src/agent/chat/systemPrompt.ts
Due: oxfmt-app, oxlint-app

fix(agent): preserve trace context for backend tools
  src/phoenix/server/api/routers/data_stream_protocol.py
  tests/unit/server/api/routers/test_data_stream_protocol.py
Due: format-python, lint-python

Fix pairwise eval review issues
  js/packages/phoenix-evals/src/llm/PairwiseEvaluator.ts
  js/packages/phoenix-evals/src/llm/generateClassification.ts
  js/packages/phoenix-evals/test/llm/PairwiseEvaluator.test.ts
  packages/phoenix-evals/src/phoenix/evals/__generated__/pairwise_evaluator_configs/_pairwise_quality_evaluator_config.py
  packages/phoenix-evals/src/phoenix/evals/aggregation.py
  packages/phoenix-evals/src/phoenix/evals/evaluators.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

Finish pairwise eval implementation
  js/packages/phoenix-evals/README.md
  js/packages/phoenix-evals/src/aggregation.ts
  js/packages/phoenix-evals/src/llm/createPairwiseQualityEvaluator.ts
  packages/phoenix-evals/README.md
  packages/phoenix-evals/src/phoenix/evals/__init__.py
  packages/phoenix-evals/src/phoenix/evals/metrics/pairwise_quality.py
  packages/phoenix-evals/tests/phoenix/evals/test_pairwise_evaluator.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(evals): pass through provider-native tool/function dicts in adapter dict path
  packages/phoenix-evals/src/phoenix/evals/llm/adapters/langchain/adapter.py
  packages/phoenix-evals/src/phoenix/evals/llm/adapters/litellm/adapter.py
  packages/phoenix-evals/src/phoenix/evals/llm/adapters/openai/adapter.py
  packages/phoenix-evals/src/phoenix/evals/llm/prompts.py
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/langchain/test_build_prompt.py
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/litellm/test_build_messages.py
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/openai/test_build_messages.py
  packages/phoenix-evals/tests/phoenix/evals/llm/test_prompts.py
Due: format-python, lint-python

Fix pairwise quality skill docs example to use output/reference keys
  skills/phoenix-evals/rules/evaluators-pre-built.md
Due: none

Drop group parameter from win_rate; always score groups[0]
  js/packages/phoenix-evals/README.md
  js/packages/phoenix-evals/src/aggregation.ts
  js/packages/phoenix-evals/test/llm/PairwiseEvaluator.test.ts
  packages/phoenix-evals/README.md
  packages/phoenix-evals/src/phoenix/evals/aggregation.py
  packages/phoenix-evals/tests/phoenix/evals/test_pairwise_evaluator.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

Remove dead _error_score method and rename misleading test
  packages/phoenix-evals/src/phoenix/evals/evaluators.py
  packages/phoenix-evals/tests/phoenix/evals/test_pairwise_evaluator.py
Due: format-python, lint-python

test(evals): clarify OpenAI _system_role empty-model test
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/openai/test_system_role.py
Due: format-python, lint-python

feat(evals): add classify_message_list_kind and tighten OpenAI native heuristic
  packages/phoenix-evals/src/phoenix/evals/llm/prompts.py
  packages/phoenix-evals/tests/phoenix/evals/llm/test_prompts.py
Due: format-python, lint-python

feat(evals): reject mixed message lists and clarify LangChain native-dict ImportError
  packages/phoenix-evals/src/phoenix/evals/llm/adapters/anthropic/adapter.py
  packages/phoenix-evals/src/phoenix/evals/llm/adapters/google/adapter.py
  packages/phoenix-evals/src/phoenix/evals/llm/adapters/langchain/adapter.py
  packages/phoenix-evals/src/phoenix/evals/llm/adapters/litellm/adapter.py
  packages/phoenix-evals/src/phoenix/evals/llm/adapters/openai/adapter.py
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/anthropic/test_build_messages.py
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/google/test_build_content.py
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/langchain/test_build_prompt.py
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/litellm/test_build_messages.py
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/openai/test_build_messages.py
Due: format-python, lint-python
