Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs: Vertex AI playground integration page and release note
  docs.json
  docs/phoenix/integrations/llm-providers/vertexai.mdx
  docs/phoenix/integrations/llm-providers/vertexai/vertexai-playground.mdx
  docs/phoenix/llms.txt
  docs/phoenix/release-notes/05-2026/05-13-2026-vertexai-playground-support.mdx
Due: none

test(playground): integration test scaffold for Vertex Gemini
  tests/integration/experiments/cassettes/test_playground/README.md
  tests/integration/experiments/test_playground.py
Due: format-python, lint-python

fix(playground): dispatch Vertex invocation family by model name
  app/src/components/evaluators/EvaluatorChatTemplate/__tests__/utils.test.ts
  app/src/components/evaluators/EvaluatorChatTemplate/utils.ts
  app/src/components/playground/model/ModelInvocationParametersFormFields.tsx
  app/src/pages/playground/invocationParameterSpecs.ts
  app/src/pages/playground/playgroundUtils.ts
  app/src/pages/playground/promptConfigToPlaygroundInstance.ts
  app/src/pages/playground/providerAdapters/index.ts
  app/src/store/playground/playgroundStore.tsx
Due: oxfmt-app, oxlint-app

docs: register Vertex AI release note in docs.json nav
  docs.json
Due: none

fix(playground): default Vertex location to global
  src/phoenix/server/api/helpers/playground_clients.py
Due: format-python, lint-python

fix: refresh span notes after create (#13261)
  app/src/pages/trace/SpanNotesEditor.tsx
Due: oxfmt-app, oxlint-app

docs: Update info for Arconia Java integration (#13262)
  .github/.scripts/check-card-links.js
  README.md
  docs/PROMPT.md
  docs/phoenix/integrations/java/arconia.mdx
  docs/phoenix/integrations/java/arconia/arconia-tracing.mdx
  docs/phoenix/llms.txt
Due: none

feat(trace): convert OTel GenAI semconv attrs to OpenInference
  Makefile
  pyproject.toml
  requirements/type-check.txt
  scripts/generate_otel_gen_ai_models.py
  scripts/testing/otel_gen_ai/.gitignore
  scripts/testing/otel_gen_ai/send_anthropic_traces.py
  scripts/testing/otel_gen_ai/send_google_traces.py
  scripts/testing/otel_gen_ai/send_openai_traces.py
  src/phoenix/server/api/routers/agents.py
  src/phoenix/trace/gen_ai/__generated__/__init__.py
  src/phoenix/trace/gen_ai/__generated__/models.py
  src/phoenix/trace/gen_ai/__init__.py
  src/phoenix/trace/gen_ai/conversion.py
  src/phoenix/trace/otel.py
  src/phoenix/tracers.py
  tests/integration/_helpers.py
  tests/integration/client/test_annotations.py
  tests/integration/client/test_experiments.py
  tests/integration/client/test_spans.py
  tests/unit/trace/gen_ai/__init__.py
  tests/unit/trace/gen_ai/test_conversion.py
  tests/unit/trace/test_otel.py
  uv.lock
Due: format-python, lint-python, uv-lock-check

fix(trace/gen_ai): default missing tool-def type, drop empty finish_reason
  src/phoenix/trace/gen_ai/conversion.py
  tests/unit/trace/gen_ai/test_conversion.py
Due: format-python, lint-python

docs(sandbox): rewrite verbose comments per PR review
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/sandbox/types.py
  tests/unit/server/api/test_code_evaluator_runner.py
  tests/unit/server/sandbox/test_daytona_backend.py
  tests/unit/server/sandbox/test_e2b_backend.py
  tests/unit/server/sandbox/test_modal_backend.py
  tests/unit/server/sandbox/test_vercel_backend.py
Due: format-python, lint-python

fix(sandbox): remove adapter-introduced noise from sandbox spans (#13258)
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/sandbox/deno_backend.py
  src/phoenix/server/sandbox/e2b_backend.py
  src/phoenix/server/sandbox/modal_backend.py
  src/phoenix/server/sandbox/types.py
  src/phoenix/server/sandbox/vercel_backend.py
  tests/unit/server/api/mutations/test_evaluator_preview_mutation.py
  tests/unit/server/api/test_code_evaluator_runner.py
  tests/unit/server/api/test_evaluators_timeout.py
  tests/unit/server/sandbox/test_daytona_backend.py
  tests/unit/server/sandbox/test_e2b_backend.py
  tests/unit/server/sandbox/test_modal_backend.py
  tests/unit/server/sandbox/test_vercel_backend.py
Due: format-python, lint-python

fix(agents): align PXI docs tool dispatch
  app/src/agent/chat/__tests__/handleAgentToolCall.test.ts
  app/src/agent/chat/handleAgentToolCall.ts
  app/src/agent/tools/docs/docsToolTypes.ts
  app/src/agent/tools/docs/index.ts
  app/src/agent/tools/serverToolTypes.ts
  app/src/components/agent/DocsToolDetails.tsx
  app/stories/ToolPart.stories.tsx
  app/tests/pxi/fixtures.ts
  src/phoenix/server/agents/prompts/DOCS_TOOL_INSTRUCTIONS.xml
Due: oxfmt-app, oxlint-app

Move PXI eval harness into evals tree
  evals/README.md
  evals/pxi/__init__.py
  evals/pxi/datasets/set_spans_filter.yaml
  evals/pxi/evaluators/__init__.py
  evals/pxi/evaluators/tools.py
  evals/pxi/harness/README.md
  evals/pxi/harness/__init__.py
  evals/pxi/harness/agent_task.py
  evals/pxi/harness/datasets.py
  evals/pxi/harness/run_experiment.py
  evals/pxi/tests/__init__.py
  evals/pxi/tests/test_datasets.py
  evals/pxi/tests/test_evaluators.py
  evals/pxi/tests/test_run_experiment.py
  tests/pxi/evals/__init__.py
Due: format-python, lint-python

Add PXI dataset splits support
  .gitignore
  Makefile
  evals/pxi/datasets/set_spans_filter.yaml
  evals/pxi/harness/README.md
  evals/pxi/harness/datasets.py
  evals/pxi/harness/run_experiment.py
  evals/pxi/tests/test_datasets.py
  evals/pxi/tests/test_run_experiment.py
  pyproject.toml
Due: format-python, lint-python, uv-lock-check

Use three disjoint PXI dataset splits
  evals/README.md
  evals/pxi/harness/README.md
  evals/pxi/harness/datasets.py
  evals/pxi/tests/test_datasets.py
  tests/pxi/__init__.py
Due: format-python, lint-python

Fix PXI eval package typing
  evals/__init__.py
  evals/pxi/harness/run_experiment.py
Due: format-python, lint-python

Handle empty PXI split runs
  evals/pxi/harness/run_experiment.py
  evals/pxi/tests/test_run_experiment.py
Due: format-python, lint-python

Test PXI split-filtered runner path
  evals/pxi/harness/run_experiment.py
  evals/pxi/tests/test_run_experiment.py
Due: format-python, lint-python

Use singular split in PXI dataset YAML
  evals/README.md
  evals/pxi/datasets/set_spans_filter.yaml
  evals/pxi/harness/README.md
  evals/pxi/harness/datasets.py
  evals/pxi/harness/run_experiment.py
  evals/pxi/tests/test_datasets.py
  evals/pxi/tests/test_run_experiment.py
Due: format-python, lint-python

Warn when PXI split run has no examples
  evals/pxi/harness/run_experiment.py
  evals/pxi/tests/test_run_experiment.py
Due: format-python, lint-python

Revert "Warn when PXI split run has no examples"
  evals/pxi/harness/run_experiment.py
  evals/pxi/tests/test_run_experiment.py
Due: format-python, lint-python

feat: border and divider cleanup with improved w storybook support (#13098)
  app/.storybook/main.ts
  app/.storybook/manager.ts
  app/.storybook/preview-body.html
  app/.storybook/preview.tsx
  app/src/GlobalStyles.tsx
  app/src/components/agent/AgentChatPanelView.tsx
  app/src/components/ai/attachment/styles.ts
  app/src/components/ai/message/styles.ts
  app/src/components/ai/prompt-input/styles.ts
  app/src/components/core/button/IconButton.tsx
  app/src/components/core/layout/Divider.tsx
  app/src/components/core/layout/dividerFadeCSS.ts
  app/src/components/core/layout/index.tsx
  app/stories/Alert.stories.tsx
  app/stories/BorderAndDividerLines.mdx
  app/stories/BorderAndDividerLines.stories.tsx
  app/stories/StorybookFrameAPI.mdx
  app/stories/ToolPart.stories.tsx
Due: oxfmt-app, oxlint-app

docs(evaluation): add Code Evaluators page under server-side evaluators
  docs.json
  docs/phoenix/evaluation/server-evals/code-evaluators.mdx
  docs/phoenix/evaluation/server-evals/overview.mdx
  docs/phoenix/evaluation/server-evals/pre-built-metrics.mdx
  docs/phoenix/llms.txt
Due: none

docs(settings): add Sandboxes configuration page
  docs.json
  docs/phoenix/llms.txt
  docs/phoenix/settings/sandboxes.mdx
Due: none

docs(settings): add banner image to Sandboxes page
  docs/phoenix/settings/sandboxes.mdx
Due: none

docs(settings): explain what a sandbox is and contrast local vs hosted
  docs/phoenix/settings/sandboxes.mdx
Due: none

docs(settings): drop Managing configurations section from Sandboxes page
  docs/phoenix/settings/sandboxes.mdx
Due: none

fix(examples): guard against IndexError on empty LLM choices list (#13237)
  examples/agent_framework_comparison/code_based_agent/router.py
  examples/agent_framework_comparison/skills/analyze_data.py
  examples/agent_framework_comparison/skills/generate_sql_query.py
Due: format-python, lint-python

ci: restore pull-requests: write for triage labeler
  .github/workflows/auto-label-external-issues.yaml
Due: none

fix: simplify generative model store polling
  src/phoenix/db/facilitator.py
  src/phoenix/server/daemons/generative_model_store.py
  tests/unit/db/test_facilitator.py
  tests/unit/server/daemons/test_generative_model_store.py
Due: format-python, lint-python

fix: simplify generative model store polling (#13245)
  src/phoenix/db/facilitator.py
  src/phoenix/server/daemons/generative_model_store.py
  tests/unit/db/test_facilitator.py
  tests/unit/server/daemons/test_generative_model_store.py
Due: format-python, lint-python

docs: add sandbox provider and code evaluator example pages
  docs.json
  docs/phoenix/evaluation/server-evals/code-evaluators.mdx
  docs/phoenix/evaluation/server-evals/code-evaluators/composite.mdx
  docs/phoenix/evaluation/server-evals/code-evaluators/embedding-distance.mdx
  docs/phoenix/evaluation/server-evals/code-evaluators/json-match.mdx
  docs/phoenix/evaluation/server-evals/code-evaluators/llm-jury.mdx
  docs/phoenix/evaluation/server-evals/code-evaluators/pairwise.mdx
  docs/phoenix/evaluation/server-evals/code-evaluators/regex-match.mdx
  docs/phoenix/evaluation/server-evals/code-evaluators/scikit-learn.mdx
  docs/phoenix/integrations.mdx
  docs/phoenix/integrations/sandboxes/daytona.mdx
  docs/phoenix/integrations/sandboxes/e2b.mdx
  docs/phoenix/integrations/sandboxes/modal.mdx
  docs/phoenix/integrations/sandboxes/vercel.mdx
  docs/phoenix/self-hosting/features/sandbox-runtimes.mdx
  docs/phoenix/settings/sandboxes.mdx
  docs/phoenix/settings/sandboxes/daytona.mdx
  docs/phoenix/settings/sandboxes/deno.mdx
  docs/phoenix/settings/sandboxes/e2b.mdx
  docs/phoenix/settings/sandboxes/modal.mdx
  docs/phoenix/settings/sandboxes/vercel.mdx
  docs/phoenix/settings/sandboxes/wasm.mdx
Due: none

fix pxi
  src/phoenix/server/agents/pydantic_ai/openinference_agent_wrapper.py
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/agents/pydantic_ai/test_openinference_agent_wrapper.py
  tests/unit/server/api/routers/test_agents.py
Due: format-python, lint-python

docs(evals): diagram advanced code evaluators and standardize inputs
  docs/phoenix/evaluation/server-evals/code-evaluators.mdx
  docs/phoenix/evaluation/server-evals/code-evaluators/composite.mdx
  docs/phoenix/evaluation/server-evals/code-evaluators/embedding-distance.mdx
  docs/phoenix/evaluation/server-evals/code-evaluators/llm-jury.mdx
  docs/phoenix/evaluation/server-evals/code-evaluators/pairwise.mdx
  docs/phoenix/evaluation/server-evals/code-evaluators/scikit-learn.mdx
Due: none

docs(sandbox): clarify Deno isolation flags and parameter name-binding
  docs/phoenix/evaluation/server-evals/code-evaluators.mdx
  docs/phoenix/settings/sandboxes/deno.mdx
Due: none

docs(evaluation): add Code Evaluators page under server-side evaluators (#13278)
  docs.json
  docs/phoenix/evaluation/server-evals/code-evaluators.mdx
  docs/phoenix/evaluation/server-evals/code-evaluators/composite.mdx
  docs/phoenix/evaluation/server-evals/code-evaluators/embedding-distance.mdx
  docs/phoenix/evaluation/server-evals/code-evaluators/json-match.mdx
  docs/phoenix/evaluation/server-evals/code-evaluators/llm-jury.mdx
  docs/phoenix/evaluation/server-evals/code-evaluators/pairwise.mdx
  docs/phoenix/evaluation/server-evals/code-evaluators/regex-match.mdx
  docs/phoenix/evaluation/server-evals/code-evaluators/scikit-learn.mdx
  docs/phoenix/evaluation/server-evals/overview.mdx
  docs/phoenix/evaluation/server-evals/pre-built-metrics.mdx
  docs/phoenix/integrations.mdx
  docs/phoenix/integrations/sandboxes/daytona.mdx
  docs/phoenix/integrations/sandboxes/e2b.mdx
  docs/phoenix/integrations/sandboxes/modal.mdx
  docs/phoenix/integrations/sandboxes/vercel.mdx
  docs/phoenix/llms.txt
  docs/phoenix/self-hosting/features/sandbox-runtimes.mdx
  docs/phoenix/settings/sandboxes.mdx
  docs/phoenix/settings/sandboxes/daytona.mdx
  docs/phoenix/settings/sandboxes/deno.mdx
  docs/phoenix/settings/sandboxes/e2b.mdx
  docs/phoenix/settings/sandboxes/modal.mdx
  docs/phoenix/settings/sandboxes/vercel.mdx
  docs/phoenix/settings/sandboxes/wasm.mdx
Due: none

feat(trace): convert OTel GenAI semconv attrs to OpenInference (#13267)
  Makefile
  pyproject.toml
  requirements/type-check.txt
  scripts/generate_otel_gen_ai_models.py
  scripts/testing/otel_gen_ai/.gitignore
  scripts/testing/otel_gen_ai/send_anthropic_traces.py
  scripts/testing/otel_gen_ai/send_google_traces.py
  scripts/testing/otel_gen_ai/send_openai_traces.py
  src/phoenix/server/api/routers/agents.py
  src/phoenix/trace/gen_ai/__generated__/__init__.py
  src/phoenix/trace/gen_ai/__generated__/models.py
  src/phoenix/trace/gen_ai/__init__.py
  src/phoenix/trace/gen_ai/conversion.py
  src/phoenix/trace/otel.py
  src/phoenix/tracers.py
  tests/integration/_helpers.py
  tests/integration/client/test_annotations.py
  tests/integration/client/test_experiments.py
  tests/integration/client/test_spans.py
  tests/unit/trace/gen_ai/__init__.py
  tests/unit/trace/gen_ai/test_conversion.py
  tests/unit/trace/test_otel.py
  uv.lock
Due: format-python, lint-python, uv-lock-check

chore(main): release arize-phoenix 15.10.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

chore(main): release arize-phoenix 15.10.0 (#13235)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
