Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

refactor: simplify phoenix mcp identifier and config handling
  js/packages/phoenix-mcp/package.json
  js/packages/phoenix-mcp/src/client.ts
  js/packages/phoenix-mcp/src/config.ts
  js/packages/phoenix-mcp/src/datasetTools.ts
  js/packages/phoenix-mcp/src/experimentTools.ts
  js/packages/phoenix-mcp/src/identifiers.ts
  js/packages/phoenix-mcp/src/sessionTools.ts
  js/packages/phoenix-mcp/src/spanTools.ts
  js/packages/phoenix-mcp/src/spanUtils.ts
  js/packages/phoenix-mcp/src/traceTools.ts
  js/packages/phoenix-mcp/test/client.test.ts
  js/packages/phoenix-mcp/test/config.test.ts
  js/packages/phoenix-mcp/test/traceTools.test.ts
  js/pnpm-lock.yaml
Due: oxfmt-js, oxlint-js

refactor: move phoenix mcp helpers to owning modules
  js/packages/phoenix-mcp/src/annotationConfigTools.ts
  js/packages/phoenix-mcp/src/client.ts
  js/packages/phoenix-mcp/src/datasetTools.ts
  js/packages/phoenix-mcp/src/datasetUtils.ts
  js/packages/phoenix-mcp/src/experimentTools.ts
  js/packages/phoenix-mcp/src/projectTools.ts
  js/packages/phoenix-mcp/src/promptTools.ts
  js/packages/phoenix-mcp/src/responseUtils.ts
  js/packages/phoenix-mcp/src/sessionTools.ts
  js/packages/phoenix-mcp/src/spanTools.ts
  js/packages/phoenix-mcp/src/spanUtils.ts
  js/packages/phoenix-mcp/test/datasetUtils.test.ts
Due: oxfmt-js, oxlint-js

docs: document phoenix mcp helpers and tighten tool semantics
  js/packages/phoenix-mcp/src/client.ts
  js/packages/phoenix-mcp/src/config.ts
  js/packages/phoenix-mcp/src/datasetUtils.ts
  js/packages/phoenix-mcp/src/identifiers.ts
  js/packages/phoenix-mcp/src/index.ts
  js/packages/phoenix-mcp/src/projectUtils.ts
  js/packages/phoenix-mcp/src/responseUtils.ts
  js/packages/phoenix-mcp/src/sessionTools.ts
  js/packages/phoenix-mcp/src/spanTools.ts
  js/packages/phoenix-mcp/src/spanUtils.ts
  js/packages/phoenix-mcp/src/traceTools.ts
  js/packages/phoenix-mcp/test/config.test.ts
  js/packages/phoenix-mcp/test/projectUtils.test.ts
  js/packages/phoenix-mcp/test/spanUtils.test.ts
Due: oxfmt-js, oxlint-js

cleanup
  js/packages/phoenix-config/src/env.ts
  js/packages/phoenix-mcp/package.json
  js/packages/phoenix-mcp/src/annotationConfigTools.ts
  js/packages/phoenix-mcp/src/client.ts
  js/packages/phoenix-mcp/src/config.ts
  js/packages/phoenix-mcp/src/constants.ts
  js/packages/phoenix-mcp/src/datasetTools.ts
  js/packages/phoenix-mcp/src/datasetUtils.ts
  js/packages/phoenix-mcp/src/experimentTools.ts
  js/packages/phoenix-mcp/src/identifiers.ts
  js/packages/phoenix-mcp/src/index.ts
  js/packages/phoenix-mcp/src/pagination.ts
  js/packages/phoenix-mcp/src/projectTools.ts
  js/packages/phoenix-mcp/src/projectUtils.ts
  js/packages/phoenix-mcp/src/promptSchemas.ts
  js/packages/phoenix-mcp/src/promptTools.ts
  js/packages/phoenix-mcp/src/responseUtils.ts
  js/packages/phoenix-mcp/src/sessionTools.ts
  js/packages/phoenix-mcp/src/spanTools.ts
  js/packages/phoenix-mcp/src/spanUtils.ts
  js/packages/phoenix-mcp/src/supportTools.ts
  js/packages/phoenix-mcp/src/toolResults.ts
  js/packages/phoenix-mcp/src/traceTools.ts
  js/packages/phoenix-mcp/src/traceUtils.ts
  js/packages/phoenix-mcp/test/config.test.ts
  js/packages/phoenix-mcp/test/datasetUtils.test.ts
  js/packages/phoenix-mcp/test/projectUtils.test.ts
Due: oxfmt-js, oxlint-js

fix: use snake_case for all phoenix mcp tool parameters
  js/.changeset/phoenix-mcp-refactor.md
  js/packages/phoenix-mcp/src/projectTools.ts
  js/packages/phoenix-mcp/src/sessionTools.ts
  js/packages/phoenix-mcp/src/spanTools.ts
  js/packages/phoenix-mcp/src/traceTools.ts
Due: oxfmt-js, oxlint-js

refactor: remove trace ID prefix resolution from get-trace tool
  js/packages/phoenix-mcp/src/traceTools.ts
  js/packages/phoenix-mcp/test/traceTools.test.ts
Due: oxfmt-js, oxlint-js

chore: bump phoenix-mcp changeset to major for breaking param changes
  js/.changeset/phoenix-mcp-refactor.md
Due: oxfmt-js

chore: update phoenix-mcp dependencies
  js/packages/phoenix-mcp/package.json
  js/pnpm-lock.yaml
Due: oxfmt-js

cleanup
  app/pnpm-lock.yaml
  js/.changeset/phoenix-mcp-refactor.md
Due: oxfmt-app, oxfmt-js

fix: code cleanup and regenerate lockfile with pnpm 10
  js/packages/phoenix-mcp/package.json
  js/packages/phoenix-mcp/src/identifiers.ts
  js/packages/phoenix-mcp/src/promptTools.ts
  js/pnpm-lock.yaml
Due: oxfmt-js, oxlint-js

fix: restore app/pnpm-lock.yaml from main
  app/pnpm-lock.yaml
Due: oxfmt-app

refactor(ui): migrate menu components to Autocomplete/SearchField pattern
  app/src/GlobalStyles.tsx
  app/src/components/core/menu/Menu.tsx
  app/src/components/dataset/DatasetLabelConfigButton.tsx
  app/src/components/dataset/DatasetLabelFilterButton.tsx
  app/src/components/dataset/DatasetSelectWithSplits.tsx
  app/src/components/trace/AnnotationConfigList.tsx
  app/src/pages/examples/AssignExamplesToSplitMenu.tsx
  app/src/pages/examples/ExamplesSplitsMenu.tsx
  app/src/pages/playground/PromptMenu.tsx
  app/src/pages/project/DatasetSelectorPopoverContent.tsx
  app/src/pages/project/TransferTracesButton.tsx
  app/src/pages/prompt/PromptLabelConfigButton.tsx
  app/src/pages/prompts/PromptsLabelMenu.tsx
  app/stories/Menu.stories.tsx
Due: oxfmt-app, oxlint-app

refactor(ui): migrate remaining headers/footers to MenuHeader/MenuFooter
  app/src/components/dataset/DatasetLabelFilterButton.tsx
  app/src/pages/project/DatasetSelectorPopoverContent.tsx
  app/src/pages/project/TransferTracesButton.tsx
Due: oxfmt-app, oxlint-app

cleanup
  app/src/components/dataset/DatasetLabelConfigButton.tsx
  app/src/pages/prompt/PromptLabelConfigButton.tsx
Due: oxfmt-app, oxlint-app

WIP
  app/src/components/annotation/AnnotationConfigDialog.tsx
  app/src/components/experiment/ExperimentActionMenu.tsx
  app/src/contexts/NotificationContext/NotificationContext.tsx
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  app/src/pages/prompt/EditPromptButton.tsx
  app/src/pages/prompts/DeletePromptDialog.tsx
  app/src/pages/settings/DeleteModelButton.tsx
  app/stories/ToastRegion.stories.tsx
Due: oxfmt-app, oxlint-app

fix: address PR review feedback for inline error banners
  app/src/components/dataset/EditDatasetForm.tsx
  app/src/pages/datasets/DatasetActionMenu.tsx
  app/src/pages/datasets/DatasetsTable.tsx
  app/src/pages/datasets/DeleteDatasetDialog.tsx
  app/src/pages/datasets/EditDatasetDialog.tsx
  app/src/pages/experiments/ExperimentSelectionToolbar.tsx
Due: oxfmt-app, oxlint-app

style: format files with oxfmt
  app/src/components/auth/GeneratePersonalAPIKeyButton.tsx
  app/src/components/auth/GenerateSystemAPIKeyButton.tsx
  app/src/components/trace/SpanAnnotationsEditor.tsx
  app/src/pages/examples/ExampleSelectionToolbar.tsx
  app/src/pages/playground/UpsertPromptFromTemplateDialog.tsx
  app/src/pages/project/ProjectAnnotationConfigCard.tsx
  app/src/pages/project/SpanSelectionToolbar.tsx
  app/src/pages/settings/CloneModelButton.tsx
  app/src/pages/settings/DeleteUserDialog.tsx
  app/src/pages/settings/EditModelButton.tsx
  app/src/pages/settings/GenerativeProvidersCard.tsx
  app/src/pages/settings/SystemAPIKeysTable.tsx
  app/src/pages/settings/UserAPIKeysTable.tsx
  app/src/pages/settings/UsersCard.tsx
  app/src/pages/trace/SpanFeedback.tsx
Due: oxfmt-app, oxlint-app

fix: address remaining PR comments and add error display design guide
  .agents/skills/phoenix-design/SKILL.md
  .agents/skills/phoenix-design/rules/error-display.md
  app/src/pages/playground/PlaygroundOutput.tsx
Due: oxfmt-app, oxlint-app

chore(main): release arize-phoenix 13.16.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

chore(app): update frontend dependencies to latest versions
  app/package.json
  app/pnpm-lock.yaml
  app/src/components/agent/AgentChatPanel.tsx
  app/src/components/evaluators/EvaluatorForm.tsx
  app/src/components/experiment/ExperimentCompareDetails.tsx
  app/src/components/react-resizable-panels/TitledPanel.tsx
  app/src/components/resize/styles.tsx
  app/src/pages/Layout.tsx
  app/src/pages/example/ExampleDetailsDialog.tsx
  app/src/pages/experiments/ExperimentsLineChart.tsx
  app/src/pages/experiments/ExperimentsPage.tsx
  app/src/pages/playground/Playground.tsx
  app/src/pages/playground/PlaygroundExperimentRunDetailsDialog.tsx
  app/src/pages/playground/SavePromptForm.tsx
  app/src/pages/project/metrics/LLMSpanCountTimeSeries.tsx
  app/src/pages/project/metrics/LLMSpanErrorsTimeSeries.tsx
  app/src/pages/project/metrics/SpanAnnotationScoreTimeSeries.tsx
  app/src/pages/project/metrics/ToolSpanCountTimeSeries.tsx
  app/src/pages/project/metrics/ToolSpanErrorsTimeSeries.tsx
  app/src/pages/project/metrics/TopModelsByCost.tsx
  app/src/pages/project/metrics/TopModelsByToken.tsx
  app/src/pages/project/metrics/TraceCountTimeSeries.tsx
  app/src/pages/project/metrics/TraceErrorsTimeSeries.tsx
  app/src/pages/project/metrics/TraceLatencyPercentilesTimeSeries.tsx
  app/src/pages/project/metrics/TraceTokenCostTimeSeries.tsx
  app/src/pages/project/metrics/TraceTokenCountTimeSeries.tsx
  app/src/pages/settings/DBUsagePieChart.tsx
  app/src/pages/trace/SpanAside.tsx
  app/src/pages/trace/SpanDetails.tsx
  app/src/pages/trace/TraceDetails.tsx
  app/stories/StackedTimeSeriesBarChart.stories.tsx
  app/stories/TitledPanel.stories.tsx
Due: oxfmt-app, oxlint-app

fix: pin oxlint and oxfmt versions to match js/ package
  app/package.json
  app/pnpm-lock.yaml
Due: oxfmt-app

fix: address PR review comments and improve typing
  app/src/components/experiment/ExperimentCompareDetails.tsx
  app/src/pages/playground/SavePromptForm.tsx
  app/src/pages/project/metrics/TraceLatencyPercentilesTimeSeries.tsx
  app/src/pages/settings/DBUsagePieChart.tsx
Due: oxfmt-app, oxlint-app

Update all JS package READMEs with latest capabilities
  js/README.MD
  js/packages/phoenix-cli/README.md
  js/packages/phoenix-client/README.md
  js/packages/phoenix-config/README.md
  js/packages/phoenix-evals/README.md
  js/packages/phoenix-mcp/README.md
  js/packages/phoenix-otel/README.md
Due: oxfmt-js

Fix function call signatures in phoenix-client README examples
  js/packages/phoenix-client/README.md
Due: oxfmt-js

Update README.md
  js/packages/phoenix-mcp/README.md
Due: oxfmt-js

Update README.md
  js/packages/phoenix-evals/README.md
Due: oxfmt-js

Update README.md
  js/packages/phoenix-client/README.md
Due: oxfmt-js

Update packages/phoenix-client/README.md
  packages/phoenix-client/README.md
Due: none

fix: correct README accuracy issues and run formatting
  js/packages/phoenix-client/README.md
  js/packages/phoenix-config/README.md
  js/packages/phoenix-evals/README.md
  packages/phoenix-client/README.md
Due: oxfmt-js

fix: address review findings from simplify pass
  app/src/components/react-resizable-panels/TitledPanel.tsx
  app/src/components/trace/AnnotationConfigList.tsx
  app/src/components/trace/SpanAnnotationsEditor.tsx
  js/packages/phoenix-mcp/src/constants.ts
  js/packages/phoenix-mcp/src/datasetUtils.ts
  js/packages/phoenix-mcp/src/sessionTools.ts
Due: oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

fix(security): resolve high and moderate dependency vulnerabilities
  examples/manually-instrumented-chatbot/frontend/requirements.txt
  internal_docs/vignettes/json-jsonb-demo/pnpm-lock.yaml
  js/examples/notebooks/langchain/package.json
  js/package.json
  js/pnpm-lock.yaml
  pyproject.toml
  tests/integration/conftest.py
  uv.lock
Due: format-python, lint-python, oxfmt-js, uv-lock-check

revert diskcache removal — accept advisory for test-only dependency
  pyproject.toml
  tests/integration/conftest.py
  uv.lock
Due: format-python, lint-python, uv-lock-check

cleanup
  app/pnpm-lock.yaml
Due: oxfmt-app

cleanup
  js/pnpm-lock.yaml
Due: oxfmt-js

chore(js): upgrade vitest to 4.1.0 and add vite 8.0.1
  js/package.json
  js/packages/phoenix-cli/package.json
  js/packages/phoenix-client/package.json
  js/packages/phoenix-client/test/prompts/sdks/toAI.test.ts
  js/packages/phoenix-config/package.json
  js/packages/phoenix-evals/package.json
  js/packages/phoenix-mcp/package.json
  js/packages/phoenix-otel/package.json
  js/pnpm-lock.yaml
Due: oxfmt-js, oxlint-js

fix formatting in toAI.test.ts
  js/packages/phoenix-client/test/prompts/sdks/toAI.test.ts
Due: oxfmt-js, oxlint-js

fix: regenerate pnpm lockfiles with correct v9 format
  app/pnpm-lock.yaml
  internal_docs/vignettes/json-jsonb-demo/pnpm-lock.yaml
Due: oxfmt-app
