Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

fix(agents): compare a timezone's name and a decimal's exponent when checking defaults
  src/phoenix/server/api/schema_search.py
  tests/unit/server/api/test_schema_search.py
Due: format-python, lint-python

fix(agents): re-render defaults on rebuild and keep zone, subclass, factory, and sign in comparisons
  src/phoenix/server/api/schema_search.py
  tests/unit/server/api/test_schema_search.py
Due: format-python, lint-python

fix(agents): compare argument deliveries exactly and keep signed zero for float subclasses
  src/phoenix/server/api/schema_search.py
  tests/unit/server/api/test_schema_search.py
Due: format-python, lint-python

fix(agents): answer a scoped search on the hidden mutation root with the disabled notice
  src/phoenix/server/api/schema_search.py
  tests/unit/server/api/test_schema_search.py
Due: format-python, lint-python

fix(agents): answer introspection fields on wrappers and the query root, and require one page info
  src/phoenix/server/api/schema_search.py
  tests/unit/server/api/test_schema_search.py
Due: format-python, lint-python

fix(agents): keep list dimensions visible around Relay shapes and fold case for introspection names
  src/phoenix/server/api/schema_search.py
  tests/unit/server/api/test_schema_search.py
Due: format-python, lint-python

fix(agents): answer explicit lookups of introspection types and their fields
  src/phoenix/server/api/schema_search.py
  tests/unit/server/api/test_schema_search.py
Due: format-python, lint-python

fix(agents): answer requests on introspection types from the types themselves
  src/phoenix/server/api/schema_search.py
  tests/unit/server/api/test_schema_search.py
Due: format-python, lint-python

fix(agents): know the implicit __typename field and require a list of edges for a connection
  src/phoenix/server/api/schema_search.py
  tests/unit/server/api/test_schema_search.py
Due: format-python, lint-python

fix(agents): write out a cursor argument that carries a default instead of collapsing it
  src/phoenix/server/api/schema_search.py
  tests/unit/server/api/test_schema_search.py
Due: format-python, lint-python

fix(agents): reserve the omitted-requests notice and render deprecations
  src/phoenix/server/api/schema_search.py
  tests/unit/server/api/test_schema_search.py
Due: format-python, lint-python

fix(agents): select the operation, locate errors, and refuse a missing query file in phoenix-gql
  src/phoenix/server/agents/capabilities/tools/internal/bash.py
  tests/unit/server/agents/capabilities/tools/internal/test_bash.py
Due: format-python, lint-python

fix(agents): render deprecations on arguments and enum values too
  src/phoenix/server/api/schema_search.py
  tests/unit/server/api/test_schema_search.py
Due: format-python, lint-python

fix(agents): keep e.g., i.e., and etc. from ending a description's first sentence
  src/phoenix/server/api/schema_search.py
  tests/unit/server/api/test_schema_search.py
Due: format-python, lint-python

fix(agents): keep the page size and its default visible beside the pagination marker
  src/phoenix/server/api/schema_search.py
  tests/unit/server/api/test_schema_search.py
Due: format-python, lint-python

fix(agents): resolve a hidden root's name like any other and fold case for implicit field names
  src/phoenix/server/api/schema_search.py
  tests/unit/server/api/test_schema_search.py
Due: format-python, lint-python

docs(agents): give phoenix-gql's mutation advice only where it applies
  src/phoenix/server/agents/capabilities/tools/internal/bash.py
  tests/unit/server/agents/capabilities/tools/internal/test_bash.py
Due: format-python, lint-python

chore(deps): bump uv to 0.12.17 (#16331)
  .github/workflows/pypi-smoke-test.yml
  .github/workflows/python-CI.yml
  Dockerfile
  pyproject.toml
  scripts/docker/devops/Dockerfile
Due: uv-lock-check

chore(js): update versions
  js/.changeset/trace-session-filter-expressions.md
  js/packages/phoenix-cli/CHANGELOG.md
  js/packages/phoenix-cli/package.json
  js/packages/phoenix-client/CHANGELOG.md
  js/packages/phoenix-client/package.json
  js/packages/phoenix-mcp/CHANGELOG.md
  js/packages/phoenix-mcp/package.json
Due: oxfmt-js

refactor(ui): route template-seeded evaluator creation from the evaluators tab
  js/app/src/Routes.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorSlideoverRoutes.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsEmptyState.tsx
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorPaths.test.tsx
  js/app/src/pages/project/evaluators/projectEvaluatorPaths.ts
Due: oxfmt-js, oxlint-js

refactor(ui): drive the evaluator gallery from props instead of the URL
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
  js/app/src/pages/project/evaluators/projectEvaluatorContext.tsx
Due: oxfmt-js, oxlint-js

feat(ui): open the evaluator gallery as a modal
  js/app/src/Routes.tsx
  js/app/src/constants/searchParams.ts
  js/app/src/pages/project/evaluators/AddProjectEvaluatorMenu.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryModal.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsEmptyState.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsToolbar.tsx
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorGalleryModalQuery.graphql.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorPaths.test.tsx
  js/app/src/pages/project/evaluators/projectEvaluatorContext.tsx
  js/app/src/pages/project/evaluators/projectEvaluatorPaths.ts
  js/app/src/pages/project/index.tsx
  js/app/tests/projects.spec.ts
Due: oxfmt-js, oxlint-js

refactor(evaluators): comparison cleanups from code review
  js/app/schema.graphql
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/helpers/evaluator_comparison.py
  src/phoenix/server/api/helpers/evaluators.py
  src/phoenix/server/api/types/Project.py
  src/phoenix/server/online_eval/executor.py
  tests/unit/server/api/helpers/test_evaluator_comparison.py
  tests/unit/server/api/types/test_Project.py
Due: format-python, lint-python

refactor(evaluators): comparison API review fixes
  js/app/schema.graphql
  src/phoenix/server/api/helpers/evaluator_comparison.py
  src/phoenix/server/api/types/Evaluator.py
  src/phoenix/server/api/types/EvaluatorComparison.py
  src/phoenix/server/api/types/Project.py
  tests/unit/server/api/helpers/test_evaluator_comparison.py
  tests/unit/server/api/types/test_Project.py
Due: format-python, lint-python

feat(evaluators): pairwise evaluator comparison aggregates
  js/app/schema.graphql
  src/phoenix/server/api/helpers/evaluator_comparison.py
  src/phoenix/server/api/types/EvaluatorComparison.py
  src/phoenix/server/api/types/Project.py
  tests/unit/server/api/helpers/test_evaluator_comparison.py
  tests/unit/server/api/types/test_Project.py
Due: format-python, lint-python

docs(evaluators): worked examples on the comparison statistics
  js/app/schema.graphql
  src/phoenix/server/api/types/EvaluatorComparison.py
Due: format-python, lint-python

feat(evaluators): pairwise evaluator comparison aggregates (#15776)
  js/app/schema.graphql
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/helpers/evaluator_comparison.py
  src/phoenix/server/api/helpers/evaluators.py
  src/phoenix/server/api/types/Evaluator.py
  src/phoenix/server/api/types/EvaluatorComparison.py
  src/phoenix/server/api/types/Project.py
  src/phoenix/server/online_eval/executor.py
  tests/unit/server/api/helpers/test_evaluator_comparison.py
  tests/unit/server/api/types/test_Project.py
Due: format-python, lint-python

feat(evaluators): comparison score distributions and time series
  js/app/schema.graphql
  src/phoenix/db/helpers.py
  src/phoenix/server/api/helpers/evaluator_comparison.py
  src/phoenix/server/api/types/EvaluatorComparison.py
  src/phoenix/server/api/types/Project.py
  tests/unit/server/api/helpers/test_evaluator_comparison.py
  tests/unit/server/api/types/test_Project.py
Due: format-python, lint-python

feat(evaluators): comparison score distributions and time series (#15777)
  js/app/schema.graphql
  src/phoenix/db/helpers.py
  src/phoenix/server/api/helpers/evaluator_comparison.py
  src/phoenix/server/api/types/EvaluatorComparison.py
  src/phoenix/server/api/types/Project.py
  tests/unit/server/api/helpers/test_evaluator_comparison.py
  tests/unit/server/api/types/test_Project.py
Due: format-python, lint-python

feat(evaluators): refine comparison summary metrics
  js/app/schema.graphql
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareContent.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorComparePage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareStats.tsx
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorCompareLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/projectEvaluatorCompareLoader.ts
  src/phoenix/server/api/helpers/evaluator_comparison.py
  src/phoenix/server/api/types/EvaluatorComparison.py
  tests/unit/server/api/helpers/test_evaluator_comparison.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(evaluators): adapt compare page to renamed comparison schema
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareMatrix.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareStats.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareContentQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareMatrix_comparison.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareStats_comparison.graphql.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorCompareUtils.test.ts
  js/app/src/pages/project/evaluators/projectEvaluatorCompareUtils.ts
Due: oxfmt-js, oxlint-js

fix(evaluators): refine comparison panels
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareContent.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareMatrix.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareStats.tsx
Due: oxfmt-js, oxlint-js

refactor(evaluators): colocate comparison evaluator fragments
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareContent.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareMatrix.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorComparePage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareStats.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareContent_evaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareMatrix_evaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareStats_evaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorCompareLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/projectEvaluatorCompareLoader.ts
Due: oxfmt-js, oxlint-js

fix(evaluators): scope compare chart height and simplify selection
  js/app/src/components/chart/ChartPanelStrip.tsx
  js/app/src/pages/project/evaluators/CompareProjectEvaluatorsButton.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareStats.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsTable.tsx
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorSelection.test.ts
  js/app/src/pages/project/evaluators/projectEvaluatorSelection.ts
Due: oxfmt-js, oxlint-js

fix(evaluators): clarify comparison summary charts
  js/app/schema.graphql
  js/app/src/components/chart/ChartPanelStrip.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareSelect.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareStats.tsx
  src/phoenix/server/api/helpers/evaluator_comparison.py
  src/phoenix/server/api/types/EvaluatorComparison.py
  tests/unit/server/api/helpers/test_evaluator_comparison.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

feat(evaluators): refine comparison controls
  js/app/src/pages/project/evaluators/ProjectEvaluatorComparePage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareSelect.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorSelectionToolbar.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsTable.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsToolbar.tsx
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorCompareLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/projectEvaluatorCompareLoader.ts
Due: oxfmt-js, oxlint-js

fix(evaluators): align comparison semantics
  js/app/src/constants/searchParams.ts
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareContent.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareMatrix.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorComparePage.tsx
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorCompareLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorCompareUtils.test.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorPaths.test.tsx
  js/app/src/pages/project/evaluators/projectEvaluatorCompareLoader.ts
  js/app/src/pages/project/evaluators/projectEvaluatorCompareUtils.ts
  js/app/src/pages/project/evaluators/projectEvaluatorPaths.ts
Due: oxfmt-js, oxlint-js

feat(evaluators): add evaluator comparison page
  js/app/src/Routes.tsx
  js/app/src/constants/searchParams.ts
  js/app/src/pages/project/evaluators/CompareProjectEvaluatorsButton.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareContent.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareMatrix.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorComparePage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareStats.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorStats.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsTable.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsToolbar.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareContentQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareMatrix_comparison.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareStats_comparison.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorCompareLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorCompareUtils.test.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorPaths.test.tsx
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorSelection.test.ts
  js/app/src/pages/project/evaluators/projectEvaluatorCompareLoader.ts
  js/app/src/pages/project/evaluators/projectEvaluatorCompareUtils.ts
  js/app/src/pages/project/evaluators/projectEvaluatorPaths.ts
  js/app/src/pages/project/evaluators/projectEvaluatorSelection.ts
  js/app/src/pages/project/evaluators/projectEvaluatorStatFields.tsx
Due: oxfmt-js, oxlint-js

fix(evaluators): address comparison review feedback
  js/app/src/Routes.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareMatrix.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareStats.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsPage.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareContentQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareMatrix_comparison.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareStats_comparison.graphql.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorCompareUtils.test.ts
  js/app/src/pages/project/evaluators/projectEvaluatorCompareUtils.ts
Due: oxfmt-js, oxlint-js

feat(evaluators): render the compare action as a link
  js/app/src/pages/project/evaluators/CompareProjectEvaluatorsButton.tsx
Due: oxfmt-js, oxlint-js
