Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs(phoenix-otel): add memory.store tracing example
  js/packages/phoenix-otel/examples/memory_store_example.ts
Due: oxfmt-js, oxlint-js

docs(tracing): add memory hit/miss span attribute guide
  docs/phoenix/llms.txt
  docs/phoenix/tracing/how-to-tracing/add-metadata.mdx
  docs/phoenix/tracing/how-to-tracing/add-metadata/memory-hit-miss-attributes.mdx
Due: none

docs(tracing): clarify session.id vs memory metadata
  docs/phoenix/llms.txt
  docs/phoenix/tracing/how-to-tracing/add-metadata.mdx
  docs/phoenix/tracing/how-to-tracing/add-metadata/session-vs-memory-metadata.mdx
Due: none

ci: add copilot to the CLA allowlist
  .github/workflows/cla.yml
Due: none

ci: add copilot to the CLA allowlist (#14123)
  .github/workflows/cla.yml
Due: none

feat(online-eval): restore producer app wiring + ENABLED gate
  src/phoenix/config.py
  src/phoenix/server/app.py
  tests/unit/server/online_eval/test_app_wiring.py
Due: format-python, lint-python

ci: allowlist Copilot coding agent in CLA workflow with correct case
  .github/workflows/cla.yml
Due: none

ci: allowlist Copilot coding agent in CLA workflow with correct case (#14124)
  .github/workflows/cla.yml
Due: none

fix(sessions): dedupe shadowed session_count resolver, batch via dataloader
  app/schema.graphql
  src/phoenix/server/api/types/Project.py
  tests/unit/server/api/types/test_Project.py
Due: format-python, lint-python

ci: fix CLA allowlist to match Copilot's login (case-sensitive)
  .github/workflows/cla.yml
Due: none

docs: surface TypeScript quickstarts on the docs landing page (#14118)
  docs/phoenix.mdx
  docs/phoenix/evaluation/python-quickstart.mdx
  docs/phoenix/quickstart.mdx
  docs/phoenix/release-notes/10-2025/10-10-2025-viewer-role.mdx
  docs/phoenix/release-notes/10-2025/10-20-2025-splits.mdx
Due: none

docs(ci): document Node 20 deprecation for archived CLA action
  .github/workflows/cla.yml
Due: none

refactor(app): drive read-only field styling from CSS and semantic tokens
  app/src/GlobalStyles.tsx
  app/src/components/core/field/CopyField.tsx
  app/src/components/core/field/CredentialField.tsx
  app/src/components/core/field/NumberField.tsx
  app/src/components/core/field/TextField.tsx
  app/src/components/core/field/selectReadOnlyInputOnFocus.ts
  app/src/components/core/field/styles.ts
Due: oxfmt-app, oxlint-app

feat: read only styles (#14111)
  app/src/GlobalStyles.tsx
  app/src/components/core/field/styles.ts
  app/src/pages/project/ProjectConfigPage.tsx
  app/stories/CopyField.stories.tsx
  app/stories/CredentialField.stories.tsx
  app/stories/Gallery.stories.tsx
  app/stories/NumberField.stories.tsx
  app/stories/TextField.stories.tsx
Due: oxfmt-app, oxlint-app

feat(id): add CopyableIDBadge component
  app/src/components/core/id/CopyableIDBadge.tsx
  app/src/components/core/id/index.ts
  app/src/components/core/id/styles.ts
  app/stories/CopyableIDBadge.stories.tsx
Due: oxfmt-app, oxlint-app

fix(agent): let Command+I close the assistant popover while chat input is focused
  app/src/components/agent/AgentChatWidget.tsx
  app/src/components/agent/__tests__/AgentChatWidget.test.tsx
Due: oxfmt-app, oxlint-app

fix(app): keep command palette mounted across search to stop backdrop flicker
  app/src/components/core/commandpalette/CommandPalette.tsx
  app/src/components/search/GlobalSearchPalette.tsx
Due: oxfmt-app, oxlint-app

refactor: remove deprecated --ac- global style references
  app/src/components/agent/BatchSpanAnnotateToolDetails.tsx
  app/src/components/agent/DiffAcceptRejectToolDetails.tsx
  app/src/components/agent/LoadDatasetToolDetails.tsx
  app/src/components/agent/SavePromptToolDetails.tsx
  app/src/components/agent/ToolPart.tsx
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
  app/src/components/exception/TextErrorBoundaryFallback.tsx
  app/src/components/markdown/streamdownComponents.tsx
  app/src/components/markdown/styles.ts
  app/src/pages/experiments/ExperimentDetailsDialog.tsx
  app/src/pages/project/ProjectAnnotationCountsCards.tsx
  app/src/pages/settings/sandboxes/SandboxProviderCredentialsDialog.tsx
  app/src/pages/trace/SessionDetailsTracesView.tsx
  app/stories/AgentChatWidgetButton.stories.tsx
  app/stories/FileDropZone.stories.tsx
  app/stories/ToolPart.stories.tsx
  app/stories/TraceTreeSkeleton.stories.tsx
Due: oxfmt-app, oxlint-app

refactor: add --global-font-family-{sans,mono} tokens
  app/src/GlobalStyles.tsx
  app/src/components/agent/BatchSpanAnnotateToolDetails.tsx
  app/src/components/agent/DiffAcceptRejectToolDetails.tsx
  app/src/components/agent/LoadDatasetToolDetails.tsx
  app/src/components/agent/SavePromptToolDetails.tsx
  app/src/components/agent/SlashCommandMenu.tsx
  app/src/components/agent/ToolPart.tsx
  app/src/components/core/counter/Counter.tsx
  app/src/components/core/timer/Timer.tsx
  app/src/components/filter/styles.ts
  app/src/components/markdown/streamdownComponents.tsx
  app/src/components/markdown/styles.ts
  app/src/pages/settings/sandboxes/SandboxProviderCredentialsDialog.tsx
Due: oxfmt-app, oxlint-app

refactor: remove deprecated --ac- global style references (#14128)
  app/src/GlobalStyles.tsx
  app/src/components/agent/BatchSpanAnnotateToolDetails.tsx
  app/src/components/agent/DiffAcceptRejectToolDetails.tsx
  app/src/components/agent/LoadDatasetToolDetails.tsx
  app/src/components/agent/SavePromptToolDetails.tsx
  app/src/components/agent/SlashCommandMenu.tsx
  app/src/components/agent/ToolPart.tsx
  app/src/components/core/counter/Counter.tsx
  app/src/components/core/timer/Timer.tsx
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
  app/src/components/exception/TextErrorBoundaryFallback.tsx
  app/src/components/filter/styles.ts
  app/src/components/markdown/streamdownComponents.tsx
  app/src/components/markdown/styles.ts
  app/src/pages/experiments/ExperimentDetailsDialog.tsx
  app/src/pages/project/ProjectAnnotationCountsCards.tsx
  app/src/pages/settings/sandboxes/SandboxProviderCredentialsDialog.tsx
  app/src/pages/trace/SessionDetailsTracesView.tsx
  app/stories/AgentChatWidgetButton.stories.tsx
  app/stories/FileDropZone.stories.tsx
  app/stories/ToolPart.stories.tsx
  app/stories/TraceTreeSkeleton.stories.tsx
Due: oxfmt-app, oxlint-app

refactor: type span note tool arguments
  src/phoenix/server/agents/capabilities/tools/internal/write_span_note.py
  src/phoenix/server/agents/server_agents.py
  tests/unit/server/agents/capabilities/tools/internal/test_write_span_note.py
  tests/unit/server/agents/test_server_agents.py
Due: format-python, lint-python

feat(ui): show total session count on project card (#14064)
  app/src/pages/projects/ProjectsPage.tsx
  app/src/pages/projects/__generated__/ProjectsPageProjectMetricsQuery.graphql.ts
  src/phoenix/server/api/dataloaders/record_counts.py
  src/phoenix/server/api/types/Project.py
  tests/unit/server/api/dataloaders/test_record_counts.py
  tests/unit/server/api/types/test_Project.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

feat(sessions): sweep orphaned sessions after a one-hour grace period (#14098)
  src/phoenix/server/retention.py
  tests/unit/server/test_retention.py
Due: format-python, lint-python

chore: update project evaluators (online evals) spec from design meeting (#14005)
  internal_docs/specs/online-evals.md
Due: none

feat(client): add name_contains filter to Python client projects.list()
  packages/phoenix-client/src/phoenix/client/resources/projects/__init__.py
  packages/phoenix-client/tests/client/resources/projects/test_projects.py
Due: format-python, lint-python

Add MiniMax provider support
  app/src/@types/generative.d.ts
  src/phoenix/config.py
  src/phoenix/db/types/model_provider.py
  src/phoenix/server/api/helpers/playground_clients.py
  src/phoenix/server/api/input_types/ConnectionConfigInput.py
  src/phoenix/server/api/types/GenerativeProvider.py
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Due: format-python, lint-python, oxfmt-app, oxlint-app

chore: remove stale annotation config tool comments
  src/phoenix/server/agents/capabilities/tools/external/create_annotation_config.py
  src/phoenix/server/agents/capabilities/tools/external/update_annotation_config.py
Due: format-python, lint-python

docs: align annotation config skill with approval tools
  src/phoenix/server/agents/prompts/skills/annotate-spans/SKILL.md
Due: none

docs: define open and axial coding
  src/phoenix/server/agents/prompts/skills/span-coding/SKILL.md
Due: none

docs: simplify span note tool instructions
  src/phoenix/server/agents/prompts/tools/WRITE_SPAN_NOTE_TOOL_INSTRUCTIONS.xml.j2
Due: none

chore: remove annotation config tool constant comment
  app/src/agent/tools/annotationConfig/constants.ts
Due: oxfmt-app, oxlint-app

chore: remove annotation config schema comment
  app/src/agent/tools/annotationConfig/schemas.ts
Due: oxfmt-app, oxlint-app

refactor: clarify annotation config create helpers
  app/src/agent/tools/annotationConfig/agentTools.ts
  app/src/agent/tools/annotationConfig/createAnnotationConfig.ts
Due: oxfmt-app, oxlint-app

delete test
  tests/unit/server/agents/test_span_coding_skill.py
Due: format-python, lint-python

fix: wire agent write dependencies
  app/src/agent/tools/annotationConfig/agentTools.ts
  app/src/agent/tools/annotationConfig/schemas.ts
  evals/pxi/harness/agent_task.py
  src/phoenix/server/agents/prompts/__init__.py
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

test: include span-coding skill in agent skills catalog assertions
  tests/unit/server/agents/test_agent_factory.py
  tests/unit/server/api/test_queries.py
Due: format-python, lint-python

feat(ui): disable email-attach toggle unless tracing is effectively on
  app/src/components/agent/AgentObservabilitySettings.tsx
Due: oxfmt-app, oxlint-app

feat(ui): point settings-page warnings at the system settings section above
  app/src/components/agent/AgentObservabilitySettings.tsx
  app/src/components/agent/SystemSettingsWarning.tsx
  app/src/pages/settings/SettingsAgentsPage.tsx
Due: oxfmt-app, oxlint-app

feat(ui): iteration-number ticks, orange latency bars, and windowed subtitles on experiment metrics
  app/src/pages/dataset/metrics/ExperimentCostChart.tsx
  app/src/pages/dataset/metrics/ExperimentErrorRateChart.tsx
  app/src/pages/dataset/metrics/ExperimentLatencyChart.tsx
  app/src/pages/dataset/metrics/ExperimentMetrics.ts
  app/src/pages/dataset/metrics/ExperimentTokensChart.tsx
  app/src/pages/dataset/metrics/chartCatalog.tsx
Due: oxfmt-app, oxlint-app

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
