Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

test(datasets): rename pre-upsert helper to reflect v15 framing
  tests/unit/db/insertion/test_dataset.py
Due: format-python, lint-python

fix(cost): update built-in model token prices (#12912)
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Due: none

refactor(cli): rename schema artifact to phoenix-cli-settings-1.json
  js/packages/phoenix-cli/scripts/build-schema.ts
  js/packages/phoenix-cli/src/profiles.ts
  schemas/phoenix-cli-settings-1.json
Due: oxfmt-js, oxlint-js

refactor(cli): rename ProfilesFileSchema to SettingsFileSchema
  js/packages/phoenix-cli/scripts/build-schema.ts
  js/packages/phoenix-cli/src/settings.ts
Due: oxfmt-js, oxlint-js

feat(cli): add apiKey field to profile schema
  js/packages/phoenix-cli/schemas/profile.schema.json
  js/packages/phoenix-cli/src/profiles.ts
Due: oxfmt-js, oxlint-js

chore(phoenix-cli): wire build:schema into build, whitelist schemas/
  js/packages/phoenix-cli/package.json
  js/pnpm-lock.yaml
Due: oxfmt-js

feat(cli): inject permission scope examples into built JSON Schema
  js/packages/phoenix-cli/scripts/build-schema.ts
Due: oxfmt-js, oxlint-js

refactor(cli): move oxfmt invocation into build:schema script
  js/packages/phoenix-cli/package.json
  js/packages/phoenix-cli/scripts/build-schema.ts
Due: oxfmt-js, oxlint-js

feat(cli): describe permission-scope grammar on profile schema items
  js/packages/phoenix-cli/src/profiles.ts
Due: oxfmt-js, oxlint-js

docs(phoenix-cli): document $schema URL pattern for profiles JSON
  js/packages/phoenix-cli/README.md
  js/packages/phoenix-cli/src/profiles.ts
Due: oxfmt-js, oxlint-js

refactor(cli): relocate profile schema to repo-top and strip permissions
  js/packages/phoenix-cli/README.md
  js/packages/phoenix-cli/package.json
  js/packages/phoenix-cli/schemas/profile.schema.json
  js/packages/phoenix-cli/scripts/build-schema.ts
  js/packages/phoenix-cli/src/profiles.ts
  schemas/phoenix-cli-1.json
Due: oxfmt-js, oxlint-js

refactor(cli): drop version postfix and version field from settings schema
  js/packages/phoenix-cli/scripts/build-schema.ts
  js/packages/phoenix-cli/src/profiles.ts
  schemas/phoenix-cli-settings.json
Due: oxfmt-js, oxlint-js

feat(cli): add OPERATION_MAP permissions table for profile schema
  js/packages/phoenix-cli/src/permissions.ts
Due: oxfmt-js, oxlint-js

feat(cli): add JSON schema artifact for profile config
  js/packages/phoenix-cli/schemas/profile.schema.json
Due: oxfmt-js

fix(cli): format generated profile schema with oxfmt
  js/packages/phoenix-cli/schemas/profile.schema.json
  js/packages/phoenix-cli/scripts/build-schema.ts
Due: oxfmt-js, oxlint-js

chore(phoenix-cli): port build-schema.ts unchanged from cli-profiles
  js/packages/phoenix-cli/scripts/build-schema.ts
Due: oxfmt-js, oxlint-js

fix(cli): use process.stdout.write in build:schema script
  js/packages/phoenix-cli/scripts/build-schema.ts
Due: oxfmt-js, oxlint-js

refactor(cli): delete unused permissions.ts
  js/packages/phoenix-cli/src/permissions.ts
Due: oxfmt-js, oxlint-js

feat(cli): add profile storage Zod schemas
  js/packages/phoenix-cli/src/profiles.ts
Due: oxfmt-js, oxlint-js

refactor(cli): remove stale manual cli-settings.schema.json
  schemas/arize-phoenix-cli-settings.schema.json
Due: none

ci: revert Pages schema-staging step from #12819
  .github/workflows/gh_pages.yml
Due: none

feat(cli): add JSON schema for settings config (#12817)
  .github/workflows/gh_pages.yml
  js/packages/phoenix-cli/package.json
  js/packages/phoenix-cli/scripts/build-schema.ts
  js/packages/phoenix-cli/src/settings.ts
  js/pnpm-lock.yaml
  schemas/phoenix-cli-settings.json
Due: oxfmt-js, oxlint-js

fix(playground): prevent OTel context leak in single chat completion subscription
  src/phoenix/server/api/subscriptions.py
Due: format-python, lint-python

fix(playground): prevent OTel context leak in single chat completion subscription (#12922)
  src/phoenix/server/api/subscriptions.py
Due: format-python, lint-python

feat(agents): support custom providers and secret store values (#12901)
  .agents/skills/phoenix-server/SKILL.md
  src/phoenix/server/agents/__init__.py
  src/phoenix/server/agents/chat_params.py
  src/phoenix/server/agents/context.py
  src/phoenix/server/agents/exceptions.py
  src/phoenix/server/agents/mcp.py
  src/phoenix/server/agents/model_factory.py
  src/phoenix/server/agents/tools/__init__.py
  src/phoenix/server/agents/tools/apply_span_filter_condition.py
  src/phoenix/server/agents/tools/registry.py
  src/phoenix/server/api/routers/chat.py
  src/phoenix/server/api/routers/chat_tools/__init__.py
  src/phoenix/server/api/routers/data_stream_protocol.py
  tests/integration/auth/conftest.py
  tests/unit/server/agents/test_context.py
  tests/unit/server/agents/test_mcp.py
  tests/unit/server/agents/test_model_factory.py
  tests/unit/server/agents/test_tools.py
  tests/unit/server/api/routers/test_chat.py
Due: format-python, lint-python

chore(main): release arize-phoenix 14.17.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

fix(skills): sample by trace, not status_code, in open/axial-coding refs
  .agents/skills/phoenix-cli/SKILL.md
  .agents/skills/phoenix-cli/references/axial-coding.md
  .agents/skills/phoenix-cli/references/open-coding.md
Due: none

fix(app): resolve project routes that use project names
  app/__tests__/projectLoader.test.ts
  app/src/pages/project/__generated__/projectLoaderByNameQuery.graphql.ts
  app/src/pages/project/projectLoader.ts
  src/phoenix/server/api/types/node.py
  tests/unit/server/api/types/test_node.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix(datasets): surface pre-upsert examples to the upsert diff (#12917)
  src/phoenix/db/insertion/dataset.py
  tests/unit/db/insertion/test_dataset.py
Due: format-python, lint-python

feat(cli): add session annotations and notes
  .agents/skills/phoenix-cli/SKILL.md
  js/.changeset/session-cli-annotations-notes.md
  js/packages/phoenix-cli/README.md
  js/packages/phoenix-cli/src/commands/annotationMutationUtils.ts
  js/packages/phoenix-cli/src/commands/chunkArray.ts
  js/packages/phoenix-cli/src/commands/formatSessions.ts
  js/packages/phoenix-cli/src/commands/noteMutationUtils.ts
  js/packages/phoenix-cli/src/commands/session.ts
  js/packages/phoenix-cli/src/commands/spanAnnotations.ts
  js/packages/phoenix-cli/src/commands/traceAnnotations.ts
  js/packages/phoenix-cli/test/cli.test.ts
  js/packages/phoenix-cli/test/sessionAnnotationsNotes.test.ts
  js/packages/phoenix-client/README.md
  js/packages/phoenix-client/src/constants/serverRequirements.ts
  js/packages/phoenix-client/src/sessions/addSessionNote.ts
  js/packages/phoenix-client/src/sessions/index.ts
  js/packages/phoenix-client/test/sessions/addSessionNote.test.ts
  src/phoenix/server/api/routers/v1/sessions.py
  tests/unit/server/api/routers/v1/test_sessions.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

feat(rest-api): include token counts in span/trace/session payloads
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/server/api/dataloaders/session_token_usages.py
  src/phoenix/server/api/helpers/cumulative_token_count_queries.py
  src/phoenix/server/api/routers/v1/sessions.py
  src/phoenix/server/api/routers/v1/spans.py
  src/phoenix/server/api/routers/v1/traces.py
  tests/unit/server/api/helpers/test_cumulative_token_count_queries.py
  tests/unit/server/api/routers/v1/test_list_project_traces.py
  tests/unit/server/api/routers/v1/test_sessions.py
  tests/unit/server/api/routers/v1/test_spans.py
  tests/unit/server/api/types/test_ProjectSession.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

test(rest-api): trim token-count test surface for span/trace/session payloads
  src/phoenix/server/api/helpers/cumulative_token_count_queries.py
  tests/unit/server/api/helpers/test_cumulative_token_count_queries.py
  tests/unit/server/api/routers/v1/test_list_project_traces.py
  tests/unit/server/api/routers/v1/test_sessions.py
  tests/unit/server/api/routers/v1/test_spans.py
  tests/unit/server/api/types/test_ProjectSession.py
Due: format-python, lint-python

test(playwright): fix e2e tests for dataset upsert UI changes
  app/tests/dataset-file-upload.spec.ts
  app/tests/playground.spec.ts
  app/tests/server-evaluators.spec.ts
Due: oxfmt-app, oxlint-app

test(playwright): fix e2e tests for dataset upsert UI changes (#12927)
  app/tests/dataset-file-upload.spec.ts
  app/tests/playground.spec.ts
  app/tests/server-evaluators.spec.ts
Due: oxfmt-app, oxlint-app

chore(main): release arize-phoenix 14.17.0 (#12907)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

feat: extend db prompt types for invocation paramaters (#12855)
  .github/workflows/python-CI.yml
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  packages/phoenix-client/src/phoenix/client/helpers/sdk/anthropic/messages.py
  packages/phoenix-client/src/phoenix/client/helpers/sdk/openai/chat.py
  packages/phoenix-client/tests/canary/sdk/anthropic/test_messages.py
  schemas/openapi.json
  src/phoenix/db/types/prompts.py
  src/phoenix/server/api/helpers/playground_clients.py
  tests/integration/client/test_prompts.py
  uv.lock
Due: format-python, lint-python, oxfmt-js, oxlint-js, uv-lock-check

chore: version-15 feature branch
  .github/workflows/playwright.yaml
Due: none

chore(main): release arize-phoenix 15.0.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python
