Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Update SKILL.md
  .agents/skills/phoenix-design/SKILL.md
Due: none

add new eval skill
  .agents/skills/phoenix-evals-new-metric/SKILL.md
  .cursor/rules/new-builtin-metric.mdc
Due: none

chore: add structured prompt and acceptance criteria to claude implement issue workflow
  .github/workflows/claude-implement-issue.yml
Due: none

dataset exploration
  examples/agent-trajectory-evals/exploration/tau_bench_explore.py
  examples/agent-trajectory-evals/exploration/tau_bench_output.txt
  examples/agent-trajectory-evals/exploration/tau_bench_summary.md
  examples/agent-trajectory-evals/exploration/traject_bench_explore.py
  examples/agent-trajectory-evals/exploration/traject_bench_output.txt
  examples/agent-trajectory-evals/exploration/traject_bench_summary.md
Due: format-python, lint-python

use dev/train examples
  examples/agent-trajectory-evals/tau_bench_openai_agents/agent.py
  examples/agent-trajectory-evals/tau_bench_openai_agents/run.py
  examples/agent-trajectory-evals/tau_bench_openai_agents/tasks.py
Due: format-python, lint-python

add taubench langraph example
  examples/agent-trajectory-evals/exploration/tau_bench_summary.md
  examples/agent-trajectory-evals/requirements.txt
  examples/agent-trajectory-evals/tau_bench_openai_agents/README.md
  examples/agent-trajectory-evals/tau_bench_openai_agents/tasks.py
Due: format-python, lint-python

implement openai agents sdk for tau-bench
  examples/agent-trajectory-evals/.gitignore
  examples/agent-trajectory-evals/requirements.txt
  examples/agent-trajectory-evals/tau_bench_openai_agents/README.md
  examples/agent-trajectory-evals/tau_bench_openai_agents/__init__.py
  examples/agent-trajectory-evals/tau_bench_openai_agents/__main__.py
  examples/agent-trajectory-evals/tau_bench_openai_agents/agent.py
  examples/agent-trajectory-evals/tau_bench_openai_agents/db.py
  examples/agent-trajectory-evals/tau_bench_openai_agents/phoenix_setup.py
  examples/agent-trajectory-evals/tau_bench_openai_agents/run.py
  examples/agent-trajectory-evals/tau_bench_openai_agents/tasks.py
  examples/agent-trajectory-evals/tau_bench_openai_agents/tools.py
  examples/agent-trajectory-evals/tau_bench_openai_agents/user_sim.py
Due: format-python, lint-python

chore: add changeset reminder and ground documentation in real code
  .github/workflows/claude-implement-issue.yml
Due: none

chore: optimize implement-issue workflow
  .github/workflows/claude-implement-issue.yml
Due: none

chore: apply RFC 2119 notation conventions to implement-issue prompt
  .github/workflows/claude-implement-issue.yml
Due: none

feat: allow structured data eval inputs
  packages/phoenix-evals/pyproject.toml
  packages/phoenix-evals/src/phoenix/evals/evaluators.py
  packages/phoenix-evals/src/phoenix/evals/llm/prompts.py
  packages/phoenix-evals/tests/phoenix/evals/llm/test_prompts.py
  packages/phoenix-evals/tests/phoenix/evals/test_evaluators.py
Due: format-python, lint-python, uv-lock-check

chore: add structured prompt and acceptance criteria to implement-issue workflow (#12094)
  .github/workflows/claude-implement-issue.yml
Due: none

chore(skills): move phoenix-pr-screenshot to .agents/skills (#12089)
  .agents/skills/phoenix-pr-screenshot/SKILL.md
  .claude/skills/phoenix-pr-screenshot
Due: none

chore: update phoenix version to 13.14.0 in kustomize and helm (#12083)
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

chore: add structured prompt and acceptance criteria to claude implement issue workflow (#12096)
  .github/workflows/claude-implement-issue.yml
Due: none

chore: use claude-opus-4-6 model for implement-issue workflow
  .github/workflows/claude-implement-issue.yml
Due: none

chore: use claude-opus-4-6 for implement-issue workflow (#12097)
  .github/workflows/claude-implement-issue.yml
Due: none

fix(deps): update arize-phoenix-client to 2.0.0 (#12085)
  pyproject.toml
Due: uv-lock-check

chore: upgrade oxlint from 1.48.0 to 1.53.0
  app/package.json
  app/pnpm-lock.yaml
  js/package.json
  js/pnpm-lock.yaml
Due: oxfmt-app, oxfmt-js

feat(cli): add semantic exit codes for scripting and CI integration (#12098)
  js/.changeset/semantic-exit-codes-cli.md
  js/packages/phoenix-cli/src/commands/api.ts
  js/packages/phoenix-cli/src/commands/auth.ts
  js/packages/phoenix-cli/src/commands/dataset.ts
  js/packages/phoenix-cli/src/commands/datasets.ts
  js/packages/phoenix-cli/src/commands/experiment.ts
  js/packages/phoenix-cli/src/commands/experiments.ts
  js/packages/phoenix-cli/src/commands/projects.ts
  js/packages/phoenix-cli/src/commands/prompt.ts
  js/packages/phoenix-cli/src/commands/prompts.ts
  js/packages/phoenix-cli/src/commands/session.ts
  js/packages/phoenix-cli/src/commands/sessions.ts
  js/packages/phoenix-cli/src/commands/trace.ts
  js/packages/phoenix-cli/src/commands/traces.ts
  js/packages/phoenix-cli/src/exitCodes.ts
  js/packages/phoenix-cli/test/exitCodes.test.ts
Due: oxfmt-js, oxlint-js

feat(cli): add --curl preview to px api graphql
  js/packages/phoenix-cli/README.md
  js/packages/phoenix-cli/src/commands/api.ts
  js/packages/phoenix-cli/src/curl.ts
  js/packages/phoenix-cli/test/api.test.ts
Due: oxfmt-js, oxlint-js

chore: version-14 feature branch
  .github/workflows/playwright.yaml
Due: none

feat(experiments)!: define ephemeral experiments and add ExperimentSweeper daemon (#11815)
  app/schema.graphql
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableMutation.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableSubscription.graphql.ts
  scripts/ddl/postgresql_schema.sql
  src/phoenix/config.py
  src/phoenix/db/migrations/versions/9c5c1f6bd0d2_add_is_ephemeral_to_experiments.py
  src/phoenix/db/models.py
  src/phoenix/server/api/input_types/ChatCompletionInput.py
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/api/subscriptions.py
  src/phoenix/server/api/types/Dataset.py
  src/phoenix/server/api/types/Experiment.py
  src/phoenix/server/app.py
  src/phoenix/server/daemons/experiment_sweeper.py
  tests/unit/server/api/mutations/test_chat_mutations.py
  tests/unit/server/api/test_subscriptions.py
  tests/unit/server/api/types/test_Dataset.py
  tests/unit/server/api/types/test_Experiment.py
  tests/unit/server/daemons/test_experiment_sweeper.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

feat(playground): add experiment record toggle with ephemeral tracking (#11944)
  app/src/components/evaluators/EvaluatorChatTemplate/utils.ts
  app/src/components/experiment/ExperimentCompareDetails.tsx
  app/src/components/experiment/__generated__/ExperimentCompareDetailsQuery.graphql.ts
  app/src/contexts/ExperimentCompareContext.tsx
  app/src/pages/experiment/ExperimentCompareListPage.tsx
  app/src/pages/experiment/ExperimentCompareMetricsPage.tsx
  app/src/pages/experiment/ExperimentComparePage.tsx
  app/src/pages/experiment/ExperimentCompareTable.tsx
  app/src/pages/experiment/__generated__/ExperimentCompareListPage_aggregateData.graphql.ts
  app/src/pages/experiment/__generated__/ExperimentCompareMetricsPage_experiments.graphql.ts
  app/src/pages/experiment/__generated__/ExperimentComparePageQueriesCompareGridQuery.graphql.ts
  app/src/pages/experiment/__generated__/ExperimentComparePageQueriesCompareListQuery.graphql.ts
  app/src/pages/experiment/__generated__/ExperimentComparePageQueriesCompareMetricsQuery.graphql.ts
  app/src/pages/experiment/__generated__/ExperimentComparePageQueriesSelectedCompareExperimentsQuery.graphql.ts
  app/src/pages/experiment/__generated__/ExperimentComparePage_selectedCompareExperiments.graphql.ts
  app/src/pages/experiment/__generated__/ExperimentCompareTableQuery.graphql.ts
  app/src/pages/experiment/__generated__/ExperimentCompareTable_comparisons.graphql.ts
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  app/src/pages/playground/PlaygroundExperimentToolbar.tsx
  app/src/pages/playground/playgroundUtils.ts
  app/src/store/playground/playgroundStore.tsx
  app/src/store/playground/types.ts
Due: oxfmt-app, oxlint-app

add AI SDK snippets
  .agents/skills/phoenix-integration-snippets/SKILL.md
  .claude/skills/phoenix-integration-snippets
  app/src/components/project/integrationSnippets.ts
  app/src/pages/project/ProjectOnboarding.tsx
  app/src/pages/project/integrationRegistry.tsx
Due: oxfmt-app, oxlint-app

docs: Add Phoenix release notes for 03-11-2026 (#12088)
  docs/phoenix/release-notes.mdx
  docs/phoenix/release-notes/03-2026/03-11-2026-session-turns-api.mdx
  docs/phoenix/release-notes/2026.mdx
Due: none

fix: use correct endpoint URL for hosted deployments in all TS onboarding snippets
  app/src/components/project/TypeScriptProjectGuide.tsx
  app/src/components/project/integrationSnippets.ts
  app/src/pages/project/integrationRegistry.tsx
Due: oxfmt-app, oxlint-app

style: widen onboarding layout and fix integration button sizing
  app/src/pages/project/IntegrationSelectButtonGroup.tsx
  app/src/pages/project/ProjectOnboarding.tsx
Due: oxfmt-app, oxlint-app

docs: rewrite integration snippets skill with best practices
  .agents/skills/phoenix-integration-snippets/SKILL.md
Due: none

feat(server): add GET /v1/projects/{project_identifier}/traces endpoint (#12057)
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/traces.py
  tests/integration/_helpers.py
  tests/unit/server/api/routers/v1/test_list_project_traces.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

feat(server): add name, span_kind, status_code filters to REST spans API (#12053)
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/spans.py
  src/phoenix/server/api/routers/v1/validators.py
  tests/unit/server/api/routers/v1/test_spans.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

chore: migrate to LangChain 1.x
  docs/phoenix/cookbook/datasets-and-experiments/model-comparison-for-an-email-text-extraction-service.mdx
  docs/phoenix/integrations/python/langchain.mdx
  examples/agent_framework_comparison/requirements.txt
  examples/code_gen_agent/requirements.txt
  examples/computer_use_agent/requirements.txt
  examples/cron-evals/requirements.txt
  examples/rag_agent/requirements.txt
  tutorials/agents/langgraph/langgraph_evaluator.ipynb
  tutorials/agents/langgraph/langgraph_orchestrator.ipynb
  tutorials/agents/langgraph/langgraph_parallel.ipynb
  tutorials/agents/langgraph/langgraph_promptchaining.ipynb
  tutorials/agents/langgraph/langgraph_router.ipynb
  tutorials/experiments/langchain_email_extraction.ipynb
  tutorials/tracing/langchain_agent_tracing_tutorial.ipynb
  tutorials/tracing/langchain_tracing_tutorial.ipynb
  tutorials/tracing/langchain_vertex_ai_tracing_tutorial.ipynb
  tutorials/tracing/langgraph_agent_tracing_tutorial.ipynb
Due: clean-notebooks

chore: migrate to LangChain 1.x (#12103)
  docs/phoenix/cookbook/datasets-and-experiments/model-comparison-for-an-email-text-extraction-service.mdx
  docs/phoenix/integrations/python/langchain.mdx
  examples/agent_framework_comparison/requirements.txt
  examples/code_gen_agent/requirements.txt
  examples/computer_use_agent/requirements.txt
  examples/cron-evals/requirements.txt
  examples/rag_agent/requirements.txt
  tutorials/agents/langgraph/langgraph_evaluator.ipynb
  tutorials/agents/langgraph/langgraph_orchestrator.ipynb
  tutorials/agents/langgraph/langgraph_parallel.ipynb
  tutorials/agents/langgraph/langgraph_promptchaining.ipynb
  tutorials/agents/langgraph/langgraph_router.ipynb
  tutorials/experiments/langchain_email_extraction.ipynb
  tutorials/tracing/langchain_agent_tracing_tutorial.ipynb
  tutorials/tracing/langchain_tracing_tutorial.ipynb
  tutorials/tracing/langchain_vertex_ai_tracing_tutorial.ipynb
  tutorials/tracing/langgraph_agent_tracing_tutorial.ipynb
Due: clean-notebooks

ci: add weekly Claude release notes workflow and skill
  .agents/skills/phoenix-release-notes/SKILL.md
  .github/workflows/claude-release-notes.yml
Due: none

address review: add concurrency, full history, trim prompt, add TS packages
  .agents/skills/phoenix-release-notes/SKILL.md
  .github/workflows/claude-release-notes.yml
Due: none

fix(skill): preserve existing GitHub release body when updating description
  .agents/skills/phoenix-release-notes/SKILL.md
Due: none

ci: have workflow read skill file directly instead of relying on Skill tool
  .github/workflows/claude-release-notes.yml
Due: none

ci: invoke skill via /phoenix-release-notes slash command
  .github/workflows/claude-release-notes.yml
Due: none

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
