Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(ui): route React Aria links through React Router
  js/app/src/pages/RootLayout.tsx
  js/app/src/pages/__tests__/RootLayout.test.tsx
  js/app/src/pages/project/evaluators/AddProjectEvaluatorMenu.tsx
  js/app/src/react-aria-components.d.ts
Due: oxfmt-js, oxlint-js

tighten idea of using tool evidence for claiming an action as completed
  prompts/classification_evaluator_configs/COMPLETENESS_CLASSIFICATION_EVALUATOR_CONFIG.yaml
Due: none

feat(mcp): point the tool descriptions at SQL for aggregate questions
  src/phoenix/server/api/routers/v1/spans.py
  src/phoenix/server/mcp/sql/tools.py
  src/phoenix/server/mcp_server.py
Due: format-python, lint-python

chore(mcp): regenerate OpenAPI types for the span search descriptions
  js/app/src/api/__generated__/v1.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  schemas/openapi.json
Due: oxfmt-js, oxlint-js

refactor(scripts): first-principles comments; label-driven report
  scripts/benchmarks/mcp/harness/mcpbench/analyze.py
  scripts/benchmarks/mcp/harness/mcpbench/cli.py
  scripts/benchmarks/mcp/harness/mcpbench/invocation.py
  scripts/benchmarks/mcp/harness/mcpbench/metrics.py
  scripts/benchmarks/mcp/harness/mcpbench/runner.py
  scripts/benchmarks/mcp/harness/mcpbench/server.py
  scripts/benchmarks/mcp/harness/mcpbench/templates/report.html
Due: format-python, lint-python

wip(scripts): report-only pipeline, corrected metrics, rewritten tasks
  scripts/benchmarks/mcp/bench.yaml
  scripts/benchmarks/mcp/harness/mcpbench/analyze.py
  scripts/benchmarks/mcp/harness/mcpbench/cli.py
  scripts/benchmarks/mcp/harness/mcpbench/metrics.py
  scripts/benchmarks/mcp/harness/mcpbench/report.py
  scripts/benchmarks/mcp/harness/mcpbench/runner.py
  scripts/benchmarks/mcp/harness/mcpbench/server.py
  scripts/benchmarks/mcp/harness/mcpbench/store.py
  scripts/benchmarks/mcp/harness/mcpbench/templates/report.html
  scripts/benchmarks/mcp/tasks/cost-error-direction.yaml
  scripts/benchmarks/mcp/tasks/count-traces.yaml
  scripts/benchmarks/mcp/tasks/max-llm-calls.yaml
  scripts/benchmarks/mcp/tasks/most-failing-tool.yaml
  scripts/benchmarks/mcp/tasks/noop-surface-cost.yaml
  scripts/benchmarks/mcp/tasks/pagedown-exception.yaml
  scripts/benchmarks/mcp/tasks/pagedown-root-cause.yaml
  scripts/benchmarks/mcp/tasks/top-error-category.yaml
  scripts/benchmarks/mcp/tasks/total-cost.yaml
  scripts/benchmarks/mcp/tasks/worst-tool.yaml
Due: format-python, lint-python

feat(scripts): MCP analytics benchmark harness
  scripts/README.md
  scripts/benchmarks/mcp/.gitignore
  scripts/benchmarks/mcp/README.md
  scripts/benchmarks/mcp/bench.yaml
  scripts/benchmarks/mcp/harness/mcpbench/__init__.py
  scripts/benchmarks/mcp/harness/mcpbench/analyze.py
  scripts/benchmarks/mcp/harness/mcpbench/cli.py
  scripts/benchmarks/mcp/harness/mcpbench/config.py
  scripts/benchmarks/mcp/harness/mcpbench/invocation.py
  scripts/benchmarks/mcp/harness/mcpbench/metrics.py
  scripts/benchmarks/mcp/harness/mcpbench/preflight.py
  scripts/benchmarks/mcp/harness/mcpbench/report.py
  scripts/benchmarks/mcp/harness/mcpbench/runner.py
  scripts/benchmarks/mcp/harness/mcpbench/server.py
  scripts/benchmarks/mcp/harness/mcpbench/store.py
  scripts/benchmarks/mcp/harness/mcpbench/templates/report.html
  scripts/benchmarks/mcp/harness/pyproject.toml
  scripts/benchmarks/mcp/tasks/cost-error-direction.yaml
  scripts/benchmarks/mcp/tasks/count-traces.yaml
  scripts/benchmarks/mcp/tasks/noop-surface-cost.yaml
  scripts/benchmarks/mcp/tasks/pagedown-exception.yaml
  scripts/benchmarks/mcp/tasks/top-error-category.yaml
  scripts/benchmarks/mcp/tasks/total-cost.yaml
  scripts/benchmarks/mcp/tasks/worst-tool.yaml
Due: format-python, lint-python, uv-lock-check

fix(scripts): grade against the question as asked; refresh the docs
  scripts/benchmarks/mcp/README.md
  scripts/benchmarks/mcp/harness/mcpbench/analyze.py
  scripts/benchmarks/mcp/harness/mcpbench/cli.py
  scripts/benchmarks/mcp/harness/mcpbench/runner.py
Due: format-python, lint-python

style(scripts): lighter arrow in the route
  scripts/benchmarks/mcp/harness/mcpbench/metrics.py
Due: format-python, lint-python

feat(scripts): count failed calls, and show how the SQL surface was reached
  scripts/benchmarks/mcp/harness/mcpbench/metrics.py
  scripts/benchmarks/mcp/harness/mcpbench/report.py
  scripts/benchmarks/mcp/harness/mcpbench/templates/report.html
Due: format-python, lint-python

feat(scripts): route column, three questions about agent behaviour
  scripts/benchmarks/mcp/harness/mcpbench/metrics.py
  scripts/benchmarks/mcp/harness/mcpbench/report.py
  scripts/benchmarks/mcp/harness/mcpbench/templates/report.html
  scripts/benchmarks/mcp/tasks/error-rate-by-length.yaml
  scripts/benchmarks/mcp/tasks/repeated-tool-calls.yaml
  scripts/benchmarks/mcp/tasks/spend-concentration.yaml
Due: format-python, lint-python

feat(scripts): default to concurrency 3, and cut the report to what is read
  scripts/benchmarks/mcp/README.md
  scripts/benchmarks/mcp/bench.yaml
  scripts/benchmarks/mcp/harness/mcpbench/analyze.py
  scripts/benchmarks/mcp/harness/mcpbench/cli.py
  scripts/benchmarks/mcp/harness/mcpbench/metrics.py
  scripts/benchmarks/mcp/harness/mcpbench/report.py
  scripts/benchmarks/mcp/harness/mcpbench/templates/report.html
  scripts/benchmarks/mcp/tasks/pagedown-root-cause.yaml
  scripts/benchmarks/mcp/tasks/spend-concentration.yaml
Due: format-python, lint-python

fix(scripts): make each task prove its own grading before a run is spent
  scripts/benchmarks/mcp/harness/mcpbench/cli.py
  scripts/benchmarks/mcp/harness/mcpbench/config.py
  scripts/benchmarks/mcp/harness/mcpbench/metrics.py
  scripts/benchmarks/mcp/harness/mcpbench/preflight.py
  scripts/benchmarks/mcp/tasks/count-traces.yaml
  scripts/benchmarks/mcp/tasks/error-rate-by-length.yaml
  scripts/benchmarks/mcp/tasks/max-llm-calls.yaml
  scripts/benchmarks/mcp/tasks/most-failing-tool.yaml
  scripts/benchmarks/mcp/tasks/noop-surface-cost.yaml
  scripts/benchmarks/mcp/tasks/pagedown-root-cause.yaml
  scripts/benchmarks/mcp/tasks/repeated-tool-calls.yaml
  scripts/benchmarks/mcp/tasks/spend-concentration.yaml
  scripts/benchmarks/mcp/tasks/top-error-category.yaml
  scripts/benchmarks/mcp/tasks/total-cost.yaml
Due: format-python, lint-python

fix(scripts): tell a failed query apart from one raised to be read
  scripts/benchmarks/mcp/harness/mcpbench/metrics.py
  scripts/benchmarks/mcp/harness/mcpbench/templates/report.html
Due: format-python, lint-python

feat(scripts): copy the run table as TSV for a spreadsheet
  scripts/benchmarks/mcp/harness/mcpbench/templates/report.html
Due: none

fix(scripts): recover the exception class the route was dropping
  scripts/benchmarks/mcp/harness/mcpbench/metrics.py
Due: format-python, lint-python

feat(scripts): replay stored transcripts as OpenInference traces
  scripts/benchmarks/mcp/README.md
  scripts/benchmarks/mcp/harness/mcpbench/cli.py
  scripts/benchmarks/mcp/harness/mcpbench/export.py
  scripts/benchmarks/mcp/harness/mcpbench/otel.py
  scripts/benchmarks/mcp/harness/pyproject.toml
Due: format-python, lint-python, uv-lock-check

fix(scripts): make a failed export fail, and stop clipping JSON open
  scripts/benchmarks/mcp/README.md
  scripts/benchmarks/mcp/harness/mcpbench/cli.py
  scripts/benchmarks/mcp/harness/mcpbench/export.py
  scripts/benchmarks/mcp/harness/mcpbench/otel.py
  scripts/benchmarks/mcp/harness/pyproject.toml
Due: format-python, lint-python, uv-lock-check

fix(scripts): name the execute calls that call no tool
  scripts/benchmarks/mcp/harness/mcpbench/metrics.py
Due: format-python, lint-python

feat(scripts): ship each cell as a trace while the matrix runs
  scripts/benchmarks/mcp/README.md
  scripts/benchmarks/mcp/harness/mcpbench/cli.py
  scripts/benchmarks/mcp/harness/mcpbench/export.py
Due: format-python, lint-python

fix(scripts): read the manifest when a cell needs it, and send one trace at a time
  scripts/benchmarks/mcp/harness/mcpbench/export.py
Due: format-python, lint-python

feat(scripts): read the sink from .env, and guard the project not the host
  scripts/benchmarks/mcp/.env.example
  scripts/benchmarks/mcp/.gitignore
  scripts/benchmarks/mcp/README.md
  scripts/benchmarks/mcp/bench.yaml
  scripts/benchmarks/mcp/harness/mcpbench/config.py
  scripts/benchmarks/mcp/harness/mcpbench/invocation.py
  scripts/benchmarks/mcp/harness/mcpbench/preflight.py
Due: format-python, lint-python

refactor(scripts): re-read the manifest instead of caching it
  scripts/benchmarks/mcp/harness/mcpbench/export.py
Due: format-python, lint-python

feat(scripts): link every row of the report to its trace
  scripts/benchmarks/mcp/README.md
  scripts/benchmarks/mcp/harness/mcpbench/analyze.py
  scripts/benchmarks/mcp/harness/mcpbench/cli.py
  scripts/benchmarks/mcp/harness/mcpbench/export.py
  scripts/benchmarks/mcp/harness/mcpbench/otel.py
  scripts/benchmarks/mcp/harness/mcpbench/report.py
  scripts/benchmarks/mcp/harness/mcpbench/templates/report.html
Due: format-python, lint-python

refactor(scripts): let the SDK assign ids, and record the ones it assigned
  scripts/benchmarks/mcp/README.md
  scripts/benchmarks/mcp/harness/mcpbench/analyze.py
  scripts/benchmarks/mcp/harness/mcpbench/cli.py
  scripts/benchmarks/mcp/harness/mcpbench/export.py
  scripts/benchmarks/mcp/harness/mcpbench/otel.py
Due: format-python, lint-python

docs(dsl): make cost specification concise
  internal_docs/specs/span-filter-dsl.md
Due: none

fix(mcp): keep SQL guidance on MCP tool surface
  js/app/src/api/__generated__/v1.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/spans.py
  src/phoenix/server/mcp/sql/tools.py
  src/phoenix/server/mcp_server.py
  tests/unit/server/agents/capabilities/test_phoenix_mcp.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

docs: clarify filter cost parity
  internal_docs/specs/span-filter-dsl.md
Due: none

updated rest of files bc of prompt and benchmakr updates
  docs/phoenix/evaluation/pre-built-metrics.mdx
  docs/phoenix/evaluation/pre-built-metrics/completeness.mdx
  docs/phoenix/llms.txt
  js/.changeset/completeness-evaluator.md
  js/packages/phoenix-evals/README.md
  js/packages/phoenix-evals/src/__generated__/default_templates/COMPLETENESS_CLASSIFICATION_EVALUATOR_CONFIG.ts
  js/packages/phoenix-evals/src/llm/createCompletenessEvaluator.ts
  js/packages/phoenix-evals/test/llm/createCompletenessEvaluator.test.ts
  packages/phoenix-evals/README.md
  packages/phoenix-evals/src/phoenix/evals/__generated__/classification_evaluator_configs/_completeness_classification_evaluator_config.py
  packages/phoenix-evals/src/phoenix/evals/metrics/completeness.py
  prompts/classification_evaluator_configs/COMPLETENESS_CLASSIFICATION_EVALUATOR_CONFIG.yaml
  src/phoenix/__generated__/classification_evaluator_configs/_completeness_classification_evaluator_config.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(evals): split completeness and retrieval-relevance pytest params after merge
  packages/phoenix-evals/tests/phoenix/evals/metrics/test_classification_evaluators.py
Due: format-python, lint-python

docs: add Railway marketplace template description
  RAILWAY.md
Due: none

docs: trim the Railway marketplace description
  RAILWAY.md
Due: none

docs: note Railway restart policy for Postgres startup ordering
  RAILWAY.md
Due: none

feat(evaluators): pairwise evaluator comparison aggregates
  js/app/schema.graphql
  src/phoenix/server/api/helpers/evaluator_comparison.py
  src/phoenix/server/api/types/EvaluatorComparison.py
  src/phoenix/server/api/types/Project.py
  tests/unit/server/api/helpers/test_evaluator_comparison.py
  tests/unit/server/api/types/test_Project.py
Due: format-python, lint-python

fix(ui): client-route evaluator gallery menu action
  js/app/src/pages/RootLayout.tsx
  js/app/src/pages/__tests__/RootLayout.test.tsx
  js/app/src/pages/project/evaluators/AddProjectEvaluatorMenu.tsx
  js/app/src/react-aria-components.d.ts
Due: oxfmt-js, oxlint-js

chore: update sitemap.xml (#15750)
  docs/phoenix/sitemap.xml
  sitemap.xml
Due: none

fix(js/client): support all of openai v7 and drop the peer range test
  js/.changeset/olive-jokes-argue.md
  js/packages/phoenix-client/package.json
  js/packages/phoenix-client/test/openaiPeerRange.test.ts
Due: oxfmt-js, oxlint-js

fix(js/client): widen the openai peer dependency to accept v7 (#15766)
  js/.changeset/olive-jokes-argue.md
  js/packages/phoenix-client/README.md
  js/packages/phoenix-client/package.json
Due: oxfmt-js

fix(playground): harden strict and tool choice handling from review
  js/app/src/pages/playground/__tests__/playgroundUtils.test.ts
  js/app/src/pages/playground/playgroundUtils.ts
  js/app/src/schemas/__tests__/toolSchemas.test.ts
  js/app/src/schemas/toolSchemas.ts
  packages/phoenix-client/src/phoenix/client/helpers/sdk/anthropic/messages.py
  packages/phoenix-client/tests/canary/sdk/anthropic/test_messages.py
  pyproject.toml
  src/phoenix/server/api/helpers/playground_clients.py
  tests/unit/server/api/helpers/test_playground_clients.py
  uv.lock
Due: format-python, lint-python, oxfmt-js, oxlint-js, uv-lock-check

refactor(evaluators): comparison cleanups from code review
  js/app/schema.graphql
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/helpers/evaluator_comparison.py
  src/phoenix/server/api/helpers/evaluators.py
  src/phoenix/server/api/types/Project.py
  src/phoenix/server/online_eval/executor.py
  tests/unit/server/api/helpers/test_evaluator_comparison.py
  tests/unit/server/api/types/test_Project.py
Due: format-python, lint-python

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
