Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(app): refine annotation preview interactions
  js/app/src/components/annotation/AnnotationDetailsList.tsx
  js/app/src/components/annotation/AnnotationSummaryPopover.tsx
  js/app/src/components/annotation/AnnotationSummaryTokens.tsx
  js/app/src/components/annotation/SessionAnnotationSummaryGroup.tsx
  js/app/src/pages/project/AnnotationTooltipFilterActions.tsx
Due: oxfmt-js, oxlint-js

fix(app): align annotation preview interactions
  js/app/src/components/annotation/AnnotationDetailsList.tsx
  js/app/src/components/annotation/AnnotationSummaryPopover.tsx
  js/app/src/components/annotation/AnnotationSummaryTokens.tsx
  js/app/src/components/annotation/SessionAnnotationSummaryGroup.tsx
  js/app/src/components/trace/AnnotatorKindToken.tsx
  js/app/src/constants/annotationConstants.ts
  js/app/src/pages/project/AnnotationTooltipFilterActions.tsx
  js/app/src/pages/project/__tests__/annotationFilterUtils.test.ts
  js/app/src/pages/project/annotationFilterUtils.ts
  js/app/src/pages/trace/DocumentAnnotationItem.tsx
  js/app/stories/AnnotationSummaryTokens.stories.tsx
Due: oxfmt-js, oxlint-js

fix(app): refine annotation preview interactions
  js/app/src/components/annotation/AnnotationDetailsList.tsx
  js/app/src/components/annotation/AnnotationSummaryPopover.tsx
  js/app/src/components/annotation/AnnotationSummaryTokens.tsx
  js/app/src/pages/project/AnnotationTooltipFilterActions.tsx
  js/app/src/pages/project/__tests__/annotationFilterUtils.test.ts
  js/app/src/pages/project/annotationFilterUtils.ts
Due: oxfmt-js, oxlint-js

fix(app): dismiss nested annotation overlays in order
  js/app/src/components/annotation/AnnotationSummaryPopover.tsx
  js/app/src/components/annotation/AnnotationSummaryTokens.tsx
  js/app/src/components/annotation/SessionAnnotationSummaryGroup.tsx
  js/app/src/pages/project/AnnotationTooltipFilterActions.tsx
Due: oxfmt-js, oxlint-js

fix: address annotation hover review feedback
  js/app/src/agent/tools/batchSpanAnnotate/__generated__/applySpanAnnotationsCreateMutation.graphql.ts
  js/app/src/components/annotation/AnnotationSummaryGroup.tsx
  js/app/src/components/annotation/MeanScore.tsx
  js/app/src/components/annotation/__generated__/AnnotationSummaryGroup.graphql.ts
  js/app/src/components/trace/__generated__/SpanAnnotationDeleteButtonMutation.graphql.ts
  js/app/src/components/trace/__generated__/SpanAnnotationsEditorCreateAnnotationMutation.graphql.ts
  js/app/src/components/trace/__generated__/SpanAnnotationsEditorDeleteAnnotationMutation.graphql.ts
  js/app/src/components/trace/__generated__/SpanAnnotationsEditorEditAnnotationMutation.graphql.ts
  js/app/src/pages/dataset/evaluators/__generated__/DatasetEvaluatorSpansQuery.graphql.ts
  js/app/src/pages/project/AnnotationTooltipFilterActions.tsx
  js/app/src/pages/project/__generated__/ProjectPageQueriesSpansQuery.graphql.ts
  js/app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  js/app/src/pages/trace/__generated__/SessionDetailsTraceListQuery.graphql.ts
  js/app/src/pages/trace/__generated__/SessionDetailsTraceListRefetchQuery.graphql.ts
  js/app/src/pages/trace/span/__generated__/SpanAnnotationsCardSummaryQuery.graphql.ts
Due: oxfmt-js, oxlint-js

feat(app): show annotation filters inline
  js/app/src/components/annotation/AnnotationDetailsList.tsx
  js/app/src/components/annotation/AnnotationSummaryPopover.tsx
  js/app/src/components/annotation/AnnotationSummaryTokens.tsx
  js/app/src/components/annotation/SessionAnnotationSummaryGroup.tsx
  js/app/src/pages/project/AnnotationTooltipFilterActions.tsx
  js/app/src/pages/project/annotationFilterUtils.ts
  js/app/stories/AnnotationSummaryTokens.stories.tsx
Due: oxfmt-js, oxlint-js

fix(ui): address annotation popover review feedback
  js/app/src/components/annotation/AnnotationDetailsList.tsx
  js/app/src/components/annotation/AnnotationSummaryPopover.tsx
  js/app/src/components/core/overlay/Popover.tsx
  js/app/src/components/table/UserCell.tsx
  js/app/src/components/table/index.tsx
  js/app/src/components/user/UserDisplay.tsx
  js/app/src/pages/datasets/DatasetsTable.tsx
  js/app/src/pages/project/__generated__/ProjectPageQueriesTracesQuery.graphql.ts
  js/app/src/pages/project/__generated__/TracesTableQuery.graphql.ts
  js/app/src/pages/project/__generated__/TracesTable_spans.graphql.ts
  js/app/src/pages/prompts/PromptsTable.tsx
  js/app/src/pages/settings/SettingsAgentSessionsCard.tsx
  js/app/src/pages/trace/SpanAnnotationsTable.tsx
  js/app/src/pages/trace/SpanNotesTable.tsx
  js/app/stories/UserDisplay.stories.tsx
Due: oxfmt-js, oxlint-js

fix: mirror the light-mode corrections from the AX docs
  docs/phoenix/integrations/coding-agents/claude-code.mdx
  docs/phoenix/integrations/coding-agents/opencode.mdx
  docs/style.css
Due: none

test(app): mock annotation configs in traces table test
  js/app/src/pages/project/__tests__/TracesTablePreloadIntegration.test.tsx
Due: oxfmt-js, oxlint-js

feat(playground): warn when a span has unresolved tool calls (#12975)
  js/app/src/pages/playground/__tests__/playgroundUtils.test.ts
  js/app/src/pages/playground/constants.tsx
  js/app/src/pages/playground/playgroundUtils.ts
Due: oxfmt-js, oxlint-js

chore(main): release arize-phoenix 20.3.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

feat(ui): a direct chat page
  js/app/src/Routes.tsx
  js/app/src/pages/Layout.tsx
  js/app/src/pages/chat/ChatPage.tsx
  js/app/src/pages/chat/__tests__/chatModel.test.ts
  js/app/src/pages/chat/__tests__/chatModelStorage.test.ts
  js/app/src/pages/chat/chatModel.ts
  js/app/src/pages/chat/chatModelStorage.ts
  js/app/src/pages/chat/index.tsx
  js/app/src/pages/chat/useDirectChat.ts
  js/app/src/pages/index.tsx
Due: oxfmt-js, oxlint-js

chore: update phoenix version to 20.3.0 in kustomize and helm
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

feat(ui): chat parameters sidebar with system prompt and sampling controls
  js/app/src/Routes.tsx
  js/app/src/components/nav/Navbar.tsx
  js/app/src/pages/Layout.tsx
  js/app/src/pages/chat/ChatPage.tsx
  js/app/src/pages/chat/ChatParametersSidebar.tsx
  js/app/src/pages/chat/__tests__/chatParametersStorage.test.ts
  js/app/src/pages/chat/chatParameters.ts
  js/app/src/pages/chat/chatParametersStorage.ts
  js/app/src/pages/chat/useDirectChat.ts
Due: oxfmt-js, oxlint-js

chore(ui): lift the agent-experimental-settings feature flag
  js/app/src/contexts/FeatureFlagsContext.tsx
  js/app/src/pages/settings/SettingsAgentsPage.tsx
Due: oxfmt-js, oxlint-js

refactor(ui): validate stored provider keys against ModelProviders
  js/app/src/components/agent/agentModelConfig.ts
  js/app/src/pages/chat/chatModelStorage.ts
Due: oxfmt-js, oxlint-js

feat(ui): remove the chat empty-state starter prompts
  js/app/src/pages/chat/ChatPage.tsx
Due: oxfmt-js, oxlint-js

fix(ui): harden the direct chat send path
  js/app/src/pages/chat/__tests__/chatModelStorage.test.ts
  js/app/src/pages/chat/chatModelStorage.ts
  js/app/src/pages/chat/useDirectChat.ts
Due: oxfmt-js, oxlint-js

fix(ui): hide inert experimental agent settings when bash is disabled
  js/app/src/contexts/FeatureFlagsContext.tsx
  js/app/src/pages/settings/SettingsAgentsPage.tsx
Due: oxfmt-js, oxlint-js

refactor(ui): share the server model-id encoder
  js/app/src/components/filter/ai/serverModel.ts
  js/app/src/components/generative/serverLanguageModel.ts
  js/app/src/pages/chat/__tests__/chatModel.test.ts
  js/app/src/pages/chat/chatModel.ts
Due: oxfmt-js, oxlint-js

docs: address review — serve-first two-step onboarding, drop agent-only warning
  docs/phoenix.mdx
  docs/phoenix/agent-assisted-setup.mdx
  docs/phoenix/get-started.mdx
  docs/phoenix/get-started/get-started-tracing.mdx
  docs/phoenix/get-started/ts-get-started-tracing.mdx
  docs/phoenix/llms.txt
  docs/snippets/agent-assisted-onboarding-info.mdx
  docs/snippets/agent-assisted-onboarding-prereq.mdx
  docs/snippets/agent-assisted-onboarding.mdx
Due: none

fix: two icons that are absent from Mintlify's lucide v1.16.0
  docs.json
  docs/phoenix/release-notes/07-2026/07-22-2026-mcp-setup-provider-filter-and-evals.mdx
  docs/phoenix/self-hosting.mdx
Due: none

docs: rewrite Phoenix vs Arize FAQ to reflect current product messaging
  docs/phoenix/resources/frequently-asked-questions/what-is-the-difference-between-phoenix-and-arize.mdx
Due: none

fix: use probe lowering for session filter statistics
  internal_docs/specs/session-filter-dsl.md
  scripts/perf/session_filter_perf.py
  src/phoenix/server/api/dataloaders/annotation_summaries.py
  src/phoenix/server/api/dataloaders/latency_ms_quantile.py
  src/phoenix/server/api/dataloaders/record_counts.py
  src/phoenix/server/api/dataloaders/span_cost_summary_by_project.py
  src/phoenix/server/api/types/Project.py
  src/phoenix/server/session_filters.py
  tests/unit/server/test_session_filters.py
Due: format-python, lint-python

fix: keep table load-more at the footer in Safari
  js/app/src/components/table/LoadMoreRow.tsx
Due: oxfmt-js, oxlint-js

fix: write PXI thumbs feedback once so session view is not duplicated
  js/app/src/components/agent/AssistantMessageActions.tsx
  js/app/src/components/agent/__tests__/AssistantMessageActions.test.tsx
Due: oxfmt-js, oxlint-js

fix: keep filter error indicator from covering the input
  js/app/src/components/filter/DSLFilterConditionField.tsx
  js/app/src/components/filter/__tests__/DSLFilterConditionFieldValidation.test.tsx
  js/app/src/components/filter/styles.ts
Due: oxfmt-js, oxlint-js

fix: add PXI annotate tool for span, trace, and session annotations
  js/app/src/agent/chat/__tests__/pendingToolStateCleanup.test.ts
  js/app/src/agent/chat/pendingToolStateCleanup.ts
  js/app/src/agent/extensions/__tests__/registryContract.test.ts
  js/app/src/agent/extensions/__tests__/toolRegistry.test.ts
  js/app/src/agent/extensions/registry/requireToolSession.ts
  js/app/src/agent/extensions/toolRegistry.ts
  js/app/src/agent/tools/annotate/__generated__/applyAnnotationCreateSessionMutation.graphql.ts
  js/app/src/agent/tools/annotate/__generated__/applyAnnotationCreateTraceMutation.graphql.ts
  js/app/src/agent/tools/annotate/__generated__/applyAnnotationResolveSessionByIdQuery.graphql.ts
  js/app/src/agent/tools/annotate/__generated__/applyAnnotationResolveSessionByNodeIdQuery.graphql.ts
  js/app/src/agent/tools/annotate/__generated__/applyAnnotationResolveTraceByNodeIdQuery.graphql.ts
  js/app/src/agent/tools/annotate/__generated__/applyAnnotationResolveTraceByOtelIdQuery.graphql.ts
  js/app/src/agent/tools/annotate/__tests__/annotate.test.ts
  js/app/src/agent/tools/annotate/annotateAgentTool.ts
  js/app/src/agent/tools/annotate/applyAnnotation.ts
  js/app/src/agent/tools/annotate/constants.ts
  js/app/src/agent/tools/annotate/index.ts
  js/app/src/agent/tools/annotate/parsers.ts
  js/app/src/agent/tools/annotate/pendingAnnotate.ts
  js/app/src/agent/tools/annotate/schemas.ts
  js/app/src/agent/tools/annotate/types.ts
  js/app/src/components/agent/AnnotateToolDetails.tsx
  js/app/src/components/agent/ToolPart.tsx
  js/app/src/components/agent/toolIconConfig.ts
  js/app/src/store/agentStore.ts
  src/phoenix/server/agents/capabilities/tools/external/__init__.py
  src/phoenix/server/agents/capabilities/tools/external/annotate.py
  src/phoenix/server/agents/prompts/__init__.py
  src/phoenix/server/agents/prompts/skills/annotate-spans/SKILL.md
  src/phoenix/server/agents/prompts/tools/ANNOTATE_TOOL_INSTRUCTIONS.xml.j2
  tests/unit/server/agents/capabilities/test_external_tools.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(mcp/sql): keep DISTINCT ON key lists out of the row-constructor repair
  src/phoenix/server/mcp/sql/parse.py
  tests/unit/server/mcp/sql/test_liveness.py
Due: format-python, lint-python

chore(deps): require openai>=3.1.0
  pyproject.toml
  requirements/ci.txt
  src/phoenix/server/api/helpers/playground_clients.py
  tests/unit/server/api/helpers/test_evaluators.py
  tests/unit/server/api/routers/v1/test_chat_completions.py
  uv.lock
Due: format-python, lint-python, uv-lock-check

chore(deps): require openai>=3.1.0 in phoenix-evals
  packages/phoenix-evals/pyproject.toml
  requirements/packages/phoenix-evals.txt
  uv.lock
Due: uv-lock-check

test: expose openai resource attributes on the model factory client stub
  tests/unit/server/agents/test_model_factory.py
Due: format-python, lint-python

feat(metrics): add ProductionDebtEvaluator and TechnicalDueDiligenceLedger
  src/phoenix/metrics/__init__.py
  src/phoenix/metrics/production_debt.py
  src/phoenix/tests/test_production_debt.py
Due: format-python, lint-python

feat(ui): narrow time range by clicking chart bins
  js/app/src/components/chart/TimeRangeChartBrush.tsx
  js/app/src/components/chart/__tests__/TimeRangeChartBrush.test.ts
  js/app/src/components/chart/__tests__/timeBins.test.ts
  js/app/src/components/chart/timeBins.ts
  js/app/src/components/datetime/TimeRangeContext.tsx
  js/app/src/components/datetime/__tests__/TimeRangeContext.test.tsx
  js/app/src/pages/project/TableMetricsCharts.tsx
  js/app/src/pages/project/metrics/AnnotationScoreTimeSeriesChart.tsx
  js/app/src/pages/project/metrics/ProjectAnnotationMetrics.tsx
  js/app/src/pages/project/metrics/SpanCountTimeSeries.tsx
  js/app/src/pages/project/metrics/SpanErrorsTimeSeries.tsx
  js/app/src/pages/project/metrics/TraceCountTimeSeries.tsx
  js/app/src/pages/project/metrics/TraceLatencyPercentilesTimeSeries.tsx
  js/app/src/pages/project/metrics/TraceTokenCostTimeSeries.tsx
  js/app/src/pages/project/metrics/TraceTokenCountTimeSeries.tsx
Due: oxfmt-js, oxlint-js

docs: add Eden AI to the LLM providers integrations
  docs.json
  docs/phoenix/integrations.mdx
  docs/phoenix/integrations/llm-providers/edenai.mdx
  docs/phoenix/integrations/llm-providers/edenai/openai-tracing.mdx
Due: none

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
