Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

remove misleading experiment run row styles
  app/src/pages/example/ExampleExperimentRunsTable.tsx
Due: oxfmt-app, oxlint-app

fix(docs): revert manual sitemap.xml edit
  docs/phoenix/sitemap.xml
Due: none

feat(evals): add user friction evaluator (#14193)
  .agents/skills/phoenix-evals-new-metric/SKILL.md
  docs.json
  docs/phoenix/evaluation/pre-built-metrics.mdx
  docs/phoenix/evaluation/pre-built-metrics/user-friction.mdx
  js/benchmarks/evals-benchmarks/src/user_friction.eval.ts
  js/packages/phoenix-evals/src/__generated__/default_templates/USER_FRICTION_CLASSIFICATION_EVALUATOR_CONFIG.ts
  js/packages/phoenix-evals/src/__generated__/default_templates/index.ts
  js/packages/phoenix-evals/src/llm/createUserFrictionEvaluator.ts
  js/packages/phoenix-evals/src/llm/index.ts
  js/packages/phoenix-evals/test/llm/createUserFrictionEvaluator.test.ts
  packages/phoenix-evals/README.md
  packages/phoenix-evals/src/phoenix/evals/__generated__/classification_evaluator_configs/__init__.py
  packages/phoenix-evals/src/phoenix/evals/__generated__/classification_evaluator_configs/_user_friction_classification_evaluator_config.py
  packages/phoenix-evals/src/phoenix/evals/metrics/__init__.py
  packages/phoenix-evals/src/phoenix/evals/metrics/user_friction.py
  packages/phoenix-evals/tests/phoenix/evals/metrics/test_classification_evaluators.py
  prompts/classification_evaluator_configs/USER_FRICTION_CLASSIFICATION_EVALUATOR_CONFIG.yaml
  src/phoenix/__generated__/classification_evaluator_configs/__init__.py
  src/phoenix/__generated__/classification_evaluator_configs/_user_friction_classification_evaluator_config.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

chore: update sitemap.xml
  docs/phoenix/sitemap.xml
  sitemap.xml
Due: none

fix: overflow bars on tiledpanel extra actions
  app/src/components/react-resizable-panels/TitledPanel.tsx
Due: oxfmt-app, oxlint-app

fix(playground): keep template format selected
  app/src/pages/playground/TemplateFormatRadioGroup.tsx
  app/src/pages/playground/__tests__/TemplateFormatRadioGroup.test.tsx
Due: oxfmt-app, oxlint-app

feat(agents): eagerly persist first user message and session title on new session creation (#14417)
  src/phoenix/server/agents/summarization.py
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python

feat(agents): persist trace session identity
  scripts/ddl/postgresql_schema.sql
  src/phoenix/db/migrations/versions/e767d3c57f32_create_agent_sessions_and_agent_session_.py
  src/phoenix/db/models.py
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/agents/test_agents_router.py
  tests/unit/server/api/mutations/test_agent_session_mutations.py
  tests/unit/server/api/routers/test_agents.py
  tests/unit/server/api/types/test_AgentSession.py
Due: format-python, lint-python

refactor(agents): generate session id in route
  src/phoenix/db/models.py
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/api/mutations/test_agent_session_mutations.py
  tests/unit/server/api/routers/test_agents.py
  tests/unit/server/api/types/test_AgentSession.py
Due: format-python, lint-python

refactor(agents): split session persistence helpers
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/api/routers/test_agents.py
Due: format-python, lint-python

fix(agents): reject chats without messages
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/agents/test_agents_router.py
  tests/unit/server/api/routers/test_agents.py
Due: format-python, lint-python

refactor(agents): inline session id generation
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python

refactor(agents): clarify session chunk flag
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python

feat(agents): add temporary chat sessions
  app/src/agent/chat/__tests__/buildAgentChatRequestBody.test.ts
  app/src/agent/chat/buildAgentChatRequestBody.ts
  app/src/api/__generated__/v1.ts
  app/src/components/agent/AgentChatPanelView.tsx
  app/src/components/agent/AgentSessionsResource.tsx
  app/src/components/agent/SessionListMenu.tsx
  app/src/components/agent/__tests__/AgentChatPanelView.test.tsx
  app/src/components/agent/useAgentChat.ts
  app/src/store/__tests__/agentStore.test.ts
  app/src/store/agentStore.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  scripts/ddl/postgresql_schema.sql
  src/phoenix/config.py
  src/phoenix/db/migrations/versions/e767d3c57f32_create_agent_sessions_and_agent_session_.py
  src/phoenix/db/models.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/routers/agents.py
  src/phoenix/server/app.py
  src/phoenix/server/daemons/agent_session_sweeper.py
  tests/unit/server/agents/test_agents_router.py
  tests/unit/server/api/routers/test_agents.py
  tests/unit/server/api/types/test_AgentSession.py
  tests/unit/server/daemons/test_agent_session_sweeper.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

fix: table row hover and cursor styles (#14428)
  app/src/pages/evaluators/EvaluatorsTable.tsx
  app/src/pages/example/ExampleExperimentRunsTable.tsx
  app/src/pages/projects/ProjectsPage.tsx
Due: oxfmt-app, oxlint-app

fix(playground): keep template format selected (#14431)
  app/src/pages/playground/TemplateFormatRadioGroup.tsx
  app/src/pages/playground/__tests__/TemplateFormatRadioGroup.test.tsx
Due: oxfmt-app, oxlint-app

feat(sandboxes): add Islo sandbox backend
  app/schema.graphql
  app/src/components/dataset/__generated__/CreateCodeDatasetEvaluatorSlideoverQuery.graphql.ts
  app/src/components/dataset/__generated__/EditCodeDatasetEvaluatorSlideover_datasetEvaluatorQuery.graphql.ts
  app/src/components/evaluators/CodeEvaluatorLanguageSandboxFields.tsx
  app/src/components/sandbox/SandboxProviderIcon.tsx
  app/src/components/sandbox/__generated__/SandboxProviderSelectQuery.graphql.ts
  app/src/pages/dataset/evaluators/__generated__/CodeDatasetEvaluatorDetails_datasetEvaluator.graphql.ts
  app/src/pages/dataset/evaluators/__generated__/datasetEvaluatorDetailsLoaderQuery.graphql.ts
  app/src/pages/evaluators/__generated__/DatasetEvaluatorsTable_row.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigDialogCreateSandboxConfigMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigDialogUpdateSandboxConfigMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigsCardConfigEnabledSwitchMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SettingsSandboxesPageFragment.graphql.ts
  app/src/pages/settings/sandboxes/__tests__/formValuesToConfigPatch.test.ts
  app/src/pages/settings/sandboxes/utils.tsx
  app/src/types/evaluators.ts
  docs.json
  docs/phoenix/llms.txt
  docs/phoenix/self-hosting/features/sandbox-runtimes.mdx
  docs/phoenix/settings/sandboxes.mdx
  docs/phoenix/settings/sandboxes/islo.mdx
  pyproject.toml
  src/phoenix/config.py
  src/phoenix/db/models.py
  src/phoenix/server/api/mutations/sandbox_config_mutations.py
  src/phoenix/server/api/types/SandboxConfig.py
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/islo_backend.py
  src/phoenix/server/sandbox/types.py
  tests/unit/server/api/test_sync.py
  tests/unit/server/sandbox/test_islo_backend.py
  tests/unit/server/sandbox/test_unified_config_contract.py
  uv.lock
Due: format-python, lint-python, oxfmt-app, oxlint-app, uv-lock-check

fix: keep custom provider model lists SDK-scoped
  src/phoenix/server/api/types/GenerativeModelCustomProvider.py
  tests/unit/server/api/types/test_GenerativeModelCustomProvider.py
Due: format-python, lint-python

fix(ui): contain long experiment run errors
  app/src/pages/example/ExampleExperimentRunsTable.tsx
  app/src/pages/example/__tests__/ExampleExperimentRunsTable.test.tsx
Due: oxfmt-app, oxlint-app

docs(sandboxes): create Islo keys with CLI
  docs/phoenix/settings/sandboxes/islo.mdx
  src/phoenix/server/sandbox/types.py
Due: format-python, lint-python

fix: overflow bars on tiledpanel extra actions (#14430)
  app/src/components/react-resizable-panels/TitledPanel.tsx
Due: oxfmt-app, oxlint-app

docs: fill small feature-gap docs across evals, tracing, playground, and packages
  docs/phoenix/datasets-and-experiments/how-to-experiments/run-experiments.mdx
  docs/phoenix/evaluation/llm-evals/executors.mdx
  docs/phoenix/prompt-engineering/how-to-prompts/configure-ai-providers.mdx
  docs/phoenix/prompt-engineering/how-to-prompts/using-the-playground.mdx
  docs/phoenix/sdk-api-reference/python/arize-phoenix-client.mdx
  docs/phoenix/tracing/how-to-tracing/feedback-and-annotations/annotating-in-the-ui.mdx
  docs/phoenix/tracing/llm-traces/projects.mdx
  js/packages/phoenix-client/README.md
  packages/phoenix-client/README.md
  packages/phoenix-evals/src/phoenix/evals/evaluators.py
  packages/phoenix-otel/docs/source/index.md
Due: format-python, lint-python, oxfmt-js

docs: fix broken internal links to moved/renamed pages
  docs/phoenix/evaluation/concepts-evals/evaluating-multi-agent-systems.mdx
  docs/phoenix/integrations/python/pydantic/pydantic-evals.mdx
  docs/phoenix/release-notes/01-2025/01-18-2025-automatic-and-manual-span-tracing.mdx
  docs/phoenix/self-hosting/features/management.mdx
  docs/phoenix/tracing/how-to-tracing/importing-and-exporting-traces/importing-atif-trajectories.mdx
  docs/phoenix/tracing/how-to-tracing/importing-and-exporting-traces/importing-existing-traces.mdx
  docs/phoenix/tracing/llm-traces.mdx
Due: none

docs(cli): sync TypeScript CLI reference with phoenix-cli README
  docs/phoenix/sdk-api-reference/typescript/arizeai-phoenix-cli.mdx
Due: none

docs(config): document .env.phoenix discovery, PHOENIX_PROJECT, and endpoint/key/collector distinction
  docs/phoenix/environments.mdx
  docs/phoenix/sdk-api-reference.mdx
  docs/phoenix/sdk-api-reference/python/arize-phoenix-otel.mdx
  docs/phoenix/tracing/concepts-tracing/otel-openinference/phoenix-otel-helpers.mdx
Due: none

refactor(db): rename agent session project session column
  scripts/ddl/postgresql_schema.sql
  src/phoenix/db/migrations/versions/e767d3c57f32_create_agent_sessions_and_agent_session_.py
  src/phoenix/db/models.py
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/agents/test_agents_router.py
  tests/unit/server/api/mutations/test_agent_session_mutations.py
  tests/unit/server/api/routers/test_agents.py
  tests/unit/server/api/types/test_AgentSession.py
Due: format-python, lint-python

fix(agents): preserve trace project for resumed sessions
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/agents/test_agents_router.py
Due: format-python, lint-python

chore: gh-stack skill
  .agents/skills/gh-stack/SKILL.md
Due: none

fix(online-eval): harden queue lifecycle
  src/phoenix/config.py
  src/phoenix/server/app.py
  src/phoenix/server/online_eval/consumer.py
  src/phoenix/server/online_eval/coordinator.py
  src/phoenix/server/online_eval/db_coordinator.py
  src/phoenix/server/online_eval/producer.py
  src/phoenix/server/prometheus.py
  tests/unit/server/online_eval/test_app_wiring.py
  tests/unit/server/online_eval/test_db_coordinator.py
  tests/unit/server/online_eval/test_producer.py
  tests/unit/test_config.py
Due: format-python, lint-python

fix(online-eval): harden consumer execution
  src/phoenix/server/online_eval/consumer.py
  src/phoenix/server/online_eval/coordinator.py
  src/phoenix/server/online_eval/db_coordinator.py
  src/phoenix/server/online_eval/executor.py
  tests/unit/server/online_eval/test_consumer.py
  tests/unit/server/online_eval/test_db_coordinator.py
Due: format-python, lint-python

fix(online-eval): harden producer correctness
  src/phoenix/server/online_eval/producer.py
  tests/unit/server/online_eval/test_producer.py
Due: format-python, lint-python

fix: harden online eval producer rescans
  src/phoenix/server/online_eval/producer.py
  tests/unit/server/online_eval/test_consumer.py
  tests/unit/server/online_eval/test_producer.py
Due: format-python, lint-python

style(online-eval): drop narration comment
  src/phoenix/server/online_eval/consumer.py
Due: format-python, lint-python

feat(cli): streamline px setup credentials with browser OAuth login
  js/packages/phoenix-cli/src/commands/auth.ts
  js/packages/phoenix-cli/src/oauth.ts
  js/packages/phoenix-cli/src/setup/copy.ts
  js/packages/phoenix-cli/src/setup/deps/buildDefaultDeps.ts
  js/packages/phoenix-cli/src/setup/deps/index.ts
  js/packages/phoenix-cli/src/setup/deps/oauthLogin.ts
  js/packages/phoenix-cli/src/setup/deps/prompter.ts
  js/packages/phoenix-cli/src/setup/steps/establishConnection.ts
  js/packages/phoenix-cli/src/setup/ui/clackPrompter.ts
  js/packages/phoenix-cli/test/oauth.test.ts
  js/packages/phoenix-cli/test/setup/establishConnection.test.ts
  js/packages/phoenix-cli/test/setup/fakes.ts
  js/packages/phoenix-cli/test/setup/oauthLogin.test.ts
  js/packages/phoenix-cli/test/setup/runSetup.test.ts
Due: oxfmt-js, oxlint-js

feat(agent): show prompt token cache details
  app/src/components/agent/ChatSessionUsage.tsx
  app/src/components/agent/ChatTokenUsage.tsx
  app/src/components/agent/__tests__/ChatTokenUsage.test.tsx
  app/stories/ChatTokenUsage.stories.tsx
Due: oxfmt-app, oxlint-app

refactor(db): reorder agent session unique constraint
  scripts/ddl/postgresql_schema.sql
  src/phoenix/db/migrations/versions/e767d3c57f32_create_agent_sessions_and_agent_session_.py
  src/phoenix/db/models.py
Due: format-python, lint-python

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
