Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

clean up
  scripts/docker/devops/oidc-server/frontend/pnpm-lock.yaml
  scripts/docker/devops/oidc-server/pnpm-lock.yaml
  scripts/docker/devops/smtp-server/pnpm-lock.yaml
  scripts/mock-llm-server/pnpm-lock.yaml
Due: none

chore(main): release arize-phoenix 13.4.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

chore(app): use single lint command with set-state-in-effect
  .github/workflows/typescript-CI.yml
  app/.oxlintrc.json
  app/.oxlintrc.react-hooks.json
  app/package.json
Due: oxfmt-app

chore(main): release arize-phoenix 13.4.0 (#11608)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

fix variables editor
  app/src/pages/playground/VariableEditor.tsx
Due: oxfmt-app, oxlint-app

chore: update phoenix version to 13.4.0 in kustomize and helm
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

initial changes
  docs.json
  docs/phoenix/evaluation/concepts-evals/llm-as-a-judge.mdx
  docs/phoenix/evaluation/how-to-evals.mdx
  docs/phoenix/evaluation/how-to-evals/custom-llm-evaluators.mdx
  docs/phoenix/evaluation/how-to-evals/prompt-formats.mdx
  docs/phoenix/evaluation/llm-evals.mdx
  docs/phoenix/evaluation/server-evals/pre-built-metrics.mdx
  docs/phoenix/evaluation/server-evals/pre-built-metrics/contains.mdx
  docs/phoenix/evaluation/server-evals/pre-built-metrics/correctness.mdx
  docs/phoenix/evaluation/server-evals/pre-built-metrics/exact-match.mdx
  docs/phoenix/evaluation/server-evals/pre-built-metrics/json-distance.mdx
  docs/phoenix/evaluation/server-evals/pre-built-metrics/levenshtein-distance.mdx
  docs/phoenix/evaluation/server-evals/pre-built-metrics/regex.mdx
  docs/phoenix/evaluation/server-evals/pre-built-metrics/tool-invocation.mdx
  docs/phoenix/evaluation/server-evals/pre-built-metrics/tool-selection.mdx
  docs/phoenix/release-notes/12-2025/12-04-2025-evaluator-message-formats.mdx
Due: none

chore: remove AGENTS.md contents (#11748)
  AGENTS.md
Due: none

tweaks
  docs.json
  docs/phoenix/evaluation/concepts-evals/llm-as-a-judge.mdx
  docs/phoenix/evaluation/how-to-evals.mdx
  docs/phoenix/evaluation/how-to-evals/batch-evaluations.mdx
  docs/phoenix/evaluation/how-to-evals/configuring-the-llm.mdx
  docs/phoenix/evaluation/how-to-evals/using-evals-with-phoenix.mdx
  docs/phoenix/evaluation/server-evals/overview.mdx
  docs/phoenix/evaluation/tutorials/customize-your-llm-endpoint.mdx
  docs/phoenix/evaluation/tutorials/run-evals-with-built-in-evals.mdx
Due: none

polish
  docs/phoenix/evaluation/llm-evals.mdx
  docs/phoenix/evaluation/pre-built-metrics/tool-invocation.mdx
  docs/phoenix/evaluation/pre-built-metrics/tool-selection.mdx
  docs/phoenix/evaluation/server-evals/llm-evaluators.mdx
  docs/phoenix/evaluation/server-evals/pre-built-metrics/tool-invocation.mdx
  docs/phoenix/evaluation/server-evals/pre-built-metrics/tool-selection.mdx
Due: none

fix(evals): handle litellm 1.81.16 no longer auto-converting usage=None to Usage(0,0,0) (#11754)
  packages/phoenix-evals/src/phoenix/evals/legacy/models/litellm.py
Due: format-python, lint-python

refactor(ci): split release into release-please + publish workflow
  .github/workflows/publish.yaml
  .github/workflows/release.yml
  .python-version
Due: none

refactor(ci): split release into release-please + publish workflow (#11759)
  .github/workflows/publish.yaml
  .github/workflows/release.yml
  .python-version
Due: none

chore(main): release arize-phoenix-evals 2.11.0
  .release-please-manifest.json
  packages/phoenix-evals/CHANGELOG.md
  packages/phoenix-evals/pyproject.toml
Due: uv-lock-check

ci: remove sparse checkout
  .github/workflows/publish.yaml
Due: none

ci: remove sparse checkout (#11761)
  .github/workflows/publish.yaml
Due: none

ci: remove sparse checkout (#11762)
  .github/workflows/publish.yaml
Due: none

docs: update openapi schema with sessions endpoints
  schemas/openapi.json
Due: none

codegen: regenerate Python and TypeScript client types for sessions endpoints
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

codegen: update openapi schema and regenerate client types for order param
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix: rename _get_project_by_identifier to public and add order param to sessions
  docs/phoenix/release-notes/04-2025/04-09-2025-project-management-api-enhancements.mdx
  src/phoenix/server/api/routers/v1/annotations.py
  src/phoenix/server/api/routers/v1/projects.py
  src/phoenix/server/api/routers/v1/sessions.py
  src/phoenix/server/api/routers/v1/spans.py
  src/phoenix/server/api/routers/v1/utils.py
Due: format-python, lint-python

feat: add GET endpoints for sessions REST API
  src/phoenix/server/api/routers/v1/sessions.py
  tests/unit/server/api/routers/v1/test_sessions.py
Due: format-python, lint-python

test: update session tests for ascending default order and endpoint coverage
  tests/integration/_helpers.py
  tests/unit/server/api/routers/v1/test_sessions.py
Due: format-python, lint-python

uv sync
  uv.lock
Due: uv-lock-check

ci: update lockfile in release-please pr
  .github/workflows/release.yml
Due: none

clean
  .github/workflows/release.yml
Due: none

chore(main): release arize-phoenix-evals 2.11.0 (#11597)
  .release-please-manifest.json
  packages/phoenix-evals/CHANGELOG.md
  packages/phoenix-evals/pyproject.toml
  uv.lock
Due: uv-lock-check

fix(deps): update arize-phoenix-evals to 2.11.0
  pyproject.toml
Due: uv-lock-check

fix: update lockfile in release-please pr (#11764)
  .github/workflows/release.yml
Due: none

trigger release
  src/phoenix/__init__.py
Due: format-python, lint-python

fix: expect 404 for session endpoint with invalid ID in integration tests
  tests/integration/_helpers.py
Due: format-python, lint-python

trigger release (#11766)
  src/phoenix/__init__.py
Due: format-python, lint-python

ci: run publish-packages steps from repo root, only uv build in package dir
  .github/workflows/publish.yaml
Due: none

ci: run publish-packages steps from repo root, only uv build in package dir (#11767)
  .github/workflows/publish.yaml
Due: none

fix: sync lockfile in release pr
  src/phoenix/server/api/subscriptions.py
Due: format-python, lint-python

fix: sync lockfile in release pr (#11768)
  src/phoenix/server/api/subscriptions.py
Due: format-python, lint-python

Revert "fix: update lockfile in release-please pr (#11764)"
  .github/workflows/release.yml
Due: none

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
