Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

test(agents): document compatibility normalizations
  tests/unit/db/types/test_data_stream_protocol_compatibility.py
Due: format-python, lint-python

refactor(deps): declare h2 via httpx[http2] extra
  pyproject.toml
  uv.lock
Due: uv-lock-check

docs(auth): explain http2 client kwarg
  src/phoenix/server/oauth2.py
Due: format-python, lint-python

feat(auth): negotiate HTTP/2 for OAuth2/OIDC provider requests (#14559)
  pyproject.toml
  src/phoenix/server/oauth2.py
  uv.lock
Due: format-python, lint-python, uv-lock-check

chore(main): release arize-phoenix 19.3.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

fix(phoenix-otel): detach default processor before shutdown
  packages/phoenix-otel/src/phoenix/otel/otel.py
  packages/phoenix-otel/tests/test_otel.py
Due: format-python, lint-python

chore(blogs): mcp and code-mode blog post drafts
  blogs/code-mode-outline.md
  blogs/code-mode.md
  blogs/mcp.md
Due: none

feat(evals): rebuild MCP surface benchmark as a pytest suite
  evals/mcp/README.md
  evals/mcp/__init__.py
  evals/mcp/analyze.py
  evals/mcp/conftest.py
  evals/mcp/harness/__init__.py
  evals/mcp/harness/arms.py
  evals/mcp/harness/environment.py
  evals/mcp/harness/ground_truth.py
  evals/mcp/harness/judge.py
  evals/mcp/harness/runner.py
  evals/mcp/harness/sessions.py
  evals/mcp/pytest.ini
  evals/mcp/questions.py
  evals/mcp/rejudge.py
  evals/mcp/report.py
  evals/mcp/results/FINDINGS.md
  evals/mcp/results/ground-truth-20260720T053903Z.json
  evals/mcp/results/ground-truth-20260720T071302Z.json
  evals/mcp/results/report-20260720T053903Z.md
  evals/mcp/results/report-20260720T071302Z.md
  evals/mcp/results/runs-20260720T053903Z-rejudged-ground-truth.json
  evals/mcp/results/runs-20260720T053903Z-rejudged-rejudged-ground-truth.json
  evals/mcp/results/runs-20260720T053903Z-rejudged-rejudged.jsonl
  evals/mcp/results/runs-20260720T053903Z-rejudged.jsonl
  evals/mcp/results/runs-20260720T053903Z.jsonl
  evals/mcp/results/runs-20260720T071302Z-rejudged-ground-truth.json
  evals/mcp/results/runs-20260720T071302Z-rejudged.jsonl
  evals/mcp/results/runs-20260720T071302Z.jsonl
  evals/mcp/tests/__init__.py
  evals/mcp/tests/test_questions.py
Due: format-python, lint-python

chore(blogs): consolidate to a single code-mode post
  blogs/code-mode-outline.md
  blogs/mcp.md
Due: none

chore(main): release arize-phoenix 19.3.0 (#14537)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

feat(js): upgrade phoenix-otel to openinference-vercel v3 for AI SDK v7 spans
  app/src/components/project/integrationSnippets/vercelAiSdk.ts
  docs/phoenix/integrations/typescript/vercel/vercel-ai-sdk-tracing-js.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-otel/overview.mdx
  docs/phoenix/tracing/tutorial/your-first-traces.mdx
  js/.changeset/ai-sdk-7-otel.md
  js/packages/phoenix-otel/README.md
  js/packages/phoenix-otel/package.json
  js/packages/phoenix-otel/src/index.ts
  js/packages/phoenix-otel/src/lazyOpenInferenceSpanProcessor.ts
  js/packages/phoenix-otel/src/register.ts
  js/packages/phoenix-otel/test/entryPoints.test.ts
  js/packages/phoenix-otel/test/lazyOpenInferenceSpanProcessor.test.ts
  js/pnpm-lock.yaml
Due: oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

fix(js): register AI SDK telemetry explicitly in onboarding snippet, add phoenix-otel AI SDK v7 example
  app/src/components/project/integrationSnippets/vercelAiSdk.ts
  app/src/pages/project/integrationRegistry.tsx
  docs/phoenix/integrations/typescript/vercel/vercel-ai-sdk-tracing-js.mdx
  js/packages/phoenix-otel/examples/ai-sdk-v7/README.md
  js/packages/phoenix-otel/examples/ai-sdk-v7/instrumentation.ts
  js/packages/phoenix-otel/examples/ai-sdk-v7/main.ts
  js/packages/phoenix-otel/examples/ai-sdk-v7/package.json
  js/packages/phoenix-otel/examples/ai-sdk-v7/tsconfig.json
Due: oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

feat(js): add runnable ai-sdk-agent example app
  js/examples/apps/ai-sdk-agent/README.md
  js/examples/apps/ai-sdk-agent/agent.ts
  js/examples/apps/ai-sdk-agent/instrumentation.ts
  js/examples/apps/ai-sdk-agent/package.json
  js/examples/apps/ai-sdk-agent/tsconfig.json
  js/packages/phoenix-otel/examples/ai-sdk-v7/README.md
  js/packages/phoenix-otel/examples/ai-sdk-v7/instrumentation.ts
  js/packages/phoenix-otel/examples/ai-sdk-v7/main.ts
  js/packages/phoenix-otel/examples/ai-sdk-v7/tsconfig.json
  js/pnpm-lock.yaml
Due: oxfmt-js, oxlint-js

feat(js): print the project redirect URL from the ai-sdk-agent example
  js/examples/apps/ai-sdk-agent/agent.ts
  js/examples/apps/ai-sdk-agent/instrumentation.ts
Due: oxfmt-js, oxlint-js

docs(js): wire the Phoenix API key explicitly in the ai-sdk-agent example
  js/examples/apps/ai-sdk-agent/instrumentation.ts
Due: oxfmt-js, oxlint-js

fix(js): swap speaker emojis in ai-sdk-agent output
  js/examples/apps/ai-sdk-agent/agent.ts
Due: oxfmt-js, oxlint-js

chore: update phoenix version to 19.3.0 in kustomize and helm
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

chore: update phoenix version to 19.3.0 in kustomize and helm (#14565)
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

chore(main): release arize-phoenix-evals 3.2.0
  .release-please-manifest.json
  packages/phoenix-evals/CHANGELOG.md
  packages/phoenix-evals/pyproject.toml
Due: uv-lock-check

feat(components): make IDBadge the consolidated click-to-copy ID element
  app/src/components/core/id/IDBadge.tsx
  app/src/components/core/id/TitleWithID.tsx
  app/src/pages/experiment/TraceDetailsDialog.tsx
  app/src/pages/trace/SessionDetailsTraceList.tsx
  app/stories/IDBadge.stories.tsx
Due: oxfmt-app, oxlint-app

feat(components): make IDBadge the consolidated click-to-copy ID element (#14567)
  app/src/components/core/id/IDBadge.tsx
  app/src/components/core/id/TitleWithID.tsx
  app/src/pages/experiment/TraceDetailsDialog.tsx
  app/src/pages/trace/SessionDetailsTraceList.tsx
  app/stories/IDBadge.stories.tsx
Due: oxfmt-app, oxlint-app

feat(tracing): annotations band under the span header
  app/src/agent/tools/batchSpanAnnotate/__generated__/applySpanAnnotationsCreateMutation.graphql.ts
  app/src/agent/tools/batchSpanAnnotate/applySpanAnnotations.ts
  app/src/components/annotation/AddAnnotationButton.tsx
  app/src/components/annotation/AnnotationSummaryGroup.tsx
  app/src/components/annotation/AnnotationSummaryRow.tsx
  app/src/components/annotation/index.ts
  app/src/components/trace/SpanAnnotationsEditor.tsx
  app/src/components/trace/__generated__/SpanAnnotationsEditorCreateAnnotationMutation.graphql.ts
  app/src/components/trace/__generated__/SpanAnnotationsEditorDeleteAnnotationMutation.graphql.ts
  app/src/components/trace/__generated__/SpanAnnotationsEditorEditAnnotationMutation.graphql.ts
  app/src/pages/trace/SpanAside.tsx
  app/src/pages/trace/SpanDetails.tsx
  app/src/pages/trace/__generated__/SpanAsideAnnotationList_span.graphql.ts
  app/src/pages/trace/__generated__/SpanAside_span.graphql.ts
  app/src/pages/trace/__generated__/SpanDetailsQuery.graphql.ts
  app/stories/AnnotationSummaryRow.stories.tsx
Due: oxfmt-app, oxlint-app

feat(tracing): redesign span header into identity and meta rows
  app/src/pages/SpanHeader.tsx
  app/src/pages/trace/SpanDetails.tsx
Due: oxfmt-app, oxlint-app

feat(components): add quiet hover affordance to span meta items
  app/src/components/core/icon/Icons.tsx
  app/src/components/core/id/IDBadge.tsx
  app/src/components/core/styles.ts
  app/src/components/trace/SpanTokenCosts.tsx
  app/src/components/trace/SpanTokenCount.tsx
  app/src/components/trace/TokenCosts.tsx
  app/src/components/trace/TokenCount.tsx
  app/src/pages/SpanHeader.tsx
  app/stories/IDBadge.stories.tsx
Due: oxfmt-app, oxlint-app

feat(tracing): redesign span header into identity and meta rows (#14568)
  app/src/components/core/icon/Icons.tsx
  app/src/components/core/id/IDBadge.tsx
  app/src/components/core/styles.ts
  app/src/components/trace/SpanTokenCosts.tsx
  app/src/components/trace/SpanTokenCount.tsx
  app/src/components/trace/TokenCosts.tsx
  app/src/components/trace/TokenCount.tsx
  app/src/pages/SpanHeader.tsx
  app/src/pages/trace/SpanDetails.tsx
  app/stories/IDBadge.stories.tsx
Due: oxfmt-app, oxlint-app

feat(components): align span kind icon and timeline bar colors with token treatment
  app/src/components/timeline/TimelineBar.tsx
  app/src/components/trace/LatencyText.tsx
  app/src/components/trace/SpanKindIcon.tsx
  app/src/components/trace/SpanKindToken.tsx
  app/src/components/trace/TraceTree.tsx
  app/src/components/trace/spanKindColor.ts
  app/src/components/trace/useSpanKindColor.ts
Due: oxfmt-app, oxlint-app

revert(components): restore 3px timeline bar track rounding
  app/src/components/timeline/TimelineBar.tsx
Due: oxfmt-app, oxlint-app

feat(components): align span kind icon and timeline bar colors with token treatment (#14573)
  app/src/components/timeline/TimelineBar.tsx
  app/src/components/trace/LatencyText.tsx
  app/src/components/trace/SpanKindIcon.tsx
  app/src/components/trace/SpanKindToken.tsx
  app/src/components/trace/TraceTree.tsx
  app/src/components/trace/spanKindColor.ts
  app/src/components/trace/useSpanKindColor.ts
Due: oxfmt-app, oxlint-app

docs: advertise remote MCP server in README
  README.md
Due: none

docs: advertise remote MCP server in README (#14574)
  README.md
Due: none

feat(agents): admin-configurable retention for persisted agent sessions
  app/schema.graphql
  app/src/agent/chat/__tests__/buildAgentChatRequestBody.test.ts
  app/src/components/agent/AgentSessionsResource.tsx
  app/src/components/agent/SessionListMenu.tsx
  app/src/components/agent/__generated__/AgentSessionsResourcePaginationQuery.graphql.ts
  app/src/components/agent/__generated__/AgentSessionsResourceQuery.graphql.ts
  app/src/components/agent/__generated__/AgentSessionsResource_sessions.graphql.ts
  app/src/components/agent/__tests__/AgentChatTopNavButton.test.tsx
  app/src/components/agent/__tests__/AgentChatWidget.test.tsx
  app/src/components/agent/__tests__/Chat.test.tsx
  app/src/components/agent/__tests__/sessionExpiryUtils.test.ts
  app/src/components/agent/sessionExpiryUtils.ts
  app/src/pages/__generated__/authenticatedRootLoaderQuery.graphql.ts
  app/src/pages/authenticatedRootLoader.ts
  app/src/pages/settings/SettingsAgentsWorkspaceCard.tsx
  app/src/pages/settings/__generated__/SettingsAgentsWorkspaceCardSetSessionRetentionMutation.graphql.ts
  app/src/store/__tests__/agentStore.test.ts
  app/src/store/agentStore.ts
  src/phoenix/db/models.py
  src/phoenix/server/api/mutations/system_settings_mutations.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/AgentSession.py
  src/phoenix/server/api/types/AgentsConfig.py
  src/phoenix/server/app.py
  src/phoenix/server/daemons/agent_session_sweeper.py
  src/phoenix/server/daemons/system_settings.py
  src/phoenix/server/settings/registry.py
  tests/unit/server/api/mutations/test_agent_session_retention_mutations.py
  tests/unit/server/api/types/test_AgentSession.py
  tests/unit/server/daemons/test_agent_session_sweeper.py
  tests/unit/server/daemons/test_system_settings.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix(ui): keep PXI button in nav beside drawers (#14577)
  app/src/components/agent/AgentChatTopNavButton.tsx
  app/src/components/agent/__tests__/AgentChatTopNavButton.test.tsx
  app/src/components/nav/Navbar.tsx
  app/src/hooks/__tests__/useHasOpenModal.test.tsx
  app/src/hooks/useHasOpenModal.ts
  app/src/pages/Layout.tsx
Due: oxfmt-app, oxlint-app

feat: add project evaluators table
  app/src/Routes.tsx
  app/src/pages/project/evaluators/ProjectEvaluatorsPage.tsx
  app/src/pages/project/evaluators/ProjectEvaluatorsTable.tsx
  app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTableEvaluatorsQuery.graphql.ts
  app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_evaluators.graphql.ts
  app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_row.graphql.ts
  app/src/pages/project/evaluators/__generated__/projectEvaluatorsLoaderQuery.graphql.ts
  app/src/pages/project/evaluators/projectEvaluatorsLoader.ts
  app/src/pages/project/evaluators/projectEvaluatorsMockData.ts
Due: oxfmt-app, oxlint-app

fix(agents): refine session retention controls
  app/schema.graphql
  app/src/pages/settings/SettingsAgentsWorkspaceCard.tsx
  app/src/pages/settings/__generated__/SettingsAgentsWorkspaceCardSetSessionRetentionMutation.graphql.ts
  src/phoenix/server/api/mutations/system_settings_mutations.py
  src/phoenix/server/daemons/agent_session_sweeper.py
  src/phoenix/server/settings/registry.py
  tests/unit/server/api/mutations/test_agent_session_retention_mutations.py
  tests/unit/server/api/types/test_AgentSession.py
  tests/unit/server/daemons/test_agent_session_sweeper.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

cleanup
  Makefile
  evals/mcp/README.md
  evals/mcp/conftest.py
  evals/mcp/questions.py
Due: format-python, lint-python

fix(agents): normalize disabled retention settings
  app/schema.graphql
  app/src/agent/chat/__tests__/buildAgentChatRequestBody.test.ts
  app/src/components/agent/AgentSessionsResource.tsx
  app/src/components/agent/__tests__/AgentChatTopNavButton.test.tsx
  app/src/components/agent/__tests__/AgentChatWidget.test.tsx
  app/src/components/agent/__tests__/Chat.test.tsx
  app/src/pages/__generated__/authenticatedRootLoaderQuery.graphql.ts
  app/src/pages/settings/SettingsAgentsWorkspaceCard.tsx
  app/src/pages/settings/__generated__/SettingsAgentsWorkspaceCardSetSessionRetentionMutation.graphql.ts
  app/src/store/__tests__/agentStore.test.ts
  app/src/store/agentStore.ts
  src/phoenix/server/api/mutations/system_settings_mutations.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/AgentsConfig.py
  src/phoenix/server/settings/registry.py
  tests/unit/server/api/mutations/test_agent_session_retention_mutations.py
  tests/unit/server/api/types/test_AgentSession.py
  tests/unit/server/daemons/test_system_settings.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

refactor(agents): remove session expiry indicators from the session list
  app/schema.graphql
  app/src/components/agent/AgentSessionsResource.tsx
  app/src/components/agent/SessionListMenu.tsx
  app/src/components/agent/__generated__/AgentSessionsResourcePaginationQuery.graphql.ts
  app/src/components/agent/__generated__/AgentSessionsResourceQuery.graphql.ts
  app/src/components/agent/__generated__/AgentSessionsResource_sessions.graphql.ts
  app/src/components/agent/__tests__/sessionExpiryUtils.test.ts
  app/src/components/agent/sessionExpiryUtils.ts
  src/phoenix/server/api/types/AgentSession.py
  src/phoenix/server/api/types/AgentsConfig.py
  tests/unit/server/api/types/test_AgentSession.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

chore(graphql): regenerate schema
  app/schema.graphql
Due: none

fix(agents): lower session count re-enable default
  app/src/pages/settings/SettingsAgentsWorkspaceCard.tsx
Due: oxfmt-app, oxlint-app

feat(agents): restore legacy /agents/server/sessions/{id}/chat route for published CLIs
  app/src/api/__generated__/v1.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/server/api/openapi/schema.py
  src/phoenix/server/api/routers/__init__.py
  src/phoenix/server/api/routers/legacy_agents.py
  src/phoenix/server/app.py
  tests/unit/server/agents/test_legacy_agents_router.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js
