Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

fix(traces): count only leaf LLM spans in project token totals
  src/phoenix/server/api/dataloaders/token_counts.py
  tests/unit/server/api/dataloaders/test_token_counts.py
Due: format-python, lint-python

fix(server): drop stale type-ignores now that ldap3 stubs type unbind
  src/phoenix/server/ldap.py
Due: format-python, lint-python

chore(deps): weekly dependency upgrade 2026-09-01
  js/app/package.json
  js/benchmarks/evals-benchmarks/package.json
  js/examples/apps/ai-sdk-agent/package.json
  js/examples/apps/cli-agent-starter-kit/package.json
  js/examples/apps/demo-document-relevancy-experiment/package.json
  js/examples/apps/eve-agent/package.json
  js/examples/apps/experiments-quickstart/package.json
  js/examples/apps/langchain-quickstart/package.json
  js/examples/apps/mastra-agent/package.json
  js/examples/apps/mastra-quickstart/package.json
  js/examples/apps/phoenix-experiment-runner/package.json
  js/examples/apps/tracing-tutorial/package.json
  js/packages/phoenix-cli/package.json
  js/packages/phoenix-client/package.json
  js/packages/phoenix-config/package.json
  js/packages/phoenix-evals/package.json
  js/packages/phoenix-mcp/package.json
  js/packages/phoenix-otel/package.json
  js/packages/phoenix-testing/package.json
  js/pnpm-lock.yaml
  js/pnpm-workspace.yaml
  schemas/phoenix-cli-settings.json
  tests/unit/server/agents/fixtures/ui_message_stream/fixtures.json
  tests/unit/server/agents/fixtures/ui_message_stream/process-ui-message-stream.test.ts
  uv.lock
Due: oxfmt-js, uv-lock-check

chore(deps): weekly dependency upgrade 2026-09-03
  js/app/package.json
  js/app/scripts/generate-ui-message-stream-fixtures.ts
  js/benchmarks/evals-benchmarks/package.json
  js/examples/apps/ai-sdk-agent/package.json
  js/examples/apps/cli-agent-starter-kit/package.json
  js/examples/apps/demo-document-relevancy-experiment/package.json
  js/examples/apps/eve-agent/package.json
  js/examples/apps/experiments-quickstart/package.json
  js/examples/apps/langchain-quickstart/package.json
  js/examples/apps/mastra-agent/package.json
  js/examples/apps/mastra-quickstart/package.json
  js/examples/apps/tracing-tutorial/package.json
  js/packages/phoenix-cli/package.json
  js/packages/phoenix-client/package.json
  js/packages/phoenix-evals/package.json
  js/packages/phoenix-otel/package.json
  js/pnpm-lock.yaml
  tests/unit/server/agents/fixtures/ui_message_stream/fixtures.json
  tests/unit/server/agents/fixtures/ui_message_stream/process-ui-message-stream.test.ts
  uv.lock
Due: oxfmt-js, oxlint-js, uv-lock-check

fix(agents): keep text/reasoning parts active across step boundaries (ai@7.0.85)
  src/phoenix/server/agents/vercel_ui_message_stream.py
  tests/unit/server/agents/test_pydantic_ai_metadata_canary.py
Due: format-python, lint-python

docs(sandbox): name what Monty's guest can import
  src/phoenix/server/sandbox/monty_backend.py
  tests/unit/server/api/test_capability_advertisement.py
  tests/unit/server/sandbox/test_monty_backend.py
Due: format-python, lint-python

fix(agents): stop retrying GitHub calls after an authorization failure
  src/phoenix/server/agents/capabilities/github_mcp.py
  tests/unit/server/agents/capabilities/test_github_mcp.py
Due: format-python, lint-python

chore(mcp): trim code-mode docstrings to what the code does not already say
  src/phoenix/server/mcp_server.py
  tests/unit/server/mcp/test_skills.py
Due: format-python, lint-python

refactor(mcp): read discovery tool names off the built tools instead of restating them
  src/phoenix/server/mcp_server.py
Due: format-python, lint-python

refactor(mcp): list the direct tools plainly in the execute description
  src/phoenix/server/mcp_server.py
Due: format-python, lint-python

fix(mcp): say in the execute description which direct tools call_tool cannot reach
  src/phoenix/server/mcp/skills/__init__.py
  src/phoenix/server/mcp_server.py
  tests/unit/server/mcp/test_skills.py
Due: format-python, lint-python

refactor(mcp): extend fastmcp's execute description via super() instead of restating it
  src/phoenix/server/mcp_server.py
Due: format-python, lint-python

refactor(ui): trim DSL filter view comments to their reasons
  js/app/src/pages/project/DSLFilterErrorFallback.tsx
  js/app/src/pages/project/PendingDSLFilter.tsx
  js/app/src/pages/project/SessionFilterConditionField.tsx
  js/app/src/pages/project/SpanFilterErrorFallback.tsx
  js/app/src/pages/project/TraceFilterConditionField.tsx
Due: oxfmt-js, oxlint-js

refactor(ui): trim filter URL-param comments to their reasons
  js/app/src/constants/searchParams.ts
  js/app/src/pages/project/ProjectPage.tsx
  js/app/src/pages/project/ProjectPageQueries.tsx
  js/app/src/pages/project/ProjectSessionsPage.tsx
  js/app/src/pages/project/ProjectTracesPage.tsx
  js/app/src/pages/project/SessionFiltersContext.tsx
  js/app/src/pages/project/SessionsTable.tsx
  js/app/src/pages/project/TraceFiltersContext.tsx
  js/app/src/pages/project/TracesTable.tsx
  js/app/src/pages/project/__tests__/SessionsTablePreloadIntegration.test.tsx
  js/app/src/pages/project/__tests__/TracesTablePreloadIntegration.test.tsx
  js/app/src/pages/project/filterConditionParam.ts
Due: oxfmt-js, oxlint-js

refactor(ui): give the trace and session filter fields the span field's shape
  js/app/src/pages/project/DSLFilterErrorFallback.tsx
  js/app/src/pages/project/PendingDSLFilter.tsx
  js/app/src/pages/project/PendingSpanFilter.tsx
  js/app/src/pages/project/SessionFilterConditionField.tsx
  js/app/src/pages/project/SessionsTable.tsx
  js/app/src/pages/project/SpanFilterErrorFallback.tsx
  js/app/src/pages/project/TraceFilterConditionField.tsx
  js/app/src/pages/project/TracesTable.tsx
  js/app/src/pages/project/__generated__/SessionFilterConditionFieldVocabularyQuery.graphql.ts
  js/app/src/pages/project/__generated__/TraceFilterConditionFieldVocabularyQuery.graphql.ts
  js/app/src/pages/project/__tests__/TracesTablePreloadIntegration.test.tsx
Due: oxfmt-js, oxlint-js

refactor(filters): trim identifier-filter comments to their reasons
  js/app/src/components/filter/annotationCompletions.ts
  tests/unit/trace/dsl/test_annotation_aliasing.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

refactor(ui): stop passing hasUserFilter to the DSL filter error fallback
  js/app/src/pages/project/ProjectSessionsPage.tsx
  js/app/src/pages/project/ProjectTracesPage.tsx
Due: oxfmt-js, oxlint-js

refactor(ui): show the error plainly in the DSL filter error fallback
  js/app/src/pages/project/DSLFilterErrorFallback.tsx
  js/app/src/pages/project/SpanFilterErrorFallback.tsx
Due: oxfmt-js, oxlint-js

refactor(ui): write DSL filter view comments for a cold reader
  js/app/src/pages/project/DSLFilterErrorFallback.tsx
  js/app/src/pages/project/PendingDSLFilter.tsx
  js/app/src/pages/project/PendingSpanFilter.tsx
  js/app/src/pages/project/SpanFilterErrorFallback.tsx
Due: oxfmt-js, oxlint-js

feat(filters): support filtering annotations by identifier
  js/app/src/components/filter/__tests__/annotationCompletions.test.ts
  js/app/src/components/filter/annotationCompletions.ts
  js/app/src/pages/project/SpanFilterConditionField.tsx
  js/app/src/pages/project/spanFilterDSL.ts
  src/phoenix/trace/dsl/filter.py
  src/phoenix/trace/dsl/session_filter.py
  src/phoenix/trace/dsl/trace_filter.py
  tests/unit/trace/dsl/session_filter_reference.py
  tests/unit/trace/dsl/test_annotation_aliasing.py
  tests/unit/trace/dsl/trace_filter_reference.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

refactor(filters): reflow the annotation completions doc comment
  js/app/src/components/filter/annotationCompletions.ts
Due: oxfmt-js, oxlint-js

feat(ui): make trace and session table filters URL-addressable
  js/app/src/constants/searchParams.ts
  js/app/src/pages/project/ProjectPage.tsx
  js/app/src/pages/project/ProjectPageQueries.tsx
  js/app/src/pages/project/ProjectSessionsPage.tsx
  js/app/src/pages/project/ProjectTracesPage.tsx
  js/app/src/pages/project/SessionFiltersContext.tsx
  js/app/src/pages/project/SessionsTable.tsx
  js/app/src/pages/project/TraceFiltersContext.tsx
  js/app/src/pages/project/TracesTable.tsx
  js/app/src/pages/project/__generated__/ProjectPageQueriesSessionsQuery.graphql.ts
  js/app/src/pages/project/__generated__/ProjectPageQueriesTracesQuery.graphql.ts
  js/app/src/pages/project/__tests__/SessionFiltersContext.test.tsx
  js/app/src/pages/project/__tests__/SessionsTablePreloadIntegration.test.tsx
  js/app/src/pages/project/__tests__/TraceFiltersContext.test.tsx
  js/app/src/pages/project/filterConditionParam.ts
Due: oxfmt-js, oxlint-js

ci: verify compiled MCP skills are up to date
  .github/workflows/python-CI.yml
Due: none

remove debug trace skill
  src/phoenix/server/agents/prompts/skills/debug-trace/SKILL.md
Due: none

feat(skills): share per-level filtered UI links from axial coding wrap-up
  .agents/skills/phoenix-axial-coding/SKILL.md
  src/phoenix/server/mcp/skills-lock.json
  src/phoenix/server/mcp/skills/phoenix-axial-coding/SKILL.md
Due: none

refactor(skills): make open/axial coding skills tooling-agnostic
  .agents/skills/phoenix-axial-coding/SKILL.md
  .agents/skills/phoenix-open-coding/SKILL.md
  src/phoenix/server/mcp/skills-lock.json
  src/phoenix/server/mcp/skills/phoenix-axial-coding/SKILL.md
  src/phoenix/server/mcp/skills/phoenix-open-coding/SKILL.md
Due: none

nix
  tests/unit/server/mcp/test_skills.py
Due: format-python, lint-python

feat(skills): per-run annotation config and name for axial coding
  .agents/skills/phoenix-axial-coding/SKILL.md
  .agents/skills/phoenix-open-coding/SKILL.md
  src/phoenix/server/mcp/skills-lock.json
  src/phoenix/server/mcp/skills/phoenix-axial-coding/SKILL.md
  src/phoenix/server/mcp/skills/phoenix-open-coding/SKILL.md
  tests/integration/auth/test_mcp.py
Due: format-python, lint-python

refactor(skills): remove span-coding, annotate-spans, and the write_span_note tool
  docs/phoenix/pxi.mdx
  evals/pxi/datasets/debug_trace_skill_trigger.yaml
  evals/pxi/datasets/evaluators_skill_trigger.yaml
  evals/pxi/datasets/experiments_skill_trigger.yaml
  evals/pxi/evaluators/tools.py
  evals/pxi/thresholds.yaml
  js/app/src/agent/slashCommands/slashTokens.ts
  js/app/src/components/agent/toolIconConfig.ts
  js/app/stories/ToolAndSkillIcons.stories.tsx
  src/phoenix/server/agents/agent_factory.py
  src/phoenix/server/agents/capabilities/tools/internal/__init__.py
  src/phoenix/server/agents/capabilities/tools/internal/write_span_note.py
  src/phoenix/server/agents/prompts/skills/annotate-spans/SKILL.md
  src/phoenix/server/agents/prompts/skills/evaluators/SKILL.md
  src/phoenix/server/agents/prompts/skills/experiments/SKILL.md
  src/phoenix/server/agents/prompts/skills/span-coding/SKILL.md
  src/phoenix/server/api/routers/agents.py
  src/phoenix/server/api/routers/legacy_agents.py
  src/phoenix/server/api/types/AgentSkill.py
  tests/unit/server/agents/capabilities/tools/internal/test_write_span_note.py
  tests/unit/server/agents/test_agent_factory.py
  tests/unit/server/api/test_queries.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

docs(skills): drop open/axial coding references from phoenix-cli
  .agents/skills/phoenix-cli/SKILL.md
Due: none

ci: accept card links into this repo when the file exists locally
  .github/.scripts/check-card-links.js
Due: none

feat(skills): add phoenix-open-coding and phoenix-axial-coding
  .agents/skills/README.md
  .agents/skills/phoenix-axial-coding/SKILL.md
  .agents/skills/phoenix-cli/SKILL.md
  .agents/skills/phoenix-open-coding/SKILL.md
  Makefile
  docs/phoenix/integrations/developer-tools/coding-agents.mdx
  src/phoenix/server/mcp/skills-lock.json
  src/phoenix/server/mcp/skills/phoenix-axial-coding/SKILL.md
  src/phoenix/server/mcp/skills/phoenix-open-coding/SKILL.md
  tests/unit/server/api/test_queries.py
  tests/unit/server/mcp/test_skills.py
  tests/unit/server/test_app_mcp_mount.py
Due: format-python, lint-python

feat(mcp): serve the shared skills root on the /mcp mount
  src/phoenix/server/mcp/skills/__init__.py
  src/phoenix/server/mcp/skills/general/project-overview/SKILL.md
  src/phoenix/server/mcp_server.py
  tests/unit/server/mcp/test_skills.py
  tests/unit/server/test_app_mcp_mount.py
Due: format-python, lint-python

feat(skills): filter axial coding wrap-up links by annotation identifier
  .agents/skills/phoenix-axial-coding/SKILL.md
  src/phoenix/server/mcp/skills-lock.json
  src/phoenix/server/mcp/skills/phoenix-axial-coding/SKILL.md
Due: none

feat(sandbox): expose the guest type checker through MontyRuntime
  src/phoenix/server/monty_runtime.py
  tests/unit/server/test_mcp_code_mode.py
Due: format-python, lint-python

chore(deps): bump strawberry-graphql to 0.327.0
  pyproject.toml
  requirements/type-check.txt
  src/phoenix/server/api/types/TimeSeries.py
  uv.lock
Due: format-python, lint-python, uv-lock-check

chore(deps): resolve @fastify/static and @opentelemetry/core advisories under scripts/
  scripts/docker/devops/oidc-server/package.json
  scripts/docker/devops/oidc-server/src/server.ts
  scripts/docker/devops/smtp-server/package.json
  scripts/ts-span-generator/package-lock.json
Due: none

docs: editorial pass on the 09.01.2026 release notes
  docs/phoenix/release-notes.mdx
  docs/phoenix/release-notes/09-2026/09-01-2026-github-issues-pii-detection-and-client-updates.mdx
  docs/phoenix/release-notes/2026.mdx
Due: none

docs: Add Phoenix release notes — 2026-09-02 (#15841)
  docs.json
  docs/phoenix/release-notes.mdx
  docs/phoenix/release-notes/09-2026/09-01-2026-github-issues-pii-detection-and-client-updates.mdx
  docs/phoenix/release-notes/2026.mdx
Due: none
