Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

chore(skills): drop skills CLI paragraph from README
  .agents/skills/README.md
Due: none

chore(skills): mark non-public skills internal so skills add hides them (#15641)
  .agents/skills/README.md
  .agents/skills/agent-browser/SKILL.md
  .agents/skills/gh-stack/SKILL.md
  .agents/skills/phoenix-sqlean/SKILL.md
Due: none

prompt update to catch addressed request but not suceeded in action
  docs/phoenix/evaluation/pre-built-metrics/completeness.mdx
  js/.changeset/completeness-evaluator.md
  js/benchmarks/evals-benchmarks/src/completeness.eval.ts
  js/packages/phoenix-evals/src/__generated__/default_templates/COMPLETENESS_CLASSIFICATION_EVALUATOR_CONFIG.ts
  packages/phoenix-evals/src/phoenix/evals/__generated__/classification_evaluator_configs/_completeness_classification_evaluator_config.py
  packages/phoenix-evals/src/phoenix/evals/metrics/completeness.py
  prompts/classification_evaluator_configs/COMPLETENESS_CLASSIFICATION_EVALUATOR_CONFIG.yaml
  src/phoenix/__generated__/classification_evaluator_configs/_completeness_classification_evaluator_config.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

refactor(datagen): record archetypes from fixed fixtures
  scripts/datagen/graph_multi_agent.py
  scripts/datagen/guardrailed_app.py
  scripts/datagen/langchain_agent_rag.py
  scripts/datagen/llama_index_rag.py
  scripts/datagen/openai_chat_sessions.py
  scripts/datagen/rag.py
  scripts/datagen/recording.py
  scripts/datagen/structured_extraction.py
  scripts/datagen/tool_agent.py
  tests/unit/datagen/test_graph_multi_agent_recorder.py
  tests/unit/datagen/test_openai_chat_recorder.py
  tests/unit/datagen/test_structured_extraction_recorder.py
  tests/unit/datagen/test_tool_agent_recorder.py
Due: format-python, lint-python

feat(client): record Harbor rewards as Phoenix evaluations (#15600)
  evals/harbor/scripts/test_phoenix_plugin_e2e.py
  evals/harbor/tasks/regression-triage/steps/step_01_aggregate/tests/check.py
  evals/harbor/tasks/regression-triage/steps/step_02_diagnose/tests/check.py
  evals/harbor/tasks/regression-triage/steps/step_03_trace_drilldown/tests/check.py
  evals/harbor/tasks/regression-triage/steps/step_04_create_split/tests/check.py
  internal_docs/specs/harbor-phoenix-plugin.md
  packages/phoenix-client/src/phoenix/client/harbor/_adapter.py
  packages/phoenix-client/src/phoenix/client/harbor/_model.py
  packages/phoenix-client/src/phoenix/client/harbor/_plugin.py
  packages/phoenix-client/src/phoenix/client/harbor/_recorder.py
  packages/phoenix-client/src/phoenix/client/harbor/_scores.py
  packages/phoenix-client/tests/client/harbor/test_harbor_contract.py
  packages/phoenix-client/tests/client/harbor/test_plugin.py
  packages/phoenix-client/tests/client/harbor/test_recorder.py
  packages/phoenix-client/tests/client/harbor/test_scores.py
Due: format-python, lint-python

refactor(datagen): align deployment with corpus replay
  .github/workflows/datagen-assets.yml
  DEVELOPMENT.md
  Dockerfile
  docs/phoenix/self-hosting/deployment-options/datagen.mdx
  helm/README.md
  helm/templates/datagen/deployment.yaml
  helm/values.yaml
  kustomize/README.md
  scripts/datagen/README.md
  scripts/datagen/corpus.py
  tests/unit/datagen/fixtures/fragment_bank/fragments.jsonl
  tests/unit/datagen/fixtures/fragment_bank/manifest.json
  tests/unit/datagen/fixtures/replay/fragments.jsonl
  tests/unit/datagen/fixtures/replay/traces.jsonl
  tests/unit/datagen/fixtures/scenario/fragments.jsonl
  tests/unit/datagen/fixtures/scenario/manifest.json
  tests/unit/datagen/fixtures/split_trace/fragments.jsonl
  tests/unit/datagen/fixtures/split_trace/manifest.json
  tests/unit/datagen/test_corpus_pipeline.py
  tests/unit/datagen/test_fetcher.py
  tests/unit/datagen/test_replayer.py
Due: format-python, lint-python

suggest running script before benchmark comment
  js/benchmarks/evals-benchmarks/src/pii_detection.eval.ts
Due: oxfmt-js, oxlint-js

fix(datagen): satisfy repository type checks
  pyproject.toml
  scripts/datagen/graph_multi_agent.py
  tests/unit/datagen/test_fake_tools.py
Due: format-python, lint-python, uv-lock-check

updated docs allowing more flexibility + explanation of FINDINGS
  docs/phoenix/evaluation/pre-built-metrics/pii-detection.mdx
Due: none

removed mentioning precision and recall
  prompts/classification_evaluator_configs/PII_DETECTION_CLASSIFICATION_EVALUATOR_CONFIG.yaml
Due: none

add promoted_dataset_evaluator label
  prompts/classification_evaluator_configs/PII_DETECTION_CLASSIFICATION_EVALUATOR_CONFIG.yaml
Due: none

Update prompts/classification_evaluator_configs/PII_DETECTION_CLASSIFICATION_EVALUATOR_CONFIG.yaml
  prompts/classification_evaluator_configs/PII_DETECTION_CLASSIFICATION_EVALUATOR_CONFIG.yaml
Due: none

Apply suggestion from @ehutt
  prompts/classification_evaluator_configs/PII_DETECTION_CLASSIFICATION_EVALUATOR_CONFIG.yaml
Due: none

Sync generated PII configs after YAML edits and fix eval comment formatting.
  js/benchmarks/evals-benchmarks/src/pii_detection.eval.ts
  js/packages/phoenix-evals/src/__generated__/default_templates/PII_DETECTION_CLASSIFICATION_EVALUATOR_CONFIG.ts
  packages/phoenix-evals/src/phoenix/evals/__generated__/classification_evaluator_configs/_pii_detection_classification_evaluator_config.py
  src/phoenix/__generated__/classification_evaluator_configs/_pii_detection_classification_evaluator_config.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

feat(datagen): add recorder condition materialization
  scripts/datagen/conditions.py
  scripts/datagen/fake_tools.py
  scripts/datagen/organic_conditions.json
  tests/unit/datagen/test_conditions.py
  tests/unit/datagen/test_fake_tools.py
Due: format-python, lint-python

feat(datagen): add conditioned live recording lane
  scripts/datagen/README.md
  scripts/datagen/graph_multi_agent.py
  scripts/datagen/guardrailed_app.py
  scripts/datagen/llama_index_rag.py
  scripts/datagen/openai_chat_sessions.py
  scripts/datagen/rag.py
  scripts/datagen/recording.py
  scripts/datagen/structured_extraction.py
  scripts/datagen/tool_agent.py
  tests/unit/datagen/test_graph_multi_agent_recorder.py
  tests/unit/datagen/test_guardrailed_app_recorder.py
  tests/unit/datagen/test_llama_index_rag_recorder.py
  tests/unit/datagen/test_openai_chat_recorder.py
  tests/unit/datagen/test_recording.py
  tests/unit/datagen/test_tool_agent_recorder.py
Due: format-python, lint-python

fix(datagen): skip llama-index recorder test when instrumenter is absent
  tests/unit/datagen/test_llama_index_rag_recorder.py
Due: format-python, lint-python

fix(datagen): skip guardrail recorder test when framework is absent
  tests/unit/datagen/test_guardrailed_app_recorder.py
Due: format-python, lint-python

test(datagen): trim suite to one happy path per surface
  tests/unit/datagen/test_conditions.py
  tests/unit/datagen/test_fake_tools.py
  tests/unit/datagen/test_fetcher.py
  tests/unit/datagen/test_graph_multi_agent_recorder.py
  tests/unit/datagen/test_guardrailed_app_recorder.py
  tests/unit/datagen/test_mock_openai_provider.py
  tests/unit/datagen/test_openai_chat_recorder.py
  tests/unit/datagen/test_recording.py
  tests/unit/datagen/test_tool_agent_recorder.py
  tests/unit/server/cli/commands/test_datagen.py
Due: format-python, lint-python

fix(docs): correct opentelemetry spelling (#15627)
  docs/phoenix/tracing/concepts-tracing/how-tracing-works.mdx
Due: none

fix(playground): preserve tool choice and strict setting for Anthropic and Bedrock
  src/phoenix/server/api/helpers/playground_clients.py
  tests/unit/server/api/helpers/test_playground_clients.py
Due: format-python, lint-python

feat(datagen): enrich authored corpus inputs
  scripts/datagen/README.md
  scripts/datagen/conditions.py
  scripts/datagen/organic_conditions.json
  scripts/datagen/recorder_fixtures.json
  tests/unit/datagen/test_conditions.py
Due: format-python, lint-python

feat(datagen): report corpus depth statistics
  scripts/datagen/corpus.py
  tests/unit/datagen/test_corpus_pipeline.py
Due: format-python, lint-python

feat(datagen): add iterative coding tool traces
  scripts/datagen/fake_tools.py
  scripts/datagen/tool_agent.py
  scripts/datagen/tool_fixtures.json
  tests/unit/datagen/test_tool_agent_recorder.py
Due: format-python, lint-python

chore: fix Codex local environment setup
  .codex/environments/environment.toml
Due: none

chore: fix Codex local environment setup (#15684)
  .codex/environments/environment.toml
Due: none

feat(datagen): simulate live chat follow-up users
  scripts/datagen/openai_chat_sessions.py
  tests/unit/datagen/test_openai_chat_recorder.py
Due: format-python, lint-python

fix(datagen): suppress simulated user spans
  scripts/datagen/openai_chat_sessions.py
  tests/unit/datagen/test_openai_chat_recorder.py
Due: format-python, lint-python

fix(datagen): resolve luna recorder model
  scripts/datagen/llama_index_rag.py
  scripts/datagen/openai_chat_sessions.py
  scripts/datagen/recording.py
  scripts/datagen/structured_extraction.py
  scripts/datagen/tool_agent.py
  tests/unit/datagen/test_recording.py
Due: format-python, lint-python

fix(datagen): configure luna tool calls
  scripts/datagen/recording.py
  scripts/datagen/structured_extraction.py
  scripts/datagen/tool_agent.py
  tests/unit/datagen/test_recording.py
Due: format-python, lint-python

feat(datagen): vary simulated user dispositions
  scripts/datagen/openai_chat_sessions.py
  tests/unit/datagen/test_openai_chat_recorder.py
Due: format-python, lint-python

feat(datagen): add manual agent phase spans
  scripts/datagen/graph_multi_agent.py
  scripts/datagen/tool_agent.py
  tests/unit/datagen/test_graph_multi_agent_recorder.py
  tests/unit/datagen/test_tool_agent_recorder.py
Due: format-python, lint-python

Changed last line
  prompts/classification_evaluator_configs/PII_DETECTION_CLASSIFICATION_EVALUATOR_CONFIG.yaml
Due: none

Sync generated PII configs with the generic closing prompt line.
  js/packages/phoenix-evals/src/__generated__/default_templates/PII_DETECTION_CLASSIFICATION_EVALUATOR_CONFIG.ts
  packages/phoenix-evals/src/phoenix/evals/__generated__/classification_evaluator_configs/_pii_detection_classification_evaluator_config.py
  src/phoenix/__generated__/classification_evaluator_configs/_pii_detection_classification_evaluator_config.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

add label promoted_dataset_evaluator to completeness template
  prompts/classification_evaluator_configs/COMPLETENESS_CLASSIFICATION_EVALUATOR_CONFIG.yaml
Due: none

15 more examples to completeness benchmark
  docs/phoenix/evaluation/pre-built-metrics/completeness.mdx
  js/benchmarks/evals-benchmarks/src/completeness.eval.ts
Due: oxfmt-js, oxlint-js

fixed rule reference on PII eval template prompt
  prompts/classification_evaluator_configs/PII_DETECTION_CLASSIFICATION_EVALUATOR_CONFIG.yaml
Due: none

fix: round-trip annotation names in table sort column ids (#15610)
  js/app/src/pages/project/__tests__/tableUtils.test.ts
  js/app/src/pages/project/tableUtils.ts
Due: oxfmt-js, oxlint-js

shortened PII prompt + rerun bechmarks and updated results in docs
  docs/phoenix/evaluation/pre-built-metrics/pii-detection.mdx
  js/packages/phoenix-evals/src/__generated__/default_templates/PII_DETECTION_CLASSIFICATION_EVALUATOR_CONFIG.ts
  packages/phoenix-evals/src/phoenix/evals/__generated__/classification_evaluator_configs/_pii_detection_classification_evaluator_config.py
  prompts/classification_evaluator_configs/PII_DETECTION_CLASSIFICATION_EVALUATOR_CONFIG.yaml
  src/phoenix/__generated__/classification_evaluator_configs/_pii_detection_classification_evaluator_config.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

Update docs/phoenix/evaluation/pre-built-metrics.mdx
  docs/phoenix/evaluation/pre-built-metrics.mdx
Due: none

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
