Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Stabilize Playwright auth setup and table interaction tests
  app/tests/auth.setup.ts
  app/tests/datasets.spec.ts
  app/tests/playground.spec.ts
  app/tests/projects.spec.ts
  app/tests/settings-general-tables.spec.ts
  app/tests/settings-labels-tables.spec.ts
Due: oxfmt-app, oxlint-app

clean
  app/src/components/experiment/ExperimentAnnotationAggregates.tsx
  app/src/components/experiment/ExperimentCostAndLatencySummary.tsx
  app/src/components/experiment/__generated__/ExperimentAnnotationAggregatesQuery.graphql.ts
  app/src/components/experiment/__generated__/ExperimentCostAndLatencySummaryQuery.graphql.ts
Due: oxfmt-app, oxlint-app

Run Playwright workflow for step2 PR base branch
  .github/workflows/playwright.yaml
Due: none

feat: add "tracing-onboarding" feature flag
  app/src/contexts/FeatureFlagsContext.tsx
  app/src/pages/project/ProjectTableEmpty.tsx
Due: oxfmt-app, oxlint-app

clean
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  app/src/pages/playground/PlaygroundDatasetExamplesTableContext.tsx
Due: oxfmt-app, oxlint-app

clean
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
Due: oxfmt-app, oxlint-app

Stabilize table e2e sorting and project filtering flows
  app/tests/datasets.spec.ts
  app/tests/projects.spec.ts
  app/tests/settings-general-tables.spec.ts
Due: oxfmt-app, oxlint-app

Harden auth setup bootstrap state detection
  app/tests/auth.setup.ts
Due: oxfmt-app, oxlint-app

types
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
Due: oxfmt-app, oxlint-app

feat(ui): extract FileListItem and support render-component-children in FileList
  .agents/skills/phoenix-design/SKILL.md
  app/src/components/dropzone/FileList.tsx
  app/src/components/dropzone/FileListItem.tsx
  app/src/components/dropzone/index.tsx
  app/src/components/dropzone/styles.ts
  app/src/components/dropzone/types.ts
  app/stories/FileDropZone.stories.tsx
Due: oxfmt-app, oxlint-app

Add global tracing onboarding empty state behind feature flag
  app/src/components/trace/__generated__/SpanAnnotationsEditorDeleteAnnotationMutation.graphql.ts
  app/src/pages/project/ProjectOnboardingWaitingForTraces.tsx
  app/src/pages/project/ProjectPage.tsx
  app/src/pages/project/ProjectPageHeader.tsx
  app/src/pages/project/ProjectTableEmpty.tsx
  app/src/pages/project/__generated__/ProjectPageHeaderQuery.graphql.ts
  app/src/pages/project/__generated__/ProjectPageHeader_stats.graphql.ts
  app/src/pages/project/__generated__/ProjectPageQuery.graphql.ts
Due: oxfmt-app, oxlint-app

fix
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
Due: oxfmt-app, oxlint-app

clean
  app/src/components/experiment/ExperimentAnnotationAggregates.tsx
Due: oxfmt-app, oxlint-app

non-streaming fix
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
Due: oxfmt-app, oxlint-app

chore: fix formatting of Helm chart tests command in Makefile
  Makefile
Due: none

chore: fix formatting of Helm chart tests command in Makefile (#11850)
  Makefile
Due: none

chore: version-14 feature branch
  .github/workflows/playwright.yaml
Due: none

feat(experiments): add ExperimentSweeper daemon to clean up temporary experiments
  app/schema.graphql
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableMutation.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableSubscription.graphql.ts
  src/phoenix/config.py
  src/phoenix/db/migrations/versions/9c5c1f6bd0d2_add_is_ephemeral_to_experiments.py
  src/phoenix/db/models.py
  src/phoenix/server/api/input_types/ChatCompletionInput.py
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/api/subscriptions.py
  src/phoenix/server/api/types/Dataset.py
  src/phoenix/server/api/types/Experiment.py
  src/phoenix/server/app.py
  src/phoenix/server/daemons/experiment_sweeper.py
  tests/unit/server/api/mutations/test_chat_mutations.py
  tests/unit/server/api/test_subscriptions.py
  tests/unit/server/api/types/test_Dataset.py
  tests/unit/server/api/types/test_Experiment.py
  tests/unit/server/daemons/test_experiment_sweeper.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

clean up
  app/schema.graphql
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableMutation.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableSubscription.graphql.ts
  src/phoenix/config.py
  src/phoenix/server/api/input_types/ChatCompletionInput.py
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/api/subscriptions.py
  src/phoenix/server/api/types/Dataset.py
  src/phoenix/server/daemons/experiment_sweeper.py
  tests/unit/server/api/mutations/test_chat_mutations.py
  tests/unit/server/api/test_subscriptions.py
  tests/unit/server/api/types/test_Dataset.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

clean up
  src/phoenix/server/api/types/Dataset.py
  tests/unit/server/api/types/test_Dataset.py
Due: format-python, lint-python

clean up
  scripts/ddl/postgresql_schema.sql
  src/phoenix/server/daemons/experiment_sweeper.py
  tests/unit/server/daemons/test_experiment_sweeper.py
Due: format-python, lint-python

clean up
  app/schema.graphql
  src/phoenix/server/api/types/Dataset.py
  tests/unit/server/api/types/test_Dataset.py
Due: format-python, lint-python

Revert auth setup to main baseline
  app/tests/auth.setup.ts
Due: oxfmt-app, oxlint-app

clean up
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableMutation.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableSubscription.graphql.ts
Due: oxfmt-app, oxlint-app

feat(auth): add brute force login protection via in-memory rate limiter
  src/phoenix/config.py
  src/phoenix/server/api/routers/auth.py
  src/phoenix/server/rate_limiters.py
  tests/integration/auth/test_auth.py
  tests/unit/server/test_rate_limiters.py
Due: format-python, lint-python

fix: reset failed_count after brute force lockout window expires
  src/phoenix/server/rate_limiters.py
  tests/unit/server/test_rate_limiters.py
Due: format-python, lint-python

tmp
  js/packages/phoenix-client/examples/upsert_dataset_experiments.ts
  js/packages/phoenix-client/package.json
  js/pnpm-lock.yaml
  packages/phoenix-client/examples/datasets/upsert_dataset_experiments_example.py
  src/phoenix/db/insertion/dataset.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix: move BruteForceLoginLimitExceeded import to module level in auth.py
  src/phoenix/server/api/routers/auth.py
Due: format-python, lint-python

test: Add page-scoped table E2E coverage for React Compiler readiness (#11846)
  .github/workflows/playwright.yaml
  app/src/pages/datasets/DatasetsTable.tsx
  app/src/pages/projects/ProjectViewModeToggle.tsx
  app/src/pages/projects/ProjectsPage.tsx
  app/src/pages/prompt/promptLoader.tsx
  app/src/pages/settings/UsersTable.tsx
  app/tests/datasets.spec.ts
  app/tests/member-access.spec.ts
  app/tests/playground.spec.ts
  app/tests/projects.spec.ts
  app/tests/prompt-management.spec.ts
  app/tests/settings-general-tables.spec.ts
  app/tests/settings-labels-tables.spec.ts
  app/tests/viewer-access.spec.ts
Due: oxfmt-app, oxlint-app

Refactor onboarding gate to use dedicated counts query
  app/src/pages/project/ProjectPage.tsx
  app/src/pages/project/__generated__/ProjectPageOnboardingCountsQuery.graphql.ts
  app/src/pages/project/__generated__/ProjectPageQuery.graphql.ts
Due: oxfmt-app, oxlint-app

Restore ProjectTableEmpty non-flagged empty state behavior
  app/src/pages/project/ProjectTableEmpty.tsx
Due: oxfmt-app, oxlint-app

chore(ci): revert playwright workflow tweak
  .github/workflows/playwright.yaml
Due: none

Made-with: Cursor
  app/src/components/dropzone/FileDropZone.tsx
  app/src/components/dropzone/FileList.tsx
  app/src/components/dropzone/styles.ts
  app/src/components/dropzone/types.ts
  app/stories/FileDropZone.stories.tsx
Due: oxfmt-app, oxlint-app

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
