Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

fix(client): widen _extract_io attrs type to fix pyright error
  packages/phoenix-client/src/phoenix/client/resources/sessions/__init__.py
Due: format-python, lint-python

feat(client): add session conversation API to Python and TypeScript clients (#11974)
  app/src/pages/project/__generated__/ProjectPageOnboardingCountsQuery.graphql.ts
  js/.changeset/add-get-session-conversation.md
  js/packages/phoenix-client/examples/get_session_turns.ts
  js/packages/phoenix-client/src/sessions/getSessionTurns.ts
  js/packages/phoenix-client/src/sessions/index.ts
  js/packages/phoenix-client/test/sessions/getSessionTurns.test.ts
  packages/phoenix-client/examples/sessions/get_session_turns_example.py
  packages/phoenix-client/src/phoenix/client/client.py
  packages/phoenix-client/src/phoenix/client/resources/sessions/__init__.py
  packages/phoenix-client/tests/client/resources/sessions/test_sessions.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

chore(main): release arize-phoenix 13.14.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

chore(main): release arize-phoenix-client 2.0.0
  .release-please-manifest.json
  packages/phoenix-client/CHANGELOG.md
  packages/phoenix-client/pyproject.toml
Due: uv-lock-check

fix: respect openaiApiType when fetching model invocation parameters
  app/schema.graphql
  app/src/components/playground/model/ModelSupportedParamsFetcher.tsx
  app/src/components/playground/model/__generated__/ModelSupportedParamsFetcherQuery.graphql.ts
  app/src/pages/playground/__generated__/fetchPlaygroundPromptSupportedInvocationParametersQuery.graphql.ts
  app/src/pages/playground/fetchPlaygroundPrompt.ts
  src/phoenix/server/api/helpers/playground_clients.py
  src/phoenix/server/api/queries.py
  tests/unit/server/api/helpers/test_playground_clients.py
  tests/unit/server/api/test_queries.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

refactor: use DEFAULT_OPENAI_API_TYPE constant in fetchPlaygroundPrompt
  app/src/pages/playground/fetchPlaygroundPrompt.ts
Due: oxfmt-app, oxlint-app

chore(main): release arize-phoenix 13.14.0 (#12067)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

chore(js): update versions (#12079)
  js/.changeset/add-get-session-conversation.md
  js/packages/phoenix-cli/CHANGELOG.md
  js/packages/phoenix-cli/package.json
  js/packages/phoenix-client/CHANGELOG.md
  js/packages/phoenix-client/package.json
  js/packages/phoenix-mcp/CHANGELOG.md
  js/packages/phoenix-mcp/package.json
Due: oxfmt-js

feat: add integration selector to tracing onboarding page
  app/src/components/project/IntegrationIcons.tsx
  app/src/pages/project/ImplementationCodeBlock.tsx
  app/src/pages/project/IntegrationSelectButtonGroup.tsx
  app/src/pages/project/OnboardingSteps.tsx
  app/src/pages/project/ProjectOnboarding.tsx
  app/src/pages/project/integrationDefinitions.ts
  app/src/pages/project/integrationRegistry.tsx
Due: oxfmt-app, oxlint-app

docs: add release note for dataset upload improvements (v13.8.0–v13.13.0)
  docs.json
  docs/phoenix/release-notes/03-2026/03-11-2026-dataset-upload-improvements.mdx
Due: none

chore: update phoenix version to 13.14.0 in kustomize and helm
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

Refine agent trajectory eval notebook
  js/examples/notebooks/deno_agent_trajectory_evals_quickstart.ipynb
Due: clean-notebooks

chore(main): release arize-phoenix-client 2.0.0 (#11941)
  .release-please-manifest.json
  packages/phoenix-client/CHANGELOG.md
  packages/phoenix-client/pyproject.toml
  uv.lock
Due: uv-lock-check

fix: resolve dataset upload type errors
  src/phoenix/server/api/routers/v1/datasets.py
  tests/unit/server/api/routers/v1/test_datasets.py
Due: format-python, lint-python

fix(ui): only detect collapse conflicts within same bucket (#11884)
  app/src/pages/datasets/ColumnAssigner/ColumnAssigner.tsx
  app/src/pages/datasets/DatasetFromFileForm.tsx
  app/src/utils/jsonUtils.ts
Due: oxfmt-app, oxlint-app

fix: add conflict detection to backend flatten_keys
  src/phoenix/server/api/routers/v1/datasets.py
  tests/unit/server/api/routers/v1/test_datasets.py
Due: format-python, lint-python

fix: remove circular dependency in collapse utils
  app/src/utils/jsonUtils.ts
Due: oxfmt-app, oxlint-app

fix dialog sizing
  app/src/components/core/dialog/Dialog.tsx
Due: oxfmt-app, oxlint-app

test: enhance collapsibility detection for CSV and JSONL files
  app/src/utils/__tests__/csvUtils.test.ts
  app/src/utils/__tests__/jsonUtils.test.ts
  app/src/utils/__tests__/jsonlUtils.test.ts
  app/tests/dataset-file-upload.spec.ts
  app/tests/fixtures/nested.csv
  app/tests/fixtures/nested.jsonl
  tests/unit/server/api/routers/v1/test_datasets.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

feat(api): add flatten_keys support for dataset upload (#11884)
  src/phoenix/server/api/routers/v1/datasets.py
Due: format-python, lint-python

fix: simplify dataset upload collapse handling
  app/src/pages/datasets/ColumnAssigner/__tests__/collapseUtils.test.ts
  app/src/pages/datasets/ColumnAssigner/collapseUtils.ts
  app/src/pages/datasets/DatasetFromFileForm.tsx
  app/src/pages/datasets/DatasetPreview/DatasetPreviewTable.tsx
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/datasets.py
  tests/unit/server/api/routers/v1/test_datasets.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

fix: expand flatten_keys to child keys in backend
  src/phoenix/server/api/routers/v1/datasets.py
  tests/unit/server/api/routers/v1/test_datasets.py
Due: format-python, lint-python

feat(ui): add collapse top-level keys toggle for dataset upload (#11884)
  app/src/pages/datasets/ColumnAssigner/ColumnAssigner.tsx
  app/src/pages/datasets/DatasetFromFileForm.tsx
  app/src/pages/datasets/DatasetPreview/DatasetPreviewTable.tsx
  app/src/utils/csvUtils.ts
  app/src/utils/jsonUtils.ts
  app/src/utils/jsonlUtils.ts
Due: oxfmt-app, oxlint-app

comments
  app/src/pages/datasets/DatasetFromFileForm.tsx
Due: oxfmt-app, oxlint-app

fix: flatten uploaded dataset keys within assigned buckets
  app/src/pages/datasets/ColumnAssigner/ColumnAssigner.tsx
  app/src/pages/datasets/ColumnAssigner/__tests__/collapseUtils.test.ts
  app/src/pages/datasets/ColumnAssigner/collapseUtils.ts
  app/src/pages/datasets/DatasetFromFileForm.tsx
  src/phoenix/server/api/routers/v1/datasets.py
  tests/unit/server/api/routers/v1/test_datasets.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

refactor: reorganize collapse utilities and enhance import structure
  app/src/pages/datasets/ColumnAssigner/__tests__/collapseUtils.test.ts
  app/src/pages/datasets/ColumnAssigner/collapseUtils.ts
  app/src/pages/datasets/DatasetFromFileForm.tsx
  app/src/utils/__tests__/jsonUtils.test.ts
  app/src/utils/jsonUtils.ts
Due: oxfmt-app, oxlint-app

Do not collapse single key rows in preview, for clarity
  app/src/components/table/CompactJSONCell.tsx
  app/src/pages/datasets/DatasetPreview/DatasetPreviewTable.tsx
Due: oxfmt-app, oxlint-app

do not override dialog styles
  app/src/components/core/dialog/Dialog.tsx
Due: oxfmt-app, oxlint-app

flattening comments
  src/phoenix/server/api/routers/v1/datasets.py
  tests/unit/server/api/routers/v1/test_datasets.py
Due: format-python, lint-python

simplify key flattening logic
  src/phoenix/server/api/routers/v1/datasets.py
  tests/unit/server/api/routers/v1/test_datasets.py
Due: format-python, lint-python

Refactor backend
  app/schema.graphql
  app/src/components/evaluators/SandboxTypeSelector.tsx
  app/src/components/evaluators/__generated__/SandboxTypeSelectorQuery.graphql.ts
  app/src/pages/settings/BackendAccordionSection.tsx
  app/src/pages/settings/BackendHeader.tsx
  app/src/pages/settings/ConfigInstanceList.tsx
  app/src/pages/settings/CreateInstanceDialog.tsx
  app/src/pages/settings/CredentialDialog.tsx
  app/src/pages/settings/EditInstanceDialog.tsx
  app/src/pages/settings/EditTimeoutDialog.tsx
  app/src/pages/settings/SettingsSandboxPage.tsx
  app/src/pages/settings/SetupDialog.tsx
  app/src/pages/settings/__generated__/BackendAccordionSectionToggleInstanceMutation.graphql.ts
  app/src/pages/settings/__generated__/ConfigInstanceListDeleteMutation.graphql.ts
  app/src/pages/settings/__generated__/CreateInstanceDialogMutation.graphql.ts
  app/src/pages/settings/__generated__/CredentialDialogDeleteMutation.graphql.ts
  app/src/pages/settings/__generated__/CredentialDialogSetMutation.graphql.ts
  app/src/pages/settings/__generated__/EditInstanceDialogDeleteMutation.graphql.ts
  app/src/pages/settings/__generated__/EditInstanceDialogUpdateMutation.graphql.ts
  app/src/pages/settings/__generated__/EditTimeoutDialogMutation.graphql.ts
  app/src/pages/settings/__generated__/SettingsSandboxPageCreateMutation.graphql.ts
  app/src/pages/settings/__generated__/SettingsSandboxPageQuery.graphql.ts
  app/src/pages/settings/__generated__/SettingsSandboxPageSetBackendEnabledMutation.graphql.ts
  src/phoenix/db/migrations/versions/0ff41b5b118f_add_sandbox_and_code_evaluator_support.py
  src/phoenix/db/models.py
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/mutations/evaluator_mutations.py
  src/phoenix/server/api/mutations/sandbox_config_mutations.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/Evaluator.py
  src/phoenix/server/api/types/SandboxConfig.py
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/types.py
  tests/unit/server/api/test_code_evaluator_runner.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

perf: use column projection for span batch query to avoid loading attributes/events
  src/phoenix/server/api/routers/v1/traces.py
Due: format-python, lint-python

Add Phoenix release notes for 03-11-2026
  docs/phoenix/release-notes.mdx
  docs/phoenix/release-notes/03-2026/03-11-2026-session-conversation-api.mdx
  docs/phoenix/release-notes/2026.mdx
Due: none

feat(skills): add phoenix-frontend skill for UI development
  .agents/skills/phoenix-frontend/SKILL.md
  .agents/skills/phoenix-frontend/rules/accessibility.md
  .agents/skills/phoenix-frontend/rules/components.md
  .agents/skills/phoenix-frontend/rules/design.md
  .agents/skills/phoenix-frontend/rules/typescript.md
  .claude/skills/phoenix-frontend
Due: none

update skill
  .agents/skills/phoenix-frontend/SKILL.md
  .agents/skills/phoenix-frontend/rules/accessibility.md
  .agents/skills/phoenix-frontend/rules/design.md
  .agents/skills/phoenix-frontend/rules/typescript.md
Due: none

feat(skills): add phoenix-frontend skill for UI development (#12086)
  .agents/skills/phoenix-frontend/SKILL.md
  .agents/skills/phoenix-frontend/rules/accessibility.md
  .agents/skills/phoenix-frontend/rules/components.md
  .agents/skills/phoenix-frontend/rules/design.md
  .agents/skills/phoenix-frontend/rules/typescript.md
  .claude/skills/phoenix-frontend
Due: none

Add backend skill
  .agents/skills/phoenix-server/SKILL.md
  .agents/skills/phoenix-server/references/database-patterns.md
  .agents/skills/phoenix-server/references/graphql-patterns.md
  .agents/skills/phoenix-server/references/test-patterns.md
Due: none

fix: make tool description optional for Anthropic and AWS Bedrock providers (#12070)
  app/src/schemas/toolSchemas.ts
  src/phoenix/server/api/helpers/prompts/models.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

chore(skills): move phoenix-pr-screenshot to .agents/skills
  .agents/skills/phoenix-pr-screenshot/SKILL.md
  .claude/skills/phoenix-pr-screenshot
Due: none
