Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

clean-notebooks:
  name: clean-notebooks
  stages:
  - pre-commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --ClearMetadataPreprocessor.enabled=True --inplace

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(cli-agent-starter-kit): suppress no-console lint errors in script entry points
  js/examples/apps/cli-agent-starter-kit/scripts/run-benchmarks.ts
  js/examples/apps/cli-agent-starter-kit/scripts/run-evals.ts
Due: oxfmt-js, oxlint-js

Consolidate playwright constants
  app/tests/constants.ts
Due: oxfmt-app, oxlint-app

feat(cli-agent-starter-kit): separate benchmark dataset from task eval dataset
  js/examples/apps/cli-agent-starter-kit/evals/benchmarks/terminal-format.benchmark.ts
  js/examples/apps/cli-agent-starter-kit/evals/datasets/terminalFormatExamples.ts
Due: oxfmt-js, oxlint-js

refactor(cli-agent-starter-kit): make evaluator the task in benchmark, use exact-match grader
  js/examples/apps/cli-agent-starter-kit/evals/benchmarks/terminal-format.benchmark.ts
Due: oxfmt-js, oxlint-js

fix(cli-agent-starter-kit): apply oxfmt formatting to benchmark file
  js/examples/apps/cli-agent-starter-kit/evals/benchmarks/terminal-format.benchmark.ts
Due: oxfmt-js, oxlint-js

feat(cli-agent-starter-kit): add evaluator benchmarking with confusion matrix (#11573)
  js/examples/apps/cli-agent-starter-kit/evals/benchmarks/terminal-format.benchmark.ts
  js/examples/apps/cli-agent-starter-kit/evals/datasets/terminalFormatExamples.ts
  js/examples/apps/cli-agent-starter-kit/evals/evaluators/index.ts
  js/examples/apps/cli-agent-starter-kit/evals/evaluators/terminalSafeFormatEvaluator.ts
  js/examples/apps/cli-agent-starter-kit/evals/experiments/terminal-format.eval.ts
  js/examples/apps/cli-agent-starter-kit/evals/utils/experimentStats.ts
  js/examples/apps/cli-agent-starter-kit/evals/utils/index.ts
  js/examples/apps/cli-agent-starter-kit/evals/utils/markdownPatterns.ts
  js/examples/apps/cli-agent-starter-kit/package.json
  js/examples/apps/cli-agent-starter-kit/scripts/run-benchmarks.ts
  js/examples/apps/cli-agent-starter-kit/scripts/runner.ts
  js/examples/apps/cli-agent-starter-kit/src/prompts/agent.ts
  js/pnpm-lock.yaml
Due: oxfmt-js, oxlint-js

revert: remove isAwsSelected conditional from prefix setting
  app/src/pages/playground/PlaygroundConfigButton.tsx
Due: oxfmt-app, oxlint-app

feat(cli-starter-kit): add a seeding script for any dataset
  js/examples/apps/cli-agent-starter-kit/evals/datasets/index.ts
  js/examples/apps/cli-agent-starter-kit/evals/datasets/phoenixTopicExamples.ts
  js/examples/apps/cli-agent-starter-kit/evals/experiments/terminal-format.eval.ts
  js/examples/apps/cli-agent-starter-kit/package.json
  js/examples/apps/cli-agent-starter-kit/scripts/seed-traces.ts
  js/examples/apps/cli-agent-starter-kit/src/ui/interaction.ts
Due: oxfmt-js, oxlint-js

fix: linting
  js/examples/apps/cli-agent-starter-kit/evals/datasets/phoenixTopicExamples.ts
  js/examples/apps/cli-agent-starter-kit/package.json
  js/examples/apps/cli-agent-starter-kit/scripts/seed-traces.ts
Due: oxfmt-js, oxlint-js

fix(cli-agent-starter-kit): restore instrumentation import order in seed-traces.ts
  js/examples/apps/cli-agent-starter-kit/scripts/seed-traces.ts
Due: oxfmt-js, oxlint-js

fix: linting (#11581)
  js/examples/apps/cli-agent-starter-kit/evals/datasets/phoenixTopicExamples.ts
  js/examples/apps/cli-agent-starter-kit/package.json
  js/examples/apps/cli-agent-starter-kit/scripts/seed-traces.ts
Due: oxfmt-js, oxlint-js

feat: add AWS Bedrock cross-region inference model prefix preference (#11576)
  app/src/components/generative/ModelMenu.tsx
  app/src/pages/playground/PlaygroundConfigButton.tsx
  app/src/store/preferencesStore.tsx
Due: oxfmt-app, oxlint-app

udpate
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-client/test/experiments/deleteExperiment.test.ts
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/experiments.py
Due: oxfmt-js, oxlint-js

pr feedback
  src/phoenix/server/api/routers/v1/experiments.py
Due: none

experiments
  tests/integration/client/test_experiments.py
Due: none

docs(cli-agent-starter-kit): document evaluator benchmarking strategy in evals README
  js/examples/apps/cli-agent-starter-kit/evals/README.md
Due: oxfmt-js

feat(phoenix-evals skill): add validation-benchmarking-typescript rule
  skills/phoenix-evals/SKILL.md
  skills/phoenix-evals/rules/validation-benchmarking-typescript.md
Due: none

refactor(phoenix-evals skill): rename validation-calibration-* to validation-metrics-*
  skills/phoenix-evals/SKILL.md
  skills/phoenix-evals/rules/validation-benchmarking-typescript.md
  skills/phoenix-evals/rules/validation-metrics-python.md
  skills/phoenix-evals/rules/validation-metrics-typescript.md
Due: none

refactor(phoenix-evals skill): make validation-benchmarking rule project-agnostic
  skills/phoenix-evals/rules/validation-benchmarking-typescript.md
Due: none

fix: apply oxfmt formatting to evals/README.md
  js/examples/apps/cli-agent-starter-kit/evals/README.md
Due: oxfmt-js

refactor(phoenix-evals skill): consolidate evaluator validation rules
  skills/phoenix-evals/SKILL.md
  skills/phoenix-evals/rules/validation-benchmarking-typescript.md
  skills/phoenix-evals/rules/validation-evaluators-python.md
  skills/phoenix-evals/rules/validation-evaluators-typescript.md
  skills/phoenix-evals/rules/validation-metrics-typescript.md
Due: none

fix(phoenix-evals skill): complete SKILL.md Quick Reference coverage
  skills/phoenix-evals/SKILL.md
Due: none

perf(phoenix-evals skill): reduce token cost of 4 high-bloat rule files
  skills/phoenix-evals/rules/common-mistakes-python.md
  skills/phoenix-evals/rules/experiments-datasets-python.md
  skills/phoenix-evals/rules/fundamentals.md
  skills/phoenix-evals/rules/validation-evaluators-typescript.md
Due: none

revert(phoenix-evals skill): restore common-mistakes-python and experiments-datasets-python
  skills/phoenix-evals/rules/common-mistakes-python.md
  skills/phoenix-evals/rules/experiments-datasets-python.md
Due: none

revert(phoenix-evals skill): restore fundamentals.md
  skills/phoenix-evals/rules/fundamentals.md
Due: none

docs: document evaluator benchmarking strategy and add meta-evaluation skill rule (#11582)
  js/examples/apps/cli-agent-starter-kit/evals/README.md
  skills/phoenix-evals/SKILL.md
  skills/phoenix-evals/rules/validation-calibration-typescript.md
  skills/phoenix-evals/rules/validation-evaluators-python.md
  skills/phoenix-evals/rules/validation-evaluators-typescript.md
Due: oxfmt-js

update seed script
  js/examples/apps/cli-agent-starter-kit/evals/datasets/phoenixTopicExamples.ts
  js/examples/apps/cli-agent-starter-kit/scripts/seed-traces.ts
Due: oxfmt-js, oxlint-js

update seed script (#11583)
  js/examples/apps/cli-agent-starter-kit/evals/datasets/phoenixTopicExamples.ts
  js/examples/apps/cli-agent-starter-kit/scripts/seed-traces.ts
Due: oxfmt-js, oxlint-js

make prompt weaker
  js/examples/apps/cli-agent-starter-kit/src/prompts/agent.ts
Due: oxfmt-js, oxlint-js

cleanup
  js/examples/apps/cli-agent-starter-kit/evals/datasets/phoenixTopicExamples.ts
Due: oxfmt-js, oxlint-js

chore: demo prompt reset (#11584)
  js/examples/apps/cli-agent-starter-kit/evals/datasets/phoenixTopicExamples.ts
  js/examples/apps/cli-agent-starter-kit/src/prompts/agent.ts
Due: oxfmt-js, oxlint-js

feat(cli-starter-kit): switch to haiku
  js/examples/apps/cli-agent-starter-kit/src/agents/index.ts
Due: oxfmt-js, oxlint-js

feat(cli-starter-kit): switch to haiku (#11585)
  js/examples/apps/cli-agent-starter-kit/src/agents/index.ts
Due: oxfmt-js, oxlint-js

feat(cli-starter-kit): pass sesion id on interaction
  js/examples/apps/cli-agent-starter-kit/src/ui/interaction.ts
Due: oxfmt-js, oxlint-js

fix(cli-starter-kit): use const for datasetsToRun to fix prefer-const lint error
  js/examples/apps/cli-agent-starter-kit/scripts/seed-traces.ts
Due: oxfmt-js, oxlint-js

feat: switch to haiku and fix sessions (#11586)
  js/examples/apps/cli-agent-starter-kit/scripts/seed-traces.ts
  js/examples/apps/cli-agent-starter-kit/src/ui/interaction.ts
Due: oxfmt-js, oxlint-js

ci: add oxlint and oxfmt version sync checks
  .github/workflows/pnpm-version-check.yml
Due: none

ci: rename pnpm-version-check.yml to package-version-check.yml
  .github/workflows/package-version-check.yml
Due: none

chore: update eslint references to oxlint
  .claude/settings.json
  .cursor/rules/typescript-packages/RULE.md
  app/.eslintrc-legacy.js
  app/README.md
Due: oxfmt-app, oxlint-app

Path conditions:
  clean-notebooks: any of: \.ipynb$, but not: ^tutorials/evals/.*\.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
