Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

feat(traces): compare two traces side by side (#16860)
  js/app/src/Routes.tsx
  js/app/src/agent/context/__tests__/deriveRouteContexts.test.ts
  js/app/src/agent/context/deriveRouteContexts.ts
  js/app/src/components/FocusHotkey.tsx
  js/app/src/constants/searchParams.ts
  js/app/src/contexts/HotkeysEnabledContext.tsx
  js/app/src/contexts/index.tsx
  js/app/src/hooks/index.ts
  js/app/src/hooks/useScopedHotkeys.ts
  js/app/src/pages/project/ProjectTimeRangeControls.tsx
  js/app/src/pages/project/SpanSelectionToolbar.tsx
  js/app/src/pages/project/SpansTable.tsx
  js/app/src/pages/project/TracesTable.tsx
  js/app/src/pages/project/__tests__/ProjectTimeRangeControls.test.tsx
  js/app/src/pages/project/useSelectedTraceSlots.ts
  js/app/src/pages/trace/SpanDetails.tsx
  js/app/src/pages/trace/TraceDetails.tsx
  js/app/src/pages/trace/compare/CompareTraces.tsx
  js/app/src/pages/trace/compare/CompareTracesPage.tsx
  js/app/src/pages/trace/compare/index.ts
  js/app/src/pages/trace/index.tsx
  js/app/src/utils/__tests__/traceSelectionUtils.test.ts
  js/app/src/utils/traceSelectionUtils.ts
Due: oxfmt-js, oxlint-js

rupdated graders for case 06
  plugins/claude/arize-phoenix/evals/phoenix-evals/06-ts-relevance-judge/graders/binary-labels.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/06-ts-relevance-judge/graders/file-created.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/06-ts-relevance-judge/graders/uses-ai-sdk-model.md
Due: none

deleted the names-threshold grader for case 04
  plugins/claude/arize-phoenix/evals/phoenix-evals/04-validate-judge-labels/graders/names-threshold.md
Due: none

fix for case 06 graders
  plugins/claude/arize-phoenix/evals/phoenix-evals/06-ts-relevance-judge/graders/binary-labels.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/06-ts-relevance-judge/graders/labels-not-likert.md
Due: none

removed file-created graders for all cases
  plugins/claude/arize-phoenix/evals/phoenix-evals/02-json-schema-code-eval/graders/file-created.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/03-run-evaluator-experiment/graders/file-created.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/05-faithfulness-ci-gate/graders/file-created.md
Due: none

grader for assertions in CI, case 05
  plugins/claude/arize-phoenix/evals/phoenix-evals/05-faithfulness-ci-gate/graders/gates-aggregate.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/05-faithfulness-ci-gate/graders/invariants-vs-signals.md
Due: none

feat(experiments): show deltas vs. baseline on the experiments table (#16863)
  js/app/src/components/experiment/ExperimentAnnotationAggregates.tsx
  js/app/src/components/experiment/ExperimentCostAndLatencySummary.tsx
  js/app/src/components/experiment/ExperimentMetricDelta.tsx
  js/app/src/components/experiment/__tests__/experimentDeltaUtils.test.ts
  js/app/src/components/experiment/experimentDeltaUtils.ts
  js/app/src/pages/experiments/ErrorRateCell.tsx
  js/app/src/pages/experiments/ErrorRateText.tsx
  js/app/src/pages/experiments/ExperimentDetailsDialog.tsx
  js/app/src/pages/experiments/ExperimentsTable.tsx
  js/app/src/pages/experiments/__generated__/ExperimentsPageQuery.graphql.ts
  js/app/src/pages/experiments/__generated__/ExperimentsTableFragment.graphql.ts
  js/app/src/pages/experiments/__generated__/ExperimentsTableQuery.graphql.ts
  js/app/src/pages/experiments/experimentsDeltasViewSetting.ts
  js/app/src/store/__tests__/datasetStore.test.ts
  js/app/src/store/datasetStore.tsx
  js/app/src/utils/__tests__/numberFormatUtils.test.ts
  js/app/src/utils/numberFormatUtils.ts
  js/app/stories/domains/experiments/MetricDelta.stories.tsx
Due: oxfmt-js, oxlint-js

deleted assert grader, added check json valid grader in case 05
  plugins/claude/arize-phoenix/evals/phoenix-evals/05-faithfulness-ci-gate/graders/checks-json-invariant.md
Due: none

fix(mcp): improve analytics SQL execution and dialect guidance
  pyproject.toml
  src/phoenix/server/mcp/sql/execute.py
  src/phoenix/server/mcp/sql/rewrite.py
  src/phoenix/server/mcp/sql/tools.py
  tests/unit/server/mcp/sql/conftest.py
  tests/unit/server/mcp/sql/test_execute.py
  tests/unit/server/mcp/sql/test_liveness.py
  tests/unit/server/mcp/sql/test_rewrite.py
  uv.lock
Due: format-python, lint-python, uv-lock-check

fix(experiments): color bounded freeform scores in compare example details
  js/app/src/components/experiment/ExperimentCompareDetails.tsx
  js/app/src/components/experiment/__generated__/ExperimentCompareDetailsQuery.graphql.ts
  js/app/src/utils/__tests__/datasetEvaluatorUtils.test.ts
Due: oxfmt-js, oxlint-js

refactor(ui): expose graded score colors through getAnnotationScoreColorProps
  js/app/src/components/annotation/AnnotationScoreText.tsx
Due: oxfmt-js, oxlint-js

test(storybook): show graded score colors at every call site
  js/app/.storybook/preview.tsx
  js/app/stories/constants/experimentEvaluatorFixtures.ts
  js/app/stories/domains/annotations/AnnotationMetricsChart.stories.tsx
  js/app/stories/domains/annotations/AnnotationScoreText.stories.tsx
  js/app/stories/domains/annotations/SummaryValueBreakdown.stories.tsx
  js/app/stories/domains/evaluators/CodeEvaluatorTestSection.stories.tsx
  js/app/stories/domains/evaluators/OutputPreview.stories.tsx
  js/app/stories/domains/evaluators/Overview.mdx
  js/app/stories/domains/experiments/AnnotationValueItem.stories.tsx
  js/app/stories/domains/experiments/AnnotationValueItem.thumbnail.dark.webp
  js/app/stories/domains/experiments/AnnotationValueItem.thumbnail.light.webp
  js/app/stories/domains/experiments/ExperimentItem.stories.tsx
  js/app/stories/domains/experiments/ExperimentItem.thumbnail.dark.webp
  js/app/stories/domains/experiments/ExperimentItem.thumbnail.light.webp
  js/app/stories/domains/experiments/RunAnnotations.stories.tsx
  js/app/stories/domains/experiments/RunAnnotations.thumbnail.dark.webp
  js/app/stories/domains/experiments/RunAnnotations.thumbnail.light.webp
  js/app/stories/domains/experiments/RunOutputs.stories.tsx
  js/app/stories/domains/experiments/RunOutputs.thumbnail.dark.webp
  js/app/stories/domains/experiments/RunOutputs.thumbnail.light.webp
  js/app/stories/domains/tracing/AnnotationScoreTimeSeriesChart.stories.tsx
Due: oxfmt-js, oxlint-js

feat(experiments): score bars take the graded score color
  js/app/src/components/experiment/ExperimentAnnotationAggregates.tsx
  js/app/src/components/experiment/ExperimentCompareDetails.tsx
Due: oxfmt-js, oxlint-js

feat(experiments): compare list score cells use AnnotationScoreText
  js/app/src/pages/experiment/ExperimentCompareListPage.tsx
Due: oxfmt-js, oxlint-js

test(storybook): grade span preview eval scores
  js/app/stories/constants/annotationFixtures.ts
  js/app/stories/domains/tracing/SpanPreviewCard.stories.tsx
Due: oxfmt-js, oxlint-js

refactor(experiments): compare list value item derives its own value and color
  js/app/src/pages/experiment/ExperimentCompareListPage.tsx
Due: oxfmt-js, oxlint-js

feat(ui): grade annotation score colors by distance from the optimization pivot
  js/app/src/GlobalStyles.tsx
  js/app/src/components/annotation/AnnotationDetailsList.tsx
  js/app/src/components/annotation/AnnotationNameAndValue.tsx
  js/app/src/components/annotation/AnnotationScoreText.tsx
  js/app/src/components/annotation/AnnotationSummaryBadge.tsx
  js/app/src/components/annotation/MeanScore.tsx
  js/app/src/components/annotation/__tests__/AnnotationScoreText.test.tsx
  js/app/src/components/annotation/__tests__/annotationSummaryUtils.test.ts
  js/app/src/components/annotation/__tests__/optimizationUtils.test.ts
  js/app/src/components/annotation/annotationSummaryUtils.ts
  js/app/src/components/annotation/optimizationUtils.ts
  js/app/src/components/chart/AnnotationMetricsChart.tsx
  js/app/src/components/evaluators/CodeEvaluatorTestSection.tsx
  js/app/src/components/evaluators/EvaluatorOutputPreview.tsx
  js/app/src/components/evaluators/utils.ts
  js/app/src/components/experiment/ExperimentAnnotationAggregates.tsx
  js/app/src/components/experiment/ExperimentAnnotationButton.tsx
  js/app/src/components/experiment/ExperimentCompareDetails.tsx
  js/app/src/components/experiment/ExperimentRunCellAnnotationsList.tsx
  js/app/src/components/trace/SpanPreviewAnnotations.tsx
  js/app/src/pages/experiment/ExperimentCompareListPage.tsx
  js/app/src/pages/project/AnnotationSummary.tsx
  js/app/src/pages/project/metrics/AnnotationScoreTimeSeriesChart.tsx
  js/app/src/pages/project/metrics/ProjectAnnotationMetrics.tsx
  js/app/src/utils/__tests__/datasetEvaluatorUtils.test.ts
  js/app/stories/domains/annotations/AnnotationScoreText.stories.tsx
  js/app/stories/domains/annotations/AnnotationScoreText.thumbnail.dark.webp
  js/app/stories/domains/annotations/AnnotationScoreText.thumbnail.light.webp
Due: oxfmt-js, oxlint-js

test(storybook): spread experiment scores across each config's range
  js/app/stories/constants/experimentEvaluatorFixtures.ts
  js/app/stories/domains/experiments/ExperimentItem.stories.tsx
  js/app/stories/domains/experiments/ExperimentItem.thumbnail.dark.webp
  js/app/stories/domains/experiments/ExperimentItem.thumbnail.light.webp
  js/app/stories/domains/experiments/RunAnnotations.stories.tsx
  js/app/stories/domains/experiments/RunAnnotations.thumbnail.dark.webp
  js/app/stories/domains/experiments/RunAnnotations.thumbnail.light.webp
  js/app/stories/domains/experiments/RunOutputs.stories.tsx
  js/app/stories/domains/experiments/RunOutputs.thumbnail.dark.webp
  js/app/stories/domains/experiments/RunOutputs.thumbnail.light.webp
Due: oxfmt-js, oxlint-js

chore(scripts): add a script that seeds backdated experiment history
  scripts/experiments/generate_experiment_history.py
Due: format-python, lint-python

feat(playground): add claude-haiku-5-5 and remove retired Anthropic models (#16870)
  src/phoenix/server/api/helpers/playground_clients.py
Due: format-python, lint-python

removed instrument from adresses-tracing grader in case 07
  plugins/claude/arize-phoenix/evals/phoenix-evals/07-neg-instrument-tracing/graders/addresses-tracing.md
Due: none

replaced case 07
  plugins/claude/arize-phoenix/evals/phoenix-evals/07-neg-instrument-tracing/graders/addresses-tracing.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/07-neg-instrument-tracing/graders/no-evaluator-built.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/07-neg-instrument-tracing/graders/skill-not-used.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/07-neg-instrument-tracing/prompt.md
Due: none

fixed bleu grader forcase 08
  plugins/claude/arize-phoenix/evals/phoenix-evals/08-neg-generic-metric-q/graders/answers-bleu.md
Due: none

new case 07
  plugins/claude/arize-phoenix/evals/phoenix-evals/07-neg-elixir-phoenix/graders/answers-exunit.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/07-neg-elixir-phoenix/graders/no-arize-phoenix.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/07-neg-elixir-phoenix/graders/skill-not-used.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/07-neg-elixir-phoenix/prompt.md
Due: none

feat(cost-tracking): support Mistral AI model pricing
  .github/.scripts/sync_models.py
  src/phoenix/server/cost_tracking/model_cost_manifest.json
  tests/unit/server/cost_tracking/test_model_cost_manifest.py
  tests/unit/server/cost_tracking/test_sync_models_mistral.py
Due: format-python, lint-python

CI delta gate with per-skill deltas
  .github/workflows/plugin-evals.yml
Due: none

align validation bar in skill (>80% accuracy, >70% TPR/TNR); update evals README for renamed negative
  .agents/skills/phoenix-evals/SKILL.md
  .agents/skills/phoenix-evals/references/validation-evaluators-python.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/README.md
Due: none

fix(server): build reachable URLs when PHOENIX_HOST is :: or an IPv6 address
  src/phoenix/config.py
  src/phoenix/server/cli/commands/serve.py
  tests/unit/test_config.py
Due: format-python, lint-python

refactor(db): rename deployment_identity to deployment_secret
  src/phoenix/db/ddl/postgresql_schema.sql
  src/phoenix/db/ddl/sqlite_schema.sql
  src/phoenix/db/migrations/versions/f3b8c2d14e70_add_deployment_secret.py
  src/phoenix/db/models.py
  src/phoenix/server/app.py
  src/phoenix/server/deployment_secret.py
  tests/integration/_helpers.py
  tests/integration/auth/conftest.py
  tests/integration/auth/test_derived_signing.py
  tests/unit/server/test_deployment_secret.py
  tests/unit/server/test_jwt_store_token_hash.py
Due: format-python, lint-python

fix(auth): do not open a session with the public default password
  MIGRATION.md
  js/app/src/pages/auth/LoginForm.tsx
  js/app/tests/auth.setup.ts
  js/app/tests/utils/testServer.mjs
  src/phoenix/config.py
  src/phoenix/server/api/routers/auth.py
  src/phoenix/server/api/routers/auth_md.py
  tests/integration/_helpers.py
  tests/integration/conftest.py
  tests/unit/server/api/routers/test_auth_default_password.py
  tests/unit/session/test_thread_session_auth.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

docs(auth): simplify comments and docstrings
  js/app/schema.graphql
  js/app/src/components/settings/PublicEncryptionKeyWarning.tsx
  js/app/tests/utils/testServer.mjs
  src/phoenix/auth.py
  src/phoenix/config.py
  src/phoenix/db/migrations/versions/ac59da3e4035_add_token_hash_columns.py
  src/phoenix/db/migrations/versions/f3b8c2d14e70_add_deployment_secret.py
  src/phoenix/db/models.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/routers/oauth2.py
  src/phoenix/server/api/types/RedactedString.py
  src/phoenix/server/api/types/ServerStatus.py
  src/phoenix/server/app.py
  src/phoenix/server/cli/commands/serve.py
  src/phoenix/server/deployment_secret.py
  src/phoenix/server/email/sender.py
  src/phoenix/server/grpc_server.py
  src/phoenix/server/jwt_store.py
  src/phoenix/server/prometheus.py
  src/phoenix/server/redaction.py
  tests/integration/_helpers.py
  tests/integration/auth/conftest.py
  tests/integration/auth/test_derived_signing.py
  tests/integration/auth/test_mcp.py
  tests/integration/auth/test_oidc.py
  tests/integration/auth/test_redaction.py
  tests/integration/client/conftest.py
  tests/integration/client/test_secrets.py
  tests/integration/db_migrations/test_autoincrement_primary_keys.py
  tests/unit/conftest.py
  tests/unit/server/api/mutations/test_generative_model_custom_provider_mutations.py
  tests/unit/server/api/routers/test_oauth2.py
  tests/unit/server/api/test_server_status.py
  tests/unit/server/test_deployment_secret.py
  tests/unit/server/test_jwt_codec.py
  tests/unit/server/test_jwt_store_token_hash.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

docs(auth): distinguish saved secrets from login passwords
  internal_docs/specs/authentication-defaults.md
Due: none

docs(auth): record authentication defaults and tradeoffs
  internal_docs/README.md
  internal_docs/specs/authentication-defaults.md
Due: none

docs(auth): clarify secret configuration does not enable auth
  internal_docs/specs/authentication-defaults.md
Due: none

fix(auth): prevent default password reset bypass
  src/phoenix/server/api/routers/auth.py
  tests/unit/server/api/routers/test_auth_default_password.py
Due: format-python, lint-python

test(auth): align integration credentials and server cleanup
  tests/integration/_helpers.py
  tests/integration/auth/conftest.py
  tests/integration/auth/test_api_keys.py
  tests/integration/auth/test_auth.py
  tests/integration/auth/test_derived_signing.py
  tests/integration/auth/test_mcp.py
  tests/integration/conftest.py
  tests/integration/test_helpers.py
Due: format-python, lint-python

test(auth): simplify fixtures and harden server lifecycle
  tests/integration/_helpers.py
  tests/integration/auth/conftest.py
  tests/integration/test_helpers.py
Due: format-python, lint-python

docs(api): document the oauth2 login context cookie
  schemas/openapi.json
  tests/integration/client/conftest.py
  tests/integration/conftest.py
Due: format-python, lint-python

chore(api): add oauth2 login context cookie to generated clients
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
Due: oxfmt-js, oxlint-js
