Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

evals can return labels or scores+labels
  js/packages/phoenix-evals/src/__generated__/types.ts
  js/packages/phoenix-evals/src/llm/ClassificationEvaluator.ts
  js/packages/phoenix-evals/src/llm/createClassifierFn.ts
  js/packages/phoenix-evals/src/types/evals.ts
  js/packages/phoenix-evals/test/llm/createClassifierFn.test.ts
  packages/phoenix-evals/src/phoenix/evals/__generated__/classification_evaluator_configs/_models.py
  scripts/prompts/compile_python_prompts.py
  scripts/prompts/compile_typescript_prompts.py
  src/phoenix/__generated__/classification_evaluator_configs/_models.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(ci): run prompt-compiler tests under sparse checkout without breaking collection
  .github/workflows/python-CI.yml
  tests/unit/prompts/test_compile_prompts.py
Due: format-python, lint-python

fix(evals): narrow classification choices so readonly label lists typecheck
  js/packages/phoenix-evals/src/llm/createClassifierFn.ts
Due: oxfmt-js, oxlint-js

make frontend consumers suppor label-only eval outputs, with helper funtion. Added tests too
  js/app/src/components/evaluators/AddEvaluatorMenu.tsx
  js/app/src/components/evaluators/__tests__/choicesToOutputConfigValues.test.ts
  js/app/src/components/evaluators/utils.ts
  js/app/src/pages/dataset/evaluators/DatasetEvaluatorsPage.tsx
Due: oxfmt-js, oxlint-js

fix: honor external resources flag for WASM and UI (#16639)
  docs/phoenix/pxi.mdx
  docs/phoenix/self-hosting/configuration.mdx
  docs/phoenix/self-hosting/features/sandbox-runtimes.mdx
  docs/phoenix/self-hosting/misc/frequently-asked-questions.mdx
  docs/phoenix/self-hosting/security/network-security.mdx
  docs/phoenix/self-hosting/security/privacy.mdx
  js/app/src/components/nav/Navbar.tsx
  js/app/src/hooks/useLatestPhoenixVersion.ts
  js/app/src/window.d.ts
  js/app/vitest.setup.ts
  src/phoenix/config.py
  src/phoenix/server/sandbox/_download.py
  src/phoenix/server/sandbox/wasm_backend.py
  tests/unit/server/api/test_sandbox_queries.py
  tests/unit/server/api/test_wasm_backend.py
  tests/unit/server/sandbox/test_wasm_download.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

chore: regenerate OpenAPI TypeScript clients for the DECISION span kind
  js/app/src/api/__generated__/v1.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
Due: oxfmt-js, oxlint-js

docs(integrations): add Cheaper Inference LLM provider integration
  docs.json
  docs/phoenix/integrations.mdx
  docs/phoenix/integrations/llm-providers/cheaperinference.mdx
  docs/phoenix/integrations/llm-providers/cheaperinference/openai-tracing.mdx
  docs/phoenix/llms.txt
Due: none

fix(evals): grade TRAIL answers that the judge wrongly rejected
  evals/harbor/tasks/trail-benchmark-dev/busiest-window/tests/expected.json
  evals/harbor/tasks/trail-benchmark-dev/costliest-trace-question/tests/expected.json
  evals/harbor/tasks/trail-benchmark-dev/high-impact-traces/tests/expected.json
  evals/harbor/tasks/trail-benchmark-dev/max-llm-calls/tests/expected.json
  evals/harbor/tasks/trail-benchmark-dev/repeated-tool-calls/tests/expected.json
  evals/harbor/tasks/trail-benchmark-dev/slowest-tool/tests/expected.json
  evals/harbor/tasks/trail-benchmark-dev/subagent-delegation/tests/expected.json
Due: none

fix(evals): count every PXI model call in Harbor runs
  evals/harbor/environments/container_assets/start_phoenix_server.sh
Due: none

fix(cli): show help when phoenix or phoenix db is run without a subcommand
  src/phoenix/server/cli/commands/datagen.py
  src/phoenix/server/cli/commands/db.py
  src/phoenix/server/cli/commands/serve.py
  src/phoenix/server/main.py
  tests/unit/server/cli/test_main.py
Due: format-python, lint-python

chore: add Railway Prometheus deployment setup
  scripts/docker/railway/Dockerfile.prometheus
  scripts/docker/railway/README.md
  scripts/docker/railway/prometheus.yml
Due: none

Distribute generated traces across projects
  scripts/generate_data_via_plpgsql/README.md
  scripts/generate_data_via_plpgsql/generate_spans.py
  scripts/generate_data_via_plpgsql/generate_spans.sql
  tests/unit/scripts/test_generate_spans.py
Due: format-python, lint-python

feat: track online evaluation rate-in and rate-out counters
  src/phoenix/server/online_eval/consumer.py
  src/phoenix/server/online_eval/producer.py
  src/phoenix/server/online_eval/sweeper.py
  src/phoenix/server/prometheus.py
  tests/unit/server/online_eval/test_consumer.py
  tests/unit/server/online_eval/test_producer.py
  tests/unit/server/online_eval/test_session_sweeper.py
Due: format-python, lint-python

feat(online-eval): clear project evaluator queue independently
  js/app/schema.graphql
  src/phoenix/server/api/mutations/evaluator_mutations.py
  tests/unit/server/api/mutations/test_project_evaluator_mutations.py
Due: format-python, lint-python

feat(online-eval): show per-evaluator queue window
  js/app/schema.graphql
  js/app/src/Routes.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorQueueCell.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsTable.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTablePaginationQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_project.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_row.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorsLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/refetchProjectEvaluatorsQuery.graphql.ts
  src/phoenix/server/api/dataloaders/project_evaluator_run_counts.py
  src/phoenix/server/api/types/Evaluator.py
  tests/unit/server/api/types/test_Evaluator.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(playground): the task menu shows saves, renames reach the evaluator, Save as new keeps a typed name
  js/app/src/pages/playground/TaskMenu/PlaygroundCompareMenu.tsx
  js/app/src/pages/playground/TaskMenu/TaskMenu.tsx
  js/app/src/pages/playground/TaskMenu/useTaskMenuOptions.ts
  js/app/src/pages/playground/evaluators/EvaluatorTaskSaveButton.tsx
  js/app/src/pages/playground/evaluators/SaveEvaluatorTaskDialog.tsx
  js/app/src/pages/playground/evaluators/__generated__/useEvaluatorTaskSavePatchCodeMutation.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/useEvaluatorTaskSaveTargetQuery.graphql.ts
  js/app/src/pages/playground/evaluators/useEvaluatorTaskSave.ts
  js/app/src/pages/playground/evaluators/useEvaluatorTaskSaveTarget.ts
  src/phoenix/server/api/mutations/evaluator_mutations.py
  tests/unit/server/api/mutations/test_evaluator_mutations.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(tracing): know the DECISION span kind so random-kind tests pass
  js/app/schema.graphql
  js/app/src/pages/__generated__/SpanHeader_span.graphql.ts
  js/app/src/pages/project/__generated__/SpansTable_spans.graphql.ts
  js/app/src/pages/project/__generated__/TracesTable_spans.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorScopePanelSpansQuery.graphql.ts
  js/app/src/pages/trace/__generated__/ConnectedTraceTree.graphql.ts
  js/app/src/pages/trace/__generated__/SpanDetailsQuery.graphql.ts
  src/phoenix/server/api/routers/v1/spans.py
  src/phoenix/server/api/types/Span.py
  src/phoenix/trace/schemas.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(online-evals): tabbed task selector, quieter annotating, smoother runs (#16660)
  docs/phoenix/prompt-engineering/how-to-prompts/using-the-playground.mdx
  js/app/src/components/DynamicContent.tsx
  js/app/src/components/evaluators/CodeEvaluatorSourceEditor.tsx
  js/app/src/pages/playground/InstanceVariablesContext.tsx
  js/app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  js/app/src/pages/playground/TaskMenu/PlaygroundCompareMenu.tsx
  js/app/src/pages/playground/TaskMenu/TaskMenu.tsx
  js/app/src/pages/playground/TaskMenu/TaskMenuList.tsx
  js/app/src/pages/playground/TaskMenu/__tests__/taskMenuItems.test.ts
  js/app/src/pages/playground/TaskMenu/taskMenuItems.ts
  js/app/src/pages/playground/TaskMenu/useTaskMenuOptions.ts
  js/app/src/pages/playground/evaluatorCells/ExpectedOutputSaveIndicator.tsx
  js/app/src/pages/playground/evaluatorCells/PlaygroundEvaluatorCell.tsx
  js/app/src/pages/playground/evaluatorCells/PlaygroundEvaluatorColumnHeader.tsx
  js/app/src/pages/playground/evaluatorCells/PlaygroundExpectedOutputsContext.tsx
  js/app/src/pages/playground/evaluatorCells/PlaygroundExpectedOutputsStatus.tsx
  js/app/src/pages/playground/evaluatorCells/__generated__/PlaygroundExpectedOutputsContextMutation.graphql.ts
  js/app/src/pages/playground/evaluators/EvaluatorTaskSaveButton.tsx
  js/app/src/pages/playground/evaluators/SaveEvaluatorTaskDialog.tsx
  js/app/src/pages/playground/evaluators/__generated__/useEvaluatorTaskSavePatchCodeMutation.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/useEvaluatorTaskSaveTargetQuery.graphql.ts
  js/app/src/pages/playground/evaluators/__tests__/expectedOutputQueue.test.ts
  js/app/src/pages/playground/evaluators/expectedOutputQueue.ts
  js/app/src/pages/playground/evaluators/useEvaluatorTaskSave.ts
  js/app/src/pages/playground/evaluators/useEvaluatorTaskSaveTarget.ts
  js/app/src/store/playground/__tests__/selectors.test.ts
  js/app/src/store/playground/selectors.ts
  src/phoenix/server/api/mutations/evaluator_mutations.py
  tests/unit/server/api/mutations/test_evaluator_mutations.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(playground): the Edit control is a design-system toggle button
  js/app/src/pages/playground/PlaygroundExperimentToolbar.tsx
Due: oxfmt-js, oxlint-js

feat(playground): edit the dataset's examples from the playground table
  docs/phoenix/prompt-engineering/how-to-prompts/using-the-playground.mdx
  js/app/src/components/table/edit/EditableJSONCell.tsx
  js/app/src/pages/examples/ExamplesEditToolbar.tsx
  js/app/src/pages/examples/SaveDatasetExamplesDialog.tsx
  js/app/src/pages/examples/newExampleTemplate.ts
  js/app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  js/app/src/pages/playground/PlaygroundDatasetSection.tsx
  js/app/src/pages/playground/PlaygroundExperimentToolbar.tsx
  js/app/src/pages/playground/PlaygroundRunButton.tsx
  js/app/src/pages/playground/evaluatorCells/PlaygroundEvaluatorExampleCell.tsx
  js/app/src/pages/playground/examplesEditing/PlaygroundExampleEditContent.tsx
  js/app/src/pages/playground/examplesEditing/PlaygroundExampleRowActionsCell.tsx
  js/app/src/pages/playground/examplesEditing/PlaygroundExamplesEditToolbar.tsx
  js/app/src/pages/playground/examplesEditing/__tests__/playgroundExampleEditing.test.ts
  js/app/src/pages/playground/examplesEditing/index.ts
  js/app/src/pages/playground/examplesEditing/playgroundExampleEditing.ts
  js/app/src/store/playground/playgroundStore.tsx
  js/app/src/store/playground/types.ts
Due: oxfmt-js, oxlint-js

feat(playground): a pencil on each example cell starts editing that cell
  docs/phoenix/prompt-engineering/how-to-prompts/using-the-playground.mdx
  js/app/src/components/experiment/ExperimentInputCell.tsx
  js/app/src/components/experiment/ExperimentReferenceOutputCell.tsx
  js/app/src/components/table/edit/EditableJSONCell.tsx
  js/app/src/components/table/edit/useEditableTableCell.ts
  js/app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  js/app/src/pages/playground/examplesEditing/EditExampleCellButton.tsx
  js/app/src/pages/playground/examplesEditing/index.ts
  js/app/src/store/__tests__/editableTableStore.test.ts
  js/app/src/store/editableTableStore.ts
  js/app/src/types/table.ts
Due: oxfmt-js, oxlint-js

refactor(playground): the edit session has one owner, and no effects mirror it
  js/app/src/components/table/edit/EditableJSONCell.tsx
  js/app/src/pages/playground/Playground.tsx
  js/app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  js/app/src/pages/playground/PlaygroundDatasetSection.tsx
  js/app/src/pages/playground/PlaygroundRunButton.tsx
  js/app/src/pages/playground/examplesEditing/PlaygroundExampleEditingContext.tsx
  js/app/src/pages/playground/examplesEditing/index.ts
  js/app/src/store/playground/playgroundStore.tsx
  js/app/src/store/playground/types.ts
Due: oxfmt-js, oxlint-js

fix(playground): the Edit button toggles the session instead of disappearing
  js/app/src/components/table/edit/DiscardEditsDialog.tsx
  js/app/src/components/table/edit/EditableTableToolbar.tsx
  js/app/src/components/table/edit/index.ts
  js/app/src/pages/playground/PlaygroundExperimentToolbar.tsx
Due: oxfmt-js, oxlint-js

fix(playground): one navigation blocker, frozen annotations preference, docs placement
  docs/phoenix/prompt-engineering/how-to-prompts/using-the-playground.mdx
  js/app/src/pages/playground/Playground.tsx
  js/app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  js/app/src/pages/playground/PlaygroundDatasetSection.tsx
  js/app/src/pages/playground/PlaygroundExperimentToolbar.tsx
  js/app/src/store/playground/playgroundStore.tsx
  js/app/src/store/playground/types.ts
Due: oxfmt-js, oxlint-js

fix(tracing): switch new project onboarding to the table when traces arrive
  js/app/src/pages/project/ProjectPage.tsx
  js/app/src/pages/project/ProjectPageQueries.tsx
  js/app/src/pages/project/ProjectSpansPage.tsx
  js/app/src/pages/project/ProjectTracesPage.tsx
  js/app/src/pages/project/__generated__/ProjectPageQueriesHasTracesQuery.graphql.ts
  js/app/src/pages/project/__tests__/useReloadUntilTracesArrive.test.tsx
  js/app/src/pages/project/useReloadUntilTracesArrive.ts
Due: oxfmt-js, oxlint-js

docs: Get Started sections read Observe and Evaluate
  docs/phoenix/get-started/get-started-evaluations.mdx
  docs/phoenix/get-started/get-started-tracing.mdx
Due: none

feat(datagen): send each recorded application to its own project
  src/phoenix/experimental/datagen/replayer.py
  src/phoenix/server/cli/commands/datagen.py
  tests/unit/datagen/test_replayer.py
  tests/unit/server/cli/commands/test_datagen.py
Due: format-python, lint-python

docs: link text follows the Connect Your Coding Agent rename
  docs/phoenix/get-started/get-started-tracing.mdx
Due: none

docs: plainer Observe intro
  docs/phoenix/get-started/get-started-tracing.mdx
Due: none

docs: Evaluate quickstart leads with Python and TypeScript, UI as a tab
  docs/phoenix/get-started/get-started-evaluations.mdx
Due: none

feat(datagen): send each recorded application to its own project (#16682)
  src/phoenix/experimental/datagen/replayer.py
  src/phoenix/server/cli/commands/datagen.py
  tests/unit/datagen/test_replayer.py
  tests/unit/server/cli/commands/test_datagen.py
Due: format-python, lint-python

chore(main): release arize-phoenix 20.19.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

test(plugin): add phoenix-evals cases 01-02 (groundedness judge, json schema code eval)
  plugins/claude/arize-phoenix/evals/phoenix-evals/01-rag-groundedness-judge/graders/binary-labels.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/01-rag-groundedness-judge/graders/file-created.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/01-rag-groundedness-judge/graders/mentions-validation.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/01-rag-groundedness-judge/graders/no-deprecated-api.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/01-rag-groundedness-judge/graders/skill-fired.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/01-rag-groundedness-judge/graders/uses-classification-evaluator.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/01-rag-groundedness-judge/graders/uses-phoenix-evals.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/01-rag-groundedness-judge/prompt.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/02-json-schema-code-eval/graders/code-first.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/02-json-schema-code-eval/graders/file-created.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/02-json-schema-code-eval/graders/no-llm-for-deterministic.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/02-json-schema-code-eval/graders/parses-json.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/02-json-schema-code-eval/graders/skill-fired.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/02-json-schema-code-eval/graders/uses-code-evaluator.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/02-json-schema-code-eval/prompt.md
Due: none

test(plugin): add phoenix-evals cases 03-04 (run as experiment, validate against labels)
  plugins/claude/arize-phoenix/evals/phoenix-evals/03-run-evaluator-experiment/graders/file-created.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/03-run-evaluator-experiment/graders/imports-experiments.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/03-run-evaluator-experiment/graders/runnable-experiment.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/03-run-evaluator-experiment/graders/skill-fired.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/03-run-evaluator-experiment/graders/uses-run-experiment.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/03-run-evaluator-experiment/prompt.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/04-validate-judge-labels/graders/computes-agreement.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/04-validate-judge-labels/graders/file-created.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/04-validate-judge-labels/graders/names-threshold.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/04-validate-judge-labels/graders/skill-fired.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/04-validate-judge-labels/graders/validates-against-labels.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/04-validate-judge-labels/prompt.md
Due: none

test(plugin): add phoenix-evals cases 05-06 (pytest ci gate, typescript relevance judge)
  plugins/claude/arize-phoenix/evals/phoenix-evals/05-faithfulness-ci-gate/graders/file-created.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/05-faithfulness-ci-gate/graders/gates-aggregate.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/05-faithfulness-ci-gate/graders/has-assert.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/05-faithfulness-ci-gate/graders/skill-fired.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/05-faithfulness-ci-gate/graders/uses-pytest-phoenix.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/05-faithfulness-ci-gate/prompt.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/06-ts-relevance-judge/graders/binary-labels.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/06-ts-relevance-judge/graders/file-created.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/06-ts-relevance-judge/graders/labels-not-likert.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/06-ts-relevance-judge/graders/skill-fired.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/06-ts-relevance-judge/graders/uses-classification.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/06-ts-relevance-judge/graders/uses-ts-package.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/06-ts-relevance-judge/prompt.md
Due: none

test(plugin): add phoenix-evals negatives 07-08 and suite README
  plugins/claude/arize-phoenix/evals/phoenix-evals/07-neg-instrument-tracing/graders/addresses-tracing.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/07-neg-instrument-tracing/graders/no-evaluator-built.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/07-neg-instrument-tracing/graders/skill-not-used.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/07-neg-instrument-tracing/prompt.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/08-neg-generic-metric-q/graders/answers-bleu.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/08-neg-generic-metric-q/graders/no-phoenix-evaluator.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/08-neg-generic-metric-q/graders/skill-not-used.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/08-neg-generic-metric-q/prompt.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/README.md
Due: none

docs: PXI workflow prompt uses the real travel-support rows and an explicit policy
  docs/phoenix/pxi.mdx
Due: none

docs: Evaluate opens with what an evaluation is and its three parts
  docs/phoenix/get-started/get-started-evaluations.mdx
Due: none

docs: plainer Evaluate opener
  docs/phoenix/get-started/get-started-evaluations.mdx
Due: none

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
