Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

fix(pxi-evals): compare decoded route parameters
  evals/pxi/evaluators/links.py
  tests/unit/pxi/evals/test_link_whitespace.py
Due: format-python, lint-python

fix(pxi-evals): align experiment read skill expectation
  evals/pxi/datasets/experiments_skill_trigger.yaml
Due: none

fix(pxi): clarify skill selection and reference ownership
  src/phoenix/server/agents/prompts/static/context/DATASET_CONTEXT_INSTRUCTIONS.xml
  src/phoenix/server/mcp/skills/__init__.py
  tests/unit/server/mcp/test_skills.py
Due: format-python, lint-python

fix(pxi): ask before changing out-of-range repetition requests
  src/phoenix/server/agents/prompts/static/context/PLAYGROUND_CONTEXT_INSTRUCTIONS.xml
Due: none

fix(server): scope listed dataset splits by example membership only
  src/phoenix/server/api/routers/v1/datasets.py
  tests/unit/server/api/routers/v1/test_datasets.py
Due: format-python, lint-python

fix(pxi): restore backend capabilities in eval harness
  evals/pxi/README.md
  evals/pxi/harness/agent_task.py
  evals/pxi/harness/backend.py
  tests/unit/pxi/evals/test_agent_backend.py
Due: format-python, lint-python

fix(pxi-evals): use valid span IDs in filter fixtures
  evals/pxi/datasets/set_spans_filter.yaml
  tests/unit/pxi/evals/test_datasets.py
Due: format-python, lint-python

fix(pxi): keep offline MCP dependency in eval backend
  evals/pxi/harness/agent_task.py
  evals/pxi/harness/backend.py
Due: format-python, lint-python

fix(pxi-evals): compare decoded filter predicates
  evals/pxi/README.md
  evals/pxi/datasets/set_spans_filter.yaml
  evals/pxi/evaluators/filters.py
  evals/pxi/evaluators/tools.py
  tests/unit/pxi/evals/test_datasets.py
  tests/unit/pxi/evals/test_filter_scoring.py
Due: format-python, lint-python

fix(pxi-evals): account for experiment read prerequisites
  evals/pxi/datasets/experiment_observations.yaml
Due: none

fix(pxi-evals): validate fixtures through public session transcripts
  evals/pxi/README.md
  evals/pxi/datasets/experiment_observations.yaml
  evals/pxi/datasets/in_app_links.yaml
  evals/pxi/datasets/set_spans_filter.yaml
  evals/pxi/datasets/set_time_range.yaml
  evals/pxi/harness/agent_task.py
  evals/pxi/harness/transcript.py
  tests/unit/pxi/evals/test_agent_backend.py
  tests/unit/pxi/evals/test_agent_task_inputs.py
Due: format-python, lint-python

fix(pxi-evals): type filter test scores explicitly
  tests/unit/pxi/evals/test_filter_scoring.py
Due: format-python, lint-python

fix(pxi-evals): accept whitespace around link destinations
  evals/pxi/evaluators/links.py
  tests/unit/pxi/evals/test_link_whitespace.py
Due: format-python, lint-python

fix(pxi-evals): match primed query output to command flags
  evals/pxi/datasets/in_app_links.yaml
  tests/unit/pxi/evals/test_agent_task_inputs.py
Due: format-python, lint-python

fix(pxi): list references owned by each loaded skill
  src/phoenix/server/mcp/skills/__init__.py
  tests/unit/server/mcp/test_skills.py
Due: format-python, lint-python

refactor(evals): share task defaults and remove diagram assets
  evals/mcp/README.md
  evals/mcp/assets/architecture.png
  evals/mcp/assets/architecture.svg
  evals/mcp/scripts/stage.py
  evals/mcp/tasks/count-traces/solution/solve.sh
  evals/mcp/tasks/count-traces/tests/test.sh
  evals/mcp/tasks/error-rate-by-length/solution/solve.sh
  evals/mcp/tasks/error-rate-by-length/tests/test.sh
  evals/mcp/tasks/max-llm-calls/solution/solve.sh
  evals/mcp/tasks/max-llm-calls/tests/test.sh
  evals/mcp/tasks/most-failing-tool/solution/solve.sh
  evals/mcp/tasks/most-failing-tool/tests/test.sh
  evals/mcp/tasks/noop-surface-cost/solution/solve.sh
  evals/mcp/tasks/noop-surface-cost/tests/test.sh
  evals/mcp/tasks/pagedown-root-cause/solution/solve.sh
  evals/mcp/tasks/pagedown-root-cause/tests/test.sh
  evals/mcp/tasks/repeated-tool-calls/solution/solve.sh
  evals/mcp/tasks/repeated-tool-calls/tests/test.sh
  evals/mcp/tasks/spend-concentration/solution/solve.sh
  evals/mcp/tasks/spend-concentration/tests/test.sh
  evals/mcp/tasks/top-error-category/solution/solve.sh
  evals/mcp/tasks/top-error-category/tests/test.sh
  evals/mcp/tasks/total-cost/solution/solve.sh
  evals/mcp/tasks/total-cost/tests/test.sh
  tests/evals/mcp/test_staging.py
Due: format-python, lint-python

refactor(evals): restore explicit Harbor task entrypoints
  evals/mcp/README.md
  evals/mcp/scripts/stage.py
  evals/mcp/tasks/count-traces/solution/solve.sh
  evals/mcp/tasks/count-traces/tests/test.sh
  evals/mcp/tasks/error-rate-by-length/solution/solve.sh
  evals/mcp/tasks/error-rate-by-length/tests/test.sh
  evals/mcp/tasks/max-llm-calls/solution/solve.sh
  evals/mcp/tasks/max-llm-calls/tests/test.sh
  evals/mcp/tasks/most-failing-tool/solution/solve.sh
  evals/mcp/tasks/most-failing-tool/tests/test.sh
  evals/mcp/tasks/noop-surface-cost/solution/solve.sh
  evals/mcp/tasks/noop-surface-cost/tests/test.sh
  evals/mcp/tasks/pagedown-root-cause/solution/solve.sh
  evals/mcp/tasks/pagedown-root-cause/tests/test.sh
  evals/mcp/tasks/repeated-tool-calls/solution/solve.sh
  evals/mcp/tasks/repeated-tool-calls/tests/test.sh
  evals/mcp/tasks/spend-concentration/solution/solve.sh
  evals/mcp/tasks/spend-concentration/tests/test.sh
  evals/mcp/tasks/top-error-category/solution/solve.sh
  evals/mcp/tasks/top-error-category/tests/test.sh
  evals/mcp/tasks/total-cost/solution/solve.sh
  evals/mcp/tasks/total-cost/tests/test.sh
Due: format-python, lint-python

fix(pxi-evals): check repeated calls in read-only examples
  evals/pxi/README.md
  evals/pxi/datasets/experiment_observations.yaml
  evals/pxi/evaluators/tools.py
  tests/unit/pxi/evals/test_call_budgets.py
Due: format-python, lint-python

ci: scope PXI eval workflow to PXI changes
  .github/workflows/pxi-evals.yml
Due: none

fix(phoenix-sqlean): fix memory-safety and correctness bugs in the C driver (#14546)
  packages/phoenix-sqlean/LICENSE
  packages/phoenix-sqlean/Makefile
  packages/phoenix-sqlean/THIRD_PARTY_LICENSES
  packages/phoenix-sqlean/setup.py
  packages/phoenix-sqlean/src/blob.c
  packages/phoenix-sqlean/src/cache.c
  packages/phoenix-sqlean/src/connection.c
  packages/phoenix-sqlean/src/connection.h
  packages/phoenix-sqlean/src/cursor.c
  packages/phoenix-sqlean/src/row.c
  packages/phoenix-sqlean/src/sqlean.c
  packages/phoenix-sqlean/src/statement.c
  packages/phoenix-sqlean/src/statement.h
  packages/phoenix-sqlean/src/util.c
  packages/phoenix-sqlean/tests/__main__.py
  packages/phoenix-sqlean/tests/driver_regressions.py
Due: format-python, lint-python

chore(main): release arize-phoenix 20.11.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

chore(main): release arize-phoenix-client 3.5.0
  .release-please-manifest.json
  packages/phoenix-client/CHANGELOG.md
  packages/phoenix-client/pyproject.toml
Due: uv-lock-check

chore(main): release arize-phoenix-evals 3.9.0
  .release-please-manifest.json
  packages/phoenix-evals/CHANGELOG.md
  packages/phoenix-evals/pyproject.toml
Due: uv-lock-check

chore(main): release arize-phoenix-sqlean 0.1.2
  .release-please-manifest.json
  packages/phoenix-sqlean/CHANGELOG.md
  packages/phoenix-sqlean/setup.py
Due: format-python, lint-python

chore(main): release arize-phoenix-sqlean 0.1.2 (#16144)
  .release-please-manifest.json
  packages/phoenix-sqlean/CHANGELOG.md
  packages/phoenix-sqlean/setup.py
Due: format-python, lint-python

chore(main): release arize-phoenix 20.11.0 (#16125)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

chore: update phoenix version to 20.11.0 in kustomize and helm
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

refactor(project-evaluators): share the time-window presets
  js/app/src/pages/playground/evaluators/__generated__/EvaluatorPlaygroundProjectSampleQuery.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/EvaluatorPlaygroundProjectSelectQuery.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/EvaluatorSlot_projectEvaluator.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/useEvaluatorPlaygroundExpectedOutputsCreateSpanMutation.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/useEvaluatorPlaygroundExpectedOutputsDatasetMutation.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/useEvaluatorPlaygroundExpectedOutputsDeleteSpanMutation.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/useEvaluatorPlaygroundExpectedOutputsPatchSpanMutation.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/useEvaluatorSlotSaveAddProjectCodeMutation.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/useEvaluatorSlotSaveCreateProjectCodeMutation.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/useEvaluatorSlotSaveCreateProjectLLMMutation.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/useEvaluatorSlotSaveProjectNamesQuery.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/useEvaluatorSlotSaveUpdateProjectCodeMutation.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/useEvaluatorSlotSaveUpdateProjectLLMMutation.graphql.ts
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopePanel.tsx
  js/app/src/pages/project/evaluators/projectEvaluatorTimeWindow.ts
Due: oxfmt-js, oxlint-js

feat(project-evaluators): open a project evaluator in the evaluator playground
  js/app/src/pages/project/evaluators/ProjectEvaluatorActionMenu.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsTable.tsx
Due: oxfmt-js, oxlint-js

feat(evaluator-playground): run evaluators over a project's spans
  docs/phoenix/prompt-engineering/how-to-prompts/using-the-playground.mdx
  js/app/src/Routes.tsx
  js/app/src/agent/uiOperations/operations/evaluatorPlayground.ts
  js/app/src/pages/playground/evaluators/EvaluatorPlayground.tsx
  js/app/src/pages/playground/evaluators/EvaluatorPlaygroundProjectSample.tsx
  js/app/src/pages/playground/evaluators/EvaluatorPlaygroundProjectSelect.tsx
  js/app/src/pages/playground/evaluators/EvaluatorPlaygroundSaveFilterMenu.tsx
  js/app/src/pages/playground/evaluators/EvaluatorPlaygroundSettingsButton.tsx
  js/app/src/pages/playground/evaluators/EvaluatorPlaygroundSourceStrip.tsx
  js/app/src/pages/playground/evaluators/EvaluatorSlot.tsx
  js/app/src/pages/playground/evaluators/EvaluatorSlotEditor.tsx
  js/app/src/pages/playground/evaluators/SaveEvaluatorSlotDialog.tsx
  js/app/src/pages/playground/evaluators/__generated__/EvaluatorPlaygroundExpectedOutputsMutation.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/EvaluatorPlaygroundProjectSelectQuery.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/EvaluatorSlotSourceQuery.graphql.ts
  js/app/src/pages/playground/evaluators/__tests__/evaluatorPlaygroundOperations.test.tsx
  js/app/src/pages/playground/evaluators/__tests__/evaluatorPlaygroundSource.test.ts
  js/app/src/pages/playground/evaluators/__tests__/evaluatorSaveTarget.test.ts
  js/app/src/pages/playground/evaluators/__tests__/spanSampleRows.test.ts
  js/app/src/pages/playground/evaluators/evaluatorAgentSlot.ts
  js/app/src/pages/playground/evaluators/evaluatorPlaygroundSource.ts
  js/app/src/pages/playground/evaluators/evaluatorResults.ts
  js/app/src/pages/playground/evaluators/evaluatorSaveTarget.ts
  js/app/src/pages/playground/evaluators/evaluatorSlotTypes.ts
  js/app/src/pages/playground/evaluators/results/EvaluatorPlaygroundResults.tsx
  js/app/src/pages/playground/evaluators/spanSampleRows.ts
  js/app/src/pages/playground/evaluators/useEvaluatorPlaygroundAgent.ts
  js/app/src/pages/playground/evaluators/useEvaluatorPlaygroundExpectedOutputs.ts
  js/app/src/pages/playground/evaluators/useEvaluatorSlotSave.ts
  js/app/src/pages/playground/evaluators/useEvaluatorWorkspaceOperations.ts
  src/phoenix/server/agents/prompts/skills/playground/SKILL.md
  src/phoenix/server/agents/prompts/static/context/PLAYGROUND_CONTEXT_INSTRUCTIONS.xml
Due: oxfmt-js, oxlint-js

fix(evaluator-playground): size-S filter field so it fits the results strip
  js/app/src/components/filter/DSLFilterConditionField.tsx
  js/app/src/components/filter/styles.ts
  js/app/src/pages/playground/evaluators/EvaluatorPlaygroundSourceStrip.tsx
  js/app/src/pages/project/SpanFilterConditionField.tsx
Due: oxfmt-js, oxlint-js

fix(evals): add a timeout to benchmark dataset downloads
  packages/phoenix-evals/src/phoenix/evals/utils.py
  packages/phoenix-evals/tests/phoenix/evals/test_utils.py
Due: format-python, lint-python

feat(evaluator-playground): drop the time window and move sample size to settings
  docs/phoenix/prompt-engineering/how-to-prompts/using-the-playground.mdx
  js/app/src/Routes.tsx
  js/app/src/agent/uiOperations/operations/evaluatorPlayground.ts
  js/app/src/pages/playground/evaluators/EvaluatorPlayground.tsx
  js/app/src/pages/playground/evaluators/EvaluatorPlaygroundProjectSample.tsx
  js/app/src/pages/playground/evaluators/EvaluatorPlaygroundSettingsButton.tsx
  js/app/src/pages/playground/evaluators/EvaluatorPlaygroundSourceStrip.tsx
  js/app/src/pages/playground/evaluators/__generated__/EvaluatorPlaygroundProjectSampleQuery.graphql.ts
  js/app/src/pages/playground/evaluators/__tests__/evaluatorPlaygroundSource.test.ts
  js/app/src/pages/playground/evaluators/evaluatorPlaygroundSource.ts
  js/app/src/pages/playground/evaluators/useEvaluatorPlaygroundAgent.ts
  js/app/src/pages/playground/evaluators/useEvaluatorPlaygroundSample.tsx
  js/app/src/pages/playground/evaluators/useEvaluatorWorkspaceOperations.ts
  js/app/src/pages/project/evaluators/projectEvaluatorTimeWindow.ts
  src/phoenix/server/agents/prompts/skills/playground/SKILL.md
  src/phoenix/server/agents/prompts/static/context/PLAYGROUND_CONTEXT_INSTRUCTIONS.xml
Due: oxfmt-js, oxlint-js

perf(evaluator-playground): render a capped JSON preview in collapsed field cells
  js/app/src/components/code/JSONBlock.tsx
  js/app/src/pages/playground/evaluators/__tests__/jsonPreview.test.ts
  js/app/src/pages/playground/evaluators/results/ExampleFieldCell.tsx
  js/app/src/pages/playground/evaluators/results/jsonPreview.ts
Due: oxfmt-js, oxlint-js

perf(evaluator-playground): virtualize the results table rows
  js/app/src/pages/playground/evaluators/__tests__/EvaluatorPlaygroundResults.test.tsx
  js/app/src/pages/playground/evaluators/results/EvaluatorPlaygroundResults.tsx
  js/app/src/pages/playground/evaluators/results/EvaluatorPlaygroundResultsBody.tsx
  js/app/src/pages/playground/evaluators/results/ExampleFieldCell.tsx
Due: oxfmt-js, oxlint-js

feat(evaluator-playground): let PXI craft, validate and reuse span filters over a project
  js/app/src/agent/uiOperations/operations/evaluatorPlayground.ts
  js/app/src/pages/playground/evaluators/EvaluatorSlotEditor.tsx
  js/app/src/pages/playground/evaluators/__generated__/evaluatorPlaygroundProjectLookupQuery.graphql.ts
  js/app/src/pages/playground/evaluators/__tests__/evaluatorPlaygroundOperations.test.tsx
  js/app/src/pages/playground/evaluators/evaluatorAgentSlot.ts
  js/app/src/pages/playground/evaluators/evaluatorPlaygroundProjectLookup.ts
  js/app/src/pages/playground/evaluators/useEvaluatorPlaygroundAgent.ts
  js/app/src/pages/playground/evaluators/useEvaluatorWorkspaceOperations.ts
  js/app/src/pages/project/SpanFilterConditionField.tsx
  js/app/src/pages/project/__generated__/SpanFilterConditionFieldCompletionsQuery.graphql.ts
  js/app/src/pages/project/__generated__/spanFilterProjectVocabularyQuery.graphql.ts
  js/app/src/pages/project/__tests__/spanFilterHelp.test.ts
  js/app/src/pages/project/spanFilterHelp.ts
  js/app/src/pages/project/spanFilterProjectVocabulary.ts
  src/phoenix/server/agents/prompts/skills/playground/SKILL.md
  src/phoenix/server/agents/prompts/static/context/PLAYGROUND_CONTEXT_INSTRUCTIONS.xml
Due: oxfmt-js, oxlint-js
