Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

remove message rewind actions tests
  app/src/components/agent/__tests__/MessageRewindActions.test.tsx
Due: oxfmt-app, oxlint-app

feat: add copy trace ID chat action (#13647)
  app/src/components/agent/AssistantMessageActions.tsx
  app/src/components/agent/ChatMessage.tsx
  app/src/components/agent/MessageCopyAction.tsx
  app/src/components/agent/MessageRewindActions.tsx
Due: oxfmt-app, oxlint-app

update PXI base instructions
  src/phoenix/server/agents/prompts/base/BASE_INSTRUCTIONS.xml.j2
Due: none

cleanup
  src/phoenix/server/agents/prompts/base/BASE_INSTRUCTIONS.xml.j2
Due: none

feat: update PXI base instructions (#13648)
  src/phoenix/server/agents/prompts/base/BASE_INSTRUCTIONS.xml.j2
Due: none

docs(skills): update phoenix-github skill for current roadmap
  .agents/skills/phoenix-github/SKILL.md
Due: none

docs(skills): update phoenix-github skill for current roadmap (#13649)
  .agents/skills/phoenix-github/SKILL.md
Due: none

feat(app): make the time range selector an inline, editable field
  app/src/components/datetime/TimeRangeFields.tsx
  app/src/components/datetime/TimeRangeSelector.tsx
  app/stories/TimeRangeSelector.stories.tsx
Due: oxfmt-app, oxlint-app

Close time range presets on select
  app/src/components/datetime/TimeRangeSelector.tsx
Due: oxfmt-app, oxlint-app

Remove Observe banner
  docs.json
Due: none

Remove Observe banner (#13651)
  docs.json
Due: none

fix time range menu flicker
  app/src/components/datetime/TimeRangeFields.tsx
  app/src/components/datetime/TimeRangeSelector.tsx
  app/src/components/datetime/__tests__/TimeRangeSelector.test.tsx
Due: oxfmt-app, oxlint-app

fix(agents): pin forced-floating PXI panel to the FAB corner over drawers
  app/src/components/agent/AgentChatPanel.tsx
  app/src/components/agent/AgentChatPanelView.tsx
  app/src/components/agent/ResizableFloatingPanel.tsx
  app/src/components/agent/__tests__/AgentChatPanelView.test.tsx
Due: oxfmt-app, oxlint-app

fix(agents): keep undocked PXI panel pinned to the FAB corner
  app/src/components/agent/ResizableFloatingPanel.tsx
  app/src/components/agent/__tests__/AgentChatPanelView.test.tsx
  app/src/components/agent/__tests__/ResizableFloatingPanel.test.tsx
Due: oxfmt-app, oxlint-app

fix(agents): keep drawer-forced PXI panel content-bound
  app/src/components/agent/AgentChatPanelView.tsx
  app/src/components/agent/ResizableFloatingPanel.tsx
  app/src/components/agent/__tests__/AgentChatPanelView.test.tsx
  app/src/components/agent/__tests__/ResizableFloatingPanel.test.tsx
Due: oxfmt-app, oxlint-app

fix(agents): pin forced-floating PXI panel to the FAB corner over drawers (#13652)
  app/src/components/agent/AgentChatPanel.tsx
  app/src/components/agent/AgentChatPanelView.tsx
  app/src/components/agent/ResizableFloatingPanel.tsx
  app/src/components/agent/__tests__/AgentChatPanelView.test.tsx
  app/src/components/agent/__tests__/ResizableFloatingPanel.test.tsx
Due: oxfmt-app, oxlint-app

test(canary): access NotRequired result keys via .get()
  packages/phoenix-client/tests/canary/sdk/openai/test_chat.py
Due: format-python, lint-python

fix(agent): focus PXI input on open
  app/src/components/agent/AgentChatPanel.tsx
  app/src/components/agent/Chat.tsx
  app/src/components/agent/__tests__/Chat.test.tsx
Due: oxfmt-app, oxlint-app

fix: scroll grouped auto-open tools
  app/src/components/agent/ToolPart.tsx
  app/src/components/agent/ToolPartGroup.tsx
  app/src/components/agent/__tests__/ToolPartDisclosure.test.tsx
Due: oxfmt-app, oxlint-app

fix(client): drop Google top_k instead of mapping it to OpenAI top_logprobs (#13640)
  packages/phoenix-client/src/phoenix/client/helpers/sdk/openai/chat.py
  packages/phoenix-client/tests/canary/sdk/openai/test_chat.py
Due: format-python, lint-python

chore(main): release arize-phoenix-client 2.8.0
  .release-please-manifest.json
  packages/phoenix-client/CHANGELOG.md
  packages/phoenix-client/pyproject.toml
Due: uv-lock-check

feat(agents): add networkless GraphQL server agent
  .gitignore
  src/phoenix/server/agents/agent_factory.py
  src/phoenix/server/agents/capabilities/server_agents/__init__.py
  src/phoenix/server/agents/capabilities/server_agents/capability.py
  src/phoenix/server/agents/capabilities/server_agents/toolset.py
  src/phoenix/server/agents/graphql/__init__.py
  src/phoenix/server/agents/graphql/server_agent.py
  src/phoenix/server/agents/graphql/toolset.py
  src/phoenix/server/agents/graphql/types.py
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/routers/agents.py
  src/phoenix/server/app.py
  tests/unit/server/agents/graphql/test_server_agent.py
Due: format-python, lint-python

feat(scripts): add gh-comment-watch on-call dashboard
  Makefile
  scripts/gh-comment-watch/.gitignore
  scripts/gh-comment-watch/.oxlintrc.json
  scripts/gh-comment-watch/README.md
  scripts/gh-comment-watch/package.json
  scripts/gh-comment-watch/pnpm-workspace.yaml
  scripts/gh-comment-watch/src/config.ts
  scripts/gh-comment-watch/src/db.ts
  scripts/gh-comment-watch/src/discussions.ts
  scripts/gh-comment-watch/src/github.ts
  scripts/gh-comment-watch/src/membership.ts
  scripts/gh-comment-watch/src/server.ts
  scripts/gh-comment-watch/src/sync.ts
  scripts/gh-comment-watch/src/team.ts
  scripts/gh-comment-watch/src/triage.test.ts
  scripts/gh-comment-watch/src/triage.ts
  scripts/gh-comment-watch/src/types.ts
  scripts/gh-comment-watch/tsconfig.json
  scripts/gh-comment-watch/web/.oxlintrc.json
  scripts/gh-comment-watch/web/index.html
  scripts/gh-comment-watch/web/package.json
  scripts/gh-comment-watch/web/public/favicon.svg
  scripts/gh-comment-watch/web/src/App.tsx
  scripts/gh-comment-watch/web/src/api.ts
  scripts/gh-comment-watch/web/src/index.css
  scripts/gh-comment-watch/web/src/main.tsx
  scripts/gh-comment-watch/web/tsconfig.app.json
  scripts/gh-comment-watch/web/tsconfig.json
  scripts/gh-comment-watch/web/tsconfig.node.json
  scripts/gh-comment-watch/web/vite.config.ts
Due: none

feat(gh-comment-watch): show issue/PR author distinctly from last commenter
  scripts/gh-comment-watch/web/src/App.tsx
Due: none

feat(gh-comment-watch): port to drizzle and hono
  scripts/gh-comment-watch/.gitignore
  scripts/gh-comment-watch/drizzle.config.ts
  scripts/gh-comment-watch/drizzle/0000_init.sql
  scripts/gh-comment-watch/drizzle/meta/0000_snapshot.json
  scripts/gh-comment-watch/drizzle/meta/_journal.json
  scripts/gh-comment-watch/package.json
  scripts/gh-comment-watch/src/config.ts
  scripts/gh-comment-watch/src/db.ts
  scripts/gh-comment-watch/src/schema.ts
  scripts/gh-comment-watch/src/server.ts
Due: none

feat(gh-comment-watch): persist filters in query params
  scripts/gh-comment-watch/web/src/App.tsx
Due: none

update readme
  scripts/gh-comment-watch/README.md
Due: none

feat(gh-comment-watch): add toggle to hide team-authored threads (default on)
  scripts/gh-comment-watch/README.md
  scripts/gh-comment-watch/drizzle/0001_premium_robin_chapel.sql
  scripts/gh-comment-watch/drizzle/meta/0001_snapshot.json
  scripts/gh-comment-watch/drizzle/meta/_journal.json
  scripts/gh-comment-watch/src/db.ts
  scripts/gh-comment-watch/src/discussions.ts
  scripts/gh-comment-watch/src/schema.ts
  scripts/gh-comment-watch/src/server.ts
  scripts/gh-comment-watch/src/sync.ts
  scripts/gh-comment-watch/src/triage.test.ts
  scripts/gh-comment-watch/src/triage.ts
  scripts/gh-comment-watch/src/types.ts
  scripts/gh-comment-watch/web/src/App.tsx
  scripts/gh-comment-watch/web/src/api.ts
Due: none

Update makefile
  Makefile
Due: none

fix time range escape commit
  app/src/components/datetime/TimeRangeFields.tsx
  app/src/components/datetime/TimeRangeSelector.tsx
  app/src/components/datetime/__tests__/TimeRangeSelectorEscape.test.tsx
  app/src/utils/__tests__/timeFormatUtils.test.ts
  app/src/utils/timeFormatUtils.ts
Due: oxfmt-app, oxlint-app

feat(gh-comment-watch): divide recent from 2+ day-old threads when sorted newest-first
  scripts/gh-comment-watch/web/src/App.tsx
Due: none

feat(gh-comment-watch): bump stale divider threshold to 3 days
  scripts/gh-comment-watch/web/src/App.tsx
Due: none

focus time range presets on open
  app/src/components/datetime/TimeRangeSelector.tsx
  app/src/components/datetime/__tests__/TimeRangeSelector.test.tsx
  app/src/components/datetime/__tests__/TimeRangeSelectorEscape.test.tsx
Due: oxfmt-app, oxlint-app

keep time range form visible with presets
  app/src/components/datetime/TimeRangeSelector.tsx
  app/src/components/datetime/__tests__/TimeRangeSelector.test.tsx
  app/src/components/datetime/__tests__/TimeRangeSelectorEscape.test.tsx
Due: oxfmt-app, oxlint-app

refactor(server): move DataLoaders into dataloaders package to break import cycle
  src/phoenix/server/agents/capabilities/server_agents/capability.py
  src/phoenix/server/agents/graphql/toolset.py
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python

submit custom time range on enter
  app/src/components/datetime/TimeRangeFields.tsx
  app/src/components/datetime/TimeRangeSelector.tsx
  app/src/components/datetime/__tests__/TimeRangeSelectorEscape.test.tsx
Due: oxfmt-app, oxlint-app

capture enter in time range fields
  app/src/components/datetime/TimeRangeFields.tsx
Due: oxfmt-app, oxlint-app

handle escape in time range controls
  app/src/components/datetime/TimeRangeFields.tsx
  app/src/components/datetime/TimeRangeSelector.tsx
  app/src/components/datetime/__tests__/TimeRangeSelectorEscape.test.tsx
Due: oxfmt-app, oxlint-app

document time range selector interactions
  app/src/components/datetime/TimeRangeSelector.tsx
  app/src/components/datetime/__tests__/TimeRangeSelector.test.tsx
Due: oxfmt-app, oxlint-app

refactor(agents): reorganize server-agent toolset into an internal tool capability
  src/phoenix/server/agents/agent_factory.py
  src/phoenix/server/agents/capabilities/server_agents/__init__.py
  src/phoenix/server/agents/capabilities/server_agents/capability.py
  src/phoenix/server/agents/capabilities/server_agents/toolset.py
  src/phoenix/server/agents/capabilities/tools/internal/__init__.py
  src/phoenix/server/agents/capabilities/tools/internal/call_subagent.py
  src/phoenix/server/agents/capabilities/tools/internal/run_graphql_query.py
  src/phoenix/server/agents/graphql/__init__.py
  src/phoenix/server/agents/graphql/server_agent.py
  src/phoenix/server/agents/graphql/toolset.py
  src/phoenix/server/agents/graphql/types.py
  src/phoenix/server/agents/prompts/__init__.py
  src/phoenix/server/agents/prompts/server_agent/SERVER_AGENT_INSTRUCTIONS.xml.j2
  src/phoenix/server/agents/server_agents.py
  src/phoenix/server/api/context.py
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/agents/server_agents/test_server_agent.py
Due: format-python, lint-python
