Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

feat(agents): add /chat-v2 endpoint behind experimental toggle
  app/src/agent/extensions/capabilities.ts
  app/src/components/agent/useAgentChatPanelState.ts
  src/phoenix/server/api/routers/__init__.py
  src/phoenix/server/api/routers/chat_v2.py
  src/phoenix/server/app.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

refactor(agents): extract create_pxi_agent helper
  src/phoenix/server/agents/chat_v2/pxi_agent.py
  src/phoenix/server/api/routers/chat_v2.py
Due: format-python, lint-python

feat(agents): attach Anthropic cache settings inside build_chat_model
  src/phoenix/server/agents/model_factory.py
  src/phoenix/server/api/routers/chat_v2.py
  src/phoenix/server/api/routers/data_stream_protocol.py
  tests/unit/server/api/routers/test_data_stream_protocol.py
Due: format-python, lint-python

feat(agents): wire bash tool on /chat-v2 via ExternalToolset
  src/phoenix/server/agents/chat_v2/__init__.py
  src/phoenix/server/agents/chat_v2/dependencies.py
  src/phoenix/server/agents/chat_v2/tools/__init__.py
  src/phoenix/server/agents/chat_v2/tools/bash.py
  src/phoenix/server/agents/chat_v2/toolsets.py
  src/phoenix/server/api/routers/chat_v2.py
Due: format-python, lint-python

feat(agents): add OpenInference tracing to /chat-v2
  pyproject.toml
  src/phoenix/server/agents/instrumentation.py
  src/phoenix/server/api/routers/chat_v2.py
  uv.lock
Due: format-python, lint-python, uv-lock-check

feat(agents): wire ask_user tool on /chat-v2
  src/phoenix/server/agents/chat_v2/tools/ask_user.py
  src/phoenix/server/agents/chat_v2/toolsets.py
  src/phoenix/server/api/routers/chat_v2.py
Due: format-python, lint-python

feat(agents): wire Mintlify docs MCP toolset on /chat-v2
  src/phoenix/server/agents/chat_v2/dependencies.py
  src/phoenix/server/agents/chat_v2/mintlify_docs.py
  src/phoenix/server/agents/chat_v2/toolsets.py
  src/phoenix/server/api/routers/chat_v2.py
  src/phoenix/server/app.py
Due: format-python, lint-python

feat(agents): inject UI context via history_processor on /chat-v2
  src/phoenix/server/api/routers/chat_v2.py
Due: format-python, lint-python

feat(agents): wire chat-v2 deps, instructions, and message logging
  src/phoenix/server/agents/context.py
  src/phoenix/server/api/routers/chat_v2.py
Due: format-python, lint-python

feat(agents): wire /chat-v2 with tools behind experimental toggle (#13009)
  app/src/agent/extensions/capabilities.ts
  app/src/components/agent/useAgentChatPanelState.ts
  pyproject.toml
  src/phoenix/server/agents/chat_v2/__init__.py
  src/phoenix/server/agents/chat_v2/dependencies.py
  src/phoenix/server/agents/chat_v2/mintlify_docs.py
  src/phoenix/server/agents/chat_v2/pxi_agent.py
  src/phoenix/server/agents/chat_v2/tools/__init__.py
  src/phoenix/server/agents/chat_v2/tools/ask_user.py
  src/phoenix/server/agents/chat_v2/tools/bash.py
  src/phoenix/server/agents/chat_v2/tools/set_spans_filter.py
  src/phoenix/server/agents/chat_v2/toolsets.py
  src/phoenix/server/agents/context.py
  src/phoenix/server/agents/instrumentation.py
  src/phoenix/server/agents/model_factory.py
  src/phoenix/server/api/routers/__init__.py
  src/phoenix/server/api/routers/chat_v2.py
  src/phoenix/server/api/routers/data_stream_protocol.py
  src/phoenix/server/app.py
  tests/unit/server/api/routers/test_data_stream_protocol.py
  uv.lock
Due: format-python, lint-python, oxfmt-app, oxlint-app, uv-lock-check

feat(openapi): include auth, oauth2, and chat routes in generated schema
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  schemas/openapi.json
  src/phoenix/server/api/openapi/schema.py
  src/phoenix/server/api/routers/auth.py
  src/phoenix/server/api/routers/chat.py
  src/phoenix/server/api/routers/oauth2.py
  src/phoenix/server/app.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

feat(openapi): include chat-v2 router in generated schema
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/server/api/openapi/schema.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

docs: address release notes PR review and harden the skill
  .agents/skills/phoenix-release-notes/SKILL.md
  docs/phoenix/release-notes.mdx
  docs/phoenix/release-notes/04-2026/04-30-2026-annotation-enhancements.mdx
  docs/phoenix/release-notes/05-2026/05-05-2026-rest-api-updates.mdx
Due: none

docs: address self-review findings on release notes PR
  .agents/skills/phoenix-release-notes/SKILL.md
  docs/phoenix/release-notes.mdx
  docs/phoenix/release-notes/04-2026/04-30-2026-annotation-enhancements.mdx
  docs/phoenix/release-notes/04-2026/04-30-2026-cli-auth-profiles.mdx
  docs/phoenix/release-notes/05-2026/05-05-2026-provider-tools.mdx
  docs/phoenix/release-notes/05-2026/05-05-2026-rest-api-updates.mdx
Due: none

docs: Add Phoenix release notes for 04-29-2026 through 05-05-2026 (#13058)
  .agents/skills/phoenix-release-notes/SKILL.md
  docs.json
  docs/phoenix/release-notes.mdx
  docs/phoenix/release-notes/04-2026/04-29-2026-dataset-upsert.mdx
  docs/phoenix/release-notes/04-2026/04-30-2026-annotation-enhancements.mdx
  docs/phoenix/release-notes/04-2026/04-30-2026-cli-auth-profiles.mdx
  docs/phoenix/release-notes/05-2026/05-05-2026-provider-tools.mdx
  docs/phoenix/release-notes/05-2026/05-05-2026-rest-api-updates.mdx
  docs/phoenix/release-notes/2026.mdx
Due: none

chore: update sitemap.xml
  docs/phoenix/sitemap.xml
  sitemap.xml
Due: none

docs: Audit and update llms.txt (#13063)
  docs/phoenix/llms.txt
Due: none

chore: update sitemap.xml (#13073)
  docs/phoenix/sitemap.xml
  sitemap.xml
Due: none

docs: add REST API pages for filter-based annotation DELETE endpoints
  docs.json
  docs/phoenix/sdk-api-reference/rest-api/api-reference/annotations.mdx
  docs/phoenix/sdk-api-reference/rest-api/api-reference/annotations/delete-session-annotations-by-filter.mdx
  docs/phoenix/sdk-api-reference/rest-api/api-reference/annotations/delete-span-annotations-by-filter.mdx
  docs/phoenix/sdk-api-reference/rest-api/api-reference/annotations/delete-trace-annotations-by-filter.mdx
Due: none

docs: add REST API pages for filter-based annotation DELETE endpoints (#13075)
  docs.json
  docs/phoenix/sdk-api-reference/rest-api/api-reference/annotations.mdx
  docs/phoenix/sdk-api-reference/rest-api/api-reference/annotations/delete-session-annotations-by-filter.mdx
  docs/phoenix/sdk-api-reference/rest-api/api-reference/annotations/delete-span-annotations-by-filter.mdx
  docs/phoenix/sdk-api-reference/rest-api/api-reference/annotations/delete-trace-annotations-by-filter.mdx
Due: none

docs: add px profile commands to CLI reference page
  docs/phoenix/sdk-api-reference/typescript/arizeai-phoenix-cli.mdx
Due: none

docs: fix px profile edit editor precedence and drop version callout
  docs/phoenix/sdk-api-reference/typescript/arizeai-phoenix-cli.mdx
Due: none

feat(sandbox): bundle deno and wasmtime into Phoenix container
  Dockerfile
  app/src/pages/settings/sandboxes/SandboxConfigDialog.tsx
  app/src/pages/settings/sandboxes/__tests__/shouldShowLocalDenoTrustWarning.test.ts
  app/src/pages/settings/sandboxes/utils.tsx
  docs.json
  docs/phoenix/self-hosting.mdx
  docs/phoenix/self-hosting/features/sandbox-runtimes.mdx
  pyproject.toml
  src/phoenix/server/api/types/SandboxConfig.py
  src/phoenix/server/sandbox/_download.py
  src/phoenix/server/sandbox/wasm_backend.py
  tests/unit/server/api/test_wasm_backend.py
  tests/unit/server/sandbox/test_wasm_download.py
  uv.lock
Due: format-python, lint-python, oxfmt-app, oxlint-app, uv-lock-check

feat(sandbox): bundle deno and wasmtime into devops Dockerfiles
  scripts/docker/devops/Dockerfile
  scripts/docker/devops/Dockerfile.vite
Due: none

feat(sandbox): bundle remote-provider SDKs into container extra
  pyproject.toml
  uv.lock
Due: uv-lock-check

chore(types): drop now-unused wasmtime type-ignore
  src/phoenix/server/sandbox/wasm_backend.py
Due: format-python, lint-python

chore(types): silence wasmtime missing-import in mypy
  pyproject.toml
Due: uv-lock-check

feat(sandbox): bundle deno and wasmtime into Phoenix container (#13047)
  Dockerfile
  app/src/pages/settings/sandboxes/SandboxConfigDialog.tsx
  app/src/pages/settings/sandboxes/__tests__/shouldShowLocalDenoTrustWarning.test.ts
  app/src/pages/settings/sandboxes/utils.tsx
  docs.json
  docs/phoenix/self-hosting.mdx
  docs/phoenix/self-hosting/features/sandbox-runtimes.mdx
  pyproject.toml
  scripts/docker/devops/Dockerfile
  scripts/docker/devops/Dockerfile.vite
  src/phoenix/server/api/types/SandboxConfig.py
  src/phoenix/server/sandbox/_download.py
  src/phoenix/server/sandbox/wasm_backend.py
  tests/unit/server/api/test_wasm_backend.py
  tests/unit/server/sandbox/test_wasm_download.py
  uv.lock
Due: format-python, lint-python, oxfmt-app, oxlint-app, uv-lock-check

docs: address PR review on Profiles section
  docs/phoenix/sdk-api-reference/typescript/arizeai-phoenix-cli.mdx
  js/packages/phoenix-cli/README.md
Due: oxfmt-js

docs: add px profile commands to CLI reference page (#13077)
  docs/phoenix/sdk-api-reference/typescript/arizeai-phoenix-cli.mdx
  js/packages/phoenix-cli/README.md
Due: oxfmt-js

refactor(sandbox): apply PR review feedback on language identity
  scripts/ddl/generate_ddl_postgresql.py
  scripts/ddl/postgresql_schema.sql
  src/phoenix/db/migrations/versions/0ff41b5b118f_add_sandbox_and_code_evaluator_support.py
  src/phoenix/db/models.py
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/api/mutations/sandbox_config_mutations.py
  src/phoenix/server/api/types/SandboxConfig.py
  src/phoenix/server/sandbox/sync.py
  tests/unit/server/api/helpers/test_evaluators.py
  tests/unit/server/api/mutations/test_code_evaluator_sandbox_mutations.py
  tests/unit/server/api/mutations/test_sandbox_config_mutations.py
  tests/unit/server/api/routers/v1/test_projects.py
  tests/unit/server/api/test_queries.py
Due: format-python, lint-python

refactor(sandbox): DB-enforce language identity (#13055)
  app/schema.graphql
  app/src/components/dataset/__generated__/EditCodeDatasetEvaluatorSlideover_datasetEvaluatorQuery.graphql.ts
  app/src/pages/dataset/evaluators/__generated__/CodeDatasetEvaluatorDetails_datasetEvaluator.graphql.ts
  scripts/ddl/generate_ddl_postgresql.py
  scripts/ddl/postgresql_schema.sql
  src/phoenix/db/migrations/versions/0ff41b5b118f_add_sandbox_and_code_evaluator_support.py
  src/phoenix/db/models.py
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/language_by_id.py
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/helpers/evaluators.py
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/api/mutations/evaluator_mutations.py
  src/phoenix/server/api/mutations/sandbox_config_mutations.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/Evaluator.py
  src/phoenix/server/api/types/SandboxConfig.py
  src/phoenix/server/app.py
  src/phoenix/server/sandbox/sync.py
  tests/unit/server/api/conftest.py
  tests/unit/server/api/dataloaders/test_sandbox_provider_by_id.py
  tests/unit/server/api/helpers/test_evaluators.py
  tests/unit/server/api/mutations/test_code_evaluator_sandbox_mutations.py
  tests/unit/server/api/mutations/test_evaluator_preview_mutation.py
  tests/unit/server/api/mutations/test_sandbox_cache_invalidation.py
  tests/unit/server/api/mutations/test_sandbox_config_mutations.py
  tests/unit/server/api/routers/v1/test_projects.py
  tests/unit/server/api/test_code_evaluator_runner.py
  tests/unit/server/api/test_queries.py
  tests/unit/server/api/test_sync.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

feat(sandbox): credentials dialog, provider table polish, Vercel triple-only auth
  .agents/skills/phoenix-design/SKILL.md
  .agents/skills/phoenix-design/rules/dialogs.md
  app/schema.graphql
  app/src/pages/settings/sandboxes/SandboxConfigsCard.tsx
  app/src/pages/settings/sandboxes/SandboxProviderCredentialsDialog.tsx
  app/src/pages/settings/sandboxes/SandboxProvidersCard.tsx
  app/src/pages/settings/sandboxes/SettingsSandboxesPage.tsx
  app/src/pages/settings/sandboxes/__generated__/DeleteSandboxConfigButtonDeleteSandboxConfigMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigDialogUpdateSandboxConfigMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigsCardConfigEnabledSwitchMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxProviderCredentialsDialogQuery.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxProviderCredentialsDialogUpsertMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxProvidersCardProviderEnabledSwitchMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SettingsSandboxesPageFragment.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SettingsSandboxesPageRefetchQuery.graphql.ts
  app/src/pages/settings/sandboxes/styles.ts
  src/phoenix/server/api/types/SandboxConfig.py
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/modal_backend.py
  src/phoenix/server/sandbox/vercel_backend.py
  tests/unit/server/api/test_sandbox_queries.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

refactor(sandbox): simplify credentials dialog and credential-spec helpers
  app/src/pages/settings/sandboxes/SandboxProviderCredentialsDialog.tsx
  app/src/pages/settings/sandboxes/SandboxProvidersCard.tsx
  app/src/pages/settings/sandboxes/__generated__/SandboxProviderCredentialsDialogUpsertMutation.graphql.ts
  app/src/pages/settings/sandboxes/styles.ts
  src/phoenix/server/api/types/SandboxConfig.py
  src/phoenix/server/sandbox/__init__.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix(sandbox): restore os.environ around Modal credential injection
  src/phoenix/server/sandbox/modal_backend.py
Due: format-python, lint-python

refactor(sandbox): drop unused is_set credential field and tighten polish
  app/schema.graphql
  app/src/pages/settings/__generated__/settingsSandboxesPageLoaderQuery.graphql.ts
  app/src/pages/settings/sandboxes/SandboxProviderCredentialsDialog.tsx
  app/src/pages/settings/sandboxes/SettingsSandboxesPage.tsx
  app/src/pages/settings/sandboxes/__generated__/DeleteSandboxConfigButtonDeleteSandboxConfigMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigDialogCreateSandboxConfigMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigDialogUpdateSandboxConfigMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigsCardConfigEnabledSwitchMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxProvidersCardProviderEnabledSwitchMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SettingsSandboxesPageFragment.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SettingsSandboxesPageRefetchQuery.graphql.ts
  src/phoenix/server/api/types/SandboxConfig.py
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/types.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

revert(sandbox): drop modal_backend env-restore from this PR
  src/phoenix/server/sandbox/modal_backend.py
Due: format-python, lint-python

feat(agents): add /summarize endpoint and move summary prompt + tool to backend
  app/evals/README.md
  app/evals/evaluators/summaryQualityEvaluator.ts
  app/evals/summarization.eval.ts
  app/src/components/agent/AgentChatPanel.tsx
  app/src/components/agent/Chat.tsx
  app/src/components/agent/TraceAgentChatPanel.tsx
  app/src/components/agent/sessionSummaryPrompt.ts
  app/src/components/agent/sessionSummaryUtils.ts
  app/src/components/agent/useAgentChat.ts
  app/src/components/agent/useAgentChatPanelState.ts
  app/src/components/agent/useGenerateSessionSummary.ts
  src/phoenix/server/agents/summarization.py
  src/phoenix/server/api/routers/chat_v2.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

feat(sandbox): credentials dialog, provider table polish, Vercel triple-only auth (#13061)
  .agents/skills/phoenix-design/SKILL.md
  .agents/skills/phoenix-design/rules/dialogs.md
  app/schema.graphql
  app/src/pages/settings/sandboxes/SandboxConfigsCard.tsx
  app/src/pages/settings/sandboxes/SandboxProviderCredentialsDialog.tsx
  app/src/pages/settings/sandboxes/SandboxProvidersCard.tsx
  app/src/pages/settings/sandboxes/SettingsSandboxesPage.tsx
  app/src/pages/settings/sandboxes/__generated__/DeleteSandboxConfigButtonDeleteSandboxConfigMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigDialogCreateSandboxConfigMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigDialogUpdateSandboxConfigMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigsCardConfigEnabledSwitchMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxProviderCredentialsDialogQuery.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxProviderCredentialsDialogUpsertMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxProvidersCardProviderEnabledSwitchMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SettingsSandboxesPageFragment.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SettingsSandboxesPageRefetchQuery.graphql.ts
  app/src/pages/settings/sandboxes/styles.ts
  src/phoenix/server/api/types/SandboxConfig.py
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/modal_backend.py
  src/phoenix/server/sandbox/types.py
  src/phoenix/server/sandbox/vercel_backend.py
  tests/unit/server/api/test_sandbox_queries.py
Due: format-python, lint-python, oxfmt-app, oxlint-app
