Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

fix(online-evals): port project evaluator slideover to ViewportModal
  js/app/src/pages/project/evaluators/DiscardEvaluatorChangesDialog.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorSlideover.tsx
Due: oxfmt-js, oxlint-js

feat(online-eval): execute session evaluations (#14501)
  docs/phoenix/self-hosting/configuration.mdx
  src/phoenix/config.py
  src/phoenix/db/ddl/postgresql_schema.sql
  src/phoenix/db/ddl/sqlite_schema.sql
  src/phoenix/db/migrations/versions/a7f1c3e9d2b4_add_online_eval_coordination.py
  src/phoenix/db/models.py
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/mutations/trace_mutations.py
  src/phoenix/server/api/types/Evaluator.py
  src/phoenix/server/app.py
  src/phoenix/server/online_eval/consumer.py
  src/phoenix/server/online_eval/coordinator.py
  src/phoenix/server/online_eval/criteria_resolution.py
  src/phoenix/server/online_eval/db_coordinator.py
  src/phoenix/server/online_eval/derivation.py
  src/phoenix/server/online_eval/executor.py
  src/phoenix/server/online_eval/failure_policy.py
  src/phoenix/server/online_eval/producer.py
  src/phoenix/server/online_eval/session_policy.py
  src/phoenix/server/online_eval/session_sweeper.py
  src/phoenix/server/prometheus.py
  src/phoenix/server/sandbox/daytona_backend.py
  src/phoenix/server/sandbox/e2b_backend.py
  src/phoenix/server/sandbox/modal_backend.py
  src/phoenix/server/sandbox/session_manager.py
  src/phoenix/server/sandbox/types.py
  src/phoenix/server/sandbox/vercel_backend.py
  tests/integration/db_migrations/test_db_schema_a7f1c3e9d2b4_online_eval_coordination.py
  tests/unit/server/api/mutations/test_trace_transfer_mutations.py
  tests/unit/server/api/test_code_evaluator_runner.py
  tests/unit/server/api/test_evaluators_timeout.py
  tests/unit/server/online_eval/test_app_wiring.py
  tests/unit/server/online_eval/test_consumer.py
  tests/unit/server/online_eval/test_db_coordinator.py
  tests/unit/server/online_eval/test_derivation.py
  tests/unit/server/online_eval/test_producer.py
  tests/unit/server/online_eval/test_session_sweeper.py
  tests/unit/server/sandbox/test_session_manager.py
  tests/unit/test_config.py
Due: format-python, lint-python

feat(online-evals): remove online eval flags (#15537)
  docs/phoenix/self-hosting/configuration.mdx
  src/phoenix/config.py
  src/phoenix/server/api/types/Evaluator.py
  src/phoenix/server/app.py
  tests/unit/server/online_eval/test_app_wiring.py
Due: format-python, lint-python

chore: regenerate relay artifacts after rebase
  js/app/src/pages/project/__generated__/SpansTable_spans.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorTracesQuery.graphql.ts
Due: oxfmt-js, oxlint-js

fix(db): re-parent online-eval coordination migration onto c9d0e1f2a3b4
  src/phoenix/db/migrations/versions/a7f1c3e9d2b4_add_online_eval_coordination.py
Due: format-python, lint-python

fix(ui): remove evaluator table gallery promo (#16066)
  js/app/src/pages/project/evaluators/ProjectEvaluatorsTable.tsx
Due: oxfmt-js, oxlint-js

feat(ui): author trace evaluators from the project evaluators UI (#15942)
  js/app/src/components/evaluators/__tests__/evaluatorContext.test.ts
  js/app/src/components/evaluators/__tests__/evaluatorSlotDefaults.test.ts
  js/app/src/components/evaluators/evaluatorContextCompletions.ts
  js/app/src/components/evaluators/evaluatorSlotDefaults.ts
  js/app/src/pages/project/TraceFilterConditionField.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorMetrics.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopeDetails.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopeFields.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopePanel.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorScopePanelTraceCountQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorScopePanelTracesQuery.graphql.ts
  js/app/src/pages/project/evaluators/evaluatorBoundVariables.ts
  js/app/src/pages/project/evaluators/projectEvaluatorTypes.ts
  js/app/src/pages/project/evaluators/sampleTraceEvaluationContext.ts
  js/app/src/store/evaluatorStore.tsx
  js/app/src/types/evaluators.ts
Due: oxfmt-js, oxlint-js

fix: preserve evaluator submit button emphasis (#15819)
  js/app/src/components/evaluators/EvaluatorFormDialogContent.tsx
Due: oxfmt-js, oxlint-js

feat(evaluators): refine project evaluator gallery (#15609)
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
Due: oxfmt-js, oxlint-js

fix(project-evals): default new evaluators to root spans (#15854)
  js/app/src/pages/project/evaluators/CreateProjectEvaluatorSlideover.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopeFields.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopePanel.tsx
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorTypes.test.ts
  js/app/src/pages/project/evaluators/projectEvaluatorTypes.ts
Due: oxfmt-js, oxlint-js

feat(ui): duplicate code evaluators (#15809)
  js/app/src/Routes.tsx
  js/app/src/pages/project/evaluators/AddProjectEvaluatorMenu.tsx
  js/app/src/pages/project/evaluators/CreateProjectCodeEvaluatorDialogContent.tsx
  js/app/src/pages/project/evaluators/CreateProjectEvaluatorSlideover.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorSlideoverRoutes.tsx
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorDetailsQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorOptions_codeEvaluatorDetails.graphql.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorOptions.test.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorPaths.test.tsx
  js/app/src/pages/project/evaluators/projectEvaluatorOptions.ts
  js/app/src/pages/project/evaluators/projectEvaluatorPaths.ts
Due: oxfmt-js, oxlint-js

fix(pxi): pass LLM evaluator ID in project context (#15984)
  js/app/src/components/dataset/EditCodeDatasetEvaluatorSlideover.tsx
  js/app/src/components/dataset/EditLLMDatasetEvaluatorSlideover.tsx
  js/app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
  js/app/src/components/evaluators/EditLLMEvaluatorDialogContent.tsx
  js/app/src/components/evaluators/useLlmEvaluatorDraftRegistration.ts
  js/app/src/pages/project/evaluators/EditProjectEvaluatorSlideover.tsx
Due: oxfmt-js, oxlint-js

fix(ui): refine evaluator detail sections
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorOptions.test.ts
  js/app/src/pages/project/evaluators/projectEvaluatorOptions.ts
Due: oxfmt-js, oxlint-js

feat(online-evals): feature-complete code evaluator details for projects (#15697)
  js/app/src/Routes.tsx
  js/app/src/components/dataset/__generated__/EditCodeDatasetEvaluatorSlideover_updateDatasetCodeEvaluatorMutation.graphql.ts
  js/app/src/components/evaluators/CodeEvaluatorSandboxCard.tsx
  js/app/src/components/evaluators/CodeEvaluatorVersions.tsx
  js/app/src/components/evaluators/EvaluatorAnnotationsCard.tsx
  js/app/src/components/evaluators/EvaluatorInputMappingCard.tsx
  js/app/src/components/evaluators/__generated__/CodeEvaluatorSandboxCardBackendsQuery.graphql.ts
  js/app/src/components/evaluators/__generated__/CodeEvaluatorSandboxCard_sandboxConfig.graphql.ts
  js/app/src/components/evaluators/__generated__/CodeEvaluatorVersionsQuery.graphql.ts
  js/app/src/pages/dataset/evaluators/CodeDatasetEvaluatorDetails.tsx
  js/app/src/pages/dataset/evaluators/DatasetEvaluatorDetailsPage.tsx
  js/app/src/pages/dataset/evaluators/__generated__/CodeDatasetEvaluatorDetails_datasetEvaluator.graphql.ts
  js/app/src/pages/dataset/evaluators/__generated__/CodeDatasetEvaluatorVersionsQuery.graphql.ts
  js/app/src/pages/dataset/evaluators/__generated__/CodeDatasetEvaluatorVersions_datasetEvaluator.graphql.ts
  js/app/src/pages/dataset/evaluators/__generated__/datasetEvaluatorDetailsLoaderQuery.graphql.ts
  js/app/src/pages/dataset/evaluators/datasetEvaluatorDetailsLoader.ts
  js/app/src/pages/project/evaluators/AnnotationConfigurationCard.tsx
  js/app/src/pages/project/evaluators/CodeProjectEvaluatorConfigCards.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorDetailsPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorStats.tsx
  js/app/src/pages/project/evaluators/__generated__/AnnotationConfigurationCard_projectEvaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/CodeProjectEvaluatorConfigCards_projectEvaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorStats_projectEvaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorDetailsLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/projectEvaluatorDetailsLoader.ts
Due: oxfmt-js, oxlint-js

feat(evaluators): column visibility and reorder for project evaluators table (#15760)
  js/app/src/contexts/ProjectEvaluatorsTableContext.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsTable.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsToolbar.tsx
Due: oxfmt-js, oxlint-js

feat(evaluators): show costs for the selected time range (#15638)
  js/app/src/components/evaluators/EvaluatorCost.tsx
  js/app/src/components/evaluators/__tests__/evaluatorCostUtils.test.ts
  js/app/src/components/evaluators/evaluatorCostUtils.ts
  js/app/src/pages/project/evaluators/CreateProjectCodeEvaluatorDialogContent.tsx
  js/app/src/pages/project/evaluators/CreateProjectEvaluatorSlideover.tsx
  js/app/src/pages/project/evaluators/DeleteProjectEvaluatorDialog.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsTable.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsPageQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTablePaginationQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_costs.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_project.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/refetchProjectEvaluatorsQuery.graphql.ts
  js/app/src/pages/project/evaluators/refetchProjectEvaluators.ts
Due: oxfmt-js, oxlint-js

feat(project-evals): Add mean score column with lazily fetched data (#15765)
  js/app/src/Routes.tsx
  js/app/src/components/chart/Sparkline.tsx
  js/app/src/components/chart/__tests__/Sparkline.test.tsx
  js/app/src/components/chart/index.tsx
  js/app/src/components/datetime/__tests__/utils.test.ts
  js/app/src/components/datetime/utils.ts
  js/app/src/components/evaluators/EvaluatorCost.tsx
  js/app/src/contexts/ProjectEvaluatorsTableContext.tsx
  js/app/src/hooks/useTimeBin.ts
  js/app/src/hooks/useUTCOffsetMinutes.ts
  js/app/src/pages/project/evaluators/ProjectEvaluatorMeanScoreCell.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsTable.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsToolbar.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTablePaginationQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_project.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_row.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_scores.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorsLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/refetchProjectEvaluatorsQuery.graphql.ts
  js/app/src/pages/project/evaluators/projectEvaluatorScoreWindow.ts
  js/app/src/pages/project/evaluators/projectEvaluatorsLoader.ts
  js/app/src/pages/project/evaluators/useProjectEvaluatorResultAnnotations.ts
  js/app/src/store/preferencesStore.tsx
  js/app/stories/Sparkline.stories.tsx
  src/phoenix/server/api/annotation_metrics.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/annotation_mean_score_time_series.py
  src/phoenix/server/api/types/Evaluator.py
  tests/unit/server/api/types/test_Evaluator.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(ui): address evaluator input review feedback
  js/app/schema.graphql
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorOptions_llmEvaluatorDetails.graphql.ts
  src/phoenix/server/api/types/Evaluator.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

feat(online-eval): trace liveness and trace work units in the schema (#15938)
  scripts/perf/online_eval_trace_liveness_ab.py
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/ddl/postgresql_schema.sql
  src/phoenix/db/ddl/sqlite_schema.sql
  src/phoenix/db/insertion/trace.py
  src/phoenix/db/migrations/versions/a7f1c3e9d2b4_add_online_eval_coordination.py
  src/phoenix/db/models.py
  src/phoenix/server/api/routers/agents.py
  src/phoenix/server/online_eval/coordinator.py
  src/phoenix/server/online_eval/db_coordinator.py
  src/phoenix/server/online_eval/executor.py
  src/phoenix/tracers.py
  tests/integration/db_migrations/test_db_schema_a7f1c3e9d2b4_online_eval_coordination.py
  tests/unit/db/test_bulk_inserter.py
  tests/unit/server/online_eval/test_consumer.py
  tests/unit/test_tracers.py
Due: format-python, lint-python

feat(online-evals): reorganize code evaluator form with shared authoring fields (#15696)
  js/app/src/components/dataset/CreateCodeDatasetEvaluatorSlideover.tsx
  js/app/src/components/dataset/EditCodeDatasetEvaluatorSlideover.tsx
  js/app/src/components/evaluators/CodeAuthoringFields.tsx
  js/app/src/components/evaluators/CodeEvaluatorAnnotationSection.tsx
  js/app/src/components/evaluators/CodeEvaluatorLanguageSandboxFields.tsx
  js/app/src/components/evaluators/CodeEvaluatorSourceEditor.tsx
  js/app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
  js/app/src/components/evaluators/EvaluatorNameAndDescriptionFields.tsx
  js/app/src/components/evaluators/EvaluatorSectionHeader.tsx
  js/app/src/components/evaluators/__tests__/codeEvaluatorUtils.test.ts
  js/app/src/components/evaluators/codeEvaluatorUtils.ts
  js/app/src/pages/project/evaluators/CreateProjectCodeEvaluatorDialogContent.tsx
  js/app/src/pages/project/evaluators/CreateProjectEvaluatorSlideover.tsx
  js/app/src/pages/project/evaluators/EditProjectEvaluatorSlideover.tsx
  js/app/src/pages/project/evaluators/ProjectCodeEvaluatorDialogContent.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorFormSections.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopeFields.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopePanel.tsx
Due: oxfmt-js, oxlint-js

fix(ui): align evaluator gallery scrollbar
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
Due: oxfmt-js, oxlint-js

feat(ui): add custom evaluators to gallery (#15771)
  js/app/schema.graphql
  js/app/src/constants/searchParams.ts
  js/app/src/pages/project/evaluators/CreateProjectEvaluatorSlideover.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorSlideoverRoutes.tsx
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorDetailsQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorGalleryPageQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorOptions_codeEvaluatorDetails.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorOptions_llmEvaluatorDetails.graphql.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorPaths.test.tsx
  js/app/src/pages/project/evaluators/projectEvaluatorGalleryConstants.ts
  js/app/src/pages/project/evaluators/projectEvaluatorOptions.ts
  js/app/src/pages/project/evaluators/projectEvaluatorPaths.ts
  src/phoenix/server/api/queries.py
  tests/unit/server/api/test_queries.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(online-eval): shield the producer and sweeper lease release from a second cancellation (#15936)
  src/phoenix/server/online_eval/producer.py
  src/phoenix/server/online_eval/session_sweeper.py
Due: format-python, lint-python

fix(ui): keep side nav bottom links inside the viewport
  js/app/src/pages/Layout.tsx
Due: oxfmt-js, oxlint-js

refactor(online-evals): promote work-unit sub-states from error strings to statuses (#15879)
  js/app/src/pages/project/evaluators/ProjectEvaluatorStats.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsTable.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorStats_projectEvaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTablePaginationQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_project.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorDetailsLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorsLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/refetchProjectEvaluatorsQuery.graphql.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorTypes.test.ts
  js/app/src/pages/project/evaluators/projectEvaluatorTypes.ts
  src/phoenix/db/ddl/postgresql_schema.sql
  src/phoenix/db/ddl/sqlite_schema.sql
  src/phoenix/db/eval_work.py
  src/phoenix/db/helpers.py
  src/phoenix/db/migrations/versions/a7f1c3e9d2b4_add_online_eval_coordination.py
  src/phoenix/db/models.py
  src/phoenix/server/api/dataloaders/project_evaluator_run_counts.py
  src/phoenix/server/api/types/Evaluator.py
  src/phoenix/server/online_eval/consumer.py
  src/phoenix/server/online_eval/coordinator.py
  src/phoenix/server/online_eval/db_coordinator.py
  src/phoenix/server/online_eval/executor.py
  src/phoenix/server/online_eval/producer.py
  src/phoenix/server/online_eval/session_sweeper.py
  tests/integration/db_migrations/test_db_schema_a7f1c3e9d2b4_online_eval_coordination.py
  tests/unit/db/test_eval_work_coordination.py
  tests/unit/db/types/test_trace_retention.py
  tests/unit/server/api/mutations/test_project_mutations.py
  tests/unit/server/api/mutations/test_trace_mutations.py
  tests/unit/server/api/routers/v1/test_spans.py
  tests/unit/server/api/routers/v1/test_traces.py
  tests/unit/server/api/types/test_Evaluator.py
  tests/unit/server/online_eval/test_consumer.py
  tests/unit/server/online_eval/test_db_coordinator.py
  tests/unit/server/online_eval/test_producer.py
  tests/unit/server/online_eval/test_session_sweeper.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

feat(online-evals): reorganize the evaluator overview into stats and cards (#15593)
  js/app/src/components/evaluators/EvaluatorDetailsSection.tsx
  js/app/src/components/evaluators/OutputConfigBlock.tsx
  js/app/src/hooks/useTimeFormatters.ts
  js/app/src/pages/dataset/evaluators/CodeDatasetEvaluatorDetails.tsx
  js/app/src/pages/dataset/evaluators/__generated__/CodeDatasetEvaluatorDetails_datasetEvaluator.graphql.ts
  js/app/src/pages/evaluators/PromptCell.tsx
  js/app/src/pages/project/evaluators/AnnotationConfigurationCard.tsx
  js/app/src/pages/project/evaluators/CodeProjectEvaluatorDetails.tsx
  js/app/src/pages/project/evaluators/LLMProjectEvaluatorDetails.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorDetailsPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorRunDetails.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopeDetails.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorStatsCard.tsx
  js/app/src/pages/project/evaluators/__generated__/AnnotationConfigurationCard_projectEvaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/CodeProjectEvaluatorDetails_projectEvaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/LLMProjectEvaluatorDetails_projectEvaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorStatsCard_projectEvaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorDetailsLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/projectEvaluatorDetailsLoader.ts
  js/app/src/pages/project/evaluators/projectEvaluatorTypes.ts
  js/app/src/utils/timeFormatUtils.ts
Due: oxfmt-js, oxlint-js

refactor(online-eval): parameterize the sweeper and the executor by evaluation target (#15937)
  js/app/src/pages/project/evaluators/evaluatorBoundVariables.ts
  src/phoenix/server/api/mutations/evaluator_mutations.py
  src/phoenix/server/api/types/Evaluator.py
  src/phoenix/server/app.py
  src/phoenix/server/online_eval/executor.py
  src/phoenix/server/online_eval/producer.py
  src/phoenix/server/online_eval/session_policy.py
  src/phoenix/server/online_eval/sweeper.py
  src/phoenix/server/prometheus.py
  tests/unit/server/online_eval/test_app_wiring.py
  tests/unit/server/online_eval/test_consumer.py
  tests/unit/server/online_eval/test_session_sweeper.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

feat(online-eval): evaluate trace project evaluators (#15941)
  js/app/schema.graphql
  src/phoenix/db/helpers.py
  src/phoenix/server/api/dataloaders/project_evaluator_run_counts.py
  src/phoenix/server/api/types/Trace.py
  src/phoenix/server/app.py
  src/phoenix/server/online_eval/bound_variables.py
  src/phoenix/server/online_eval/consumer.py
  src/phoenix/server/online_eval/db_coordinator.py
  src/phoenix/server/online_eval/executor.py
  src/phoenix/trace/dsl/trace_filter.py
  tests/unit/server/api/types/test_Evaluator.py
  tests/unit/server/api/types/test_Trace.py
  tests/unit/server/online_eval/test_app_wiring.py
  tests/unit/server/online_eval/test_bound_variables.py
  tests/unit/server/online_eval/test_consumer.py
  tests/unit/server/online_eval/test_db_coordinator.py
Due: format-python, lint-python

fix(ci): repair version-online-evals CI after the main merge (#15983)
  js/app/src/components/evaluators/codeEvaluatorMemberPath.ts
  js/app/src/components/evaluators/codeEvaluatorUtils.ts
  js/app/src/components/filter/DSLFilterConditionField.tsx
  js/app/src/pages/project/evaluators/CreateProjectEvaluatorSlideover.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorMeanScoreCell.tsx
  packages/phoenix-evals/src/phoenix/evals/__generated__/classification_evaluator_configs/_pii_detection_classification_evaluator_config.py
  src/phoenix/__generated__/classification_evaluator_configs/_pii_detection_classification_evaluator_config.py
  tests/unit/server/online_eval/test_producer.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(ui): route menu item links client-side (#15762)
  js/app/src/components/core/menu/Menu.tsx
  js/app/src/components/core/menu/__tests__/MenuContainer.test.tsx
  js/app/src/pages/project/evaluators/AddProjectEvaluatorMenu.tsx
  js/app/tests/projects.spec.ts
Due: oxfmt-js, oxlint-js

feat(ui): show evaluator inputs in gallery
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorDetailsQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorGalleryPageQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorOptions_codeEvaluatorDetails.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorOptions_llmEvaluatorDetails.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorTemplatesQuery.graphql.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorOptions.test.ts
  js/app/src/pages/project/evaluators/projectEvaluatorOptions.ts
  js/app/src/pages/project/evaluators/projectEvaluatorTemplates.ts
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/types/Evaluator.py
  tests/unit/server/api/types/test_Evaluator.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

feat(project-evals): persist the evaluators search filter in the URL (#15805)
  js/app/src/constants/searchParams.ts
  js/app/src/hooks/__tests__/useFilterSearchParam.test.tsx
  js/app/src/hooks/index.ts
  js/app/src/hooks/useFilterSearchParam.ts
  js/app/src/pages/project/evaluators/ProjectEvaluatorsPage.tsx
  js/app/src/pages/project/evaluators/projectEvaluatorsLoader.ts
Due: oxfmt-js, oxlint-js

feat(evaluators): extend project empty state (#15686)
  js/app/src/GlobalStyles.tsx
  js/app/src/Routes.tsx
  js/app/src/constants/searchParams.ts
  js/app/src/pages/project/ProjectConfigPage.tsx
  js/app/src/pages/project/evaluators/AddProjectEvaluatorMenu.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorSlideoverRoutes.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsEmptyState.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsPage.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsPageQuery.graphql.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorPaths.test.tsx
  js/app/src/pages/project/evaluators/projectEvaluatorPaths.ts
  js/app/src/pages/project/evaluators/projectEvaluatorTemplates.ts
  js/app/tests/projects.spec.ts
Due: oxfmt-js, oxlint-js

fix(ui): refine evaluator gallery details (#16210)
  .agents/skills/phoenix-design/references/icons.md
  js/app/src/components/annotation/OptimizationDirectionIndicator.tsx
  js/app/src/components/annotation/index.ts
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
  js/app/stories/OptimizationStyles.stories.tsx
Due: oxfmt-js, oxlint-js

feat(evaluators): gallery card tweaks (#15691)
  js/app/src/Routes.tsx
  js/app/src/components/core/badge/types.ts
  js/app/src/components/core/token/Token.tsx
  js/app/src/pages/project/evaluators/AddProjectEvaluatorMenu.tsx
  js/app/src/pages/project/evaluators/EvaluatorTemplateCard.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorSlideoverRoutes.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsEmptyState.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsTable.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsToolbar.tsx
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorCategoryCardsQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorTemplatesQuery.graphql.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorPaths.test.tsx
  js/app/src/pages/project/evaluators/projectEvaluatorPaths.ts
  js/app/src/pages/project/evaluators/projectEvaluatorTemplates.ts
  js/app/tests/projects.spec.ts
Due: oxfmt-js, oxlint-js

feat(online-eval): bound the session sweep by a per-evaluator watermark (#15939)
  src/phoenix/server/online_eval/sweeper.py
  src/phoenix/server/session_filters.py
  tests/unit/server/online_eval/test_session_sweeper.py
Due: format-python, lint-python

feat(ui): eval category icons (#16169)
  .agents/skills/phoenix-design/references/icons.md
  js/app/src/components/core/icon/Icons.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
Due: oxfmt-js, oxlint-js

feat(online-evals): metrics stats strip on the evaluator overview (#15643)
  js/app/src/Routes.tsx
  js/app/src/components/chart/ChartPanelStrip.tsx
  js/app/src/pages/experiments/ExperimentsMetricsCharts.tsx
  js/app/src/pages/project/TableMetricsCharts.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorDetailsPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorMetrics.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorStats.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorStatsCard.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorStatusCell.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorStatsCard_projectEvaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorStats_projectEvaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorDetailsLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/projectEvaluatorDetailsLoader.ts
  js/app/src/pages/project/evaluators/projectEvaluatorMetricPanels.tsx
  js/app/src/pages/project/evaluators/projectEvaluatorTypes.ts
  js/app/tests/auth.setup.ts
  js/app/tests/member-access.spec.ts
  js/app/tests/metrics.spec.ts
  js/app/tests/projects.spec.ts
  js/app/tests/pxi/playground-prompt-smoke.spec.ts
  js/app/tests/viewer-access.spec.ts
Due: oxfmt-js, oxlint-js
