Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

refactor(dsl): consolidate the gates a parent_span namespace must clear
  internal_docs/specs/span-filter-dsl.md
  src/phoenix/server/api/helpers/experiment_run_filters.py
  src/phoenix/server/api/types/Project.py
  src/phoenix/trace/dsl/filter.py
  src/phoenix/trace/dsl/query.py
  tests/unit/trace/dsl/test_filter_spec_conformance.py
Due: format-python, lint-python

fix(dsl): bound echoed fragments at the site, not only the boundary
  internal_docs/specs/span-filter-dsl.md
  src/phoenix/server/api/helpers/experiment_run_filters.py
  src/phoenix/trace/dsl/filter.py
  tests/unit/server/api/helpers/test_experiment_run_filters.py
  tests/unit/trace/dsl/test_filter_error_messages.py
  tests/unit/trace/dsl/test_filter_json_operand_comparison.py
Due: format-python, lint-python

fix(dsl): align root-scope analysis with SpanFilter's normalization
  internal_docs/specs/span-filter-dsl.md
  src/phoenix/server/api/types/Project.py
  src/phoenix/trace/dsl/__init__.py
  src/phoenix/trace/dsl/filter.py
  tests/unit/trace/dsl/test_filter.py
  tests/unit/trace/dsl/test_filter_spec_conformance.py
Due: format-python, lint-python

fix(dsl): reject datetime-vs-attribute comparisons; clean parse messages
  internal_docs/specs/span-filter-dsl.md
  src/phoenix/server/api/helpers/experiment_run_filters.py
  src/phoenix/trace/dsl/filter.py
  tests/unit/server/api/helpers/test_experiment_run_filters.py
  tests/unit/trace/dsl/test_filter_spec_conformance.py
Due: format-python, lint-python

fix(dsl): reject ordered comparisons with boolean operands
  internal_docs/specs/span-filter-dsl.md
  src/phoenix/server/api/helpers/experiment_run_filters.py
  src/phoenix/trace/dsl/filter.py
  tests/unit/server/api/helpers/test_experiment_run_filters.py
  tests/unit/trace/dsl/test_filter_json_operand_comparison.py
  tests/unit/trace/dsl/test_filter_spec_conformance.py
Due: format-python, lint-python

ci: pin the DSL unit suites to the PostgreSQL floor
  .github/workflows/python-CI.yml
  .github/workflows/python-all-platforms.yml
  internal_docs/specs/span-filter-dsl.md
Due: none

fix: harden span filter validation (#14295)
  .github/workflows/python-CI.yml
  .github/workflows/python-all-platforms.yml
  app/src/pages/dataset/evaluators/DatasetEvaluatorSpans.tsx
  app/src/pages/project/ProjectSpansPage.tsx
  app/src/pages/project/ProjectTracesPage.tsx
  app/src/pages/project/SpanFilterErrorFallback.tsx
  docs/phoenix/self-hosting/architecture.mdx
  internal_docs/specs/span-filter-dsl.md
  src/phoenix/db/models.py
  src/phoenix/server/api/exceptions.py
  src/phoenix/server/api/helpers/experiment_run_filters.py
  src/phoenix/server/api/types/Project.py
  src/phoenix/trace/dsl/__init__.py
  src/phoenix/trace/dsl/filter.py
  src/phoenix/trace/dsl/query.py
  tests/unit/server/api/helpers/__snapshots__/test_experiment_run_filters.ambr
  tests/unit/server/api/helpers/test_experiment_run_filters.py
  tests/unit/server/api/helpers/test_experiment_run_filters_execution.py
  tests/unit/server/api/test_exceptions.py
  tests/unit/server/api/types/test_Project.py
  tests/unit/trace/dsl/test_filter.py
  tests/unit/trace/dsl/test_filter_error_messages.py
  tests/unit/trace/dsl/test_filter_hostile_data.py
  tests/unit/trace/dsl/test_filter_json_operand_comparison.py
  tests/unit/trace/dsl/test_filter_spec_conformance.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix(dsl): one NUL message on every Python
  src/phoenix/server/api/helpers/experiment_run_filters.py
  src/phoenix/trace/dsl/filter.py
  tests/unit/server/api/helpers/test_experiment_run_filters.py
  tests/unit/trace/dsl/test_filter_error_messages.py
Due: format-python, lint-python

chore(main): release arize-phoenix 19.11.1
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

fix(ui): compose annotation config as anchored dialog
  app/src/components/annotation/DetailPanelAnnotationBar.tsx
  app/src/components/annotation/__tests__/DetailPanelAnnotationBar.test.tsx
Due: oxfmt-app, oxlint-app

fix(gen_ai): render reasoning parts instead of dropping them (#14962)
  src/phoenix/trace/gen_ai/conversion.py
  tests/unit/trace/gen_ai/test_conversion.py
Due: format-python, lint-python

chore(main): release arize-phoenix 19.11.1 (#14947)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

fix(otel): merge positional OpenInference namespaces atomically (#14961)
  src/phoenix/trace/otel.py
  tests/unit/trace/test_otel.py
Due: format-python, lint-python

fix(dsl): one NUL message on every Python (#14963)
  src/phoenix/server/api/helpers/experiment_run_filters.py
  src/phoenix/trace/dsl/filter.py
  tests/unit/server/api/helpers/test_experiment_run_filters.py
  tests/unit/trace/dsl/test_filter_error_messages.py
Due: format-python, lint-python

refactor(agents): use server sessions directly
  app/src/components/agent/AgentSessionsResource.tsx
Due: oxfmt-app, oxlint-app

fix(app): skip loader revalidation within projects
  app/src/Routes.tsx
  app/src/routing/__tests__/shouldRevalidate.test.ts
  app/src/routing/shouldRevalidate.ts
Due: oxfmt-app, oxlint-app

feat(ui): redesign the AI search settings around the model menu
  app/src/components/filter/ai/AISearchSettingsCard.tsx
  app/src/components/filter/ai/AISearchSettingsForm.tsx
  app/src/components/filter/ai/BrowserModelCard.tsx
  app/src/components/filter/ai/CardFootnote.tsx
  app/src/components/filter/ai/StatusText.tsx
  app/src/components/filter/ai/browserModel.ts
  app/src/components/filter/ai/index.ts
  app/src/components/filter/ai/types.ts
  app/src/components/filter/ai/useAISearch.ts
  app/stories/AISearchSettingsCard.stories.tsx
  app/stories/BrowserModelCard.stories.tsx
  app/stories/utils/aiSearchRelayEnvironment.tsx
Due: oxfmt-app, oxlint-app

feat(ui): move AI search settings to a Generative AI profile page
  app/src/Routes.tsx
  app/src/pages/profile/ProfileGenerativeAIPage.tsx
  app/src/pages/profile/ProfilePreferencesPage.tsx
  app/src/pages/profile/__tests__/profileRouteInfo.test.ts
  app/src/pages/profile/index.tsx
  app/src/routing/RouteNavigationIcon.tsx
  app/src/routing/routeNavigation.ts
Due: oxfmt-app, oxlint-app

refactor(ui): share the PXI thinking glow's traveling wipe
  app/src/components/agent/AgentChatWidget.tsx
  app/src/components/agent/PxiButton.tsx
  app/src/components/agent/PxiOutline.tsx
  app/src/components/agent/pxiStyles.ts
Due: oxfmt-app, oxlint-app

feat(ui): make AI search an explicit mode toggle on filter fields
  app/src/components/filter/DSLFilterConditionField.tsx
  app/src/components/filter/__tests__/detectFilterExpression.test.ts
  app/src/components/filter/ai/AISearchSettingsButton.tsx
  app/src/components/filter/ai/detectFilterExpression.ts
  app/src/components/filter/styles.ts
  app/src/pages/experiment/ExperimentRunFilterConditionField.tsx
  app/src/pages/project/SpanFilterConditionField.tsx
  app/stories/DSLFilterConditionField.stories.tsx
Due: oxfmt-app, oxlint-app

feat(ui): add an XS inline size to IconButton
  app/src/components/core/button/IconButton.tsx
  app/stories/IconButton.stories.tsx
Due: oxfmt-app, oxlint-app

chore: update phoenix version to 19.11.1 in kustomize and helm
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

nix comment
  evals/harbor/tasks/regression-triage/tests/test.sh
Due: none

feat(server): add trace filter boundary
  src/phoenix/server/trace_filters.py
  tests/unit/server/test_trace_filters.py
Due: format-python, lint-python

test(trace): add differential filter semantics
  tests/unit/db/test_trace_aggregates.py
  tests/unit/trace/dsl/test_trace_filter.py
  tests/unit/trace/dsl/trace_filter_reference.py
Due: format-python, lint-python

feat(server): expose trace filter validation and vocabulary
  app/schema.graphql
  src/phoenix/server/api/types/FilterVocabularyTerm.py
  src/phoenix/server/api/types/Project.py
  tests/unit/server/api/types/test_Project_trace_filter.py
Due: format-python, lint-python

feat(trace): add trace filter DSL compiler
  src/phoenix/db/trace_aggregates.py
  src/phoenix/trace/dsl/__init__.py
  src/phoenix/trace/dsl/filter.py
  src/phoenix/trace/dsl/trace_filter.py
  tests/unit/trace/dsl/test_session_filter_semantics.py
Due: format-python, lint-python

docs: add screenshots to 07.28.2026 release notes
  docs/phoenix/release-notes/07-2026/07-28-2026-experiment-charts-span-downloads-and-root-span-filters.mdx
Due: none

docs: Add Phoenix release notes — 2026-07-29 (#14853)
  docs.json
  docs/phoenix/release-notes.mdx
  docs/phoenix/release-notes/07-2026/07-28-2026-experiment-charts-span-downloads-and-root-span-filters.mdx
  docs/phoenix/release-notes/2026.mdx
Due: none

chore: update sitemap.xml
  docs/phoenix/sitemap.xml
  sitemap.xml
Due: none

feat(evals): harbor poc (#14195)
  .github/workflows/harbor-evals.yml
  .gitignore
  Makefile
  evals/harbor/README.md
  evals/harbor/agents/phoenix_server_agent.py
  evals/harbor/container_assets/fetch_fixtures.py
  evals/harbor/container_assets/run_server_agent.py
  evals/harbor/scripts/check_job_reward.py
  evals/harbor/scripts/publish_fixtures.sh
  evals/harbor/scripts/stage_harbor_task_environments.sh
  evals/harbor/tasks/regression-triage/environment/Dockerfile
  evals/harbor/tasks/regression-triage/environment/generate_fixture_data.py
  evals/harbor/tasks/regression-triage/solution/solve.py
  evals/harbor/tasks/regression-triage/solution/solve.sh
  evals/harbor/tasks/regression-triage/steps/step_01_aggregate/__init__.py
  evals/harbor/tasks/regression-triage/steps/step_01_aggregate/instruction.md
  evals/harbor/tasks/regression-triage/steps/step_01_aggregate/tests/check.py
  evals/harbor/tasks/regression-triage/steps/step_01_aggregate/workdir/setup.sh
  evals/harbor/tasks/regression-triage/steps/step_01_aggregate/workdir/step-config.json
  evals/harbor/tasks/regression-triage/steps/step_02_diagnose/__init__.py
  evals/harbor/tasks/regression-triage/steps/step_02_diagnose/instruction.md
  evals/harbor/tasks/regression-triage/steps/step_02_diagnose/tests/check.py
  evals/harbor/tasks/regression-triage/steps/step_02_diagnose/workdir/setup.sh
  evals/harbor/tasks/regression-triage/steps/step_02_diagnose/workdir/step-config.json
  evals/harbor/tasks/regression-triage/steps/step_03_trace_drilldown/__init__.py
  evals/harbor/tasks/regression-triage/steps/step_03_trace_drilldown/instruction.md
  evals/harbor/tasks/regression-triage/steps/step_03_trace_drilldown/tests/check.py
  evals/harbor/tasks/regression-triage/steps/step_03_trace_drilldown/workdir/setup.sh
  evals/harbor/tasks/regression-triage/steps/step_03_trace_drilldown/workdir/step-config.json
  evals/harbor/tasks/regression-triage/steps/step_04_create_split/__init__.py
  evals/harbor/tasks/regression-triage/steps/step_04_create_split/instruction.md
  evals/harbor/tasks/regression-triage/steps/step_04_create_split/tests/check.py
  evals/harbor/tasks/regression-triage/steps/step_04_create_split/workdir/setup.sh
  evals/harbor/tasks/regression-triage/steps/step_04_create_split/workdir/step-config.json
  evals/harbor/tasks/regression-triage/task.toml
  evals/harbor/tasks/regression-triage/tests/test.sh
  pyproject.toml
Due: format-python, lint-python, uv-lock-check

chore(main): release arize-phoenix 19.12.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

chore(main): release arize-phoenix 19.12.0 (#14966)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

chore: update phoenix version to 19.12.0 in kustomize and helm
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

fix(traces): render ReasoningPart in gen_ai message flattening
  src/phoenix/trace/gen_ai/conversion.py
  tests/unit/trace/gen_ai/test_conversion.py
Due: format-python, lint-python

fix(trace): stringify tool attributes rebuilt as objects (#14984)
  app/src/pages/trace/span/__tests__/utils.test.ts
  app/src/pages/trace/span/utils.ts
Due: oxfmt-app, oxlint-app

feat(experiments): lift metric chart selection limit
  app/src/pages/dataset/constants.ts
  app/src/pages/dataset/metrics/chartCatalog.tsx
  app/src/pages/experiments/ExperimentsMetricsChartSelector.tsx
  app/src/pages/experiments/ExperimentsMetricsCharts.tsx
  app/src/store/__tests__/datasetStore.test.ts
  app/src/store/datasetStore.tsx
Due: oxfmt-app, oxlint-app

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
