Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: clean-notebooks, format-notebooks

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/psf/black
      rev: 23.3.0
      hooks:
          - id: black
            exclude: _pb2\.pyi?$
    - repo: https://github.com/charliermarsh/ruff-pre-commit
      rev: "v0.0.254"
      hooks:
          - id: ruff
            args: [--fix]
    - repo: local
      hooks:
          - id: clean-notebooks
            name: clean-notebooks
            files: \.ipynb$
            stages: [commit]
            language: system
            entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --ClearMetadataPreprocessor.enabled=True --inplace
    - repo: local
      hooks:
          - id: format-notebooks
            name: format-notebooks
            files: \.ipynb$
            exclude: \.*internal.*$
            stages: [commit]
            language: system
            entry: nbqa ruff --fix
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: "6f3cb139ef36133b6f903b97facc57b07cef57c9"
      hooks:
          - id: prettier
            files: \.(jsx?|tsx?|css|.md)$
            exclude: \.*__generated__.*$
            additional_dependencies:
                - prettier@2.8.7
    - repo: https://github.com/pre-commit/mirrors-eslint
      rev: "8ddcbd412c0b348841f0f82c837702f432539652"
      hooks:
          - id: eslint
            additional_dependencies:
                - eslint@8.31.0
                - eslint-plugin-react@7.31.11
                - eslint-plugin-react-hooks@4.6.0
                - eslint-plugin-simple-import-sort@10.0.0

add llm.output_messages
  app/src/openInference/tracing/semanticConventions.ts
  app/src/pages/trace/TracePage.tsx
Due: none

add llm.output_messages
  integration-tests/trace/langchain/test_tracer.py
  integration-tests/trace/llama_index/test_callback.py
  src/phoenix/trace/langchain/tracer.py
  src/phoenix/trace/llama_index/callback.py
  src/phoenix/trace/semantic_conventions.py
  tests/server/api/types/test_span.py
  tests/trace/langchain/test_tracer.py
Due: none

Update langchain_tracing_tutorial.ipynb
  tutorials/tracing/langchain_tracing_tutorial.ipynb
Due: clean-notebooks, format-notebooks

clean up
  tutorials/tracing/langchain_tracing_tutorial.ipynb
Due: clean-notebooks, format-notebooks

clean up
  src/phoenix/trace/llama_index/callback.py
Due: none

add token count
  app/schema.graphql
  app/src/pages/tracing/TracingHomePageHeader.tsx
  app/src/pages/tracing/__generated__/TracingHomePageHeader_stats.graphql.ts
  app/src/pages/tracing/__generated__/TracingHomePageQuery.graphql.ts
  src/phoenix/core/traces.py
  src/phoenix/server/api/schema.py
  src/phoenix/server/api/types/DatasetInfo.py
Due: none

incorporate pr feedback
  src/phoenix/trace/llama_index/callback.py
Due: none

Update src/phoenix/server/app.py
  src/phoenix/server/app.py
Due: none

wording edits
  tutorials/tracing/llama_index_openai_agent_tracing_tutorial.ipynb
Due: clean-notebooks, format-notebooks

Add VertexAI models
  src/phoenix/experimental/evals/__init__.py
  src/phoenix/experimental/evals/models/__init__.py
  src/phoenix/experimental/evals/models/base.py
  src/phoenix/experimental/evals/models/openai.py
  src/phoenix/experimental/evals/models/vertexai.py
  src/phoenix/experimental/evals/templates/template.py
Due: none

fix: add tiktoken to langchain_tracing_tutorial.ipynb (#1463)
  tutorials/tracing/langchain_tracing_tutorial.ipynb
Due: clean-notebooks, format-notebooks

Concentrate imports
  tutorials/tracing/llama_index_openai_agent_tracing_tutorial.ipynb
Due: clean-notebooks, format-notebooks

more edits
  tutorials/tracing/llama_index_openai_agent_tracing_tutorial.ipynb
Due: clean-notebooks, format-notebooks

Fix python style
  tutorials/tracing/llama_index_openai_agent_tracing_tutorial.ipynb
Due: clean-notebooks, format-notebooks

tmp
  tutorials/internal/RetrieverRouterQueryEngine.ipynb
Due: clean-notebooks

add token count to trace page header (#1465)
  app/schema.graphql
  app/src/pages/tracing/TracingHomePageHeader.tsx
  app/src/pages/tracing/__generated__/TracingHomePageHeader_stats.graphql.ts
  app/src/pages/tracing/__generated__/TracingHomePageQuery.graphql.ts
  src/phoenix/core/traces.py
  src/phoenix/server/api/schema.py
  src/phoenix/server/api/types/DatasetInfo.py
Due: none

add llama-index and langchain as dev deps and update docs
  DEVELOPMENT.md
  pyproject.toml
Due: none

update conda installation instructions
  DEVELOPMENT.md
Due: none

put messages first in the tabs
  app/src/pages/trace/TracePage.tsx
Due: none

remove unnecessary mounting of env vars
  src/phoenix/server/app.py
Due: none

AppConfig
  src/phoenix/server/app.py
Due: none

clean up
  src/phoenix/trace/langchain/tracer.py
Due: none

feat: add `LLM_OUTPUT_MESSAGES` and rename `LLM_MESSAGES` to `LLM_INPUT_MESSAGES` (#1462)
  app/src/openInference/tracing/semanticConventions.ts
  app/src/pages/trace/TracePage.tsx
  integration-tests/trace/langchain/test_tracer.py
  integration-tests/trace/llama_index/test_callback.py
  src/phoenix/trace/langchain/tracer.py
  src/phoenix/trace/llama_index/callback.py
  src/phoenix/trace/semantic_conventions.py
  tests/server/api/types/test_span.py
  tests/trace/langchain/test_tracer.py
Due: none

docs: update development.md to highlight testing and linting instructions (#1450)
  DEVELOPMENT.md
  pyproject.toml
Due: none

Update tutorials
  pyproject.toml
  src/phoenix/experimental/evals/functions/binary.py
  src/phoenix/experimental/evals/models/base.py
  src/phoenix/experimental/evals/models/vertexai.py
  tutorials/tracing/langchain_vertex_ai_tracing_tutorial.ipynb
  tutorials/tracing/llama_index_tracing_tutorial.ipynb
Due: clean-notebooks, format-notebooks

Fix python style
  src/phoenix/experimental/evals/functions/binary.py
  src/phoenix/experimental/evals/models/vertexai.py
  tutorials/tracing/langchain_vertex_ai_tracing_tutorial.ipynb
Due: clean-notebooks, format-notebooks

Add directory to notebook clean
  pyproject.toml
  tutorials/tracing/langchain_vertex_ai_tracing_tutorial.ipynb
Due: clean-notebooks, format-notebooks

jinja2
  pyproject.toml
Due: none

Fix types
  src/phoenix/experimental/evals/models/vertexai.py
Due: none

feat(infra): server-side template for index.html (#1459)
  pyproject.toml
  src/phoenix/server/app.py
  src/phoenix/server/templates/__init__.py
  src/phoenix/server/templates/index.html
Due: none

fix: langchain retrieval qa
  tutorials/internal/langchain_retrieval_qa_with_sources_chan_tracing_tutorial.ipynb
Due: clean-notebooks

docs: Llama Index OpenAI Agent tutorial edits (#1466)
  tutorials/tracing/llama_index_openai_agent_tracing_tutorial.ipynb
Due: clean-notebooks, format-notebooks

Add dynamic imports
  src/phoenix/experimental/evals/models/base.py
  src/phoenix/experimental/evals/models/openai.py
  src/phoenix/experimental/evals/models/vertexai.py
Due: none

Fix types
  src/phoenix/experimental/evals/models/openai.py
  src/phoenix/experimental/evals/models/vertexai.py
Due: none

wip
  src/phoenix/experimental/evals/models/openai.py
Due: none
