Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: clean-notebooks, format-notebooks

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/charliermarsh/ruff-pre-commit
      rev: "v0.4.1"
      hooks:
          - id: ruff-format
          - id: ruff
            args: [--fix]
    - repo: local
      hooks:
          - id: clean-notebooks
            name: clean-notebooks
            files: \.ipynb$
            exclude: ^tutorials/evals/.*\.ipynb$
            stages: [commit]
            language: system
            entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --ClearMetadataPreprocessor.enabled=True --inplace
    - repo: local
      hooks:
          - id: format-notebooks
            name: format-notebooks
            files: \.ipynb$
            stages: [commit]
            language: system
            entry: nbqa ruff --fix --ignore=E402 --ignore=E501 --ignore=F704
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: "6f3cb139ef36133b6f903b97facc57b07cef57c9"
      hooks:
          - id: prettier
            files: \.(jsx?|tsx?|css|.md)$
            exclude: \.*__generated__.*$
            additional_dependencies:
                - prettier@3.2.4
    - repo: https://github.com/pre-commit/mirrors-eslint
      rev: "8ddcbd412c0b348841f0f82c837702f432539652"
      hooks:
          - id: eslint
            additional_dependencies:
                - eslint@8.56.0
                - eslint-plugin-react@7.33.2
                - eslint-plugin-react-hooks@4.6.0
                - eslint-plugin-simple-import-sort@10.0.0

assert common project name
  tests/unit/server/api/mutations/test_chat_mutations.py
Due: none

ci: Update playwright.yaml
  .github/workflows/playwright.yaml
Due: none

docs: July phoenix release notes (GITBOOK-28)
  docs/section-release-notes/06.2025/06.25.2025-cost-tracking.md
  docs/section-release-notes/07.2025/07.07.2025-databse-disk-usage-monitor.md
  docs/section-release-notes/07.2025/07.09.2025-baseline-for-experiment-comparisons.md
  docs/section-release-notes/07.2025/07.13.2025-experiments-module-in-phoenix-client.md
  docs/section-release-notes/07.2025/07.18.2025-openinference-java.md
  docs/section-release-notes/07.2025/07.21.2025-project-and-trace-management-via-graphql.md
  docs/section-release-notes/07.2025/07.25.2025-average-metrics-in-experiment-comparison-table.md
  docs/section-release-notes/07.2025/07.25.2025-project-dashboards.md
  docs/section-release-notes/README.md
  docs/section-release-notes/SUMMARY.md
Due: none

ci: Update playwright.yaml (#8848)
  .github/workflows/playwright.yaml
Due: none

update Experiment.project_name
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/api/subscriptions.py
  tests/unit/server/api/test_subscriptions.py
Due: none

update test
  tests/unit/server/api/mutations/test_chat_mutations.py
Due: none

fix: use experiment project name for playground run on datasets (#8845)
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/api/routers/v1/experiments.py
  src/phoenix/server/api/subscriptions.py
  src/phoenix/server/experiments/__init__.py
  src/phoenix/server/experiments/utils.py
  tests/unit/server/api/mutations/test_chat_mutations.py
  tests/unit/server/api/test_subscriptions.py
Due: none

chore(main): release arize-phoenix 11.16.1
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: none

chore(main): release arize-phoenix 11.16.1 (#8847)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: none

chore: update phoenix version to 11.16.1 in kustomize and helm
  helm/Chart.yaml
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

ai eval course hw1 and 2
  tutorials/ai_evals_course/ai_evals_hw1_solution.ipynb
  tutorials/ai_evals_course/ai_evals_hw2_solution.ipynb
Due: clean-notebooks, format-notebooks

format fixes
  tutorials/ai_evals_course/ai_evals_hw1_solution.ipynb
  tutorials/ai_evals_course/ai_evals_hw2_solution.ipynb
Due: clean-notebooks, format-notebooks

ruff
  tutorials/ai_evals_course/ai_evals_hw1_solution.ipynb
  tutorials/ai_evals_course/ai_evals_hw2_solution.ipynb
Due: clean-notebooks, format-notebooks

ignore evals for nbclean
  tox.ini
Due: none

fix line length
  tutorials/ai_evals_course/ai_evals_hw2_solution.ipynb
Due: clean-notebooks, format-notebooks

cleanup
  tutorials/ai_evals_course/ai_evals_hw1_solution.ipynb
Due: clean-notebooks, format-notebooks

fix wording
  tutorials/ai_evals_course/ai_evals_hw1_solution.ipynb
Due: clean-notebooks, format-notebooks

cleanup tutorials
  tutorials/ai_evals_course/ai_evals_hw1_solution.ipynb
Due: clean-notebooks, format-notebooks

chore: ai eval course hw1 and 2 (#8850)
  tox.ini
  tutorials/ai_evals_course/ai_evals_hw1_solution.ipynb
  tutorials/ai_evals_course/ai_evals_hw2_solution.ipynb
Due: clean-notebooks, format-notebooks

address PR feedback
  js/packages/phoenix-evals/src/default_templates/DOCUMENT_RELEVANCY_TEMPLATE.ts
  js/packages/phoenix-evals/src/llm/createDocumentRelevancyEvaluator.ts
  js/packages/phoenix-evals/src/llm/createHallucinationEvaluator.ts
Due: none

feat: add session_filter and filter_condition parameters to Project GraphQL resolvers
  src/phoenix/server/api/types/Project.py
Due: none

feat: update dataloaders to support session_filter parameter
  src/phoenix/server/api/dataloaders/latency_ms_quantile.py
  src/phoenix/server/api/dataloaders/record_counts.py
  src/phoenix/server/api/dataloaders/span_cost_summary_by_project.py
Due: none

fix: update dataloader tests for new session_filter parameter
  tests/unit/server/api/dataloaders/test_latency_ms_quantiles.py
  tests/unit/server/api/dataloaders/test_record_counts.py
Due: none

migrate some cards & add titleExtra prop
  app/src/components/card/Card.tsx
  app/src/components/card/styles.ts
  app/src/components/card/types.ts
  app/src/pages/experiment/ExperimentCompareTable.tsx
  app/src/pages/playground/PlaygroundChatTemplate.tsx
  app/src/pages/playground/PlaygroundExperimentRunDetailsDialog.tsx
Due: none

test: add comprehensive tests for filtered header metrics functionality
  tests/unit/server/api/types/test_Project.py
Due: none

fix tests
  js/packages/phoenix-evals/test/llm/createDocumentRelevancyEvaluator.test.ts
Due: none

remove triple quote from prompt template
  js/packages/phoenix-evals/src/default_templates/DOCUMENT_RELEVANCY_TEMPLATE.ts
Due: none

migrate some more playground cards
  app/src/pages/playground/PlaygroundOutput.tsx
  app/src/pages/playground/PlaygroundResponseFormat.tsx
  app/src/pages/playground/PlaygroundTemplate.tsx
  app/src/pages/playground/PlaygroundTool.tsx
Due: none

docs: metrics (GITBOOK-1302)
  docs/SUMMARY.md
  docs/tracing/features-tracing/README.md
  docs/tracing/features-tracing/metrics.md
Due: none

Spike template
  packages/phoenix-evals/src/phoenix/evals/templating/__init__.py
Due: none

fix: remove dependency on requests library
  packages/phoenix-evals/src/phoenix/evals/models/google_genai.py
Due: none

fix: remove dependency on requests library (#8854)
  packages/phoenix-evals/src/phoenix/evals/models/google_genai.py
Due: none

chore(main): release arize-phoenix-evals 0.25.0
  .release-please-manifest.json
  packages/phoenix-evals/CHANGELOG.md
  packages/phoenix-evals/pyproject.toml
Due: none

chore(main): release arize-phoenix-evals 0.25.0 (#8840)
  .release-please-manifest.json
  packages/phoenix-evals/CHANGELOG.md
  packages/phoenix-evals/pyproject.toml
Due: none

feat: document relevancy evaluator (#8826)
  js/packages/phoenix-evals/benchmark/document_relevancy_benchmark.ts
  js/packages/phoenix-evals/src/default_templates/DOCUMENT_RELEVANCY_TEMPLATE.ts
  js/packages/phoenix-evals/src/default_templates/index.ts
  js/packages/phoenix-evals/src/llm/createClassifier.ts
  js/packages/phoenix-evals/src/llm/createDocumentRelevancyEvaluator.ts
  js/packages/phoenix-evals/src/llm/createHallucinationEvaluator.ts
  js/packages/phoenix-evals/src/llm/index.ts
  js/packages/phoenix-evals/src/types/evals.ts
  js/packages/phoenix-evals/test/llm/createDocumentRelevancyEvaluator.test.ts
Due: none

Add GoogleGenAIModel for Gemini models with multimodal support
  docs/evaluation/how-to-evals/evaluation-models.md
  packages/phoenix-evals/docs/source/api/evals.rst
Due: none

Update docs/evaluation/how-to-evals/evaluation-models.md
  docs/evaluation/how-to-evals/evaluation-models.md
Due: none

docs: Update docs for GoogleGenAI support (#8858)
  docs/evaluation/how-to-evals/evaluation-models.md
  packages/phoenix-evals/docs/source/api/evals.rst
Due: none

adding notebook (#8828)
  tutorials/evals/build_benchmark_dataset_and_custom_evaluator.ipynb
Due: format-notebooks
