Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

fix(ui): prevent icon button focus ring transitions
  app/src/components/core/button/IconButton.tsx
Due: oxfmt-app, oxlint-app

fix(ui): clean up sidebar focus behavior
  app/src/GlobalStyles.tsx
  app/src/components/nav/Navbar.tsx
Due: oxfmt-app, oxlint-app

fix(ui): round breadcrumb focus rings
  app/src/components/core/breadcrumbs/Breadcrumb.tsx
Due: oxfmt-app, oxlint-app

fix(ui): prevent checkbox focus ring transition
  app/src/components/core/checkbox/styles.ts
Due: oxfmt-app, oxlint-app

fix(ui): reveal hover-only controls for keyboard and touch
  app/src/components/agent/ToolPart.tsx
  app/src/components/ai/attachment/styles.ts
  app/src/components/ai/message/styles.ts
  app/src/components/core/styles.ts
  app/src/components/dnd/styles.ts
  app/src/components/nav/Navbar.tsx
  app/src/components/table/CellWithControlsWrap.tsx
  app/src/pages/trace/SpanDetails.tsx
  app/src/pages/trace/SpanImage.tsx
Due: oxfmt-app, oxlint-app

perf: defer experiment label fraction aggregation
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/experiment_annotation_label_fractions.py
  src/phoenix/server/api/dataloaders/experiment_annotation_summaries.py
  src/phoenix/server/api/types/Experiment.py
  src/phoenix/server/api/types/ExperimentAnnotationSummary.py
  tests/unit/server/api/types/test_Experiment.py
Due: format-python, lint-python

feat(evals): promote toxicity to a built-in evaluator with docs
  docs/phoenix/evaluation/pre-built-metrics.mdx
  docs/phoenix/evaluation/pre-built-metrics/toxicity.mdx
  js/benchmarks/evals-benchmarks/src/toxicity.eval.ts
  js/packages/phoenix-evals/src/llm/createToxicityEvaluator.ts
  js/packages/phoenix-evals/src/llm/index.ts
  js/packages/phoenix-evals/test/llm/createToxicityEvaluator.test.ts
  packages/phoenix-evals/src/phoenix/evals/metrics/__init__.py
  packages/phoenix-evals/src/phoenix/evals/metrics/toxicity.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix: align experiment label fraction error handling
  src/phoenix/server/api/dataloaders/experiment_annotation_label_fractions.py
  tests/unit/server/api/types/test_Experiment.py
Due: format-python, lint-python

refactor(agents): centralize session history projection
  src/phoenix/server/agents/session_history.py
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/agents/test_agents_router.py
  tests/unit/server/agents/test_session_history.py
Due: format-python, lint-python

feat(agents): add session compaction
  app/schema.graphql
  app/src/agent/slashCommands/__tests__/promptCommands.test.ts
  app/src/agent/slashCommands/__tests__/runPromptCommands.test.ts
  app/src/agent/slashCommands/promptCommands.ts
  app/src/agent/slashCommands/runPromptCommands.ts
  app/src/api/__generated__/v1.ts
  app/src/components/agent/AgentChatInput.tsx
  app/src/components/agent/AgentSessionsResource.tsx
  app/src/components/agent/Chat.tsx
  app/src/components/agent/ChatSessionUsage.tsx
  app/src/components/agent/__generated__/agentSessionRelaySessionQuery.graphql.ts
  app/src/components/agent/__generated__/useAgentChatTruncateAgentSessionMutation.graphql.ts
  app/src/components/agent/__tests__/Chat.test.tsx
  app/src/components/agent/__tests__/ChatSessionUsage.test.ts
  app/src/components/agent/agentSessionRelay.ts
  app/src/components/agent/useAgentChat.ts
  app/src/components/ai/prompt-input/PromptInput.tsx
  app/src/components/ai/prompt-input/types.ts
  app/src/store/__tests__/agentStore.test.ts
  app/src/store/agentStore.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  scripts/ddl/postgresql_schema.sql
  src/phoenix/db/migrations/versions/e767d3c57f32_create_agent_sessions_and_agent_session_.py
  src/phoenix/db/models.py
  src/phoenix/server/agents/prompts/__init__.py
  src/phoenix/server/agents/prompts/summarization/COMPACTION_PROMPT_INSTRUCTIONS.xml.j2
  src/phoenix/server/agents/summarization.py
  src/phoenix/server/api/mutations/agent_session_mutations.py
  src/phoenix/server/api/routers/agents.py
  src/phoenix/server/api/types/AgentSession.py
  tests/unit/server/agents/test_agents_router.py
  tests/unit/server/api/mutations/test_agent_session_mutations.py
  tests/unit/server/api/types/test_AgentSession.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

fix(agents): update compaction API artifacts
  app/src/components/agent/Chat.tsx
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
Due: oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

update agent session compaction schema
  scripts/ddl/postgresql_schema.sql
Due: none

refactor(agents): Persist compaction checkpoints as messages
  app/schema.graphql
  app/src/agent/chat/types.ts
  app/src/api/__generated__/v1.ts
  app/src/components/agent/AgentSessionsResource.tsx
  app/src/components/agent/Chat.tsx
  app/src/components/agent/ChatSessionUsage.tsx
  app/src/components/agent/__generated__/agentSessionRelaySessionQuery.graphql.ts
  app/src/components/agent/__generated__/useAgentChatTruncateAgentSessionMutation.graphql.ts
  app/src/components/agent/__tests__/Chat.test.tsx
  app/src/components/agent/__tests__/ChatSessionUsage.test.ts
  app/src/components/agent/agentSessionRelay.ts
  app/src/components/agent/useAgentChat.ts
  app/src/store/__tests__/agentStore.test.ts
  app/src/store/agentStore.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/db/migrations/versions/e767d3c57f32_create_agent_sessions_and_agent_session_.py
  src/phoenix/db/models.py
  src/phoenix/db/types/data_stream_protocol/__init__.py
  src/phoenix/db/types/data_stream_protocol/phoenix_types.py
  src/phoenix/server/agents/session_history.py
  src/phoenix/server/api/mutations/agent_session_mutations.py
  src/phoenix/server/api/routers/agents.py
  src/phoenix/server/api/types/AgentSession.py
  tests/unit/server/agents/test_agents_router.py
  tests/unit/server/agents/test_session_history.py
  tests/unit/server/api/mutations/test_agent_session_mutations.py
  tests/unit/server/api/types/test_AgentSession.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

fix(agents): frame compacted conversation context
  app/src/components/agent/__tests__/Chat.test.tsx
  src/phoenix/server/agents/summarization.py
  tests/unit/server/agents/test_agents_router.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix(agents): persist compaction summaries as XML
  app/src/components/agent/Chat.tsx
  app/src/components/agent/__tests__/Chat.test.tsx
  src/phoenix/server/agents/summarization.py
  tests/unit/server/agents/test_agents_router.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix(agents): address session compaction feedback
  app/src/agent/chat/types.ts
  app/src/api/__generated__/v1.ts
  app/src/components/agent/__tests__/Chat.test.tsx
  app/src/components/agent/__tests__/ChatSessionUsage.test.ts
  app/src/components/agent/useAgentChat.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  scripts/ddl/postgresql_schema.sql
  src/phoenix/db/migrations/versions/e767d3c57f32_create_agent_sessions_and_agent_session_.py
  src/phoenix/db/models.py
  src/phoenix/db/types/data_stream_protocol/__init__.py
  src/phoenix/db/types/data_stream_protocol/phoenix_types.py
  src/phoenix/server/agents/exceptions.py
  src/phoenix/server/agents/prompts/__init__.py
  src/phoenix/server/agents/prompts/summarization/COMPACTION_MESSAGE.xml.j2
  src/phoenix/server/agents/session_history.py
  src/phoenix/server/agents/summarization.py
  src/phoenix/server/api/mutations/agent_session_mutations.py
  src/phoenix/server/api/routers/agents.py
  src/phoenix/server/api/routers/legacy_agents.py
  src/phoenix/server/authorization.py
  tests/unit/server/agents/test_agents_router.py
  tests/unit/server/agents/test_session_history.py
  tests/unit/server/api/mutations/test_agent_session_mutations.py
  tests/unit/server/api/types/test_AgentSession.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

feat: add evaluation metrics aggregation APIs (#14445)
  app/schema.graphql
  app/src/components/experiment/ExperimentCompareDetails.tsx
  app/src/components/experiment/__generated__/ExperimentCompareDetailsQuery.graphql.ts
  app/src/pages/experiment/ExperimentCompareListPage.tsx
  app/src/pages/experiment/__generated__/ExperimentCompareListPage_aggregateData.graphql.ts
  app/src/pages/experiment/__generated__/ExperimentComparePageQueriesCompareListQuery.graphql.ts
  src/phoenix/server/api/annotation_metrics.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/experiment_annotation_label_fractions.py
  src/phoenix/server/api/dataloaders/experiment_annotation_summaries.py
  src/phoenix/server/api/types/Dataset.py
  src/phoenix/server/api/types/Experiment.py
  src/phoenix/server/api/types/ExperimentAnnotationSummary.py
  src/phoenix/server/api/types/Project.py
  tests/unit/server/api/types/test_Experiment.py
  tests/unit/server/api/types/test_Project.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix(agents): Ensure summarization does not prefill agent messages for anthropic
  src/phoenix/server/agents/summarization.py
Due: format-python, lint-python

fix(agents): scope chat operation feedback
  app/src/components/agent/AgentSessionsResource.tsx
  app/src/components/agent/Chat.tsx
  app/src/components/agent/MessageRewindDialog.tsx
  app/src/components/agent/__tests__/Chat.test.tsx
  app/src/components/agent/__tests__/useAgentChat.test.ts
  app/src/components/agent/useAgentChat.ts
Due: oxfmt-app, oxlint-app

fix(agents): scope chat operation feedback (#14620)
  app/src/components/agent/AgentSessionsResource.tsx
  app/src/components/agent/Chat.tsx
  app/src/components/agent/MessageRewindDialog.tsx
  app/src/components/agent/__tests__/Chat.test.tsx
  app/src/components/agent/__tests__/useAgentChat.test.ts
  app/src/components/agent/useAgentChat.ts
Due: oxfmt-app, oxlint-app

feat(agents): add session compaction (#14579)
  app/src/agent/chat/types.ts
  app/src/agent/slashCommands/__tests__/promptCommands.test.ts
  app/src/agent/slashCommands/__tests__/runPromptCommands.test.ts
  app/src/agent/slashCommands/promptCommands.ts
  app/src/agent/slashCommands/runPromptCommands.ts
  app/src/api/__generated__/v1.ts
  app/src/components/agent/AgentChatInput.tsx
  app/src/components/agent/AgentSessionsResource.tsx
  app/src/components/agent/Chat.tsx
  app/src/components/agent/ChatSessionUsage.tsx
  app/src/components/agent/__tests__/Chat.test.tsx
  app/src/components/agent/__tests__/ChatSessionUsage.test.ts
  app/src/components/agent/useAgentChat.ts
  app/src/components/ai/prompt-input/PromptInput.tsx
  app/src/components/ai/prompt-input/types.ts
  app/src/store/__tests__/agentStore.test.ts
  app/src/store/agentStore.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  scripts/ddl/postgresql_schema.sql
  src/phoenix/db/migrations/versions/e767d3c57f32_create_agent_sessions_and_agent_session_.py
  src/phoenix/db/models.py
  src/phoenix/db/types/data_stream_protocol/phoenix_types.py
  src/phoenix/server/agents/exceptions.py
  src/phoenix/server/agents/prompts/__init__.py
  src/phoenix/server/agents/prompts/summarization/COMPACTION_MESSAGE.xml.j2
  src/phoenix/server/agents/prompts/summarization/COMPACTION_PROMPT_INSTRUCTIONS.xml.j2
  src/phoenix/server/agents/summarization.py
  src/phoenix/server/api/mutations/agent_session_mutations.py
  src/phoenix/server/api/routers/agents.py
  src/phoenix/server/api/routers/legacy_agents.py
  src/phoenix/server/authorization.py
  tests/unit/server/agents/test_agents_router.py
  tests/unit/server/agents/test_session_history.py
  tests/unit/server/api/mutations/test_agent_session_mutations.py
  tests/unit/server/api/types/test_AgentSession.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

fix(ui): preserve line breaks in user chat messages
  app/src/components/ai/message/styles.ts
Due: oxfmt-app, oxlint-app

fix(ui): preserve line breaks in user chat messages (#14660)
  app/src/components/ai/message/styles.ts
Due: oxfmt-app, oxlint-app

refactor: simplify agent model helper names
  app/src/components/agent/__tests__/useAgentChatPanelState.test.ts
  app/src/components/agent/useAgentChat.ts
  app/src/components/agent/useAgentChatPanelState.ts
Due: oxfmt-app, oxlint-app

feat(playground): add Gemini 3.6 Flash and 3.5 Flash-lite support (#14658)
  src/phoenix/server/api/helpers/playground_clients.py
Due: format-python, lint-python

fix(agents): align compaction with current model state
  app/src/components/agent/__tests__/Chat.test.tsx
  app/src/components/agent/__tests__/useAgentChat.test.ts
  app/src/components/agent/useAgentChat.ts
Due: oxfmt-app, oxlint-app

feat(server): add a span analytics MCP surface with typed discovery and aggregation
  scripts/span_analytics_seeds/README.md
  scripts/span_analytics_seeds/seed_incident.py
  scripts/span_analytics_seeds/seed_support_copilot.py
  src/phoenix/server/mcp_server.py
  src/phoenix/server/mcp_span_analytics/__init__.py
  src/phoenix/server/mcp_span_analytics/compiler.py
  src/phoenix/server/mcp_span_analytics/registry.py
  src/phoenix/server/mcp_span_analytics/tools.py
  tests/unit/server/test_mcp_span_analytics.py
Due: format-python, lint-python

feat(ui): open the spans table from URL filter and time-range params
  app/src/components/datetime/__tests__/utils.test.ts
  app/src/components/datetime/utils.ts
  app/src/constants/searchParams.ts
  app/src/pages/project/SpanFilterConditionField.tsx
  app/src/pages/project/SpanFiltersContext.tsx
  app/tests/span-deep-link.spec.ts
Due: oxfmt-app, oxlint-app

fix(agents): apply mid-session model switches to the next send (#14635)
  app/src/components/agent/AgentSessionsResource.tsx
  app/src/components/agent/__tests__/Chat.test.tsx
  app/src/components/agent/__tests__/useAgentChat.test.ts
  app/src/components/agent/__tests__/useAgentChatPanelState.test.ts
  app/src/components/agent/useAgentChat.ts
  app/src/components/agent/useAgentChatPanelState.ts
Due: oxfmt-app, oxlint-app

refactor: fetch experiment evaluation metrics independently
  app/src/components/chart/EvaluationMetricsChart.tsx
  app/src/components/chart/EvaluationMetricsLabelCountSelect.tsx
  app/src/components/chart/InteractiveLegend.tsx
  app/src/components/chart/__tests__/EvaluationMetricsLabelCountSelect.test.tsx
  app/src/components/chart/__tests__/InteractiveLegend.test.tsx
  app/src/components/chart/__tests__/evaluationMetricsUtils.test.ts
  app/src/components/chart/evaluationMetricsUtils.ts
  app/src/components/chart/index.tsx
  app/src/components/experiment/__generated__/useSetExperimentBaselineMutation.graphql.ts
  app/src/pages/dataset/metrics/ExperimentAnnotationScoresChart.tsx
  app/src/pages/dataset/metrics/ExperimentEvaluationMetricsGrid.tsx
  app/src/pages/dataset/metrics/__generated__/ExperimentEvaluationMetricQuery.graphql.ts
  app/src/pages/dataset/metrics/__generated__/ExperimentEvaluationMetric_experiment.graphql.ts
  app/src/pages/dataset/metrics/__generated__/useExperimentAnnotationMetricNamesQuery.graphql.ts
  app/src/pages/dataset/metrics/__generated__/useExperimentAnnotationMetricsDataQuery.graphql.ts
  app/src/pages/dataset/metrics/__generated__/useExperimentAnnotationMetricsData_dataPoint.graphql.ts
  app/src/pages/dataset/metrics/__generated__/useExperimentMetricsData_experiment.graphql.ts
  app/src/pages/dataset/metrics/__tests__/ExperimentEvaluationMetricsGrid.test.tsx
  app/src/pages/dataset/metrics/__tests__/useExperimentMetricsData.test.tsx
  app/src/pages/dataset/metrics/useExperimentMetricsData.tsx
  app/src/pages/experiments/__tests__/ExperimentsMetricsCharts.test.tsx
Due: oxfmt-app, oxlint-app

feat: add experiment evaluation metrics charts
  app/src/components/experiment/__generated__/useSetExperimentBaselineMutation.graphql.ts
  app/src/pages/dataset/constants.ts
  app/src/pages/dataset/metrics/DatasetMetricsPage.tsx
  app/src/pages/dataset/metrics/ExperimentAnnotationScoresChart.tsx
  app/src/pages/dataset/metrics/ExperimentBaselineReference.tsx
  app/src/pages/dataset/metrics/ExperimentCostChart.tsx
  app/src/pages/dataset/metrics/ExperimentErrorRateChart.tsx
  app/src/pages/dataset/metrics/ExperimentEvaluationMetricsGrid.tsx
  app/src/pages/dataset/metrics/ExperimentLatencyChart.tsx
  app/src/pages/dataset/metrics/ExperimentTokensChart.tsx
  app/src/pages/dataset/metrics/__generated__/useExperimentAnnotationMetricNamesQuery.graphql.ts
  app/src/pages/dataset/metrics/__generated__/useExperimentAnnotationMetricsDataQuery.graphql.ts
  app/src/pages/dataset/metrics/__generated__/useExperimentAnnotationMetricsData_dataPoint.graphql.ts
  app/src/pages/dataset/metrics/__generated__/useExperimentMetricsDataQuery.graphql.ts
  app/src/pages/dataset/metrics/__generated__/useExperimentMetricsData_experiment.graphql.ts
  app/src/pages/dataset/metrics/__tests__/ExperimentBaselineReference.test.tsx
  app/src/pages/dataset/metrics/__tests__/ExperimentEvaluationMetricsGrid.test.tsx
  app/src/pages/dataset/metrics/__tests__/useExperimentMetricsData.test.tsx
  app/src/pages/dataset/metrics/chartCatalog.tsx
  app/src/pages/dataset/metrics/useExperimentMetricsData.ts
  app/src/pages/dataset/metrics/useExperimentMetricsData.tsx
  app/src/pages/experiments/ExperimentsMetricsChartSelector.tsx
  app/src/pages/experiments/ExperimentsMetricsCharts.tsx
  app/src/pages/experiments/__tests__/ExperimentsMetricsCharts.test.tsx
  app/src/store/__tests__/datasetStore.test.ts
Due: oxfmt-app, oxlint-app

feat: add shared evaluation metrics charts
  app/src/components/chart/ChartPanel.tsx
  app/src/components/chart/EvaluationMetricsChart.tsx
  app/src/components/chart/EvaluationMetricsLabelCountSelect.tsx
  app/src/components/chart/EvaluationMetricsViewToggle.tsx
  app/src/components/chart/InteractiveLegend.tsx
  app/src/components/chart/__tests__/EvaluationMetricsChart.test.ts
  app/src/components/chart/__tests__/EvaluationMetricsLabelCountSelect.test.tsx
  app/src/components/chart/__tests__/InteractiveLegend.test.tsx
  app/src/components/chart/__tests__/evaluationMetricsUtils.test.ts
  app/src/components/chart/evaluationMetricsUtils.ts
  app/src/components/chart/index.tsx
Due: oxfmt-app, oxlint-app

fix(deps): declare FastMCP client extra
  pyproject.toml
  uv.lock
Due: uv-lock-check

refactor(server): split span analytics tools module by concern
  src/phoenix/server/mcp_span_analytics/__init__.py
  src/phoenix/server/mcp_span_analytics/discovery.py
  src/phoenix/server/mcp_span_analytics/envelope.py
  src/phoenix/server/mcp_span_analytics/links.py
  src/phoenix/server/mcp_span_analytics/tools.py
Due: format-python, lint-python

fix(deps): declare FastMCP client extra (#14663)
  pyproject.toml
  uv.lock
Due: uv-lock-check

fix(agents): restore forced tracing for legacy chat
  src/phoenix/server/api/routers/legacy_agents.py
  tests/unit/server/agents/test_legacy_agents_router.py
Due: format-python, lint-python

refactor(agents): align persisted UI message types
  app/src/api/__generated__/v1.ts
  app/src/components/agent/__tests__/Chat.test.tsx
  app/src/components/agent/__tests__/useAgentChat.test.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  pyproject.toml
  schemas/openapi.json
  src/phoenix/db/types/data_stream_protocol/__init__.py
  src/phoenix/db/types/data_stream_protocol/_models.py
  src/phoenix/db/types/data_stream_protocol/_ui_messages.py
  src/phoenix/db/types/data_stream_protocol/phoenix_types.py
  src/phoenix/db/types/data_stream_protocol/provider_metadata.py
  src/phoenix/db/types/data_stream_protocol/request_types.py
  src/phoenix/server/agents/capabilities/tools/internal/call_subagent.py
  src/phoenix/server/agents/data_stream_protocol.py
  src/phoenix/server/agents/skill_requests.py
  src/phoenix/server/api/routers/agents.py
  tests/unit/db/types/__snapshots__/test_data_stream_protocol_compatibility.ambr
  tests/unit/db/types/test_data_stream_protocol_compatibility.py
  tests/unit/db/types/test_phoenix_ui_message.py
  tests/unit/server/agents/capabilities/tools/internal/test_call_subagent.py
  tests/unit/server/agents/test_agents_router.py
  tests/unit/server/agents/test_data_stream_protocol.py
  tests/unit/server/agents/test_session_history.py
  tests/unit/server/agents/test_skill_requests.py
  tests/unit/server/api/mutations/test_agent_session_mutations.py
  uv.lock
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

fix(server): close the silent-wrong-answer paths in span analytics
  src/phoenix/server/mcp_span_analytics/compiler.py
  src/phoenix/server/mcp_span_analytics/discovery.py
  src/phoenix/server/mcp_span_analytics/envelope.py
  src/phoenix/server/mcp_span_analytics/links.py
  src/phoenix/server/mcp_span_analytics/registry.py
  src/phoenix/server/mcp_span_analytics/tools.py
  tests/unit/server/test_mcp_span_analytics.py
Due: format-python, lint-python

refactor(agents): derive compaction checkpoints from messages
  scripts/ddl/postgresql_schema.sql
  src/phoenix/db/migrations/versions/e767d3c57f32_create_agent_sessions_and_agent_session_.py
  src/phoenix/db/models.py
  src/phoenix/server/api/mutations/agent_session_mutations.py
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/agents/test_agents_router.py
  tests/unit/server/agents/test_session_history.py
  tests/unit/server/api/mutations/test_agent_session_mutations.py
Due: format-python, lint-python

ci: include span analytics seed scripts in unit-test checkout
  .github/workflows/python-CI.yml
  .github/workflows/python-all-platforms.yml
Due: none
