Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat: improve copy stories
  app/stories/CopyId.stories.tsx
Due: oxfmt-app, oxlint-app

feat: continued copy button integration
  app/src/components/core/CopyToClipboardButton.tsx
  app/src/components/core/copy/CopyButton.tsx
  app/src/components/core/copy/CopyId.tsx
  app/src/components/core/copy/CopyMultiButton.tsx
  app/src/components/core/icon/Icons.tsx
  app/src/components/experiment/ExperimentActionMenu.tsx
  app/src/components/experiment/ExperimentInputCell.tsx
  app/src/pages/example/EditExampleDialog.tsx
  app/src/pages/examples/ExamplesTable.tsx
  app/src/pages/experiment/ExperimentCompareDetailsDialog.tsx
  app/src/pages/experiment/ExperimentCompareListPage.tsx
  app/src/pages/project/ProjectPage.tsx
  app/src/pages/project/ProjectPageHeader.tsx
  app/src/pages/project/__generated__/ProjectPageQuery.graphql.ts
  app/src/pages/projects/ProjectActionMenu.tsx
  app/src/pages/prompt/PromptVersionDetailsPage.tsx
  app/src/pages/prompt/PromptVersionSummary.tsx
  app/src/pages/trace/SpanDetails.tsx
Due: oxfmt-app, oxlint-app

feat: read-only and credential field improvements
  app/src/components/auth/OneTimeAPIKeyDialog.tsx
  app/src/components/code/AttributesJSONBlock.tsx
  app/src/components/code/BashBlockWithCopy.tsx
  app/src/components/code/PackageManagerCommandBlock.tsx
  app/src/components/code/PythonBlockWithCopy.tsx
  app/src/components/code/TypeScriptBlockWithCopy.tsx
  app/src/components/core/CopyToClipboardButton.tsx
  app/src/components/core/copy/CopyId.tsx
  app/src/components/core/field/CredentialContext.tsx
  app/src/components/core/field/CredentialField.tsx
  app/src/components/core/field/CredentialInput.tsx
  app/src/components/core/field/ReadOnlyTextField.tsx
  app/src/components/core/field/index.tsx
  app/src/components/core/field/styles.ts
  app/src/components/core/index.tsx
  app/src/components/experiment/ExperimentCompareDetails.tsx
  app/src/components/index.tsx
  app/src/pages/example/ExampleDetailsDialog.tsx
  app/src/pages/playground/PlaygroundChatTemplate.tsx
  app/src/pages/playground/PlaygroundExperimentRunDetailsDialog.tsx
  app/src/pages/playground/PlaygroundResponseFormat.tsx
  app/src/pages/playground/PlaygroundTool.tsx
  app/src/pages/project/ProjectConfigPage.tsx
  app/src/pages/prompt/PromptCodeExportCard.tsx
  app/src/pages/settings/SettingsGeneralPage.tsx
  app/src/pages/trace/SpanDetails.tsx
  app/stories/CredentialField.stories.tsx
  app/stories/ReadOnlyTextField.stories.tsx
Due: oxfmt-app, oxlint-app

Fix Vertex AI 400 error when sending multiple tool functions
  src/phoenix/server/api/helpers/playground_clients.py
Due: format-python, lint-python

docs(cli): add changeset, README, and skill docs for `px docs fetch`
  js/.changeset/cli-docs-fetch.md
  js/packages/phoenix-cli/README.md
  skills/phoenix-cli/SKILL.md
Due: oxfmt-js

fix: readme
  js/packages/phoenix-cli/README.md
Due: oxfmt-js

fix: Properly use kwargs
  docs/phoenix/cookbook/datasets-and-experiments/text2sql.mdx
  docs/phoenix/cookbook/evaluation/evaluate-an-agent.mdx
  docs/phoenix/cookbook/human-in-the-loop-workflows-annotations/creating-a-custom-llm-evaluator-with-a-benchmark-dataset.mdx
  docs/phoenix/cookbook/human-in-the-loop-workflows-annotations/using-human-annotations-for-eval-driven-development.mdx
  docs/phoenix/datasets-and-experiments/quickstart-datasets.mdx
  docs/phoenix/datasets-and-experiments/tutorial/iteration-workflow-experiments.mdx
  docs/phoenix/datasets-and-experiments/tutorial/run-experiments-with-code-evals.mdx
  docs/phoenix/datasets-and-experiments/tutorial/run-experiments-with-llm-judge.mdx
  docs/phoenix/integrations/evaluation-integrations/ragas.mdx
  docs/phoenix/integrations/llm-providers/google-gen-ai/google-gen-ai-evals-1.mdx
  docs/phoenix/use-cases/rag-evaluation.mdx
Due: none

docs: remove vector store references from llms.txt
  docs/phoenix/llms.txt
Due: none

docs: remove vector database integrations section
  docs/phoenix/integrations.mdx
  docs/phoenix/integrations/vector-databases/couchbase.mdx
  docs/phoenix/integrations/vector-databases/mongodb.mdx
  docs/phoenix/integrations/vector-databases/opensearch.mdx
  docs/phoenix/integrations/vector-databases/pinecone.mdx
  docs/phoenix/integrations/vector-databases/qdrant.mdx
  docs/phoenix/integrations/vector-databases/weaviate.mdx
  docs/phoenix/integrations/vector-databases/zilliz-milvus.mdx
  docs/phoenix/sitemap.xml
Due: none

update otel option icon
  app/src/pages/project/integrationRegistry.tsx
Due: oxfmt-app, oxlint-app

add separate dropdowns for TS/python package manager preference
  app/src/pages/profile/ViewerPreferences.tsx
  app/src/types/code.ts
Due: oxfmt-app, oxlint-app

feat: copy UX overhaul
  app/src/GlobalStyles.tsx
  app/src/Routes.tsx
  app/src/components/core/PageHeader.tsx
  app/src/components/core/copy/CopyButton.tsx
  app/src/components/core/copy/CopyId.tsx
  app/src/components/core/copy/CopyMultiButton.tsx
  app/src/components/core/copy/index.tsx
  app/src/components/core/icon/Icons.tsx
  app/src/components/core/menu/Menu.tsx
  app/src/components/core/overlay/Popover.tsx
  app/src/components/experiment/ExperimentCompareDetails.tsx
  app/src/components/experiment/ExperimentInputCell.tsx
  app/src/components/nav/NavBreadcrumb.tsx
  app/src/components/nav/NavCopyActionMenu.tsx
  app/src/components/nav/Navbar.tsx
  app/src/components/table/CellWithControlsWrapper.tsx
  app/src/components/table/styles.ts
  app/src/pages/dataset/DatasetHistoryTable.tsx
  app/src/pages/dataset/DatasetPage.tsx
  app/src/pages/example/EditExampleDialog.tsx
  app/src/pages/example/ExampleDetailsDialog.tsx
  app/src/pages/examples/ExamplesTable.tsx
  app/src/pages/experiment/ExperimentCompareDetailsDialog.tsx
  app/src/pages/experiment/ExperimentCompareListPage.tsx
  app/src/pages/playground/PlaygroundExperimentRunDetailsDialog.tsx
  app/src/pages/project/ProjectPage.tsx
  app/src/pages/project/SessionsTable.tsx
  app/src/pages/project/__generated__/ProjectPageQuery.graphql.ts
  app/src/pages/prompt/PromptVersionDetailsPage.tsx
  app/src/pages/prompt/PromptVersionSummary.tsx
  app/src/pages/trace/SessionPage.tsx
  app/src/pages/trace/SpanActionMenu.tsx
  app/src/pages/trace/SpanDetails.tsx
  app/src/pages/trace/SpanFeedback.tsx
  app/stories/Menu.stories.tsx
Due: oxfmt-app, oxlint-app

Update MIGRATION.md
  MIGRATION.md
Due: none

Linting fixes
  tutorials/log_traces_to_phoenix.ipynb
Due: clean-notebooks

fix: resolve TypeScript build errors in copy components
  app/src/components/core/copy/CopyMultiButton.tsx
  app/stories/CopyId.stories.tsx
  app/stories/CopyMultiButton.stories.tsx
Due: oxfmt-app, oxlint-app

fix: remove unused imports and variables flagged by oxlint
  app/src/components/core/field/CredentialInput.tsx
  app/src/pages/experiment/ExperimentCompareListPage.tsx
Due: oxfmt-app, oxlint-app

feat: agent context
  app/src/contexts/AgentContext.tsx
  app/src/pages/AuthenticatedRoot.tsx
  app/src/store/__tests__/agentStore.test.ts
  app/src/store/agentStore.ts
  app/src/store/index.tsx
Due: oxfmt-app, oxlint-app

refactor: remove light darker tokens
  app/src/GlobalStyles.tsx
  app/src/components/chat/MessageBubble.tsx
  app/src/components/core/card/styles.ts
  app/src/components/core/counter/Counter.tsx
  app/src/components/core/listbox/ListBox.tsx
  app/src/components/core/overlay/Modal.tsx
  app/src/components/core/toast/Toast.tsx
  app/src/components/core/toast/styles.ts
  app/src/components/evaluators/EvaluatorCategoricalChoiceConfig.tsx
  app/src/components/evaluators/ReadOnlyCategoricalConfig.tsx
  app/src/components/evaluators/ReadOnlyContinuousConfig.tsx
  app/src/components/table/styles.ts
  app/src/pages/dataset/evaluators/BuiltInDatasetEvaluatorDetails.tsx
  app/src/pages/dataset/evaluators/LLMDatasetEvaluatorDetails.tsx
  app/src/pages/experiment/ExampleDetailsPaginator.tsx
  app/src/pages/support/SupportPage.tsx
Due: oxfmt-app, oxlint-app

fix counter, deprecate style props for light / dark
  app/src/components/core/counter/Counter.tsx
  app/src/components/core/types/style.ts
Due: oxfmt-app, oxlint-app

more cleanup of tokens
  app/src/components/ShareLinkButton.tsx
  app/src/components/core/ViewSummaryAside.tsx
  app/src/components/dataset/NewDatasetButton.tsx
  app/src/components/evaluators/LLMEvaluatorForm.tsx
  app/src/pages/auth/AuthLayout.tsx
  app/src/pages/dataset/AddDatasetExampleDialog.tsx
  app/src/pages/example/EditExampleDialog.tsx
  app/src/pages/example/ExampleDetailsDialog.tsx
  app/src/pages/experiment/ExperimentRunFilterConditionField.tsx
  app/src/pages/projects/ProjectViewModeToggle.tsx
  app/src/pages/settings/AnnotationConfigSelectionToolbar.tsx
  app/src/pages/settings/ModelForm.tsx
  app/src/pages/trace/SpanDetails.tsx
  app/src/pages/trace/SpanToDatasetExampleDialog.tsx
  app/src/pages/trace/TraceDetailsPaginator.tsx
Due: oxfmt-app, oxlint-app

more cleanup of tokens
  app/src/pages/playground/PlaygroundExperimentRunDetailsDialog.tsx
  app/src/pages/playground/PlaygroundExperimentToolbar.tsx
  app/src/pages/trace/SpanDetails.tsx
  app/src/pages/trace/TraceDetailsPaginator.tsx
Due: oxfmt-app, oxlint-app

more cleanup of tokens
  app/src/pages/project/SpanFilterConditionField.tsx
  app/src/pages/trace/SpanDetails.tsx
Due: oxfmt-app, oxlint-app

cleanup
  app/src/components/core/card/styles.ts
  app/src/pages/dataset/AddDatasetExampleDialog.tsx
  app/src/pages/project/SpanFilterConditionField.tsx
  app/src/pages/trace/SpanDetails.tsx
Due: oxfmt-app, oxlint-app

remove light / dark border color
  app/src/components/core/types/style.ts
Due: oxfmt-app, oxlint-app

remove light / dark border color
  app/src/components/ShareLinkButton.tsx
  app/src/components/annotation/AnnotationConfigDialog.tsx
  app/src/components/annotation/AnnotationSummaryPopover.tsx
  app/src/components/auth/CreateAPIKeyDialog.tsx
  app/src/components/dataset/DatasetLabelConfigButton.tsx
  app/src/components/evaluators/LLMEvaluatorForm.tsx
  app/src/components/experiment/ExperimentCompareDetails.tsx
  app/src/components/project/PythonProjectGuide.tsx
  app/src/components/project/TypeScriptProjectGuide.tsx
  app/src/components/settings/LDAPUserForm.tsx
  app/src/components/settings/OAuthUserForm.tsx
  app/src/components/settings/UserForm.tsx
  app/src/components/trace/SpanAnnotationsEditor.tsx
  app/src/pages/datasets/DatasetsPage.tsx
  app/src/pages/example/ExampleDetailsDialog.tsx
  app/src/pages/examples/ExamplesFilterBar.tsx
  app/src/pages/experiment/ExperimentComparePage.tsx
  app/src/pages/playground/PlaygroundExperimentRunDetailsDialog.tsx
  app/src/pages/profile/ViewerProfileCard.tsx
  app/src/pages/project/DatasetSelectorPopoverContent.tsx
  app/src/pages/project/MetadataTooltip.tsx
  app/src/pages/project/ProjectAnnotationConfigCard.tsx
  app/src/pages/project/ProjectRetentionPolicyCard.tsx
  app/src/pages/project/SessionColumnSelector.tsx
  app/src/pages/project/SpanColumnSelector.tsx
  app/src/pages/project/TransferTracesButton.tsx
  app/src/pages/projects/ProjectViewModeToggle.tsx
  app/src/pages/prompt/NewPromptVersionTagDialog.tsx
  app/src/pages/prompt/PromptLabelConfigButton.tsx
  app/src/pages/prompts/PromptsLabelMenu.tsx
  app/src/pages/settings/AnnotationConfigSelectionToolbar.tsx
  app/src/pages/settings/GlobalRetentionPolicyCard.tsx
  app/src/pages/settings/RetentionPolicyForm.tsx
  app/src/pages/trace/SpanDetails.tsx
  app/src/pages/trace/TraceDetails.tsx
  app/src/pages/trace/TraceDetailsPaginator.tsx
  app/stories/Gallery.stories.tsx
  app/stories/OverflowCell.stories.tsx
Due: oxfmt-app, oxlint-app

remove light / dark border color
  app/src/components/auth/DeleteAPIKeyButton.tsx
  app/src/components/auth/OneTimeAPIKeyDialog.tsx
  app/src/components/code/CodeWrap.tsx
  app/src/components/dataset/NewDatasetButton.tsx
  app/src/components/datetime/TimeRangeSelector.tsx
  app/src/components/experiment/ExperimentActionMenu.tsx
  app/src/components/trace/SpanAnnotationActionMenu.tsx
  app/src/pages/auth/AuthLayout.tsx
  app/src/pages/dataset/AddDatasetExampleDialog.tsx
  app/src/pages/dataset/evaluators/DeleteDatasetEvaluatorDialog.tsx
  app/src/pages/datasets/DeleteDatasetDialog.tsx
  app/src/pages/examples/ExampleSelectionToolbar.tsx
  app/src/pages/experiments/ExperimentSelectionToolbar.tsx
  app/src/pages/playground/RunMetadataFooter.tsx
  app/src/pages/playground/SavePromptForm.tsx
  app/src/pages/project/SpanSelectionToolbar.tsx
  app/src/pages/projects/ProjectActionMenu.tsx
  app/src/pages/projects/RemoveProjectDataForm.tsx
  app/src/pages/prompt/DeletePromptVersionTagButton.tsx
  app/src/pages/prompt/EditPromptButton.tsx
  app/src/pages/prompts/DeletePromptDialog.tsx
  app/src/pages/settings/AnnotationConfigSelectionToolbar.tsx
  app/src/pages/settings/DeleteCustomProviderButton.tsx
  app/src/pages/settings/DeleteModelButton.tsx
  app/src/pages/settings/DeleteUserDialog.tsx
  app/src/pages/settings/ModelForm.tsx
  app/src/pages/settings/RetentionPolicyActionMenu.tsx
  app/src/pages/settings/UserRoleChangeDialog.tsx
  app/src/pages/trace/DocumentAnnotationActionMenu.tsx
  app/src/pages/trace/SpanDetails.tsx
  app/stories/ExperimentItem.stories.tsx
  app/stories/ExperimentRunAnnotations.stories.tsx
  app/stories/ExperimentRunOutputs.stories.tsx
  app/stories/ExperimentTable.stories.tsx
Due: oxfmt-app, oxlint-app

remove light / dark border color
  app/src/components/ConfirmNavigation.tsx
  app/src/components/core/ViewSummaryAside.tsx
  app/src/components/dataset/DatasetLabelConfigButton.tsx
  app/src/components/experiment/ExperimentCompareDetails.tsx
  app/src/components/playground/model/ModelParametersConfigButton.tsx
  app/src/components/trace/SpanAnnotationsEditor.tsx
  app/src/pages/agents/AgentsPage.tsx
  app/src/pages/dataset/AddDatasetExampleDialog.tsx
  app/src/pages/playground/Playground.tsx
  app/src/pages/project/MetadataTooltip.tsx
  app/src/pages/project/ProjectAnnotationConfigCard.tsx
  app/src/pages/prompt/PromptIndexPage.tsx
  app/src/pages/prompt/PromptLabelConfigButton.tsx
  app/src/pages/support/SupportPage.tsx
  app/src/pages/trace/SessionDetails.tsx
  app/src/pages/trace/SessionDetailsTraceList.tsx
  app/src/pages/trace/SpanDetails.tsx
  app/src/pages/trace/SpanToDatasetExampleDialog.tsx
Due: oxfmt-app, oxlint-app

remove light / dark border color
  app/src/components/prompt/TagPromptVersionButton.tsx
  app/src/pages/trace/SessionDetailsTraceList.tsx
Due: oxfmt-app, oxlint-app

remove light / dark border color
  app/src/GlobalStyles.tsx
  app/src/components/code/PackageManagerCommandBlock.tsx
  app/src/components/core/dialog/Dialog.tsx
  app/src/components/core/overlay/Modal.tsx
  app/src/components/core/overlay/Popover.tsx
  app/src/components/core/tag/Tag.tsx
  app/src/components/core/utils/styleProps.ts
  app/src/components/experiment/ExperimentCompareDetails.tsx
  app/src/components/filter/Toolbar.tsx
  app/src/pages/experiment/ExampleDetailsPaginator.tsx
  app/src/pages/support/SupportPage.tsx
Due: oxfmt-app, oxlint-app

remove light / dark border color
  app/src/GlobalStyles.tsx
  app/src/components/experiment/ExperimentCompareDetails.tsx
  app/src/pages/support/SupportPage.tsx
Due: oxfmt-app, oxlint-app

docs: add Harbor integration page
  docs.json
  docs/phoenix/integrations.mdx
  docs/phoenix/integrations/python/harbor.mdx
Due: none

docs: add JSDoc comments to agent store and context
  app/src/contexts/AgentContext.tsx
  app/src/store/agentStore.ts
Due: oxfmt-app, oxlint-app

docs: rewrite CONTRIBUTING.md to set clear contribution expectations
  CONTRIBUTING.md
Due: none

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
