Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(experiments): size metric columns for their deltas and drop deltas when too narrow
  js/app/src/pages/experiments/ExperimentsTable.tsx
Due: oxfmt-js, oxlint-js

fix: restore scheduled workflow actors
  .github/workflows/check-dependabot-uv-version.yml
  .github/workflows/claude-weekly-deps-upgrade.yml
  .github/workflows/collect-customer-issues.yaml
  .github/workflows/phoenix-sqlean-upstream.yml
Due: none

fix: restore nightly Playwright schedule
  .github/workflows/playwright.yaml
Due: none

fix: restore scheduled workflow actors (#16864)
  .github/workflows/check-dependabot-uv-version.yml
  .github/workflows/claude-weekly-deps-upgrade.yml
  .github/workflows/collect-customer-issues.yaml
  .github/workflows/phoenix-sqlean-upstream.yml
  .github/workflows/playwright.yaml
Due: none

chore(main): release arize-phoenix-evals 3.9.1 (#16398)
  .release-please-manifest.json
  packages/phoenix-evals/CHANGELOG.md
  packages/phoenix-evals/pyproject.toml
  uv.lock
Due: uv-lock-check

fix(agents): keep PXI on GraphQL for lookups by stripping the MCP data-access block from its instructions
  evals/harbor/api-selection-tuning-report.md
  src/phoenix/server/agents/agent_factory.py
  src/phoenix/server/agents/prompts/tools/PHOENIX_MCP_TOOL_INSTRUCTIONS.xml.j2
  src/phoenix/server/mcp/routing.py
  tests/unit/server/mcp/test_skills.py
Due: format-python, lint-python

docs(harbor): point diagram embeds at uploaded html assets
  docs/phoenix/integrations/evaluation-integrations/harbor.mdx
Due: none

docs(harbor): switch diagram embeds with the docs light and dark theme
  docs/phoenix/integrations/evaluation-integrations/harbor.mdx
Due: none

docs(harbor): allow diagrams to open fullscreen on click
  docs/phoenix/integrations/evaluation-integrations/harbor.mdx
Due: none

docs(harbor): replace diagram iframes with static light and dark SVGs
  docs/phoenix/integrations/evaluation-integrations/harbor.mdx
  docs/phoenix/integrations/evaluation-integrations/images/harbor-phoenix-plugin-dark.svg
  docs/phoenix/integrations/evaluation-integrations/images/harbor-phoenix-plugin-light.svg
  docs/phoenix/integrations/evaluation-integrations/images/harbor-trial-dark.svg
  docs/phoenix/integrations/evaluation-integrations/images/harbor-trial-light.svg
Due: none

docs(harbor): add trial and plugin diagrams (#16861)
  docs/phoenix/integrations/evaluation-integrations/harbor.mdx
  docs/phoenix/integrations/evaluation-integrations/images/harbor-phoenix-plugin-dark.svg
  docs/phoenix/integrations/evaluation-integrations/images/harbor-phoenix-plugin-light.svg
  docs/phoenix/integrations/evaluation-integrations/images/harbor-trial-dark.svg
  docs/phoenix/integrations/evaluation-integrations/images/harbor-trial-light.svg
Due: none

docs: add README translations in 32 languages
  README.ar.md
  README.bn.md
  README.cs.md
  README.da.md
  README.de.md
  README.el.md
  README.es.md
  README.fi.md
  README.fr.md
  README.he.md
  README.hi.md
  README.hu.md
  README.id.md
  README.it.md
  README.ja.md
  README.ko.md
  README.nl.md
  README.no.md
  README.pl.md
  README.pt-BR.md
  README.pt-PT.md
  README.ro.md
  README.ru.md
  README.sv.md
  README.th.md
  README.tl.md
  README.tr.md
  README.uk.md
  README.ur.md
  README.vi.md
  README.zh-TW.md
  README.zh.md
Due: none

ci: keep README translations in sync with Claude
  .github/workflows/claude-readme-translations.yml
  README.zh.md
  scripts/check_readme_translations.py
Due: format-python, lint-python

feat(agents): escape key cancels streaming (#16858)
  js/app/src/components/agent/Chat.tsx
Due: oxfmt-js, oxlint-js

fix(cost): update built-in model token prices
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Due: none

docs: add README translations in 32 languages (#16867)
  .github/workflows/claude-readme-translations.yml
  README.ar.md
  README.bn.md
  README.cs.md
  README.da.md
  README.de.md
  README.el.md
  README.es.md
  README.fi.md
  README.fr.md
  README.he.md
  README.hi.md
  README.hu.md
  README.id.md
  README.it.md
  README.ja.md
  README.ko.md
  README.md
  README.nl.md
  README.no.md
  README.pl.md
  README.pt-BR.md
  README.pt-PT.md
  README.ro.md
  README.ru.md
  README.sv.md
  README.th.md
  README.tl.md
  README.tr.md
  README.uk.md
  README.ur.md
  README.vi.md
  README.zh-TW.md
  scripts/check_readme_translations.py
Due: format-python, lint-python

Delete plugins/claude/arize-phoenix/evals/phoenix-evals/01-rag-groundedness-judge/graders/labels-not-likert.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/01-rag-groundedness-judge/graders/labels-not-likert.md
Due: none

fix(cost): update built-in model token prices (#16868)
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Due: none

docs(skills): weekly audit — 2026-10-07 (#16844)
  .agents/skills/phoenix-evals/references/evaluators-pre-built.md
  .agents/skills/phoenix-evals/references/validation-evaluators-python.md
  .agents/skills/phoenix-evals/references/validation.md
Due: none

feat(playground): add claude-haiku-5-5 and remove retired Anthropic models
  src/phoenix/server/api/helpers/playground_clients.py
Due: format-python, lint-python

fix(deps): update arize-phoenix-evals to 3.9.1 (#16866)
  pyproject.toml
Due: uv-lock-check

ci(cost): audit playground model lists with Claude in a single rolling sync PR
  .github/workflows/cost-sync.yml
Due: none

fix(ui): show evaluation metrics when one experiment is selected on the compare page (#16798)
  js/app/src/pages/experiment/ExperimentCompareMetricsPage.tsx
  js/app/src/pages/experiment/__tests__/utils.test.ts
  js/app/src/pages/experiment/utils.ts
Due: oxfmt-js, oxlint-js

refactor(ui): trim redundant TypeSafe AI fall-through comments
  js/app/src/pages/playground/ChatMessageToolCallsEditor.tsx
  js/app/src/pages/playground/__tests__/playgroundUtils.test.ts
  js/app/src/pages/playground/playgroundUtils.ts
  js/app/src/schemas/messageSchemas.ts
  js/app/src/schemas/toolCallSchemas.ts
  js/app/src/store/playground/playgroundStoreUtils.ts
Due: oxfmt-js, oxlint-js

chore(harbor): regenerate verifier GraphQL enums for TYPESAFE
  evals/harbor/verifiers/harbor_verifiers/graphql/__generated__/enums.py
Due: format-python, lint-python

Delete plugins/claude/arize-phoenix/evals/phoenix-evals/01-rag-groundedness-judge/graders/file-created.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/01-rag-groundedness-judge/graders/file-created.md
Due: none

fix(mcp): keep executeSql working when the role cannot set temp_file_limit
  src/phoenix/server/mcp/sql/execute.py
Due: format-python, lint-python

test(mcp): cover executeSql when temp_file_limit is refused
  tests/unit/server/mcp/sql/test_execute.py
Due: format-python, lint-python

feat: assign a random gradient to projects created by ingestion
  src/phoenix/db/helpers.py
  src/phoenix/db/insertion/span.py
  tests/unit/db/insertion/test_span.py
Due: format-python, lint-python

grader in case 01: for checking if it ran over a dataframe
  plugins/claude/arize-phoenix/evals/phoenix-evals/01-rag-groundedness-judge/graders/runs-over-dataframe.md
Due: none

chore(dev): replace mprocs with dekit for the dev stack
  DEVELOPMENT.md
  Makefile
  js/app/.gitignore
  js/app/dekit.yaml
  js/app/mprocs.yaml
  js/app/package.json
  js/pnpm-lock.yaml
Due: oxfmt-js

rephrased instrucitons of writing it to a file in all the prompts
  plugins/claude/arize-phoenix/evals/phoenix-evals/01-rag-groundedness-judge/prompt.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/02-json-schema-code-eval/prompt.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/03-run-evaluator-experiment/prompt.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/04-validate-judge-labels/prompt.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/05-faithfulness-ci-gate/prompt.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/06-ts-relevance-judge/prompt.md
Due: none

tunned graders for case 01
  plugins/claude/arize-phoenix/evals/phoenix-evals/01-rag-groundedness-judge/graders/binary-labels.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/01-rag-groundedness-judge/graders/no-deprecated-api.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/01-rag-groundedness-judge/graders/uses-classification-evaluator.md
Due: none

ci(cost): restore the synced manifest after the Claude audit
  .github/workflows/cost-sync.yml
Due: none

changed case 04 graders
  plugins/claude/arize-phoenix/evals/phoenix-evals/04-validate-judge-labels/graders/file-created.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/04-validate-judge-labels/graders/inspects-errors.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/04-validate-judge-labels/graders/reports-tpr-tnr.md
  plugins/claude/arize-phoenix/evals/phoenix-evals/04-validate-judge-labels/graders/uses-ceiling.md
Due: none

ci(cost): publish the model catalog PR from a separate job
  .github/workflows/cost-sync.yml
Due: none

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
