Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

test(evaluators): align unit tests with new tracing + secret-aware backend contract
  tests/unit/server/api/routers/test_chat_tracing.py
  tests/unit/server/api/test_evaluators_timeout.py
  tests/unit/server/sandbox/test_get_or_create_backend.py
Due: format-python, lint-python

wip: tool part group spacing and animation
  app/src/components/agent/ToolPartGroup.tsx
Due: oxfmt-app, oxlint-app

test(sandbox): set _provider_secret_values on remaining spec'd Mock backends
  tests/unit/server/api/mutations/test_sandbox_cache_invalidation.py
  tests/unit/server/api/mutations/test_sandbox_config_mutations.py
  tests/unit/server/api/mutations/test_sandbox_credential_mutations.py
  tests/unit/server/api/test_sandbox_queries.py
Due: format-python, lint-python

wip: improved layout shuffling for tool names
  app/src/components/agent/ToolPart.tsx
  app/src/components/agent/ToolPartGroup.tsx
  app/src/components/agent/ToolPartPrimitives.tsx
Due: oxfmt-app, oxlint-app

wip: final style tweaks
  app/src/components/agent/ToolPartGroup.tsx
Due: oxfmt-app, oxlint-app

fix(sandbox): hide unusable providers from new-config dropdown
  app/src/pages/settings/sandboxes/SandboxConfigsCard.tsx
Due: oxfmt-app, oxlint-app

docs(sandbox): state SandboxSecretMasker threat model in module docstring
  src/phoenix/server/api/helpers/sandbox_redaction.py
Due: format-python, lint-python

fix: rebalance tool title spacing
  app/src/components/agent/ToolPartPrimitives.tsx
Due: oxfmt-app, oxlint-app

test(sandbox): seed fake E2B_API_KEY in Playwright server
  app/tests/utils/testServer.mjs
Due: none

refactor(sandbox): move secret_values composition into each backend's __init__
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/helpers/sandbox_redaction.py
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/daytona_backend.py
  src/phoenix/server/sandbox/deno_backend.py
  src/phoenix/server/sandbox/e2b_backend.py
  src/phoenix/server/sandbox/modal_backend.py
  src/phoenix/server/sandbox/types.py
  src/phoenix/server/sandbox/vercel_backend.py
  src/phoenix/server/sandbox/wasm_backend.py
  tests/unit/server/api/mutations/test_sandbox_cache_invalidation.py
  tests/unit/server/api/mutations/test_sandbox_config_mutations.py
  tests/unit/server/api/mutations/test_sandbox_credential_mutations.py
  tests/unit/server/api/test_sandbox_queries.py
  tests/unit/server/sandbox/test_get_or_create_backend.py
Due: format-python, lint-python

fix(evaluators): mask exceptions on inner spans by suppressing OTel auto-record
  src/phoenix/server/api/evaluators.py
  tests/unit/server/api/test_code_evaluator_runner.py
Due: format-python, lint-python

feat: slight fade in on tool mount
  app/src/components/agent/ToolPart.tsx
  app/src/components/agent/ToolPartGroup.tsx
  app/src/components/agent/ToolPartPrimitives.tsx
Due: oxfmt-app, oxlint-app

feat(evaluators): trace sandbox code evaluators (#13156)
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/helpers/sandbox_redaction.py
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/daytona_backend.py
  src/phoenix/server/sandbox/deno_backend.py
  src/phoenix/server/sandbox/e2b_backend.py
  src/phoenix/server/sandbox/modal_backend.py
  src/phoenix/server/sandbox/types.py
  src/phoenix/server/sandbox/vercel_backend.py
  src/phoenix/server/sandbox/wasm_backend.py
  src/phoenix/tracers.py
  tests/unit/server/api/routers/test_chat_tracing.py
  tests/unit/server/api/test_code_evaluator_runner.py
  tests/unit/server/api/test_evaluators_timeout.py
  tests/unit/server/sandbox/test_get_or_create_backend.py
  tests/unit/test_tracers.py
Due: format-python, lint-python

refactor: single shared makeGradient for faded divider styles
  app/src/components/core/layout/Divider.tsx
  app/src/components/core/layout/dividerFadeCSS.ts
  app/src/components/core/layout/index.tsx
Due: oxfmt-app, oxlint-app

refactor: move PXI button glow changes to separate branch
  app/src/components/agent/AgentChatWidget.tsx
  app/src/components/agent/PxiGlyph.tsx
  app/src/components/core/progress/ProgressCircle.tsx
  app/src/components/core/progress/styles.ts
  app/src/components/core/progress/types.ts
  app/stories/AgentChatWidgetButton.stories.tsx
Due: oxfmt-app, oxlint-app

feat: unroll theme selector, docs backgrounds match app backgrounds
  app/.storybook/manager.ts
  app/.storybook/preview-body.html
  app/.storybook/preview.tsx
Due: oxfmt-app, oxlint-app

feat: split PXI icon, divider, and storybook follow-ups
  app/.storybook/main.ts
  app/.storybook/preview-body.html
  app/.storybook/preview.tsx
  app/src/GlobalStyles.tsx
  app/src/components/agent/AgentChatPanelView.tsx
  app/src/components/agent/AgentChatWidget.tsx
  app/src/components/agent/PxiGlyph.tsx
  app/src/components/core/layout/fadedDividerCSS.ts
  app/src/components/core/layout/index.tsx
  app/src/components/core/progress/ProgressCircle.tsx
  app/src/components/core/progress/styles.ts
  app/src/components/core/progress/types.ts
  app/stories/AgentChatWidgetButton.stories.tsx
  app/stories/Alert.stories.tsx
  app/stories/BorderAndDividerLines.mdx
  app/stories/BorderAndDividerLines.stories.tsx
  app/stories/ToolPart.stories.tsx
Due: oxfmt-app, oxlint-app

feat: prune, clarify, enhance border and divider tokens and components. improved storybook
  app/src/GlobalStyles.tsx
  app/src/components/ai/attachment/styles.ts
  app/src/components/ai/message/styles.ts
  app/src/components/ai/prompt-input/styles.ts
  app/src/components/core/button/IconButton.tsx
  app/src/components/core/layout/Divider.tsx
  app/src/components/core/layout/fadedDividerCSS.ts
  app/src/components/core/layout/index.tsx
  app/stories/BorderAndDividerLines.mdx
  app/stories/BorderAndDividerLines.stories.tsx
Due: oxfmt-app, oxlint-app

chore: remove dead tokens
  app/src/GlobalStyles.tsx
Due: oxfmt-app, oxlint-app

fix: bug where manager panel state persisted incorrectly across dynamic theme refresh
  app/.storybook/manager.ts
Due: oxfmt-app, oxlint-app

fix: storybook's both mode uses system background
  app/.storybook/preview.tsx
Due: oxfmt-app, oxlint-app

chore: fmt
  app/.storybook/main.ts
  app/.storybook/manager.ts
  app/.storybook/preview-body.html
  app/src/components/core/layout/dividerFadeCSS.ts
  app/src/components/core/layout/index.tsx
  app/stories/BorderAndDividerLines.mdx
Due: oxfmt-app, oxlint-app

Address PXI eval harness review comments
  tests/pxi/evals/README.md
  tests/pxi/evals/agent_task.py
  tests/pxi/evals/datasets/set_spans_filter.yaml
  tests/pxi/evals/evaluators/__init__.py
  tests/pxi/evals/evaluators/common.py
  tests/pxi/evals/evaluators/span_filter.py
  tests/pxi/evals/evaluators/tools.py
  tests/pxi/evals/run_experiment.py
  tests/pxi/evals/runner.py
  tests/pxi/evals/types.py
Due: format-python, lint-python

Update PXI eval task output docs
  tests/pxi/evals/README.md
  tests/pxi/evals/agent_task.py
  tests/pxi/evals/evaluators/tools.py
  tests/pxi/evals/test_evaluators.py
Due: format-python, lint-python

Add PXI eval harness
  tests/pxi/evals/README.md
  tests/pxi/evals/__init__.py
  tests/pxi/evals/agent_task.py
  tests/pxi/evals/datasets.py
  tests/pxi/evals/datasets/set_spans_filter.yaml
  tests/pxi/evals/evaluators/__init__.py
  tests/pxi/evals/evaluators/common.py
  tests/pxi/evals/evaluators/span_filter.py
  tests/pxi/evals/evaluators/tools.py
  tests/pxi/evals/run_eval.py
  tests/pxi/evals/runner.py
  tests/pxi/evals/types.py
Due: format-python, lint-python

fix: apply ruff formatting to pxi eval files
  tests/pxi/evals/run_experiment.py
  tests/pxi/evals/test_evaluators.py
Due: format-python, lint-python

Fix PXI eval failure reporting
  tests/pxi/evals/runner.py
Due: format-python, lint-python

Wire evaluators correctly so PXI eval phase actually runs
  tests/pxi/evals/evaluators/tools.py
  tests/pxi/evals/run_experiment.py
  tests/pxi/evals/runner.py
Due: format-python, lint-python

Read exact_match from dataset and return informative labels in correct_tools_called
  tests/pxi/evals/evaluators/tools.py
  tests/pxi/evals/test_evaluators.py
  tests/pxi/evals/types.py
Due: format-python, lint-python

Simplify PXI eval experiment runner
  tests/pxi/evals/datasets.py
  tests/pxi/evals/run_experiment.py
  tests/pxi/evals/runner.py
  tests/pxi/evals/test_datasets.py
  tests/pxi/evals/types.py
Due: format-python, lint-python

Share docs MCP toolset across PXI eval task runs
  tests/pxi/evals/agent_task.py
  tests/pxi/evals/evaluators/tools.py
  tests/pxi/evals/runner.py
Due: format-python, lint-python

update readme
  tests/pxi/evals/README.md
Due: none

simplify
  tests/pxi/evals/agent_task.py
  tests/pxi/evals/datasets.py
  tests/pxi/evals/test_datasets.py
  tests/pxi/evals/types.py
Due: format-python, lint-python

Address PXI eval harness review findings (batch 2)
  tests/pxi/evals/README.md
  tests/pxi/evals/agent_task.py
  tests/pxi/evals/datasets.py
  tests/pxi/evals/datasets/set_spans_filter.yaml
  tests/pxi/evals/evaluators/tools.py
  tests/pxi/evals/run_experiment.py
  tests/pxi/evals/runner.py
  tests/pxi/evals/test_datasets.py
  tests/pxi/evals/test_evaluators.py
Due: format-python, lint-python

Fix import of private model_factory helpers in pxi eval agent_task
  tests/pxi/evals/agent_task.py
Due: format-python, lint-python

fix: update run_experiment types to use RanExperiment and ExperimentEvaluationRun
  tests/pxi/evals/run_experiment.py
Due: format-python, lint-python

fix: add missing blank line for ruff E302
  tests/pxi/evals/run_experiment.py
Due: format-python, lint-python

feat(evaluators): add language-aware code evaluator templates
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
  app/src/components/evaluators/codeEvaluatorTemplates.ts
Due: oxfmt-app, oxlint-app

remove llms.txt
  docs/phoenix/custom-llms.txt
  js/packages/phoenix-cli/src/commands/docs.ts
Due: oxfmt-js, oxlint-js

refactor: getCategoricalConfigFromChoices takes a label-score map
  app/src/components/evaluators/codeEvaluatorTemplates.ts
Due: oxfmt-app, oxlint-app

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
