Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs: fix broken pricing link in Phoenix vs Arize FAQ
  docs/phoenix/resources/frequently-asked-questions/what-is-the-difference-between-phoenix-and-arize.mdx
Due: none

pin actions to commit shas
  .github/workflows/issue-triage.yml
Due: none

feat(ui): add session trace tree expansion controls
  app/src/components/core/content/ExpandableContent.tsx
  app/src/components/trace/ExpandCollapseAllButton.tsx
  app/src/components/trace/TraceTree.tsx
  app/src/components/trace/TraceTreeToolbar.tsx
  app/src/components/trace/__tests__/TraceTree.test.tsx
  app/src/pages/trace/SessionDetails.tsx
  app/src/pages/trace/SessionDetailsTraceList.tsx
  app/src/pages/trace/SessionDetailsTracesView.tsx
  app/stories/TraceTree.stories.tsx
Due: oxfmt-app, oxlint-app

ci: add MoraVigoMalusardi to the external-issue triage allowlist
  .github/workflows/auto-label-external-issues.yaml
Due: none

ci: add MoraVigoMalusardi to the external-issue triage allowlist (#14830)
  .github/workflows/auto-label-external-issues.yaml
Due: none

fix: constrain experiment chart tooltip content (#14820)
  app/src/components/chart/AnnotationScoreLabelToggle.tsx
  app/src/components/chart/ChartTooltip.tsx
  app/src/components/chart/InteractiveLegend.tsx
  app/src/components/chart/defaults.tsx
  app/src/pages/dataset/metrics/ExperimentMetricsTooltipHeader.tsx
  app/src/pages/project/metrics/ModelTokenDetailTooltipContent.tsx
  app/stories/AnnotationMetricsChart.stories.tsx
  app/stories/ChartTooltip.stories.tsx
  app/stories/ExperimentMetricsCharts.stories.tsx
  app/stories/StackedTimeSeriesBarChart.stories.tsx
Due: oxfmt-app, oxlint-app

feat: show cost and token breakdown bars in tooltips
  app/src/components/RichTokenBreakdown.tsx
  app/src/components/trace/TokenCostsDetails.tsx
  app/src/components/trace/TokenCountDetails.tsx
  app/src/components/trace/TokenDetailsBreakdown.tsx
  app/src/components/trace/index.tsx
  app/src/pages/project/ProjectStats.tsx
  app/src/pages/project/SpansTableAside.tsx
  app/src/pages/project/metrics/TraceTokenCountTimeSeries.tsx
  app/src/pages/project/metrics/tokenDetails.ts
  app/src/pages/trace/TraceDetails.tsx
  app/src/utils/tokenDetailUtils.ts
  app/stories/RichTokenBreakdown.stories.tsx
  app/stories/TokenCosts.stories.tsx
  app/stories/TokenCount.stories.tsx
  app/stories/TokenDetailsBreakdown.stories.tsx
Due: oxfmt-app, oxlint-app

fix: satisfy consistent-return lint and provide Relay env in panel test
  app/src/components/agent/__tests__/AgentChatPanel.test.tsx
  app/src/components/agent/useAgentChat.ts
Due: oxfmt-app, oxlint-app

fix: color token types the same way in tooltips and charts
  app/src/components/agent/ChatTokenUsage.tsx
  app/src/components/trace/SpanTokenCountDetails.tsx
Due: oxfmt-app, oxlint-app

refactor: consolidate the token breakdown internals
  app/src/components/RichTokenBreakdown.tsx
  app/src/components/agent/ChatTokenUsage.tsx
  app/src/components/chart/SegmentChart.tsx
  app/src/components/trace/TokenCostsDetails.tsx
  app/src/components/trace/TokenCountDetails.tsx
  app/src/components/trace/TokenDetailsBreakdown.tsx
  app/src/pages/project/ProjectStats.tsx
  app/src/pages/project/SpansTableAside.tsx
  app/src/pages/project/metrics/tokenDetails.ts
  app/src/pages/trace/TraceDetails.tsx
  app/src/utils/tokenDetailUtils.ts
  app/stories/TokenDetailsBreakdown.stories.tsx
Due: oxfmt-app, oxlint-app

refactor(agents): keep DB transactions out of model construction and shorten the chat setup transaction
  src/phoenix/server/agents/model_factory.py
  src/phoenix/server/api/routers/agents.py
  src/phoenix/server/api/routers/legacy_agents.py
  tests/unit/server/agents/test_model_factory.py
Due: format-python, lint-python

Update Cerebras model IDs
  app/src/components/project/integrationSnippets/cerebras.ts
Due: oxfmt-app, oxlint-app

feat: show cost and token breakdown bars in tooltips (#14832)
  app/src/components/RichTokenBreakdown.tsx
  app/src/components/agent/ChatTokenUsage.tsx
  app/src/components/chart/SegmentChart.tsx
  app/src/components/trace/SpanTokenCountDetails.tsx
  app/src/components/trace/TokenCostsDetails.tsx
  app/src/components/trace/TokenCountDetails.tsx
  app/src/components/trace/TokenDetailsBreakdown.tsx
  app/src/components/trace/index.tsx
  app/src/pages/project/ProjectStats.tsx
  app/src/pages/project/SpansTableAside.tsx
  app/src/pages/project/metrics/TraceTokenCountTimeSeries.tsx
  app/src/pages/project/metrics/tokenDetails.ts
  app/src/pages/trace/TraceDetails.tsx
  app/src/utils/tokenDetailUtils.ts
  app/stories/RichTokenBreakdown.stories.tsx
  app/stories/TokenCosts.stories.tsx
  app/stories/TokenCount.stories.tsx
  app/stories/TokenDetailsBreakdown.stories.tsx
Due: oxfmt-app, oxlint-app

chore(main): release arize-phoenix 19.10.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

ci: Add oss-design for the /app directory
  .github/CODEOWNERS
Due: none

ci: Add oss-design for the /app directory (#14837)
  .github/CODEOWNERS
Due: none

perf(ui): make span detail transitions immediate
  app/scripts/benchmarks/span-details-navigation.ts
  app/src/components/core/button/LinkButton.tsx
  app/src/components/trace/TraceTree.tsx
  app/src/components/trace/TraceTreeToolbar.tsx
  app/src/components/trace/__tests__/TraceTree.test.tsx
  app/src/components/trace/types.ts
  app/src/constants/traceDetailsConstants.ts
  app/src/pages/SpanHeader.tsx
  app/src/pages/dataset/evaluators/EvaluatorTracePage.tsx
  app/src/pages/trace/DetailsPanel.tsx
  app/src/pages/trace/SessionDetails.tsx
  app/src/pages/trace/SessionDetailsPaginator.tsx
  app/src/pages/trace/SessionDetailsTracesView.tsx
  app/src/pages/trace/SessionPage.tsx
  app/src/pages/trace/SpanDetails.tsx
  app/src/pages/trace/SpanDetailsHeaderActions.tsx
  app/src/pages/trace/SpanDetailsPaintGate.tsx
  app/src/pages/trace/SpanDownloadMenu.tsx
  app/src/pages/trace/TraceDetails.tsx
  app/src/pages/trace/TraceDetailsPaginator.tsx
  app/src/pages/trace/TraceDetailsSkeleton.tsx
  app/src/pages/trace/TracePage.tsx
  app/src/pages/trace/__tests__/DetailsPanelHeader.test.tsx
  app/src/pages/trace/__tests__/SpanDetailsHeaderActions.test.tsx
  app/src/pages/trace/__tests__/SpanDetailsPaintGate.test.tsx
  app/src/pages/trace/__tests__/TraceDetailsSkeleton.test.tsx
  app/src/pages/trace/__tests__/sessionDetailsSearchParamsStore.test.ts
  app/src/pages/trace/sessionDetailsSearchParamsStore.ts
  app/src/pages/trace/span/LLMMessagesList.tsx
Due: oxfmt-app, oxlint-app

fix(ui): stabilize trace tree timing columns
  app/src/components/trace/TraceTree.tsx
  app/src/components/trace/TraceTreeSkeleton.tsx
  app/src/components/trace/__tests__/TraceTree.test.tsx
  app/src/components/trace/traceTreeSizing.ts
Due: oxfmt-app, oxlint-app

feat(ui): unify span kind indicators
  app/src/components/trace/SpanKindBadge.tsx
  app/src/components/trace/SpanKindIcon.tsx
  app/src/components/trace/SpanStatusBadge.tsx
  app/src/components/trace/index.tsx
  app/src/pages/SpanHeader.tsx
  app/src/pages/trace/TraceDetailsSkeleton.tsx
Due: oxfmt-app, oxlint-app

chore(main): release arize-phoenix 19.10.0 (#14808)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

chore(ui): wip Phoenix brand refresh
  app/src/components/nav/Logo.tsx
Due: oxfmt-app, oxlint-app

fix(ui): avoid span JSON render jumps
  app/src/components/code/LazyEditorWrapper.tsx
  app/src/components/code/__tests__/LazyEditorWrapper.test.tsx
  app/src/pages/trace/ReadonlyJSONBlock.tsx
  app/src/pages/trace/span/LLMInput.tsx
  app/src/pages/trace/span/LLMOutput.tsx
  app/src/pages/trace/span/MimeTypeCodeBlock.tsx
  app/src/pages/trace/span/RetrieverInput.tsx
  app/src/pages/trace/span/SpanInput.tsx
  app/src/pages/trace/span/SpanOutput.tsx
Due: oxfmt-app, oxlint-app

feat(ui): enrich session detail header
  app/src/components/trace/SessionTokenCosts.tsx
  app/src/components/trace/SessionTokenCount.tsx
  app/src/pages/trace/SessionDetails.tsx
  app/src/pages/trace/__generated__/SessionDetailsQuery.graphql.ts
Due: oxfmt-app, oxlint-app

refactor(session-filters): retire legacy session search surfaces and per-tool subscripts
  app/schema.graphql
  app/src/pages/project/ProjectSessionsPage.tsx
  app/src/pages/project/SessionAnnotationSummary.tsx
  app/src/pages/project/SessionFilterConditionField.tsx
  app/src/pages/project/SessionSearchContext.tsx
  app/src/pages/project/SessionSearchField.tsx
  app/src/pages/project/SessionsTable.tsx
  app/src/pages/project/SessionsTableAside.tsx
  app/src/pages/project/__generated__/ProjectPageQueriesSessionsQuery.graphql.ts
  app/src/pages/project/__generated__/SessionAnnotationSummaryQuery.graphql.ts
  app/src/pages/project/__generated__/SessionAnnotationSummaryValueFragment.graphql.ts
  app/src/pages/project/__generated__/SessionAnnotationSummaryValueQuery.graphql.ts
  app/src/pages/project/__generated__/SessionsTableAsideQuery.graphql.ts
  app/src/pages/project/__generated__/SessionsTableQuery.graphql.ts
  app/src/pages/project/__generated__/SessionsTableSessionCountQuery.graphql.ts
  app/src/pages/project/__generated__/SessionsTable_sessions.graphql.ts
  src/phoenix/db/session_aggregates.py
  src/phoenix/server/agents/prompts/skills/phoenix-graphql/resources/sessions.md
  src/phoenix/server/api/dataloaders/annotation_summaries.py
  src/phoenix/server/api/types/FilterVocabularyTerm.py
  src/phoenix/server/api/types/Project.py
  src/phoenix/server/session_filters.py
  src/phoenix/trace/dsl/session_filter.py
  tests/unit/db/test_session_aggregates.py
  tests/unit/server/api/dataloaders/test_annotation_summaries.py
  tests/unit/server/api/types/test_Project.py
  tests/unit/trace/dsl/test_session_filter.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

docs: fix broken pricing link in Phoenix vs Arize FAQ (#14828)
  docs/phoenix/resources/frequently-asked-questions/what-is-the-difference-between-phoenix-and-arize.mdx
Due: none

docs: add REST how-to for linking dataset examples to spans (#14810)
  docs.json
  docs/phoenix/datasets-and-experiments/how-to-datasets/linking-examples-to-spans.mdx
Due: none

feat(ui): show turn content for selected traces
  app/src/Routes.tsx
  app/src/pages/trace/SessionDetailsTraceList.tsx
  app/src/pages/trace/TraceDetails.tsx
  app/src/pages/trace/TraceTurnContent.tsx
  app/src/pages/trace/__generated__/SessionDetailsTraceListQuery.graphql.ts
  app/src/pages/trace/__generated__/SessionDetailsTraceListRefetchQuery.graphql.ts
  app/src/pages/trace/__generated__/SessionDetailsTraceList_traces.graphql.ts
  app/src/pages/trace/__generated__/TraceDetailsQuery.graphql.ts
  app/src/pages/trace/__generated__/TraceTurnContent_rootSpan.graphql.ts
  app/src/pages/trace/__tests__/TraceDetails.test.tsx
Due: oxfmt-app, oxlint-app

chore: update phoenix version to 19.10.0 in kustomize and helm
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

feat: show tool and tool call counts in LLM span card headers
  app/src/components/annotation/AnnotationNameAndValue.tsx
  app/src/components/core/styles.ts
  app/src/pages/trace/span/LLMInput.tsx
  app/src/pages/trace/span/LLMMessage.tsx
  app/src/pages/trace/span/LLMOutput.tsx
  app/src/pages/trace/span/__tests__/utils.test.ts
  app/src/pages/trace/span/utils.ts
  app/stories/SpanInfo.stories.tsx
Due: oxfmt-app, oxlint-app

feat(ui): add span notes to details panel
  .agents/skills/phoenix-design/references/icons.md
  app/src/components/core/empty/EmptyStateGraphic.tsx
  app/src/components/core/icon/Icons.tsx
  app/src/pages/trace/SpanDetails.tsx
  app/src/pages/trace/SpanNotesList.tsx
  app/src/pages/trace/TraceDetailsSkeleton.tsx
  app/src/pages/trace/__generated__/SpanDetailsContentQuery.graphql.ts
  app/src/pages/trace/__generated__/SpanNotesListQuery.graphql.ts
  app/src/pages/trace/__tests__/SpanNotesList.test.tsx
  app/stories/DetailPanelCompositions.stories.tsx
  app/stories/DetailPanelNotes.stories.tsx
Due: oxfmt-app, oxlint-app

docs(otel): document arize-phoenix-otel/server version independence (#14823)
  docs/phoenix/sdk-api-reference/python/arize-phoenix-otel.mdx
  docs/phoenix/tracing/concepts-tracing/otel-openinference/phoenix-otel-helpers.mdx
  docs/phoenix/tracing/how-to-tracing/setup-tracing/setup-using-phoenix-otel.mdx
  packages/phoenix-otel/README.md
Due: none

feat: show tool and tool call counts in LLM span card headers (#14841)
  app/src/components/annotation/AnnotationNameAndValue.tsx
  app/src/components/core/styles.ts
  app/src/pages/trace/span/LLMInput.tsx
  app/src/pages/trace/span/LLMMessage.tsx
  app/src/pages/trace/span/LLMOutput.tsx
  app/src/pages/trace/span/__tests__/utils.test.ts
  app/src/pages/trace/span/utils.ts
  app/stories/SpanInfo.stories.tsx
Due: oxfmt-app, oxlint-app

fix(trace): show a tool span's parameter schema unescaped
  app/src/pages/trace/span/ToolMetadata.tsx
  app/src/pages/trace/span/__tests__/cardCopyButtons.test.tsx
Due: oxfmt-app, oxlint-app

fix(trace): put a copy button in the top right of every span card
  .agents/skills/phoenix-design/references/layout.md
  app/src/pages/trace/DocumentItem.tsx
  app/src/pages/trace/span/CopyToClipboardWrap.tsx
  app/src/pages/trace/span/EmbeddingInput.tsx
  app/src/pages/trace/span/LLMInput.tsx
  app/src/pages/trace/span/LLMInvocationParams.tsx
  app/src/pages/trace/span/LLMMessage.tsx
  app/src/pages/trace/span/LLMOutput.tsx
  app/src/pages/trace/span/LLMPromptsList.tsx
  app/src/pages/trace/span/RerankerInput.tsx
  app/src/pages/trace/span/RerankerOutput.tsx
  app/src/pages/trace/span/RetrieverInput.tsx
  app/src/pages/trace/span/RetrieverOutput.tsx
  app/src/pages/trace/span/SpanMetadata.tsx
  app/src/pages/trace/span/ToolMetadata.tsx
  app/src/pages/trace/span/__tests__/cardCopyButtons.test.tsx
  app/src/pages/trace/span/__tests__/utils.test.ts
  app/src/pages/trace/span/index.ts
  app/src/pages/trace/span/utils.ts
Due: oxfmt-app, oxlint-app

test(trace): trade the copy button tests for span info stories
  app/src/pages/trace/span/__tests__/cardCopyButtons.test.tsx
  app/src/pages/trace/span/__tests__/utils.test.ts
  app/stories/SpanInfo.stories.tsx
  app/stories/constants/spanInfoFixtures.ts
Due: oxfmt-app, oxlint-app

feat(ui): refine span details header
  app/src/pages/SpanHeader.tsx
  app/src/pages/__generated__/SpanHeader_span.graphql.ts
  app/src/pages/trace/SpanDetails.tsx
  app/src/pages/trace/TraceDetailsSkeleton.tsx
  app/src/pages/trace/__generated__/SpanDetailsContentQuery.graphql.ts
  app/src/pages/trace/__generated__/SpanDetailsHeaderQuery.graphql.ts
  app/src/pages/trace/__tests__/SpanHeader.test.tsx
  app/src/pages/trace/__tests__/TraceDetailsSkeleton.test.tsx
  app/src/pages/trace/span/SpanInfo.tsx
  app/src/pages/trace/span/types.ts
  app/stories/DetailPanelCompositions.stories.tsx
  app/stories/DetailPanelSpanHeader.stories.tsx
  app/stories/DetailPanelSpanInfo.stories.tsx
  app/stories/SpanInfo.stories.tsx
  app/stories/constants/spanInfoFixtures.ts
  app/stories/detailPanelStoryHelpers.tsx
Due: oxfmt-app, oxlint-app

fix(ui): omit cost skeleton from span details
  app/src/pages/trace/TraceDetailsSkeleton.tsx
  app/src/pages/trace/__tests__/TraceDetailsSkeleton.test.tsx
Due: oxfmt-app, oxlint-app

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
