Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

refactor(evaluators): comparison cleanups from code review
  js/app/schema.graphql
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/helpers/evaluator_comparison.py
  src/phoenix/server/api/helpers/evaluators.py
  src/phoenix/server/api/types/Project.py
  src/phoenix/server/online_eval/executor.py
  tests/unit/server/api/helpers/test_evaluator_comparison.py
  tests/unit/server/api/types/test_Project.py
Due: format-python, lint-python

chore(deps): bump exact Python pins in weekly upgrade workflow (#16194)
  .github/workflows/claude-weekly-deps-upgrade.yml
  pyproject.toml
  uv.lock
Due: uv-lock-check

style(evaluators): join scoreBinEdges description line per ruff format
  src/phoenix/server/api/types/EvaluatorComparison.py
Due: format-python, lint-python

feat(evaluators): comparison score distributions and time series
  js/app/schema.graphql
  src/phoenix/db/helpers.py
  src/phoenix/server/api/helpers/evaluator_comparison.py
  src/phoenix/server/api/types/EvaluatorComparison.py
  src/phoenix/server/api/types/Project.py
  tests/unit/server/api/helpers/test_evaluator_comparison.py
  tests/unit/server/api/types/test_Project.py
Due: format-python, lint-python

feat(evaluators): refine comparison controls
  js/app/src/pages/project/evaluators/ProjectEvaluatorComparePage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareSelect.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorSelectionToolbar.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsTable.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsToolbar.tsx
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorCompareLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/projectEvaluatorCompareLoader.ts
Due: oxfmt-js, oxlint-js

fix(evaluators): refine comparison panels
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareContent.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareMatrix.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareStats.tsx
Due: oxfmt-js, oxlint-js

fix(evaluators): align comparison semantics
  js/app/src/constants/searchParams.ts
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareContent.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareMatrix.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorComparePage.tsx
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorCompareLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorCompareUtils.test.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorPaths.test.tsx
  js/app/src/pages/project/evaluators/projectEvaluatorCompareLoader.ts
  js/app/src/pages/project/evaluators/projectEvaluatorCompareUtils.ts
  js/app/src/pages/project/evaluators/projectEvaluatorPaths.ts
Due: oxfmt-js, oxlint-js

feat(evaluators): add evaluator comparison page
  js/app/src/Routes.tsx
  js/app/src/constants/searchParams.ts
  js/app/src/pages/project/evaluators/CompareProjectEvaluatorsButton.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareContent.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareMatrix.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorComparePage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareStats.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorStats.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsTable.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsToolbar.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareContentQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareMatrix_comparison.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareStats_comparison.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorCompareLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorCompareUtils.test.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorPaths.test.tsx
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorSelection.test.ts
  js/app/src/pages/project/evaluators/projectEvaluatorCompareLoader.ts
  js/app/src/pages/project/evaluators/projectEvaluatorCompareUtils.ts
  js/app/src/pages/project/evaluators/projectEvaluatorPaths.ts
  js/app/src/pages/project/evaluators/projectEvaluatorSelection.ts
  js/app/src/pages/project/evaluators/projectEvaluatorStatFields.tsx
Due: oxfmt-js, oxlint-js

feat(evaluators): refine comparison summary metrics
  js/app/schema.graphql
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareContent.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorComparePage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareStats.tsx
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorCompareLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/projectEvaluatorCompareLoader.ts
  src/phoenix/server/api/helpers/evaluator_comparison.py
  src/phoenix/server/api/types/EvaluatorComparison.py
  tests/unit/server/api/helpers/test_evaluator_comparison.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(evaluators): address comparison review feedback
  js/app/src/Routes.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareMatrix.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareStats.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsPage.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareContentQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareMatrix_comparison.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareStats_comparison.graphql.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorCompareUtils.test.ts
  js/app/src/pages/project/evaluators/projectEvaluatorCompareUtils.ts
Due: oxfmt-js, oxlint-js

fix(evaluators): clarify comparison summary charts
  js/app/schema.graphql
  js/app/src/components/chart/ChartPanelStrip.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareSelect.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareStats.tsx
  src/phoenix/server/api/helpers/evaluator_comparison.py
  src/phoenix/server/api/types/EvaluatorComparison.py
  tests/unit/server/api/helpers/test_evaluator_comparison.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

chore(deps): upgrade sqlglot to 30.18.0 and drop obsolete workarounds (#16195)
  pyproject.toml
  src/phoenix/server/mcp/sql/allowlist.py
  src/phoenix/server/mcp/sql/parse.py
  src/phoenix/server/mcp/sql/rewrite.py
  tests/unit/server/mcp/sql/admission_corpus.py
  tests/unit/server/mcp/sql/test_function_policy.py
  tests/unit/server/mcp/sql/test_liveness.py
  tests/unit/server/mcp/sql/test_parse.py
  tests/unit/server/mcp/sql/test_rewrite.py
  uv.lock
Due: format-python, lint-python, uv-lock-check

refactor(evaluators): use inline distribution fragment
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareDistributions.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareContentQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareDistributions_comparison.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareDistributions_side.graphql.ts
  js/app/src/pages/project/evaluators/projectEvaluatorDistributionUtils.ts
Due: oxfmt-js, oxlint-js

fix(evaluators): correct distribution test types
  tests/unit/server/api/helpers/test_evaluator_distribution.py
  tests/unit/server/api/types/test_Project.py
Due: format-python, lint-python

feat(evaluators): add score and label comparison distributions
  js/app/schema.graphql
  js/app/src/Routes.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareContent.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareDistributions.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareMatrix.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorComparePage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareStats.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareContentQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareDistributions_comparison.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareDistributions_side.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareStats_comparison.graphql.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorDistributionUtils.test.ts
  js/app/src/pages/project/evaluators/projectEvaluatorDistributionUtils.ts
  src/phoenix/server/api/helpers/evaluator_comparison.py
  src/phoenix/server/api/helpers/evaluator_distribution.py
  src/phoenix/server/api/types/EvaluatorComparison.py
  src/phoenix/server/api/types/EvaluatorDistribution.py
  src/phoenix/server/api/types/Project.py
  tests/unit/server/api/helpers/test_evaluator_comparison.py
  tests/unit/server/api/helpers/test_evaluator_distribution.py
  tests/unit/server/api/types/test_Project.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(app): stabilize metric chart time ranges (#16013)
  js/app/src/components/datetime/TimeRangeContext.tsx
  js/app/src/components/datetime/__tests__/TimeRangeContext.test.tsx
  js/app/src/pages/project/ProjectTimeRangeControls.tsx
  js/app/src/pages/project/TableMetricsCharts.tsx
  js/app/src/pages/project/metrics/__tests__/useClosedTimeRange.test.tsx
  js/app/src/pages/project/metrics/useClosedTimeRange.ts
Due: oxfmt-js, oxlint-js

refactor(online-eval): pick the filter validator by exhaustive target match
  src/phoenix/server/api/mutations/evaluator_mutations.py
Due: format-python, lint-python

refactor(online-eval): remove the schedulability condition table
  js/app/schema.graphql
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopeDetails.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorStats.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorStatusCell.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsTable.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorScopeDetails_projectEvaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorStats_projectEvaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTablePaginationQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_project.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_row.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorDetailsLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorsLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/refetchProjectEvaluatorsQuery.graphql.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorTypes.test.ts
  js/app/src/pages/project/evaluators/projectEvaluatorTypes.ts
  src/phoenix/server/api/types/Evaluator.py
  src/phoenix/server/online_eval/executor.py
  src/phoenix/server/online_eval/session_policy.py
  src/phoenix/server/online_eval/sweeper.py
  tests/unit/server/api/mutations/test_project_evaluator_mutations.py
  tests/unit/server/api/types/test_Evaluator.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

feat(online-eval): schedule trace evaluators (#15940)
  js/app/schema.graphql
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopeDetails.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorStats.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorStatusCell.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsTable.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorScopeDetails_projectEvaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorStats_projectEvaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTablePaginationQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_project.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_row.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorDetailsLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorsLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/refetchProjectEvaluatorsQuery.graphql.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorTypes.test.ts
  js/app/src/pages/project/evaluators/projectEvaluatorTypes.ts
  src/phoenix/server/api/mutations/evaluator_mutations.py
  src/phoenix/server/api/types/Evaluator.py
  src/phoenix/server/app.py
  src/phoenix/server/online_eval/db_coordinator.py
  src/phoenix/server/online_eval/executor.py
  src/phoenix/server/online_eval/session_policy.py
  src/phoenix/server/online_eval/sweeper.py
  src/phoenix/server/trace_filters.py
  tests/unit/server/api/mutations/test_project_evaluator_mutations.py
  tests/unit/server/api/types/test_Evaluator.py
  tests/unit/server/online_eval/test_app_wiring.py
  tests/unit/server/online_eval/test_session_sweeper.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

feat(online-eval): evaluate claimed trace work and publish trace annotations
  src/phoenix/server/app.py
  src/phoenix/server/online_eval/consumer.py
  src/phoenix/server/online_eval/db_coordinator.py
  tests/unit/server/online_eval/test_app_wiring.py
  tests/unit/server/online_eval/test_consumer.py
  tests/unit/server/online_eval/test_db_coordinator.py
Due: format-python, lint-python

feat(online-eval): evaluate trace project evaluators
  js/app/schema.graphql
  src/phoenix/server/api/types/Trace.py
  src/phoenix/server/online_eval/bound_variables.py
  src/phoenix/server/online_eval/executor.py
  tests/unit/server/api/types/test_Trace.py
  tests/unit/server/online_eval/test_bound_variables.py
  tests/unit/server/online_eval/test_consumer.py
Due: format-python, lint-python

chore(ui): remove redundant trace evaluator comments
  js/app/src/pages/project/TraceFilterConditionField.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorMetrics.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopeDetails.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopeFields.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopePanel.tsx
  js/app/src/pages/project/evaluators/projectEvaluatorTypes.ts
  js/app/src/pages/project/evaluators/sampleTraceEvaluationContext.ts
  js/app/src/store/evaluatorStore.tsx
  js/app/src/types/evaluators.ts
Due: oxfmt-js, oxlint-js

test(online-eval): fold the per-consumer wiring assertions into one loop
  tests/unit/server/online_eval/test_app_wiring.py
Due: format-python, lint-python

test(ui): provide trace filter vocabulary in table mock
  js/app/src/pages/project/__tests__/TracesTablePreloadIntegration.test.tsx
Due: oxfmt-js, oxlint-js

test(online-eval): rename the hydration fake's vocabulary parameter to match the executor
  tests/unit/server/online_eval/test_consumer.py
Due: format-python, lint-python

chore(ui): drop the remaining useTransition narration in the scope panel
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopePanel.tsx
Due: oxfmt-js, oxlint-js

feat(ui): author trace evaluators from the project evaluators UI
  js/app/src/components/evaluators/__tests__/evaluatorContext.test.ts
  js/app/src/components/evaluators/__tests__/evaluatorSlotDefaults.test.ts
  js/app/src/components/evaluators/evaluatorContextCompletions.ts
  js/app/src/components/evaluators/evaluatorSlotDefaults.ts
  js/app/src/pages/project/TraceFilterConditionField.tsx
  js/app/src/pages/project/TracesTable.tsx
  js/app/src/pages/project/__generated__/TraceFilterConditionFieldVocabularyQuery.graphql.ts
  js/app/src/pages/project/evaluators/ProjectEvaluatorMetrics.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopeDetails.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopeFields.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopePanel.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorScopePanelTraceCountQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorScopePanelTracesQuery.graphql.ts
  js/app/src/pages/project/evaluators/evaluatorBoundVariables.ts
  js/app/src/pages/project/evaluators/projectEvaluatorTypes.ts
  js/app/src/pages/project/evaluators/sampleTraceEvaluationContext.ts
  js/app/src/store/evaluatorStore.tsx
  js/app/src/types/evaluators.ts
Due: oxfmt-js, oxlint-js

chore(online-eval): keep only cross-file execution comments
  src/phoenix/server/online_eval/bound_variables.py
  src/phoenix/server/online_eval/db_coordinator.py
  tests/unit/server/online_eval/test_consumer.py
  tests/unit/server/online_eval/test_db_coordinator.py
Due: format-python, lint-python

test(online-eval): key the hydration fake's vocabulary map by target
  tests/unit/server/online_eval/test_consumer.py
Due: format-python, lint-python

test(online-eval): stub the trace hydration client
  tests/unit/server/online_eval/test_consumer.py
Due: format-python, lint-python

fix(online-eval): count trace work in the run funnel and read root I/O as the filter does
  src/phoenix/server/api/dataloaders/project_evaluator_run_counts.py
  src/phoenix/server/online_eval/bound_variables.py
  src/phoenix/server/online_eval/db_coordinator.py
  src/phoenix/server/online_eval/executor.py
  src/phoenix/trace/dsl/trace_filter.py
  tests/unit/server/api/types/test_Evaluator.py
  tests/unit/server/online_eval/test_consumer.py
Due: format-python, lint-python

docs(online-eval): clarify deletion and publication invariants
  src/phoenix/db/helpers.py
  src/phoenix/server/online_eval/db_coordinator.py
Due: format-python, lint-python

chore(online-eval): drop narration comments from trace execution
  src/phoenix/server/api/types/Trace.py
  src/phoenix/server/app.py
  src/phoenix/server/online_eval/bound_variables.py
  src/phoenix/server/online_eval/db_coordinator.py
  src/phoenix/server/online_eval/executor.py
  src/phoenix/trace/dsl/trace_filter.py
  tests/unit/server/api/types/test_Evaluator.py
  tests/unit/server/online_eval/test_consumer.py
  tests/unit/server/online_eval/test_db_coordinator.py
Due: format-python, lint-python

chore(ui): drop narration comments from the trace evaluator authoring surface
  js/app/src/components/evaluators/__tests__/evaluatorContext.test.ts
  js/app/src/pages/project/TraceFilterConditionField.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopeFields.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopePanel.tsx
  js/app/src/pages/project/evaluators/projectEvaluatorTypes.ts
  js/app/src/pages/project/evaluators/sampleTraceEvaluationContext.ts
  js/app/src/types/evaluators.ts
Due: oxfmt-js, oxlint-js

refactor(online-eval): preserve session results after deletion
  js/app/schema.graphql
  src/phoenix/db/ddl/postgresql_schema.sql
  src/phoenix/db/ddl/sqlite_schema.sql
  src/phoenix/db/eval_work.py
  src/phoenix/db/helpers.py
  src/phoenix/db/migrations/versions/a7f1c3e9d2b4_add_online_eval_coordination.py
  src/phoenix/db/models.py
  src/phoenix/server/api/dataloaders/project_evaluator_run_counts.py
  src/phoenix/server/api/types/ProjectSession.py
  src/phoenix/server/api/utils.py
  src/phoenix/server/online_eval/coordinator.py
  src/phoenix/server/online_eval/db_coordinator.py
  src/phoenix/server/online_eval/executor.py
  src/phoenix/server/online_eval/sweeper.py
  src/phoenix/server/prometheus.py
  tests/integration/db_migrations/test_db_schema_a7f1c3e9d2b4_online_eval_coordination.py
  tests/unit/_helpers.py
  tests/unit/db/test_eval_work_coordination.py
  tests/unit/db/types/test_trace_retention.py
  tests/unit/server/api/mutations/test_project_mutations.py
  tests/unit/server/api/mutations/test_trace_mutations.py
  tests/unit/server/api/routers/v1/test_spans.py
  tests/unit/server/api/routers/v1/test_traces.py
  tests/unit/server/api/types/test_Evaluator.py
  tests/unit/server/api/types/test_ProjectSession.py
  tests/unit/server/online_eval/test_consumer.py
  tests/unit/server/online_eval/test_session_sweeper.py
Due: format-python, lint-python

feat(ui): eval category icons (#16169)
  .agents/skills/phoenix-design/references/icons.md
  js/app/src/components/core/icon/Icons.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
Due: oxfmt-js, oxlint-js

chore(deps): weekly dependency upgrade 2026-09-14 (#16151)
  js/app/package.json
  js/benchmarks/evals-benchmarks/package.json
  js/examples/apps/ai-sdk-agent/package.json
  js/examples/apps/cli-agent-starter-kit/package.json
  js/examples/apps/demo-document-relevancy-experiment/package.json
  js/examples/apps/eve-agent/package.json
  js/examples/apps/experiments-quickstart/package.json
  js/examples/apps/langchain-quickstart/package.json
  js/examples/apps/mastra-agent/package.json
  js/examples/apps/mastra-quickstart/package.json
  js/examples/apps/phoenix-experiment-runner/package.json
  js/examples/apps/tracing-tutorial/package.json
  js/package.json
  js/packages/phoenix-cli/package.json
  js/packages/phoenix-cli/src/clackCancel.ts
  js/packages/phoenix-cli/src/confirm.ts
  js/packages/phoenix-cli/src/setup/ui/clackPrompter.ts
  js/packages/phoenix-client/package.json
  js/packages/phoenix-config/package.json
  js/packages/phoenix-evals/package.json
  js/packages/phoenix-mcp/package.json
  js/packages/phoenix-otel/package.json
  js/packages/phoenix-testing/package.json
  js/pnpm-lock.yaml
  tests/unit/server/agents/fixtures/ui_message_stream/fixtures.json
  uv.lock
Due: oxfmt-js, oxlint-js, uv-lock-check

rename option in ... in experiments table, not in compare experiments
  js/app/src/components/experiment/ExperimentActionMenu.tsx
  js/app/src/components/experiment/__generated__/ExperimentActionMenuRenameExperimentMutation.graphql.ts
  js/app/src/pages/experiments/ExperimentsTable.tsx
Due: oxfmt-js, oxlint-js

feat(agents): search the GraphQL schema from phoenix-gql
  pyproject.toml
  src/phoenix/server/agents/agent_factory.py
  src/phoenix/server/agents/capabilities/tools/internal/bash.py
  src/phoenix/server/agents/prompts/skills/phoenix-graphql/SKILL.md
  src/phoenix/server/api/schema_search.py
  tests/unit/server/agents/capabilities/tools/internal/test_bash.py
  tests/unit/server/api/test_schema_search.py
  uv.lock
Due: format-python, lint-python, uv-lock-check

fix(agents): keep the query root when mutations are excluded from schema search
  src/phoenix/server/api/schema_search.py
  tests/unit/server/api/test_schema_search.py
Due: format-python, lint-python

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
