Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix: defer identifier errors until editing stops
  app/src/components/evaluators/EvaluatorNameInput.tsx
  app/src/pages/playground/SavePromptForm.tsx
  app/src/pages/playground/__tests__/SavePromptForm.test.tsx
  app/src/pages/prompt/ClonePromptDialog.tsx
  app/src/pages/prompt/NewPromptVersionTagDialog.tsx
  app/src/pages/settings/sandboxes/SandboxConfigDialog.tsx
  app/src/utils/__tests__/identifierUtils.test.ts
  app/src/utils/identifierUtils.ts
Due: oxfmt-app, oxlint-app

docs: fix broken media asset references (#14551)
  docs/phoenix/cookbook/datasets-and-experiments/text2sql.mdx
  docs/phoenix/cookbook/tracing/generating-synthetic-datasets-for-llm-evaluators-and-agents.mdx
  docs/phoenix/evaluation/pre-built-metrics/q-and-a-on-retrieved-data.mdx
  docs/phoenix/evaluation/pre-built-metrics/retrieval-rag-relevance.mdx
  docs/phoenix/evaluation/pre-built-metrics/sql-generation-eval.mdx
  docs/phoenix/evaluation/pre-built-metrics/summarization-eval.mdx
  docs/phoenix/evaluation/pre-built-metrics/toxicity.mdx
  docs/phoenix/integrations/llm-providers/openrouter.mdx
  docs/phoenix/use-cases/rag-evaluation.mdx
Due: none

fix(js): type-import ESM-only ai packages with resolution-mode under node16
  js/packages/phoenix-client/src/experiments/aiSdkTelemetry.ts
  js/packages/phoenix-client/src/prompts/sdks/toAI.ts
Due: oxfmt-js, oxlint-js

feat(js)!: upgrade phoenix-client to AI SDK v7
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/experiments.mdx
  js/.changeset/ai-sdk-7-client.md
  js/packages/phoenix-client/examples/run_experiment_with_evals.ts
  js/packages/phoenix-client/package.json
  js/packages/phoenix-client/src/experiments/aiSdkTelemetry.ts
  js/packages/phoenix-client/src/experiments/resumeEvaluation.ts
  js/packages/phoenix-client/src/experiments/resumeExperiment.ts
  js/packages/phoenix-client/src/experiments/runExperiment.ts
  js/packages/phoenix-client/src/testing/phoenix-test-tracking.ts
  js/packages/phoenix-client/test/entryPoints.test.ts
  js/packages/phoenix-client/test/experiments/aiSdkTelemetry.test.ts
  js/pnpm-lock.yaml
Due: oxfmt-js, oxlint-js

refactor(js)!: remove implicit AI SDK telemetry registration from phoenix-client
  js/.changeset/ai-sdk-7-client.md
  js/packages/phoenix-client/examples/run_experiment_with_ai_sdk.ts
  js/packages/phoenix-client/examples/run_experiment_with_evals.ts
  js/packages/phoenix-client/package.json
  js/packages/phoenix-client/src/experiments/aiSdkTelemetry.ts
  js/packages/phoenix-client/src/experiments/resumeEvaluation.ts
  js/packages/phoenix-client/src/experiments/resumeExperiment.ts
  js/packages/phoenix-client/src/experiments/runExperiment.ts
  js/packages/phoenix-client/src/testing/phoenix-test-tracking.ts
  js/packages/phoenix-client/test/experiments/aiSdkTelemetry.test.ts
  js/pnpm-lock.yaml
Due: oxfmt-js, oxlint-js

fix(pxi): harden online eval runner
  evals/pxi/README.md
  evals/pxi/online_evals/OVERVIEW.md
  evals/pxi/online_evals/evaluators/tool_count_per_turn.py
  evals/pxi/online_evals/models.py
  evals/pxi/online_evals/run.py
  tests/unit/pxi/evals/online_evals/test_run.py
Due: format-python, lint-python

feat(agents): online trace evals with tool_count_per_turn and user_friction (#14503)
  .github/workflows/pxi-online-evals.yml
  evals/pxi/README.md
  evals/pxi/online_evals/OVERVIEW.md
  evals/pxi/online_evals/__init__.py
  evals/pxi/online_evals/conversation.py
  evals/pxi/online_evals/evaluators/__init__.py
  evals/pxi/online_evals/evaluators/tool_count_per_turn.py
  evals/pxi/online_evals/evaluators/user_friction.py
  evals/pxi/online_evals/judge.py
  evals/pxi/online_evals/message_origin.py
  evals/pxi/online_evals/models.py
  evals/pxi/online_evals/rendering.py
  evals/pxi/online_evals/run.py
  evals/pxi/online_evals/topology.py
  tests/unit/pxi/evals/online_evals/__init__.py
  tests/unit/pxi/evals/online_evals/fixtures/pxi_turn_trace.json
  tests/unit/pxi/evals/online_evals/test_real_trace_fixture.py
  tests/unit/pxi/evals/online_evals/test_run.py
  tests/unit/pxi/evals/online_evals/test_tool_count_per_turn.py
  tests/unit/pxi/evals/online_evals/test_user_friction.py
Due: format-python, lint-python

feat(js): add swap-safe getTracer to phoenix-otel and AI SDK experiment examples
  js/.changeset/ai-sdk-7-client.md
  js/.changeset/phoenix-otel-get-tracer.md
  js/packages/phoenix-client/examples/experiment_trace_evaluator.ts
  js/packages/phoenix-client/examples/run_experiment_with_ai_sdk.ts
  js/packages/phoenix-client/examples/run_experiment_with_evals.ts
  js/packages/phoenix-client/examples/tsconfig.examples.json
  js/packages/phoenix-client/package.json
  js/packages/phoenix-otel/src/getTracer.ts
  js/packages/phoenix-otel/src/index.ts
  js/packages/phoenix-otel/test/getTracer.test.ts
Due: oxfmt-js, oxlint-js

refactor(js): drop needless async from experiment tracer setup helpers
  js/packages/phoenix-client/src/experiments/resumeEvaluation.ts
  js/packages/phoenix-client/src/experiments/resumeExperiment.ts
Due: oxfmt-js, oxlint-js

refactor(cli): migrate pxi client to stateful chat route (#14581)
  app/src/api/__generated__/v1.ts
  js/packages/phoenix-cli/src/pxi/client.ts
  js/packages/phoenix-cli/src/pxi/types.ts
  js/packages/phoenix-cli/test/pxiApp.test.tsx
  js/packages/phoenix-cli/test/pxiClient.test.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-client/src/constants/serverRequirements.ts
  js/packages/phoenix-client/src/index.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/server/agents/model_selection.py
  src/phoenix/server/api/routers/agents.py
  src/phoenix/server/api/routers/legacy_agents.py
  tests/integration/auth/test_auth.py
  tests/unit/server/agents/test_agents_router.py
  tests/unit/server/agents/test_legacy_agents_router.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

cleanup
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/experiments.mdx
  js/.changeset/ai-sdk-7-client.md
  js/.changeset/phoenix-otel-get-tracer.md
  js/packages/phoenix-client/examples/run_experiment_with_ai_sdk.ts
  js/packages/phoenix-client/examples/run_experiment_with_evals.ts
  js/packages/phoenix-otel/src/getTracer.ts
  js/packages/phoenix-otel/src/index.ts
  js/packages/phoenix-otel/test/getTracer.test.ts
Due: oxfmt-js, oxlint-js

fix: format agent chat hook
  app/src/components/agent/useAgentChat.ts
Due: oxfmt-app, oxlint-app

fix(js): address ai-sdk v7 review findings and migrate phoenix-cli to ai@7
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/experiments.mdx
  js/.changeset/ai-sdk-7-cli.md
  js/.changeset/ai-sdk-7-client.md
  js/packages/phoenix-cli/package.json
  js/packages/phoenix-client/examples/run_experiment_with_ai_sdk.ts
  js/packages/phoenix-client/examples/run_experiment_with_evals.ts
  js/packages/phoenix-client/examples/tsconfig.examples.json
  js/packages/phoenix-client/package.json
  js/packages/phoenix-client/test/entryPoints.test.ts
  js/packages/phoenix-otel/package.json
  js/pnpm-lock.yaml
Due: oxfmt-js, oxlint-js

feat(js)!: upgrade phoenix-client to AI SDK v7 (#14603)
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/experiments.mdx
  js/.changeset/ai-sdk-7-cli.md
  js/.changeset/ai-sdk-7-client.md
  js/packages/phoenix-cli/package.json
  js/packages/phoenix-client/examples/experiment_trace_evaluator.ts
  js/packages/phoenix-client/examples/run_experiment_with_ai_sdk.ts
  js/packages/phoenix-client/examples/run_experiment_with_evals.ts
  js/packages/phoenix-client/examples/tsconfig.examples.json
  js/packages/phoenix-client/package.json
  js/packages/phoenix-client/src/prompts/sdks/toAI.ts
  js/packages/phoenix-client/test/entryPoints.test.ts
  js/packages/phoenix-otel/package.json
  js/pnpm-lock.yaml
Due: oxfmt-js, oxlint-js

chore(js): update versions (#14644)
  js/.changeset/ai-sdk-7-cli.md
  js/.changeset/ai-sdk-7-client.md
  js/packages/phoenix-cli/CHANGELOG.md
  js/packages/phoenix-cli/package.json
  js/packages/phoenix-client/CHANGELOG.md
  js/packages/phoenix-client/package.json
  js/packages/phoenix-mcp/CHANGELOG.md
  js/packages/phoenix-mcp/package.json
Due: oxfmt-js

docs: remove redundant MCP settings page
  docs.json
  docs/phoenix/llms.txt
  docs/phoenix/settings/mcp.mdx
Due: none

docs: close weekly docs gaps (playground default, api-key REST reference, px auth, MCP settings, Gemini CLI) (#14640)
  docs.json
  docs/phoenix/integrations/remote-mcp.mdx
  docs/phoenix/prompt-engineering/how-to-prompts/configure-ai-providers.mdx
  docs/phoenix/sdk-api-reference/rest-api/api-reference/api-keys/create-a-system-api-key.mdx
  docs/phoenix/sdk-api-reference/rest-api/api-reference/api-keys/create-an-api-key-for-the-authenticated-user.mdx
  docs/phoenix/sdk-api-reference/rest-api/api-reference/api-keys/delete-a-system-api-key.mdx
  docs/phoenix/sdk-api-reference/rest-api/api-reference/api-keys/delete-a-user-api-key.mdx
  docs/phoenix/sdk-api-reference/rest-api/api-reference/api-keys/list-all-user-api-keys.mdx
  docs/phoenix/sdk-api-reference/rest-api/api-reference/api-keys/list-system-api-keys.mdx
  docs/phoenix/sdk-api-reference/rest-api/api-reference/api-keys/list-the-authenticated-users-api-keys.mdx
  docs/phoenix/sdk-api-reference/typescript/arizeai-phoenix-cli.mdx
Due: none

chore: update sitemap.xml
  docs/phoenix/sitemap.xml
  sitemap.xml
Due: none

chore: update sitemap.xml (#14646)
  docs/phoenix/sitemap.xml
  sitemap.xml
Due: none

feat(api): expose dataset example source span
  app/src/api/__generated__/v1.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/datasets.py
  tests/integration/client/test_datasets.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

docs: surface local (Deno) sandbox setup for code evaluators (#14534)
  docs/phoenix/evaluation/server-evals/code-evaluators.mdx
  docs/phoenix/settings/sandboxes/deno.mdx
Due: none

feat(api): expose dataset example source span (#13814)
  app/src/api/__generated__/v1.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/datasets.py
  tests/integration/client/test_datasets.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

docs: make top-level README comprehensive (uvx, coding-agent + code tracing, TOC)
  README.md
Due: none

docs: link out to docs across README; drop inline code tracing snippet
  README.md
Due: none

docs: remove localhost callout from README
  README.md
Due: none

docs: reword uvx run description (not ephemeral)
  README.md
Due: none

docs: drop Jupyter notebook from README tagline
  README.md
Due: none

docs: condense Run Locally / Trace Your Application sections
  README.md
Due: none

docs: mention Codex in coding agents list
  README.md
Due: none

docs: reframe skills section as 'For Humans and Coding Agents' (CLI, Skills, MCP)
  README.md
Due: none

docs: describe skills as packaged workflows, not prompts
  README.md
Due: none

docs: comprehensive top-level README (#14647)
  README.md
Due: none

docs: replace removed createOrGetDataset with createDataset in TypeScript docs (#14648)
  docs/phoenix/cookbook/ai-engineering-workflows/iterative-evaluation-and-experimentation-workflow-typescript.mdx
  docs/phoenix/datasets-and-experiments/tutorial/defining-the-dataset.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/datasets.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-evals/phoenix-integration.mdx
Due: none

fix(deps): update arize-phoenix-evals to 3.2.0 (#14596)
  pyproject.toml
Due: uv-lock-check

fix(ui): close time range selector on focus exit (#14631)
  app/src/components/datetime/TimeRangeSelector.tsx
  app/src/components/datetime/__tests__/TimeRangeSelector.test.tsx
Due: oxfmt-app, oxlint-app

fix(ui): commit column reorder during drag so headers stay in sync with body
  app/src/components/table/columnOrdering/ColumnOrderingProvider.tsx
Due: oxfmt-app, oxlint-app

fix(ui): commit column reorder during drag so headers stay in sync with body (#14651)
  app/src/components/table/columnOrdering/ColumnOrderingProvider.tsx
Due: oxfmt-app, oxlint-app

feat(playground): add Gemini 3.6 Flash and 3.5 Flash-lite support
  src/phoenix/server/api/helpers/playground_clients.py
Due: format-python, lint-python

fix(ui): preserve focus rings on truncated table links
  app/src/components/core/Link.tsx
  app/src/pages/datasets/DatasetsTable.tsx
  app/src/pages/evaluators/DatasetEvaluatorsTable.tsx
  app/src/pages/experiments/ExperimentsTable.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/TracesTable.tsx
  app/src/pages/prompt/PromptVersionTagsConfigCard.tsx
  app/src/pages/prompts/PromptsTable.tsx
Due: oxfmt-app, oxlint-app

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
