Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(evaluators): store expected outputs as HUMAN annotations and write them in batches (#16271)
  js/app/schema.graphql
  src/phoenix/server/api/helpers/evaluator_calibration.py
  src/phoenix/server/api/input_types/SetDatasetExampleCalibrationLabelsInput.py
  src/phoenix/server/api/mutations/dataset_mutations.py
  src/phoenix/server/api/types/DatasetExampleRevision.py
  tests/unit/server/api/helpers/test_evaluator_calibration.py
  tests/unit/server/api/mutations/test_evaluator_calibration.py
Due: format-python, lint-python

chore: regenerate generated artifacts after rebasing onto main
  js/app/schema.graphql
  js/app/src/components/evaluators/__generated__/CodeEvaluatorTestSectionMutation.graphql.ts
  js/app/src/components/evaluators/__generated__/EvaluatorOutputPreviewMutation.graphql.ts
  js/app/src/pages/dataset/evaluators/__generated__/DatasetEvaluatorSpansQuery.graphql.ts
  js/app/src/pages/evaluators/__generated__/EvaluatorsTable_row.graphql.ts
  js/app/src/pages/experiments/__generated__/ExperimentDetailsDialogQuery.graphql.ts
  js/app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableFragment.graphql.ts
  js/app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableQuery.graphql.ts
  js/app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableRefetchQuery.graphql.ts
  js/app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableSubscription.graphql.ts
  js/app/src/pages/playground/__generated__/experimentRehydrationQuery.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/useEvaluatorTaskSaveCreateLLMMutation.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/useEvaluatorTaskSaveUpdateLLMMutation.graphql.ts
  js/app/src/pages/project/__generated__/ProjectPageQueriesSpansQuery.graphql.ts
  js/app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  js/app/src/pages/project/__generated__/TraceFilterConditionFieldVocabularyQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/EditProjectEvaluatorSlideoverUpdateLlmMutation.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/LLMProjectEvaluatorDetails_projectEvaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareTargetsQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorScopePanelPreviewMutation.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorScopePanelTraceCountQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorScopePanelTracesQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorTracesQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_row.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/createProjectLlmEvaluatorMutation.graphql.ts
  js/pnpm-lock.yaml
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix: reconcile the online evals branch with main after rebasing onto it
  js/app/src/components/chart/AnnotationMetricsChart.tsx
  js/app/src/components/filter/styles.ts
  js/app/src/components/templateEditor/autocomplete.ts
  js/app/src/pages/project/SessionFilterConditionField.tsx
  js/app/src/pages/project/SessionsTable.tsx
  js/app/src/pages/project/TraceFilterConditionField.tsx
  js/app/src/pages/project/TracesTable.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopeFields.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopePanel.tsx
  src/phoenix/server/api/routers/v1/traces.py
  src/phoenix/server/api/utils.py
  tests/unit/conftest.py
  tests/unit/server/agents/capabilities/test_phoenix_mcp.py
  tests/unit/server/api/test_schema_search.py
  tests/unit/server/api/test_subscriptions.py
  tests/unit/server/online_eval/test_app_wiring.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(ui): online eval form nits (#16302)
  js/app/src/components/core/card/styles.ts
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopePanel.tsx
  js/app/src/pages/project/evaluators/__tests__/bindingPreview.test.tsx
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorTypes.test.ts
  js/app/src/pages/project/evaluators/projectEvaluatorTypes.ts
Due: oxfmt-js, oxlint-js

docs: refine Phoenix instrument section
  docs.json
  docs/phoenix/agent-assisted-setup.mdx
  docs/phoenix/integrations.mdx
  docs/phoenix/llms.txt
  docs/phoenix/sitemap.xml
  docs/phoenix/tracing/concepts-tracing/faqs-tracing.mdx
  docs/phoenix/tracing/concepts-tracing/how-tracing-works.mdx
  docs/phoenix/tracing/concepts-tracing/translating-conventions.mdx
  docs/phoenix/tracing/concepts-tracing/what-are-traces.mdx
  docs/phoenix/tracing/how-to-tracing/add-metadata/customize-spans.mdx
  docs/phoenix/tracing/how-to-tracing/advanced/masking-span-attributes.mdx
  docs/phoenix/tracing/how-to-tracing/advanced/multimodal-tracing.mdx
  docs/phoenix/tracing/how-to-tracing/cost-tracking.mdx
  docs/phoenix/tracing/how-to-tracing/filter-expressions.mdx
  docs/phoenix/tracing/how-to-tracing/importing-and-exporting-traces.mdx
  docs/phoenix/tracing/how-to-tracing/importing-and-exporting-traces/exporting-annotated-spans.mdx
  docs/phoenix/tracing/how-to-tracing/importing-and-exporting-traces/extract-data-from-spans.mdx
  docs/phoenix/tracing/how-to-tracing/importing-and-exporting-traces/importing-atif-trajectories.mdx
  docs/phoenix/tracing/how-to-tracing/importing-and-exporting-traces/importing-existing-traces.mdx
  docs/phoenix/tracing/how-to-tracing/importing-and-exporting-traces/retrieve-traces-via-cli.mdx
  docs/phoenix/tracing/how-to-tracing/setup-tracing/instrument.mdx
  docs/phoenix/tracing/how-to-tracing/setup-tracing/setup-projects.mdx
  docs/phoenix/tracing/how-to-tracing/setup-tracing/setup-sessions.mdx
  docs/phoenix/tracing/how-to-tracing/setup-tracing/setup-using-phoenix-otel.mdx
  docs/phoenix/tracing/llm-traces.mdx
  docs/sitemap.xml
Due: none

fix(pxi): refetch root lists that mutation payload `query {}` cannot update
  js/app/src/agent/shared/__tests__/relayConnections.test.ts
  js/app/src/agent/shared/pendingDatasetWrite/runDatasetMutation.ts
  js/app/src/agent/shared/relayConnections.ts
  js/app/src/agent/tools/annotationConfig/__generated__/createAnnotationConfigToolMutation.graphql.ts
  js/app/src/agent/tools/annotationConfig/__generated__/refreshAnnotationConfigsQuery.graphql.ts
  js/app/src/agent/tools/annotationConfig/__generated__/updateAnnotationConfigToolMutation.graphql.ts
  js/app/src/agent/tools/annotationConfig/createAnnotationConfig.ts
  js/app/src/agent/tools/annotationConfig/refreshAnnotationConfigs.ts
  js/app/src/agent/tools/annotationConfig/updateAnnotationConfig.ts
  js/app/src/agent/tools/datasetSplits/__generated__/createDatasetSplitToolMutation.graphql.ts
  js/app/src/agent/tools/datasetSplits/__generated__/createDatasetSplitToolWithExamplesMutation.graphql.ts
  js/app/src/agent/tools/datasetSplits/__generated__/deleteDatasetSplitsToolMutation.graphql.ts
  js/app/src/agent/tools/datasetSplits/__generated__/refreshDatasetSplitsQuery.graphql.ts
  js/app/src/agent/tools/datasetSplits/createDatasetSplit.ts
  js/app/src/agent/tools/datasetSplits/deleteDatasetSplits.ts
  js/app/src/agent/tools/datasetSplits/refreshDatasetSplits.ts
Due: oxfmt-js, oxlint-js

feat(charting): shade sparklines down to the baseline so sparse series read as charts
  js/app/src/components/chart/Sparkline.tsx
  js/app/src/components/chart/__tests__/Sparkline.test.tsx
Due: oxfmt-js, oxlint-js

feat(charting): step and coverage sparkline variants as comparison columns
  js/app/src/components/chart/Sparkline.tsx
  js/app/src/components/chart/__tests__/Sparkline.test.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorMeanScoreCell.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsTable.tsx
  js/app/src/pages/project/evaluators/projectEvaluatorsLoader.ts
Due: oxfmt-js, oxlint-js

refactor(charting): break the sparkline at every gap instead of bridging single empty bins
  js/app/src/components/chart/Sparkline.tsx
  js/app/src/components/chart/__tests__/Sparkline.test.tsx
Due: oxfmt-js, oxlint-js

feat(charting): step + coverage sparkline variant as a fourth comparison column
  js/app/src/components/chart/Sparkline.tsx
  js/app/src/components/chart/__tests__/Sparkline.test.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorMeanScoreCell.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsTable.tsx
  js/app/src/pages/project/evaluators/projectEvaluatorsLoader.ts
Due: oxfmt-js, oxlint-js

ci: add a daily Slack digest of open pull requests grouped by owner
  .github/.scripts/collect-pull-requests.js
  .github/workflows/collect-customer-issues.yaml
Due: none

ci: rename the customer-issues workflow to Daily Slack reminders
  .github/workflows/daily-slack-reminders.yaml
Due: none

ci: temporarily restore the old workflow path for a trial dispatch
  .github/workflows/collect-customer-issues.yaml
Due: none

merged changes from mora/evals-labels to make language detection return just labels and no scores
  docs/phoenix/evaluation/pre-built-metrics/language-detection.mdx
  js/benchmarks/evals-benchmarks/src/language_detection_candradhipa.eval.ts
  js/packages/phoenix-evals/src/__generated__/default_templates/LANGUAGE_DETECTION_CLASSIFICATION_EVALUATOR_CONFIG.ts
  js/packages/phoenix-evals/test/llm/createLanguageDetectionEvaluator.test.ts
  packages/phoenix-evals/src/phoenix/evals/__generated__/classification_evaluator_configs/_language_detection_classification_evaluator_config.py
  packages/phoenix-evals/src/phoenix/evals/metrics/language_detection.py
  prompts/classification_evaluator_configs/LANGUAGE_DETECTION_CLASSIFICATION_EVALUATOR_CONFIG.yaml
  src/phoenix/__generated__/classification_evaluator_configs/_language_detection_classification_evaluator_config.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

ci: detect team-member PR authors by in-repo head branch
  .github/.scripts/collect-pull-requests.js
Due: none

ci: restore the Daily Slack reminders workflow path after the trial run
  .github/workflows/daily-slack-reminders.yaml
Due: none

feat(client): sort get_spans by start_time (#16386)
  packages/phoenix-client/src/phoenix/client/constants/server_requirements.py
  packages/phoenix-client/src/phoenix/client/resources/spans/__init__.py
  packages/phoenix-client/tests/client/resources/spans/test_spans.py
  tests/integration/client/test_spans.py
Due: format-python, lint-python

fix(evals): wrap language detection field description under line length
  packages/phoenix-evals/src/phoenix/evals/metrics/language_detection.py
Due: format-python, lint-python

feat(spans): accept project names containing slashes on the spans routes
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/spans.py
  tests/unit/server/api/routers/v1/test_spans.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

removed q-a correctness eval from this pr
  docs.json
  docs/phoenix/evaluation/pre-built-metrics.mdx
  docs/phoenix/evaluation/pre-built-metrics/qa-correctness.mdx
  docs/phoenix/sitemap.xml
  js/.changeset/qa-correctness-evaluator.md
  js/benchmarks/evals-benchmarks/src/qa_correctness.eval.ts
  js/packages/phoenix-evals/src/__generated__/default_templates/QA_CORRECTNESS_CLASSIFICATION_EVALUATOR_CONFIG.ts
  js/packages/phoenix-evals/src/__generated__/default_templates/index.ts
  js/packages/phoenix-evals/src/llm/createQACorrectnessEvaluator.ts
  js/packages/phoenix-evals/src/llm/index.ts
  js/packages/phoenix-evals/test/llm/createQACorrectnessEvaluator.test.ts
  packages/phoenix-evals/src/phoenix/evals/__generated__/classification_evaluator_configs/__init__.py
  packages/phoenix-evals/src/phoenix/evals/__generated__/classification_evaluator_configs/_qa_correctness_classification_evaluator_config.py
  packages/phoenix-evals/src/phoenix/evals/metrics/__init__.py
  packages/phoenix-evals/src/phoenix/evals/metrics/qa_correctness.py
  packages/phoenix-evals/tests/phoenix/evals/metrics/test_classification_evaluators.py
  prompts/classification_evaluator_configs/QA_CORRECTNESS_CLASSIFICATION_EVALUATOR_CONFIG.yaml
  src/phoenix/__generated__/classification_evaluator_configs/__init__.py
  src/phoenix/__generated__/classification_evaluator_configs/_qa_correctness_classification_evaluator_config.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

perf(graphql): reuse the loaded evaluator record when resolving output configs
  src/phoenix/server/api/types/Evaluator.py
Due: format-python, lint-python

feat(online-evals): recent failures column on the project evaluators table
  js/app/schema.graphql
  js/app/src/pages/project/evaluators/ProjectEvaluatorsTable.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsToolbar.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTablePaginationQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_failures.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_project.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorsLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/refetchProjectEvaluatorsQuery.graphql.ts
  js/app/src/pages/project/evaluators/refetchProjectEvaluators.ts
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/project_evaluator_run_counts.py
  src/phoenix/server/api/types/Evaluator.py
  tests/unit/server/api/types/test_Evaluator.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

synthetic dataset for benchmark
  js/benchmarks/evals-benchmarks/src/language_detection.eval.ts
Due: oxfmt-js, oxlint-js

fix(otel): show the header name in the URL-encoding warning
  packages/phoenix-otel/src/phoenix/otel/settings.py
  packages/phoenix-otel/tests/test_settings.py
Due: format-python, lint-python

fix(spans): regenerate app OpenAPI types and clarify the project identifier description
  js/app/src/api/__generated__/v1.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/spans.py
  tests/unit/server/api/routers/v1/test_spans.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

docs: rework Observe and Evaluate, split PXI into Get Started and Learn More
  docs.json
  docs/phoenix/get-started/get-started-evaluations.mdx
  docs/phoenix/get-started/get-started-tracing.mdx
  docs/phoenix/pxi-learn-more.mdx
  docs/phoenix/pxi.mdx
Due: none

docs: consolidate Arize Phoenix for Agents
  README.md
  docs.json
  docs/phoenix/agent-assisted-setup.mdx
  docs/phoenix/integrations/developer-tools/cli.mdx
  docs/phoenix/integrations/developer-tools/coding-agents.mdx
  docs/phoenix/integrations/developer-tools/skills.mdx
  docs/phoenix/integrations/docs-mcp.mdx
  docs/phoenix/integrations/evaluation-integrations/harbor.mdx
  docs/phoenix/integrations/mcp.mdx
  docs/phoenix/integrations/phoenix-mcp-server.mdx
  docs/phoenix/integrations/remote-mcp.mdx
  docs/phoenix/release-notes/07-2026/07-17-2026-oauth2-authorization-server.mdx
  docs/phoenix/release-notes/07-2026/07-22-2026-mcp-setup-provider-filter-and-evals.mdx
  docs/phoenix/release-notes/08-2026/08-17-2026-trace-filters-and-analytics-sql.mdx
  docs/phoenix/release-notes/09-2026/09-08-2026-model-providers-trace-filters-and-pxi.mdx
  docs/phoenix/release-notes/09-2026/09-14-2026-coding-agent-plugins-and-error-analysis.mdx
  docs/phoenix/sdk-api-reference/typescript/arizeai-phoenix-cli.mdx
  docs/phoenix/sdk-api-reference/typescript/mcp-server.mdx
  docs/phoenix/self-hosting/configuration.mdx
  docs/phoenix/self-hosting/features/authentication.mdx
  docs/phoenix/tracing/how-to-tracing/importing-and-exporting-traces/retrieve-traces-via-cli.mdx
  docs/snippets/agent-assisted-onboarding-prereq.mdx
  docs/snippets/agent-assisted-onboarding.mdx
Due: none

docs: point the tracing quickstart at the new CLI page
  docs/phoenix/get-started/get-started-tracing.mdx
Due: none

fix(js): report acceptance criteria coverage instead of changing the denominator
  docs/phoenix/evaluation/integrations/vitest-jest.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/ci-evals-vitest.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/ci-evals.mdx
  js/.changeset/acceptance-criteria-coverage.md
  js/.changeset/acceptance-denominator-eligible-runs.md
  js/packages/phoenix-client/src/testing/acceptance.ts
  js/packages/phoenix-client/src/testing/types.ts
  js/packages/phoenix-client/test/testing/acceptance.test.ts
  js/packages/phoenix-client/test/testing/report-artifacts.test.ts
  js/packages/phoenix-client/test/testing/reporter-format.test.ts
Due: oxfmt-js, oxlint-js

docs: refine Phoenix tracing navigation
  docs.json
  docs/phoenix/llms.txt
  docs/phoenix/observe/dashboards.mdx
  docs/phoenix/observe/explore-traces.mdx
  docs/phoenix/resources/frequently-asked-questions/braintrust-open-source-alternative-llm-evaluation-platform-comparison.mdx
  docs/phoenix/sitemap.xml
  docs/phoenix/tracing/concepts-tracing/what-are-traces.mdx
  docs/phoenix/tracing/how-to-tracing/advanced.mdx
  docs/phoenix/tracing/how-to-tracing/advanced/constructing-urls.mdx
  docs/phoenix/tracing/how-to-tracing/filter-expressions.mdx
  docs/phoenix/tracing/how-to-tracing/importing-and-exporting-traces.mdx
  docs/phoenix/tracing/how-to-tracing/setup-tracing/instrument.mdx
  docs/phoenix/tracing/how-to-tracing/setup-tracing/setup-using-phoenix-otel.mdx
  docs/phoenix/tracing/llm-traces.mdx
  docs/phoenix/tracing/llm-traces/metrics.mdx
  docs/phoenix/tracing/llm-traces/projects.mdx
  docs/phoenix/tracing/llm-traces/sessions.mdx
Due: none

fix(playground): send replayed tool calls to AWS Bedrock as toolUse blocks
  src/phoenix/server/api/helpers/playground_clients.py
  tests/unit/server/api/helpers/test_playground_clients.py
Due: format-python, lint-python

fix(playground): stop sending temperature by default on AWS Bedrock
  js/app/src/pages/playground/providerAdapters/__tests__/awsAdapter.test.ts
  js/app/src/pages/playground/providerAdapters/awsAdapter.ts
Due: oxfmt-js, oxlint-js

docs: refine tracing concepts flow
  docs/phoenix/observe/explore-traces.mdx
  docs/phoenix/tracing/concepts-tracing/otel-openinference/instrumentation-approaches.mdx
  docs/phoenix/tracing/concepts-tracing/what-are-traces.mdx
  docs/phoenix/tracing/how-to-tracing/cost-tracking.mdx
  docs/phoenix/tracing/how-to-tracing/setup-tracing/instrument.mdx
  docs/phoenix/tracing/how-to-tracing/setup-tracing/setup-using-phoenix-otel.mdx
Due: none

docs: refine Phoenix auto-instrumentation guide
  docs/phoenix/tracing/how-to-tracing/setup-tracing/setup-using-phoenix-otel.mdx
Due: none

docs: add ZopDay one-click deploy button
  README.md
  README.zh.md
Due: none

docs: refresh manual instrumentation guide
  docs/phoenix/tracing/how-to-tracing/setup-tracing/instrument.mdx
Due: none

docs: reshape customize traces guide
  docs/phoenix/llms.txt
  docs/phoenix/tracing/how-to-tracing/add-metadata/customize-spans.mdx
Due: none

docs: clarify trace customization context
  docs/phoenix/tracing/how-to-tracing/add-metadata/customize-spans.mdx
Due: none

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
