Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

feat(pxi): enable phoenix-gql mutations by default with approval in manual mode
  js/app/src/agent/chat/buildAgentChatRequestBody.ts
  js/app/src/agent/chat/createAgentSessionChat.ts
  js/app/src/agent/chat/shouldSendAutomatically.ts
  js/app/src/agent/chat/types.ts
  js/app/src/agent/extensions/capabilities.ts
  js/app/src/api/__generated__/v1.ts
  js/app/src/components/agent/BashToolDetails.tsx
  js/app/src/components/agent/ToolPart.tsx
  js/app/src/store/agentStore.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/config.py
  src/phoenix/db/types/data_stream_protocol/__init__.py
  src/phoenix/db/types/data_stream_protocol/provider_metadata.py
  src/phoenix/server/agents/capabilities/contexts/graphql_mutations.py
  src/phoenix/server/agents/capabilities/tools/internal/bash.py
  src/phoenix/server/agents/prompts/context/GRAPHQL_MUTATIONS_INSTRUCTIONS.xml.j2
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/agents/capabilities/tools/internal/test_bash.py
  tests/unit/server/agents/test_agents_router.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

chore(pxi): shorten BashMutationApprovalChunk docstring
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python

clean
  src/phoenix/server/agents/capabilities/tools/internal/bash.py
Due: format-python, lint-python

feat(pxi): add mutation_intent to bash tool and simplify mutation approval UI
  js/app/src/agent/tools/bash/__tests__/bashToolSchema.test.ts
  js/app/src/agent/tools/bash/bashToolSchema.ts
  js/app/src/components/agent/BashToolDetails.tsx
  js/app/tests/pxi/fixtures.ts
  src/phoenix/server/agents/capabilities/tools/internal/bash.py
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

refactor(pxi): trim approval and flush comments
  js/app/src/agent/chat/buildAgentChatRequestBody.ts
  js/app/src/agent/chat/shouldSendAutomatically.ts
  js/app/src/agent/chat/toolOutputFlush.ts
  js/app/src/components/agent/BashToolDetails.tsx
  js/app/src/components/agent/ToolApprovalRequest.tsx
Due: oxfmt-js, oxlint-js

refactor(pxi): drop the tool-approval denial reason
  js/app/src/agent/chat/__tests__/buildAgentChatRequestBody.test.ts
  js/app/src/agent/chat/buildAgentChatRequestBody.ts
  js/app/src/api/__generated__/v1.ts
  js/app/src/components/agent/BashToolDetails.tsx
  js/app/src/components/agent/ToolApprovalRequest.tsx
  js/app/src/components/agent/ToolPart.tsx
  js/app/src/components/agent/__tests__/ToolApprovalRequest.test.tsx
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/agents/test_agents_router.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(pxi): approve GraphQL mutations before the command runs
  js/app/src/agent/chat/createAgentSessionChat.ts
  js/app/src/agent/chat/types.ts
  js/app/src/agent/tools/bash/__tests__/bashToolSchema.test.ts
  js/app/src/agent/tools/bash/bashToolSchema.ts
  js/app/src/agent/tools/bash/index.ts
  js/app/src/agent/tools/bash/pendingMutations.ts
  js/app/src/api/__generated__/v1.ts
  js/app/src/components/agent/BashToolDetails.tsx
  js/app/src/store/agentStore.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/db/types/data_stream_protocol/__init__.py
  src/phoenix/db/types/data_stream_protocol/provider_metadata.py
  src/phoenix/server/agents/capabilities/tools/internal/bash.py
  src/phoenix/server/agents/prompts/context/GRAPHQL_MUTATIONS_INSTRUCTIONS.xml.j2
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/agents/capabilities/tools/internal/test_bash.py
  tests/unit/server/agents/test_agents_router.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

revert(pxi): drop the tool-output flush dedup from this branch
  js/app/src/agent/chat/__tests__/toolOutputFlush.test.ts
  js/app/src/agent/chat/__tests__/transcriptPersistence.test.ts
  js/app/src/agent/chat/createAgentSessionChat.ts
  js/app/src/agent/chat/toolOutputFlush.ts
  js/app/src/agent/chat/transcriptPersistence.ts
  js/app/src/api/__generated__/v1.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/agents/test_agents_router.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

refactor(pxi): trim merge-path comments and simplify a few helpers
  js/packages/phoenix-cli/src/pxi/types.ts
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

docs: use the new retrieval relevance evaluator in place of document relevance
  docs/phoenix/cookbook/evaluation/evaluate-rag.mdx
  docs/phoenix/cookbook/evaluation/relevance-classification-evaluation.mdx
  docs/phoenix/evaluation/concepts-evals/evaluators.mdx
  docs/phoenix/evaluation/evals.mdx
  docs/phoenix/evaluation/integrations/pytest.mdx
  docs/phoenix/evaluation/pre-built-metrics/retrieval-relevance.mdx
  docs/phoenix/evaluation/typescript-quickstart.mdx
  docs/phoenix/sdk-api-reference/python/arize-phoenix-evals.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-evals/llm-evaluators.mdx
  docs/phoenix/use-cases/rag-evaluation.mdx
Due: none

Apply suggestion from @ehutt
  docs/phoenix/cookbook/evaluation/relevance-classification-evaluation.mdx
Due: none

fix(pxi): make the ui proxy's introspection answer from the catalog
  js/app/src/agent/uiOperations/catalog.ts
  js/app/src/agent/uiOperations/executeUiAgentTool.ts
  js/app/src/agent/uiOperations/runtime/__tests__/createUiProxy.test.ts
  js/app/src/agent/uiOperations/runtime/protocol.ts
  js/app/src/agent/uiOperations/runtime/uiScriptBridge.ts
  js/app/src/agent/uiOperations/runtime/uiScriptWorker.ts
  src/phoenix/server/agents/prompts/tools/EXECUTE_UI_TOOL_INSTRUCTIONS.xml.j2
Due: oxfmt-js, oxlint-js

feat(pxi): stamp NOT_FOUND on handler entity-lookup failures
  js/app/src/agent/tools/playgroundModel/clientActions.ts
  js/app/src/agent/tools/playgroundOutput/clientActions.ts
  js/app/src/agent/tools/playgroundPrompt/promptStore.ts
  js/app/src/agent/tools/playgroundPrompt/types.ts
  js/app/src/agent/tools/playgroundPromptTools/clientActions.ts
  js/app/src/agent/tools/playgroundPromptTools/promptToolsStore.ts
  js/app/src/agent/tools/playgroundSavePrompt/savePlaygroundPrompt.ts
  js/app/src/agent/tools/playgroundTemplateVariablesPath/clientActions.ts
  js/app/src/agent/uiOperations/catalog.ts
  js/app/src/agent/uiOperations/types.ts
Due: oxfmt-js, oxlint-js

fix(pxi): name the real precondition in the openForm availability hints
  js/app/src/agent/uiOperations/operations/codeEvaluatorDraft.ts
  js/app/src/agent/uiOperations/operations/llmEvaluatorDraft.ts
Due: oxfmt-js, oxlint-js

chore(js): update versions (#15565)
  js/.changeset/retrieval-relevance-evaluator.md
  js/packages/phoenix-evals/CHANGELOG.md
  js/packages/phoenix-evals/package.json
Due: oxfmt-js

fix(cost): update built-in model token prices (#15562)
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Due: none

chore: update sitemap.xml (#15564)
  docs/phoenix/sitemap.xml
  sitemap.xml
Due: none

fix(mcp): keep dashes in prompt names on upsert-prompt
  js/.changeset/mcp-prompt-name-dashes.md
  js/packages/phoenix-mcp/src/promptSchemas.ts
  js/packages/phoenix-mcp/test/promptSchemas.test.ts
Due: oxfmt-js, oxlint-js

chore(main): release arize-phoenix-evals 3.5.0 (#15566)
  .release-please-manifest.json
  packages/phoenix-evals/CHANGELOG.md
  packages/phoenix-evals/pyproject.toml
  uv.lock
Due: uv-lock-check

fix(evals): do not echo submitted tool JSON in evaluator prompt validation errors
  src/phoenix/server/api/helpers/evaluators.py
  tests/unit/server/api/helpers/test_evaluators.py
Due: format-python, lint-python

refactor(dsl): drop the cost-per-token members; division already expresses them
  internal_docs/specs/span-filter-dsl.md
  js/app/src/pages/project/spanFilterDSL.ts
  src/phoenix/server/agents/prompts/tools/SET_SPANS_FILTER_TOOL_INSTRUCTIONS.xml.j2
  src/phoenix/trace/dsl/filter.py
  tests/unit/trace/dsl/test_filter_error_messages.py
  tests/unit/trace/dsl/test_filter_span_cost.py
  tests/unit/trace/dsl/test_filter_spec_conformance.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

Refactor variable names from 'reference' to 'context'
  docs/phoenix/tracing/how-to-tracing/importing-and-exporting-traces/extract-data-from-spans.mdx
Due: none

Update docs/phoenix/evaluation/pre-built-metrics/faithfulness.mdx
  docs/phoenix/evaluation/pre-built-metrics/faithfulness.mdx
Due: none

docs: remove legacy evaluator docs (#14933)
  docs.json
  docs/phoenix.mdx
  docs/phoenix/cookbook/evaluation/creating-a-custom-llm-evaluator-with-a-benchmark-dataset.mdx
  docs/phoenix/cookbook/evaluation/evaluate-an-agent.mdx
  docs/phoenix/cookbook/evaluation/evaluate-rag.mdx
  docs/phoenix/cookbook/evaluation/relevance-classification-evaluation.mdx
  docs/phoenix/cookbook/human-in-the-loop-workflows-annotations/aligning-llm-evals-with-human-annotations-typescript.mdx
  docs/phoenix/cookbook/prompt-engineering/llm-as-a-judge-prompt-optimization.mdx
  docs/phoenix/evaluation/concepts-evals/evaluating-multi-agent-systems.mdx
  docs/phoenix/evaluation/concepts-evals/evaluators.mdx
  docs/phoenix/evaluation/evals.mdx
  docs/phoenix/evaluation/integrations/pytest.mdx
  docs/phoenix/evaluation/pre-built-metrics.mdx
  docs/phoenix/evaluation/pre-built-metrics/document-relevance.mdx
  docs/phoenix/evaluation/pre-built-metrics/faithfulness.mdx
  docs/phoenix/evaluation/pre-built-metrics/q-and-a-on-retrieved-data.mdx
  docs/phoenix/evaluation/pre-built-metrics/retrieval-rag-relevance.mdx
  docs/phoenix/evaluation/pre-built-metrics/retrieval-relevance.mdx
  docs/phoenix/evaluation/pre-built-metrics/sql-generation-eval.mdx
  docs/phoenix/evaluation/pre-built-metrics/summarization-eval.mdx
  docs/phoenix/evaluation/pre-built-metrics/tool-calling-eval.mdx
  docs/phoenix/evaluation/typescript-quickstart.mdx
  docs/phoenix/get-started/get-started-evaluations.mdx
  docs/phoenix/get-started/ts-get-started-evaluations.mdx
  docs/phoenix/llms.txt
  docs/phoenix/sdk-api-reference/python/arize-phoenix-evals.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-evals/llm-evaluators.mdx
  docs/phoenix/sitemap.xml
  docs/phoenix/tracing/how-to-tracing/feedback-and-annotations/evaluating-phoenix-traces.mdx
  docs/phoenix/tracing/how-to-tracing/importing-and-exporting-traces/extract-data-from-spans.mdx
  docs/phoenix/use-cases/rag-evaluation.mdx
  docs/sitemap.xml
  scripts/README.md
  scripts/rag/llamaindex_retrieval_chunk_eval.ipynb
  sitemap.xml
Due: clean-notebooks

feat(pxi): enable phoenix-gql mutations by default with approval in manual mode (#15415)
  js/app/src/agent/chat/__tests__/buildAgentChatRequestBody.test.ts
  js/app/src/agent/chat/__tests__/flushQueue.test.ts
  js/app/src/agent/chat/__tests__/shouldSendAutomatically.test.ts
  js/app/src/agent/chat/__tests__/toolApprovalFlush.test.ts
  js/app/src/agent/chat/agentChatApi.ts
  js/app/src/agent/chat/buildAgentChatRequestBody.ts
  js/app/src/agent/chat/chatUtils.ts
  js/app/src/agent/chat/createAgentSessionChat.ts
  js/app/src/agent/chat/flushQueue.ts
  js/app/src/agent/chat/shouldSendAutomatically.ts
  js/app/src/agent/chat/toolApprovalFlush.ts
  js/app/src/agent/chat/toolOutputFlush.ts
  js/app/src/agent/extensions/capabilities.ts
  js/app/src/agent/tools/bash/__tests__/bashToolSchema.test.ts
  js/app/src/agent/tools/bash/bashToolSchema.ts
  js/app/src/api/__generated__/v1.ts
  js/app/src/components/agent/BashToolDetails.tsx
  js/app/src/components/agent/ToolApprovalRequest.tsx
  js/app/src/components/agent/ToolPart.tsx
  js/app/src/components/agent/__tests__/Chat.test.tsx
  js/app/src/components/agent/__tests__/ToolApprovalRequest.test.tsx
  js/app/src/components/agent/useAgentSessionSync.ts
  js/app/src/store/__tests__/agentStore.test.ts
  js/app/tests/pxi/fixtures.ts
  js/packages/phoenix-cli/src/pxi/types.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/server/agents/agent_factory.py
  src/phoenix/server/agents/capabilities/contexts/graphql_mutations.py
  src/phoenix/server/agents/capabilities/tools/internal/bash.py
  src/phoenix/server/agents/context.py
  src/phoenix/server/agents/prompts/context/GRAPHQL_MUTATIONS_INSTRUCTIONS.xml.j2
  src/phoenix/server/agents/server_agents.py
  src/phoenix/server/api/routers/agents.py
  src/phoenix/server/api/routers/legacy_agents.py
  tests/unit/server/agents/capabilities/tools/internal/test_bash.py
  tests/unit/server/agents/test_agents_router.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix
  src/phoenix/server/agents/capabilities/tools/internal/bash.py
Due: format-python, lint-python

refactor(agents): drop the no-op AbstractToolCapability marker
  src/phoenix/server/agents/capabilities/tools/base.py
  src/phoenix/server/agents/capabilities/tools/external/__init__.py
  src/phoenix/server/agents/capabilities/tools/external/ask_user.py
  src/phoenix/server/agents/capabilities/tools/external/batch_span_annotate.py
  src/phoenix/server/agents/capabilities/tools/external/get_route_info.py
  src/phoenix/server/agents/capabilities/tools/external/list_datasets.py
  src/phoenix/server/agents/capabilities/tools/external/list_labels.py
  src/phoenix/server/agents/capabilities/tools/external/list_splits.py
  src/phoenix/server/agents/capabilities/tools/external/render_generative_ui.py
  src/phoenix/server/agents/capabilities/tools/external/set_time_range.py
  src/phoenix/server/agents/capabilities/tools/internal/bash.py
  src/phoenix/server/agents/capabilities/tools/internal/call_subagent.py
  src/phoenix/server/agents/capabilities/tools/internal/current_datetime.py
  src/phoenix/server/agents/capabilities/tools/internal/write_span_note.py
Due: format-python, lint-python

refactor(agents): read prefix prompts as text instead of rendering them
  src/phoenix/server/agents/agent_factory.py
  src/phoenix/server/agents/capabilities/docs_mcp.py
  src/phoenix/server/agents/capabilities/skills/toolset.py
  src/phoenix/server/agents/capabilities/tools/internal/bash.py
  src/phoenix/server/agents/prompts/__init__.py
  src/phoenix/server/agents/prompts/static/base/BASE_INSTRUCTIONS.xml
  src/phoenix/server/agents/prompts/static/base/BASE_SUBAGENT_INSTRUCTIONS.xml
  src/phoenix/server/agents/prompts/static/skills/LOAD_SKILL_TOOL.xml
  src/phoenix/server/agents/prompts/static/skills/READ_SKILL_RESOURCE_TOOL.xml
  src/phoenix/server/agents/prompts/static/tools/BASH_TOOL_DESCRIPTION.txt
  src/phoenix/server/agents/prompts/static/tools/DOCS_TOOL_INSTRUCTIONS.xml
  src/phoenix/server/agents/prompts/static_prompts.py
  src/phoenix/server/agents/prompts/templating.py
  src/phoenix/server/agents/server_agents.py
  tests/unit/server/agents/capabilities/skills/test_skill_capability.py
  tests/unit/server/agents/prompts/test_static_prompts.py
  tests/unit/server/agents/test_agent_factory.py
Due: format-python, lint-python

perf(agents): advertise every skill so navigating cannot bust the cache
  src/phoenix/server/agents/agent_factory.py
  src/phoenix/server/agents/skills/__init__.py
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/agents/test_agent_factory.py
Due: format-python, lint-python

perf(agents): pin the docs MCP tool list for the process lifetime
  src/phoenix/server/agents/capabilities/docs_mcp.py
  tests/unit/server/agents/capabilities/test_docs_mcp.py
Due: format-python, lint-python

clean
  src/phoenix/server/agents/capabilities/tools/base.py
Due: format-python, lint-python

style(agents): apply ruff format to touched tests
  tests/unit/pxi/evals/test_evaluator_matchers.py
  tests/unit/server/agents/skills/test_phoenix_graphql.py
  tests/unit/server/agents/test_agents_router.py
Due: format-python, lint-python

refactor(agents): inline the bash tool description as a plain string
  src/phoenix/server/agents/capabilities/tools/internal/bash.py
  src/phoenix/server/agents/prompts/static/tools/BASH_TOOL_DESCRIPTION.txt
Due: format-python, lint-python

fix: address review feedback on flattened annotation columns
  js/app/src/components/annotation/AnnotationDetailsList.tsx
  js/app/src/components/annotation/AnnotationSummaryGroup.tsx
  js/app/src/components/annotation/AnnotationSummaryPopover.tsx
  js/app/src/components/annotation/AnnotationSummaryTokens.tsx
  js/app/src/components/annotation/SessionAnnotationSummaryGroup.tsx
  js/app/src/components/annotation/TraceAnnotationSummaryGroup.tsx
  js/app/src/components/annotation/types.ts
  js/app/src/pages/project/SessionColumnSelector.tsx
  js/app/src/pages/project/SessionsTable.tsx
  js/app/src/pages/project/SpansTable.tsx
  js/app/src/pages/project/TracesTable.tsx
  js/app/src/pages/project/annotationFilterUtils.ts
  js/app/src/pages/project/tableUtils.ts
  js/app/stories/AnnotationSummaryTokens.stories.tsx
Due: oxfmt-js, oxlint-js

feat: add annotation detail popovers to table columns
  js/app/src/components/annotation/AnnotationSummaryGroup.tsx
  js/app/src/components/annotation/AnnotationSummaryTokens.tsx
  js/app/src/components/annotation/SessionAnnotationSummaryGroup.tsx
  js/app/src/components/annotation/TraceAnnotationSummaryGroup.tsx
  js/app/src/pages/dataset/evaluators/__generated__/DatasetEvaluatorSpansQuery.graphql.ts
  js/app/src/pages/project/AnnotationTooltipFilterActions.tsx
  js/app/src/pages/project/SessionsTable.tsx
  js/app/src/pages/project/SpansTable.tsx
  js/app/src/pages/project/TracesTable.tsx
  js/app/src/pages/project/__generated__/ProjectPageQueriesSessionsQuery.graphql.ts
  js/app/src/pages/project/__generated__/ProjectPageQueriesSpansQuery.graphql.ts
  js/app/src/pages/project/__generated__/ProjectPageQueriesTracesQuery.graphql.ts
  js/app/src/pages/project/__generated__/SessionsTableQuery.graphql.ts
  js/app/src/pages/project/__generated__/SessionsTable_sessions.graphql.ts
  js/app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  js/app/src/pages/project/__generated__/SpansTable_spans.graphql.ts
  js/app/src/pages/project/__generated__/TracesTableQuery.graphql.ts
  js/app/src/pages/project/__generated__/TracesTable_spans.graphql.ts
  js/app/src/pages/project/__tests__/annotationFilterUtils.test.ts
  js/app/src/pages/project/annotationFilterUtils.ts
Due: oxfmt-js, oxlint-js

feat: add scope badges to annotation details
  js/app/src/components/annotation/AnnotationDetailsList.tsx
  js/app/src/components/annotation/AnnotationSummaryGroup.tsx
  js/app/src/components/annotation/AnnotationSummaryPopover.tsx
  js/app/src/components/annotation/AnnotationSummaryTokens.tsx
  js/app/src/components/annotation/SessionAnnotationSummaryGroup.tsx
  js/app/src/components/annotation/TraceAnnotationSummaryGroup.tsx
  js/app/src/components/annotation/types.ts
  js/app/stories/AnnotationSummaryTokens.stories.tsx
Due: oxfmt-js, oxlint-js

feat: flatten annotation summary table columns
  js/app/src/pages/dataset/evaluators/__generated__/DatasetEvaluatorSpansQuery.graphql.ts
  js/app/src/pages/project/AnnotationSummary.tsx
  js/app/src/pages/project/SessionColumnSelector.tsx
  js/app/src/pages/project/SessionsTable.tsx
  js/app/src/pages/project/SpanColumnSelector.tsx
  js/app/src/pages/project/SpansTable.tsx
  js/app/src/pages/project/TracesTable.tsx
  js/app/src/pages/project/TracingColumnSelector.tsx
  js/app/src/pages/project/__generated__/ProjectPageQueriesSessionsQuery.graphql.ts
  js/app/src/pages/project/__generated__/ProjectPageQueriesSpansQuery.graphql.ts
  js/app/src/pages/project/__generated__/ProjectPageQueriesTracesQuery.graphql.ts
  js/app/src/pages/project/__generated__/SessionsTableQuery.graphql.ts
  js/app/src/pages/project/__generated__/SessionsTable_sessions.graphql.ts
  js/app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  js/app/src/pages/project/__generated__/SpansTable_spans.graphql.ts
  js/app/src/pages/project/__generated__/TracesTableQuery.graphql.ts
  js/app/src/pages/project/__generated__/TracesTable_spans.graphql.ts
  js/app/src/pages/project/__tests__/tableUtils.test.ts
  js/app/src/pages/project/tableUtils.ts
Due: oxfmt-js, oxlint-js
