Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: clean-notebooks, format-notebooks

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/charliermarsh/ruff-pre-commit
      rev: "v0.4.1"
      hooks:
          - id: ruff-format
          - id: ruff
            args: [--fix]
    - repo: local
      hooks:
          - id: clean-notebooks
            name: clean-notebooks
            files: \.ipynb$
            exclude: ^tutorials/evals/.*\.ipynb$
            stages: [commit]
            language: system
            entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --ClearMetadataPreprocessor.enabled=True --inplace
    - repo: local
      hooks:
          - id: format-notebooks
            name: format-notebooks
            files: \.ipynb$
            stages: [commit]
            language: system
            entry: nbqa ruff --fix --ignore=E402 --ignore=E501 --ignore=F704
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: "6f3cb139ef36133b6f903b97facc57b07cef57c9"
      hooks:
          - id: prettier
            files: \.(jsx?|tsx?|css|.md)$
            exclude: \.*__generated__.*$
            additional_dependencies:
                - prettier@3.2.4
    - repo: https://github.com/pre-commit/mirrors-eslint
      rev: "8ddcbd412c0b348841f0f82c837702f432539652"
      hooks:
          - id: eslint
            additional_dependencies:
                - eslint@8.56.0
                - eslint-plugin-react@7.33.2
                - eslint-plugin-react-hooks@4.6.0
                - eslint-plugin-simple-import-sort@10.0.0

feat: Detect websocket availability and pass to client (#5224)
  src/phoenix/config.py
  src/phoenix/server/app.py
  src/phoenix/server/main.py
  src/phoenix/server/templates/index.html
  src/phoenix/services.py
  src/phoenix/session/session.py
  tests/unit/conftest.py
Due: none

clean up
  tests/unit/server/api/types/test_ProjectSession.py
Due: none

clean up
  tests/integration/db_migrations/test_up_and_down_migrations.py
Due: none

fix: record only first user for each session
  src/phoenix/db/insertion/span.py
Due: none

fix(sessions): for each session record first user by earliest span start time (#5227)
  src/phoenix/db/insertion/span.py
Due: none

clean up
  scripts/fixtures/multi-turn_chat_sessions.ipynb
Due: clean-notebooks, format-notebooks

clean up
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/session_first_input_last_outputs.py
  src/phoenix/server/api/dataloaders/session_num_traces.py
  src/phoenix/server/api/dataloaders/session_token_usages.py
  src/phoenix/server/app.py
Due: none

clean up
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/session_io.py
Due: none

clean up
  src/phoenix/server/api/dataloaders/trace_root_spans.py
Due: none

refactor(sessions): add dataloaders for session queries (#5222)
  scripts/fixtures/multi-turn_chat_sessions.ipynb
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/session_io.py
  src/phoenix/server/api/dataloaders/session_num_traces.py
  src/phoenix/server/api/dataloaders/session_token_usages.py
  src/phoenix/server/api/dataloaders/trace_by_trace_ids.py
  src/phoenix/server/api/dataloaders/trace_root_spans.py
  src/phoenix/server/api/types/ProjectSession.py
  src/phoenix/server/api/types/Trace.py
  src/phoenix/server/app.py
  src/phoenix/trace/schemas.py
  tests/unit/server/api/types/test_ProjectSession.py
  tests/unit/server/api/types/test_Trace.py
Due: clean-notebooks, format-notebooks

feat(sesions): add session details page
  app/src/Routes.tsx
  app/src/components/table/TimestampCell.tsx
  app/src/pages/trace/EditSpanAnnotationsButton.tsx
  app/src/pages/trace/SessionDetails.tsx
  app/src/pages/trace/SessionDetailsTraceList.tsx
  app/src/pages/trace/SessionPage.tsx
  app/src/pages/trace/__generated__/SessionDetailsQuery.graphql.ts
  app/src/pages/trace/__generated__/sessionLoaderQuery.graphql.ts
  app/src/pages/trace/sessionLoader.ts
  scripts/fixtures/multi-turn_chat_sessions.ipynb
Due: clean-notebooks, format-notebooks

remove unused import, add error boundary
  app/src/pages/trace/SessionDetails.tsx
  app/src/pages/trace/SessionPage.tsx
Due: none

pull user from root span
  app/src/pages/trace/SessionDetails.tsx
  app/src/pages/trace/SessionDetailsTraceList.tsx
  app/src/pages/trace/__generated__/SessionDetailsQuery.graphql.ts
  app/src/typeUtils.ts
Due: none

feat(sessions): add db table for sessions (#4961)
  app/schema.graphql
  src/phoenix/db/insertion/span.py
  src/phoenix/db/migrations/versions/4ded9e43755f_create_project_session_table.py
  src/phoenix/db/models.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/Project.py
  src/phoenix/server/api/types/ProjectSession.py
  src/phoenix/server/api/types/Trace.py
  tests/integration/db_migrations/test_up_and_down_migrations.py
  tests/integration/project_sessions/__init__.py
  tests/integration/project_sessions/conftest.py
  tests/integration/project_sessions/test_project_sessions.py
Due: none

feat(sessions): sessions table on project page (#5204)
  app/schema.graphql
  app/src/Routes.tsx
  app/src/pages/project/ProjectPage.tsx
  app/src/pages/project/SessionsTable.tsx
  app/src/pages/project/SessionsTableEmpty.tsx
  app/src/pages/project/__generated__/ProjectPageSessionsQuery.graphql.ts
  app/src/pages/project/__generated__/SessionsTableQuery.graphql.ts
  app/src/pages/project/__generated__/SessionsTable_sessions.graphql.ts
  app/src/pages/trace/SessionDetails.tsx
  app/src/pages/trace/SessionPage.tsx
  app/src/pages/trace/__generated__/SessionDetailsQuery.graphql.ts
  pyproject.toml
  requirements/build-graphql-schema.txt
  requirements/type-check.txt
  scripts/fixtures/multi-turn_chat_sessions.ipynb
  src/phoenix/db/insertion/span.py
  src/phoenix/db/migrations/versions/4ded9e43755f_create_project_sessions_table.py
  src/phoenix/db/models.py
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/trace_by_trace_ids.py
  src/phoenix/server/api/dataloaders/trace_row_ids.py
  src/phoenix/server/api/mutations/project_mutations.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/ExperimentRun.py
  src/phoenix/server/api/types/ExperimentRunAnnotation.py
  src/phoenix/server/api/types/Project.py
  src/phoenix/server/api/types/ProjectSession.py
  src/phoenix/server/api/types/Span.py
  src/phoenix/server/api/types/SpanIOValue.py
  src/phoenix/server/api/types/TokenUsage.py
  src/phoenix/server/api/types/Trace.py
  src/phoenix/server/app.py
  tests/integration/db_migrations/test_up_and_down_migrations.py
  tests/unit/_helpers.py
  tests/unit/server/api/types/test_ProjectSession.py
  tests/unit/server/api/types/test_Trace.py
Due: clean-notebooks, format-notebooks

feat(sesions): add session details page (#5225)
  app/src/Routes.tsx
  app/src/components/table/TimestampCell.tsx
  app/src/pages/trace/EditSpanAnnotationsButton.tsx
  app/src/pages/trace/SessionDetails.tsx
  app/src/pages/trace/SessionDetailsTraceList.tsx
  app/src/pages/trace/SessionPage.tsx
  app/src/pages/trace/__generated__/SessionDetailsQuery.graphql.ts
  app/src/pages/trace/__generated__/sessionLoaderQuery.graphql.ts
  app/src/pages/trace/sessionLoader.ts
  app/src/typeUtils.ts
  scripts/fixtures/multi-turn_chat_sessions.ipynb
Due: clean-notebooks, format-notebooks

feat(sessions): add ability to navigate from trace to session
  app/src/pages/trace/TraceDetails.tsx
  app/src/pages/trace/__generated__/TraceDetailsQuery.graphql.ts
Due: none

qdrant_langchain_instrumentation_search_and_retrieval_tutorial
  tutorials/qdrant_langchain_instrumentation_search_and_retrieval_tutorial.ipynb
Due: clean-notebooks, format-notebooks

evaluate_tool_calling
  tutorials/evals/evaluate_tool_calling.ipynb
Due: format-notebooks

bedrock_claude_tracing_tutorial
  tutorials/tracing/bedrock_claude_tracing_tutorial.ipynb
Due: clean-notebooks, format-notebooks

langchain_agent_tracing_tutorial
  tutorials/tracing/langchain_agent_tracing_tutorial.ipynb
Due: clean-notebooks, format-notebooks

evaluate_human_vs_ai_classifications
  tutorials/evals/evaluate_human_vs_ai_classifications.ipynb
Due: format-notebooks

evaluate_reference_link_correctness_classifications
  tutorials/evals/evaluate_reference_link_correctness_classifications.ipynb
Due: format-notebooks

tutorials/evals/evaluate_user_frustration_classifications.ipynb
  tutorials/evals/evaluate_user_frustration_classifications.ipynb
Due: format-notebooks

tracer provider
  tutorials/qdrant_langchain_instrumentation_search_and_retrieval_tutorial.ipynb
Due: clean-notebooks, format-notebooks

Fix miport
  src/phoenix/server/api/queries.py
Due: none

Refactor invocation parameter processing
  src/phoenix/server/api/input_types/InvocationParameters.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/subscriptions.py
Due: none

Update graphql schema
  app/schema.graphql
  src/phoenix/server/api/input_types/InvocationParameters.py
Due: none

Update type annotation to union type
  src/phoenix/server/api/queries.py
Due: none

Rename validation function
  src/phoenix/server/api/input_types/InvocationParameters.py
Due: none

Add base class to union type
  src/phoenix/server/api/input_types/InvocationParameters.py
Due: none

Update gql schema
  app/schema.graphql
Due: none

Use strawberry interface
  app/schema.graphql
  src/phoenix/server/api/input_types/InvocationParameters.py
  src/phoenix/server/api/queries.py
Due: none

Fail gracefully when parsing invocation params in ui
  app/src/pages/playground/InvocationParametersForm.tsx
Due: none

refactor: Render invocation parameters form using data from api (#5165)
  app/src/pages/playground/InvocationParametersForm.tsx
  app/src/pages/playground/ModelConfigButton.tsx
  app/src/pages/playground/PlaygroundOutput.tsx
  app/src/pages/playground/__generated__/InvocationParametersFormQuery.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundOutputSubscription.graphql.ts
  app/src/pages/playground/__tests__/playgroundUtils.test.ts
  app/src/pages/playground/playgroundUtils.ts
  app/src/pages/playground/schemas.ts
  app/src/store/playground/playgroundStore.tsx
  app/src/store/playground/types.ts
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/subscriptions.py
Due: none

Update gql schema and supported invocation parameters query
  app/schema.graphql
  src/phoenix/server/api/helpers/playground_registry.py
  src/phoenix/server/api/queries.py
Due: none

Set default to modelName
  app/schema.graphql
  src/phoenix/server/api/queries.py
Due: none
