Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

fix(phoenix-sqlean): retarget sqlean pin to upstream main (0.28.4+10a13f9)
  packages/phoenix-sqlean/Makefile
  packages/phoenix-sqlean/setup.py
Due: format-python, lint-python

fix(deps): update arize-phoenix-evals to 3.5.1 (#15605)
  pyproject.toml
Due: uv-lock-check

chore: release arize-phoenix 20.4.0
  src/phoenix/config.py
Due: format-python, lint-python

chore: release arize-phoenix 20.4.0 (#15606)
  src/phoenix/config.py
Due: format-python, lint-python

chore(main): release arize-phoenix 20.4.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

fix(phoenix-sqlean): bump bundled sqlean to 0.28.4+10a13f9 (#15465)
  packages/phoenix-sqlean/Makefile
  packages/phoenix-sqlean/setup.py
Due: format-python, lint-python

chore(main): release arize-phoenix-sqlean 0.1.1
  .release-please-manifest.json
  packages/phoenix-sqlean/CHANGELOG.md
  packages/phoenix-sqlean/setup.py
Due: format-python, lint-python

refactor(server): use RESTful project trace deletion
  .agents/skills/phoenix-rest-api/references/endpoint-patterns.md
  js/app/src/api/__generated__/v1.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/projects.py
  src/phoenix/server/api/routers/v1/traces.py
  tests/integration/_helpers.py
  tests/unit/server/api/routers/v1/test_projects.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

refactor(datagen): trim runtime verification to its floor
  scripts/datagen/bank.py
  scripts/datagen/publish.py
  src/phoenix/datagen/__init__.py
  src/phoenix/datagen/composer.py
  src/phoenix/datagen/fetcher.py
  src/phoenix/datagen/loader.py
  src/phoenix/datagen/replayer.py
  src/phoenix/datagen/schema.py
  src/phoenix/server/cli/commands/datagen.py
  tests/unit/datagen/fixtures/scenario/fragments.jsonl
  tests/unit/datagen/fixtures/scenario/manifest.json
  tests/unit/datagen/fixtures/split_trace/fragments.jsonl
  tests/unit/datagen/fixtures/split_trace/manifest.json
  tests/unit/datagen/test_composer.py
  tests/unit/datagen/test_fetcher.py
  tests/unit/datagen/test_loader.py
  tests/unit/datagen/test_replayer.py
Due: format-python, lint-python

chore(main): release arize-phoenix-sqlean 0.1.1 (#15607)
  .release-please-manifest.json
  packages/phoenix-sqlean/CHANGELOG.md
  packages/phoenix-sqlean/setup.py
Due: format-python, lint-python

refactor(server): require bounded project trace deletion
  .agents/skills/phoenix-rest-api/references/endpoint-patterns.md
  js/app/src/api/__generated__/v1.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/traces.py
  tests/unit/server/api/routers/v1/test_projects.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

refactor(datagen): remove the cost plane and the batch lane
  scripts/datagen/README.md
  scripts/datagen/generate.py
  scripts/datagen/generation.py
  scripts/datagen/judgments.py
  scripts/datagen/openai_batch.py
  scripts/datagen/pricing.json
  scripts/datagen/scripted.py
  scripts/datagen/self_play.py
  tests/unit/datagen/test_codex_exec.py
  tests/unit/datagen/test_datagen_quality.py
  tests/unit/datagen/test_generation.py
  tests/unit/datagen/test_scripted_lane.py
  tests/unit/datagen/test_self_play.py
Due: format-python, lint-python

feat(online-evals): metrics tab on the evaluator details page (#15536)
  .github/workflows/python-CI.yml
  js/app/schema.graphql
  js/app/src/Routes.tsx
  js/app/src/components/annotation/__tests__/optimizationUtils.test.ts
  js/app/src/components/annotation/optimizationUtils.ts
  js/app/src/components/annotation/useProjectAnnotationConfigsByName.ts
  js/app/src/components/chart/AnnotationMetricsChart.tsx
  js/app/src/components/datetime/TimeRangeContext.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorDetailsPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorMetrics.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorMetrics_projectEvaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorDetailsLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/useProjectEvaluatorResultAnnotationsFragment.graphql.ts
  js/app/src/pages/project/evaluators/projectEvaluatorDetailsLoader.ts
  js/app/src/pages/project/evaluators/useProjectEvaluatorResultAnnotations.ts
  js/app/src/pages/project/metrics/ProjectAnnotationMetrics.tsx
  js/app/src/pages/project/metrics/ProjectMetricsPage.tsx
  js/app/src/pages/project/metrics/chartCatalog.tsx
  js/app/src/pages/project/metrics/metricsLayout.ts
  src/phoenix/server/api/types/Evaluator.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

refactor(datagen): one shared serialization module for the sidecar scripts
  scripts/datagen/fake_tools.py
  scripts/datagen/generation.py
  scripts/datagen/judgments.py
  scripts/datagen/seed_mechanics.py
  scripts/datagen/self_play.py
  scripts/datagen/serialization.py
  scripts/datagen/tool_agent.py
Due: format-python, lint-python

refactor(datagen): share the transcript hygiene names across the guards
  scripts/datagen/quality.py
  scripts/datagen/scripted.py
  scripts/datagen/self_play.py
  scripts/datagen/transcript.py
  tests/unit/datagen/test_scripted_lane.py
  tests/unit/datagen/test_self_play.py
Due: format-python, lint-python

fix(server): share bounded trace deletion between REST and clearProject
  docs.json
  docs/phoenix/llms.txt
  docs/phoenix/sdk-api-reference/rest-api/api-reference/traces/delete-traces-from-a-project.mdx
  js/app/src/api/__generated__/v1.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  schemas/openapi.json
  src/phoenix/server/api/mutations/project_mutations.py
  src/phoenix/server/api/routers/v1/traces.py
  src/phoenix/server/api/utils.py
  tests/unit/server/api/mutations/test_project_mutations.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

refactor(datagen): rename bank to scenario and enforce judged outcomes once
  scripts/datagen/generation.py
  scripts/datagen/judgments.py
  scripts/datagen/publish.py
  scripts/datagen/quality.py
  scripts/datagen/scenario.py
  tests/unit/datagen/test_datagen_quality.py
  tests/unit/datagen/test_generation.py
Due: format-python, lint-python

refactor(datagen): scenario vocabulary and one owner per publish check
  .github/workflows/datagen-assets.yml
  docs/phoenix/self-hosting/deployment-options/datagen.mdx
  scripts/datagen/README.md
  scripts/datagen/publish.py
Due: format-python, lint-python

style(datagen): format test_codex_exec.py
  tests/unit/datagen/test_codex_exec.py
Due: format-python, lint-python

refactor(datagen): default the destination project to phoenix-datagen
  src/phoenix/datagen/replayer.py
  src/phoenix/server/cli/commands/datagen.py
  tests/unit/datagen/test_replayer.py
Due: format-python, lint-python

refactor(datagen): zero-config replay with bundled or sole published scenario
  docker-compose.yml
  docs/phoenix/self-hosting/deployment-options/datagen.mdx
  helm/README.md
  helm/templates/datagen/deployment.yaml
  helm/values.yaml
  kustomize/datagen/deployment.yaml
  render.yaml
  scripts/datagen/README.md
  src/phoenix/datagen/assets/index.json
  src/phoenix/datagen/fetcher.py
  src/phoenix/datagen/loader.py
  src/phoenix/server/cli/commands/datagen.py
  tests/unit/datagen/test_fetcher.py
  tests/unit/server/cli/commands/test_datagen.py
Due: format-python, lint-python

refactor(datagen): drop the seven session-shape tuning flags
  src/phoenix/datagen/replayer.py
  src/phoenix/server/cli/commands/datagen.py
  tests/unit/datagen/test_replayer.py
  tests/unit/server/cli/commands/test_datagen.py
Due: format-python, lint-python

fix: round-trip annotation names in table sort column ids
  js/app/src/pages/project/__tests__/tableUtils.test.ts
  js/app/src/pages/project/tableUtils.ts
Due: oxfmt-js, oxlint-js

file to sample from nemotron dataset
  scripts/benchmarks/pii_detection/sample_nemotron.py
Due: format-python, lint-python

script for running benchmark
  js/benchmarks/evals-benchmarks/src/pii_detection.eval.ts
Due: oxfmt-js, oxlint-js

moved prompt to classification folder and removed session evaluators folder
  prompts/classification_evaluator_configs/PII_DETECTION_SESSION_EVALUATOR_CONFIG.yaml
Due: none

fixed: labels needed to be a list
  prompts/classification_evaluator_configs/PII_DETECTION_SESSION_EVALUATOR_CONFIG.yaml
Due: none

feat: move project evaluator gallery to full-page route
  js/app/src/Routes.tsx
  js/app/src/pages/project/evaluators/AddProjectEvaluatorMenu.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorSlideoverRoutes.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsEmptyState.tsx
  js/app/src/pages/project/evaluators/projectEvaluatorPaths.ts
  js/app/src/pages/project/index.tsx
Due: oxfmt-js, oxlint-js

feat: add project evaluator template gallery
  js/app/src/Routes.tsx
  js/app/src/pages/project/evaluators/CreateProjectEvaluatorSlideover.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorSlideoverRoutes.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsEmptyState.tsx
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorTemplatesQuery.graphql.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorTemplates.test.ts
  js/app/src/pages/project/evaluators/projectEvaluatorPaths.ts
  js/app/src/pages/project/evaluators/projectEvaluatorTemplates.ts
Due: oxfmt-js, oxlint-js

chore: refine project evaluator gallery
  js/app/src/pages/project/evaluators/ProjectEvaluatorsEmptyState.tsx
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorTemplates.test.ts
Due: oxfmt-js, oxlint-js

feat(evaluators): use gallery API metadata
  js/app/src/pages/project/evaluators/CreateProjectEvaluatorSlideover.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorSlideoverRoutes.tsx
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorTemplatesQuery.graphql.ts
  js/app/src/pages/project/evaluators/projectEvaluatorTemplates.ts
Due: oxfmt-js, oxlint-js

refactor(evaluators): remove unused template route
  js/app/src/Routes.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorSlideoverRoutes.tsx
  js/app/src/pages/project/evaluators/projectEvaluatorPaths.ts
Due: oxfmt-js, oxlint-js

fix(evaluators): refine gallery creation defaults
  js/app/src/Routes.tsx
  js/app/src/components/nav/NavBreadcrumb.tsx
  js/app/src/hooks/useMatchesWithCrumb.ts
  js/app/src/pages/project/evaluators/AddProjectEvaluatorMenu.tsx
  js/app/src/pages/project/evaluators/projectEvaluatorTemplates.ts
Due: oxfmt-js, oxlint-js

fix(evaluators): clarify gallery category heading
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
Due: oxfmt-js, oxlint-js

refactor: use shared components in evaluator gallery
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
Due: oxfmt-js, oxlint-js

refactor(evaluators): use links for gallery navigation
  js/app/src/components/core/empty/EmptyState.tsx
  js/app/src/pages/project/evaluators/AddProjectEvaluatorMenu.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsEmptyState.tsx
Due: oxfmt-js, oxlint-js

feat(evaluators): align gallery template metadata
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
  js/app/src/pages/project/evaluators/projectEvaluatorTemplates.ts
Due: oxfmt-js, oxlint-js

docs: guide frontend primitive selection
  .agents/skills/phoenix-frontend/references/components.md
Due: none

fix(evaluators): prevent badge reflow on category selection
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
Due: oxfmt-js, oxlint-js
