Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

oauth2: fall back to email local part when name claim is empty
  src/phoenix/server/api/routers/oauth2.py
Due: format-python, lint-python

ci: add weekly Claude docs gap audit workflow and skill
  .agents/skills/phoenix-docs-gap-audit/SKILL.md
  .github/workflows/claude-docs-gap-audit.yml
Due: none

chore(main): release arize-phoenix 14.2.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

chore: update phoenix version to 14.2.0 in kustomize and helm
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

docs: add weekly docs gap audit report for 2026-04-02 to 2026-04-09
  .agents/skills/phoenix-docs-gap-audit-workspace/gap-report-2026-04-09.md
Due: none

docs: fix v14 documentation gaps across 30 files
  docs.json
  docs/phoenix/cookbook/datasets-and-experiments/experiment-with-a-customer-support-agent.mdx
  docs/phoenix/cookbook/evaluation/evaluate-an-agent.mdx
  docs/phoenix/cookbook/evaluation/evaluate-rag.mdx
  docs/phoenix/cookbook/evaluation/openai-agents-sdk-cookbook.mdx
  docs/phoenix/cookbook/evaluation/relevance-classification-evaluation.mdx
  docs/phoenix/cookbook/human-in-the-loop-workflows-annotations/creating-a-custom-llm-evaluator-with-a-benchmark-dataset.mdx
  docs/phoenix/cookbook/human-in-the-loop-workflows-annotations/using-human-annotations-for-eval-driven-development.mdx
  docs/phoenix/cookbook/prompt-engineering/llm-as-a-judge-prompt-optimization.mdx
  docs/phoenix/cookbook/prompt-engineering/react-prompting.mdx
  docs/phoenix/cookbook/tracing/generating-synthetic-datasets-for-llm-evaluators-and-agents.mdx
  docs/phoenix/datasets-and-experiments/how-to-datasets/creating-datasets.mdx
  docs/phoenix/datasets-and-experiments/how-to-experiments/run-experiments-in-background.mdx
  docs/phoenix/datasets-and-experiments/quickstart-datasets.mdx
  docs/phoenix/evaluation/evals.mdx
  docs/phoenix/evaluation/typescript-quickstart.mdx
  docs/phoenix/integrations/llm-providers/amazon-bedrock/amazon-bedrock-evals.mdx
  docs/phoenix/integrations/llm-providers/anthropic/anthropic-evals.mdx
  docs/phoenix/integrations/llm-providers/litellm/litellm-evals.mdx
  docs/phoenix/integrations/llm-providers/openai/openai-evals.mdx
  docs/phoenix/integrations/llm-providers/vertexai/vertexai-evals.mdx
  docs/phoenix/integrations/python/pydantic/pydantic-evals.mdx
  docs/phoenix/release-notes.mdx
  docs/phoenix/release-notes/04-2026/04-07-2026-phoenix-v14-breaking-changes.mdx
  docs/phoenix/resources/frequently-asked-questions/how-do-i-resolve-phoenix-evals-showing-not_parsable.mdx
  docs/phoenix/sdk-api-reference/python/arize-phoenix-evals.mdx
  docs/phoenix/sdk-api-reference/typescript/arizeai-phoenix-cli.mdx
  docs/phoenix/self-hosting/features/authentication.mdx
  docs/phoenix/use-cases/rag-evaluation.mdx
  js/packages/phoenix-cli/README.md
Due: oxfmt-js

fix: remove stale TOOL_CALLING_PROMPT_RAILS_MAP import from react-prompting cookbook
  docs/phoenix/cookbook/prompt-engineering/react-prompting.mdx
Due: none

feat(sandbox): add Vercel Python support, Modal adapter, and shutdown teardown
  pyproject.toml
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/app.py
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/modal_backend.py
  src/phoenix/server/sandbox/vercel_backend.py
  tests/unit/server/sandbox/__init__.py
  tests/unit/server/sandbox/test_modal_backend.py
  tests/unit/server/sandbox/test_vercel_backend.py
  uv.lock
Due: format-python, lint-python, uv-lock-check

fix(sandbox): one adapter per language, correctness fixes, Vercel session support
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/api/types/SandboxConfig.py
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/daytona_backend.py
  src/phoenix/server/sandbox/deno_backend.py
  src/phoenix/server/sandbox/e2b_backend.py
  src/phoenix/server/sandbox/modal_backend.py
  src/phoenix/server/sandbox/sync.py
  src/phoenix/server/sandbox/types.py
  src/phoenix/server/sandbox/vercel_backend.py
  src/phoenix/server/sandbox/wasm_backend.py
  tests/unit/server/sandbox/test_vercel_backend.py
  uv.lock
Due: format-python, lint-python, uv-lock-check

chore(sandbox): normalize optional extra names for sandbox backends
  pyproject.toml
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/vercel_backend.py
  tests/unit/server/api/test_sandbox_queries.py
  tests/unit/server/sandbox/test_vercel_backend.py
Due: format-python, lint-python, uv-lock-check

fix(sandbox): update tests for one-adapter-per-language refactor
  pyproject.toml
  tests/unit/server/api/test_sandbox_queries.py
  tests/unit/server/api/test_sync.py
  tests/unit/server/api/test_wasm_backend.py
  tests/unit/server/sandbox/test_modal_backend.py
Due: format-python, lint-python, uv-lock-check

Fix vercel authentication
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/vercel_backend.py
  tests/unit/server/api/test_sandbox_queries.py
  tests/unit/server/sandbox/test_vercel_backend.py
Due: format-python, lint-python

fix: remove WebSocket support for GraphQL subscriptions, use HTTP multipart
  pyproject.toml
  requirements/unit-tests.txt
  src/phoenix/server/app.py
  tests/unit/conftest.py
  tests/unit/graphql.py
  tests/unit/server/api/test_subscriptions.py
  tests/unit/transport.py
  uv.lock
Due: format-python, lint-python, uv-lock-check

Add typescript adapter to vercel sandbox
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/vercel_backend.py
Due: format-python, lint-python

chore(main): release arize-phoenix 14.2.1
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

chore: update phoenix version to 14.2.1 in kustomize and helm
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

feat(sandbox): add Vercel Python support, Modal adapter, and shutdown teardown (#12519)
  pyproject.toml
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/api/types/SandboxConfig.py
  src/phoenix/server/app.py
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/daytona_backend.py
  src/phoenix/server/sandbox/deno_backend.py
  src/phoenix/server/sandbox/e2b_backend.py
  src/phoenix/server/sandbox/modal_backend.py
  src/phoenix/server/sandbox/sync.py
  src/phoenix/server/sandbox/types.py
  src/phoenix/server/sandbox/vercel_backend.py
  src/phoenix/server/sandbox/wasm_backend.py
  tests/unit/server/api/test_sandbox_queries.py
  tests/unit/server/api/test_sync.py
  tests/unit/server/api/test_wasm_backend.py
  tests/unit/server/sandbox/__init__.py
  tests/unit/server/sandbox/test_modal_backend.py
  tests/unit/server/sandbox/test_vercel_backend.py
  uv.lock
Due: format-python, lint-python, uv-lock-check

fix: preserve explicit empty dataset outputs and metadata
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
  packages/phoenix-client/tests/client/resources/datasets/test_empty_optional_lists.py
  src/phoenix/server/api/routers/v1/datasets.py
  tests/unit/server/api/routers/v1/test_datasets_empty_optional_lists.py
Due: format-python, lint-python

feat(sandbox): default config name to provider display name and language
  app/src/pages/settings/sandboxes/SandboxConfigDialog.tsx
Due: oxfmt-app, oxlint-app

cleanup provider selects
  app/src/pages/settings/sandboxes/SandboxConfigDialog.tsx
Due: oxfmt-app, oxlint-app

fix(sandbox): UI cleanup for code evaluator and sandbox settings
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
  app/src/pages/settings/sandboxes/SandboxProvidersCard.tsx
Due: oxfmt-app, oxlint-app

cleanup
  app/src/pages/settings/sandboxes/SandboxConfigDialog.tsx
Due: oxfmt-app, oxlint-app

cleanup
  .agents/skills/phoenix-docs-gap-audit-workspace/gap-report-2026-04-09.md
  docs/phoenix/cookbook/datasets-and-experiments/experiment-with-a-customer-support-agent.mdx
  docs/phoenix/cookbook/evaluation/code-readability-evaluation.mdx
  docs/phoenix/cookbook/evaluation/evaluate-an-agent.mdx
  docs/phoenix/cookbook/evaluation/evaluate-rag.mdx
  docs/phoenix/cookbook/evaluation/openai-agents-sdk-cookbook.mdx
Due: none

datasets: validate explicit empty outputs/metadata lists instead of skipping
  src/phoenix/server/api/routers/v1/datasets.py
Due: format-python, lint-python

feat(sandbox): typed config schema via per-adapter pydantic models with GraphQL ConfigFieldSpec exposure
  app/schema.graphql
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/mutations/sandbox_config_mutations.py
  src/phoenix/server/api/types/SandboxConfig.py
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/daytona_backend.py
  src/phoenix/server/sandbox/deno_backend.py
  src/phoenix/server/sandbox/e2b_backend.py
  src/phoenix/server/sandbox/modal_backend.py
  src/phoenix/server/sandbox/types.py
  src/phoenix/server/sandbox/vercel_backend.py
  src/phoenix/server/sandbox/wasm_backend.py
  tests/unit/server/api/mutations/test_code_evaluator_sandbox_mutations.py
  tests/unit/server/api/test_sandbox_config_validation.py
  tests/unit/server/api/test_sandbox_queries.py
  tests/unit/server/api/test_wasm_backend.py
Due: format-python, lint-python

feat(sandbox): typed config schema via per-adapter pydantic models with GraphQL ConfigFieldSpec exposure (#12523)
  app/schema.graphql
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/mutations/sandbox_config_mutations.py
  src/phoenix/server/api/types/SandboxConfig.py
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/daytona_backend.py
  src/phoenix/server/sandbox/deno_backend.py
  src/phoenix/server/sandbox/e2b_backend.py
  src/phoenix/server/sandbox/modal_backend.py
  src/phoenix/server/sandbox/types.py
  src/phoenix/server/sandbox/vercel_backend.py
  src/phoenix/server/sandbox/wasm_backend.py
  tests/unit/server/api/mutations/test_code_evaluator_sandbox_mutations.py
  tests/unit/server/api/test_sandbox_config_validation.py
  tests/unit/server/api/test_sandbox_queries.py
  tests/unit/server/api/test_wasm_backend.py
Due: format-python, lint-python

fix: Harden authFetch and add it to dataset upload path
  app/src/authFetch.ts
  app/src/pages/datasets/DatasetFromFileForm.tsx
Due: oxfmt-app, oxlint-app

docs: add ATIF trajectory import docs (Sphinx API ref + Mintlify user guide)
  docs.json
  docs/phoenix/tracing/how-to-tracing/importing-and-exporting-traces.mdx
  docs/phoenix/tracing/how-to-tracing/importing-and-exporting-traces/importing-atif-trajectories.mdx
  packages/phoenix-client/docs/source/api/helpers.rst
Due: none

cleanup
  docs.json
  docs/phoenix/datasets-and-experiments/how-to-experiments/run-experiments-in-background.mdx
Due: none

docs: remove PHOENIX_CLI_DANGEROUSLY_ENABLE_DELETES from public docs
  .agents/skills/phoenix-docs-gap-audit/SKILL.md
  docs/phoenix/sdk-api-reference/typescript/arizeai-phoenix-cli.mdx
  js/packages/phoenix-cli/README.md
Due: oxfmt-js

Re-export openinference-core from phoenix-otel
  docs/phoenix/sdk-api-reference/typescript/arizeai-openinference-core.mdx
  docs/phoenix/sdk-api-reference/typescript/arizeai-phoenix-otel.mdx
  docs/phoenix/sdk-api-reference/typescript/overview.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/experiments.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-otel/manual-spans.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-otel/overview.mdx
  docs/phoenix/tracing/how-to-tracing/add-metadata/customize-spans.mdx
  docs/phoenix/tracing/how-to-tracing/add-metadata/instrumenting-prompt-templates-and-prompt-variables.mdx
  docs/phoenix/tracing/how-to-tracing/setup-tracing/instrument.mdx
  docs/phoenix/tracing/how-to-tracing/setup-tracing/setup-sessions.mdx
  docs/phoenix/tracing/how-to-tracing/setup-tracing/setup-using-phoenix-otel.mdx
  docs/phoenix/tracing/tutorial/sessions.mdx
  js/packages/phoenix-otel/README.md
  js/packages/phoenix-otel/package.json
  js/packages/phoenix-otel/src/index.ts
  js/packages/phoenix-otel/src/openinference.ts
  js/packages/phoenix-otel/test/openinference.test.ts
  js/pnpm-lock.yaml
Due: oxfmt-js, oxlint-js

Fix phoenix-otel wrapper and dependency issues
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/experiments.mdx
  js/packages/phoenix-otel/package.json
  js/packages/phoenix-otel/src/openinference.ts
  js/packages/phoenix-otel/test/openinference.test.ts
  js/pnpm-lock.yaml
Due: oxfmt-js, oxlint-js

Add tracing helpers and context attributes docs for phoenix-otel
  docs.json
  docs/phoenix/sdk-api-reference/typescript/arizeai-phoenix-otel.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-otel/context-attributes.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-otel/overview.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-otel/tracing-helpers.mdx
  js/packages/phoenix-otel/README.md
  js/packages/phoenix-otel/package.json
  js/packages/phoenix-otel/test/openinference.test.ts
  js/pnpm-lock.yaml
Due: oxfmt-js, oxlint-js

Re-export @arizeai/openinference-semantic-conventions from phoenix-otel
  js/packages/phoenix-otel/src/index.ts
Due: oxfmt-js, oxlint-js

Import semantic conventions from phoenix-otel instead of direct dependency
  js/packages/phoenix-client/package.json
  js/packages/phoenix-client/src/experiments/resumeEvaluation.ts
  js/packages/phoenix-client/src/experiments/resumeExperiment.ts
  js/packages/phoenix-client/src/experiments/runExperiment.ts
  js/packages/phoenix-client/src/sessions/getSessionTurns.ts
  js/packages/phoenix-client/src/types/spans.ts
  js/packages/phoenix-client/test/experiments/resumeEvaluation.test.ts
  js/packages/phoenix-client/test/experiments/resumeExperiment.test.ts
  js/packages/phoenix-client/test/experiments/runExperimentTracing.test.ts
  js/pnpm-lock.yaml
Due: oxfmt-js, oxlint-js

Fix docs accuracy and add JSDoc for phoenix-otel public APIs
  docs/phoenix/sdk-api-reference/typescript/arizeai-openinference-core.mdx
  docs/phoenix/sdk-api-reference/typescript/arizeai-phoenix-otel.mdx
  docs/phoenix/sdk-api-reference/typescript/overview.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-otel/overview.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-otel/tracing-helpers.mdx
  docs/phoenix/tracing/how-to-tracing/add-metadata/customize-spans.mdx
  docs/phoenix/tracing/how-to-tracing/setup-tracing/setup-sessions.mdx
  docs/phoenix/tracing/how-to-tracing/setup-tracing/setup-using-phoenix-otel.mdx
  js/packages/phoenix-otel/package.json
  js/packages/phoenix-otel/src/config.ts
  js/packages/phoenix-otel/src/createNoOpProvider.ts
  js/packages/phoenix-otel/src/openinference.ts
  js/packages/phoenix-otel/src/register.ts
  js/packages/phoenix-otel/src/utils.ts
Due: oxfmt-js, oxlint-js

Use SemanticConventions.OPENINFERENCE_SPAN_KIND instead of hardcoded string
  js/packages/phoenix-otel/src/openinference.ts
Due: oxfmt-js, oxlint-js

fix(js): resolve lint, typecheck, and format CI failures
  js/packages/phoenix-client/test/experiments/resumeEvaluation.test.ts
  js/packages/phoenix-client/test/experiments/resumeExperiment.test.ts
  js/packages/phoenix-client/test/experiments/runExperimentTracing.test.ts
  js/packages/phoenix-otel/package.json
  js/packages/phoenix-otel/src/index.ts
Due: oxfmt-js, oxlint-js

cleanup
  js/packages/phoenix-otel/package.json
  js/packages/phoenix-otel/src/index.ts
  js/packages/phoenix-otel/src/openinference.ts
Due: oxfmt-js, oxlint-js

cleanup
  docs/phoenix/evaluation/preview.mdx
  js/packages/phoenix-otel/package.json
Due: oxfmt-js
