Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Fix CI: add packages/phoenix-evals to sparse-checkout for jobs that install local evals
  .github/workflows/python-CI.yml
  .github/workflows/python-all-platforms.yml
Due: none

Fix tox local evals install and regenerate uv.lock
  tox.ini
  uv.lock
Due: uv-lock-check

Remove legacy experiments module (now replaced by phoenix-client)
  packages/phoenix-client/src/phoenix/client/experiments/__init__.py
  scripts/data/generate_experiments.py
  scripts/experiments/generate_multipage_experiment_data.py
  src/phoenix/experiments/__init__.py
  src/phoenix/experiments/evaluators/__init__.py
  src/phoenix/experiments/evaluators/base.py
  src/phoenix/experiments/evaluators/code_evaluators.py
  src/phoenix/experiments/evaluators/llm_evaluators.py
  src/phoenix/experiments/evaluators/utils.py
  src/phoenix/experiments/functions.py
  src/phoenix/experiments/tracing.py
  src/phoenix/experiments/types.py
  src/phoenix/experiments/utils.py
  tests/integration/client/test_datasets.py
Due: format-python, lint-python

fix(experiments): fix lastError query failing on SQLite
  src/phoenix/server/api/dataloaders/last_experiment_errors.py
Due: format-python, lint-python

Remove legacy hallucination docs alias
  docs.json
  docs/phoenix/evaluation/pre-built-metrics/faithfulness.mdx
  docs/phoenix/evaluation/pre-built-metrics/hallucination.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-evals/built-in-metrics.mdx
  docs/phoenix/sitemap.xml
  docs/sitemap.xml
  sitemap.xml
Due: none

refine bundled TypeScript package docs
  docs.json
  docs/phoenix/sdk-api-reference/typescript/arizeai-phoenix-client.mdx
  docs/phoenix/sdk-api-reference/typescript/arizeai-phoenix-evals.mdx
  docs/phoenix/sdk-api-reference/typescript/arizeai-phoenix-otel.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/configuration.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/overview.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-evals/installation.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-evals/overview.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-evals/phoenix-integration.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-otel/configuration.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-otel/installation.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-otel/overview.mdx
Due: none

Fixing broken card links
  .github/.scripts/check-card-links.js
  .github/workflows/check-card-links.yml
  docs.json
  docs/phoenix.mdx
  docs/phoenix/integrations/llm-providers/anthropic.mdx
  docs/phoenix/integrations/python/dspy.mdx
  docs/phoenix/prompt-engineering/overview-prompts.mdx
  docs/phoenix/quickstart.mdx
  docs/phoenix/release-notes.mdx
  docs/phoenix/release-notes/01-2026/01-21-2026-create-datasets-from-traces.mdx
  docs/phoenix/release-notes/04-2025/04-15-2025-display-tool-call-and-result-ids-in-span-details.mdx
  docs/phoenix/resources/frequently-asked-questions/braintrust-open-source-alternative-llm-evaluation-platform-comparison.mdx
Due: none

Fixing check
  .github/.scripts/check-card-links.js
Due: none

docs: address PR review comments on release notes
  docs.json
  docs/phoenix/release-notes.mdx
  docs/phoenix/release-notes/03-2026/03-26-2026-agent-session-switcher-and-project-creation.mdx
  docs/phoenix/release-notes/03-2026/03-26-2026-project-creation.mdx
  docs/phoenix/release-notes/03-2026/03-30-2026-delete-prompts-api.mdx
  docs/phoenix/release-notes/2026.mdx
Due: none

fix(experiments): filter errors by level, rename ExperimentError to ExperimentLog
  app/schema.graphql
  app/src/pages/experiments/__generated__/ExperimentDetailsDialogQuery.graphql.ts
  scripts/ddl/postgresql_schema.sql
  src/phoenix/db/migrations/versions/aba52fffe1a1_add_experiment_jobs.py
  src/phoenix/db/models.py
  src/phoenix/server/api/dataloaders/last_experiment_errors.py
  src/phoenix/server/api/helpers/playground_clients.py
  src/phoenix/server/api/types/ExperimentJob.py
  src/phoenix/server/api/types/ExperimentLog.py
  tests/unit/server/api/types/test_ExperimentJob.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

Fixing more broken links
  docs/phoenix/integrations/python/llamaindex.mdx
  docs/phoenix/release-notes/05-2025/05-20-2025-datasets-and-experiment-evaluations-in-the-js-client.mdx
Due: none

Adding spelling
  styles/config/vocabularies/Mintlify/accept.txt
  styles/config/vocabularies/Mintlify/reject.txt
Due: none

Adding styles path
  .vale.ini
Due: none

docs: remove 03-26 release note from PR
  docs.json
  docs/phoenix/release-notes.mdx
  docs/phoenix/release-notes/03-2026/03-26-2026-project-creation.mdx
  docs/phoenix/release-notes/2026.mdx
Due: none

clarify phoenix-client docs
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/configuration.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/span-annotations.mdx
Due: none

expand phoenix-client experiments docs
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/experiments.mdx
Due: none

update phoenix-otel package docs
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-otel/configuration.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-otel/overview.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-otel/register.mdx
  js/.changeset/tidy-manual-lifecycle-example.md
  js/packages/phoenix-otel/examples/global_provider_lifecycle_example.ts
Due: oxfmt-js, oxlint-js

improve phoenix-otel docs: production config, openinference-core helpers
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-otel/configuration.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-otel/manual-spans.mdx
  js/.changeset/tidy-manual-lifecycle-example.md
  js/packages/phoenix-otel/examples/manual_spans_example.ts
Due: oxfmt-js, oxlint-js

recommend openinference-core as first-class pairing with phoenix-otel
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-otel/configuration.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-otel/manual-spans.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-otel/overview.mdx
Due: none

clarify API key env var is a placeholder
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/configuration.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-otel/configuration.mdx
Due: none

cleanup
  js/packages/phoenix-cli/test/self.test.ts
  js/packages/phoenix-otel/examples/manual_spans_example.ts
Due: oxfmt-js, oxlint-js

consolidate TypeScript package docs for fewer nav pages
  docs.json
  docs/phoenix/sdk-api-reference/typescript/arizeai-phoenix-client.mdx
  docs/phoenix/sdk-api-reference/typescript/arizeai-phoenix-evals.mdx
  docs/phoenix/sdk-api-reference/typescript/arizeai-phoenix-otel.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/api-client.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/configuration.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/overview.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-evals/built-in-metrics.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-evals/code-evaluators.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-evals/create-evaluator.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-evals/llm-evaluators.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-evals/overview.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-otel/configuration.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-otel/instrumentation.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-otel/overview.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-otel/projects-and-auth.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-otel/register.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-otel/troubleshooting.mdx
Due: none

fix stale skill example and ADK wording in coding-agents docs
  .agents/skills/phoenix-typescript-package-docs/SKILL.md
  docs/phoenix/integrations/developer-tools/coding-agents.mdx
Due: none

clarify identifier upsert semantics in annotation docs
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/session-annotations.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/span-annotations.mdx
Due: none

clarify span notes as append-only and useful for open coding
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/span-annotations.mdx
Due: none

fix: start PostgreSQL sequences at min int32 to maximize ID space
  src/phoenix/db/migrations/versions/cf03bd6bae1d_init.py
Due: format-python, lint-python

remove redirect changes to simplify deployment
  docs.json
Due: none

add npm version badges to top-level TypeScript SDK pages
  docs/phoenix/sdk-api-reference/typescript/arizeai-phoenix-client.mdx
  docs/phoenix/sdk-api-reference/typescript/arizeai-phoenix-evals.mdx
  docs/phoenix/sdk-api-reference/typescript/arizeai-phoenix-otel.mdx
Due: none

chore: update sitemap.xml
  docs/phoenix/sitemap.xml
  sitemap.xml
Due: none

fix(ci): pin changesets/action to commit with cwd fix
  .github/workflows/typescript-packages-publish.yml
Due: none

fix(ci): work around changesets/action#501 cwd bug in v1.7.0
  .github/workflows/typescript-packages-publish.yml
Due: none

fix(ci): downgrade changesets/action to v1.5.2 for working cwd support
  .github/workflows/typescript-packages-publish.yml
Due: none

fix(ci): use absolute cwd for changesets publish
  .github/workflows/typescript-packages-publish.yml
Due: none

fix: remove openinference dependency from migration
  src/phoenix/db/migrations/versions/3be8647b87d8_add_token_columns_to_spans_table.py
Due: format-python, lint-python

fix(app): fix broken Playground button in prompts table
  app/src/pages/prompts/PromptsTable.tsx
Due: oxfmt-app, oxlint-app

chore(main): release arize-phoenix 13.23.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

chore: update phoenix version to 13.23.0 in kustomize and helm
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

fix(sandbox): remove re-introduced chat completion mutations, fix evaluator bugs
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/mutations/chat_mutations.py
Due: format-python, lint-python

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
