Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs(prompts): document provider passthrough tools and add seed script
  docs.json
  docs/phoenix/prompt-engineering/concepts-prompts/prompts-concepts.mdx
  docs/phoenix/prompt-engineering/how-to-prompts/use-provider-tools.mdx
  scripts/README.md
  scripts/seed_vendor_tool_spans.py
Due: format-python, lint-python

docs(rest-api): clarify missing-key contract on cumulative token helpers
  src/phoenix/server/api/helpers/cumulative_token_count_queries.py
Due: format-python, lint-python

chore: update sitemap.xml (#12978)
  docs/phoenix/sitemap.xml
  sitemap.xml
Due: none

Allow slack links
  .github/.scripts/check-card-links.js
Due: none

Allow slack links (#12980)
  .github/.scripts/check-card-links.js
Due: none

test(evals): cover ToolBypassEvaluator in classification suite
  packages/phoenix-evals/src/phoenix/evals/metrics/tool_bypass.py
  packages/phoenix-evals/tests/phoenix/evals/metrics/test_classification_evaluators.py
Due: format-python, lint-python

feat(evals): tighten prompt-message handling and add adapter tests (#12838)
  packages/phoenix-evals/src/phoenix/evals/llm/adapters/anthropic/adapter.py
  packages/phoenix-evals/src/phoenix/evals/llm/adapters/google/adapter.py
  packages/phoenix-evals/src/phoenix/evals/llm/adapters/langchain/adapter.py
  packages/phoenix-evals/src/phoenix/evals/llm/adapters/litellm/adapter.py
  packages/phoenix-evals/src/phoenix/evals/llm/adapters/openai/adapter.py
  packages/phoenix-evals/src/phoenix/evals/llm/prompts.py
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/anthropic/__init__.py
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/anthropic/test_build_messages.py
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/google/__init__.py
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/google/test_build_content.py
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/langchain/__init__.py
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/langchain/test_build_prompt.py
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/litellm/test_build_messages.py
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/openai/test_build_messages.py
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/openai/test_system_role.py
  packages/phoenix-evals/tests/phoenix/evals/llm/test_prompts.py
Due: format-python, lint-python

add data analysis notebook and report
  alyx-data/docs/data-schema.md
  alyx-data/docs/general-analysis-2026-05-01.md
  alyx-data/notebooks/stage2-analysis.ipynb
  alyx-data/pyproject.toml
  alyx-data/src/analysis/__init__.py
  alyx-data/src/analysis/detectors.py
  alyx-data/src/analysis/loaders.py
  alyx-data/src/analysis/plots.py
Due: format-python, lint-python, clean-notebooks, uv-lock-check

Remove built-in PairwiseQualityEvaluator from this PR
  js/packages/phoenix-evals/README.md
  js/packages/phoenix-evals/src/__generated__/default_templates/PAIRWISE_QUALITY_EVALUATOR_CONFIG.ts
  js/packages/phoenix-evals/src/__generated__/default_templates/index.ts
  js/packages/phoenix-evals/src/__generated__/types.ts
  js/packages/phoenix-evals/src/llm/createPairwiseQualityEvaluator.ts
  js/packages/phoenix-evals/src/llm/index.ts
  js/packages/phoenix-evals/test/llm/PairwiseEvaluator.test.ts
  packages/phoenix-evals/README.md
  packages/phoenix-evals/src/phoenix/evals/__generated__/pairwise_evaluator_configs/__init__.py
  packages/phoenix-evals/src/phoenix/evals/__generated__/pairwise_evaluator_configs/_models.py
  packages/phoenix-evals/src/phoenix/evals/__generated__/pairwise_evaluator_configs/_pairwise_quality_evaluator_config.py
  packages/phoenix-evals/src/phoenix/evals/metrics/__init__.py
  packages/phoenix-evals/src/phoenix/evals/metrics/pairwise_quality.py
  packages/phoenix-evals/tests/phoenix/evals/test_pairwise_evaluator.py
  skills/phoenix-evals/rules/evaluators-pre-built.md
Due: format-python, lint-python, oxfmt-js, oxlint-js

Fix CI failures from main merge
  js/packages/phoenix-evals/src/aggregation.ts
  packages/phoenix-evals/src/phoenix/evals/evaluators.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

Apply oxfmt to pairwise files
  js/packages/phoenix-evals/README.md
  js/packages/phoenix-evals/src/aggregation.ts
  js/packages/phoenix-evals/src/llm/PairwiseEvaluator.ts
  js/packages/phoenix-evals/src/llm/createPairwiseEvaluator.ts
  js/packages/phoenix-evals/src/types/evals.ts
  js/packages/phoenix-evals/test/llm/PairwiseEvaluator.test.ts
  js/packages/phoenix-evals/test/llm/generateClassification.test.ts
Due: oxfmt-js, oxlint-js

feat: add TanStack AI tracing integration
  app/src/components/project/IntegrationIcons.tsx
  app/src/components/project/integrationSnippets/index.ts
  app/src/components/project/integrationSnippets/tanstackAi.ts
  app/src/pages/project/integrationRegistry.tsx
  docs.json
  docs/phoenix/integrations.mdx
  docs/phoenix/integrations/typescript/tanstack-ai.mdx
  docs/phoenix/integrations/typescript/tanstack-ai/tanstack-ai-tracing.mdx
  docs/phoenix/llms.txt
  docs/phoenix/release-notes.mdx
  docs/phoenix/release-notes/05-2026/05-01-2026-tanstack-ai-tracing.mdx
Due: oxfmt-app, oxlint-app

feat: add TanStack AI tracing integration (#12984)
  app/src/components/project/IntegrationIcons.tsx
  app/src/components/project/integrationSnippets/index.ts
  app/src/components/project/integrationSnippets/tanstackAi.ts
  app/src/pages/project/integrationRegistry.tsx
  docs.json
  docs/phoenix/integrations.mdx
  docs/phoenix/integrations/typescript/tanstack-ai.mdx
  docs/phoenix/integrations/typescript/tanstack-ai/tanstack-ai-tracing.mdx
  docs/phoenix/llms.txt
  docs/phoenix/release-notes.mdx
  docs/phoenix/release-notes/05-2026/05-01-2026-tanstack-ai-tracing.mdx
Due: oxfmt-app, oxlint-app

chore: update sitemap.xml
  docs/phoenix/sitemap.xml
  sitemap.xml
Due: none

fix(sandbox): close mutation surface gaps and eliminate read-side N+1
  app/schema.graphql
  app/src/pages/settings/sandboxes/DeleteSandboxConfigButton.tsx
  src/phoenix/server/api/context.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/evaluator_by_id.py
  src/phoenix/server/api/dataloaders/sandbox_provider_by_id.py
  src/phoenix/server/api/mutations/evaluator_mutations.py
  src/phoenix/server/api/mutations/sandbox_config_mutations.py
  src/phoenix/server/api/types/Evaluator.py
  src/phoenix/server/api/types/SandboxConfig.py
  src/phoenix/server/app.py
  tests/unit/server/api/dataloaders/test_evaluator_by_id.py
  tests/unit/server/api/dataloaders/test_sandbox_provider_by_id.py
  tests/unit/server/api/mutations/test_code_evaluator_sandbox_mutations.py
  tests/unit/server/api/mutations/test_sandbox_cache_invalidation.py
  tests/unit/server/api/mutations/test_sandbox_config_mutations.py
  tests/unit/server/api/mutations/test_sandbox_credential_mutations.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix(sandbox): regenerate stale Relay artifacts for sandbox mutations
  app/src/pages/settings/sandboxes/__generated__/DeleteSandboxConfigButtonDeleteSandboxConfigMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigDialogUpdateSandboxConfigMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigsCardConfigEnabledSwitchMutation.graphql.ts
Due: oxfmt-app, oxlint-app

fix(api): serialize experiment CSV metadata
  src/phoenix/server/api/routers/v1/experiments.py
  tests/unit/server/api/routers/v1/test_experiments.py
Due: format-python, lint-python

fix: replace crypto.randomUUID with a context-safe fallback (#12987) (#12988)
  app/src/agent/context/useAdvertiseAgentContext.ts
  app/src/components/agent/useGenerateSessionSummary.ts
  app/src/store/agentStore.ts
  app/src/utils/__tests__/uuidUtils.test.ts
  app/src/utils/uuidUtils.ts
Due: oxfmt-app, oxlint-app

revert(test): restore test_chat.py to pre-SSRF-fix state
  tests/unit/server/api/routers/test_chat.py
Due: format-python, lint-python

fix(agents): drop user-supplied connection params from /chat (SSRF) (#12974)
  src/phoenix/server/agents/chat_params.py
  src/phoenix/server/agents/model_factory.py
Due: format-python, lint-python

chore: update sitemap.xml (#12985)
  docs/phoenix/sitemap.xml
  sitemap.xml
Due: none

chore(main): release arize-phoenix 15.2.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

chore(main): release arize-phoenix 15.2.0 (#12956)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

chore: update phoenix version to 15.2.0 in kustomize and helm
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

feat: refine PXI chat empty state
  app/package.json
  app/pnpm-lock.yaml
  app/src/components/agent/Chat.tsx
  app/src/components/agent/PxiShaderGlyph.tsx
  app/src/components/agent/PxiShaderGlyphDark.tsx
  app/src/components/agent/PxiShaderGlyphLight.tsx
  app/src/components/agent/PxiSquareGlyph.tsx
Due: oxfmt-app, oxlint-app

feat: final CSS/bugfix pass on chat sidebar empty state
  app/src/GlobalStyles.tsx
  app/src/components/agent/AgentChatPanelView.tsx
  app/src/components/agent/Chat.tsx
  app/src/components/agent/PxiShaderGlyph.tsx
  app/src/components/agent/PxiShaderGlyphDark.tsx
  app/src/components/agent/PxiShaderGlyphLight.tsx
  app/src/components/agent/PxiSquareGlyph.tsx
Due: oxfmt-app, oxlint-app

fix: restore empty state to chat background transition that was axed by reduced motion settings
  app/src/components/agent/Chat.tsx
Due: oxfmt-app, oxlint-app

feat: responsive empty state with less fanfare
  app/src/components/agent/Chat.tsx
Due: oxfmt-app, oxlint-app

fix: hide chat empty-state glyph only in row layout
  app/src/components/agent/Chat.tsx
Due: oxfmt-app, oxlint-app

feat: extract and simplify lantern fx
  app/src/components/agent/Chat.tsx
  app/src/components/agent/ChatLantern.tsx
Due: oxfmt-app, oxlint-app

feat: remove unused variants of shader SVG, clearer naming
  app/src/components/agent/PxiShaderGlyphDark.tsx
  app/src/components/agent/PxiShaderGlyphLight.tsx
  app/src/components/agent/PxiShaderSVG.tsx
  app/src/components/agent/PxiSquareGlyph.tsx
Due: oxfmt-app, oxlint-app

feat: chat empty state extraction and boundary cleanup
  app/src/components/agent/Chat.tsx
  app/src/components/agent/ChatEmptyState.tsx
Due: oxfmt-app, oxlint-app

wip: deslop refactor of chat empty state
  app/src/GlobalStyles.tsx
  app/src/components/agent/ChatEmptyState.tsx
Due: oxfmt-app, oxlint-app

wip: break up shader hero and empty state
  app/src/components/agent/Chat.tsx
  app/src/components/agent/ChatEmptyShaderHero.tsx
  app/src/components/agent/ChatEmptyState.tsx
Due: oxfmt-app, oxlint-app

fix: restore responsive shader heights
  app/src/components/agent/ChatEmptyShaderHero.tsx
Due: oxfmt-app, oxlint-app

chore: fmt
  app/src/components/agent/Chat.tsx
  app/src/components/agent/ChatEmptyShaderHero.tsx
  app/src/components/agent/ChatEmptyState.tsx
  app/src/components/agent/ChatLantern.tsx
  app/src/components/agent/PxiShaderGlyph.tsx
  app/src/components/agent/PxiShaderGlyphDark.tsx
  app/src/components/agent/PxiShaderGlyphLight.tsx
  app/src/components/agent/PxiShaderSVG.tsx
Due: oxfmt-app, oxlint-app

chore(uv): exempt arize-phoenix-* packages from exclude-newer window
  pyproject.toml
  uv.lock
Due: uv-lock-check

fix(uv): use UTC timestamps in exclude-newer-package overrides
  pyproject.toml
  uv.lock
Due: uv-lock-check

chore(uv): exempt arize-phoenix-* packages from exclude-newer window (#12992)
  pyproject.toml
  uv.lock
Due: uv-lock-check

docs: Audit and update llms.txt (#12918)
  docs/phoenix/llms.txt
Due: none

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
