Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

chore: update sitemap.xml (#11863)
  docs/phoenix/sitemap.xml
  sitemap.xml
Due: none

chore(main): release arize-phoenix 13.8.0 (#11843)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

docs(helm): add PHOENIX_LOG_SQL and brute force protection settings
  docs/phoenix/self-hosting/configuration.mdx
  docs/phoenix/self-hosting/features/authentication.mdx
  helm/templates/phoenix/configmap.yaml
  helm/values.yaml
Due: none

docs: clarify brute force protection defaults
  docs/phoenix/self-hosting/features/authentication.mdx
Due: none

docs(helm): add PHOENIX_LOG_SQL and brute force protection settings (#11866)
  docs/phoenix/self-hosting/configuration.mdx
  docs/phoenix/self-hosting/features/authentication.mdx
  helm/templates/phoenix/configmap.yaml
  helm/values.yaml
Due: none

docs: add Aurora write forwarding compatibility analysis
  internal_docs/vignettes/postgresql/aurora-write-forwarding-analysis.md
Due: none

docs: add advisory lock analysis for migration serialization
  internal_docs/vignettes/postgresql/advisory-lock-analysis.md
Due: none

ci: fix vite optimizeDeps.rollupOptions deprecation warning
  app/package.json
  app/pnpm-lock.yaml
Due: oxfmt-app

feat: Add FileInput, DropOverlay, and DropZone components
  app/src/components/dropzone/DropOverlay.tsx
  app/src/components/dropzone/DropZone.tsx
  app/src/components/dropzone/FileInput.tsx
  app/src/components/dropzone/index.tsx
  app/src/components/dropzone/styles.ts
  app/src/components/dropzone/types.ts
  app/src/components/select/styles.ts
  app/src/pages/datasets/DatasetFromFileForm.tsx
  app/stories/FileDropZone.stories.tsx
Due: oxfmt-app, oxlint-app

refactor(styles): update dropOverlayCSS background color for improved visibility
  app/src/components/dropzone/styles.ts
Due: oxfmt-app, oxlint-app

review fixes
  app/src/pages/datasets/DatasetFromFileForm.tsx
  app/src/utils/csvUtils.ts
  app/tests/dataset-file-upload.spec.ts
Due: oxfmt-app, oxlint-app

fix tests
  app/src/pages/datasets/DatasetFromFileForm.tsx
  app/src/utils/__tests__/csvUtils.test.ts
  app/tests/dataset-file-upload.spec.ts
Due: oxfmt-app, oxlint-app

tweak label
  app/src/pages/datasets/DatasetFromFileForm.tsx
Due: oxfmt-app, oxlint-app

feat(ui): filetype-agnostic dataset upload (#11832)
  .gitignore
  app/src/components/dataset/DatasetForm.tsx
  app/src/components/dialog/Dialog.tsx
  app/src/components/dropzone/DropOverlay.tsx
  app/src/components/dropzone/DropZone.tsx
  app/src/components/dropzone/FileInput.tsx
  app/src/components/dropzone/FileListItem.tsx
  app/src/components/dropzone/index.tsx
  app/src/components/dropzone/styles.ts
  app/src/components/dropzone/types.ts
  app/src/components/select/styles.ts
  app/src/pages/datasets/ColumnMultiSelector.tsx
  app/src/pages/datasets/DatasetFromCSVForm.tsx
  app/src/pages/datasets/DatasetFromFileForm.tsx
  app/src/pages/datasets/DatasetFromJSONLForm.tsx
  app/src/pages/datasets/NewDatasetActionMenu.tsx
  app/src/utils/__tests__/csvUtils.test.ts
  app/src/utils/__tests__/jsonlUtils.test.ts
  app/src/utils/csvUtils.ts
  app/src/utils/jsonlUtils.ts
  app/stories/FileDropZone.stories.tsx
  app/tests/dataset-file-upload.spec.ts
  app/tests/fixtures/quoted-headers.csv
  app/tests/fixtures/simple.csv
  app/tests/fixtures/simple.jsonl
  app/tests/fixtures/varied-keys.jsonl
Due: oxfmt-app, oxlint-app

fix(playground): handle eval exceptions and include repetition_number in errors
  src/phoenix/server/api/subscriptions.py
Due: format-python, lint-python

ci: fix vite optimizeDeps.rollupOptions deprecation warning (#11870)
  app/package.json
  app/pnpm-lock.yaml
Due: oxfmt-app

perf(db): use bulk inserts for dataset example creation
  src/phoenix/db/insertion/dataset.py
Due: format-python, lint-python

fix: add batching to bulk_assign_examples_to_splits and dedup+batching to resolve_span_ids_to_rowids
  src/phoenix/db/insertion/dataset.py
  tests/unit/db/insertion/test_dataset.py
Due: format-python, lint-python

playground refactor first commit
  app/src/pages/playground/PlaygroundChatTemplate.tsx
  app/src/pages/playground/PlaygroundChatTemplateFooter.tsx
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  app/src/pages/playground/PlaygroundDatasetExamplesTableContext.tsx
  app/src/pages/playground/PlaygroundTemplate.tsx
  app/src/pages/playground/PlaygroundTool.tsx
  app/src/pages/playground/PlaygroundTools.tsx
  app/src/pages/playground/UpsertPromptFromTemplateDialog.tsx
  app/src/store/playground/playgroundStore.tsx
  app/src/store/playground/selectors.ts
  app/src/store/playground/types.ts
Due: oxfmt-app, oxlint-app

fix(playground): persist partial eval tracer spans on evaluator exception
  src/phoenix/server/api/subscriptions.py
Due: format-python, lint-python

fix(playground): handle eval exceptions and include repetition_number in errors (#11871)
  src/phoenix/server/api/subscriptions.py
Due: format-python, lint-python

perf(db): use bulk inserts for dataset example creation (#11856)
  src/phoenix/db/insertion/dataset.py
  tests/unit/db/insertion/test_dataset.py
Due: format-python, lint-python

chore: update phoenix version to 13.8.0 in kustomize and helm
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

chore: update phoenix version to 13.8.0 in kustomize and helm (#11874)
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

migration
  scripts/ddl/postgresql_schema.sql
  src/phoenix/db/migrations/versions/575aa27302ee_add_external_id_and_content_hash_to_.py
  src/phoenix/db/models.py
Due: format-python, lint-python

Add Deno quickstart notebook for Phoenix agent trajectory evals
  js/examples/notebooks/deno_agent_trajectory_evals_quickstart.ipynb
Due: clean-notebooks

feat(phoenix-client): add getSession and listSessions APIs
  js/packages/phoenix-client/src/sessions/getSession.ts
  js/packages/phoenix-client/src/sessions/index.ts
  js/packages/phoenix-client/src/sessions/listSessions.ts
  js/packages/phoenix-client/src/types/sessions.ts
  js/packages/phoenix-client/test/sessions/getSession.test.ts
  js/packages/phoenix-client/test/sessions/listSessions.test.ts
Due: oxfmt-js, oxlint-js

refactor(phoenix-client): remove order parameter from listSessions
  js/packages/phoenix-client/src/sessions/listSessions.ts
  js/packages/phoenix-client/test/sessions/listSessions.test.ts
Due: oxfmt-js, oxlint-js

feat(client): add session retrieval methods to Python client SDK
  packages/phoenix-client/src/phoenix/client/resources/sessions/__init__.py
Due: format-python, lint-python

docs(phoenix-client): add TSDoc comments to session types and getSession
  js/packages/phoenix-client/src/sessions/getSession.ts
  js/packages/phoenix-client/src/types/sessions.ts
Due: oxfmt-js, oxlint-js

Remove unused notebook declarations and keep Deno metadata
  js/examples/notebooks/deno_agent_trajectory_evals_quickstart.ipynb
Due: clean-notebooks

test(client): add tests for session retrieval methods
  packages/phoenix-client/tests/client/resources/sessions/__init__.py
  packages/phoenix-client/tests/client/resources/sessions/test_sessions.py
Due: format-python, lint-python

refactor(phoenix-client): extract toSession converter and add ProjectIdentifier union
  js/.changeset/project-identifier-union.md
  js/.changeset/sessions-api.md
  js/packages/phoenix-client/src/sessions/getSession.ts
  js/packages/phoenix-client/src/sessions/listSessions.ts
  js/packages/phoenix-client/src/sessions/sessionUtils.ts
  js/packages/phoenix-client/src/types/sessions.ts
  js/packages/phoenix-client/test/sessions/listSessions.test.ts
Due: oxfmt-js, oxlint-js

refactor(phoenix-client): unify ProjectSelector and ProjectIdentifier into shared type
  js/packages/phoenix-client/src/sessions/listSessions.ts
  js/packages/phoenix-client/src/spans/getSpanAnnotations.ts
  js/packages/phoenix-client/src/spans/getSpans.ts
  js/packages/phoenix-client/src/types/projects.ts
  js/packages/phoenix-client/src/types/sessions.ts
Due: oxfmt-js, oxlint-js

fix(phoenix-client): propagate API errors in getSession and listSessions
  js/packages/phoenix-client/src/sessions/getSession.ts
  js/packages/phoenix-client/src/sessions/listSessions.ts
Due: oxfmt-js, oxlint-js

fix: use batch_alter_table in migration for SQLite compatibility
  src/phoenix/db/migrations/versions/575aa27302ee_add_external_id_and_content_hash_to_.py
Due: format-python, lint-python

clean
  src/phoenix/db/migrations/versions/575aa27302ee_add_external_id_and_content_hash_to_.py
Due: format-python, lint-python

feat(phoenix-client): add getSession and listSessions APIs (#11878)
  js/.changeset/project-identifier-union.md
  js/.changeset/sessions-api.md
  js/packages/phoenix-client/src/sessions/getSession.ts
  js/packages/phoenix-client/src/sessions/index.ts
  js/packages/phoenix-client/src/sessions/listSessions.ts
  js/packages/phoenix-client/src/sessions/sessionUtils.ts
  js/packages/phoenix-client/src/spans/getSpanAnnotations.ts
  js/packages/phoenix-client/src/spans/getSpans.ts
  js/packages/phoenix-client/src/types/projects.ts
  js/packages/phoenix-client/src/types/sessions.ts
  js/packages/phoenix-client/test/sessions/getSession.test.ts
  js/packages/phoenix-client/test/sessions/listSessions.test.ts
Due: oxfmt-js, oxlint-js

fix: drop indexes before dropping columns in migration downgrade for SQLite
  src/phoenix/db/migrations/versions/575aa27302ee_add_external_id_and_content_hash_to_.py
Due: format-python, lint-python

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
