Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs: make onboarding snippet's fallback line context-neutral
  docs/snippets/agent-assisted-onboarding.mdx
Due: none

docs: require unconditional trajectory and session identity injection
  internal_docs/specs/harbor-phoenix-plugin.md
Due: none

docs: correct skills claim in onboarding snippet (px setup installs them optionally)
  docs/snippets/agent-assisted-onboarding.mdx
Due: none

fix(db): apply SQLite pragmas to the migration connection
  src/phoenix/db/engines.py
  tests/unit/db/test_engines.py
Due: format-python, lint-python

fix(db): let PHOENIX_LOG_SQL reach SQLite reads
  src/phoenix/db/engines.py
  src/phoenix/server/cli/commands/serve.py
Due: format-python, lint-python

perf(db): give SQLite reads their own connection pool (#15075)
  evals/pxi/harness/agent_task.py
  src/phoenix/db/engines.py
  src/phoenix/server/app.py
  src/phoenix/server/cli/commands/serve.py
  src/phoenix/server/types.py
  tests/unit/conftest.py
  tests/unit/db/test_engines.py
  tests/unit/server/api/mutations/test_code_evaluator_sandbox_mutations.py
Due: format-python, lint-python

chore(main): release arize-phoenix-evals 3.4.0
  .release-please-manifest.json
  packages/phoenix-evals/CHANGELOG.md
  packages/phoenix-evals/pyproject.toml
Due: uv-lock-check

fix(dsl): type the element scope the span grain declares strict
  src/phoenix/trace/dsl/filter.py
Due: format-python, lint-python

test(dsl): pin the element dialect, the subquery alias, and NULL reductions
  tests/unit/trace/dsl/test_filter_span_cost.py
  tests/unit/trace/dsl/test_filter_spec_conformance.py
Due: format-python, lint-python

feat(app): offer every span cost member in the filter typeahead
  app/src/pages/project/spanFilterDSL.ts
Due: oxfmt-app, oxlint-app

docs(dsl): correct the break's spelling and document the element dialect
  internal_docs/specs/span-filter-dsl.md
Due: none

chore: update sitemap.xml
  docs/phoenix/sitemap.xml
  sitemap.xml
Due: none

chore: update skill
  .agents/skills/phoenix-github/SKILL.md
  .agents/skills/phoenix-github/scripts/_board.py
  .agents/skills/phoenix-github/scripts/board.json
  .agents/skills/phoenix-github/scripts/health.py
  .agents/skills/phoenix-github/scripts/standup.py
Due: format-python, lint-python

feat(skills): add sprint, board hygiene, and roadmap tooling to phoenix-github
  .agents/skills/phoenix-github/SKILL.md
  .agents/skills/phoenix-github/scripts/_board.py
  .agents/skills/phoenix-github/scripts/health.py
  .agents/skills/phoenix-github/scripts/roadmap.py
  .agents/skills/phoenix-github/scripts/rollover.py
  .agents/skills/phoenix-github/scripts/snapshot.sh
Due: format-python, lint-python

fix(skills): correct sprint/roadmap semantics in phoenix-github tooling
  .agents/skills/phoenix-github/SKILL.md
  .agents/skills/phoenix-github/scripts/_board.py
  .agents/skills/phoenix-github/scripts/health.py
  .agents/skills/phoenix-github/scripts/roadmap.py
  .agents/skills/phoenix-github/scripts/rollover.py
  .agents/skills/phoenix-github/scripts/snapshot.sh
Due: format-python, lint-python

fix(phoenix-client): serve correct logo variant for light/dark README themes
  packages/phoenix-client/README.md
Due: none

fix(phoenix-otel): correct README logo variants and UTM campaign
  packages/phoenix-otel/README.md
Due: none

fix(dsl): close the element scope to everything but its element
  internal_docs/specs/span-filter-dsl.md
  src/phoenix/trace/dsl/filter.py
  tests/unit/trace/dsl/test_filter_spec_conformance.py
Due: format-python, lint-python

chore(main): release arize-phoenix-otel 0.17.0
  .release-please-manifest.json
  packages/phoenix-otel/CHANGELOG.md
  packages/phoenix-otel/pyproject.toml
Due: uv-lock-check

chore(main): release arize-phoenix-evals 3.4.0
  .release-please-manifest.json
  packages/phoenix-evals/CHANGELOG.md
Due: none

chore(main): release arize-phoenix-otel 0.17.1
  .release-please-manifest.json
  packages/phoenix-otel/CHANGELOG.md
  packages/phoenix-otel/pyproject.toml
Due: uv-lock-check

docs: state the tracer and cost-tracking prose in a steady state
  src/phoenix/server/api/routers/agents.py
  src/phoenix/server/cost_tracking/token_cost_calculator.py
  src/phoenix/tracers.py
  tests/unit/server/api/routers/test_agents.py
  tests/unit/server/api/test_subscriptions_tracer_lifecycle.py
  tests/unit/server/cost_tracking/test_token_cost_calculator.py
  tests/unit/server/daemons/test_experiment_runner.py
  tests/unit/test_tracers.py
Due: format-python, lint-python

refactor(agents): persist a turn's traces in one transaction
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/api/routers/test_agents.py
Due: format-python, lint-python

fix: tracer leak and cost tracking guards (#15084)
  src/phoenix/server/api/routers/agents.py
  src/phoenix/server/api/subscriptions.py
  src/phoenix/server/cost_tracking/token_cost_calculator.py
  src/phoenix/server/daemons/experiment_runner.py
  src/phoenix/tracers.py
  tests/unit/server/api/routers/test_agents.py
  tests/unit/server/api/test_subscriptions_tracer_lifecycle.py
  tests/unit/server/cost_tracking/test_token_cost_calculator.py
  tests/unit/server/daemons/test_experiment_runner.py
  tests/unit/test_tracers.py
Due: format-python, lint-python

chore(main): release arize-phoenix 19.19.1
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

chore(main): release arize-phoenix 19.19.1 (#15190)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

chore: update phoenix version to 19.19.1 in kustomize and helm
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

fix: imports issue
  app/src/components/table/columnSelector/__tests__/ColumnSelector.test.tsx
Due: oxfmt-app, oxlint-app

docs: shorten unnecessary long comments that cause cognition complexity
  app/src/components/table/columnSelector/ColumnSelector.tsx
Due: oxfmt-app, oxlint-app

feat: add copy actions to session turns (#14811)
  app/src/components/feedback/FeedbackActionToolbar.tsx
  app/src/pages/trace/SessionDetailsTraceList.tsx
  app/src/pages/trace/TraceActionToolbar.tsx
  app/src/pages/trace/__generated__/SessionDetailsTraceListQuery.graphql.ts
  app/src/pages/trace/__generated__/SessionDetailsTraceListRefetchQuery.graphql.ts
  app/src/pages/trace/__generated__/SessionDetailsTraceList_traces.graphql.ts
  app/src/pages/trace/__generated__/TraceActionToolbarCreateAnnotationMutation.graphql.ts
  app/src/pages/trace/__generated__/TraceActionToolbarDeleteAnnotationMutation.graphql.ts
  app/src/pages/trace/__generated__/TraceActionToolbar_trace.graphql.ts
Due: oxfmt-app, oxlint-app

feat(server): add dataset split create/update/delete REST endpoints
  app/src/api/__generated__/v1.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/datasets.py
  tests/integration/_helpers.py
  tests/unit/server/api/routers/v1/test_datasets.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

fix(server): return 409 for duplicate split rename combined with membership edits
  src/phoenix/server/api/routers/v1/datasets.py
  tests/unit/server/api/routers/v1/test_datasets.py
Due: format-python, lint-python

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
