Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

feat(evals): add Evaluators tab to the project page
  app/src/Routes.tsx
  app/src/components/evaluators/EditLLMEvaluatorDialogContent.tsx
  app/src/components/evaluators/EvaluatorForm.tsx
  app/src/pages/project/ProjectPage.tsx
  app/src/pages/project/evaluators/AddProjectEvaluatorMenu.tsx
  app/src/pages/project/evaluators/CreateLLMProjectEvaluatorSlideover.tsx
  app/src/pages/project/evaluators/ProjectEvaluatorTargetField.tsx
  app/src/pages/project/evaluators/ProjectEvaluatorTestPlaceholder.tsx
  app/src/pages/project/evaluators/ProjectEvaluatorsPage.tsx
  app/src/pages/project/evaluators/createProjectLlmEvaluator.ts
  app/src/pages/project/evaluators/projectEvaluatorTypes.ts
  app/src/pages/project/index.tsx
Due: oxfmt-app, oxlint-app

fix(cost): update built-in model token prices
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Due: none

feat(online-eval): add producer/consumer daemons and criteria scoping
  scripts/ddl/postgresql_schema.sql
  src/phoenix/config.py
  src/phoenix/db/migrations/versions/a7f1c3e9d2b4_add_online_eval_coordination.py
  src/phoenix/db/models.py
  src/phoenix/server/app.py
  src/phoenix/server/online_eval/consumer.py
  src/phoenix/server/online_eval/coordinator.py
  src/phoenix/server/online_eval/db_coordinator.py
  src/phoenix/server/online_eval/derivation.py
  src/phoenix/server/online_eval/executor.py
  src/phoenix/server/online_eval/producer.py
  src/phoenix/server/online_eval/prototype.py
  src/phoenix/server/prometheus.py
  tests/integration/db_migrations/test_db_schema_a7f1c3e9d2b4_online_eval_coordination.py
  tests/unit/db/test_eval_work_coordination.py
  tests/unit/server/online_eval/__init__.py
  tests/unit/server/online_eval/test_app_wiring.py
  tests/unit/server/online_eval/test_consumer.py
  tests/unit/server/online_eval/test_db_coordinator.py
  tests/unit/server/online_eval/test_derivation.py
  tests/unit/server/online_eval/test_producer.py
Due: format-python, lint-python

fix(cost): update built-in model token prices (#14082)
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Due: none

Potential fix for pull request finding
  docs/phoenix/tracing/llm-traces/metrics.mdx
Due: none

feat(evals): migrate PXI evals onto the pytest plugin
  .github/workflows/pxi-evals.yml
  evals/pxi/README.md
  evals/pxi/conftest.py
  evals/pxi/gate.py
  evals/pxi/pytest.ini
  evals/pxi/tests/__init__.py
  evals/pxi/tests/test_pxi_evals.py
  evals/pxi/thresholds.yaml
Due: format-python, lint-python

refactor(evals): make EvaluatorForm take left/right panel content as props
  app/src/components/evaluators/EditBuiltInEvaluatorDialogContent.tsx
  app/src/components/evaluators/EditLLMEvaluatorDialogContent.tsx
  app/src/components/evaluators/EvaluatorDatasetTestPanel.tsx
  app/src/components/evaluators/EvaluatorForm.tsx
  app/src/components/evaluators/EvaluatorNameAndDescriptionFields.tsx
Due: oxfmt-app, oxlint-app

fix(ui): chart review fixes — unique line series keys, zero-value tooltips, shared grid defaults
  app/src/components/RichTokenCostBreakdown.tsx
  app/src/components/agent/generativeUI/LineChart.tsx
  app/src/components/agent/generativeUI/VerticalBarChart.tsx
  app/src/components/chart/ChartTooltip.tsx
  app/src/components/chart/SegmentChart.tsx
  app/src/components/chart/colors.tsx
  app/src/components/chart/defaults.tsx
  app/src/components/chart/index.tsx
  app/src/components/experiment/useExperimentColors.ts
  app/src/pages/experiments/ExperimentsLineChart.tsx
  app/src/pages/project/ProjectStats.tsx
  app/src/pages/project/SpansTableAside.tsx
  app/src/pages/project/metrics/AnnotationScoreTimeSeriesChart.tsx
  app/src/pages/project/metrics/SpanCountTimeSeries.tsx
  app/src/pages/project/metrics/SpanErrorsTimeSeries.tsx
  app/src/pages/project/metrics/TopModelsByCost.tsx
  app/src/pages/project/metrics/TopModelsByToken.tsx
  app/src/pages/project/metrics/TraceCountTimeSeries.tsx
  app/src/pages/project/metrics/TraceLatencyPercentilesTimeSeries.tsx
  app/src/pages/project/metrics/TraceTokenCostTimeSeries.tsx
  app/src/pages/project/metrics/TraceTokenCountTimeSeries.tsx
  app/src/pages/settings/DBUsagePieChart.tsx
Due: oxfmt-app, oxlint-app

docs: add Vercel Eve integration guide for Phoenix (#14075)
  .github/workflows/cla.yml
  docs.json
  docs/phoenix/integrations.mdx
  docs/phoenix/integrations/typescript/vercel.mdx
  docs/phoenix/integrations/typescript/vercel/eve-tracing.mdx
Due: none

docs: add cookbook on identifying high-signal traces in production
  docs.json
  docs/phoenix/cookbook/tracing/identify-high-signal-traces.mdx
  docs/phoenix/tracing/llm-traces/metrics.mdx
Due: none

docs: fix typos and add explicit --limit to trace list examples
  docs/phoenix/cookbook/tracing/identify-high-signal-traces.mdx
Due: none

chore(deps): weekly dependency upgrade 2026-07-06 (#14079)
  app/package.json
  app/pnpm-lock.yaml
  js/benchmarks/evals-benchmarks/package.json
  js/examples/apps/cli-agent-starter-kit/package.json
  js/examples/apps/demo-document-relevancy-experiment/package.json
  js/examples/apps/experiments-quickstart/package.json
  js/examples/apps/langchain-quickstart/package.json
  js/examples/apps/mastra-agent/package.json
  js/examples/apps/mastra-quickstart/package.json
  js/examples/apps/phoenix-experiment-runner/package.json
  js/examples/apps/tracing-tutorial/package.json
  js/package.json
  js/packages/phoenix-cli/package.json
  js/packages/phoenix-client/package.json
  js/packages/phoenix-evals/package.json
  js/packages/phoenix-mcp/package.json
  js/packages/phoenix-otel/package.json
  js/pnpm-lock.yaml
  pyproject.toml
  uv.lock
Due: oxfmt-app, oxfmt-js, uv-lock-check

fix(evals): harden PXI eval CI gate (fail-closed recording, flake resilience, threshold calibration)
  .github/workflows/pxi-evals.yml
  evals/pxi/README.md
  evals/pxi/conftest.py
  evals/pxi/datasets/experiment_observations.yaml
  evals/pxi/gate.py
  evals/pxi/harness/agent_task.py
  evals/pxi/thresholds.yaml
Due: format-python, lint-python

fix(evals): re-anchor PXI regression thresholds on two-run evidence
  evals/pxi/thresholds.yaml
Due: none

docs: Add cookbook on "Identifying high-signal traces in production" (#14085)
  docs.json
  docs/phoenix/cookbook/tracing/identify-high-signal-traces.mdx
  docs/phoenix/tracing/llm-traces/metrics.mdx
Due: none

chore: update sitemap.xml
  docs/phoenix/sitemap.xml
  sitemap.xml
Due: none

refactor(ui): object parameters for getCategoryChartColor
  app/src/components/chart/colors.tsx
  app/src/components/experiment/useExperimentColors.ts
  app/src/pages/settings/DBUsagePieChart.tsx
Due: oxfmt-app, oxlint-app

fix(evals): address PR #13999 review — fail-closed gate gap, row-level artifact schema
  .github/workflows/pxi-evals.yml
  evals/pxi/conftest.py
  evals/pxi/gate.py
  evals/pxi/tests/test_gate.py
  evals/pxi/tests/test_pxi_evals.py
  evals/pxi/thresholds.yaml
Due: format-python, lint-python

fix(online-eval): resolve mypy fallout from feature-branch merge
  tests/unit/db/test_eval_work_coordination.py
  tests/unit/server/online_eval/test_producer.py
Due: format-python, lint-python

fix(otel): normalize trailing slashes before appending /v1/traces
  packages/phoenix-otel/src/phoenix/otel/otel.py
  packages/phoenix-otel/tests/test_otel.py
Due: format-python, lint-python

feat(evals): add Evaluators tab to the project page (#14081)
  app/src/Routes.tsx
  app/src/components/evaluators/EditBuiltInEvaluatorDialogContent.tsx
  app/src/components/evaluators/EditLLMEvaluatorDialogContent.tsx
  app/src/components/evaluators/EvaluatorDatasetTestPanel.tsx
  app/src/components/evaluators/EvaluatorForm.tsx
  app/src/components/evaluators/EvaluatorNameAndDescriptionFields.tsx
  app/src/pages/project/ProjectPage.tsx
  app/src/pages/project/evaluators/AddProjectEvaluatorMenu.tsx
  app/src/pages/project/evaluators/CreateLLMProjectEvaluatorSlideover.tsx
  app/src/pages/project/evaluators/ProjectEvaluatorTargetField.tsx
  app/src/pages/project/evaluators/ProjectEvaluatorTestPlaceholder.tsx
  app/src/pages/project/evaluators/ProjectEvaluatorsPage.tsx
  app/src/pages/project/evaluators/createProjectLlmEvaluator.ts
  app/src/pages/project/evaluators/projectEvaluatorTypes.ts
  app/src/pages/project/index.tsx
Due: oxfmt-app, oxlint-app

fix: Preserve HTTP collector path prefixes (#13797)
  packages/phoenix-otel/src/phoenix/otel/otel.py
  packages/phoenix-otel/tests/test_otel.py
Due: format-python, lint-python

fix(evals): re-anchor two PXI regression cells revealed as 1-example wobble
  evals/pxi/thresholds.yaml
Due: none

feat(pxi): render tool calls with icons, summaries, and command excerpts
  js/packages/phoenix-cli/src/pxi/App.tsx
  js/packages/phoenix-cli/src/pxi/toolPresentation.ts
  js/packages/phoenix-cli/src/pxi/toolProgress.ts
  js/packages/phoenix-cli/test/pxiApp.test.tsx
  js/packages/phoenix-cli/test/pxiToolPresentation.test.ts
Due: oxfmt-js, oxlint-js

fix(agents): improve chat error recovery
  app/src/components/agent/AgentChatPanel.tsx
  app/src/components/agent/AssistantMessageActions.tsx
  app/src/components/agent/Chat.tsx
  app/src/components/agent/ChatErrorMessage.tsx
  app/src/components/agent/ChatMessage.tsx
  app/src/components/agent/InterruptedChatMessage.tsx
  app/src/components/agent/MessageRewindActions.tsx
  app/src/components/agent/MessageRewindDialog.tsx
  app/src/components/agent/__tests__/Chat.test.tsx
  app/src/components/agent/useAgentChat.ts
  app/src/store/__tests__/agentStore.test.ts
  app/src/store/agentStore.ts
Due: oxfmt-app, oxlint-app

feat(pxi): collapse read_skill_resource to a quiet line like load_skill
  js/packages/phoenix-cli/src/pxi/toolPresentation.ts
  js/packages/phoenix-cli/test/pxiToolPresentation.test.ts
Due: oxfmt-js, oxlint-js

fix(agents): improve chat error recovery (#13833)
  app/src/components/agent/AgentChatPanel.tsx
  app/src/components/agent/AssistantMessageActions.tsx
  app/src/components/agent/Chat.tsx
  app/src/components/agent/ChatErrorMessage.tsx
  app/src/components/agent/ChatMessage.tsx
  app/src/components/agent/InterruptedChatMessage.tsx
  app/src/components/agent/MessageRewindActions.tsx
  app/src/components/agent/MessageRewindDialog.tsx
  app/src/components/agent/__tests__/Chat.test.tsx
  app/src/components/agent/useAgentChat.ts
  app/src/store/__tests__/agentStore.test.ts
  app/src/store/agentStore.ts
Due: oxfmt-app, oxlint-app

chore(pxi): add changeset for tool call rendering improvements
  js/.changeset/pxi-tool-call-rendering.md
Due: oxfmt-js

feat(pxi): render tool calls with icons, summaries, and command excerpts (#14093)
  js/.changeset/pxi-tool-call-rendering.md
  js/packages/phoenix-cli/src/pxi/App.tsx
  js/packages/phoenix-cli/src/pxi/toolPresentation.ts
  js/packages/phoenix-cli/src/pxi/toolProgress.ts
  js/packages/phoenix-cli/test/pxiApp.test.tsx
  js/packages/phoenix-cli/test/pxiToolPresentation.test.ts
Due: oxfmt-js, oxlint-js

style(evals): fix import ordering in PXI eval suite
  evals/pxi/conftest.py
  evals/pxi/tests/test_pxi_evals.py
Due: format-python, lint-python

style(evals): conventions polish — pipe unions, env reuse, self-contained comments
  .github/workflows/pxi-evals.yml
  evals/pxi/datasets/experiment_observations.yaml
  evals/pxi/gate.py
  evals/pxi/thresholds.yaml
Due: format-python, lint-python

fix(online-eval): close two silent work-loss modes found in design review
  src/phoenix/config.py
  src/phoenix/server/online_eval/consumer.py
  src/phoenix/server/online_eval/coordinator.py
  src/phoenix/server/online_eval/db_coordinator.py
  src/phoenix/server/online_eval/executor.py
  src/phoenix/server/online_eval/producer.py
  tests/unit/server/online_eval/test_consumer.py
  tests/unit/server/online_eval/test_producer.py
Due: format-python, lint-python

chore(js): update versions (#14094)
  js/.changeset/pxi-tool-call-rendering.md
  js/packages/phoenix-cli/CHANGELOG.md
  js/packages/phoenix-cli/package.json
Due: oxfmt-js

fix(ui): guard against nullish projects connection on Projects page (#14086)
  app/src/pages/projects/ProjectsPage.tsx
Due: oxfmt-app, oxlint-app

fix(ddl): make the PostgreSQL DDL generator fail loudly instead of silently corrupting output
  scripts/ddl/generate_ddl_postgresql.py
  scripts/ddl/postgresql_schema.sql
Due: format-python, lint-python

fix(db): add composite session end_time index and drop redundant single-column indexes
  MIGRATION.md
  scripts/ddl/postgresql_schema.sql
  src/phoenix/config.py
  src/phoenix/db/migrations/versions/c7f6a8b9d0e1_drop_redundant_single_column_indexes.py
  src/phoenix/db/migrations/versions/eaf1907ae453_add_composite_index_on_project_sessions_.py
  src/phoenix/db/models.py
Due: format-python, lint-python

fix(db): index the experiment log tables' delete paths
  MIGRATION.md
  scripts/ddl/postgresql_schema.sql
  src/phoenix/db/migrations/versions/eaf1907ae453_add_composite_index_on_project_sessions_.py
  src/phoenix/db/models.py
Due: format-python, lint-python

refactor(db): merge index cleanup migration into eaf1907ae453
  MIGRATION.md
  src/phoenix/db/migrations/versions/c7f6a8b9d0e1_drop_redundant_single_column_indexes.py
  src/phoenix/db/migrations/versions/eaf1907ae453_add_composite_index_on_project_sessions_.py
Due: format-python, lint-python

fix(sessions): remove redundant inline comments
  src/phoenix/server/api/types/Project.py
Due: format-python, lint-python

fix(db): index the unindexed user_id SET NULL foreign keys
  MIGRATION.md
  scripts/ddl/postgresql_schema.sql
  src/phoenix/db/migrations/versions/eaf1907ae453_add_composite_index_on_project_sessions_.py
  src/phoenix/db/models.py
Due: format-python, lint-python
