Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

test(session-io): compare row tuples so the equality check type-checks
  tests/unit/server/api/dataloaders/test_session_io.py
Due: format-python, lint-python

docs(specs): state both directions of the containment compatibility change
  internal_docs/specs/session-filter-dsl.md
  internal_docs/specs/span-filter-dsl.md
Due: none

fix(session-dsl): align cast validation
  internal_docs/specs/session-filter-dsl.md
  src/phoenix/trace/dsl/filter.py
  tests/unit/trace/dsl/test_session_filter_semantics.py
Due: format-python, lint-python

fix(sqlite): shadow unsafe text lower function
  src/phoenix/db/engines.py
  tests/unit/db/test_engines.py
Due: format-python, lint-python

chore(graphql): regenerate schema for the vocabulary sampling description
  app/schema.graphql
Due: none

chore(session-dsl): adapt to main post-rebase — required first, settlement args, codemirror mock
  app/src/components/filter/__tests__/DSLFilterConditionFieldValidation.test.tsx
  app/src/pages/project/SessionFilterConditionField.tsx
  src/phoenix/trace/dsl/filter.py
  tests/unit/server/api/types/test_Project.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix(session-dsl): reject floor division
  internal_docs/specs/session-filter-dsl.md
  src/phoenix/trace/dsl/filter.py
  tests/unit/trace/dsl/test_filter_spec_conformance.py
  tests/unit/trace/dsl/test_session_filter_semantics.py
Due: format-python, lint-python

chore(filter): use trace-based wording in session snippet labels
  app/src/components/filter/dslFilterConditionFieldUtils.ts
  app/src/pages/project/SessionFilterConditionField.tsx
Due: oxfmt-app, oxlint-app

fix(sessions): sample the filter vocabulary newest-first under the byte budget
  src/phoenix/server/api/types/Project.py
  tests/unit/server/api/types/test_Project.py
Due: format-python, lint-python

feat(online-eval): add session queue substrate
  src/phoenix/db/migrations/versions/48bab43e71d7_add_session_eval_queue_substrate.py
  src/phoenix/db/models.py
  src/phoenix/server/online_eval/producer.py
  tests/integration/db_migrations/test_db_schema_48bab43e71d7_session_eval_queue_substrate.py
  tests/unit/db/test_eval_work_coordination.py
  tests/unit/server/online_eval/test_producer.py
Due: format-python, lint-python

fix(online-eval): address session queue review
  src/phoenix/db/migrations/versions/48bab43e71d7_add_session_eval_queue_substrate.py
  src/phoenix/db/migrations/versions/a7f1c3e9d2b4_add_online_eval_coordination.py
  src/phoenix/db/models.py
  src/phoenix/server/online_eval/producer.py
  tests/integration/db_migrations/test_db_schema_48bab43e71d7_session_eval_queue_substrate.py
  tests/integration/db_migrations/test_db_schema_a7f1c3e9d2b4_online_eval_coordination.py
  tests/unit/db/test_eval_work_coordination.py
  tests/unit/server/online_eval/test_producer.py
Due: format-python, lint-python

fix(sessions): use a grain-neutral noun in the literal-left membership error
  src/phoenix/trace/dsl/filter.py
Due: format-python, lint-python

docs(specs): require the datetime offset instead of claiming a UTC default
  internal_docs/specs/session-filter-dsl.md
Due: none

perf(sessions): keep all() correlated under the scan lowering
  internal_docs/specs/session-filter-dsl.md
  src/phoenix/trace/dsl/session_filter.py
  tests/unit/trace/dsl/test_session_filter.py
Due: format-python, lint-python

style(filter): format the merged badge conditional
  app/src/components/filter/DSLFilterConditionField.tsx
Due: oxfmt-app, oxlint-app

fix(db): centralize session liveness writes
  src/phoenix/db/insertion/span.py
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python

perf(online-eval): bulk resolve criteria versions
  src/phoenix/server/online_eval/producer.py
  tests/unit/server/online_eval/test_producer.py
Due: format-python, lint-python

fix(online-eval): version builtin implementations
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/online_eval/producer.py
  tests/unit/server/online_eval/test_producer.py
Due: format-python, lint-python

test(db): assert integrity errors precisely
  tests/unit/db/test_eval_work_coordination.py
Due: format-python, lint-python

refactor(online-eval): drop unused trace-grain queue tables
  src/phoenix/db/migrations/versions/a7f1c3e9d2b4_add_online_eval_coordination.py
  src/phoenix/db/models.py
  tests/integration/db_migrations/test_db_schema_a7f1c3e9d2b4_online_eval_coordination.py
  tests/unit/db/test_eval_work_coordination.py
  tests/unit/server/online_eval/test_producer.py
Due: format-python, lint-python

fix(online-eval): repair queue CI checks
  src/phoenix/server/online_eval/producer.py
  tests/unit/db/test_eval_work_coordination.py
Due: format-python, lint-python

fix(db): coalesce project session liveness updates
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/insertion/project_session.py
  src/phoenix/db/insertion/span.py
  src/phoenix/db/migrations/versions/a7f1c3e9d2b4_add_online_eval_coordination.py
  src/phoenix/db/models.py
  src/phoenix/server/api/routers/agents.py
  tests/integration/db_migrations/test_db_schema_a7f1c3e9d2b4_online_eval_coordination.py
  tests/unit/db/test_bulk_inserter.py
  tests/unit/db/test_eval_work_coordination.py
  tests/unit/server/agents/test_agents_router.py
  tests/unit/server/online_eval/test_producer.py
Due: format-python, lint-python

fix(online-eval): timestamp activity after materialization
  src/phoenix/server/online_eval/producer.py
  tests/unit/server/online_eval/test_producer.py
Due: format-python, lint-python

test(online-eval): materialize registered builtin in consumer fixtures
  tests/unit/server/online_eval/test_consumer.py
Due: format-python, lint-python

feat(online-eval): move session liveness into span ingest
  src/phoenix/db/insertion/span.py
  src/phoenix/server/online_eval/producer.py
  tests/unit/server/online_eval/test_producer.py
Due: format-python, lint-python

perf(online-eval): bound admission backlog count
  src/phoenix/server/online_eval/producer.py
  tests/unit/server/online_eval/test_producer.py
Due: format-python, lint-python

feat(online-eval): add ingest-owned session liveness schema
  src/phoenix/db/migrations/versions/a7f1c3e9d2b4_add_online_eval_coordination.py
  src/phoenix/db/models.py
  tests/integration/db_migrations/test_db_schema_a7f1c3e9d2b4_online_eval_coordination.py
  tests/unit/db/test_eval_work_coordination.py
Due: format-python, lint-python

refactor(online-eval): defer session work queue schema
  src/phoenix/db/migrations/versions/a7f1c3e9d2b4_add_online_eval_coordination.py
  src/phoenix/db/models.py
  src/phoenix/server/online_eval/producer.py
  tests/integration/db_migrations/test_db_schema_a7f1c3e9d2b4_online_eval_coordination.py
  tests/unit/db/test_eval_work_coordination.py
  tests/unit/server/online_eval/test_producer.py
Due: format-python, lint-python

test(e2e): disambiguate update locators against version notice
  app/tests/server-evaluators.spec.ts
Due: oxfmt-app, oxlint-app

style(online-evals): remove redundant producer comment
  src/phoenix/server/online_eval/producer.py
Due: format-python, lint-python

fix(online-eval): validate builtin implementation versions
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/online_eval/producer.py
  tests/unit/server/api/test_evaluators.py
  tests/unit/server/online_eval/test_producer.py
Due: format-python, lint-python

feat(sessions): AI query for the session filter with generated vocabulary and eval suite
  Makefile
  app/evals/README.md
  app/evals/aiQuery/googleModels.ts
  app/evals/aiQuery/sessionFilterCases.ts
  app/evals/aiQuery/sessionFilterPrompt.eval.ts
  app/src/pages/project/SessionFilterConditionField.tsx
  app/src/pages/project/__tests__/sessionFilterSnippets.test.ts
  app/src/pages/project/sessionFilterCoreVocabulary.generated.ts
  app/src/pages/project/sessionFilterDSL.ts
  scripts/generate_session_filter_ai_query_vocabulary.py
  tests/unit/server/api/types/test_FilterVocabularyTerm.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

test(online-eval): make registration fixtures concrete
  tests/unit/server/api/test_evaluators.py
Due: format-python, lint-python

wip
  .github/workflows/python-CI.yml
  Makefile
  scripts/README.md
  scripts/experiments/README.md
  scripts/experiments/generate_baseline_metrics_data.py
  scripts/generate_data_via_plpgsql/README.md
  scripts/generate_spans/README.md
  scripts/generate_spans/__main__.py
  scripts/generate_spans/_registry.py
  scripts/generate_spans/_shared.py
  scripts/generate_spans/generate_agent_tool_calls.py
  scripts/generate_spans/generate_all.py
  scripts/generate_spans/generate_axis_label_spans.py
  scripts/generate_spans/generate_edge_case_spans.py
  scripts/generate_spans/generate_mixed_workload.py
  scripts/generate_spans/generate_multi_session_traffic.py
  scripts/generate_spans/generate_partial_traces.py
  scripts/generate_spans/generate_prompt_templates.py
  scripts/generate_spans/generate_rag_pipeline.py
  scripts/generate_spans/generate_spans_deeply_nested.py
  scripts/generate_spans/generate_spans_for_large_session.py
  scripts/generate_spans/generate_spans_for_time_series.py
  scripts/generate_spans/generate_spans_with_event_attributes.py
  tests/unit/test_span_datagen.py
Due: format-python, lint-python

Regenerate OpenAPI clients for prompt PATCH endpoint
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

build: configure Amp orb lifecycle
  .agents/resume
  .agents/setup
Due: none

build: configure Amp orb lifecycle (#15091)
  .agents/resume
  .agents/setup
Due: none

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
