Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

chore: regenerate uv.lock, GraphQL schema, and Relay types after rebase
  app/schema.graphql
  app/src/components/dataset/__generated__/CreateLLMDatasetEvaluatorSlideover_createLLMEvaluatorMutation.graphql.ts
  app/src/components/dataset/__generated__/EditLLMDatasetEvaluatorSlideover_updateLLMEvaluatorMutation.graphql.ts
  app/src/components/evaluators/__generated__/CodeEvaluatorTestSectionMutation.graphql.ts
  app/src/components/evaluators/__generated__/EvaluatorOutputPreviewMutation.graphql.ts
  app/src/pages/dataset/evaluators/__generated__/datasetEvaluatorDetailsLoaderQuery.graphql.ts
  tests/unit/server/api/test_queries.py
  uv.lock
Due: format-python, lint-python, oxfmt-app, oxlint-app, uv-lock-check

fix(sandbox): drop extra padding around Sandbox Runtime summary list
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
Due: oxfmt-app, oxlint-app

test(sandbox): seed fake E2B_API_KEY in Playwright server
  app/tests/utils/testServer.mjs
Due: none

test(evaluators): adapt code-evaluator playwright tests to refactored editor UI (#13100)
  .github/workflows/playwright.yaml
  app/tests/code-evaluators.spec.ts
  app/tests/settings-sandboxes.spec.ts
Due: oxfmt-app, oxlint-app

feat(evaluators): differentiate dialog titles by evaluator type (#13105)
  app/src/components/evaluators/EditBuiltInEvaluatorDialogContent.tsx
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
  app/src/components/evaluators/EditLLMEvaluatorDialogContent.tsx
  app/tests/code-evaluators.spec.ts
  app/tests/server-evaluators.spec.ts
Due: oxfmt-app, oxlint-app

feat(sandbox): adopt SDK-native env var names across providers (#13225)
  docs/phoenix/self-hosting/features/sandbox-runtimes.mdx
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/daytona_backend.py
  src/phoenix/server/sandbox/e2b_backend.py
  src/phoenix/server/sandbox/modal_backend.py
  src/phoenix/server/sandbox/vercel_backend.py
  tests/unit/server/api/mutations/test_reserved_credential_names.py
  tests/unit/server/api/mutations/test_sandbox_credential_mutations.py
  tests/unit/server/api/test_sandbox_queries.py
  tests/unit/server/sandbox/test_capability_matrix.py
  tests/unit/server/sandbox/test_daytona_backend.py
  tests/unit/server/sandbox/test_e2b_backend.py
  tests/unit/server/sandbox/test_env_var_resolution.py
  tests/unit/server/sandbox/test_modal_backend.py
Due: format-python, lint-python

feat(sandbox): pin Sandbox Runtime to bottom of code evaluator sidebar
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
Due: oxfmt-app, oxlint-app

feat(sandbox): clarify sandbox configuration settings display
  app/src/pages/dataset/evaluators/CodeDatasetEvaluatorDetails.tsx
  app/src/pages/settings/sandboxes/SandboxConfigsCard.tsx
  app/src/pages/settings/sandboxes/SandboxProvidersCard.tsx
  app/src/pages/settings/sandboxes/styles.ts
  app/src/pages/settings/sandboxes/utils.tsx
Due: oxfmt-app, oxlint-app

fix(sandbox): move copy + show-types controls into the editor header
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
Due: oxfmt-app, oxlint-app

feat(sandbox): surface hosting type as a badge, mute config descriptions
  app/schema.graphql
  app/src/pages/settings/__generated__/settingsSandboxesPageLoaderQuery.graphql.ts
  app/src/pages/settings/sandboxes/SandboxConfigsCard.tsx
  app/src/pages/settings/sandboxes/SandboxProvidersCard.tsx
  app/src/pages/settings/sandboxes/SettingsSandboxesPage.tsx
  app/src/pages/settings/sandboxes/__generated__/DeleteSandboxConfigButtonDeleteSandboxConfigMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigDialogCreateSandboxConfigMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigDialogUpdateSandboxConfigMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigsCardConfigEnabledSwitchMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxProvidersCardProviderEnabledSwitchMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SettingsSandboxesPageFragment.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SettingsSandboxesPageRefetchQuery.graphql.ts
  app/src/pages/settings/sandboxes/styles.ts
  app/src/pages/settings/sandboxes/utils.tsx
  src/phoenix/server/api/types/SandboxConfig.py
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/deno_backend.py
  src/phoenix/server/sandbox/wasm_backend.py
  tests/unit/server/api/test_capability_advertisement.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

feat(evaluators): widen code editor and right-align sandbox details in code evaluator page (#13327)
  app/src/pages/dataset/evaluators/CodeDatasetEvaluatorDetails.tsx
  app/src/pages/dataset/evaluators/DatasetEvaluatorDetailsPage.tsx
Due: oxfmt-app, oxlint-app

chore(graphql): regenerate schema after evaluator description trim
  app/schema.graphql
Due: none

docs(sandbox): improve readability of code evaluator and sandbox diagrams (#13342)
  docs/phoenix/evaluation/server-evals/code-evaluators.mdx
  docs/phoenix/settings/sandboxes.mdx
Due: none

fix(sandbox): revalidate secrets list in sandbox config secret picker (#13351)
  app/src/pages/settings/sandboxes/SandboxConfigDialog.tsx
Due: oxfmt-app, oxlint-app

docs: add sandbox permissions to rbac (#13366)
  docs/phoenix/settings/access-control-rbac.mdx
Due: none

fix(evaluators): wire time range to evaluator details and harden error boundary (#13337)
  app/src/components/exception/ErrorBoundary.tsx
  app/src/components/exception/TextErrorBoundaryFallback.tsx
  app/src/pages/dataset/evaluators/DatasetEvaluatorDetailsPage.tsx
  app/src/pages/dataset/evaluators/DatasetEvaluatorSpans.tsx
  app/src/pages/dataset/evaluators/__generated__/DatasetEvaluatorSpansQuery.graphql.ts
  app/src/pages/dataset/evaluators/__generated__/DatasetEvaluatorSpans_project.graphql.ts
  app/src/pages/dataset/evaluators/__generated__/datasetEvaluatorDetailsLoaderQuery.graphql.ts
  app/src/pages/dataset/evaluators/datasetEvaluatorDetailsLoader.ts
  app/src/pages/project/SpansTableAside.tsx
Due: oxfmt-app, oxlint-app

feat(sandbox): add session manager + reuse wiring (#13179)
  src/phoenix/server/api/context.py
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/mutations/chat_mutations.py
  src/phoenix/server/app.py
  src/phoenix/server/daemons/experiment_runner.py
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/daytona_backend.py
  src/phoenix/server/sandbox/e2b_backend.py
  src/phoenix/server/sandbox/modal_backend.py
  src/phoenix/server/sandbox/session_manager.py
  src/phoenix/server/sandbox/types.py
  src/phoenix/server/sandbox/vercel_backend.py
  tests/unit/server/api/helpers/test_evaluators.py
  tests/unit/server/api/mutations/test_evaluator_preview_mutation.py
  tests/unit/server/api/routers/v1/test_spans.py
  tests/unit/server/api/test_code_evaluator_runner.py
  tests/unit/server/api/test_evaluators_timeout.py
  tests/unit/server/api/test_wasm_backend.py
  tests/unit/server/sandbox/test_app_lifecycle.py
  tests/unit/server/sandbox/test_daytona_backend.py
  tests/unit/server/sandbox/test_e2b_backend.py
  tests/unit/server/sandbox/test_modal_backend.py
  tests/unit/server/sandbox/test_session_manager.py
  tests/unit/server/sandbox/test_vercel_backend.py
Due: format-python, lint-python

fix(evaluators): make sandbox warnings banners with a link button (#13344)
  app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
Due: oxfmt-app, oxlint-app

fix(db): align sandbox config constraints (#13335)
  scripts/ddl/postgresql_schema.sql
  src/phoenix/db/migrations/versions/0ff41b5b118f_add_sandbox_and_code_evaluator_support.py
  src/phoenix/db/models.py
Due: format-python, lint-python

docs(sandbox): document untrusted-code risks for Deno and Wasm (#13334)
  docs/phoenix/settings/sandboxes/deno.mdx
  docs/phoenix/settings/sandboxes/wasm.mdx
Due: none

test(sandbox): add role-based permission integration tests (#13352)
  MIGRATION.md
  tests/integration/auth/test_auth.py
Due: format-python, lint-python

fix(sandbox): pre-fetch WASM binary at server startup and harden integrity check
  src/phoenix/config.py
  src/phoenix/server/app.py
  src/phoenix/server/sandbox/_download.py
  src/phoenix/server/sandbox/wasm_backend.py
  tests/unit/server/api/test_wasm_backend.py
  tests/unit/server/sandbox/test_wasm_download.py
Due: format-python, lint-python

docs(evaluation): add intro videos to code evaluator pages (#13318)
  docs/phoenix/evaluation/server-evals/code-evaluators.mdx
Due: none

fix(sandbox): verify CPython WASM binary integrity via pinned sha256 (#13336)
  .github/workflows/playwright.yaml
  Dockerfile
  scripts/docker/devops/Dockerfile
  scripts/docker/devops/Dockerfile.vite
  scripts/docker/devops/smtp-server/Dockerfile
  src/phoenix/server/sandbox/_download.py
Due: format-python, lint-python

feat(sandbox): show allowlist status in banner and Sandboxes settings (#13339)
  app/schema.graphql
  app/src/components/dataset/__generated__/CreateCodeDatasetEvaluatorSlideoverQuery.graphql.ts
  app/src/components/dataset/__generated__/EditCodeDatasetEvaluatorSlideover_datasetEvaluatorQuery.graphql.ts
  app/src/components/sandbox/__generated__/SandboxProviderSelectQuery.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SettingsSandboxesPageFragment.graphql.ts
  app/src/pages/settings/sandboxes/utils.tsx
  docs/phoenix/self-hosting/configuration.mdx
  docs/phoenix/self-hosting/features/sandbox-runtimes.mdx
  docs/phoenix/settings/sandboxes.mdx
  docs/phoenix/settings/sandboxes/daytona.mdx
  docs/phoenix/settings/sandboxes/deno.mdx
  docs/phoenix/settings/sandboxes/e2b.mdx
  docs/phoenix/settings/sandboxes/modal.mdx
  docs/phoenix/settings/sandboxes/vercel.mdx
  docs/phoenix/settings/sandboxes/wasm.mdx
  src/phoenix/server/api/types/SandboxConfig.py
  src/phoenix/server/cli/commands/serve.py
  tests/unit/server/api/test_wasm_backend.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix(sandbox): cap concurrent Deno subprocesses to bound host resource use (#13364)
  src/phoenix/server/sandbox/deno_backend.py
  tests/unit/server/sandbox/test_deno_backend.py
Due: format-python, lint-python

feat(sandbox): disallow environment variables for Deno sandboxes (#13340)
  app/schema.graphql
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigDialogCreateSandboxConfigMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigDialogUpdateSandboxConfigMutation.graphql.ts
  app/src/pages/settings/sandboxes/__generated__/SandboxConfigsCardConfigEnabledSwitchMutation.graphql.ts
  docs/phoenix/evaluation/server-evals/code-evaluators.mdx
  docs/phoenix/self-hosting/features/sandbox-runtimes.mdx
  docs/phoenix/settings/sandboxes.mdx
  docs/phoenix/settings/sandboxes/deno.mdx
  docs/phoenix/settings/sandboxes/wasm.mdx
  src/phoenix/server/api/mutations/sandbox_config_mutations.py
  src/phoenix/server/sandbox/deno_backend.py
  src/phoenix/server/sandbox/types.py
  tests/unit/server/api/mutations/test_sandbox_config_mutations.py
  tests/unit/server/sandbox/test_deno_backend.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

chore: update uv, relay types in code evaluators
  app/src/pages/trace/__generated__/SessionDetailsTraceListQuery.graphql.ts
  app/src/pages/trace/__generated__/SessionDetailsTraceListRefetchQuery.graphql.ts
  app/src/pages/trace/__generated__/TraceFeedbackActionToolbarCreateAnnotationMutation.graphql.ts
  app/src/pages/trace/__generated__/TraceFeedbackActionToolbarDeleteAnnotationMutation.graphql.ts
  uv.lock
Due: oxfmt-app, oxlint-app, uv-lock-check

docs(evaluation): code-evaluator docs cleanup — terminology, examples, framing (#13322)
  docs.json
  docs/phoenix/evaluation/server-evals/code-evaluators.mdx
  docs/phoenix/evaluation/server-evals/code-evaluators/json-distance.mdx
  docs/phoenix/evaluation/server-evals/code-evaluators/json-match.mdx
  docs/phoenix/evaluation/server-evals/code-evaluators/llm-jury.mdx
  docs/phoenix/integrations/sandboxes/daytona.mdx
  docs/phoenix/integrations/sandboxes/e2b.mdx
  docs/phoenix/integrations/sandboxes/modal.mdx
  docs/phoenix/integrations/sandboxes/vercel.mdx
  docs/phoenix/llms.txt
  docs/phoenix/self-hosting.mdx
  docs/phoenix/self-hosting/features/sandbox-runtimes.mdx
  docs/phoenix/settings/sandboxes.mdx
Due: none

docs(sandbox): improve logo layout on sandbox docs pages (#13310)
  docs/phoenix/evaluation/server-evals/code-evaluators.mdx
  docs/phoenix/settings/sandboxes/daytona.mdx
  docs/phoenix/settings/sandboxes/deno.mdx
  docs/phoenix/settings/sandboxes/e2b.mdx
  docs/phoenix/settings/sandboxes/modal.mdx
  docs/phoenix/settings/sandboxes/vercel.mdx
  docs/phoenix/settings/sandboxes/wasm.mdx
  docs/style.css
Due: none

docs(sandbox): document PHOENIX_ALLOWED_SANDBOX_PROVIDERS on Sandboxes settings page (#13341)
  docs/phoenix/settings/sandboxes.mdx
Due: none

fix(sandbox): bound a WASM execution's host-memory footprint (#13370)
  src/phoenix/server/sandbox/wasm_backend.py
  tests/unit/server/api/test_wasm_backend.py
Due: format-python, lint-python

docs(evaluation): add tutorial video to code evaluators page (#13376)
  docs/phoenix/evaluation/server-evals/code-evaluators.mdx
Due: none

fix(sandbox): enforce per-execute timeouts across backends (#13383)
  src/phoenix/server/sandbox/daytona_backend.py
  src/phoenix/server/sandbox/modal_backend.py
  src/phoenix/server/sandbox/vercel_backend.py
  src/phoenix/server/sandbox/wasm_backend.py
  tests/unit/server/api/test_wasm_backend.py
  tests/unit/server/sandbox/test_daytona_backend.py
  tests/unit/server/sandbox/test_modal_backend.py
  tests/unit/server/sandbox/test_vercel_backend.py
Due: format-python, lint-python

chore(sandbox): drop internal-workflow framing from settings TODO
  app/src/pages/settings/SettingsPage.tsx
Due: oxfmt-app, oxlint-app

fix(tests): swap SecretString for SecretStr in playground client tests
  tests/unit/server/api/helpers/test_playground_clients.py
Due: format-python, lint-python

feat(agents): Enable provider native web search / fetch when available (#13333)
  app/schema.graphql
  app/src/agent/chat/__tests__/buildAgentChatRequestBody.test.ts
  app/src/agent/chat/buildAgentChatRequestBody.ts
  app/src/agent/context/agentContextTypes.ts
  app/src/agent/extensions/__tests__/capabilities.test.ts
  app/src/agent/extensions/capabilities.ts
  app/src/api/__generated__/v1.ts
  app/src/components/agent/AgentContextPills.tsx
  app/src/components/agent/AgentExperimentalSettings.tsx
  app/src/components/agent/AgentModelMenu.tsx
  app/src/components/agent/AgentSettingsForm.tsx
  app/src/components/agent/ToolPart.tsx
  app/src/components/agent/__tests__/ToolPartDisclosure.test.tsx
  app/src/components/agent/index.tsx
  app/src/pages/__generated__/authenticatedRootLoaderQuery.graphql.ts
  app/src/pages/authenticatedRootLoader.ts
  app/src/pages/settings/SettingsAgentsPage.tsx
  app/src/store/__tests__/agentStore.test.ts
  app/src/store/agentStore.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/config.py
  src/phoenix/server/agents/agent_factory.py
  src/phoenix/server/agents/context.py
  src/phoenix/server/agents/pydantic_ai/openinference_model_wrapper.py
  src/phoenix/server/agents/web_access.py
  src/phoenix/server/api/helpers/playground_clients.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/routers/agents.py
  src/phoenix/server/api/types/AgentsConfig.py
  tests/unit/server/agents/pydantic_ai/test_openinference_agent_wrapper.py
  tests/unit/server/agents/pydantic_ai/test_openinference_model_wrapper.py
  tests/unit/server/agents/test_agent_factory.py
  tests/unit/server/api/test_queries.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
