Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

feat: stream call_subagent progress
  app/src/components/agent/ToolPart.tsx
  src/phoenix/server/agents/agent_factory.py
  src/phoenix/server/agents/capabilities/tools/internal/call_subagent.py
  src/phoenix/server/agents/subagent_progress.py
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/agents/capabilities/tools/internal/test_call_subagent.py
  tests/unit/server/agents/test_agent_factory.py
  tests/unit/server/agents/test_subagent_progress.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

refactor: remove subagent final output cast
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python

refactor: consolidate agent construction
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python

refactor: pass subagent builder args directly
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python

refactor: name subagent queue close sentinel
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python

refactor: clarify agent message chunk naming
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python

refactor: remove build_agent overloads
  src/phoenix/server/agents/agent_factory.py
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python

test: remove agent factory test changes
  tests/unit/server/agents/test_agent_factory.py
Due: format-python, lint-python

refactor: build subagent request data for event stream
  src/phoenix/server/agents/capabilities/tools/internal/call_subagent.py
Due: format-python, lint-python

refactor: type call subagent output
  src/phoenix/server/agents/capabilities/tools/internal/call_subagent.py
  tests/unit/server/agents/capabilities/tools/internal/test_call_subagent.py
Due: format-python, lint-python

refactor: clarify renderable subagent message check
  src/phoenix/server/agents/capabilities/tools/internal/call_subagent.py
Due: format-python, lint-python

docs: explain renderable subagent message helper
  src/phoenix/server/agents/capabilities/tools/internal/call_subagent.py
Due: format-python, lint-python

refactor: clarify fallback subagent summary helper
  src/phoenix/server/agents/capabilities/tools/internal/call_subagent.py
Due: format-python, lint-python

refactor: name dummy subagent request data
  src/phoenix/server/agents/capabilities/tools/internal/call_subagent.py
Due: format-python, lint-python

refactor: rename data stream protocol helpers
  src/phoenix/server/agents/capabilities/tools/internal/call_subagent.py
  src/phoenix/server/agents/data_stream_protocol.py
  tests/unit/server/agents/test_data_stream_protocol.py
Due: format-python, lint-python

fix: don't show empty menu in custom-value prompt picker
  app/src/components/core/empty/CompactEmptyState.tsx
  app/src/pages/playground/PromptComboBox.tsx
Due: oxfmt-app, oxlint-app

feat(experiments): show copyable trace ID in trace details dialog header
  app/src/pages/experiment/TraceDetailsDialog.tsx
Due: oxfmt-app, oxlint-app

denoise storybook
  app/.storybook/main.ts
Due: oxfmt-app, oxlint-app

feat: basic tree view
  app/stories/TreeView.mdx
  app/stories/TreeView.stories.tsx
Due: oxfmt-app, oxlint-app

feat(experiments): show copyable trace ID in trace details dialog header (#13887)
  app/src/pages/experiment/TraceDetailsDialog.tsx
Due: oxfmt-app, oxlint-app

chore: add portless as dev dependency for local HTTPS development
  app/package.json
  app/pnpm-lock.yaml
  portless.json
Due: oxfmt-app

cleanup
  app/package.json
  app/scripts/dev.mjs
  portless.json
Due: oxfmt-app

use concurrently for app dev
  DEVELOPMENT.md
  app/mprocs.yaml
  app/package.json
  app/pnpm-lock.yaml
  app/scripts/dev.mjs
Due: oxfmt-app

chore: fix formatting in app/package.json
  app/package.json
Due: oxfmt-app

force portless port for dev server
  app/package.json
Due: oxfmt-app

test(evals): add PXI documentation eval
  .github/workflows/pxi-evals.yml
  evals/pxi/datasets/documentation_links.yaml
  evals/pxi/evaluators/__init__.py
  evals/pxi/evaluators/links.py
  evals/pxi/evaluators/tools.py
  tests/unit/pxi/evals/test_datasets.py
  tests/unit/pxi/evals/test_documentation_links.py
Due: format-python, lint-python

fix stuck loading state
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/api/routers/test_agents.py
Due: format-python, lint-python

feat(phoenix-client): add OpenInference tracing to the pytest plugin
  packages/phoenix-client/src/phoenix/client/pytest_plugin/context.py
  packages/phoenix-client/src/phoenix/client/pytest_plugin/plugin.py
  packages/phoenix-client/src/phoenix/client/pytest_plugin/session.py
  packages/phoenix-client/src/phoenix/client/pytest_plugin/tracing.py
  packages/phoenix-client/tests/client/pytest_plugin/test_plugin_integration.py
  packages/phoenix-client/tests/client/pytest_plugin/test_plugin_units.py
Due: format-python, lint-python

fix(phoenix-client): satisfy strict pyright/mypy in pytest plugin
  packages/phoenix-client/src/phoenix/client/pytest_plugin/context.py
  packages/phoenix-client/src/phoenix/client/pytest_plugin/marker.py
  packages/phoenix-client/src/phoenix/client/pytest_plugin/plugin.py
  packages/phoenix-client/src/phoenix/client/pytest_plugin/session.py
  packages/phoenix-client/src/phoenix/client/pytest_plugin/tracing.py
  packages/phoenix-client/tests/client/pytest_plugin/test_plugin_integration.py
  packages/phoenix-client/tests/client/pytest_plugin/test_plugin_units.py
  packages/phoenix-client/tests/client/resources/experiments/test_log_methods.py
Due: format-python, lint-python

ci(phoenix-client): check out phoenix-evals for SDK canary tests
  .github/workflows/python-CI.yml
Due: none

fix(js): address PR review on phoenix-client CI eval API
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/ci-evals-annotations.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/ci-evals-vitest.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/ci-evals.mdx
  js/packages/phoenix-client/README.md
  js/packages/phoenix-client/examples/README.md
  js/packages/phoenix-client/examples/vitest/02-annotations.eval.ts
  js/packages/phoenix-client/examples/vitest/08-acceptance-scorecard.eval.ts
  js/packages/phoenix-client/examples/vitest/app.ts
  js/packages/phoenix-client/src/testing/acceptance.ts
  js/packages/phoenix-client/src/testing/define-api.ts
  js/packages/phoenix-client/src/testing/phoenix-test-tracking.ts
  js/packages/phoenix-client/src/testing/reporter-format.ts
  js/packages/phoenix-client/src/testing/runner.ts
  js/packages/phoenix-client/src/testing/types.ts
  js/packages/phoenix-client/test/testing/acceptance.test.ts
  js/packages/phoenix-client/test/testing/runner.test.ts
Due: oxfmt-js, oxlint-js

fix ci failures
  app/src/components/agent/__tests__/ToolPartDisclosure.test.tsx
  tests/unit/server/api/routers/test_agents.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

docs: update pydantic ai tracing examples
  docs/phoenix/integrations/python/pydantic/pydantic-tracing.mdx
Due: none

feat(pxi): annotation-config read/edit draft tools + open existing config for editing
  app/src/agent/extensions/toolRegistry.ts
  app/src/agent/tools/annotationConfigDraft/__tests__/annotationConfigDraft.test.ts
  app/src/agent/tools/annotationConfigDraft/agentTools.ts
  app/src/agent/tools/annotationConfigDraft/clientActions.ts
  app/src/agent/tools/annotationConfigDraft/constants.ts
  app/src/agent/tools/annotationConfigDraft/draftOperations.ts
  app/src/agent/tools/annotationConfigDraft/index.ts
  app/src/agent/tools/annotationConfigDraft/parsers.ts
  app/src/agent/tools/annotationConfigDraft/schemas.ts
  app/src/agent/tools/annotationConfigDraft/types.ts
  app/src/components/annotation/AnnotationConfigDialog.tsx
  app/src/components/annotation/AnnotationConfigSlideover.tsx
  app/src/components/annotation/__generated__/AnnotationConfigSlideoverConfigQuery.graphql.ts
  app/src/components/annotation/useAnnotationConfigDraftRegistration.ts
  src/phoenix/server/agents/capabilities/tools/external/__init__.py
  src/phoenix/server/agents/capabilities/tools/external/edit_annotation_config_draft.py
  src/phoenix/server/agents/capabilities/tools/external/read_annotation_config_draft.py
  src/phoenix/server/agents/prompts/__init__.py
  src/phoenix/server/agents/prompts/tools/EDIT_ANNOTATION_CONFIG_DRAFT_TOOL_INSTRUCTIONS.xml.j2
  src/phoenix/server/agents/prompts/tools/OPEN_ANNOTATION_CONFIG_FORM_TOOL_INSTRUCTIONS.xml.j2
  src/phoenix/server/agents/prompts/tools/READ_ANNOTATION_CONFIG_DRAFT_TOOL_INSTRUCTIONS.xml.j2
  tests/unit/server/agents/test_agent_factory.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

feat(pxi): annotation-config form authoring scaffolding for the PXI agent
  app/src/agent/context/agentContextTypes.ts
  app/src/agent/extensions/toolRegistry.ts
  app/src/agent/tools/annotationConfigDraft/agentTools.ts
  app/src/agent/tools/annotationConfigDraft/constants.ts
  app/src/agent/tools/annotationConfigDraft/index.ts
  app/src/api/__generated__/v1.ts
  app/src/components/agent/AgentContextPills.tsx
  app/src/components/ai/attachment/utils.tsx
  app/src/components/annotation/AnnotationConfigDialog.tsx
  app/src/components/annotation/AnnotationConfigSlideover.tsx
  app/src/components/annotation/__generated__/AnnotationConfigSlideoverAddToProjectMutation.graphql.ts
  app/src/components/annotation/__generated__/AnnotationConfigSlideoverCreateMutation.graphql.ts
  app/src/components/annotation/__generated__/AnnotationConfigSlideoverUpdateMutation.graphql.ts
  app/src/contexts/AnnotationConfigDraftContext.tsx
  app/src/pages/project/ProjectPage.tsx
  app/src/store/annotationConfigDraftStore.tsx
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/server/agents/capabilities/tools/external/__init__.py
  src/phoenix/server/agents/capabilities/tools/external/open_annotation_config_form.py
  src/phoenix/server/agents/context.py
  src/phoenix/server/agents/prompts/__init__.py
  src/phoenix/server/agents/prompts/tools/OPEN_ANNOTATION_CONFIG_FORM_TOOL_INSTRUCTIONS.xml.j2
  tests/unit/server/agents/test_agent_factory.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

drawer
  app/src/components/annotation/AnnotationConfigDialog.tsx
  app/src/components/annotation/AnnotationConfigSlideover.tsx
Due: oxfmt-app, oxlint-app

Revert "drawer"
  app/src/components/annotation/AnnotationConfigDialog.tsx
  app/src/components/annotation/AnnotationConfigSlideover.tsx
Due: oxfmt-app, oxlint-app

refactor(js): split passRate into per-run passThreshold + required rate
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/ci-evals-annotations.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/ci-evals-vitest.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/ci-evals.mdx
  js/packages/phoenix-client/README.md
  js/packages/phoenix-client/examples/vitest/08-acceptance-scorecard.eval.ts
  js/packages/phoenix-client/src/testing/acceptance.ts
  js/packages/phoenix-client/src/testing/reporter-format.ts
  js/packages/phoenix-client/src/testing/types.ts
  js/packages/phoenix-client/test/testing/acceptance.test.ts
Due: oxfmt-js, oxlint-js

refactor(phoenix-client): drop unused experiments functional log helpers
  packages/phoenix-client/src/phoenix/client/experiments/__init__.py
Due: format-python, lint-python
