Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

feat(agents): teach users about PXI slash commands (#15982)
  js/app/src/components/agent/AgentChatInput.tsx
  js/app/src/components/agent/Chat.tsx
  js/app/src/components/agent/__tests__/agentChatPlaceholder.test.ts
  js/app/src/components/agent/agentChatPlaceholder.ts
  js/app/tests/app-frame-overlays.spec.ts
  js/app/tests/overlay-audit.spec.ts
Due: oxfmt-js, oxlint-js

test(client): cover document annotation validation publicly
  packages/phoenix-client/tests/client/resources/spans/test_spans.py
  packages/phoenix-client/tests/client/utils/test_annotation_hepers.py
Due: format-python, lint-python

fix(pxi): pass LLM evaluator ID in project context
  js/app/src/pages/project/evaluators/EditProjectEvaluatorSlideover.tsx
Due: oxfmt-js, oxlint-js

fix(ci): repair version-online-evals CI after the main merge (#15983)
  js/app/src/components/chart/AnnotationMetricsChart.tsx
  js/app/src/components/evaluators/codeEvaluatorMemberPath.ts
  js/app/src/components/evaluators/codeEvaluatorUtils.ts
  js/app/src/components/filter/DSLFilterConditionField.tsx
  js/app/src/pages/project/evaluators/CreateProjectEvaluatorSlideover.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorMeanScoreCell.tsx
  packages/phoenix-evals/src/phoenix/evals/__generated__/classification_evaluator_configs/_pii_detection_classification_evaluator_config.py
  src/phoenix/__generated__/classification_evaluator_configs/_pii_detection_classification_evaluator_config.py
  tests/unit/server/online_eval/test_producer.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

refactor(online-evals): rename the run status for the work, and give TTL shedding its own status
  js/app/schema.graphql
  js/app/src/pages/project/evaluators/ProjectEvaluatorStats.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsTable.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorStats_projectEvaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTablePaginationQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_project.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_row.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorDetailsLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorsLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/refetchProjectEvaluatorsQuery.graphql.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorTypes.test.ts
  js/app/src/pages/project/evaluators/projectEvaluatorTypes.ts
  src/phoenix/db/ddl/postgresql_schema.sql
  src/phoenix/db/ddl/sqlite_schema.sql
  src/phoenix/db/eval_work.py
  src/phoenix/db/migrations/versions/a7f1c3e9d2b4_add_online_eval_coordination.py
  src/phoenix/db/models.py
  src/phoenix/server/api/dataloaders/project_evaluator_run_counts.py
  src/phoenix/server/api/types/Evaluator.py
  src/phoenix/server/online_eval/coordinator.py
  src/phoenix/server/online_eval/db_coordinator.py
  src/phoenix/server/online_eval/producer.py
  tests/unit/server/api/types/test_Evaluator.py
  tests/unit/server/online_eval/test_db_coordinator.py
  tests/unit/server/online_eval/test_producer.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

style(online-evals): drop the comments the status promotion added
  src/phoenix/db/eval_work.py
  src/phoenix/db/migrations/versions/a7f1c3e9d2b4_add_online_eval_coordination.py
  src/phoenix/db/models.py
  src/phoenix/server/online_eval/coordinator.py
  src/phoenix/server/online_eval/db_coordinator.py
  src/phoenix/server/online_eval/executor.py
  src/phoenix/server/online_eval/session_sweeper.py
Due: format-python, lint-python

refactor(online-evals): promote work-unit sub-states from error strings to statuses
  src/phoenix/db/ddl/postgresql_schema.sql
  src/phoenix/db/ddl/sqlite_schema.sql
  src/phoenix/db/eval_work.py
  src/phoenix/db/helpers.py
  src/phoenix/db/migrations/versions/a7f1c3e9d2b4_add_online_eval_coordination.py
  src/phoenix/db/models.py
  src/phoenix/server/api/dataloaders/project_evaluator_run_counts.py
  src/phoenix/server/online_eval/consumer.py
  src/phoenix/server/online_eval/coordinator.py
  src/phoenix/server/online_eval/db_coordinator.py
  src/phoenix/server/online_eval/executor.py
  src/phoenix/server/online_eval/producer.py
  src/phoenix/server/online_eval/session_sweeper.py
  tests/integration/db_migrations/test_db_schema_a7f1c3e9d2b4_online_eval_coordination.py
  tests/unit/db/types/test_trace_retention.py
  tests/unit/server/api/mutations/test_project_mutations.py
  tests/unit/server/api/mutations/test_trace_mutations.py
  tests/unit/server/api/routers/v1/test_spans.py
  tests/unit/server/api/routers/v1/test_traces.py
  tests/unit/server/api/types/test_Evaluator.py
  tests/unit/server/online_eval/test_consumer.py
  tests/unit/server/online_eval/test_db_coordinator.py
  tests/unit/server/online_eval/test_producer.py
  tests/unit/server/online_eval/test_session_sweeper.py
Due: format-python, lint-python

refactor(online-evals): spell the migration's status predicates as literals
  src/phoenix/db/migrations/versions/a7f1c3e9d2b4_add_online_eval_coordination.py
  tests/unit/db/test_eval_work_coordination.py
  tests/unit/server/online_eval/test_session_sweeper.py
Due: format-python, lint-python

refactor(pxi): clarify evaluator node ID props
  js/app/src/components/dataset/EditCodeDatasetEvaluatorSlideover.tsx
  js/app/src/components/dataset/EditLLMDatasetEvaluatorSlideover.tsx
  js/app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
  js/app/src/components/evaluators/EditLLMEvaluatorDialogContent.tsx
  js/app/src/components/evaluators/useLlmEvaluatorDraftRegistration.ts
  js/app/src/pages/project/evaluators/EditProjectEvaluatorSlideover.tsx
Due: oxfmt-js, oxlint-js

docs: add Phoenix and AX selector
  docs.json
  docs/product-selector.js
  docs/style.css
Due: none

fix(ui): use lobehub Meta and Z.ai provider icons
  js/app/src/components/generative/GenerativeProviderIcon.tsx
Due: oxfmt-js, oxlint-js

chore(js): update versions
  js/.changeset/meta-muse-provider.md
  js/packages/phoenix-cli/CHANGELOG.md
  js/packages/phoenix-cli/package.json
  js/packages/phoenix-client/CHANGELOG.md
  js/packages/phoenix-client/package.json
  js/packages/phoenix-mcp/CHANGELOG.md
  js/packages/phoenix-mcp/package.json
Due: oxfmt-js

docs: add Phoenix and AX selector (#15988)
  docs.json
  docs/product-selector.js
  docs/style.css
Due: none

chore(main): release arize-phoenix 20.9.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

fix(ui): open reasoning rows by default and stop the divider flashing
  js/app/src/components/core/disclosure/styles.tsx
  js/app/src/pages/trace/span/LLMMessage.tsx
  js/app/src/pages/trace/span/MessageContentsList.tsx
  js/app/src/pages/trace/span/ReasoningMessageContent.tsx
  js/app/src/pages/trace/span/__tests__/MessageContentsList.test.tsx
  js/app/src/pages/trace/span/__tests__/utils.test.ts
  js/app/stories/ReasoningMessageContent.stories.tsx
  js/app/stories/SpanInfo.stories.tsx
Due: oxfmt-js, oxlint-js

fix(annotations): validate all configured ID columns, not just the first (#15877)
  packages/phoenix-client/src/phoenix/client/utils/annotation_helpers.py
  packages/phoenix-client/tests/client/resources/spans/test_spans.py
Due: format-python, lint-python

chore(pxi): remove redundant evaluator ID comment
  js/app/src/components/evaluators/EditLLMEvaluatorDialogContent.tsx
Due: oxfmt-js, oxlint-js

fix: preserve ask-user question counts during streaming
  js/app/src/components/agent/AskUserToolDetails.tsx
  js/app/src/components/agent/__tests__/AskUserToolDetails.test.tsx
Due: oxfmt-js, oxlint-js

chore: tighten cumulative cost detail description and test helpers
  js/app/schema.graphql
  src/phoenix/server/api/dataloaders/span_cost_detail_summary_entries_by_span_cumulative.py
  src/phoenix/server/api/types/Span.py
  tests/unit/server/api/types/test_Span.py
Due: format-python, lint-python

refactor(ui): share cost detail to token count mapping across tooltips
  js/app/src/components/trace/SpanCumulativeTokenCountDetails.tsx
  js/app/src/components/trace/TokenCountDetails.tsx
  js/app/src/components/trace/TraceTokenCountDetails.tsx
Due: oxfmt-js, oxlint-js

fix(ci): format client docs and skip fork PR comments
  .github/workflows/check-card-links.yml
  js/packages/phoenix-client/README.md
Due: oxfmt-js

feat(client): add error and latency filters to get_traces in python and typescript clients
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/traces.mdx
  js/.changeset/tidy-pugs-shave.md
  js/packages/phoenix-client/README.md
  js/packages/phoenix-client/src/constants/serverRequirements.ts
  js/packages/phoenix-client/src/traces/getTraces.ts
  js/packages/phoenix-client/test/traces/getTraces.test.ts
  packages/phoenix-client/src/phoenix/client/constants/server_requirements.py
  packages/phoenix-client/src/phoenix/client/resources/traces/__init__.py
  packages/phoenix-client/tests/client/resources/traces/test_traces.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(ui): skip blank LLM message content rows
  js/app/src/pages/trace/span/LLMMessage.tsx
  js/app/src/pages/trace/span/MessageContentsList.tsx
  js/app/stories/SpanInfo.stories.tsx
Due: oxfmt-js, oxlint-js

fix: guard cumulative cost detail recursion against parent cycles and duplicate keys
  src/phoenix/server/api/dataloaders/span_cost_detail_summary_entries_by_span_cumulative.py
  tests/unit/server/api/types/test_Span.py
Due: format-python, lint-python

fix(pxi): pass LLM evaluator ID in project context (#15984)
  js/app/src/components/dataset/EditCodeDatasetEvaluatorSlideover.tsx
  js/app/src/components/dataset/EditLLMDatasetEvaluatorSlideover.tsx
  js/app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
  js/app/src/components/evaluators/EditLLMEvaluatorDialogContent.tsx
  js/app/src/components/evaluators/useLlmEvaluatorDraftRegistration.ts
  js/app/src/pages/project/evaluators/EditProjectEvaluatorSlideover.tsx
Due: oxfmt-js, oxlint-js

feat(ui): show cache read/write in session and experiment token count tooltips
  js/app/src/components/experiment/ExperimentRepeatedRunGroupTokenCountDetails.tsx
  js/app/src/components/experiment/ExperimentRunTokenCountDetails.tsx
  js/app/src/components/experiment/ExperimentTokenCountDetails.tsx
  js/app/src/components/experiment/__generated__/ExperimentRepeatedRunGroupTokenCountDetailsQuery.graphql.ts
  js/app/src/components/experiment/__generated__/ExperimentRunTokenCountDetailsQuery.graphql.ts
  js/app/src/components/experiment/__generated__/ExperimentTokenCountDetailsQuery.graphql.ts
  js/app/src/components/trace/SessionTokenCountDetails.tsx
  js/app/src/components/trace/__generated__/SessionTokenCountDetailsQuery.graphql.ts
Due: oxfmt-js, oxlint-js

fix: preserve ask-user question counts during streaming (#15994)
  js/app/src/components/agent/AskUserToolDetails.tsx
  js/app/src/components/agent/__tests__/AskUserToolDetails.test.tsx
Due: oxfmt-js, oxlint-js

chore(js): update versions
  js/.changeset/tidy-pugs-shave.md
  js/packages/phoenix-cli/CHANGELOG.md
  js/packages/phoenix-cli/package.json
  js/packages/phoenix-client/CHANGELOG.md
  js/packages/phoenix-client/package.json
  js/packages/phoenix-mcp/CHANGELOG.md
  js/packages/phoenix-mcp/package.json
Due: oxfmt-js

feat(ui): show cache read/write in cumulative token count tooltips (#15838)
  js/app/schema.graphql
  js/app/src/components/experiment/ExperimentRepeatedRunGroupTokenCountDetails.tsx
  js/app/src/components/experiment/ExperimentRunTokenCountDetails.tsx
  js/app/src/components/experiment/ExperimentTokenCountDetails.tsx
  js/app/src/components/experiment/__generated__/ExperimentRepeatedRunGroupTokenCountDetailsQuery.graphql.ts
  js/app/src/components/experiment/__generated__/ExperimentRunTokenCountDetailsQuery.graphql.ts
  js/app/src/components/experiment/__generated__/ExperimentTokenCountDetailsQuery.graphql.ts
  js/app/src/components/trace/SessionTokenCountDetails.tsx
  js/app/src/components/trace/SpanCumulativeTokenCountDetails.tsx
  js/app/src/components/trace/TokenCountDetails.tsx
  js/app/src/components/trace/TraceTokenCountDetails.tsx
  js/app/src/components/trace/__generated__/SessionTokenCountDetailsQuery.graphql.ts
  js/app/src/components/trace/__generated__/SpanCumulativeTokenCountDetailsQuery.graphql.ts
  js/app/src/components/trace/__generated__/TraceTokenCountDetailsQuery.graphql.ts
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/span_cost_detail_summary_entries_by_span_cumulative.py
  src/phoenix/server/api/types/Span.py
  tests/unit/server/api/types/test_Span.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

chore: update phoenix version to 20.9.0 in kustomize and helm
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

refactor(ui): render reasoning as a collapsed row inside the message card
  .agents/skills/phoenix-design/references/icons.md
  js/app/src/GlobalStyles.tsx
  js/app/src/components/core/card/styles.ts
  js/app/src/components/core/disclosure/styles.tsx
  js/app/src/components/evaluators/EvaluatorMappingSourceEditor.tsx
  js/app/src/pages/trace/span/LLMMessage.tsx
  js/app/src/pages/trace/span/MessageContentsList.tsx
  js/app/src/pages/trace/span/ReasoningMessageContent.tsx
  js/app/src/pages/trace/span/__tests__/MessageContentsList.test.tsx
  js/app/src/pages/trace/span/__tests__/utils.test.ts
  js/app/src/pages/trace/span/utils.ts
  js/app/stories/ReasoningMessageContent.stories.tsx
  js/app/stories/SpanInfo.stories.tsx
Due: oxfmt-js, oxlint-js

feat(ui): render reasoning content blocks in LLM span messages
  .agents/skills/phoenix-design/references/icons.md
  js/app/src/openInference/tracing/types.ts
  js/app/src/pages/trace/span/LLMMessage.tsx
  js/app/src/pages/trace/span/MessageContentsList.tsx
  js/app/src/pages/trace/span/ReasoningMessageContent.tsx
  js/app/src/pages/trace/span/__tests__/MessageContentsList.test.tsx
  js/app/src/pages/trace/span/__tests__/utils.test.ts
  js/app/src/pages/trace/span/utils.ts
  js/app/stories/ReasoningMessageContent.stories.tsx
  js/app/stories/SpanInfo.stories.tsx
  js/app/stories/constants/spanInfoFixtures.ts
Due: oxfmt-js, oxlint-js
