Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

fix(mcp): let a malformed mutation report its syntax error
  src/phoenix/server/mcp/graphql/tools.py
  tests/unit/server/test_mcp_graphql_tools.py
Due: format-python, lint-python

chore(config): drop the docstring of the removed MCP mutation setting
  src/phoenix/config.py
Due: format-python, lint-python

test(mcp): check only that validate_only keeps the size limit
  tests/unit/server/test_mcp_graphql_tools.py
Due: format-python, lint-python

test(mcp): check both execution tools run as the authenticated principal
  tests/unit/server/test_mcp_graphql_tools.py
Due: format-python, lint-python

feat(skills): add the shared phoenix-evaluator-design skill
  .agents/skills/README.md
  .agents/skills/phoenix-evals/SKILL.md
  .agents/skills/phoenix-evals/references/evaluators-overview.md
  .agents/skills/phoenix-evaluator-design/SKILL.md
  .agents/skills/phoenix-evaluator-design/references/calibration-cases.md
  .agents/skills/phoenix-evaluator-design/references/judgment-structures.md
  docs/phoenix/integrations/developer-tools/coding-agents.mdx
  src/phoenix/server/mcp/skills-lock.json
  src/phoenix/server/mcp/skills/phoenix-evaluator-design/SKILL.md
  src/phoenix/server/mcp/skills/phoenix-evaluator-design/references/calibration-cases.md
  src/phoenix/server/mcp/skills/phoenix-evaluator-design/references/judgment-structures.md
Due: none

test(pxi-evals): measure the plan-first evaluator workflow
  evals/pxi/README.md
  evals/pxi/datasets/evaluator_planning.yaml
  evals/pxi/evaluators/tools.py
  evals/pxi/harness/agent_task.py
  evals/pxi/online_evals/evaluators/__init__.py
  evals/pxi/online_evals/evaluators/evaluator_authoring_process.py
  evals/pxi/thresholds.yaml
  tests/unit/pxi/evals/online_evals/test_evaluator_authoring_process.py
  tests/unit/pxi/evals/test_agent_task_inputs.py
  tests/unit/pxi/evals/test_evaluator_matchers.py
Due: format-python, lint-python

test(pxi-evals): count only browser operations that ran, and test reading before planning
  evals/pxi/README.md
  evals/pxi/datasets/evaluator_planning.yaml
  evals/pxi/online_evals/evaluators/evaluator_authoring_process.py
  tests/unit/pxi/evals/online_evals/test_evaluator_authoring_process.py
Due: format-python, lint-python

feat(pxi): give PXI project evaluator context and playground task sources
  js/app/src/agent/context/__tests__/deriveRouteContexts.test.ts
  js/app/src/agent/context/__tests__/selectors.test.ts
  js/app/src/agent/context/agentContextTypes.ts
  js/app/src/agent/context/deriveRouteContexts.ts
  js/app/src/agent/context/selectors.ts
  js/app/src/api/__generated__/v1.ts
  js/app/src/components/agent/AgentContextPills.tsx
  js/app/src/pages/playground/__tests__/playgroundAgentContextUtils.test.ts
  js/app/src/pages/playground/playgroundAgentContextUtils.ts
  js/app/src/pages/project/evaluators/CreateProjectCodeEvaluatorDialogContent.tsx
  js/app/src/pages/project/evaluators/ProjectCodeEvaluatorDialogContent.tsx
  js/app/src/pages/project/evaluators/ProjectLlmEvaluatorDialogContent.tsx
  js/app/src/pages/project/evaluators/__tests__/useAdvertiseProjectEvaluatorForm.test.ts
  js/app/src/pages/project/evaluators/useAdvertiseProjectEvaluatorForm.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/db/types/data_stream_protocol/ui_state_types.py
  src/phoenix/server/agents/context.py
  src/phoenix/server/agents/prompts/__init__.py
  src/phoenix/server/agents/prompts/static/context/PLAYGROUND_CONTEXT_INSTRUCTIONS.xml
  src/phoenix/server/agents/prompts/static/context/PROJECT_CONTEXT_INSTRUCTIONS.xml
  src/phoenix/server/agents/prompts/static/context/PROJECT_EVALUATOR_CONTEXT_INSTRUCTIONS.xml
  src/phoenix/server/api/routers/agents.py
  src/phoenix/server/api/types/node.py
  tests/unit/server/agents/test_playground_context.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(pxi): read the records before planning an evaluator, and save apart from the preview
  .agents/skills/phoenix-evaluator-design/SKILL.md
  .agents/skills/phoenix-evaluator-design/references/calibration-cases.md
  src/phoenix/server/agents/prompts/skills/playground/SKILL.md
  src/phoenix/server/agents/prompts/static/base/BASE_INSTRUCTIONS.xml
  src/phoenix/server/agents/prompts/static/context/CODE_EVALUATOR_CONTEXT_INSTRUCTIONS.xml
  src/phoenix/server/agents/prompts/static/context/LLM_EVALUATOR_CONTEXT_INSTRUCTIONS.xml
  src/phoenix/server/agents/prompts/static/context/PLAYGROUND_CONTEXT_INSTRUCTIONS.xml
  src/phoenix/server/mcp/skills-lock.json
  src/phoenix/server/mcp/skills/phoenix-evaluator-design/SKILL.md
  src/phoenix/server/mcp/skills/phoenix-evaluator-design/references/calibration-cases.md
Due: none

fix(playground): keep a project evaluator task on its binding in the URL
  js/app/src/pages/playground/__tests__/playgroundURLSearchParamsUtils.test.ts
  js/app/src/pages/playground/playgroundURLSearchParamsUtils.ts
Due: oxfmt-js, oxlint-js

fix(evaluators): expose the selectable sandboxes to PXI in the code evaluator form
  js/app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
Due: oxfmt-js, oxlint-js

feat(pxi): layer PXI's evaluator authoring on the shared design skill
  docs/phoenix/pxi.mdx
  evals/pxi/datasets/evaluators_skill_trigger.yaml
  evals/pxi/datasets/experiments_skill_trigger.yaml
  js/app/src/components/agent/__tests__/agentChatPlaceholder.test.ts
  js/app/src/components/agent/agentChatPlaceholder.ts
  src/phoenix/server/agents/prompts/skills/evaluators/SKILL.md
  src/phoenix/server/agents/prompts/skills/experiments/SKILL.md
  src/phoenix/server/agents/prompts/skills/phoenix-graphql/SKILL.md
  src/phoenix/server/agents/prompts/skills/phoenix-graphql/references/evaluators.md
  src/phoenix/server/agents/prompts/skills/playground/SKILL.md
  src/phoenix/server/agents/prompts/static/base/BASE_INSTRUCTIONS.xml
  src/phoenix/server/agents/prompts/static/context/CODE_EVALUATOR_CONTEXT_INSTRUCTIONS.xml
  src/phoenix/server/agents/prompts/static/context/DATASET_CONTEXT_INSTRUCTIONS.xml
  src/phoenix/server/agents/prompts/static/context/LLM_EVALUATOR_CONTEXT_INSTRUCTIONS.xml
  src/phoenix/server/agents/prompts/static/context/PLAYGROUND_CONTEXT_INSTRUCTIONS.xml
  tests/unit/server/agents/test_agent_factory.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(pxi): write the evaluator plan in one bash call
  src/phoenix/server/agents/prompts/static/base/BASE_INSTRUCTIONS.xml
Due: none

feat(mcp): add GraphQL schema, query, and mutation tools (#16828)
  docs/phoenix/integrations/remote-mcp.mdx
  src/phoenix/server/agents/capabilities/tools/internal/bash.py
  src/phoenix/server/agents/prompts/skills/phoenix-graphql/SKILL.md
  src/phoenix/server/agents/prompts/tools/PHOENIX_MCP_TOOL_INSTRUCTIONS.xml.j2
  src/phoenix/server/api/graphql_execute.py
  src/phoenix/server/app.py
  src/phoenix/server/mcp/graphql/__init__.py
  src/phoenix/server/mcp/graphql/output.py
  src/phoenix/server/mcp/graphql/tools.py
  src/phoenix/server/mcp_server.py
  tests/unit/server/agents/capabilities/tools/internal/test_bash.py
  tests/unit/server/test_mcp_graphql_tools.py
Due: format-python, lint-python

build(evals): load the Harbor plugin from the checkout's client wheel
  Makefile
  evals/harbor/README.md
  evals/harbor/scripts/check_job_staged.py
Due: format-python, lint-python

perf(pxi): route data questions to analytics SQL and cut wasted turns
  src/phoenix/server/agents/capabilities/tools/internal/bash.py
  src/phoenix/server/agents/prompts/static/base/BASE_INSTRUCTIONS.xml
  src/phoenix/server/agents/prompts/tools/PHOENIX_MCP_TOOL_INSTRUCTIONS.xml.j2
Due: format-python, lint-python

escape key cancels streaming
  js/app/src/components/agent/Chat.tsx
  js/pnpm-lock.yaml
Due: oxfmt-js, oxlint-js

revert unintended pnpm-lock.yaml change
  js/pnpm-lock.yaml
Due: oxfmt-js

feat(traces): compare two traces side by side
  js/app/src/Routes.tsx
  js/app/src/agent/context/__tests__/deriveRouteContexts.test.ts
  js/app/src/agent/context/deriveRouteContexts.ts
  js/app/src/components/FocusHotkey.tsx
  js/app/src/constants/searchParams.ts
  js/app/src/contexts/HotkeysEnabledContext.tsx
  js/app/src/contexts/index.tsx
  js/app/src/pages/project/ProjectTimeRangeControls.tsx
  js/app/src/pages/project/SpanSelectionToolbar.tsx
  js/app/src/pages/project/SpansTable.tsx
  js/app/src/pages/project/TracesTable.tsx
  js/app/src/pages/project/__tests__/ProjectTimeRangeControls.test.tsx
  js/app/src/pages/project/useSelectedTraceSlots.ts
  js/app/src/pages/trace/SpanDetails.tsx
  js/app/src/pages/trace/TraceDetails.tsx
  js/app/src/pages/trace/compare/CompareTraces.tsx
  js/app/src/pages/trace/compare/CompareTracesPage.tsx
  js/app/src/pages/trace/compare/index.ts
  js/app/src/pages/trace/index.tsx
  js/app/src/utils/__tests__/traceSelectionUtils.test.ts
  js/app/src/utils/traceSelectionUtils.ts
Due: oxfmt-js, oxlint-js

docs(harbor): add animated trial and plugin diagrams with plugin benefits
  docs/phoenix/integrations/evaluation-integrations/harbor.mdx
Due: none

fix(traces): disable Compare unless two traces are selected
  js/app/src/pages/project/SpanSelectionToolbar.tsx
Due: oxfmt-js, oxlint-js

perf(pxi): route data questions to analytics SQL and cut wasted turns (#16857)
  src/phoenix/server/agents/capabilities/tools/internal/bash.py
  src/phoenix/server/agents/prompts/static/base/BASE_INSTRUCTIONS.xml
  src/phoenix/server/agents/prompts/tools/PHOENIX_MCP_TOOL_INSTRUCTIONS.xml.j2
Due: format-python, lint-python

feat(experiments): show deltas vs. base experiment on the compare grid
  js/app/src/components/annotation/optimizationUtils.ts
  js/app/src/components/experiment/ExperimentAnnotationAggregates.tsx
  js/app/src/components/experiment/ExperimentCostAndLatencySummary.tsx
  js/app/src/components/experiment/ExperimentMetricDelta.tsx
  js/app/src/components/experiment/ExperimentRunCellAnnotationsList.tsx
  js/app/src/components/experiment/__tests__/experimentDeltaUtils.test.ts
  js/app/src/components/experiment/experimentDeltaUtils.ts
  js/app/src/pages/experiment/ExperimentCompareMetricsPage.tsx
  js/app/src/pages/experiment/ExperimentCompareTable.tsx
  js/app/src/pages/experiment/ExperimentRepeatedRunGroupMetadata.tsx
  js/app/src/pages/experiment/experimentCompareDeltasViewSetting.ts
  js/app/src/store/__tests__/experimentCompareChartsStore.test.ts
  js/app/src/store/experimentCompareChartsStore.ts
  js/app/stories/domains/experiments/MetricDelta.stories.tsx
Due: oxfmt-js, oxlint-js

fix(experiments): separate compare grid stats with dots
  js/app/src/components/experiment/ExperimentCostAndLatencySummary.tsx
  js/app/src/components/experiment/ExperimentMetricDelta.tsx
  js/app/src/pages/experiment/ExperimentRepeatedRunGroupMetadata.tsx
Due: oxfmt-js, oxlint-js

fix(experiments): use arrow icons and match delta type to metric values
  js/app/src/components/experiment/ExperimentMetricDelta.tsx
  js/app/src/components/experiment/ExperimentRunCellAnnotationsList.tsx
  js/app/stories/domains/experiments/MetricDelta.stories.tsx
Due: oxfmt-js, oxlint-js

feat(harbor): score which Phoenix API the agent used and default the judge to gpt-5.5
  evals/harbor/README.md
  evals/harbor/tasks/regression/prompt-hill-climb/README.md
  evals/harbor/verifiers/harbor_verifiers/llm_judge.py
  evals/harbor/verifiers/harbor_verifiers/phoenix_api.py
  evals/harbor/verifiers/harbor_verifiers/tool_usage.py
  evals/harbor/verifiers/harbor_verifiers/verify.py
  tests/unit/harbor/test_tool_usage.py
  tests/unit/harbor/test_verify.py
Due: format-python, lint-python

feat(mcp): route single-entity lookups to REST and aggregates to SQL in the server instructions and tool descriptions
  src/phoenix/server/agents/prompts/static/tools/PHOENIX_MCP_DATA_ACCESS_INSTRUCTIONS.xml
  src/phoenix/server/mcp/routing.py
  src/phoenix/server/mcp/sql/tools.py
  src/phoenix/server/mcp_server.py
  tests/unit/server/mcp/test_skills.py
Due: format-python, lint-python

refactor(hotkeys): compose scope into useScopedHotkeys
  js/app/src/components/FocusHotkey.tsx
  js/app/src/contexts/HotkeysEnabledContext.tsx
  js/app/src/hooks/index.ts
  js/app/src/hooks/useScopedHotkeys.ts
  js/app/src/pages/trace/SpanDetails.tsx
Due: oxfmt-js, oxlint-js

feat(experiments): show deltas vs. base experiment on the compare grid (#16862)
  js/app/src/components/annotation/optimizationUtils.ts
  js/app/src/components/experiment/ExperimentAnnotationAggregates.tsx
  js/app/src/components/experiment/ExperimentCostAndLatencySummary.tsx
  js/app/src/components/experiment/ExperimentMetricDelta.tsx
  js/app/src/components/experiment/ExperimentRunCellAnnotationsList.tsx
  js/app/src/components/experiment/__tests__/experimentDeltaUtils.test.ts
  js/app/src/components/experiment/experimentDeltaUtils.ts
  js/app/src/pages/experiment/ExperimentCompareMetricsPage.tsx
  js/app/src/pages/experiment/ExperimentCompareTable.tsx
  js/app/src/pages/experiment/ExperimentRepeatedRunGroupMetadata.tsx
  js/app/src/pages/experiment/experimentCompareDeltasViewSetting.ts
  js/app/src/store/__tests__/experimentCompareChartsStore.test.ts
  js/app/src/store/experimentCompareChartsStore.ts
  js/app/stories/domains/experiments/MetricDelta.stories.tsx
Due: oxfmt-js, oxlint-js

chore(main): release arize-phoenix-evals 3.9.1
  .release-please-manifest.json
  packages/phoenix-evals/CHANGELOG.md
  packages/phoenix-evals/pyproject.toml
Due: uv-lock-check

feat(experiments): show deltas vs. baseline on the experiments table
  js/app/src/components/experiment/ExperimentCostAndLatencySummary.tsx
  js/app/src/components/experiment/ExperimentMetricDelta.tsx
  js/app/src/components/experiment/__tests__/experimentDeltaUtils.test.ts
  js/app/src/components/experiment/experimentDeltaUtils.ts
  js/app/src/pages/experiments/ErrorRateCell.tsx
  js/app/src/pages/experiments/ExperimentsTable.tsx
  js/app/src/pages/experiments/__generated__/ExperimentsPageQuery.graphql.ts
  js/app/src/pages/experiments/__generated__/ExperimentsTableFragment.graphql.ts
  js/app/src/pages/experiments/__generated__/ExperimentsTableQuery.graphql.ts
  js/app/src/pages/experiments/experimentsDeltasViewSetting.ts
  js/app/src/store/__tests__/datasetStore.test.ts
  js/app/src/store/datasetStore.tsx
  js/app/stories/domains/experiments/MetricDelta.stories.tsx
Due: oxfmt-js, oxlint-js

refactor(experiments): share the annotation mean delta and drop page-local wrappers
  js/app/src/components/experiment/ExperimentAnnotationAggregates.tsx
  js/app/src/components/experiment/ExperimentCostAndLatencySummary.tsx
  js/app/src/components/experiment/ExperimentMetricDelta.tsx
  js/app/src/components/experiment/__tests__/experimentDeltaUtils.test.ts
  js/app/src/components/experiment/experimentDeltaUtils.ts
  js/app/src/pages/experiments/ErrorRateCell.tsx
  js/app/src/pages/experiments/ErrorRateText.tsx
  js/app/src/pages/experiments/ExperimentsTable.tsx
  js/app/src/pages/experiments/experimentsDeltasViewSetting.ts
  js/app/src/utils/__tests__/numberFormatUtils.test.ts
  js/app/src/utils/numberFormatUtils.ts
Due: oxfmt-js, oxlint-js

fix(experiments): align the experiments table's numeric cells into fixed slots
  js/app/src/components/experiment/ExperimentMetricDelta.tsx
  js/app/src/components/experiment/__tests__/experimentDeltaUtils.test.ts
  js/app/src/components/experiment/experimentDeltaUtils.ts
  js/app/src/pages/experiments/ExperimentsTable.tsx
  js/app/stories/domains/experiments/MetricDelta.stories.tsx
Due: oxfmt-js, oxlint-js

refactor(harbor): move the api-selection score into a dataset verifier package
  evals/harbor/README.md
  evals/harbor/scripts/check_job_staged.py
  evals/harbor/scripts/stage_harbor_environments.sh
  evals/harbor/tasks/api-selection-dev/verifiers/api_selection_verifiers/__init__.py
  evals/harbor/tasks/api-selection-dev/verifiers/api_selection_verifiers/verify.py
  evals/harbor/tasks/api-selection-dev/verifiers/pyproject.toml
  evals/harbor/verifiers/harbor_verifiers/tool_usage.py
  evals/harbor/verifiers/harbor_verifiers/verify.py
  pyproject.toml
  tests/unit/harbor/test_api_selection_verifiers.py
  tests/unit/harbor/test_tool_usage.py
  tox.ini
  uv.lock
Due: format-python, lint-python, uv-lock-check

fix(experiments): keep each score with its delta and move the bar aside
  js/app/src/components/experiment/ExperimentMetricDelta.tsx
  js/app/src/pages/experiments/ExperimentsTable.tsx
  js/app/stories/domains/experiments/MetricDelta.stories.tsx
Due: oxfmt-js, oxlint-js

fix(experiments): pack metric cell slots to the right
  js/app/src/components/experiment/ExperimentMetricDelta.tsx
Due: oxfmt-js, oxlint-js

fix(experiments): hide the metric cell bar when the column is too narrow
  js/app/src/components/experiment/ExperimentMetricDelta.tsx
Due: oxfmt-js, oxlint-js

fix(experiments): drop the annotation bar by column size instead of a container query
  js/app/src/components/experiment/ExperimentMetricDelta.tsx
  js/app/src/pages/experiments/ExperimentsTable.tsx
Due: oxfmt-js, oxlint-js

refactor(experiments): share one cell renderer across the run metric columns
  js/app/src/pages/experiments/ExperimentDetailsDialog.tsx
  js/app/src/pages/experiments/ExperimentsTable.tsx
Due: oxfmt-js, oxlint-js

refactor(harbor): drop docstrings that restate the dataset verifier code
  evals/harbor/scripts/check_job_staged.py
  evals/harbor/scripts/stage_harbor_environments.sh
  evals/harbor/tasks/api-selection-dev/verifiers/api_selection_verifiers/verify.py
  evals/harbor/verifiers/harbor_verifiers/tool_usage.py
  evals/harbor/verifiers/harbor_verifiers/verify.py
Due: format-python, lint-python
