Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

chore: format evaluator instance test
  app/src/components/evaluators/EvaluatorChatTemplate/__tests__/utils.test.ts
Due: oxfmt-app, oxlint-app

refactor(playground): address PR review and dedup JSON-object config fields
  app/src/components/playground/model/CustomHeadersModelConfigFormField.tsx
  app/src/components/playground/model/ExtraBodyModelConfigFormField.tsx
  app/src/components/playground/model/JSONObjectModelConfigFormField.tsx
  app/src/components/playground/model/ModelInvocationParametersFormFields.tsx
  app/src/components/playground/model/ModelParametersConfigButton.tsx
  app/src/components/playground/model/SaveModelConfigButton.tsx
  app/src/pages/playground/invocationParameterSpecs.ts
  app/src/pages/playground/providerAdapters/__tests__/anthropicAdapter.test.ts
  app/src/pages/playground/providerAdapters/__tests__/awsAdapter.test.ts
  app/src/pages/playground/providerAdapters/__tests__/googleAdapter.test.ts
  app/src/pages/playground/providerAdapters/anthropicAdapter.ts
  app/src/pages/playground/providerAdapters/index.ts
  app/src/pages/playground/schemas.ts
  app/stories/ExtraBodyModelConfigFormField.stories.tsx
Due: oxfmt-app, oxlint-app

fix(cli): mock 15.5.0 server version in --identifier note tests
  js/packages/phoenix-cli/test/notes.test.ts
Due: oxfmt-js, oxlint-js

fix(agents): read modelSelection through a ref so mid-session model swaps take effect
  app/src/components/agent/useAgentChat.ts
  app/src/components/agent/useGenerateSessionSummary.ts
Due: oxfmt-app, oxlint-app

feat: session-tagged identifiers for open/axial coding workflows (#13083)
  .agents/skills/phoenix-cli/SKILL.md
  .agents/skills/phoenix-cli/references/axial-coding.md
  .agents/skills/phoenix-cli/references/open-coding.md
  app/src/api/__generated__/v1.ts
  js/.changeset/rename-annotation-delete-commands.md
  js/packages/phoenix-cli/README.md
  js/packages/phoenix-cli/src/cli.ts
  js/packages/phoenix-cli/src/commands/annotationMutationUtils.ts
  js/packages/phoenix-cli/src/commands/formatAnnotationDelete.ts
  js/packages/phoenix-cli/src/commands/index.ts
  js/packages/phoenix-cli/src/commands/project.ts
  js/packages/phoenix-cli/src/commands/session.ts
  js/packages/phoenix-cli/src/commands/sessionAnnotationsCommand.ts
  js/packages/phoenix-cli/src/commands/span.ts
  js/packages/phoenix-cli/src/commands/spanAnnotationsCommand.ts
  js/packages/phoenix-cli/src/commands/trace.ts
  js/packages/phoenix-cli/src/commands/traceAnnotationsCommand.ts
  js/packages/phoenix-cli/src/structuredError.ts
  js/packages/phoenix-cli/test/annotate.test.ts
  js/packages/phoenix-cli/test/cli.test.ts
  js/packages/phoenix-cli/test/deleteAnnotations.test.ts
  js/packages/phoenix-cli/test/notes.test.ts
  js/packages/phoenix-cli/test/projectGet.test.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-client/src/constants/serverRequirements.ts
  js/packages/phoenix-client/src/sessions/addSessionNote.ts
  js/packages/phoenix-client/src/spans/addSpanNote.ts
  js/packages/phoenix-client/src/spans/getSpanAnnotations.ts
  js/packages/phoenix-client/src/traces/addTraceNote.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/annotations.py
  src/phoenix/server/api/routers/v1/sessions.py
  src/phoenix/server/api/routers/v1/spans.py
  src/phoenix/server/api/routers/v1/traces.py
  tests/unit/server/api/routers/v1/test_sessions.py
  tests/unit/server/api/routers/v1/test_spans.py
  tests/unit/server/api/routers/v1/test_traces.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

feat(agents): populate project_sessions for /chat and /summary traces
  src/phoenix/server/api/routers/agents.py
  src/phoenix/tracers.py
  tests/unit/test_tracers.py
Due: format-python, lint-python

refactor(agents): split _upsert_project_sessions from trace persistence
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python

chore: add naming guidance to phoenix-server skill, rename ps locals
  .agents/skills/phoenix-server/SKILL.md
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python

feat(sandbox): wire Vercel network_policy + bump SDK floor to 0.5.8
  pyproject.toml
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/vercel_backend.py
  tests/unit/server/sandbox/test_unified_config_contract.py
  tests/unit/server/sandbox/test_vercel_backend.py
  uv.lock
Due: format-python, lint-python, uv-lock-check

fix: keep PXI send button in stop mode while streaming
  app/src/components/agent/useAgentChat.ts
  app/src/components/ai/prompt-input/PromptInput.tsx
  app/src/components/ai/prompt-input/PromptInputSubmit.tsx
  app/src/components/ai/prompt-input/types.ts
Due: oxfmt-app, oxlint-app

refactor(agents): make _upsert_project_sessions pure — return rowid map
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python

refactor(agents): extract _apply_project_session_rowids helper
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python

refactor(agents): narrow _apply_project_session_rowid to a single trace
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python

refactor(agents): make _apply_project_session_rowid kwargs-only
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python

fix: keep PXI send button in stop mode while streaming (#13188)
  app/src/components/agent/useAgentChat.ts
  app/src/components/ai/prompt-input/PromptInput.tsx
  app/src/components/ai/prompt-input/PromptInputSubmit.tsx
  app/src/components/ai/prompt-input/types.ts
Due: oxfmt-app, oxlint-app

refactor(agents): wrap session orchestration in _link_project_sessions_to_traces
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python

refactor(agents): fold add_all/flush into _persist_db_traces helper
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python

refactor(agents): hoist _persist_db_traces above its building-block helpers
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python

refactor(agents): actually hoist _persist_db_traces this time
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python

fix(agents): assign persistent ProjectSession to trace relationship
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python

feat: refactor story layout API to eb more clear
  app/.storybook/preview.tsx
Due: oxfmt-app, oxlint-app

refactor(agents): move chat model selection from query params to request body (#13182)
  app/src/agent/chat/__tests__/buildAgentChatRequestBody.test.ts
  app/src/agent/chat/buildAgentChatRequestBody.ts
  app/src/api/__generated__/v1.ts
  app/src/components/agent/AgentChatPanel.tsx
  app/src/components/agent/Chat.tsx
  app/src/components/agent/TraceAgentChatPanel.tsx
  app/src/components/agent/useAgentChat.ts
  app/src/components/agent/useAgentChatPanelState.ts
  app/src/components/agent/useGenerateSessionSummary.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/server/agents/chat_params.py
  src/phoenix/server/agents/model_factory.py
  src/phoenix/server/agents/model_selection.py
  src/phoenix/server/api/routers/agents.py
  tests/integration/auth/test_auth.py
  tests/unit/server/agents/test_model_factory.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

feat(sandbox): wire runtime dependency install for Vercel backend (#13169)
  pyproject.toml
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/vercel_backend.py
  tests/unit/server/sandbox/test_capability_matrix.py
  tests/unit/server/sandbox/test_unified_config_contract.py
  tests/unit/server/sandbox/test_vercel_backend.py
  uv.lock
Due: format-python, lint-python, uv-lock-check

feat(agents): curate PXI model menu
  app/src/agent/models/curatedModels.ts
  app/src/components/agent/AgentModelMenu.tsx
  app/src/components/generative/ModelMenu.tsx
  app/src/store/__tests__/agentStore.test.ts
  app/src/store/agentStore.ts
Due: oxfmt-app, oxlint-app

Chore: Restore llms.txt file
  docs/phoenix/custom-llms.txt
  docs/phoenix/llms.txt
  js/packages/phoenix-cli/src/commands/docs.ts
  js/packages/phoenix-cli/test/fixtures/llms.txt
Due: oxfmt-js, oxlint-js

restore llms.txt
  docs/phoenix/llms.txt
Due: none

chore: Restore llms.txt file (#13191)
  docs/phoenix/llms.txt
  js/packages/phoenix-cli/src/commands/docs.ts
  js/packages/phoenix-cli/test/fixtures/llms.txt
Due: oxfmt-js, oxlint-js

feat: story frame docs and styling
  app/.storybook/preview-body.html
  app/.storybook/preview.tsx
  app/stories/Alert.stories.tsx
  app/stories/StorybookFrameAPI.mdx
Due: oxfmt-app, oxlint-app

fix(evaluators): preserve user score when categorical config has no canonical score
  src/phoenix/server/api/coerce_output.py
  tests/unit/server/api/test_coerce_output.py
Due: format-python, lint-python

fix(client): reject unsupported ATIF path-only refs
  packages/phoenix-client/src/phoenix/client/helpers/atif/_validate.py
  packages/phoenix-client/tests/client/helpers/atif/test_validate.py
Due: format-python, lint-python

fix(client): satisfy Pyright for ATIF v1.7 tests
  packages/phoenix-client/src/phoenix/client/helpers/atif/_convert.py
  packages/phoenix-client/tests/client/helpers/atif/test_convert.py
Due: format-python, lint-python

docs(agents): tighten phoenix-server naming guidance
  .agents/skills/phoenix-server/SKILL.md
Due: none

feat: add pydantic-ai-skills dependency for SkillsCapability loader
  pyproject.toml
  uv.lock
Due: uv-lock-check

fix(client): satisfy mypy in ATIF validator
  packages/phoenix-client/src/phoenix/client/helpers/atif/_validate.py
Due: format-python, lint-python

chore: add submit-create-dataset-btn testid on slideover submit buttons
  app/src/components/dataset/DatasetForm.tsx
  app/src/pages/datasets/DatasetFromFileForm.tsx
Due: oxfmt-app, oxlint-app

chore: add data-testid attributes to key UI buttons for E2E tests
  app/src/components/evaluators/EditLLMEvaluatorDialogContent.tsx
  app/src/pages/dataset/RunDatasetExperimentButton.tsx
  app/src/pages/datasets/CreateDatasetButton.tsx
  app/src/pages/playground/PlaygroundRunButton.tsx
  app/src/pages/projects/NewProjectButton.tsx
Due: oxfmt-app, oxlint-app

chore: move data-testid to first prop position for consistency
  app/src/components/dataset/DatasetForm.tsx
  app/src/components/evaluators/EditLLMEvaluatorDialogContent.tsx
  app/src/pages/dataset/RunDatasetExperimentButton.tsx
  app/src/pages/datasets/CreateDatasetButton.tsx
  app/src/pages/datasets/DatasetFromFileForm.tsx
  app/src/pages/playground/PlaygroundRunButton.tsx
  app/src/pages/projects/NewProjectButton.tsx
Due: oxfmt-app, oxlint-app

chore: gate create-eval-btn testid on create mode
  app/src/components/evaluators/EditLLMEvaluatorDialogContent.tsx
Due: oxfmt-app, oxlint-app

chore: add create-eval-btn testid to built-in evaluator create dialog
  app/src/components/evaluators/EditBuiltInEvaluatorDialogContent.tsx
Due: oxfmt-app, oxlint-app

refactor: standardize data-testid naming and move state to data-* attributes
  .agents/skills/phoenix-frontend/SKILL.md
  .agents/skills/phoenix-frontend/rules/test-ids.md
  .agents/skills/phoenix-playwright-tests/SKILL.md
  .gitignore
  app/src/components/dataset/DatasetForm.tsx
  app/src/components/evaluators/EditBuiltInEvaluatorDialogContent.tsx
  app/src/components/evaluators/EditLLMEvaluatorDialogContent.tsx
  app/src/pages/dataset/RunDatasetExperimentButton.tsx
  app/src/pages/datasets/CreateDatasetButton.tsx
  app/src/pages/datasets/DatasetFromFileForm.tsx
  app/src/pages/playground/PlaygroundRunButton.tsx
  app/src/pages/projects/NewProjectButton.tsx
Due: oxfmt-app, oxlint-app

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
