Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: clean-notebooks, format-notebooks

clean-notebooks:
  name: clean-notebooks
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --ClearMetadataPreprocessor.enabled=True --inplace

format-notebooks:
  name: format-notebooks
  stages:
  - commit
  language: system
  entry: nbqa ruff --fix

feat: Use adaptive rate limiting (#1705)
  pyproject.toml
  scripts/rate_limit/openai_testing.py
  src/phoenix/experimental/evals/models/openai.py
  src/phoenix/experimental/evals/models/rate_limiters.py
  tests/experimental/evals/functions/test_classify.py
  tests/experimental/test_ratelimiters.py
Due: none

Add rate cap and rate reduction cooldown
  pyproject.toml
  src/phoenix/experimental/evals/models/rate_limiters.py
  tests/experimental/test_ratelimiters.py
Due: none

Rename test file
  tests/experimental/test_rate_limiters.py
Due: none

Wire up configurations into rate limiter object
  src/phoenix/experimental/evals/models/openai.py
  src/phoenix/experimental/evals/models/rate_limiters.py
Due: none

Ruff 🐶
  src/phoenix/experimental/evals/models/rate_limiters.py
  tests/experimental/test_rate_limiters.py
Due: none

Reset tokens and cool down on errors
  src/phoenix/experimental/evals/models/rate_limiters.py
  tests/experimental/test_rate_limiters.py
Due: none

Use better defaults
  src/phoenix/experimental/evals/models/rate_limiters.py
Due: none

LiteLLM completion retry
  pyproject.toml
  src/phoenix/experimental/evals/__init__.py
  src/phoenix/experimental/evals/models/__init__.py
  src/phoenix/experimental/evals/models/base.py
  src/phoenix/experimental/evals/models/litellm.py
Due: none

type checking
  pyproject.toml
  src/phoenix/experimental/evals/models/base.py
  src/phoenix/experimental/evals/models/litellm.py
Due: none

Done
  src/phoenix/experimental/evals/models/base.py
  src/phoenix/experimental/evals/models/litellm.py
Due: none

Use tailored explanation prompt
  src/phoenix/experimental/evals/__init__.py
  src/phoenix/experimental/evals/functions/classify.py
  src/phoenix/experimental/evals/templates/__init__.py
  src/phoenix/experimental/evals/templates/default_templates.py
  src/phoenix/experimental/evals/templates/template.py
Due: none

add MapReducer and Refiner with Jupyter notebook
  src/phoenix/experimental/evals/long_context_evaluators.py
  tutorials/internal/long_context_summary_evals.ipynb
Due: clean-notebooks

incorporate pr feedback
  src/phoenix/experimental/evals/long_context_evaluators.py
  tutorials/internal/long_context_summary_evals.ipynb
Due: clean-notebooks

deprecate llm_eval_binary
  src/phoenix/experimental/evals/__init__.py
  src/phoenix/experimental/evals/functions/__init__.py
  src/phoenix/experimental/evals/functions/classify.py
Due: none

deprecate llm_eval_binary (#1711)
  src/phoenix/experimental/evals/__init__.py
  src/phoenix/experimental/evals/functions/__init__.py
  src/phoenix/experimental/evals/functions/classify.py
Due: none

snap to rail after each llm call
  src/phoenix/experimental/evals/functions/classify.py
  src/phoenix/experimental/evals/models/base.py
Due: none

fix progress bar
  src/phoenix/experimental/evals/functions/classify.py
  src/phoenix/experimental/evals/models/base.py
Due: none

fix unit test
  src/phoenix/experimental/evals/models/base.py
Due: none

handle verbose mode client-side
  src/phoenix/experimental/evals/functions/classify.py
  src/phoenix/experimental/evals/models/base.py
  src/phoenix/experimental/evals/models/openai.py
  src/phoenix/experimental/evals/models/vertexai.py
Due: none

use tqdm.auto.tqdm for compatibility with jupyter notebooks
  src/phoenix/experimental/evals/functions/classify.py
Due: none

use tqdm.auto for safer notebook output
  src/phoenix/experimental/evals/functions/classify.py
  src/phoenix/utilities/logging.py
Due: none

pin openai version below 1.0.0
  pyproject.toml
Due: none

pin openai types below 1.0.0
  pyproject.toml
Due: none

git output via openai migrate
  scripts/rag/llama_index_w_evals_and_qa.py
  src/phoenix/experimental/evals/retrievals.py
  tests/trace/openai/test_instrumentor.py
  tutorials/build_arize_docs_index_langchain_pinecone.py
Due: none

WIP
  pyproject.toml
  src/phoenix/experimental/evals/models/openai.py
Due: none

fix: pin openai version below 1.0.0 (#1714)
  pyproject.toml
Due: none

add more notebooks
  tutorials/evals/evaluate_QA_classifications.ipynb
  tutorials/evals/evaluate_code_readability_classifications.ipynb
  tutorials/evals/evaluate_hallucination_classifications.ipynb
  tutorials/evals/evaluate_relevance_classifications.ipynb
  tutorials/evals/evaluate_summarization_classifications.ipynb
  tutorials/evals/evaluate_toxicity_classifications.ipynb
  tutorials/find_cluster_export_and_explore_with_gpt.ipynb
  tutorials/internal/langchain_retrieval_qa_with_sources_chain_tracing_tutorial.ipynb
  tutorials/internal/llama_index_tracing_example.ipynb
  tutorials/langchain_pinecone_search_and_retrieval_tutorial.ipynb
  tutorials/llama_index_search_and_retrieval_tutorial.ipynb
  tutorials/llm_generative_gpt_4.ipynb
  tutorials/milvus_llamaindex_search_and_retrieval_tutorial.ipynb
  tutorials/ragas_retrieval_evals_tutorial.ipynb
  tutorials/tracing/llama_index_openai_agent_tracing_tutorial.ipynb
Due: clean-notebooks, format-notebooks

langchain adjustments
  tutorials/tracing/langchain_agent_tracing_tutorial.ipynb
  tutorials/tracing/langchain_tracing_tutorial.ipynb
Due: clean-notebooks, format-notebooks

more adjustments
  tutorials/evals/evaluate_QA_classifications.ipynb
  tutorials/evals/evaluate_code_readability_classifications.ipynb
  tutorials/evals/evaluate_hallucination_classifications.ipynb
  tutorials/evals/evaluate_relevance_classifications.ipynb
  tutorials/evals/evaluate_summarization_classifications.ipynb
  tutorials/evals/evaluate_toxicity_classifications.ipynb
  tutorials/internal/langchain_retrieval_qa_with_sources_chain_tracing_tutorial.ipynb
  tutorials/langchain_pinecone_search_and_retrieval_tutorial.ipynb
  tutorials/llama_index_search_and_retrieval_tutorial.ipynb
  tutorials/milvus_llamaindex_search_and_retrieval_tutorial.ipynb
  tutorials/ragas_retrieval_evals_tutorial.ipynb
  tutorials/tracing/openai_tracing_tutorial.ipynb
Due: clean-notebooks, format-notebooks

unnest model invocation
  src/phoenix/experimental/evals/functions/classify.py
  tests/experimental/evals/functions/test_classify.py
Due: none

update toxicity evals notebook
  tutorials/evals/evaluate_toxicity_classifications.ipynb
Due: clean-notebooks, format-notebooks

refactor: snap to rail after each llm call (#1712)
  src/phoenix/experimental/evals/functions/classify.py
  src/phoenix/experimental/evals/models/base.py
  src/phoenix/experimental/evals/models/openai.py
  src/phoenix/experimental/evals/models/vertexai.py
  src/phoenix/utilities/logging.py
  tests/experimental/evals/functions/test_classify.py
Due: none

Fix more eval notebooks
  tutorials/evals/evaluate_QA_classifications.ipynb
  tutorials/evals/evaluate_hallucination_classifications.ipynb
  tutorials/evals/evaluate_relevance_classifications.ipynb
  tutorials/evals/evaluate_summarization_classifications.ipynb
Due: clean-notebooks, format-notebooks

remove misc mkdown file
  tutorials/internal/llama_index_tracing_example.ipynb
Due: clean-notebooks

fix
  tutorials/tracing/llama_index_tracing_tutorial.ipynb
Due: clean-notebooks, format-notebooks

docs: pin tutorials to openai<1 (#1718)
  tutorials/evals/evaluate_QA_classifications.ipynb
  tutorials/evals/evaluate_code_readability_classifications.ipynb
  tutorials/evals/evaluate_hallucination_classifications.ipynb
  tutorials/evals/evaluate_relevance_classifications.ipynb
  tutorials/evals/evaluate_summarization_classifications.ipynb
  tutorials/evals/evaluate_toxicity_classifications.ipynb
  tutorials/find_cluster_export_and_explore_with_gpt.ipynb
  tutorials/internal/langchain_retrieval_qa_with_sources_chain_tracing_tutorial.ipynb
  tutorials/internal/llama_index_tracing_example.ipynb
  tutorials/langchain_pinecone_search_and_retrieval_tutorial.ipynb
  tutorials/llama_index_search_and_retrieval_tutorial.ipynb
  tutorials/llm_generative_gpt_4.ipynb
  tutorials/milvus_llamaindex_search_and_retrieval_tutorial.ipynb
  tutorials/ragas_retrieval_evals_tutorial.ipynb
  tutorials/tracing/langchain_agent_tracing_tutorial.ipynb
  tutorials/tracing/langchain_tracing_tutorial.ipynb
  tutorials/tracing/llama_index_openai_agent_tracing_tutorial.ipynb
  tutorials/tracing/llama_index_tracing_tutorial.ipynb
  tutorials/tracing/openai_tracing_tutorial.ipynb
Due: clean-notebooks, format-notebooks

improve error messages
  src/phoenix/experimental/evals/long_context_evaluators.py
Due: none

Add explanation templates for all evals
  src/phoenix/experimental/evals/templates/default_templates.py
  src/phoenix/experimental/evals/templates/template.py
Due: none

Path conditions:
  clean-notebooks: any of: \.ipynb$
  format-notebooks: any of: \.ipynb$, but not: \.*internal.*$
