Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

feat(ui): add icon prefixes to settings tabs (#14512)
  app/src/components/agent/PxiGlyph.tsx
  app/src/components/agent/index.tsx
  app/src/components/core/icon/Icons.tsx
  app/src/pages/settings/SettingsPage.tsx
Due: oxfmt-app, oxlint-app

refactor(cli): dedupe px setup error funnel, fix codex header handling, and add changeset
  docs/phoenix/integrations/remote-mcp.mdx
  docs/phoenix/sdk-api-reference/typescript/arizeai-phoenix-cli.mdx
  js/.changeset/px-setup-mcp.md
  js/packages/phoenix-cli/README.md
  js/packages/phoenix-cli/src/commands/setup.ts
  js/packages/phoenix-cli/src/commands/setupErrors.ts
  js/packages/phoenix-cli/src/commands/setupMcp.ts
  js/packages/phoenix-cli/src/setup/agents/registry.ts
  js/packages/phoenix-cli/src/setup/mcp/agents.ts
  js/packages/phoenix-cli/src/setup/mcp/install.ts
  js/packages/phoenix-cli/src/setup/mcp/runSetupMcp.ts
  js/packages/phoenix-cli/test/setup/mcp/agents.test.ts
  js/packages/phoenix-cli/test/setup/mcp/runSetupMcp.test.ts
Due: oxfmt-js, oxlint-js

refactor(cli): px setup mcp polish — shared error funnel, codex header fixes, repo-root local installs (+ changeset) (#14513)
  docs/phoenix/integrations/remote-mcp.mdx
  docs/phoenix/sdk-api-reference/typescript/arizeai-phoenix-cli.mdx
  js/.changeset/px-setup-mcp.md
  js/packages/phoenix-cli/README.md
  js/packages/phoenix-cli/src/commands/setup.ts
  js/packages/phoenix-cli/src/commands/setupErrors.ts
  js/packages/phoenix-cli/src/commands/setupMcp.ts
  js/packages/phoenix-cli/src/setup/agents/registry.ts
  js/packages/phoenix-cli/src/setup/mcp/agents.ts
  js/packages/phoenix-cli/src/setup/mcp/install.ts
  js/packages/phoenix-cli/src/setup/mcp/runSetupMcp.ts
  js/packages/phoenix-cli/test/setup/mcp/agents.test.ts
  js/packages/phoenix-cli/test/setup/mcp/runSetupMcp.test.ts
Due: oxfmt-js, oxlint-js

feat(ui): add MCP settings tab with setup guide
  .agents/skills/phoenix-design/references/icons.md
  app/src/Routes.tsx
  app/src/components/code/JSONBlockWithCopy.tsx
  app/src/components/code/TomlBlock.tsx
  app/src/components/code/TomlBlockWithCopy.tsx
  app/src/components/code/index.tsx
  app/src/components/core/icon/Icons.tsx
  app/src/pages/settings/SettingsMCPPage.tsx
  app/src/pages/settings/SettingsPage.tsx
  app/src/window.d.ts
  app/vitest.setup.ts
  src/phoenix/server/app.py
  src/phoenix/server/templates/index.html
Due: format-python, lint-python, oxfmt-app, oxlint-app

docs: add experiments CI/CD guide
  docs.json
  docs/phoenix/datasets-and-experiments/how-to-experiments.mdx
  docs/phoenix/datasets-and-experiments/how-to-experiments/eval-ci-with-pytest.mdx
  docs/phoenix/datasets-and-experiments/how-to-experiments/experiments-in-cicd.mdx
  docs/phoenix/datasets-and-experiments/overview-datasets.mdx
  docs/phoenix/evaluation/integrations/pytest.mdx
  docs/phoenix/evaluation/integrations/vitest-jest.mdx
  docs/phoenix/llms.txt
  docs/phoenix/sitemap.xml
  sitemap.xml
Due: none

feat(server): add REST endpoint to backfill cost on historical LLM spans
  docs/phoenix/tracing/how-to-tracing/cost-tracking.mdx
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/__init__.py
  src/phoenix/server/api/routers/v1/span_costs.py
  tests/unit/server/api/routers/v1/test_span_costs.py
Due: format-python, lint-python

test(scripts): add cost-backfill performance harness (sqlite + postgres)
  scripts/backfill_costs_perf/README.md
  scripts/backfill_costs_perf/docker-compose.postgres.yml
  scripts/backfill_costs_perf/docker-compose.sqlite.yml
  scripts/backfill_costs_perf/run_perf_test.py
Due: format-python, lint-python

refactor(ui): polish MCP settings tab — shared copy-block shell, unified copy-button styling
  .agents/skills/phoenix-design/references/icons.md
  app/package.json
  app/src/GlobalStyles.tsx
  app/src/components/code/BashBlockWithCopy.tsx
  app/src/components/code/CodeBlockWithCopy.tsx
  app/src/components/code/JSONBlockWithCopy.tsx
  app/src/components/code/PackageManagerCommandBlock.tsx
  app/src/components/code/PythonBlockWithCopy.tsx
  app/src/components/code/TomlBlock.tsx
  app/src/components/code/TomlBlockWithCopy.tsx
  app/src/components/code/TypeScriptBlockWithCopy.tsx
  app/src/components/code/index.tsx
  app/src/components/code/styles.tsx
  app/src/components/core/field/CopyInput.tsx
  app/src/components/core/icon/Icons.tsx
  app/src/components/project/IntegrationIcons.tsx
  app/src/pages/settings/SettingsMCPPage.tsx
  app/src/pages/settings/SettingsPage.tsx
  app/stories/CodeBlockWithCopy.stories.tsx
Due: oxfmt-app, oxlint-app

style(ui): fix oxfmt formatting in copy-block refactor
  app/src/GlobalStyles.tsx
  app/src/components/code/CodeBlockWithCopy.tsx
  app/src/components/core/field/CopyInput.tsx
Due: oxfmt-app, oxlint-app

docs: reorganize agent-assisted setup narrative; promote quickstart links
  docs/phoenix/agent-assisted-setup.mdx
  docs/phoenix/get-started/get-started-tracing.mdx
  docs/phoenix/get-started/ts-get-started-tracing.mdx
Due: none

chore(js): update versions (#14514)
  js/.changeset/px-setup-mcp.md
  js/packages/phoenix-cli/CHANGELOG.md
  js/packages/phoenix-cli/package.json
Due: oxfmt-js

docs: reorganize agent-assisted setup narrative; promote quickstart links (#14517)
  docs/phoenix/agent-assisted-setup.mdx
  docs/phoenix/get-started/get-started-tracing.mdx
  docs/phoenix/get-started/ts-get-started-tracing.mdx
Due: none

feat(ui): add MCP settings tab with setup guide (#14515)
  .agents/skills/phoenix-design/references/icons.md
  app/package.json
  app/src/GlobalStyles.tsx
  app/src/Routes.tsx
  app/src/components/code/BashBlockWithCopy.tsx
  app/src/components/code/CodeBlockWithCopy.tsx
  app/src/components/code/JSONBlockWithCopy.tsx
  app/src/components/code/PackageManagerCommandBlock.tsx
  app/src/components/code/TomlBlock.tsx
  app/src/components/code/TomlBlockWithCopy.tsx
  app/src/components/code/TypeScriptBlockWithCopy.tsx
  app/src/components/code/index.tsx
  app/src/components/code/styles.tsx
  app/src/components/core/field/CopyInput.tsx
  app/src/components/core/icon/Icons.tsx
  app/src/components/project/IntegrationIcons.tsx
  app/src/pages/settings/SettingsMCPPage.tsx
  app/src/pages/settings/SettingsPage.tsx
  app/src/window.d.ts
  app/stories/CodeBlockWithCopy.stories.tsx
  app/vitest.setup.ts
  src/phoenix/server/app.py
  src/phoenix/server/templates/index.html
Due: format-python, lint-python, oxfmt-app, oxlint-app

chore: update sitemap.xml (#14498)
  docs/phoenix/sitemap.xml
  sitemap.xml
Due: none

chore(main): release arize-phoenix 19.1.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

test(phoenix-client): migrate remaining ad-hoc HTTP mocks to phoenix-testing
  js/packages/phoenix-client/test/client.test.ts
  js/packages/phoenix-client/test/datasets/getDataset.test.ts
Due: oxfmt-js, oxlint-js

fix(cli): px auth login pre-flights OAuth discovery before the browser flow
  js/.changeset/px-auth-login-preflight.md
  js/packages/phoenix-cli/src/commands/auth.ts
  js/packages/phoenix-cli/src/oauth.ts
  js/packages/phoenix-cli/src/setup/deps/oauthLogin.ts
  js/packages/phoenix-cli/test/auth.test.ts
Due: oxfmt-js, oxlint-js

test(phoenix-client): migrate remaining ad-hoc HTTP mocks to phoenix-testing (#14518)
  js/packages/phoenix-client/test/client.test.ts
  js/packages/phoenix-client/test/datasets/getDataset.test.ts
Due: oxfmt-js, oxlint-js

refactor(cli): review cleanups for OAuth discovery pre-flight
  js/packages/phoenix-cli/src/commands/auth.ts
  js/packages/phoenix-cli/src/oauth.ts
  js/packages/phoenix-cli/test/auth.test.ts
Due: oxfmt-js, oxlint-js

fix(cli): px auth login pre-flights OAuth discovery before the browser flow (#14519)
  js/.changeset/px-auth-login-preflight.md
  js/packages/phoenix-cli/src/commands/auth.ts
  js/packages/phoenix-cli/src/oauth.ts
  js/packages/phoenix-cli/src/setup/deps/oauthLogin.ts
  js/packages/phoenix-cli/test/auth.test.ts
Due: oxfmt-js, oxlint-js

chore(js): update versions (#14520)
  js/.changeset/px-auth-login-preflight.md
  js/packages/phoenix-cli/CHANGELOG.md
  js/packages/phoenix-cli/package.json
Due: oxfmt-js

chore: update phoenix version to 19.1.0 in kustomize and helm
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

test(cli): migrate CLI tests to phoenix-testing MSW mocks and add command coverage
  js/packages/phoenix-cli/package.json
  js/packages/phoenix-cli/test/annotate.test.ts
  js/packages/phoenix-cli/test/annotationConfigGetCreate.test.ts
  js/packages/phoenix-cli/test/annotationConfigUpdate.test.ts
  js/packages/phoenix-cli/test/api.test.ts
  js/packages/phoenix-cli/test/datasetCommand.test.ts
  js/packages/phoenix-cli/test/delete.test.ts
  js/packages/phoenix-cli/test/deleteAnnotations.test.ts
  js/packages/phoenix-cli/test/experimentCommand.test.ts
  js/packages/phoenix-cli/test/mockServer.ts
  js/packages/phoenix-cli/test/notes.test.ts
  js/packages/phoenix-cli/test/projectGet.test.ts
  js/packages/phoenix-cli/test/projectList.test.ts
  js/packages/phoenix-cli/test/promptCommand.test.ts
  js/packages/phoenix-cli/test/self.test.ts
  js/packages/phoenix-cli/test/sessionAnnotationsNotes.test.ts
  js/packages/phoenix-cli/test/sessionCommand.test.ts
  js/packages/phoenix-cli/test/spanCommand.test.ts
  js/packages/phoenix-cli/test/traceCommand.test.ts
  js/packages/phoenix-testing/README.md
  js/packages/phoenix-testing/package.json
  js/packages/phoenix-testing/src/msw.ts
  js/packages/phoenix-testing/src/openApi.ts
  js/packages/phoenix-testing/test/node.test.ts
  js/pnpm-lock.yaml
Due: oxfmt-js, oxlint-js

refactor(phoenix-testing): re-export msw from the top-level entry point
  js/packages/phoenix-cli/test/annotate.test.ts
  js/packages/phoenix-cli/test/annotationConfigGetCreate.test.ts
  js/packages/phoenix-cli/test/annotationConfigUpdate.test.ts
  js/packages/phoenix-cli/test/api.test.ts
  js/packages/phoenix-cli/test/datasetCommand.test.ts
  js/packages/phoenix-cli/test/experimentCommand.test.ts
  js/packages/phoenix-cli/test/projectList.test.ts
  js/packages/phoenix-cli/test/promptCommand.test.ts
  js/packages/phoenix-cli/test/self.test.ts
  js/packages/phoenix-cli/test/sessionAnnotationsNotes.test.ts
  js/packages/phoenix-cli/test/sessionCommand.test.ts
  js/packages/phoenix-cli/test/spanCommand.test.ts
  js/packages/phoenix-cli/test/traceCommand.test.ts
  js/packages/phoenix-testing/README.md
  js/packages/phoenix-testing/package.json
  js/packages/phoenix-testing/src/index.ts
  js/packages/phoenix-testing/src/msw.ts
Due: oxfmt-js, oxlint-js

refactor(cli): consolidate test boilerplate into shared testUtils
  js/packages/phoenix-cli/.agents/skills/phoenix-cli-development/SKILL.md
  js/packages/phoenix-cli/test/annotate.test.ts
  js/packages/phoenix-cli/test/annotationConfigGetCreate.test.ts
  js/packages/phoenix-cli/test/annotationConfigUpdate.test.ts
  js/packages/phoenix-cli/test/api.test.ts
  js/packages/phoenix-cli/test/auth.test.ts
  js/packages/phoenix-cli/test/confirm.test.ts
  js/packages/phoenix-cli/test/datasetCommand.test.ts
  js/packages/phoenix-cli/test/delete.test.ts
  js/packages/phoenix-cli/test/deleteAnnotations.test.ts
  js/packages/phoenix-cli/test/experimentCommand.test.ts
  js/packages/phoenix-cli/test/notes.test.ts
  js/packages/phoenix-cli/test/projectGet.test.ts
  js/packages/phoenix-cli/test/projectList.test.ts
  js/packages/phoenix-cli/test/promptCommand.test.ts
  js/packages/phoenix-cli/test/self.test.ts
  js/packages/phoenix-cli/test/sessionAnnotationsNotes.test.ts
  js/packages/phoenix-cli/test/sessionCommand.test.ts
  js/packages/phoenix-cli/test/spanCommand.test.ts
  js/packages/phoenix-cli/test/testUtils.ts
  js/packages/phoenix-cli/test/traceCommand.test.ts
Due: oxfmt-js, oxlint-js

feat(cli): improve server startup banner
  src/phoenix/server/cli/boot_message.py
  src/phoenix/server/cli/commands/serve.py
  src/phoenix/utilities/__init__.py
  tests/unit/server/cli/commands/test_serve.py
Due: format-python, lint-python

refactor(cli): simplify banner fallback
  src/phoenix/server/cli/boot_message.py
Due: format-python, lint-python

refactor(cli): render startup banner with jinja
  src/phoenix/server/cli/boot_message.py
  tests/unit/server/cli/test_boot_message.py
Due: format-python, lint-python

style(cli): align startup banner sections
  src/phoenix/server/cli/boot_message.py
  tests/unit/server/cli/test_boot_message.py
Due: format-python, lint-python

fix(cli): sanitize startup banner on windows
  src/phoenix/server/cli/boot_message.py
  tests/unit/server/cli/test_boot_message.py
Due: format-python, lint-python

style(cli): place tracing endpoints last
  src/phoenix/server/cli/boot_message.py
  tests/unit/server/cli/test_boot_message.py
Due: format-python, lint-python

fix(ui): guard unsaved example edits against navigation
  app/src/pages/examples/ExamplesPage.tsx
Due: oxfmt-app, oxlint-app

test(server): cover the applyDatasetExampleChanges guards
  tests/unit/server/api/mutations/test_dataset_mutations.py
Due: format-python, lint-python

fix(ui): flag duplicate custom example IDs while editing
  app/src/pages/examples/ExamplesTable.tsx
Due: oxfmt-app, oxlint-app

feat(ui): polish editable examples table design
  app/src/components/table/editing/EditableJSONCell.tsx
  app/src/components/table/editing/editableTableStore.ts
  app/src/components/table/styles.ts
  app/src/pages/examples/ExamplesFilterBar.tsx
  app/src/pages/examples/ExamplesTable.tsx
  app/src/pages/examples/SaveDatasetExamplesDialog.tsx
Due: oxfmt-app, oxlint-app
