Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

feat(agents): eagerly persist first user message and session title on new session creation (#14417)
  src/phoenix/server/agents/summarization.py
  src/phoenix/server/api/routers/agents.py
Due: format-python, lint-python

feat(agents): persist trace session identity (#14435)
  scripts/ddl/postgresql_schema.sql
  src/phoenix/db/migrations/versions/e767d3c57f32_create_agent_sessions_and_agent_session_.py
  src/phoenix/db/models.py
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/agents/test_agents_router.py
  tests/unit/server/api/mutations/test_agent_session_mutations.py
  tests/unit/server/api/routers/test_agents.py
  tests/unit/server/api/types/test_AgentSession.py
Due: format-python, lint-python

feat(agents): admin-configurable retention for persisted agent sessions (#14578)
  app/schema.graphql
  app/src/agent/chat/__tests__/buildAgentChatRequestBody.test.ts
  app/src/components/agent/__tests__/AgentChatTopNavButton.test.tsx
  app/src/components/agent/__tests__/AgentChatWidget.test.tsx
  app/src/components/agent/__tests__/Chat.test.tsx
  app/src/pages/__generated__/authenticatedRootLoaderQuery.graphql.ts
  app/src/pages/authenticatedRootLoader.ts
  app/src/pages/settings/SettingsAgentsWorkspaceCard.tsx
  app/src/pages/settings/__generated__/SettingsAgentsWorkspaceCardSetSessionRetentionMutation.graphql.ts
  app/src/store/__tests__/agentStore.test.ts
  app/src/store/agentStore.ts
  src/phoenix/db/models.py
  src/phoenix/server/api/mutations/system_settings_mutations.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/routers/agents.py
  src/phoenix/server/api/types/AgentsConfig.py
  src/phoenix/server/app.py
  src/phoenix/server/daemons/agent_session_sweeper.py
  src/phoenix/server/daemons/system_settings.py
  src/phoenix/server/settings/registry.py
  tests/unit/server/api/mutations/test_agent_session_retention_mutations.py
  tests/unit/server/api/routers/test_agents.py
  tests/unit/server/daemons/test_agent_session_sweeper.py
  tests/unit/server/daemons/test_system_settings.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

feat(agents): restore legacy /agents/server/sessions/{id}/chat route for published CLIs (#14580)
  app/src/api/__generated__/v1.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/server/api/openapi/schema.py
  src/phoenix/server/api/routers/__init__.py
  src/phoenix/server/api/routers/legacy_agents.py
  src/phoenix/server/app.py
  tests/unit/server/agents/test_legacy_agents_router.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

feat(agents): add temporary chat sessions (#14449)
  .agents/skills/phoenix-design/references/icons.md
  app/schema.graphql
  app/src/components/agent/AgentChatPanelView.tsx
  app/src/components/agent/AgentSessionsResource.tsx
  app/src/components/agent/Chat.tsx
  app/src/components/agent/SessionListMenu.tsx
  app/src/components/agent/TemporaryChatToggle.tsx
  app/src/components/agent/TemporarySessionIcon.tsx
  app/src/components/agent/__generated__/AgentSessionsResourcePaginationQuery.graphql.ts
  app/src/components/agent/__generated__/AgentSessionsResourceQuery.graphql.ts
  app/src/components/agent/__generated__/AgentSessionsResource_sessions.graphql.ts
  app/src/components/agent/__generated__/agentSessionRelaySessionQuery.graphql.ts
  app/src/components/agent/__generated__/useAgentChatBranchAgentSessionMutation.graphql.ts
  app/src/components/agent/__generated__/useAgentChatCreateAgentSessionMutation.graphql.ts
  app/src/components/agent/__tests__/AgentChatPanelView.test.tsx
  app/src/components/agent/__tests__/Chat.test.tsx
  app/src/components/agent/__tests__/TemporaryChatToggle.test.tsx
  app/src/components/agent/agentSessionRelay.ts
  app/src/components/agent/useAgentChat.ts
  app/src/components/core/icon/Icons.tsx
  app/src/pages/settings/SettingsAgentsPage.tsx
  app/src/store/__tests__/agentStore.test.ts
  app/src/store/agentStore.ts
  scripts/ddl/postgresql_schema.sql
  src/phoenix/config.py
  src/phoenix/db/migrations/versions/e767d3c57f32_create_agent_sessions_and_agent_session_.py
  src/phoenix/db/models.py
  src/phoenix/server/api/mutations/agent_session_mutations.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/routers/agents.py
  src/phoenix/server/api/types/AgentSession.py
  src/phoenix/server/app.py
  src/phoenix/server/daemons/agent_session_sweeper.py
  tests/unit/server/api/mutations/test_agent_session_mutations.py
  tests/unit/server/api/routers/test_agents.py
  tests/unit/server/api/types/test_AgentSession.py
  tests/unit/server/daemons/test_agent_session_sweeper.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

feat(agents): serve the server agent on the persisted-session chat route (#14607)
  app/src/api/__generated__/v1.ts
  app/tests/server-evaluators.spec.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  schemas/openapi.json
  src/phoenix/server/agents/server_agents.py
  src/phoenix/server/api/openapi/schema.py
  src/phoenix/server/api/routers/agents.py
  src/phoenix/server/api/routers/legacy_agents.py
  src/phoenix/server/app.py
  tests/unit/server/agents/test_agents_router.py
  tests/unit/server/agents/test_legacy_agents_router.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

fix(agents): scope chat operation feedback (#14620)
  app/src/components/agent/AgentSessionsResource.tsx
  app/src/components/agent/Chat.tsx
  app/src/components/agent/MessageRewindDialog.tsx
  app/src/components/agent/__tests__/Chat.test.tsx
  app/src/components/agent/__tests__/useAgentChat.test.ts
  app/src/components/agent/useAgentChat.ts
Due: oxfmt-app, oxlint-app

fix(agents): apply mid-session model switches to the next send (#14635)
  app/src/components/agent/AgentSessionsResource.tsx
  app/src/components/agent/__tests__/Chat.test.tsx
  app/src/components/agent/__tests__/useAgentChat.test.ts
  app/src/components/agent/__tests__/useAgentChatPanelState.test.ts
  app/src/components/agent/useAgentChat.ts
  app/src/components/agent/useAgentChatPanelState.ts
Due: oxfmt-app, oxlint-app

feat(agents): add session compaction (#14579)
  app/src/agent/chat/types.ts
  app/src/agent/slashCommands/__tests__/promptCommands.test.ts
  app/src/agent/slashCommands/__tests__/runPromptCommands.test.ts
  app/src/agent/slashCommands/promptCommands.ts
  app/src/agent/slashCommands/runPromptCommands.ts
  app/src/api/__generated__/v1.ts
  app/src/components/agent/AgentChatInput.tsx
  app/src/components/agent/AgentSessionsResource.tsx
  app/src/components/agent/Chat.tsx
  app/src/components/agent/ChatSessionUsage.tsx
  app/src/components/agent/__tests__/Chat.test.tsx
  app/src/components/agent/__tests__/ChatSessionUsage.test.ts
  app/src/components/agent/useAgentChat.ts
  app/src/components/ai/prompt-input/PromptInput.tsx
  app/src/components/ai/prompt-input/types.ts
  app/src/store/__tests__/agentStore.test.ts
  app/src/store/agentStore.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  scripts/ddl/postgresql_schema.sql
  src/phoenix/db/migrations/versions/e767d3c57f32_create_agent_sessions_and_agent_session_.py
  src/phoenix/db/models.py
  src/phoenix/db/types/data_stream_protocol/phoenix_types.py
  src/phoenix/server/agents/exceptions.py
  src/phoenix/server/agents/prompts/__init__.py
  src/phoenix/server/agents/prompts/summarization/COMPACTION_MESSAGE.xml.j2
  src/phoenix/server/agents/prompts/summarization/COMPACTION_PROMPT_INSTRUCTIONS.xml.j2
  src/phoenix/server/agents/summarization.py
  src/phoenix/server/api/mutations/agent_session_mutations.py
  src/phoenix/server/api/routers/agents.py
  src/phoenix/server/api/routers/legacy_agents.py
  src/phoenix/server/authorization.py
  tests/unit/server/agents/test_agents_router.py
  tests/unit/server/agents/test_session_history.py
  tests/unit/server/api/mutations/test_agent_session_mutations.py
  tests/unit/server/api/types/test_AgentSession.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

refactor(agents): derive compaction checkpoints from messages (#14667)
  scripts/ddl/postgresql_schema.sql
  src/phoenix/db/migrations/versions/e767d3c57f32_create_agent_sessions_and_agent_session_.py
  src/phoenix/db/models.py
  src/phoenix/server/api/mutations/agent_session_mutations.py
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/agents/test_agents_router.py
  tests/unit/server/agents/test_session_history.py
  tests/unit/server/api/mutations/test_agent_session_mutations.py
Due: format-python, lint-python

refactor(cli): migrate pxi client to stateful chat route (#14581)
  app/src/api/__generated__/v1.ts
  js/packages/phoenix-cli/src/pxi/client.ts
  js/packages/phoenix-cli/src/pxi/types.ts
  js/packages/phoenix-cli/test/pxiApp.test.tsx
  js/packages/phoenix-cli/test/pxiClient.test.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-client/src/constants/serverRequirements.ts
  js/packages/phoenix-client/src/index.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/server/agents/model_selection.py
  src/phoenix/server/api/routers/agents.py
  src/phoenix/server/api/routers/legacy_agents.py
  tests/integration/auth/test_auth.py
  tests/unit/server/agents/test_agents_router.py
  tests/unit/server/agents/test_legacy_agents_router.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

fix(agents): restore forced tracing for legacy chat (#14665)
  src/phoenix/server/api/routers/legacy_agents.py
  tests/unit/server/agents/test_legacy_agents_router.py
Due: format-python, lint-python

fix(agents): preserve current-turn metadata after rebase
  src/phoenix/server/api/routers/agents.py
  src/phoenix/server/api/routers/legacy_agents.py
  tests/unit/server/agents/test_agents_router.py
  tests/unit/server/api/routers/test_agents.py
Due: format-python, lint-python

refactor(agents): refine assistant sessions table
  app/src/components/agent/__generated__/AgentSessionsResourceQuery.graphql.ts
  app/src/pages/settings/SettingsAgentSessionConditionalDeleteButton.tsx
  app/src/pages/settings/SettingsAgentSessionsCard.tsx
  app/src/pages/settings/__generated__/SettingsAgentSessionDeleteButtonMutation.graphql.ts
  app/src/pages/settings/__generated__/SettingsAgentSessionsCardPaginationQuery.graphql.ts
  app/src/pages/settings/__generated__/SettingsAgentSessionsCard_sessions.graphql.ts
  app/src/pages/settings/__generated__/settingsAgentsPageLoaderQuery.graphql.ts
Due: oxfmt-app, oxlint-app

feat(agents): add assistant sessions settings table
  app/schema.graphql
  app/src/Routes.tsx
  app/src/components/agent/AgentSessionsResource.tsx
  app/src/components/agent/__generated__/agentSessionRelaySessionQuery.graphql.ts
  app/src/components/agent/__generated__/useAgentChatBranchAgentSessionMutation.graphql.ts
  app/src/components/agent/__generated__/useAgentChatCreateAgentSessionMutation.graphql.ts
  app/src/components/agent/__generated__/useAgentChatTruncateAgentSessionMutation.graphql.ts
  app/src/components/agent/__tests__/agentSessionRelay.test.ts
  app/src/components/agent/agentSessionRelay.ts
  app/src/components/agent/useAgentChat.ts
  app/src/pages/settings/SettingsAgentSessionActionMenu.tsx
  app/src/pages/settings/SettingsAgentSessionsCard.tsx
  app/src/pages/settings/SettingsAgentsPage.tsx
  app/src/pages/settings/__generated__/SettingsAgentSessionActionMenuDeleteMutation.graphql.ts
  app/src/pages/settings/__generated__/SettingsAgentSessionsCardPaginationQuery.graphql.ts
  app/src/pages/settings/__generated__/SettingsAgentSessionsCard_sessions.graphql.ts
  app/src/pages/settings/__generated__/settingsAgentsPageLoaderQuery.graphql.ts
  app/src/pages/settings/settingsAgentSessionConstants.ts
  app/src/pages/settings/settingsAgentsPageLoader.ts
  src/phoenix/server/api/agent_session_access.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/agent_session_message_text.py
  src/phoenix/server/api/mutations/agent_session_mutations.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/AgentSession.py
  tests/unit/server/api/test_agent_session_access.py
  tests/unit/server/api/types/test_AgentSession.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

chore(js): update versions (#14705)
  js/.changeset/rare-hoops-repeat.md
  js/packages/phoenix-cli/CHANGELOG.md
  js/packages/phoenix-cli/package.json
  js/packages/phoenix-client/CHANGELOG.md
  js/packages/phoenix-client/package.json
  js/packages/phoenix-mcp/CHANGELOG.md
  js/packages/phoenix-mcp/package.json
Due: oxfmt-js

feat(evals): add hallucination evaluator
  docs.json
  docs/phoenix/evaluation/pre-built-metrics.mdx
  docs/phoenix/evaluation/pre-built-metrics/hallucination.mdx
  docs/phoenix/sitemap.xml
  js/.changeset/hallucination-evaluator.md
  js/benchmarks/evals-benchmarks/src/hallucination.eval.ts
  js/packages/phoenix-evals/src/__generated__/default_templates/HALLUCINATION_CLASSIFICATION_EVALUATOR_CONFIG.ts
  js/packages/phoenix-evals/src/llm/createHallucinationEvaluator.ts
  js/packages/phoenix-evals/src/llm/index.ts
  js/packages/phoenix-evals/test/llm/createHallucinationEvaluator.test.ts
  packages/phoenix-client/src/phoenix/client/helpers/spans/__init__.py
  packages/phoenix-client/src/phoenix/client/helpers/spans/hallucination.py
  packages/phoenix-client/tests/client/test_hallucination_context.py
  packages/phoenix-evals/src/phoenix/evals/__generated__/classification_evaluator_configs/_hallucination_classification_evaluator_config.py
  packages/phoenix-evals/src/phoenix/evals/context.py
  packages/phoenix-evals/src/phoenix/evals/metrics/__init__.py
  packages/phoenix-evals/src/phoenix/evals/metrics/hallucination.py
  packages/phoenix-evals/tests/phoenix/evals/metrics/test_classification_evaluators.py
  packages/phoenix-evals/tests/phoenix/evals/test_context.py
  prompts/classification_evaluator_configs/HALLUCINATION_CLASSIFICATION_EVALUATOR_CONFIG.yaml
  src/phoenix/__generated__/classification_evaluator_configs/_hallucination_classification_evaluator_config.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(evals): satisfy type checkers for hallucination sourcing
  packages/phoenix-client/src/phoenix/client/helpers/spans/hallucination.py
  packages/phoenix-client/tests/client/test_hallucination_context.py
  packages/phoenix-evals/src/phoenix/evals/context.py
Due: format-python, lint-python

refactor(agents): use permission for session access
  src/phoenix/server/api/agent_helpers.py
  src/phoenix/server/api/agent_session_access.py
  src/phoenix/server/api/dataloaders/agent_session_message_text.py
  src/phoenix/server/api/mutations/agent_session_mutations.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/AgentSession.py
  tests/unit/server/api/test_agent_session_access.py
Due: format-python, lint-python

feat(pytest): evaluator trace isolation and experiment metadata for the pytest plugin (#14613)
  docs/phoenix/datasets-and-experiments/how-to-experiments/eval-ci-with-pytest.mdx
  docs/phoenix/evaluation/integrations/pytest.mdx
  evals/pxi/harness/agent_task.py
  evals/pxi/tests/test_pxi_evals.py
  packages/phoenix-client/src/phoenix/client/pytest/plugin.py
  packages/phoenix-client/src/phoenix/client/pytest/session.py
  packages/phoenix-client/src/phoenix/client/pytest/tracing.py
  packages/phoenix-client/src/phoenix/client/resources/experiments/__init__.py
  packages/phoenix-client/tests/client/pytest/test_plugin_integration.py
Due: format-python, lint-python

fix(pxi): align online eval uv version
  .github/workflows/pxi-online-evals.yml
Due: none

refactor(ui): review polish for retention policy project management
  app/src/Routes.tsx
  app/src/components/core/token/Token.tsx
  app/src/components/project/ProjectItemContent.tsx
  app/src/components/project/ProjectMenu.tsx
  app/src/components/project/ProjectSelectionMenu.tsx
  app/src/components/project/ProjectToken.tsx
  app/src/components/project/__generated__/ProjectMenuProjectsQuery.graphql.ts
  app/src/components/project/__generated__/ProjectMenu_projects.graphql.ts
  app/src/components/project/__generated__/useAllProjectsQuery.graphql.ts
  app/src/components/project/index.ts
  app/src/components/project/useAllProjects.ts
  app/src/constants/index.ts
  app/src/constants/retentionPolicyConstants.ts
  app/src/pages/dashboards/__generated__/dashboardsLoaderQuery.graphql.ts
  app/src/pages/project/TransferTracesButton.tsx
  app/src/pages/project/__generated__/TransferTracesButtonProjectsQuery.graphql.ts
  app/src/pages/project/__generated__/TransferTracesButtonQuery.graphql.ts
  app/src/pages/project/__generated__/TransferTracesButton_projects.graphql.ts
  app/src/pages/settings/RetentionPoliciesTable.tsx
  app/src/pages/settings/RetentionPolicyActionMenu.tsx
  app/src/pages/settings/RetentionPolicyDetailsDrawer.tsx
  app/src/pages/settings/RetentionPolicyProjects.tsx
  app/src/pages/settings/UserDetailsDrawer.tsx
  app/src/pages/settings/__generated__/CreateRetentionPolicyMutation.graphql.ts
  app/src/pages/settings/__generated__/RetentionPoliciesTablePoliciesQuery.graphql.ts
  app/src/pages/settings/__generated__/RetentionPoliciesTable_policies.graphql.ts
  app/src/pages/settings/__generated__/RetentionPoliciesTable_retentionPolicy.graphql.ts
  app/src/pages/settings/__generated__/RetentionPolicyActionMenuDeletePolicyMutation.graphql.ts
  app/src/pages/settings/__generated__/RetentionPolicyProjectsPatchMutation.graphql.ts
  app/src/pages/settings/__generated__/settingsDataPageLoaderQuery.graphql.ts
  app/src/utils/retentionPolicyUtils.ts
  app/stories/ProjectSelectionMenu.stories.tsx
  app/stories/ProjectToken.stories.tsx
Due: oxfmt-app, oxlint-app

fix(pxi): align online eval uv version (#14714)
  .github/workflows/pxi-online-evals.yml
Due: none

fix(agents): refine title edit affordance
  app/src/components/agent/AgentChatPanelView.tsx
Due: oxfmt-app, oxlint-app

fix(agents): use standard title edit hover
  app/src/components/agent/AgentChatPanelView.tsx
Due: oxfmt-app, oxlint-app

feat(agents): edit session titles from chat header
  app/src/components/agent/AgentChatPanelView.tsx
  app/src/components/agent/AgentSessionsResource.tsx
  app/src/components/agent/EditAgentSessionTitleDialog.tsx
  app/src/components/agent/__generated__/AgentSessionsResourcePaginationQuery.graphql.ts
  app/src/components/agent/__generated__/AgentSessionsResourceQuery.graphql.ts
  app/src/components/agent/__generated__/AgentSessionsResource_sessions.graphql.ts
  app/src/components/agent/__generated__/useAgentChatBranchAgentSessionMutation.graphql.ts
  app/src/components/agent/__generated__/useAgentChatCreateAgentSessionMutation.graphql.ts
  app/src/components/agent/__generated__/useAgentChatTruncateAgentSessionMutation.graphql.ts
  app/src/components/agent/__tests__/AgentChatPanelView.test.tsx
  app/src/components/agent/useAgentChat.ts
Due: oxfmt-app, oxlint-app

feat(agents): add session title editing
  app/schema.graphql
  app/src/components/agent/EditAgentSessionTitleDialog.tsx
  app/src/components/agent/__generated__/AgentSessionsResourceQuery.graphql.ts
  app/src/components/agent/__generated__/EditAgentSessionTitleDialogMutation.graphql.ts
  app/src/components/agent/__generated__/EditAgentSessionTitleDialog_session.graphql.ts
  app/src/pages/settings/SettingsAgentSessionActionMenu.tsx
  app/src/pages/settings/SettingsAgentSessionsCard.tsx
  app/src/pages/settings/__generated__/SettingsAgentSessionActionMenuDeleteMutation.graphql.ts
  app/src/pages/settings/__generated__/SettingsAgentSessionsCardPaginationQuery.graphql.ts
  app/src/pages/settings/__generated__/SettingsAgentSessionsCard_sessions.graphql.ts
  app/src/pages/settings/__generated__/settingsAgentsPageLoaderQuery.graphql.ts
  src/phoenix/server/api/mutations/agent_session_mutations.py
  tests/unit/server/api/mutations/test_agent_session_mutations.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix(agents): match title edit table control
  app/src/components/agent/AgentChatPanelView.tsx
Due: oxfmt-app, oxlint-app

feat(agents): limit session title length
  app/src/components/agent/EditAgentSessionTitleDialog.tsx
  app/src/components/agent/agentSessionRelay.ts
  src/phoenix/server/agents/prompts/summarization/SUMMARIZATION_PROMPT_INSTRUCTIONS.xml.j2
  src/phoenix/server/agents/session_titles.py
  src/phoenix/server/agents/summarization.py
  src/phoenix/server/api/mutations/agent_session_mutations.py
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/agents/test_agents_router.py
  tests/unit/server/api/mutations/test_agent_session_mutations.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix(agents): hide title editing from viewers
  app/src/components/agent/AgentChatPanelView.tsx
  app/src/components/agent/__tests__/AgentChatPanelView.test.tsx
Due: oxfmt-app, oxlint-app

fix(agents): update generated title constraints
  app/src/pages/settings/SettingsAgentSessionActionMenu.tsx
  schemas/openapi.json
Due: oxfmt-app, oxlint-app

feat(ui): make retention policy project list manageable (#14704)
  app/src/Routes.tsx
  app/src/components/core/token/Token.tsx
  app/src/components/project/ProjectItemContent.tsx
  app/src/components/project/ProjectMenu.tsx
  app/src/components/project/ProjectSelectionMenu.tsx
  app/src/components/project/ProjectToken.tsx
  app/src/components/project/__generated__/ProjectMenuProjectsQuery.graphql.ts
  app/src/components/project/__generated__/ProjectMenu_projects.graphql.ts
  app/src/components/project/__generated__/useAllProjectsQuery.graphql.ts
  app/src/components/project/index.ts
  app/src/components/project/useAllProjects.ts
  app/src/constants/index.ts
  app/src/constants/retentionPolicyConstants.ts
  app/src/pages/dashboards/__generated__/dashboardsLoaderQuery.graphql.ts
  app/src/pages/project/TransferTracesButton.tsx
  app/src/pages/project/__generated__/TransferTracesButtonProjectsQuery.graphql.ts
  app/src/pages/project/__generated__/TransferTracesButtonQuery.graphql.ts
  app/src/pages/project/__generated__/TransferTracesButton_projects.graphql.ts
  app/src/pages/settings/RetentionPoliciesTable.tsx
  app/src/pages/settings/RetentionPolicyActionMenu.tsx
  app/src/pages/settings/RetentionPolicyDetailsDrawer.tsx
  app/src/pages/settings/RetentionPolicyProjects.tsx
  app/src/pages/settings/SettingsDataPage.tsx
  app/src/pages/settings/UserDetailsDrawer.tsx
  app/src/pages/settings/__generated__/CreateRetentionPolicyMutation.graphql.ts
  app/src/pages/settings/__generated__/RetentionPoliciesTablePoliciesQuery.graphql.ts
  app/src/pages/settings/__generated__/RetentionPoliciesTable_policies.graphql.ts
  app/src/pages/settings/__generated__/RetentionPoliciesTable_retentionPolicy.graphql.ts
  app/src/pages/settings/__generated__/RetentionPolicyActionMenuDeletePolicyMutation.graphql.ts
  app/src/pages/settings/__generated__/RetentionPolicyDetailsDrawerQuery.graphql.ts
  app/src/pages/settings/__generated__/RetentionPolicyProjectsPatchMutation.graphql.ts
  app/src/pages/settings/__generated__/settingsDataPageLoaderQuery.graphql.ts
  app/src/utils/retentionPolicyUtils.ts
  app/stories/ProjectSelectionMenu.stories.tsx
  app/stories/ProjectToken.stories.tsx
Due: oxfmt-app, oxlint-app

chore: adopt type-aware linting via oxlint-tsgolint
  .github/workflows/package-version-check.yml
  .oxlintrc.json
  app/.oxlintrc.json
  app/README.md
  app/package.json
  app/pnpm-lock.yaml
  app/pnpm-workspace.yaml
  js/.oxlintrc.json
  js/examples/apps/demo-document-relevancy-experiment/package.json
  js/package.json
  js/pnpm-lock.yaml
  js/pnpm-workspace.yaml
Due: oxfmt-app, oxfmt-js

chore: drop expired typescript pnpm quarantine exemption
  app/pnpm-workspace.yaml
  js/pnpm-workspace.yaml
Due: oxfmt-app, oxfmt-js

chore: lower pnpm quarantine to 2 days, drop oxlint exemptions
  app/pnpm-workspace.yaml
  js/pnpm-workspace.yaml
Due: oxfmt-app, oxfmt-js

Audit and expand integrations in top-level README
  README.md
Due: none
