Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

test(agents): remove native tool factory wiring test
  tests/unit/server/agents/capabilities/test_native_tool_retry.py
Due: format-python, lint-python

test(agents): validate native tool retry payload
  tests/unit/server/agents/capabilities/test_native_tool_retry.py
Due: format-python, lint-python

docs(agents): condense native tool retry docstring
  src/phoenix/server/agents/capabilities/native_tool_retry.py
Due: format-python, lint-python

refactor(agents): clarify native tool retry state
  src/phoenix/server/agents/capabilities/native_tool_retry.py
Due: format-python, lint-python

refactor(agents): clarify native tool retry conditions
  src/phoenix/server/agents/capabilities/native_tool_retry.py
  tests/unit/server/agents/capabilities/test_native_tool_retry.py
Due: format-python, lint-python

test(agents): clarify native tool retry scenarios
  tests/unit/server/agents/capabilities/cassettes/test_native_tool_retry/test_anthropic_accepts_reclassified_native_tool_history.yaml
  tests/unit/server/agents/capabilities/test_native_tool_retry.py
Due: format-python, lint-python

test(agents): clarify native tool retry setup
  tests/unit/server/agents/capabilities/cassettes/test_native_tool_retry/test_anthropic_accepts_converted_native_tool_history.yaml
  tests/unit/server/agents/capabilities/test_native_tool_retry.py
Due: format-python, lint-python

test(agents): explain strict VCR matching
  tests/unit/server/agents/capabilities/test_native_tool_retry.py
Due: format-python, lint-python

test(agents): clarify retry assertions
  tests/unit/server/agents/capabilities/test_native_tool_retry.py
Due: format-python, lint-python

test(agents): use real run context
  tests/unit/server/agents/capabilities/test_native_tool_retry.py
Due: format-python, lint-python

fix(evals): preserve PXI gate result during report rendering
  .github/workflows/pxi-evals.yml
Due: none

feat(evals): move PXI evals to pytest plugin (#13999)
  .github/workflows/pxi-evals.yml
  evals/pxi/README.md
  evals/pxi/conftest.py
  evals/pxi/datasets/experiment_observations.yaml
  evals/pxi/gate.py
  evals/pxi/harness/agent_task.py
  evals/pxi/pytest.ini
  evals/pxi/tests/__init__.py
  evals/pxi/tests/test_gate.py
  evals/pxi/tests/test_pxi_evals.py
  evals/pxi/thresholds.yaml
Due: format-python, lint-python

feat: phoenix env file
  js/packages/phoenix-config/README.md
  js/packages/phoenix-config/src/env.ts
  js/packages/phoenix-config/src/envFile.test.ts
  js/packages/phoenix-config/src/envFile.ts
  js/packages/phoenix-config/src/index.ts
  js/packages/phoenix-otel/README.md
  packages/phoenix-client/README.md
  packages/phoenix-client/src/phoenix/client/constants/__init__.py
  packages/phoenix-client/src/phoenix/client/utils/config.py
  packages/phoenix-client/tests/client/utils/test_config.py
  packages/phoenix-otel/README.md
  packages/phoenix-otel/src/phoenix/otel/settings.py
  packages/phoenix-otel/tests/test_settings.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix: harden phoenix env discovery
  .gitignore
  js/packages/phoenix-client/test/setup.ts
  js/packages/phoenix-config/README.md
  js/packages/phoenix-config/package.json
  js/packages/phoenix-config/src/env.test.ts
  js/packages/phoenix-config/src/env.ts
  js/packages/phoenix-config/src/envFile.browser.ts
  js/packages/phoenix-config/src/envFile.test.ts
  js/packages/phoenix-config/src/envFile.ts
  js/packages/phoenix-config/src/envFileParser.ts
  packages/phoenix-client/src/phoenix/client/utils/config.py
  packages/phoenix-client/tests/client/utils/test_config.py
  packages/phoenix-otel/src/phoenix/otel/settings.py
  packages/phoenix-otel/tests/test_settings.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

chore: add phoenix config changeset
  js/.changeset/quiet-cats-configure.md
Due: oxfmt-js

refactor: simplify config precedence
  packages/phoenix-client/src/phoenix/client/utils/config.py
  packages/phoenix-otel/src/phoenix/otel/settings.py
Due: format-python, lint-python

chore: update phoenix version to 17.23.0 in kustomize and helm (#14182)
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

feat(prompts): add git-like diff view for prompt versions and playground changes
  app/src/Routes.tsx
  app/src/components/diff/DiffStyleToggle.tsx
  app/src/components/diff/TextDiff.tsx
  app/src/components/diff/index.ts
  app/src/pages/playground/PlaygroundTemplate.tsx
  app/src/pages/playground/PromptDiffButton.tsx
  app/src/pages/playground/__generated__/PromptDiffButtonQuery.graphql.ts
  app/src/pages/playground/promptVersionInputDiffText.ts
  app/src/pages/prompt/PromptVersionCompareSelect.tsx
  app/src/pages/prompt/PromptVersionConfigDiffView.tsx
  app/src/pages/prompt/PromptVersionDetailsPage.tsx
  app/src/pages/prompt/PromptVersionDiffCards.tsx
  app/src/pages/prompt/PromptVersionDiffView.tsx
  app/src/pages/prompt/__generated__/PromptVersionCompareSelectQuery.graphql.ts
  app/src/pages/prompt/__generated__/PromptVersionConfigDiffView__version.graphql.ts
  app/src/pages/prompt/__generated__/PromptVersionDiffCardsQuery.graphql.ts
  app/src/pages/prompt/__generated__/promptVersionLoaderQuery.graphql.ts
  app/src/pages/prompt/promptVersionLoader.tsx
Due: oxfmt-app, oxlint-app

fix: resolve env tiers as groups and harden .env.phoenix discovery
  js/.changeset/warm-owls-guard.md
  js/packages/phoenix-cli/src/config.ts
  js/packages/phoenix-cli/test/config.test.ts
  js/packages/phoenix-cli/test/setup.ts
  js/packages/phoenix-client/test/setup.ts
  js/packages/phoenix-config/README.md
  js/packages/phoenix-config/examples/read_from_env.ts
  js/packages/phoenix-config/examples/tsconfig.examples.json
  js/packages/phoenix-config/package.json
  js/packages/phoenix-config/src/env.ts
  js/packages/phoenix-config/src/envFile.browser.ts
  js/packages/phoenix-config/src/envFile.test.ts
  js/packages/phoenix-config/src/envFile.ts
  js/packages/phoenix-config/src/envFileParser.ts
  js/packages/phoenix-config/src/index.ts
  js/packages/phoenix-mcp/src/config.ts
  js/packages/phoenix-mcp/test/setup.ts
  js/packages/phoenix-mcp/vitest.config.ts
  js/packages/phoenix-otel/test/setup.ts
  js/packages/phoenix-otel/vitest.config.ts
  packages/phoenix-client/README.md
  packages/phoenix-client/src/phoenix/client/utils/config.py
  packages/phoenix-client/tests/client/conftest.py
  packages/phoenix-client/tests/client/utils/test_config.py
  packages/phoenix-otel/README.md
  packages/phoenix-otel/src/phoenix/otel/settings.py
  packages/phoenix-otel/tests/conftest.py
  packages/phoenix-otel/tests/test_settings.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

chore(ts): migrate app and js to TypeScript 7 (#14161)
  .vscode/extensions.json
  DEVELOPMENT.md
  app/.pnpmfile.cjs
  app/package.json
  app/pnpm-lock.yaml
  app/pnpm-workspace.yaml
  js/.pnpmfile.cjs
  js/benchmarks/evals-benchmarks/package.json
  js/examples/apps/experiments-quickstart/package.json
  js/examples/apps/langchain-quickstart/package.json
  js/examples/apps/mastra-agent/package.json
  js/examples/apps/mastra-quickstart/package.json
  js/examples/apps/tracing-tutorial/package.json
  js/package.json
  js/pnpm-lock.yaml
  js/pnpm-workspace.yaml
Due: oxfmt-app, oxfmt-js

feat: mirror PXI browser traces to cloud
  app/src/agent/chat/__tests__/agentTurnTracing.test.ts
  app/src/agent/chat/agentTurnTracing.ts
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/api/routers/test_agents.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

test: cover remote PXI trace export
  app/tests/pxi/fixtures.ts
  app/tests/pxi/ingest-traces-smoke.spec.ts
Due: oxfmt-app, oxlint-app

test: wait for PXI relay completion
  app/tests/pxi/ingest-traces-smoke.spec.ts
Due: oxfmt-app, oxlint-app

style: format PXI trace relay changes
  app/tests/pxi/ingest-traces-smoke.spec.ts
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/api/routers/test_agents.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix(evals): report user friction benchmark misses correctly
  js/benchmarks/evals-benchmarks/src/user_friction.eval.ts
Due: oxfmt-js, oxlint-js

feat(evals): add user friction evaluator
  .agents/skills/phoenix-evals-new-metric/SKILL.md
  docs.json
  docs/phoenix/evaluation/pre-built-metrics.mdx
  docs/phoenix/evaluation/pre-built-metrics/user-friction.mdx
  docs/phoenix/sitemap.xml
  js/benchmarks/evals-benchmarks/src/user_friction.eval.ts
  js/packages/phoenix-evals/src/__generated__/default_templates/USER_FRICTION_CLASSIFICATION_EVALUATOR_CONFIG.ts
  js/packages/phoenix-evals/src/__generated__/default_templates/index.ts
  js/packages/phoenix-evals/src/llm/createUserFrictionEvaluator.ts
  js/packages/phoenix-evals/src/llm/index.ts
  js/packages/phoenix-evals/test/llm/createUserFrictionEvaluator.test.ts
  packages/phoenix-evals/README.md
  packages/phoenix-evals/src/phoenix/evals/__generated__/classification_evaluator_configs/__init__.py
  packages/phoenix-evals/src/phoenix/evals/__generated__/classification_evaluator_configs/_user_friction_classification_evaluator_config.py
  packages/phoenix-evals/src/phoenix/evals/metrics/__init__.py
  packages/phoenix-evals/src/phoenix/evals/metrics/user_friction.py
  packages/phoenix-evals/tests/phoenix/evals/metrics/test_classification_evaluators.py
  prompts/classification_evaluator_configs/USER_FRICTION_CLASSIFICATION_EVALUATOR_CONFIG.yaml
  src/phoenix/__generated__/classification_evaluator_configs/__init__.py
  src/phoenix/__generated__/classification_evaluator_configs/_user_friction_classification_evaluator_config.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

feat: add better looking consent
  app/src/Routes.tsx
  app/src/pages/auth/AuthLayout.tsx
  app/src/pages/auth/OAuth2ConsentPage.tsx
  app/tests/oauth2-consent.spec.ts
Due: oxfmt-app, oxlint-app

feat(auth): polish OAuth2 CLI login UX
  app/src/pages/auth/OAuth2ConsentCard.tsx
  app/stories/OAuth2ConsentCard.stories.tsx
  js/packages/phoenix-cli/src/oauth.ts
  js/packages/phoenix-cli/src/oauthCallbackPage.ts
  js/packages/phoenix-cli/test/oauthCallbackPage.test.ts
Due: oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

test(auth): flatten oauth2 integration tests into the auth package
  internal_docs/specs/oauth2-authorization-server.md
  tests/integration/auth/conftest.py
  tests/integration/auth/oauth2/__init__.py
  tests/integration/auth/oauth2/conftest.py
  tests/integration/auth/oauth2/test_authorization_code_flow.py
  tests/integration/auth/oauth2/test_dcr.py
  tests/integration/auth/oauth2/test_discovery.py
  tests/integration/auth/oauth2/test_read_only_clamp.py
  tests/integration/auth/oauth2/test_token_lifecycle.py
  tests/integration/auth/test_oauth2.py
Due: format-python, lint-python

fix: harden phoenix env configuration
  js/.changeset/warm-owls-guard.md
  js/packages/phoenix-cli/README.md
  js/packages/phoenix-cli/src/config.ts
  js/packages/phoenix-cli/test/config.test.ts
  js/packages/phoenix-config/README.md
  js/packages/phoenix-config/package.json
  js/packages/phoenix-config/src/env.ts
  js/packages/phoenix-config/src/envFile.browser.test.ts
  js/packages/phoenix-config/src/envFile.browser.ts
  js/packages/phoenix-config/src/envFile.test.ts
  js/packages/phoenix-config/src/envFile.ts
  js/packages/phoenix-config/src/index.ts
  js/packages/phoenix-config/tsconfig.browser.json
  js/packages/phoenix-config/tsconfig.json
  js/packages/phoenix-config/vite.browser.config.ts
  js/packages/phoenix-config/vitest.config.ts
  js/packages/phoenix-mcp/README.md
  js/packages/phoenix-mcp/src/config.ts
  js/packages/phoenix-mcp/test/config.test.ts
  js/packages/phoenix-otel/README.md
  js/packages/phoenix-otel/src/config.ts
  js/packages/phoenix-otel/src/register.ts
  js/packages/phoenix-otel/test/browserConfigSmoke.ts
  js/packages/phoenix-otel/test/config.test.ts
  packages/phoenix-client/README.md
  packages/phoenix-client/src/phoenix/client/client.py
  packages/phoenix-client/src/phoenix/client/utils/config.py
  packages/phoenix-client/tests/client/test_client.py
  packages/phoenix-client/tests/client/utils/test_config.py
  packages/phoenix-otel/README.md
  packages/phoenix-otel/src/phoenix/otel/otel.py
  packages/phoenix-otel/src/phoenix/otel/settings.py
  packages/phoenix-otel/tests/test_otel.py
  packages/phoenix-otel/tests/test_settings.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(cost): update built-in model token prices
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Due: none

fix(cost): update built-in model token prices (#14196)
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Due: none

fix(agents): retry hallucinated native tool calls (#14185)
  src/phoenix/server/agents/agent_factory.py
  src/phoenix/server/agents/capabilities/__init__.py
  src/phoenix/server/agents/capabilities/native_tool_retry.py
  tests/unit/server/agents/capabilities/cassettes/test_native_tool_retry/test_anthropic_accepts_converted_native_tool_history.yaml
  tests/unit/server/agents/capabilities/test_native_tool_retry.py
Due: format-python, lint-python

chore(main): release arize-phoenix 17.24.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

chore(main): release arize-phoenix 17.24.0 (#14187)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

feat(app): support batch annotation config management
  app/src/pages/settings/AnnotationConfigSelectionToolbar.tsx
  app/src/pages/settings/AnnotationConfigTable.tsx
  app/src/pages/settings/SettingsAnnotationsPage.tsx
Due: oxfmt-app, oxlint-app

chore: update phoenix version to 17.24.0 in kustomize and helm
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

fix(ui): make traces kind column resizable
  app/src/pages/project/TracesTable.tsx
Due: oxfmt-app, oxlint-app

fix(ui): make traces kind column resizable (#14201)
  app/src/pages/project/TracesTable.tsx
Due: oxfmt-app, oxlint-app

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
