Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

fix(auth): build the IdP callback on the declared origin, not the Referer
  src/phoenix/server/api/routers/oauth2.py
  tests/unit/server/api/routers/test_oauth2.py
Due: format-python, lint-python

chore: regenerate OpenAPI schema
  schemas/openapi.json
Due: none

chore: regenerate TypeScript API client
  js/packages/phoenix-client/src/__generated__/api/v1.ts
Due: oxfmt-js, oxlint-js

chore: regenerate app API artifacts
  app/src/api/__generated__/v1.ts
  app/src/components/agent/__generated__/AgentSessionsResourceDeleteMutation.graphql.ts
  app/src/components/agent/__generated__/AgentSessionsResourcePaginationQuery.graphql.ts
  app/src/components/agent/__generated__/AgentSessionsResourceQuery.graphql.ts
  app/src/components/agent/__generated__/AgentSessionsResourceSessionQuery.graphql.ts
  app/src/components/agent/__generated__/AgentSessionsResource_sessions.graphql.ts
Due: oxfmt-app, oxlint-app

feat(oauth2): default dynamic client registration to enabled
  MIGRATION.md
  internal_docs/specs/oauth2-authorization-server.md
  src/phoenix/config.py
  tests/integration/auth/test_oauth2.py
Due: format-python, lint-python

style: satisfy ruff format and oxfmt on CI-flagged files
  js/packages/phoenix-cli/src/client.ts
  tests/unit/server/api/routers/test_oauth2.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(oauth2): build the general 401 challenge from the configured public origin
  src/phoenix/server/app.py
  tests/unit/server/api/routers/test_auth_md.py
Due: format-python, lint-python

fix(oauth2): exempt the anonymous OAuth surfaces from the CSRF origin validator
  src/phoenix/server/app.py
  src/phoenix/server/middleware/anonymous_cors.py
  tests/unit/server/test_anonymous_cors.py
Due: format-python, lint-python

fix(evals): address gate review — fail closed on unmeasured cells, structured decision output
  .github/workflows/pxi-evals.yml
  evals/pxi/README.md
  evals/pxi/conftest.py
  evals/pxi/gate.py
  evals/pxi/rowstate.py
  evals/pxi/tests/test_gate.py
  evals/pxi/tests/test_pxi_evals.py
  evals/pxi/thresholds.yaml
Due: format-python, lint-python

refactor: fix stale preview UI state and consolidate draft-test client actions
  app/src/agent/tools/codeEvaluatorDraft/clientActions.ts
  app/src/agent/tools/evaluatorDraftPreview/clientAction.ts
  app/src/agent/tools/evaluatorDraftPreview/runPreviewCases.ts
  app/src/agent/tools/evaluatorDraftPreview/schemas.ts
  app/src/agent/tools/llmEvaluatorDraft/clientActions.ts
  app/src/components/evaluators/CodeEvaluatorTestSection.tsx
  app/src/components/evaluators/EvaluatorOutputPreview.tsx
  app/tests/pxi/evaluator-draft-batch.spec.ts
  app/tests/pxi/evaluator-draft-trajectory.unit.spec.ts
  app/tests/pxi/evaluatorDraftTrajectory.ts
Due: oxfmt-app, oxlint-app

docs(evals): keep threshold policy layer; end state ratchets regression overrides to 1.0
  evals/pxi/README.md
  evals/pxi/thresholds.yaml
Due: none

test: run PXI trajectory assertion in normal CI via vitest
  app/__tests__/evaluatorDraftTrajectory.test.ts
  app/tests/pxi/evaluator-draft-trajectory.unit.spec.ts
Due: oxfmt-app, oxlint-app

feat(server): mount an in-process MCP server that proves the OAuth2 chain end to end
  MIGRATION.md
  internal_docs/specs/oauth2-authorization-server.md
  pyproject.toml
  scripts/docker/devops/docker-compose.yml
  src/phoenix/config.py
  src/phoenix/server/api/routers/auth_md.py
  src/phoenix/server/api/routers/oauth2_authorization_server.py
  src/phoenix/server/app.py
  src/phoenix/server/bearer_auth.py
  src/phoenix/server/jwt_store.py
  src/phoenix/server/mcp_server.py
  tests/integration/auth/conftest.py
  tests/integration/auth/test_mcp.py
  tests/unit/server/test_anonymous_cors.py
  tests/unit/server/test_app_mcp_mount.py
  tests/unit/server/test_oauth2_grant_claims.py
  tests/unit/server/test_well_known_path_inserted.py
  uv.lock
Due: format-python, lint-python, uv-lock-check

refactor(agents): use server-owned session IDs
  AGENT_SESSION_ID_REMOVAL_PLAN.md
  app/schema.graphql
  app/src/agent/chat/__tests__/buildAgentChatRequestBody.test.ts
  app/src/agent/chat/buildAgentChatRequestBody.ts
  app/src/api/__generated__/v1.ts
  app/src/components/agent/AgentSessionsResource.tsx
  app/src/components/agent/__generated__/AgentSessionsResourceDeleteMutation.graphql.ts
  app/src/components/agent/__generated__/AgentSessionsResourcePaginationQuery.graphql.ts
  app/src/components/agent/__generated__/AgentSessionsResourceQuery.graphql.ts
  app/src/components/agent/__generated__/AgentSessionsResourceSessionQuery.graphql.ts
  app/src/components/agent/__generated__/AgentSessionsResource_sessions.graphql.ts
  app/src/components/agent/__tests__/agentSessionRelay.test.ts
  app/src/components/agent/useAgentChat.ts
  app/src/components/agent/useAgentChatPanelState.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  scripts/ddl/postgresql_schema.sql
  src/phoenix/db/migrations/versions/e767d3c57f32_create_agent_sessions_and_agent_session_.py
  src/phoenix/db/models.py
  src/phoenix/server/api/mutations/agent_session_mutations.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/routers/agents.py
  src/phoenix/server/api/types/AgentSession.py
  tests/integration/auth/test_auth.py
  tests/unit/server/agents/test_agents_router.py
  tests/unit/server/api/mutations/test_agent_session_mutations.py
  tests/unit/server/api/routers/test_agents.py
  tests/unit/server/api/types/test_AgentSession.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

feat(api): REST CRUD for user and system API keys with a unified authority model
  app/src/api/__generated__/v1.ts
  docs/phoenix/self-hosting/features/authentication.mdx
  internal_docs/specs/api-key-identity-authority-lifecycle.md
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/server/api/auth.py
  src/phoenix/server/api/helpers/api_key_policy.py
  src/phoenix/server/api/mutations/api_key_mutations.py
  src/phoenix/server/api/routers/v1/__init__.py
  src/phoenix/server/api/routers/v1/api_keys.py
  src/phoenix/server/api/types/User.py
  src/phoenix/server/types.py
  tests/integration/_helpers.py
  tests/integration/auth/test_api_keys.py
  tests/integration/auth/test_auth.py
  tests/integration/server/test_launch_app.py
  tests/unit/server/api/helpers/test_api_key_policy.py
  tests/unit/server/api/routers/v1/test_api_keys.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

fix: address review findings in span filter validation
  src/phoenix/trace/dsl/filter.py
  tests/unit/trace/dsl/test_filter.py
Due: format-python, lint-python

fix(api): bound the /v1/users/api_keys page size at 1000
  app/src/api/__generated__/v1.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/api_keys.py
  tests/integration/auth/test_api_keys.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

docs: move one-click deploys to per-provider deployment pages
  docs.json
  docs/phoenix/llms.txt
  docs/phoenix/self-hosting.mdx
  docs/phoenix/self-hosting/deployment-options/azure.mdx
  docs/phoenix/self-hosting/deployment-options/google-cloud-run.mdx
  docs/phoenix/self-hosting/deployment-options/render.mdx
Due: none

docs: simplify one-click deployment pages for maintainability
  docs/phoenix/self-hosting/deployment-options/azure.mdx
  docs/phoenix/self-hosting/deployment-options/google-cloud-run.mdx
  docs/phoenix/self-hosting/deployment-options/railway.mdx
  docs/phoenix/self-hosting/deployment-options/render.mdx
Due: none

feat(api): REST requires a human session to issue API keys
  app/src/api/__generated__/v1.ts
  docs/phoenix/self-hosting/features/authentication.mdx
  internal_docs/specs/api-key-identity-authority-lifecycle.md
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  schemas/openapi.json
  src/phoenix/server/api/routers/v1/api_keys.py
  tests/integration/auth/test_api_keys.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

feat(ui): add DaoXE OpenAI-compatible integration snippet
  app/src/components/project/IntegrationIcons.tsx
  app/src/components/project/integrationSnippets/daoxe.ts
  app/src/components/project/integrationSnippets/index.ts
  app/src/pages/project/integrationRegistry.tsx
Due: oxfmt-app, oxlint-app

fix(cost): update built-in model token prices
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Due: none

remove plan
  AGENT_SESSION_ID_REMOVAL_PLAN.md
Due: none

fix: align experiment evaluation chart axes
  app/src/components/chart/EvaluationMetricsChart.tsx
  app/src/components/chart/__tests__/evaluationMetricsUtils.test.ts
  app/src/components/chart/evaluationMetricsUtils.ts
  app/src/pages/dataset/metrics/ExperimentBaselineReference.tsx
  app/src/pages/dataset/metrics/ExperimentEvaluationMetricsGrid.tsx
Due: oxfmt-app, oxlint-app

refactor(agents): validate session node access
  app/schema.graphql
  app/src/components/agent/AgentSessionsResource.tsx
  app/src/components/agent/__generated__/AgentSessionsResourceSessionQuery.graphql.ts
  src/phoenix/db/types/data_stream_protocol/request_types.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/types/AgentSession.py
  tests/unit/db/types/test_data_stream_protocol_compatibility.py
  tests/unit/server/api/types/test_AgentSession.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

feat(tracing): surface user.id span attribute on spans, traces, and sessions
  app/schema.graphql
  app/src/pages/dataset/evaluators/__generated__/DatasetEvaluatorSpansQuery.graphql.ts
  app/src/pages/project/SessionsTable.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/TracesTable.tsx
  app/src/pages/project/__generated__/ProjectPageQueriesSessionsQuery.graphql.ts
  app/src/pages/project/__generated__/ProjectPageQueriesSpansQuery.graphql.ts
  app/src/pages/project/__generated__/ProjectPageQueriesTracesQuery.graphql.ts
  app/src/pages/project/__generated__/SessionsTableQuery.graphql.ts
  app/src/pages/project/__generated__/SessionsTable_sessions.graphql.ts
  app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTable_spans.graphql.ts
  app/src/pages/project/__generated__/TracesTableQuery.graphql.ts
  app/src/pages/project/__generated__/TracesTable_spans.graphql.ts
  src/phoenix/db/models.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/session_user_ids.py
  src/phoenix/server/api/dataloaders/trace_user_ids.py
  src/phoenix/server/api/types/ProjectSession.py
  src/phoenix/server/api/types/Span.py
  src/phoenix/server/api/types/Trace.py
  tests/unit/server/api/types/test_ProjectSession.py
  tests/unit/server/api/types/test_Span.py
  tests/unit/server/api/types/test_Trace.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

Keep vendored data stream types identical
  src/phoenix/db/types/data_stream_protocol/__init__.py
  src/phoenix/db/types/data_stream_protocol/_models.py
  src/phoenix/db/types/data_stream_protocol/phoenix_types.py
  src/phoenix/db/types/data_stream_protocol/request_types.py
  tests/unit/db/types/test_data_stream_protocol_compatibility.py
Due: format-python, lint-python

Add license headers to vendored types
  src/phoenix/db/types/data_stream_protocol/__init__.py
  src/phoenix/db/types/data_stream_protocol/_models.py
  src/phoenix/db/types/data_stream_protocol/request_types.py
Due: format-python, lint-python

refactor(tracing): apply code-review fixes for user.id surfacing
  app/src/components/table/CopyableTextCell.tsx
  app/src/components/table/index.tsx
  app/src/pages/project/SessionsTable.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/TracesTable.tsx
  app/src/pages/project/__generated__/ProjectPageQueriesTracesQuery.graphql.ts
  app/src/pages/project/__generated__/TracesTableQuery.graphql.ts
  app/src/pages/project/__generated__/TracesTable_spans.graphql.ts
  app/stories/CopyableTextCell.stories.tsx
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/session_user_ids.py
  src/phoenix/server/api/dataloaders/trace_user_ids.py
  src/phoenix/server/api/dataloaders/user_ids.py
  src/phoenix/server/api/types/Span.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

Handle invalid agent session IDs
  app/src/agent/chat/buildAgentChatRequestBody.ts
  src/phoenix/server/api/mutations/agent_session_mutations.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

refactor(agents): restore bashkit snapshot naming
  scripts/ddl/postgresql_schema.sql
  src/phoenix/db/migrations/versions/e767d3c57f32_create_agent_sessions_and_agent_session_.py
  src/phoenix/db/models.py
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/agents/test_agents_router.py
  tests/unit/server/api/mutations/test_agent_session_mutations.py
Due: format-python, lint-python

fix(server): harden trace annotation filters
  app/src/pages/project/SpanFilterConditionField.tsx
  app/src/pages/project/__generated__/SpanFilterConditionFieldCompletionsQuery.graphql.ts
  docs/phoenix/tracing/how-to-tracing/importing-and-exporting-traces/extract-data-from-spans.mdx
  src/phoenix/trace/dsl/filter.py
  tests/unit/trace/dsl/test_filter.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

docs(agent): teach trace annotation filters
  src/phoenix/server/agents/capabilities/tools/external/set_spans_filter.py
  src/phoenix/server/agents/prompts/skills/annotate-spans/SKILL.md
  src/phoenix/server/agents/prompts/skills/phoenix-graphql/SKILL.md
  src/phoenix/server/agents/prompts/skills/phoenix-graphql/resources/annotations.md
  src/phoenix/server/agents/prompts/tools/SET_SPANS_FILTER_TOOL_INSTRUCTIONS.xml.j2
Due: format-python, lint-python

fix(ui): contain timeout fallback in chart panels
  app/src/components/exception/BugReportErrorBoundaryFallback.tsx
  app/src/components/exception/__tests__/BugReportErrorBoundaryFallback.test.tsx
Due: oxfmt-app, oxlint-app

feat(tracing): surface user.id span attribute on spans, traces, and sessions (#14398)
  app/schema.graphql
  app/src/components/table/CopyableTextCell.tsx
  app/src/components/table/index.tsx
  app/src/pages/dataset/evaluators/__generated__/DatasetEvaluatorSpansQuery.graphql.ts
  app/src/pages/project/SessionsTable.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/TracesTable.tsx
  app/src/pages/project/__generated__/ProjectPageQueriesSessionsQuery.graphql.ts
  app/src/pages/project/__generated__/ProjectPageQueriesSpansQuery.graphql.ts
  app/src/pages/project/__generated__/ProjectPageQueriesTracesQuery.graphql.ts
  app/src/pages/project/__generated__/SessionsTableQuery.graphql.ts
  app/src/pages/project/__generated__/SessionsTable_sessions.graphql.ts
  app/src/pages/project/__generated__/SpansTableSpansQuery.graphql.ts
  app/src/pages/project/__generated__/SpansTable_spans.graphql.ts
  app/src/pages/project/__generated__/TracesTableQuery.graphql.ts
  app/src/pages/project/__generated__/TracesTable_spans.graphql.ts
  app/stories/CopyableTextCell.stories.tsx
  src/phoenix/db/models.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/user_ids.py
  src/phoenix/server/api/types/ProjectSession.py
  src/phoenix/server/api/types/Span.py
  src/phoenix/server/api/types/Trace.py
  tests/unit/server/api/types/test_ProjectSession.py
  tests/unit/server/api/types/test_Span.py
  tests/unit/server/api/types/test_Trace.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix(evals): skip LiteLLM on Python 3.14
  packages/phoenix-evals/pyproject.toml
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/litellm/test_adapter.py
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/litellm/test_build_messages.py
  pyproject.toml
  requirements/packages/phoenix-evals.txt
  requirements/type-check.txt
  uv.lock
Due: format-python, lint-python, uv-lock-check

fix(cost): update built-in model token prices (#14397)
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Due: none

refactor(agents): validate tool-call provider metadata in db types
  app/src/agent/chat/__tests__/buildAgentChatRequestBody.test.ts
  app/src/agent/chat/buildAgentChatRequestBody.ts
  app/src/agent/extensions/__tests__/toolRegistry.test.ts
  app/src/agent/extensions/registry/dispatch.ts
  app/src/api/__generated__/v1.ts
  app/src/components/agent/AgentSessionsResource.tsx
  app/src/components/agent/SessionListMenu.tsx
  app/src/components/agent/useAgentChat.ts
  app/src/store/__tests__/agentStore.test.ts
  app/src/store/agentStore.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/db/types/data_stream_protocol/__init__.py
  src/phoenix/db/types/data_stream_protocol/phoenix_types.py
  src/phoenix/db/types/data_stream_protocol/provider_metadata.py
  src/phoenix/server/api/routers/agents.py
  tests/unit/db/types/test_phoenix_ui_message.py
  tests/unit/server/agents/test_agents_router.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js
