Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

feat(pxi): show active model name on bottom-right of prompt
  js/packages/phoenix-cli/src/pxi/App.tsx
  js/packages/phoenix-cli/test/pxiApp.test.tsx
Due: oxfmt-js, oxlint-js

feat(pxi): refine prompt glyphs and compact help line
  js/packages/phoenix-cli/src/pxi/App.tsx
  js/packages/phoenix-cli/test/pxiApp.test.tsx
Due: oxfmt-js, oxlint-js

Validate malformed ATIF fields before conversion (#13782)
  packages/phoenix-client/src/phoenix/client/helpers/atif/_validate.py
  packages/phoenix-client/tests/client/helpers/atif/test_validate.py
Due: format-python, lint-python

Use sync timeout policy for async client
  packages/phoenix-client/src/phoenix/client/client.py
  packages/phoenix-client/tests/client/test_client.py
Due: format-python, lint-python

fix: Use same timeout policy for async client (#13796)
  packages/phoenix-client/src/phoenix/client/client.py
  packages/phoenix-client/tests/client/test_client.py
Due: format-python, lint-python

feat(playground): add Claude Sonnet 5 to Anthropic and AWS providers
  src/phoenix/server/api/helpers/playground_clients.py
Due: format-python, lint-python

feat(cli): add `px annotation-config update`
  .agents/skills/phoenix-cli/SKILL.md
  js/packages/phoenix-cli/README.md
  js/packages/phoenix-cli/src/commands/annotationConfig.ts
  js/packages/phoenix-cli/src/commands/formatAnnotationConfigs.ts
  js/packages/phoenix-cli/test/annotationConfigUpdate.test.ts
  js/packages/phoenix-cli/test/annotationConfigs.test.ts
Due: oxfmt-js, oxlint-js

style(cli): fix README table formatting per oxfmt
  js/packages/phoenix-cli/README.md
Due: oxfmt-js

fix(cost): update built-in model token prices
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Due: none

docs(evals): document LLM-as-a-judge in pytest and Vitest/Jest test integrations
  .agents/skills/phoenix-evals/SKILL.md
  .agents/skills/phoenix-evals/references/integrations-pytest.md
  .agents/skills/phoenix-evals/references/integrations-vitest-jest.md
  docs/phoenix/evaluation/integrations/pytest.mdx
  docs/phoenix/evaluation/integrations/vitest-jest.mdx
Due: none

docs(evals): simplify LLM-as-judge examples — drop knowledge base from the judge
  .agents/skills/phoenix-evals/references/integrations-pytest.md
  .agents/skills/phoenix-evals/references/integrations-vitest-jest.md
  docs/phoenix/evaluation/integrations/pytest.mdx
  docs/phoenix/evaluation/integrations/vitest-jest.mdx
Due: none

feat(js): add logSpans to phoenix-client spans API
  js/.changeset/phoenix-client-log-spans.md
  js/packages/phoenix-client/README.md
  js/packages/phoenix-client/src/spans/index.ts
  js/packages/phoenix-client/src/spans/logSpans.ts
  js/packages/phoenix-client/test/spans/logSpans.test.ts
Due: oxfmt-js, oxlint-js

refactor(js): simplify logSpans error-parsing helpers
  js/packages/phoenix-client/src/spans/logSpans.ts
Due: oxfmt-js, oxlint-js

docs(js): add log_spans example for ingesting mixed span kinds
  js/packages/phoenix-client/examples/log_spans.ts
Due: oxfmt-js, oxlint-js

fix(client): include PHOENIX_HOST_ROOT_PATH in get_base_url() default URL
  packages/phoenix-client/src/phoenix/client/utils/config.py
  packages/phoenix-client/tests/client/utils/test_config.py
Due: format-python, lint-python

Apply suggestion from @mikeldking
  docs/phoenix/llms.txt
Due: none

cleanup example
  js/packages/phoenix-client/examples/log_spans.ts
Due: oxfmt-js, oxlint-js

feat: add baseline experiment tagging
  app/schema.graphql
  app/src/components/experiment/BaselineExperimentToken.tsx
  app/src/components/experiment/ExperimentActionMenu.tsx
  app/src/components/experiment/ExperimentNameWithColorSwatch.tsx
  app/src/components/experiment/__generated__/ExperimentActionMenuSetBaselineMutation.graphql.ts
  app/src/components/experiment/index.tsx
  app/src/pages/experiment/ExperimentComparePage.tsx
  app/src/pages/experiment/ExperimentCompareTable.tsx
  app/src/pages/experiment/ExperimentMultiSelector.tsx
  app/src/pages/experiment/__generated__/ExperimentComparePageQueriesCompareGridQuery.graphql.ts
  app/src/pages/experiment/__generated__/ExperimentComparePageQueriesMultiSelectorQuery.graphql.ts
  app/src/pages/experiment/__generated__/ExperimentComparePageQueriesSelectedCompareExperimentsQuery.graphql.ts
  app/src/pages/experiment/__generated__/ExperimentComparePage_selectedCompareExperiments.graphql.ts
  app/src/pages/experiment/__generated__/ExperimentCompareTableQuery.graphql.ts
  app/src/pages/experiment/__generated__/ExperimentCompareTable_comparisons.graphql.ts
  app/src/pages/experiment/__generated__/ExperimentMultiSelector__data.graphql.ts
  app/src/pages/experiments/ExperimentsTable.tsx
  app/src/pages/experiments/__generated__/ExperimentsPageQuery.graphql.ts
  app/src/pages/experiments/__generated__/ExperimentsTableFragment.graphql.ts
  app/src/pages/experiments/__generated__/ExperimentsTableQuery.graphql.ts
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/experiment_baseline_flags.py
  src/phoenix/server/api/experiment_tags.py
  src/phoenix/server/api/mutations/experiment_mutations.py
  src/phoenix/server/api/types/Experiment.py
  tests/unit/server/api/mutations/test_experiment_mutations.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix: harden experiment baseline tagging
  app/src/pages/experiment/ExperimentMultiSelector.tsx
  src/phoenix/server/api/mutations/experiment_mutations.py
  tests/unit/server/api/mutations/test_experiment_mutations.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix(js): report totalQueued=0 on logSpans 422 validation errors
  js/packages/phoenix-client/src/spans/logSpans.ts
  js/packages/phoenix-client/test/spans/logSpans.test.ts
Due: oxfmt-js, oxlint-js

docs: add min server version and terminal demo to PXI release note
  docs/phoenix/release-notes/06-2026/06-30-2026-pxi-terminal-client-and-annotation-summary.mdx
Due: none

docs(skill): add Slack-friendly overview step to release-notes skill
  .agents/skills/phoenix-release-notes/SKILL.md
Due: none

fix Storybook Chromatic build
  app/.storybook/main.ts
  app/.storybook/preview-head.html
  app/src/components/agent/DiffAcceptRejectToolDetails.tsx
  app/src/components/agent/EditCodeEvaluatorDraftToolDetails.tsx
  app/src/components/agent/EditLLMEvaluatorDraftToolDetails.tsx
  app/src/components/agent/EditPromptToolDetails.tsx
  app/src/components/agent/LazyDiffAcceptRejectToolDetails.tsx
  app/src/components/agent/WritePromptToolsToolDetails.tsx
  app/stories/ToolPart.stories.tsx
Due: oxfmt-app, oxlint-app

chore: update sitemap.xml
  docs/phoenix/sitemap.xml
  sitemap.xml
Due: none

fix(playground): re-wrap unwrapped Bedrock tools at span import (#13940)
  app/src/pages/playground/__tests__/playgroundUtils.test.ts
  app/src/pages/playground/playgroundUtils.ts
Due: oxfmt-app, oxlint-app

docs: online evals (#13757)
  internal_docs/specs/online-evals.md
  internal_docs/specs/server_evaluators.md
Due: none

feat(js): add logSpans to phoenix-client spans API (#13973)
  js/.changeset/phoenix-client-log-spans.md
  js/packages/phoenix-client/README.md
  js/packages/phoenix-client/examples/log_spans.ts
  js/packages/phoenix-client/src/spans/index.ts
  js/packages/phoenix-client/src/spans/logSpans.ts
  js/packages/phoenix-client/test/spans/logSpans.test.ts
Due: oxfmt-js, oxlint-js

chore: update sitemap.xml (#13992)
  docs/phoenix/sitemap.xml
  sitemap.xml
Due: none

chore(main): release arize-phoenix 17.15.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

chore(js): update versions (#13995)
  js/.changeset/phoenix-client-log-spans.md
  js/packages/phoenix-cli/CHANGELOG.md
  js/packages/phoenix-cli/package.json
  js/packages/phoenix-client/CHANGELOG.md
  js/packages/phoenix-client/package.json
  js/packages/phoenix-mcp/CHANGELOG.md
  js/packages/phoenix-mcp/package.json
Due: oxfmt-js

chore(main): release arize-phoenix 17.15.0 (#13965)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

chore: update phoenix version to 17.15.0 in kustomize and helm
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none
