Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

style(ui): format IO tooltip boundary
  app/src/pages/project/IOValueTooltipCell.tsx
Due: oxfmt-app, oxlint-app

cleanup
  app/src/pages/projects/ProjectsPage.tsx
Due: oxfmt-app, oxlint-app

refactor(ui): compose IO tooltip cells via factory
  app/src/pages/project/IOValueTooltipCell.tsx
Due: oxfmt-app, oxlint-app

docs: close weekly docs gap audit (dataset-label REST, CLI annotation-config, auth.md, experiment baseline, session cleanup) (#14308)
  docs.json
  docs/phoenix/datasets-and-experiments/how-to-experiments/run-experiments.mdx
  docs/phoenix/llms.txt
  docs/phoenix/sdk-api-reference/rest-api/api-reference/dataset-labels/apply-a-label-to-a-dataset.mdx
  docs/phoenix/sdk-api-reference/rest-api/api-reference/dataset-labels/create-a-dataset-label.mdx
  docs/phoenix/sdk-api-reference/rest-api/api-reference/dataset-labels/delete-a-dataset-label-by-id.mdx
  docs/phoenix/sdk-api-reference/rest-api/api-reference/dataset-labels/get-a-dataset-label-by-id.mdx
  docs/phoenix/sdk-api-reference/rest-api/api-reference/dataset-labels/list-dataset-labels.mdx
  docs/phoenix/sdk-api-reference/rest-api/api-reference/dataset-labels/list-the-labels-applied-to-a-dataset.mdx
  docs/phoenix/sdk-api-reference/rest-api/api-reference/dataset-labels/remove-a-label-from-a-dataset.mdx
  docs/phoenix/sdk-api-reference/rest-api/api-reference/dataset-labels/replace-the-set-of-labels-applied-to-a-dataset.mdx
  docs/phoenix/sdk-api-reference/rest-api/api-reference/dataset-labels/update-a-dataset-label-by-id.mdx
  docs/phoenix/sdk-api-reference/typescript/arizeai-phoenix-cli.mdx
  docs/phoenix/self-hosting/features/authentication.mdx
  docs/phoenix/settings/data-retention.mdx
Due: none

chore: update sitemap.xml
  docs/phoenix/sitemap.xml
  sitemap.xml
Due: none

Add MiniMax provider integration
  docs/phoenix/prompt-engineering/how-to-prompts/configure-ai-providers.mdx
  src/phoenix/config.py
  src/phoenix/db/types/model_provider.py
  src/phoenix/server/agents/model_factory.py
  src/phoenix/server/api/helpers/playground_clients.py
  src/phoenix/server/api/input_types/ConnectionConfigInput.py
  src/phoenix/server/api/input_types/PromptVersionInput.py
  src/phoenix/server/api/types/GenerativeProvider.py
  tests/unit/server/agents/test_model_factory.py
  tests/unit/server/api/helpers/test_playground_clients.py
  tests/unit/server/api/types/test_GenerativeProvider.py
Due: format-python, lint-python

fix: timeout retries in AsyncExecutor now respect max_retries and exit_on_error
  packages/phoenix-evals/src/phoenix/evals/executors.py
  packages/phoenix-evals/tests/phoenix/evals/test_executor.py
Due: format-python, lint-python

feat(ui): preview full span IO in table tooltips (#14305)
  app/src/pages/project/IOValueTooltipCell.tsx
  app/src/pages/project/SessionsTable.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/TracesTable.tsx
  app/src/pages/project/__generated__/IOValueTooltipCellSessionInputQuery.graphql.ts
  app/src/pages/project/__generated__/IOValueTooltipCellSessionOutputQuery.graphql.ts
  app/src/pages/project/__generated__/IOValueTooltipCellSpanInputQuery.graphql.ts
  app/src/pages/project/__generated__/IOValueTooltipCellSpanOutputQuery.graphql.ts
  app/src/pages/project/__generated__/ProjectPageQueriesSessionsQuery.graphql.ts
  app/src/pages/project/__generated__/SessionsTableQuery.graphql.ts
  app/src/pages/project/__generated__/SessionsTable_sessions.graphql.ts
  app/src/pages/projects/ProjectsPage.tsx
  src/phoenix/server/api/dataloaders/session_io.py
  src/phoenix/server/api/types/ProjectSession.py
  tests/unit/server/api/types/test_ProjectSession.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix(agent): suppress FAB activation when modals close
  app/src/components/agent/AgentFabPositioner.tsx
  app/src/components/agent/__tests__/AgentFabPositioner.test.tsx
Due: oxfmt-app, oxlint-app

feat(ui): align alert typography and selection hierarchy with design system
  app/src/components/core/alert/Alert.tsx
  app/src/components/core/counter/Counter.tsx
  app/src/pages/trace/SessionDetailsTracesView.tsx
  app/src/pages/trace/SpanDetails.tsx
  app/src/pages/trace/TraceDetails.tsx
Due: oxfmt-app, oxlint-app

feat(ui): collapse the span annotation aside by default
  app/src/store/preferencesStore.tsx
Due: oxfmt-app, oxlint-app

chore(ui): fix formatting in IOValueTooltipCell
  app/src/pages/project/IOValueTooltipCell.tsx
Due: oxfmt-app, oxlint-app

fix(ui): constrain project cards and restore session tab test
  app/src/pages/projects/ProjectsPage.tsx
  app/src/pages/trace/__tests__/SessionViewTabs.test.tsx
Due: oxfmt-app, oxlint-app

fix(ui): ellipsize project card names
  app/src/pages/projects/ProjectsPage.tsx
Due: oxfmt-app, oxlint-app

feat(ui): design audit of alerts, counters, and session selection (#14315)
  app/src/components/core/alert/Alert.tsx
  app/src/components/core/counter/Counter.tsx
  app/src/pages/project/IOValueTooltipCell.tsx
  app/src/pages/projects/ProjectsPage.tsx
  app/src/pages/trace/SessionDetailsTracesView.tsx
  app/src/pages/trace/SpanDetails.tsx
  app/src/pages/trace/TraceDetails.tsx
  app/src/pages/trace/__tests__/SessionViewTabs.test.tsx
  app/src/store/preferencesStore.tsx
Due: oxfmt-app, oxlint-app

chore(main): release arize-phoenix 17.27.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

chore: cleanup
  app/src/pages/project/SessionsTable.tsx
  app/src/pages/project/SpansTable.tsx
Due: oxfmt-app, oxlint-app

chore: cleanup (#14316)
  app/src/pages/project/SessionsTable.tsx
  app/src/pages/project/SpansTable.tsx
Due: oxfmt-app, oxlint-app

Fix a small issue in phoenix (#14317)
  DEVELOPMENT.md
  MIGRATION.md
  api_reference/requirements.txt
  docs/openapi.json
  docs/phoenix/cookbook.mdx
  docs/phoenix/end-to-end-features-notebook.mdx
Due: none

docs: add one-click deploy buttons for self-hosting
  README.md
  app.json
  azuredeploy.json
  render.yaml
Due: none

refactor(app): show platform version update as danger text (#14166)
  app/src/components/nav/VersionUpdateNotice.tsx
Due: oxfmt-app, oxlint-app

chore: update phoenix version to 17.27.0 in kustomize and helm
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

chore: increase default database sizes in deploy templates
  azuredeploy.json
  render.yaml
Due: none

ci: remove Chromatic visual testing entirely
  .github/workflows/chromatic.yml
  app/.env.example
  app/.pnpmfile.cjs
  app/.storybook/main.ts
  app/chromatic.config.json
  app/package.json
  app/pnpm-lock.yaml
Due: oxfmt-app, oxlint-app

ci: refresh pnpmfile checksum in lockfile
  app/pnpm-lock.yaml
Due: oxfmt-app

ci: remove Chromatic visual testing entirely (#14321)
  .github/workflows/chromatic.yml
  app/.env.example
  app/.pnpmfile.cjs
  app/.storybook/main.ts
  app/chromatic.config.json
  app/package.json
  app/pnpm-lock.yaml
Due: oxfmt-app, oxlint-app

docs: add one-click deploy buttons for self-hosting (#14319)
  README.md
  app.json
  azuredeploy.json
  render.yaml
Due: none

fix: harden one-click deploy templates
  README.md
  app.json
  azuredeploy.json
  render.yaml
Due: none

docs: make all deploy buttons the same height
  README.md
Due: none

docs: add one-click deploy buttons to self-hosting docs
  docs/phoenix/self-hosting.mdx
Due: none

fix: bump Render plan to standard, starter's 512MB OOMs under span queries
  render.yaml
Due: none

fix: harden one-click deploy templates (#14323)
  README.md
  app.json
  azuredeploy.json
  docs/phoenix/self-hosting.mdx
  render.yaml
Due: none

feat(ui): collapsible playground sections via TitledPanel
  app/src/GlobalStyles.tsx
  app/src/components/core/card/Card.tsx
  app/src/components/core/card/styles.ts
  app/src/components/core/card/types.ts
  app/src/components/core/icon/DisclosureArrow.tsx
  app/src/components/core/switch/Switch.tsx
  app/src/components/dataset/DatasetSelectWithSplits.tsx
  app/src/components/react-resizable-panels/TitledPanel.tsx
  app/src/components/table/styles.ts
  app/src/components/templateEditor/TemplateEditor.tsx
  app/src/pages/playground/Playground.tsx
  app/src/pages/playground/PlaygroundChatTemplate.tsx
  app/src/pages/playground/PlaygroundDatasetSection.tsx
  app/src/pages/playground/PlaygroundDatasetSelect.tsx
  app/src/pages/playground/PlaygroundExperimentToolbar.tsx
  app/src/pages/playground/VariableEditor.tsx
  app/src/pages/project/SessionsTable.tsx
  app/src/pages/project/SpansTable.tsx
  app/stories/TitledPanel.stories.tsx
Due: oxfmt-app, oxlint-app

docs: Change 'Install Locally' to 'Run Locally'
  README.md
Due: none

feat(ui): collapsible playground sections via TitledPanel (#14324)
  app/src/GlobalStyles.tsx
  app/src/components/core/card/Card.tsx
  app/src/components/core/card/styles.ts
  app/src/components/core/card/types.ts
  app/src/components/core/icon/DisclosureArrow.tsx
  app/src/components/core/switch/Switch.tsx
  app/src/components/dataset/DatasetSelectWithSplits.tsx
  app/src/components/react-resizable-panels/TitledPanel.tsx
  app/src/components/table/styles.ts
  app/src/components/templateEditor/TemplateEditor.tsx
  app/src/pages/playground/Playground.tsx
  app/src/pages/playground/PlaygroundChatTemplate.tsx
  app/src/pages/playground/PlaygroundDatasetSection.tsx
  app/src/pages/playground/PlaygroundDatasetSelect.tsx
  app/src/pages/playground/PlaygroundExperimentToolbar.tsx
  app/src/pages/playground/VariableEditor.tsx
  app/stories/TitledPanel.stories.tsx
Due: oxfmt-app, oxlint-app

feat(ui): modernize core Tabs with animated selection indicator and scroll snapping
  app/src/components/core/tabs/Tabs.tsx
Due: oxfmt-app, oxlint-app

feat(ui): modernize core Tabs with animated selection indicator and scroll snapping (#14325)
  app/src/components/core/tabs/Tabs.tsx
Due: oxfmt-app, oxlint-app

feat(ui): add session annotation editing in session details
  app/src/components/trace/EditSessionAnnotationsDialog.tsx
  app/src/components/trace/SessionAnnotationConfigList.tsx
  app/src/components/trace/SessionAnnotationsEditor.tsx
  app/src/components/trace/__generated__/SessionAnnotationConfigListAssociateAnnotationConfigWithProjectMutation.graphql.ts
  app/src/components/trace/__generated__/SessionAnnotationConfigListProjectAnnotationConfigFragment.graphql.ts
  app/src/components/trace/__generated__/SessionAnnotationConfigListQuery.graphql.ts
  app/src/components/trace/__generated__/SessionAnnotationConfigListRemoveAnnotationConfigFromProjectMutation.graphql.ts
  app/src/components/trace/__generated__/SessionAnnotationsEditorAddAnnotationConfigToProjectMutation.graphql.ts
  app/src/components/trace/__generated__/SessionAnnotationsEditorCreateAnnotationConfigMutation.graphql.ts
  app/src/components/trace/__generated__/SessionAnnotationsEditorCreateAnnotationMutation.graphql.ts
  app/src/components/trace/__generated__/SessionAnnotationsEditorDeleteAnnotationMutation.graphql.ts
  app/src/components/trace/__generated__/SessionAnnotationsEditorEditAnnotationMutation.graphql.ts
  app/src/components/trace/__generated__/SessionAnnotationsEditorSessionAnnotationsListQuery.graphql.ts
  app/src/components/trace/__generated__/SessionAnnotationsEditor_sessionAnnotations.graphql.ts
  app/src/pages/trace/EditSessionAnnotationsButton.tsx
  app/src/pages/trace/SessionDetails.tsx
  app/src/pages/trace/__generated__/SessionDetailsQuery.graphql.ts
Due: oxfmt-app, oxlint-app
