Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(online-evals): reorganize the evaluator overview into stats and cards
  js/app/src/components/evaluators/EvaluatorDetailsSection.tsx
  js/app/src/pages/evaluators/PromptCell.tsx
  js/app/src/pages/project/evaluators/LLMProjectEvaluatorAnnotation.tsx
  js/app/src/pages/project/evaluators/LLMProjectEvaluatorDetails.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorDetailsPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorRunDetails.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopeDetails.tsx
  js/app/src/pages/project/evaluators/__generated__/LLMProjectEvaluatorDetails_projectEvaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorRunDetails_projectEvaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorDetailsLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/projectEvaluatorDetailsLoader.ts
  js/app/src/pages/project/evaluators/projectEvaluatorTypes.ts
Due: oxfmt-js, oxlint-js

refactor(agents): read prefix prompts as text instead of rendering them
  src/phoenix/server/agents/agent_factory.py
  src/phoenix/server/agents/capabilities/docs_mcp.py
  src/phoenix/server/agents/capabilities/skills/toolset.py
  src/phoenix/server/agents/capabilities/tools/internal/bash.py
  src/phoenix/server/agents/prompts/__init__.py
  src/phoenix/server/agents/prompts/static/base/BASE_INSTRUCTIONS.xml
  src/phoenix/server/agents/prompts/static/base/BASE_SUBAGENT_INSTRUCTIONS.xml
  src/phoenix/server/agents/prompts/static/skills/LOAD_SKILL_TOOL.xml
  src/phoenix/server/agents/prompts/static/skills/READ_SKILL_RESOURCE_TOOL.xml
  src/phoenix/server/agents/prompts/static/tools/BASH_TOOL_DESCRIPTION.txt
  src/phoenix/server/agents/prompts/static/tools/DOCS_TOOL_INSTRUCTIONS.xml
  src/phoenix/server/agents/prompts/static_prompts.py
  src/phoenix/server/agents/prompts/templating.py
  src/phoenix/server/agents/server_agents.py
  tests/unit/server/agents/capabilities/skills/test_skill_capability.py
  tests/unit/server/agents/prompts/test_static_prompts.py
  tests/unit/server/agents/test_agent_factory.py
Due: format-python, lint-python

perf(agents): advertise every skill so navigating cannot bust the cache
  src/phoenix/server/agents/agent_factory.py
  src/phoenix/server/agents/skills/__init__.py
  src/phoenix/server/api/routers/agents.py
  tests/unit/server/agents/test_agent_factory.py
Due: format-python, lint-python

perf(agents): pin the docs MCP tool list for the process lifetime
  src/phoenix/server/agents/capabilities/docs_mcp.py
  tests/unit/server/agents/capabilities/test_docs_mcp.py
Due: format-python, lint-python

fix(tests): give the dummy OpenAI client the surfaces pydantic-ai probes
  tests/unit/server/agents/test_model_factory.py
Due: format-python, lint-python

refactor(online-evals): make the stat row self-contained and parse the error once
  js/app/src/components/evaluators/EvaluatorDetailsSection.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorRunDetails.tsx
Due: oxfmt-js, oxlint-js

feat(datagen): recording toolkit and hand-recorded OpenInference corpora
  scripts/datagen/README.md
  scripts/datagen/langchain_agent_rag.py
  scripts/datagen/mock_openai_provider.py
  scripts/datagen/openai_chat_sessions.py
  src/phoenix/datagen/corpora/langchain_agent_rag/manifest.json
  src/phoenix/datagen/corpora/langchain_agent_rag/traces.jsonl
  src/phoenix/datagen/corpora/openai_chat_sessions/manifest.json
  src/phoenix/datagen/corpora/openai_chat_sessions/traces.jsonl
Due: format-python, lint-python

feat(datagen): add OTLP corpus replayer and phoenix datagen CLI
  DEVELOPMENT.md
  src/phoenix/datagen/__init__.py
  src/phoenix/datagen/exporter.py
  src/phoenix/datagen/loader.py
  src/phoenix/datagen/replayer.py
  src/phoenix/server/cli/commands/datagen.py
  src/phoenix/server/main.py
  tests/unit/datagen/fixtures/corpus/manifest.json
  tests/unit/datagen/fixtures/corpus/traces.jsonl
  tests/unit/datagen/test_loader.py
  tests/unit/datagen/test_replayer.py
  tests/unit/server/cli/commands/test_datagen.py
Due: format-python, lint-python

fix(traces): harden AI query vocabulary flow from review findings
  .github/workflows/python-CI.yml
  js/app/evals/aiQuery/loadFilterVocabulary.ts
  js/app/src/components/filter/ai/AIQueryDSLFilterField.tsx
  js/app/src/pages/project/SessionFilterConditionField.tsx
  js/app/src/pages/project/TraceFilterConditionField.tsx
  js/app/src/pages/project/sessionFilterDSL.ts
  js/app/src/pages/project/traceFilterDSL.ts
  tests/unit/server/api/types/test_FilterVocabularyTerm.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix: cap openai in the uv override so the cap actually applies
  js/app/src/pages/project/evaluators/ProjectEvaluatorRunDetails.tsx
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorTypes.test.ts
  js/app/src/pages/project/evaluators/projectEvaluatorTypes.ts
  pyproject.toml
  requirements/unit-tests.txt
  tox.ini
  uv.lock
Due: oxfmt-js, oxlint-js, uv-lock-check

feat(online-evals): let the evaluator prompt card fold away
  js/app/src/pages/project/evaluators/LLMProjectEvaluatorDetails.tsx
Due: oxfmt-js, oxlint-js

feat(scripts): ship each cell as a trace while the matrix runs
  scripts/benchmarks/mcp/README.md
  scripts/benchmarks/mcp/harness/mcpbench/cli.py
  scripts/benchmarks/mcp/harness/mcpbench/export.py
Due: format-python, lint-python

test(online-evals): assert the trace-metric scope is opt-in
  tests/unit/server/api/types/test_Evaluator.py
Due: format-python, lint-python

fix(datagen): group corpus spans across requests
  src/phoenix/datagen/loader.py
  tests/unit/datagen/fixtures/split_trace/manifest.json
  tests/unit/datagen/fixtures/split_trace/traces.jsonl
  tests/unit/datagen/test_loader.py
  tests/unit/datagen/test_replayer.py
Due: format-python, lint-python

fix(online-evals): let an unpaired Scope card take the whole row
  js/app/src/pages/project/evaluators/ProjectEvaluatorDetailsPage.tsx
Due: oxfmt-js, oxlint-js

feat(traces): AI Query for the trace filter DSL (#15461)
  .github/workflows/python-CI.yml
  Makefile
  js/app/evals/README.md
  js/app/evals/aiQuery/loadFilterVocabulary.ts
  js/app/evals/aiQuery/traceFilterCases.ts
  js/app/evals/aiQuery/traceFilterPrompt.eval.ts
  js/app/src/components/filter/ai/AIQueryDSLFilterField.tsx
  js/app/src/pages/project/SessionFilterConditionField.tsx
  js/app/src/pages/project/TraceFilterConditionField.tsx
  js/app/src/pages/project/__tests__/sessionFilterSnippets.test.ts
  js/app/src/pages/project/__tests__/traceFilterCompletions.test.ts
  js/app/src/pages/project/__tests__/traceFilterSnippets.test.ts
  js/app/src/pages/project/sessionFilterCoreVocabulary.generated.ts
  js/app/src/pages/project/sessionFilterDSL.ts
  js/app/src/pages/project/traceFilterDSL.ts
  scripts/generate_session_filter_ai_query_vocabulary.py
  tests/unit/server/api/types/test_FilterVocabularyTerm.py
  tests/unit/server/api/types/test_Project_trace_filter.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(frontend): align drawer with app frame and polish enter animation
  js/app/src/components/core/overlay/Drawer.tsx
  js/app/src/components/core/overlay/frame.tsx
Due: oxfmt-js, oxlint-js

fix(datagen): preserve replay fidelity and package corpora
  pyproject.toml
  src/phoenix/datagen/exporter.py
  src/phoenix/datagen/replayer.py
  src/phoenix/server/cli/commands/datagen.py
  tests/unit/datagen/test_exporter.py
  tests/unit/datagen/test_replayer.py
  tests/unit/server/cli/commands/test_datagen.py
Due: format-python, lint-python, uv-lock-check

fix(frontend): align drawer with app frame and polish enter animation (#15542)
  js/app/src/components/core/overlay/Drawer.tsx
  js/app/src/components/core/overlay/frame.tsx
Due: oxfmt-js, oxlint-js

fix(frontend): clamp annotation pills behind boxless wrappers in tracing tables
  js/app/src/components/core/utility/OverflowRow.tsx
  js/app/stories/OverflowRow.stories.tsx
Due: oxfmt-js, oxlint-js

fix(frontend): clamp annotation pills behind boxless wrappers in tracing tables (#15543)
  js/app/src/components/core/utility/OverflowRow.tsx
  js/app/stories/OverflowRow.stories.tsx
Due: oxfmt-js, oxlint-js

fix: align Harbor CI uv version
  .github/workflows/python-CI.yml
  packages/phoenix-client/tests/client/harbor/test_plugin.py
Due: format-python, lint-python

fix(harbor): validate plugin configuration
  packages/phoenix-harbor/src/phoenix_harbor/_config.py
  packages/phoenix-harbor/tests/test_config.py
Due: format-python, lint-python

refactor(harbor): simplify plugin scaffold
  .github/workflows/python-CI.yml
  packages/phoenix-harbor/README.md
  packages/phoenix-harbor/pyproject.toml
  packages/phoenix-harbor/src/phoenix_harbor/__init__.py
  packages/phoenix-harbor/src/phoenix_harbor/_models.py
  packages/phoenix-harbor/src/phoenix_harbor/_protocols.py
  packages/phoenix-harbor/tests/test_config.py
  tox.ini
Due: format-python, lint-python, uv-lock-check

feat(client): configure Harbor plugin
  docs/research/harbor-langsmith-plugin-design.md
  packages/phoenix-client/src/phoenix/client/harbor/_plugin.py
  packages/phoenix-client/tests/client/harbor/test_harbor_contract.py
  packages/phoenix-client/tests/client/harbor/test_plugin.py
Due: format-python, lint-python

docs(harbor): record the plugin's package location
  internal_docs/specs/harbor-phoenix-plugin.md
Due: none

feat(client): record Harbor jobs as Phoenix datasets and experiments
  packages/phoenix-client/src/phoenix/client/harbor/__init__.py
  packages/phoenix-client/src/phoenix/client/harbor/_adapter.py
  packages/phoenix-client/src/phoenix/client/harbor/_errors.py
  packages/phoenix-client/src/phoenix/client/harbor/_model.py
  packages/phoenix-client/src/phoenix/client/harbor/_plugin.py
  packages/phoenix-client/src/phoenix/client/harbor/_recorder.py
  packages/phoenix-client/tests/client/harbor/test_adapter.py
  packages/phoenix-client/tests/client/harbor/test_harbor_contract.py
  packages/phoenix-client/tests/client/harbor/test_plugin.py
  packages/phoenix-client/tests/client/harbor/test_recorder.py
Due: format-python, lint-python

docs: remove Harbor comparison research
  docs/research/harbor-langsmith-plugin-design.md
Due: none

refactor(client): simplify Harbor plugin scaffold
  .github/workflows/python-CI.yml
  packages/phoenix-client/pyproject.toml
  packages/phoenix-client/src/phoenix/client/harbor/__init__.py
  packages/phoenix-client/src/phoenix/client/harbor/_config.py
  packages/phoenix-client/src/phoenix/client/harbor/_plugin.py
  packages/phoenix-client/tests/client/harbor/test_config.py
  packages/phoenix-client/tests/client/harbor/test_harbor_contract.py
  packages/phoenix-client/tests/client/harbor/test_plugin.py
Due: format-python, lint-python, uv-lock-check

feat(harbor): scaffold Phoenix plugin package
  packages/phoenix-harbor/IP_NOTICE
  packages/phoenix-harbor/LICENSE
  packages/phoenix-harbor/README.md
  packages/phoenix-harbor/pyproject.toml
  packages/phoenix-harbor/src/phoenix_harbor/__init__.py
  packages/phoenix-harbor/src/phoenix_harbor/_config.py
  packages/phoenix-harbor/src/phoenix_harbor/_models.py
  packages/phoenix-harbor/src/phoenix_harbor/_plugin.py
  packages/phoenix-harbor/src/phoenix_harbor/_protocols.py
  packages/phoenix-harbor/src/phoenix_harbor/py.typed
  packages/phoenix-harbor/tests/test_config.py
  packages/phoenix-harbor/tests/test_package.py
  pyproject.toml
  tox.ini
Due: format-python, lint-python, uv-lock-check

refactor(client): move Harbor plugin into arize-phoenix-client
  .github/workflows/python-CI.yml
  packages/phoenix-client/pyproject.toml
  packages/phoenix-client/src/phoenix/client/harbor/__init__.py
  packages/phoenix-client/src/phoenix/client/harbor/_config.py
  packages/phoenix-client/src/phoenix/client/harbor/_plugin.py
  packages/phoenix-client/tests/client/harbor/test_config.py
  packages/phoenix-client/tests/client/harbor/test_harbor_contract.py
  packages/phoenix-client/tests/client/harbor/test_plugin.py
  packages/phoenix-harbor/IP_NOTICE
  packages/phoenix-harbor/LICENSE
  packages/phoenix-harbor/README.md
  packages/phoenix-harbor/pyproject.toml
  packages/phoenix-harbor/src/phoenix_harbor/__init__.py
  packages/phoenix-harbor/src/phoenix_harbor/_plugin.py
  packages/phoenix-harbor/src/phoenix_harbor/py.typed
  packages/phoenix-harbor/tests/test_package.py
  pyproject.toml
  tox.ini
Due: format-python, lint-python, uv-lock-check

fix(client): support older Harbor task locks
  packages/phoenix-client/src/phoenix/client/harbor/_adapter.py
  packages/phoenix-client/src/phoenix/client/harbor/_model.py
  packages/phoenix-client/tests/client/harbor/test_adapter.py
Due: format-python, lint-python

test(client): simplify Harbor plugin coverage
  .github/workflows/python-CI.yml
  packages/phoenix-client/pyproject.toml
  packages/phoenix-client/tests/client/harbor/test_harbor_contract.py
  packages/phoenix-client/tests/client/harbor/test_plugin.py
  tox.ini
Due: format-python, lint-python, uv-lock-check

feat(client): record Harbor trial runs in Phoenix
  evals/harbor/README.md
  internal_docs/specs/harbor-phoenix-plugin.md
  packages/phoenix-client/pyproject.toml
  packages/phoenix-client/src/phoenix/client/harbor/__init__.py
  packages/phoenix-client/src/phoenix/client/harbor/_adapter.py
  packages/phoenix-client/src/phoenix/client/harbor/_errors.py
  packages/phoenix-client/src/phoenix/client/harbor/_model.py
  packages/phoenix-client/src/phoenix/client/harbor/_plugin.py
  packages/phoenix-client/src/phoenix/client/harbor/_recorder.py
  packages/phoenix-client/tests/client/harbor/test_adapter.py
  packages/phoenix-client/tests/client/harbor/test_harbor_contract.py
  packages/phoenix-client/tests/client/harbor/test_plugin.py
  packages/phoenix-client/tests/client/harbor/test_recorder.py
Due: format-python, lint-python, uv-lock-check

test(client): add reusable Harbor plugin E2E matrix
  Makefile
  evals/harbor/README.md
  evals/harbor/scripts/test_phoenix_plugin_e2e.py
Due: format-python, lint-python

fix(datagen): address acceptance findings
  src/phoenix/datagen/exporter.py
  src/phoenix/datagen/replayer.py
  src/phoenix/server/cli/commands/datagen.py
  tests/unit/datagen/test_exporter.py
  tests/unit/datagen/test_replayer.py
  tests/unit/server/cli/commands/test_datagen.py
Due: format-python, lint-python

feat(scripts): read the sink from .env, and guard the project not the host
  scripts/benchmarks/mcp/.env.example
  scripts/benchmarks/mcp/.gitignore
  scripts/benchmarks/mcp/README.md
  scripts/benchmarks/mcp/bench.yaml
  scripts/benchmarks/mcp/harness/mcpbench/config.py
  scripts/benchmarks/mcp/harness/mcpbench/invocation.py
  scripts/benchmarks/mcp/harness/mcpbench/preflight.py
Due: format-python, lint-python

feat(scripts): link every row of the report to its trace
  scripts/benchmarks/mcp/README.md
  scripts/benchmarks/mcp/harness/mcpbench/analyze.py
  scripts/benchmarks/mcp/harness/mcpbench/cli.py
  scripts/benchmarks/mcp/harness/mcpbench/export.py
  scripts/benchmarks/mcp/harness/mcpbench/otel.py
  scripts/benchmarks/mcp/harness/mcpbench/report.py
  scripts/benchmarks/mcp/harness/mcpbench/templates/report.html
Due: format-python, lint-python

feat(online-evals): give each project evaluator its own trace project
  internal_docs/specs/server_evaluators.md
  js/app/schema.graphql
  js/app/src/pages/project/evaluators/ProjectEvaluatorDetailsPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorTracePage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorTraces.tsx
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorDetailsLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/projectEvaluatorDetailsLoader.ts
  src/phoenix/config.py
  src/phoenix/db/ddl/postgresql_schema.sql
  src/phoenix/db/ddl/sqlite_schema.sql
  src/phoenix/db/helpers.py
  src/phoenix/db/migrations/versions/b3f7d2c9e401_project_evaluator_trace_projects.py
  src/phoenix/db/models.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/project_is_evaluator_trace_target.py
  src/phoenix/server/api/mutations/evaluator_mutations.py
  src/phoenix/server/api/mutations/project_mutations.py
  src/phoenix/server/api/queries.py
  src/phoenix/server/api/routers/v1/projects.py
  src/phoenix/server/api/types/Evaluator.py
  src/phoenix/server/api/types/Project.py
  src/phoenix/server/online_eval/executor.py
  src/phoenix/server/online_eval/session_policy.py
  src/phoenix/server/online_eval/tracing.py
  tests/integration/db_migrations/test_data_migration_b3f7d2c9e401_project_evaluator_trace_projects.py
  tests/unit/server/api/mutations/test_project_evaluator_mutations.py
  tests/unit/server/api/mutations/test_project_mutations.py
  tests/unit/server/api/routers/v1/test_projects.py
  tests/unit/server/api/test_queries.py
  tests/unit/server/api/types/test_Evaluator.py
  tests/unit/server/online_eval/test_consumer.py
  tests/unit/server/online_eval/test_producer.py
  tests/unit/server/online_eval/test_session_sweeper.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(client): harden Harbor resume recording
  packages/phoenix-client/src/phoenix/client/harbor/_adapter.py
  packages/phoenix-client/src/phoenix/client/harbor/_plugin.py
  packages/phoenix-client/src/phoenix/client/harbor/_recorder.py
  packages/phoenix-client/tests/client/harbor/test_adapter.py
  packages/phoenix-client/tests/client/harbor/test_harbor_contract.py
  packages/phoenix-client/tests/client/harbor/test_plugin.py
  packages/phoenix-client/tests/client/harbor/test_recorder.py
Due: format-python, lint-python

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
