Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs(agents): state the GraphQL size limit in phoenix-gql's help and skill
  src/phoenix/server/agents/capabilities/tools/internal/bash.py
  src/phoenix/server/agents/prompts/skills/phoenix-graphql/SKILL.md
  tests/unit/server/agents/capabilities/tools/internal/test_bash.py
Due: format-python, lint-python

refactor(mcp): state the GraphQL size limit on the query tool, not every schema answer
  src/phoenix/server/mcp/graphql/tools.py
  tests/unit/server/test_mcp_graphql_tools.py
Due: format-python, lint-python

test(mcp): pin that the GraphQL tools run as the authenticated principal
  tests/unit/server/test_mcp_graphql_tools.py
Due: format-python, lint-python

test(mcp): prove each GraphQL gate on its own and drop tests others cover
  tests/unit/server/test_mcp_graphql_tools.py
Due: format-python, lint-python

fix(graphql): refuse a document of several operations when none is named
  src/phoenix/server/api/graphql_execute.py
  tests/unit/server/test_mcp_graphql_tools.py
Due: format-python, lint-python

docs(mcp): describe the query tool's errors and permission failures as GraphQL reports them
  src/phoenix/server/agents/prompts/static/tools/PHOENIX_MCP_TOOL_INSTRUCTIONS.xml
  src/phoenix/server/mcp/graphql/tools.py
Due: format-python, lint-python

fix(mcp): refuse non-mutations before validating in executeGraphqlMutation
  src/phoenix/server/mcp/graphql/tools.py
  tests/unit/server/test_mcp_graphql_tools.py
Due: format-python, lint-python

docs(mcp): name the SQL and GraphQL query tools in the remote MCP catalog
  docs/phoenix/integrations/remote-mcp.mdx
Due: none

docs(mcp): advise searching for mutations only where they are enabled
  src/phoenix/server/agents/prompts/static/tools/PHOENIX_MCP_TOOL_INSTRUCTIONS.xml
  src/phoenix/server/mcp/graphql/tools.py
Due: format-python, lint-python

refactor(mcp): give executeGraphqlMutation its own validate envelope
  src/phoenix/server/mcp/graphql/output.py
  src/phoenix/server/mcp/graphql/tools.py
Due: format-python, lint-python

feat(mcp): add an opt-in GraphQL mutation tool to the mounted server
  src/phoenix/config.py
  src/phoenix/server/api/graphql_execute.py
  src/phoenix/server/app.py
  src/phoenix/server/mcp/graphql/tools.py
  src/phoenix/server/mcp_server.py
  tests/unit/server/test_mcp_graphql_tools.py
Due: format-python, lint-python

docs(mcp): drop the flourish from the mutation tool's warning
  src/phoenix/server/mcp/graphql/tools.py
Due: format-python, lint-python

refactor(mcp): register the GraphQL mutation tool whenever the deployment can write
  docs/phoenix/integrations/remote-mcp.mdx
  src/phoenix/config.py
  src/phoenix/server/mcp_server.py
  tests/unit/server/test_mcp_graphql_tools.py
Due: format-python, lint-python

feat(mcp): register the GraphQL mutation tool by default
  docs/phoenix/integrations/remote-mcp.mdx
  src/phoenix/config.py
  tests/unit/server/test_mcp_graphql_tools.py
Due: format-python, lint-python

fix(mcp): let a malformed mutation report its syntax error
  src/phoenix/server/mcp/graphql/tools.py
  tests/unit/server/test_mcp_graphql_tools.py
Due: format-python, lint-python

docs(mcp): state the mutation tool's gates without reference to a switch
  src/phoenix/server/mcp/graphql/tools.py
  tests/unit/server/test_mcp_graphql_tools.py
Due: format-python, lint-python

chore(config): drop the docstring of the removed MCP mutation setting
  src/phoenix/config.py
Due: format-python, lint-python

docs(mcp): name the GraphQL mutation tool in the remote MCP catalog
  docs/phoenix/integrations/remote-mcp.mdx
Due: none

test(mcp): check only that validate_only keeps the size limit
  tests/unit/server/test_mcp_graphql_tools.py
Due: format-python, lint-python

docs(mcp): state the size limit on executeGraphqlMutation and route inputs through variables
  src/phoenix/server/mcp/graphql/tools.py
  tests/unit/server/test_mcp_graphql_tools.py
Due: format-python, lint-python

docs(mcp): state the mutation tool's shapes and its one-operation rule
  src/phoenix/server/mcp/graphql/tools.py
Due: format-python, lint-python

test(mcp): observe whether the mutation ran, and pin the flag PXI relies on
  tests/unit/server/test_mcp_graphql_tools.py
Due: format-python, lint-python

Reject malformed node IDs in Phoenix client
  packages/phoenix-client/src/phoenix/client/utils/id_handling.py
  packages/phoenix-client/tests/client/utils/test_id_handling.py
Due: format-python, lint-python

feat(ui): editable experiment's name and description (#16214)
  js/app/src/components/experiment/ExperimentActionMenu.tsx
  js/app/src/components/experiment/__generated__/ExperimentActionMenuEditExperimentMutation.graphql.ts
  js/app/src/pages/experiments/ExperimentsTable.tsx
  js/app/src/pages/playground/PlaygroundExperimentSettingsButton.tsx
  js/app/src/pages/playground/__tests__/getChatCompletionOverDatasetInput.test.ts
  js/app/src/pages/playground/playgroundUtils.ts
  js/app/src/store/playground/__tests__/playgroundStore.test.ts
  js/app/src/store/playground/playgroundStore.tsx
  js/app/src/store/playground/types.ts
Due: oxfmt-js, oxlint-js

docs: reorganize Get Started around the agent workflow
  docs.json
  docs/phoenix.mdx
  docs/phoenix/get-started.mdx
  docs/phoenix/get-started/get-started-datasets-and-experiments.mdx
  docs/phoenix/get-started/get-started-evaluations.mdx
  docs/phoenix/get-started/get-started-prompt-playground.mdx
  docs/phoenix/get-started/get-started-tracing.mdx
  docs/phoenix/get-started/ts-get-started-datasets-and-experiments.mdx
  docs/phoenix/get-started/ts-get-started-evaluations.mdx
  docs/phoenix/get-started/ts-get-started-prompt-playground.mdx
  docs/phoenix/get-started/ts-get-started-tracing.mdx
Due: none

docs: cut duplicated prose from the Get Started guides
  docs/phoenix/get-started/get-started-datasets-and-experiments.mdx
  docs/phoenix/get-started/get-started-evaluations.mdx
  docs/phoenix/get-started/get-started-prompt-playground.mdx
  docs/phoenix/get-started/get-started-tracing.mdx
Due: none

docs: tighten Instrument and Agent-Assisted Setup, repoint quickstart
  docs.json
  docs/phoenix/agent-assisted-setup.mdx
  docs/phoenix/get-started/get-started-tracing.mdx
Due: none

docs: fix Google GenAI content-parts sample that does not run
  docs/phoenix/cookbook/agent-workflow-patterns/google-genai-sdk-manual-orchestration.mdx
Due: none

docs: hold every Get Started intro to four sentences or fewer
  docs/phoenix/get-started/get-started-evaluations.mdx
  docs/phoenix/get-started/get-started-prompt-playground.mdx
  docs/phoenix/get-started/get-started-tracing.mdx
Due: none

experiment(js): jev powered oxlint plugin for instrumentation compliance
  js/.oxlintrc.json
  js/packages/oxlint-plugin-jev/.gitignore
  js/packages/oxlint-plugin-jev/README.md
  js/packages/oxlint-plugin-jev/demo.oxlintrc.json
  js/packages/oxlint-plugin-jev/fixtures/bad-flush-success-only.ts
  js/packages/oxlint-plugin-jev/fixtures/bad-no-flush.ts
  js/packages/oxlint-plugin-jev/fixtures/benign-attributes.ts
  js/packages/oxlint-plugin-jev/fixtures/esm-import-order.ts
  js/packages/oxlint-plugin-jev/fixtures/exported-provider.ts
  js/packages/oxlint-plugin-jev/fixtures/good-flush.ts
  js/packages/oxlint-plugin-jev/fixtures/pii-attributes.ts
  js/packages/oxlint-plugin-jev/fixtures/pii-masked.ts
  js/packages/oxlint-plugin-jev/fixtures/session-wrapper.ts
  js/packages/oxlint-plugin-jev/fixtures/simple-processor.ts
  js/packages/oxlint-plugin-jev/fixtures/span-kind-mismatch.ts
  js/packages/oxlint-plugin-jev/fixtures/unrelated.ts
  js/packages/oxlint-plugin-jev/package.json
  js/packages/oxlint-plugin-jev/scripts/copy-skills.mjs
  js/packages/oxlint-plugin-jev/src/bin.ts
  js/packages/oxlint-plugin-jev/src/cache.ts
  js/packages/oxlint-plugin-jev/src/checks.ts
  js/packages/oxlint-plugin-jev/src/extract.ts
  js/packages/oxlint-plugin-jev/src/guidance.ts
  js/packages/oxlint-plugin-jev/src/index.ts
  js/packages/oxlint-plugin-jev/src/jev/mock.ts
  js/packages/oxlint-plugin-jev/src/jev/sync.ts
  js/packages/oxlint-plugin-jev/src/jev/types.ts
  js/packages/oxlint-plugin-jev/src/jev/worker.ts
  js/packages/oxlint-plugin-jev/src/oxlintTypes.ts
  js/packages/oxlint-plugin-jev/src/redact.ts
  js/packages/oxlint-plugin-jev/src/rules/guidance.ts
  js/packages/oxlint-plugin-jev/test/mock-answers.json
  js/packages/oxlint-plugin-jev/test/plugin.test.ts
  js/packages/oxlint-plugin-jev/tsconfig.json
  js/packages/oxlint-plugin-jev/vitest.config.ts
  js/pnpm-lock.yaml
Due: oxfmt-js, oxlint-js

fix(evaluators): address review of the matching targets table
  js/app/src/components/chart/confusionMatrix/ConfusionMatrix.tsx
  js/app/src/components/chart/confusionMatrix/styles.ts
  js/app/src/components/table/LoadMoreRow.tsx
  js/app/src/constants/searchParams.ts
  js/app/src/pages/project/SessionsTable.tsx
  js/app/src/pages/project/SpansTable.tsx
  js/app/src/pages/project/TableMetricsChartSelector.tsx
  js/app/src/pages/project/TableMetricsCharts.tsx
  js/app/src/pages/project/TracesTable.tsx
  js/app/src/pages/project/__tests__/SpanFiltersContext.test.tsx
  js/app/src/pages/project/__tests__/SpansTableSeedIntegration.test.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareContent.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareDistributions.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareMatrix.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorComparePage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareTargets.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareContentQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareTargets_comparison.graphql.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorCompareFilterUtils.test.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorCompareSelection.test.ts
  js/app/src/pages/project/evaluators/projectEvaluatorCompareFilterUtils.ts
  js/app/src/pages/project/evaluators/projectEvaluatorCompareSelection.ts
  js/app/src/store/__tests__/projectStore.test.ts
  js/app/src/store/__tests__/tracingStore.test.ts
  js/app/src/store/projectStore.ts
  js/app/src/store/tracingStore.tsx
  tests/unit/trace/dsl/test_evaluator_compare_filters.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

experiment(js): cite skill guidance by whole file, verify at build
  js/packages/oxlint-plugin-jev/README.md
  js/packages/oxlint-plugin-jev/package.json
  js/packages/oxlint-plugin-jev/src/checks.ts
  js/packages/oxlint-plugin-jev/src/guidance.ts
  js/packages/oxlint-plugin-jev/src/rules/guidance.ts
  js/packages/oxlint-plugin-jev/src/verifyGuidance.ts
  js/packages/oxlint-plugin-jev/test/plugin.test.ts
Due: oxfmt-js, oxlint-js

docs: say "agent" instead of "app" across Get Started
  docs/phoenix/get-started.mdx
  docs/phoenix/get-started/get-started-datasets-and-experiments.mdx
  docs/phoenix/get-started/get-started-evaluations.mdx
  docs/phoenix/get-started/get-started-prompt-playground.mdx
  docs/phoenix/get-started/get-started-tracing.mdx
Due: none

docs: merge the prompts and experiments guides into Improve your agent
  docs.json
  docs/phoenix.mdx
  docs/phoenix/get-started/get-started-datasets-and-experiments.mdx
  docs/phoenix/get-started/get-started-evaluations.mdx
  docs/phoenix/get-started/get-started-improve-your-agent.mdx
  docs/phoenix/get-started/get-started-prompt-playground.mdx
  docs/phoenix/prompt-engineering/overview-prompts.mdx
  docs/phoenix/user-guide.mdx
Due: none

docs: rewrite Get Started in second person, direct voice
  docs/phoenix/get-started/get-started-evaluations.mdx
  docs/phoenix/get-started/get-started-improve-your-agent.mdx
  docs/phoenix/get-started/get-started-tracing.mdx
Due: none

docs: sharpen the tracing opener and drop every em dash
  docs/phoenix/agent-assisted-setup.mdx
  docs/phoenix/get-started/get-started-tracing.mdx
Due: none

docs: stop repeating the prerequisites, and drop the long reference from Get Started
  docs.json
  docs/phoenix/agent-assisted-setup.mdx
  docs/phoenix/get-started.mdx
  docs/phoenix/get-started/get-started-evaluations.mdx
Due: none

perf: improve PXI streaming and transcript scrolling
  js/app/src/components/agent/Chat.tsx
  js/app/src/components/agent/ChatMessage.tsx
  js/app/src/components/agent/ChatScrollContext.tsx
  js/app/src/components/agent/ToolPart.tsx
  js/app/src/components/agent/ToolPartPrimitives.tsx
  js/app/src/components/agent/__tests__/Chat.test.tsx
  js/app/src/components/agent/__tests__/ToolPartApprovalActions.test.tsx
  js/app/src/components/agent/__tests__/ToolPartDisclosure.test.tsx
  js/app/src/components/agent/__tests__/scrollAnchor.test.tsx
  js/app/src/components/agent/__tests__/useChatFollowScroll.test.tsx
  js/app/src/components/agent/__tests__/useChatScroll.test.tsx
  js/app/src/components/agent/scrollAnchor.ts
  js/app/src/components/agent/useAgentChat.ts
  js/app/src/components/agent/useChatFollowScroll.ts
  js/app/src/components/agent/useChatScroll.ts
  js/app/src/components/agent/useToolDisclosure.ts
  js/app/src/components/markdown/MarkdownBlock.tsx
  js/app/src/components/markdown/__tests__/streamdownComponents.test.tsx
  js/app/src/components/markdown/streamdownComponents.tsx
  js/app/src/components/markdown/styles.ts
Due: oxfmt-js, oxlint-js

docs: fix five accuracy defects found by checking Get Started against the source
  docs/phoenix/get-started/get-started-improve-your-agent.mdx
Due: none

docs: one language choice on Improve your agent, not ten
  docs/phoenix/get-started/get-started-improve-your-agent.mdx
Due: none

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
