Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

fix: import nan/inf after user source so shadowing can't corrupt inputs
  src/phoenix/server/api/evaluators.py
  tests/unit/server/api/test_code_evaluator_runner.py
Due: format-python, lint-python

fix(agents): use fixed text in the github token decrypt-failure log
  src/phoenix/server/agents/github.py
Due: format-python, lint-python

fix(ui): show a neutral redirect state instead of the error boundary during login handoff
  js/app/__tests__/authFetch.test.ts
  js/app/src/authFetch.ts
  js/app/src/components/exception/ErrorBoundary.tsx
  js/app/src/pages/ErrorElement.tsx
  js/app/tests/auth-refresh.spec.ts
Due: oxfmt-js, oxlint-js

feat(agents): enable GitHub tools by default
  docs/phoenix/pxi.mdx
  js/app/schema.graphql
  src/phoenix/server/api/types/AgentsConfig.py
  src/phoenix/server/settings/registry.py
Due: format-python, lint-python

fix(dsl): classify span cost bindings as numeric in _is_float
  src/phoenix/trace/dsl/filter.py
  tests/unit/trace/dsl/test_filter_span_cost.py
Due: format-python, lint-python

style: tighten harness comments and test assertions
  src/phoenix/server/api/evaluators.py
  tests/unit/server/api/test_code_evaluator_runner.py
Due: format-python, lint-python

refactor(agents): minimize the GitHub tool instructions
  src/phoenix/server/agents/capabilities/github_mcp.py
  src/phoenix/server/agents/prompts/static/tools/GITHUB_TOOL_INSTRUCTIONS.xml
  tests/unit/server/agents/capabilities/test_github_mcp.py
Due: format-python, lint-python

fix(cli): keep the credential key literal-typed in the pxi chat request
  js/packages/phoenix-cli/src/pxi/client.ts
Due: oxfmt-js, oxlint-js

perf(traces): optimize filtered query lowering
  internal_docs/specs/trace-filter-dsl.md
  src/phoenix/server/api/dataloaders/latency_ms_quantile.py
  src/phoenix/trace/dsl/query.py
  src/phoenix/trace/dsl/trace_filter.py
  tests/unit/server/api/dataloaders/test_latency_ms_quantiles.py
  tests/unit/trace/dsl/test_trace_filter.py
Due: format-python, lint-python

style(cli): oxfmt the pxi chat request credentials block
  js/packages/phoenix-cli/src/pxi/client.ts
Due: oxfmt-js, oxlint-js

fix(ui): suppress error surfaces for fetches interrupted by the login handoff
  js/app/__tests__/authFetch.test.ts
  js/app/src/authFetch.ts
  js/app/src/components/exception/ErrorBoundary.tsx
  js/app/src/pages/ErrorElement.tsx
  js/app/tests/auth-refresh.spec.ts
Due: oxfmt-js, oxlint-js

feat(js): add getCurrentUser helper (#15739)
  docs.json
  docs/phoenix/sdk-api-reference/typescript/arizeai-phoenix-client.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/overview.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/users.mdx
  js/.changeset/current-user-helper.md
  js/packages/phoenix-client/package.json
  js/packages/phoenix-client/src/users/getCurrentUser.ts
  js/packages/phoenix-client/src/users/index.ts
  js/packages/phoenix-client/test/entryPoints.test.ts
  js/packages/phoenix-client/test/users/getCurrentUser.test.ts
Due: oxfmt-js, oxlint-js

chore: update sitemap.xml
  docs/phoenix/sitemap.xml
  sitemap.xml
Due: none

chore(js): update versions
  js/.changeset/bright-cranes-retain.md
  js/.changeset/clean-traces-move.md
  js/.changeset/current-user-helper.md
  js/.changeset/olive-jokes-argue.md
  js/packages/phoenix-cli/CHANGELOG.md
  js/packages/phoenix-cli/package.json
  js/packages/phoenix-client/CHANGELOG.md
  js/packages/phoenix-client/package.json
  js/packages/phoenix-mcp/CHANGELOG.md
  js/packages/phoenix-mcp/package.json
Due: oxfmt-js

chore: update sitemap.xml (#15789)
  docs/phoenix/sitemap.xml
  sitemap.xml
Due: none

chore(js): update versions (#15749)
  js/.changeset/bright-cranes-retain.md
  js/.changeset/clean-traces-move.md
  js/.changeset/current-user-helper.md
  js/.changeset/olive-jokes-argue.md
  js/packages/phoenix-cli/CHANGELOG.md
  js/packages/phoenix-cli/package.json
  js/packages/phoenix-client/CHANGELOG.md
  js/packages/phoenix-client/package.json
  js/packages/phoenix-mcp/CHANGELOG.md
  js/packages/phoenix-mcp/package.json
Due: oxfmt-js

chore(main): release arize-phoenix-evals 3.6.0
  .release-please-manifest.json
  packages/phoenix-evals/CHANGELOG.md
  packages/phoenix-evals/pyproject.toml
Due: uv-lock-check

feat(js): preserve token counts in Session (#15741)
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/sessions.mdx
  js/.changeset/preserve-session-token-counts.md
  js/packages/phoenix-client/src/sessions/sessionUtils.ts
  js/packages/phoenix-client/src/types/sessions.ts
  js/packages/phoenix-client/test/sessions/getSession.test.ts
  js/packages/phoenix-client/test/sessions/listSessions.test.ts
Due: oxfmt-js, oxlint-js

fix(client): harden Harbor ATIF trace loading and unify failure status
  Makefile
  evals/harbor/README.md
  evals/harbor/scripts/test_phoenix_plugin_e2e.py
  internal_docs/specs/harbor-phoenix-plugin.md
  packages/phoenix-client/src/phoenix/client/harbor/_plugin.py
  packages/phoenix-client/src/phoenix/client/harbor/_recorder.py
  packages/phoenix-client/src/phoenix/client/harbor/_scores.py
  packages/phoenix-client/src/phoenix/client/harbor/_traces.py
  packages/phoenix-client/tests/client/harbor/test_harbor_contract.py
  packages/phoenix-client/tests/client/harbor/test_recorder.py
  packages/phoenix-client/tests/client/harbor/test_scores.py
  packages/phoenix-client/tests/client/harbor/test_traces.py
Due: format-python, lint-python

fix(client): preserve equal-time ATIF span order
  evals/harbor/README.md
  evals/harbor/scripts/test_phoenix_plugin_e2e.py
  internal_docs/specs/harbor-phoenix-plugin.md
  js/app/src/components/trace/__tests__/utils.test.ts
  js/app/src/components/trace/utils.ts
  js/app/src/pages/trace/ConnectedTraceTree.tsx
  js/app/src/pages/trace/__generated__/ConnectedTraceTree.graphql.ts
  js/app/src/pages/trace/__generated__/ConnectedTraceTreeQuery.graphql.ts
  js/app/src/pages/trace/__generated__/SessionDetailsTracesViewTreeQuery.graphql.ts
  js/app/src/pages/trace/__generated__/TraceDetailsQuery.graphql.ts
  packages/phoenix-client/src/phoenix/client/harbor/_recorder.py
  packages/phoenix-client/src/phoenix/client/helpers/atif/__init__.py
  packages/phoenix-client/src/phoenix/client/helpers/atif/_convert.py
  packages/phoenix-client/tests/client/harbor/test_recorder.py
  packages/phoenix-client/tests/client/harbor/test_traces.py
  packages/phoenix-client/tests/client/helpers/atif/test_convert.py
  packages/phoenix-client/tests/client/helpers/atif/test_integration.py
  show-me-harbor-atif-pr.html
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(client): address Harbor ATIF review comments
  Makefile
  evals/harbor/README.md
  evals/harbor/scripts/test_phoenix_plugin_e2e.py
  internal_docs/specs/harbor-atif-tracing-research.md
  internal_docs/specs/harbor-phoenix-plugin.md
  packages/phoenix-client/src/phoenix/client/harbor/_plugin.py
  packages/phoenix-client/src/phoenix/client/harbor/_recorder.py
  packages/phoenix-client/src/phoenix/client/harbor/_traces.py
  packages/phoenix-client/src/phoenix/client/helpers/atif/__init__.py
  packages/phoenix-client/src/phoenix/client/helpers/atif/_convert.py
  packages/phoenix-client/src/phoenix/client/helpers/atif/_types.py
  packages/phoenix-client/tests/client/harbor/test_plugin.py
  packages/phoenix-client/tests/client/harbor/test_recorder.py
  packages/phoenix-client/tests/client/helpers/atif/test_convert.py
  src/phoenix/server/api/routers/v1/experiment_runs.py
  tests/integration/client/test_experiments.py
  tests/unit/server/api/routers/v1/test_experiments.py
Due: format-python, lint-python

fix(client): harden Harbor ATIF trace semantics
  evals/harbor/README.md
  evals/harbor/scripts/test_phoenix_plugin_e2e.py
  internal_docs/specs/harbor-phoenix-plugin.md
  packages/phoenix-client/src/phoenix/client/harbor/_recorder.py
  packages/phoenix-client/src/phoenix/client/harbor/_traces.py
  packages/phoenix-client/src/phoenix/client/helpers/atif/__init__.py
  packages/phoenix-client/src/phoenix/client/helpers/atif/_convert.py
  packages/phoenix-client/src/phoenix/client/helpers/atif/_types.py
  packages/phoenix-client/src/phoenix/client/helpers/atif/_validate.py
  packages/phoenix-client/tests/client/harbor/test_recorder.py
  packages/phoenix-client/tests/client/harbor/test_traces.py
  packages/phoenix-client/tests/client/helpers/atif/test_convert.py
  packages/phoenix-client/tests/client/helpers/atif/test_integration.py
  packages/phoenix-client/tests/client/helpers/atif/test_validate.py
  tests/integration/client/test_atif.py
Due: format-python, lint-python

fix(client): align Harbor exception recording
  packages/phoenix-client/src/phoenix/client/harbor/_scores.py
  packages/phoenix-client/src/phoenix/client/harbor/_traces.py
  packages/phoenix-client/tests/client/harbor/test_recorder.py
  packages/phoenix-client/tests/client/harbor/test_scores.py
  packages/phoenix-client/tests/client/harbor/test_traces.py
  tests/integration/client/test_experiments.py
Due: format-python, lint-python

feat(client): causal ATIF span model with readable action names
  packages/phoenix-client/src/phoenix/client/harbor/_traces.py
  packages/phoenix-client/src/phoenix/client/helpers/atif/__init__.py
  packages/phoenix-client/src/phoenix/client/helpers/atif/_convert.py
  packages/phoenix-client/tests/client/harbor/test_traces.py
  packages/phoenix-client/tests/client/helpers/atif/test_convert.py
  packages/phoenix-client/tests/client/helpers/atif/test_integration.py
  tests/integration/client/test_atif.py
Due: format-python, lint-python

feat(client): add ATIF tracing to Harbor plugin
  Makefile
  evals/harbor/README.md
  evals/harbor/scripts/test_phoenix_plugin_e2e.py
  internal_docs/specs/harbor-atif-tracing-research.md
  internal_docs/specs/harbor-phoenix-plugin.md
  packages/phoenix-client/src/phoenix/client/harbor/_model.py
  packages/phoenix-client/src/phoenix/client/harbor/_plugin.py
  packages/phoenix-client/src/phoenix/client/harbor/_recorder.py
  packages/phoenix-client/src/phoenix/client/harbor/_scores.py
  packages/phoenix-client/src/phoenix/client/harbor/_traces.py
  packages/phoenix-client/src/phoenix/client/helpers/atif/__init__.py
  packages/phoenix-client/src/phoenix/client/helpers/atif/_convert.py
  packages/phoenix-client/src/phoenix/client/helpers/atif/_types.py
  packages/phoenix-client/tests/client/harbor/test_plugin.py
  packages/phoenix-client/tests/client/harbor/test_recorder.py
  packages/phoenix-client/tests/client/harbor/test_traces.py
  packages/phoenix-client/tests/client/helpers/atif/test_convert.py
  src/phoenix/server/api/routers/v1/experiment_runs.py
  tests/integration/client/test_experiments.py
  tests/unit/server/api/routers/v1/test_experiments.py
Due: format-python, lint-python

fix(client): align Harbor tracing docs and coverage
  evals/harbor/README.md
  evals/harbor/scripts/test_phoenix_plugin_e2e.py
  internal_docs/specs/harbor-phoenix-plugin.md
  packages/phoenix-client/src/phoenix/client/harbor/_plugin.py
  packages/phoenix-client/src/phoenix/client/harbor/_recorder.py
  packages/phoenix-client/src/phoenix/client/harbor/_traces.py
  packages/phoenix-client/tests/client/harbor/test_plugin.py
  packages/phoenix-client/tests/client/harbor/test_recorder.py
  packages/phoenix-client/tests/client/harbor/test_traces.py
Due: format-python, lint-python

fix(client): recover Harbor experiments across dataset version churn
  packages/phoenix-client/src/phoenix/client/harbor/_recorder.py
  packages/phoenix-client/tests/client/harbor/test_recorder.py
Due: format-python, lint-python

test(evals): align Harbor ATIF E2E and docs with the causal span model
  Makefile
  evals/harbor/README.md
  evals/harbor/scripts/test_phoenix_plugin_e2e.py
  internal_docs/specs/harbor-phoenix-plugin.md
Due: format-python, lint-python

feat(app): break equal-time span ties with producer order metadata
  js/app/src/components/trace/__tests__/utils.test.ts
  js/app/src/components/trace/utils.ts
  js/app/src/pages/trace/ConnectedTraceTree.tsx
  js/app/src/pages/trace/__generated__/ConnectedTraceTree.graphql.ts
  js/app/src/pages/trace/__generated__/ConnectedTraceTreeQuery.graphql.ts
  js/app/src/pages/trace/__generated__/SessionDetailsTracesViewTreeQuery.graphql.ts
  js/app/src/pages/trace/__generated__/TraceDetailsQuery.graphql.ts
Due: oxfmt-js, oxlint-js

test(e2e): assert the evaluator category carousel on the empty state
  js/app/tests/projects.spec.ts
Due: oxfmt-js, oxlint-js

ci(python): dump hung-test stacks via pytest faulthandler
  .github/workflows/python-CI.yml
Due: none

fix: address Harbor ATIF review feedback
  evals/harbor/README.md
  evals/harbor/scripts/test_phoenix_plugin_e2e.py
  internal_docs/specs/harbor-phoenix-plugin.md
  js/app/src/components/trace/__tests__/utils.test.ts
  js/app/src/components/trace/utils.ts
  packages/phoenix-client/src/phoenix/client/harbor/_plugin.py
  packages/phoenix-client/src/phoenix/client/harbor/_recorder.py
  packages/phoenix-client/src/phoenix/client/harbor/_traces.py
  packages/phoenix-client/src/phoenix/client/helpers/atif/__init__.py
  packages/phoenix-client/src/phoenix/client/helpers/atif/_convert.py
  packages/phoenix-client/src/phoenix/client/helpers/atif/_types.py
  packages/phoenix-client/src/phoenix/client/helpers/atif/_validate.py
  packages/phoenix-client/tests/client/helpers/atif/test_convert.py
  packages/phoenix-client/tests/client/helpers/atif/test_integration.py
  packages/phoenix-client/tests/client/helpers/atif/test_validate.py
  show-me-harbor-atif-pr.html
  tests/integration/client/test_atif.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix: satisfy Python import lint
  tests/integration/client/test_atif.py
Due: format-python, lint-python

ci(python): surface hung unit tests as named failures via pytest-timeout
  .github/workflows/python-CI.yml
  pyproject.toml
  requirements/unit-tests.txt
  uv.lock
Due: uv-lock-check

fix(evaluators): drop mid-delete project evaluators from the connection
  src/phoenix/server/api/types/Project.py
Due: format-python, lint-python

ci(python): py-spy watchdog for the silent postgres unit-test stall
  .github/workflows/python-CI.yml
  src/phoenix/server/api/types/Project.py
Due: format-python, lint-python

fix(cost): update built-in model token prices (#15757)
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Due: none

fix(dsl): reject a bare reduction as a whole condition
  src/phoenix/trace/dsl/filter.py
  tests/unit/trace/dsl/test_filter_span_cost.py
  tests/unit/trace/dsl/test_filter_spec_conformance.py
Due: format-python, lint-python

test(playground): cover required tool choice request shape for Anthropic and Bedrock
  tests/unit/server/api/helpers/test_playground_clients.py
Due: format-python, lint-python
