Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

feat(experiments): expose evaluatorTaskConfig on experiment jobs
  src/phoenix/server/api/types/ExperimentJob.py
  src/phoenix/server/api/types/ExperimentTaskConfig.py
  tests/unit/server/api/types/test_ExperimentJob.py
Due: format-python, lint-python

feat(playground): model tasks on playground instances
  js/app/src/agent/tools/playgroundModel/__tests__/playgroundModel.test.ts
  js/app/src/agent/tools/playgroundPrompt/__tests__/playgroundPrompt.test.ts
  js/app/src/agent/tools/playgroundPromptTools/__tests__/playgroundPromptTools.test.ts
  js/app/src/agent/tools/playgroundRun/__tests__/playgroundRun.test.ts
  js/app/src/components/evaluators/EvaluatorChatTemplate/utils.ts
  js/app/src/components/evaluators/codeEvaluatorDefaults.ts
  js/app/src/components/evaluators/codeEvaluatorUtils.ts
  js/app/src/pages/playground/Playground.tsx
  js/app/src/pages/playground/__tests__/instanceToPromptVersion.test.ts
  js/app/src/pages/playground/__tests__/playgroundUtils.test.ts
  js/app/src/store/playground/__tests__/playgroundStore.test.ts
  js/app/src/store/playground/__tests__/playgroundTask.test.ts
  js/app/src/store/playground/index.ts
  js/app/src/store/playground/playgroundStore.tsx
  js/app/src/store/playground/playgroundTask.ts
  js/app/src/store/playground/types.ts
Due: oxfmt-js, oxlint-js

feat(evaluators): pin a Playground button beside each evaluator row's actions
  docs/phoenix/prompt-engineering/how-to-prompts/using-the-playground.mdx
  js/app/src/pages/dataset/evaluators/DatasetEvaluatorActionMenu.tsx
  js/app/src/pages/evaluators/DatasetEvaluatorsTable.tsx
  js/app/src/pages/evaluators/EvaluatorsTable.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsTable.tsx
Due: oxfmt-js, oxlint-js

feat(playground): keep the template variables path per kind of task
  docs/phoenix/prompt-engineering/how-to-prompts/using-the-playground.mdx
  js/app/src/agent/tools/playgroundTemplateVariablesPath/__tests__/playgroundTemplateVariablesPath.test.ts
  js/app/src/agent/tools/playgroundTemplateVariablesPath/clientActions.ts
  js/app/src/agent/uiOperations/operations/playgroundSettings.ts
  js/app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  js/app/src/pages/playground/PlaygroundExperimentSettingsButton.tsx
  js/app/src/pages/playground/experimentRehydration.ts
  js/app/src/pages/playground/playgroundUtils.ts
  js/app/src/store/playground/__tests__/playgroundStore.test.ts
  js/app/src/store/playground/index.ts
  js/app/src/store/playground/playgroundStore.tsx
  js/app/src/store/playground/templateVariablesPath.ts
  js/app/src/store/playground/types.ts
  src/phoenix/server/agents/prompts/static/context/PLAYGROUND_CONTEXT_INSTRUCTIONS.xml
Due: oxfmt-js, oxlint-js

refactor(experiments): drop the chatCompletionOverDataset subscription
  js/app/src/pages/playground/__generated__/PlaygroundDatasetExamplesTableMutation.graphql.ts
  scripts/README.md
  scripts/evaluators/test_chat_over_dataset.py
  scripts/evaluators/test_experiments_over_dataset.py
  src/phoenix/server/api/input_types/ChatCompletionInput.py
  src/phoenix/server/api/subscriptions.py
  tests/integration/experiments/test_playground.py
  tests/unit/server/agents/test_evaluator_playground_context.py
  tests/unit/server/api/cassettes/test_subscriptions/TestExperimentsOverDatasetPromptTaskSubscription.test_all_spans_yielded_when_number_of_examples_exceeds_batch_size.yaml
  tests/unit/server/api/cassettes/test_subscriptions/TestExperimentsOverDatasetPromptTaskSubscription.test_builtin_evaluator_uses_name.yaml
  tests/unit/server/api/cassettes/test_subscriptions/TestExperimentsOverDatasetPromptTaskSubscription.test_emits_expected_payloads_and_records_expected_spans_and_experiment.yaml
  tests/unit/server/api/cassettes/test_subscriptions/TestExperimentsOverDatasetPromptTaskSubscription.test_evaluator_emits_evaluation_chunk_and_persists_annotation.yaml
  tests/unit/server/api/cassettes/test_subscriptions/TestExperimentsOverDatasetPromptTaskSubscription.test_evaluator_not_emitted_when_task_errors.yaml
  tests/unit/server/api/cassettes/test_subscriptions/TestExperimentsOverDatasetPromptTaskSubscription.test_example_dispatched_as_previous_example_finishes_is_not_dropped.yaml
  tests/unit/server/api/cassettes/test_subscriptions/TestExperimentsOverDatasetPromptTaskSubscription.test_experiment_with_multiple_splits.yaml
  tests/unit/server/api/cassettes/test_subscriptions/TestExperimentsOverDatasetPromptTaskSubscription.test_experiment_with_single_split_filters_examples.yaml
  tests/unit/server/api/cassettes/test_subscriptions/TestExperimentsOverDatasetPromptTaskSubscription.test_experiment_without_splits_includes_all_examples.yaml
  tests/unit/server/api/test_subscriptions.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

feat(playground): add a toggle-able metadata column to the dataset table
  docs/phoenix/prompt-engineering/how-to-prompts/using-the-playground.mdx
  js/app/src/components/experiment/ExperimentMetadataCell.tsx
  js/app/src/components/experiment/index.tsx
  js/app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  js/app/src/pages/playground/PlaygroundDatasetExamplesTablePreferences.tsx
  js/app/src/pages/playground/PlaygroundDatasetSection.tsx
  js/app/src/pages/playground/PlaygroundExampleColumnSelector.tsx
  js/app/src/pages/playground/PlaygroundExperimentToolbar.tsx
  js/app/src/pages/playground/__tests__/exampleColumns.test.ts
  js/app/src/pages/playground/exampleColumns.ts
Due: oxfmt-js, oxlint-js

chore(graphql): regenerate the schema and Relay artifacts after rebasing
  js/app/schema.graphql
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTablePaginationQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_project.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_row.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorsLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/refetchProjectEvaluatorsQuery.graphql.ts
Due: oxfmt-js, oxlint-js

feat(harbor): add a Harbor agent that drives PXI through the agent session chat route
  .gitignore
  Makefile
  evals/harbor/README.md
  evals/harbor/agents/agent_session_chat.py
  evals/harbor/agents/phoenix_chat_agent.py
  evals/harbor/container_assets/run_headless_agent.py
  evals/harbor/container_assets/start_phoenix_server.sh
  evals/harbor/scripts/stage_harbor_task_environments.sh
  evals/harbor/tasks/regression-triage/environment/Dockerfile
  evals/harbor/tasks/regression-triage/environment/docker-compose.yaml
  evals/harbor/tasks/regression-triage/steps/step_01_aggregate/tests/check.py
  evals/harbor/tasks/regression-triage/steps/step_02_diagnose/tests/check.py
  evals/harbor/tasks/regression-triage/steps/step_03_trace_drilldown/tests/check.py
  evals/harbor/tasks/regression-triage/steps/step_04_create_split/tests/check.py
  tests/unit/harbor/conftest.py
  tests/unit/harbor/test_agent_session_chat.py
  tests/unit/harbor/test_agent_session_chat_against_app.py
Due: format-python, lint-python

fix(harbor): capture the container server log and run without the docs MCP server
  evals/harbor/agents/phoenix_chat_agent.py
  evals/harbor/container_assets/start_phoenix_server.sh
Due: format-python, lint-python

ci: scope the PXI eval workflow to PXI changes
  .github/workflows/pxi-evals.yml
Due: none

fix(harbor): give the error-analysis oracle a package marker so mypy sees a unique module
  evals/harbor/tasks/error-analysis/solution/__init__.py
Due: format-python, lint-python

refactor(harbor): let the error-analysis code carry what its comments said
  evals/harbor/container_assets/chat_client.py
  evals/harbor/container_assets/start_phoenix_server.sh
  evals/harbor/tasks/error-analysis/environment/checks/error_analysis_checks.py
  evals/harbor/tasks/error-analysis/steps/step_01_open_coding/tests/check.py
Due: format-python, lint-python

fix(harbor): keep the error-analysis grading material out of the agent's reach
  evals/harbor/tasks/error-analysis/solution/solve.py
  evals/harbor/tasks/error-analysis/steps/step_01_open_coding/tests/check.py
  evals/harbor/tasks/error-analysis/steps/step_02_axial_coding/tests/check.py
  evals/harbor/tasks/error-analysis/tests/error_analysis_checks.py
  evals/harbor/tasks/error-analysis/tests/ground_truth.json
Due: format-python, lint-python

refactor(harbor): replace the in-process headless runner with the chat agent
  .github/workflows/harbor-evals.yml
  .gitignore
  Makefile
  evals/harbor/README.md
  evals/harbor/agents/phoenix_chat_agent.py
  evals/harbor/agents/phoenix_headless_agent.py
  evals/harbor/container_assets/start_phoenix_server.sh
  evals/harbor/scripts/stage_harbor_task_environments.sh
  evals/harbor/tasks/regression-triage/environment/Dockerfile
  evals/harbor/tasks/regression-triage/environment/run_headless_agent.py
  evals/harbor/tasks/regression-triage/task.toml
Due: format-python, lint-python

feat(harbor): bake the fixture database into the task image
  .gitignore
  evals/harbor/container_assets/fetch_fixtures.py
  evals/harbor/scripts/publish_fixtures.sh
  evals/harbor/scripts/stage_harbor_task_environments.sh
  evals/harbor/tasks/error-analysis/environment/Dockerfile
Due: format-python, lint-python

refactor(harbor): run the chat client inside the task container
  .github/workflows/harbor-evals.yml
  .gitignore
  Makefile
  evals/harbor/README.md
  evals/harbor/agents/phoenix_chat_agent.py
  evals/harbor/container_assets/chat_client.py
  evals/harbor/scripts/stage_harbor_task_environments.sh
  evals/harbor/tasks/regression-triage/environment/Dockerfile
  evals/harbor/tasks/regression-triage/environment/docker-compose.yaml
  tests/unit/harbor/test_chat_client.py
  tests/unit/harbor/test_chat_client_against_app.py
Due: format-python, lint-python

test(harbor): drop the conftest path shim now that pytest sets pythonpath
  tests/unit/harbor/conftest.py
Due: format-python, lint-python

chore(harbor): drop the stale staged runner copy
  evals/harbor/tasks/regression-triage/environment/run_headless_agent.py
Due: format-python, lint-python

feat(harbor): add the error-analysis task for PXI open and axial coding
  evals/harbor/container_assets/chat_client.py
  evals/harbor/scripts/publish_fixtures.sh
  evals/harbor/tasks/error-analysis/environment/Dockerfile
  evals/harbor/tasks/error-analysis/environment/checks/error_analysis_checks.py
  evals/harbor/tasks/error-analysis/ground_truth.json
  evals/harbor/tasks/error-analysis/solution/solve.py
  evals/harbor/tasks/error-analysis/solution/solve.sh
  evals/harbor/tasks/error-analysis/steps/step_01_open_coding/__init__.py
  evals/harbor/tasks/error-analysis/steps/step_01_open_coding/instruction.md
  evals/harbor/tasks/error-analysis/steps/step_01_open_coding/tests/check.py
  evals/harbor/tasks/error-analysis/steps/step_01_open_coding/workdir/setup.sh
  evals/harbor/tasks/error-analysis/steps/step_01_open_coding/workdir/step-config.json
  evals/harbor/tasks/error-analysis/steps/step_02_axial_coding/__init__.py
  evals/harbor/tasks/error-analysis/steps/step_02_axial_coding/instruction.md
  evals/harbor/tasks/error-analysis/steps/step_02_axial_coding/tests/check.py
  evals/harbor/tasks/error-analysis/steps/step_02_axial_coding/workdir/setup.sh
  evals/harbor/tasks/error-analysis/steps/step_02_axial_coding/workdir/step-config.json
  evals/harbor/tasks/error-analysis/task.toml
  evals/harbor/tasks/error-analysis/tests/test.sh
Due: format-python, lint-python

feat(harbor): add the three-agent comparison job
  Makefile
  evals/harbor/README.md
  evals/harbor/jobs/error-analysis.yaml
Due: none

refactor(harbor): let names and types carry what comments said
  evals/harbor/agents/agent_session_chat.py
  evals/harbor/agents/phoenix_chat_agent.py
  evals/harbor/container_assets/start_phoenix_server.sh
  tests/unit/harbor/test_agent_session_chat.py
Due: format-python, lint-python

chore(harbor): drop the regression-triage task
  Makefile
  evals/harbor/README.md
  evals/harbor/tasks/regression-triage/environment/Dockerfile
  evals/harbor/tasks/regression-triage/environment/generate_fixture_data.py
  evals/harbor/tasks/regression-triage/solution/solve.py
  evals/harbor/tasks/regression-triage/solution/solve.sh
  evals/harbor/tasks/regression-triage/steps/step_01_aggregate/__init__.py
  evals/harbor/tasks/regression-triage/steps/step_01_aggregate/instruction.md
  evals/harbor/tasks/regression-triage/steps/step_01_aggregate/tests/check.py
  evals/harbor/tasks/regression-triage/steps/step_01_aggregate/workdir/setup.sh
  evals/harbor/tasks/regression-triage/steps/step_01_aggregate/workdir/step-config.json
  evals/harbor/tasks/regression-triage/steps/step_02_diagnose/__init__.py
  evals/harbor/tasks/regression-triage/steps/step_02_diagnose/instruction.md
  evals/harbor/tasks/regression-triage/steps/step_02_diagnose/tests/check.py
  evals/harbor/tasks/regression-triage/steps/step_02_diagnose/workdir/setup.sh
  evals/harbor/tasks/regression-triage/steps/step_02_diagnose/workdir/step-config.json
  evals/harbor/tasks/regression-triage/steps/step_03_trace_drilldown/__init__.py
  evals/harbor/tasks/regression-triage/steps/step_03_trace_drilldown/instruction.md
  evals/harbor/tasks/regression-triage/steps/step_03_trace_drilldown/tests/check.py
  evals/harbor/tasks/regression-triage/steps/step_03_trace_drilldown/workdir/setup.sh
  evals/harbor/tasks/regression-triage/steps/step_03_trace_drilldown/workdir/step-config.json
  evals/harbor/tasks/regression-triage/steps/step_04_create_split/__init__.py
  evals/harbor/tasks/regression-triage/steps/step_04_create_split/instruction.md
  evals/harbor/tasks/regression-triage/steps/step_04_create_split/tests/check.py
  evals/harbor/tasks/regression-triage/steps/step_04_create_split/workdir/setup.sh
  evals/harbor/tasks/regression-triage/steps/step_04_create_split/workdir/step-config.json
  evals/harbor/tasks/regression-triage/task.toml
  evals/harbor/tasks/regression-triage/tests/test.sh
Due: format-python, lint-python

clean readme
  evals/harbor/README.md
Due: none

fix(harbor): satisfy strict mypy in the error-analysis verifiers and oracle
  evals/harbor/tasks/error-analysis/environment/checks/error_analysis_checks.py
  evals/harbor/tasks/error-analysis/solution/solve.py
Due: format-python, lint-python

refactor(harbor): stage container assets as a directory instead of listing files
  .gitignore
  Makefile
  evals/harbor/scripts/publish_fixtures.sh
  evals/harbor/scripts/stage_harbor_task_environments.sh
  evals/harbor/tasks/regression-triage/environment/Dockerfile
Due: none

feat(harbor): add Claude Code agents for the Phoenix MCP server and the px CLI
  evals/harbor/agents/claude_code_agents.py
  evals/harbor/tasks/error-analysis/environment/Dockerfile
  evals/harbor/tasks/error-analysis/tests/error_analysis_checks.py
Due: format-python, lint-python

test(harbor): drop the chat client unit tests
  tests/unit/harbor/test_chat_client.py
  tests/unit/harbor/test_chat_client_against_app.py
Due: format-python, lint-python

refactor(harbor): start the Phoenix server from the step hook, not the agent
  evals/harbor/agents/phoenix_chat_agent.py
  evals/harbor/container_assets/start_phoenix_server.sh
  evals/harbor/tasks/error-analysis/steps/step_01_open_coding/workdir/setup.sh
  evals/harbor/tasks/error-analysis/steps/step_02_axial_coding/workdir/setup.sh
Due: format-python, lint-python

fix(ui): refine evaluator gallery details (#16210)
  .agents/skills/phoenix-design/references/icons.md
  js/app/src/components/annotation/OptimizationDirectionIndicator.tsx
  js/app/src/components/annotation/index.ts
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
  js/app/stories/OptimizationStyles.stories.tsx
Due: oxfmt-js, oxlint-js

feat(playground): bring back the toggle that hides annotations in metadata cells
  docs/phoenix/prompt-engineering/how-to-prompts/using-the-playground.mdx
  js/app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  js/app/src/pages/playground/PlaygroundExperimentSettingsButton.tsx
  js/app/src/pages/playground/__tests__/exampleColumns.test.ts
  js/app/src/pages/playground/exampleColumns.ts
Due: oxfmt-js, oxlint-js

feat(evaluators): add matching targets table
  js/app/src/Routes.tsx
  js/app/src/components/chart/confusionMatrix/ConfusionMatrix.tsx
  js/app/src/components/chart/confusionMatrix/styles.ts
  js/app/src/constants/searchParams.ts
  js/app/src/contexts/ProjectContext.tsx
  js/app/src/pages/project/SessionFiltersContext.tsx
  js/app/src/pages/project/SessionsTable.tsx
  js/app/src/pages/project/SpanFiltersContext.tsx
  js/app/src/pages/project/SpansTable.tsx
  js/app/src/pages/project/TraceFiltersContext.tsx
  js/app/src/pages/project/TracesTable.tsx
  js/app/src/pages/project/__tests__/SpanFiltersContext.test.tsx
  js/app/src/pages/project/__tests__/SpansTableSeedIntegration.test.tsx
  js/app/src/pages/project/annotationFilterUtils.ts
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareContent.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareMatrix.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorComparePage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareTargetPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorCompareTargets.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareContentQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareTargetsQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorCompareTargets_comparison.graphql.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorCompareFilterUtils.test.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorCompareSelection.test.ts
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorPaths.test.tsx
  js/app/src/pages/project/evaluators/projectEvaluatorCompareFilterUtils.ts
  js/app/src/pages/project/evaluators/projectEvaluatorCompareLoader.ts
  js/app/src/pages/project/evaluators/projectEvaluatorCompareSelection.ts
  js/app/src/pages/project/evaluators/projectEvaluatorPaths.ts
  js/app/src/store/__tests__/projectStore.test.ts
  js/app/src/store/projectStore.ts
  js/app/src/store/tracingStore.tsx
  tests/unit/trace/dsl/test_evaluator_compare_filters.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(harbor): keep staged build artifacts out of the task digest
  evals/harbor/tasks/error-analysis/.gitignore
Due: none

feat(harbor): preinstall Claude Code and the px CLI in the task image
  evals/harbor/agents/claude_code_agents.py
  evals/harbor/tasks/error-analysis/environment/Dockerfile
Due: format-python, lint-python

fix(harbor): scope the axial-coding label check to the traces the agent noted
  evals/harbor/tasks/error-analysis/steps/step_02_axial_coding/tests/check.py
Due: format-python, lint-python

feat(harbor): restrict trial egress to the LLM provider hosts
  evals/harbor/README.md
  evals/harbor/tasks/error-analysis/task.toml
Due: none

fix(harbor): install the Phoenix client so the Harbor plugin is discoverable
  Makefile
Due: none

docs(harbor): fix the trace_mode kwarg in the plugin example
  evals/harbor/README.md
Due: none
