Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(db): improve mysql trace query compatibility
  src/phoenix/db/bulk_inserter.py
  src/phoenix/server/api/dataloaders/span_descendants.py
  src/phoenix/server/api/types/Project.py
  tests/unit/server/api/dataloaders/test_span_descendants.py
  tests/unit/server/api/types/test_project_datetime.py
Due: format-python, lint-python

fix(db): resolve mysql compatibility CI issues
  src/phoenix/db/helpers.py
  src/phoenix/db/insertion/dataset.py
  src/phoenix/db/insertion/helpers.py
  src/phoenix/db/insertion/span.py
  src/phoenix/db/insertion/types.py
  src/phoenix/db/models.py
  src/phoenix/server/api/mutations/document_annotations_mutations.py
  src/phoenix/server/api/mutations/experiment_mutations.py
  src/phoenix/server/api/mutations/model_mutations.py
  src/phoenix/server/api/types/Project.py
  src/phoenix/server/daemons/experiment_runner.py
  src/phoenix/trace/dsl/query.py
  tests/integration/db_migrations/__init__.py
  tests/integration/db_migrations/conftest.py
  tests/integration/db_migrations/test_populate_project_sessions_script.py
  tests/unit/conftest.py
  tests/unit/db/test_helpers.py
  tests/unit/db/test_models.py
  tests/unit/server/api/dataloaders/test_latency_ms_quantiles.py
  tests/unit/server/api/dataloaders/test_span_descendants.py
  tests/unit/server/api/test_sync.py
  tests/unit/server/test_jwt_store.py
Due: format-python, lint-python

fix: clarify empty span annotation tool input
  app/src/agent/extensions/__tests__/toolRegistry.test.ts
  app/src/agent/tools/batchSpanAnnotate/batchSpanAnnotateAgentTool.ts
Due: oxfmt-app, oxlint-app

feat(agents): Add session context (#13727)
  app/src/agent/context/__tests__/deriveRouteContexts.test.ts
  app/src/agent/context/agentContextTypes.ts
  app/src/agent/context/deriveRouteContexts.ts
  app/src/agent/quickActions/__tests__/quickActions.test.tsx
  app/src/agent/quickActions/quickActions.tsx
  app/src/agent/tools/bash/context/filesystem/fileBuilders/buildGraphqlContextFiles.ts
  app/src/agent/tools/bash/context/filesystem/fileBuilders/graphql/__generated__/sessionPageContextByIdQuery.graphql.ts
  app/src/agent/tools/bash/context/filesystem/fileBuilders/graphql/__generated__/sessionPageContextSelectedTraceQuery.graphql.ts
  app/src/agent/tools/bash/context/filesystem/fileBuilders/graphql/__generated__/sessionPageContextTracesQuery.graphql.ts
  app/src/agent/tools/bash/context/filesystem/fileBuilders/graphql/session.ts
  app/src/agent/tools/getRouteInfo/routeParams.ts
  app/src/api/__generated__/v1.ts
  app/src/components/agent/AgentContextPills.tsx
  app/src/components/ai/attachment/utils.tsx
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/server/agents/capabilities/contexts/__init__.py
  src/phoenix/server/agents/capabilities/contexts/session.py
  src/phoenix/server/agents/capabilities/tools/internal/run_graphql_query.py
  src/phoenix/server/agents/context.py
  src/phoenix/server/agents/prompts/__init__.py
  src/phoenix/server/agents/prompts/context/SESSION_CONTEXT_INSTRUCTIONS.xml.j2
  src/phoenix/server/agents/prompts/tools/RUN_GRAPHQL_QUERY_TOOL_INSTRUCTIONS.xml.j2
  tests/unit/server/agents/capabilities/contexts/test_capabilities.py
Due: format-python, lint-python, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js

fix: clear stale selection params from trace links
  app/src/pages/trace/TraceDetails.tsx
  app/src/utils/__tests__/urlUtils.test.ts
  app/src/utils/urlUtils.ts
Due: oxfmt-app, oxlint-app

test(trace): satisfy strict mypy and ruff checks for fixture timeout tests
  tests/unit/trace/test_fixture_timeouts.py
Due: format-python, lint-python

fix: import SELECTED_SPAN_NODE_ID_PARAM in TraceDetails
  app/src/pages/trace/TraceDetails.tsx
Due: oxfmt-app, oxlint-app

style: fix import ordering in TraceDetails
  app/src/pages/trace/TraceDetails.tsx
Due: oxfmt-app, oxlint-app

feat: Make trace time range URLs shareable (#13761)
  app/src/components/datetime/TimeRangeContext.tsx
  app/src/components/datetime/__tests__/TimeRangeContext.test.tsx
  app/src/components/datetime/__tests__/utils.test.ts
  app/src/components/datetime/utils.ts
  app/src/constants/searchParams.ts
  app/src/pages/project/ProjectIndexPage.tsx
  app/src/pages/project/ProjectPage.tsx
  app/src/pages/project/SessionsTable.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/TracesTable.tsx
  app/src/pages/trace/SessionPage.tsx
  app/src/pages/trace/SessionPaginationContext.tsx
  app/src/pages/trace/TraceDetails.tsx
  app/src/pages/trace/TracePage.tsx
  app/src/pages/trace/TracePaginationContext.tsx
  app/src/pages/trace/__tests__/SessionPaginationContext.test.ts
  app/src/pages/trace/__tests__/TracePaginationContext.test.ts
  app/src/utils/__tests__/urlUtils.test.ts
  app/src/utils/urlUtils.ts
  app/tests/auth-refresh.spec.ts
Due: oxfmt-app, oxlint-app

docs(cookbook): Jailbreak and prompt injection defense cookbook (#13729)
  docs.json
  docs/phoenix/cookbook/guardrails/jailbreak-and-prompt-injection-defense.mdx
  docs/phoenix/llms.txt
  docs/phoenix/sitemap.xml
  docs/sitemap.xml
  sitemap.xml
  tutorials/guardrails/jailbreak_and_prompt_injection_defense.ipynb
Due: clean-notebooks

test: fix pytest 9.1 duplicate parametrization of 'dialect' in test_serve
  tests/unit/conftest.py
  tests/unit/server/cli/commands/test_serve.py
Due: format-python, lint-python

chore(deps): bump pytest 9.0.3 -> 9.1.0 in lockfile
  uv.lock
Due: uv-lock-check

fix(ui): encode trace IDs when building trace/span routes
  app/src/pages/redirects/spanRedirectLoader.ts
  app/src/pages/redirects/traceRedirectLoader.ts
  app/src/pages/trace/TracePaginationContext.tsx
  app/src/utils/__tests__/urlUtils.test.ts
  app/src/utils/urlUtils.ts
Due: oxfmt-app, oxlint-app

fix: satisfy mypy on parametrize cases under pytest 9.1
  tests/unit/server/sandbox/test_sandbox_config_validation.py
Due: format-python, lint-python

fix(ui): encode trace IDs in remaining trace-route builders
  app/src/components/agent/AssistantMessageActions.tsx
  app/src/pages/auth/OAuth2Login.tsx
  app/src/pages/example/ExampleDetailsDialog.tsx
  app/src/pages/example/ExampleExperimentRunsTable.tsx
  app/src/pages/experiment/TraceDetailsDialog.tsx
  app/src/pages/playground/PlaygroundRunTraceDialog.tsx
  app/src/pages/playground/SpanPlaygroundPage.tsx
Due: oxfmt-app, oxlint-app

test: fix pytest 9.1 duplicate parametrization of 'dialect' in test_serve (#13784)
  tests/unit/conftest.py
  tests/unit/server/cli/commands/test_serve.py
  tests/unit/server/sandbox/test_sandbox_config_validation.py
  uv.lock
Due: format-python, lint-python, uv-lock-check

fix(ui): encode trace IDs when building trace/span routes (#13785)
  app/src/components/agent/AssistantMessageActions.tsx
  app/src/pages/auth/OAuth2Login.tsx
  app/src/pages/example/ExampleDetailsDialog.tsx
  app/src/pages/example/ExampleExperimentRunsTable.tsx
  app/src/pages/experiment/TraceDetailsDialog.tsx
  app/src/pages/playground/PlaygroundRunTraceDialog.tsx
  app/src/pages/playground/SpanPlaygroundPage.tsx
  app/src/pages/redirects/spanRedirectLoader.ts
  app/src/pages/redirects/traceRedirectLoader.ts
  app/src/pages/trace/TracePaginationContext.tsx
  app/src/utils/__tests__/urlUtils.test.ts
  app/src/utils/urlUtils.ts
Due: oxfmt-app, oxlint-app

docs: add docstrings to token count detail helpers
  src/phoenix/server/api/types/Project.py
Due: format-python, lint-python

Add token detail metrics charts
  app/schema.graphql
  app/src/Routes.tsx
  app/src/pages/project/metrics/ProjectMetricsPage.tsx
  app/src/pages/project/metrics/TraceTokenCountTimeSeries.tsx
  app/src/pages/project/metrics/__generated__/TraceTokenCountTimeSeriesQuery.graphql.ts
  src/phoenix/server/api/types/Project.py
  tests/unit/server/api/types/test_Project.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

Add token detail fixture generator
  scripts/generate_spans/generate_token_detail_spans.py
Due: format-python, lint-python

chore: address token detail sort review
  src/phoenix/server/api/types/Project.py
Due: format-python, lint-python

feat: Add token detail metrics charts (#13764)
  app/schema.graphql
  app/src/Routes.tsx
  app/src/pages/project/metrics/ProjectMetricsPage.tsx
  app/src/pages/project/metrics/TraceTokenCountTimeSeries.tsx
  app/src/pages/project/metrics/__generated__/TraceTokenCountTimeSeriesQuery.graphql.ts
  scripts/generate_spans/generate_token_detail_spans.py
  src/phoenix/server/api/types/Project.py
  tests/unit/server/api/types/test_Project.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

chore(main): release arize-phoenix 17.7.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

chore(main): release arize-phoenix 17.7.0 (#13768)
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

chore: update phoenix version to 17.7.0 in kustomize and helm
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

feat: empty state component w stories
  app/src/components/empty-state/EmptyState.tsx
  app/src/components/empty-state/LinkCard.tsx
  app/src/components/empty-state/index.ts
  app/src/components/index.tsx
  app/stories/EmptyState.stories.tsx
Due: oxfmt-app, oxlint-app

chore: update phoenix version to 17.7.0 in kustomize and helm (#13787)
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  kustomize/base/phoenix.yaml
Due: none

fix PXI capability hydration
  app/src/agent/chat/__tests__/buildAgentChatRequestBody.test.ts
  app/src/agent/chat/buildAgentChatRequestBody.ts
  app/src/store/__tests__/agentStore.test.ts
  app/src/store/agentStore.ts
Due: oxfmt-app, oxlint-app

fix PXI capability hydration (#13788)
  app/src/agent/chat/__tests__/buildAgentChatRequestBody.test.ts
  app/src/agent/chat/buildAgentChatRequestBody.ts
  app/src/store/__tests__/agentStore.test.ts
  app/src/store/agentStore.ts
Due: oxfmt-app, oxlint-app

fix: materialize iterable inputs before has_json detection to preserve generators
  packages/phoenix-client/src/phoenix/client/resources/datasets/__init__.py
  packages/phoenix-client/tests/client/resources/datasets/test_datasets.py
Due: format-python, lint-python

fix: skip malformed header segments in parse_env_headers (#13775)
  packages/phoenix-otel/src/phoenix/otel/settings.py
  packages/phoenix-otel/tests/test_settings.py
Due: format-python, lint-python

Handle empty JSONL trace inputs
  src/phoenix/trace/utils.py
  tests/unit/trace/test_utils.py
Due: format-python, lint-python

Include host root path in client base URL
  packages/phoenix-client/src/phoenix/client/utils/config.py
  packages/phoenix-client/tests/client/utils/test_config.py
Due: format-python, lint-python

Validate document annotation ID column types
  packages/phoenix-client/src/phoenix/client/utils/annotation_helpers.py
  packages/phoenix-client/tests/client/utils/test_annotation_hepers.py
Due: format-python, lint-python

Preserve HTTP collector path prefixes
  packages/phoenix-otel/src/phoenix/otel/otel.py
  packages/phoenix-otel/tests/test_otel.py
Due: format-python, lint-python

Add timeout to evals benchmark downloads
  packages/phoenix-evals/src/phoenix/evals/utils.py
  packages/phoenix-evals/tests/phoenix/evals/test_utils.py
Due: format-python, lint-python

feat: EmptyStateGraphic component + variants
  app/src/components/core/icon/Icons.tsx
  app/src/components/empty-state/EmptyState.tsx
  app/src/components/empty-state/EmptyStateGraphic.tsx
  app/src/components/empty-state/index.ts
  app/stories/EmptyStateGraphic.stories.tsx
Due: oxfmt-app, oxlint-app

docs: phoenix-design rules for empty states + event icon
  .agents/skills/phoenix-design/SKILL.md
  .agents/skills/phoenix-design/rules/empty-states.md
  .agents/skills/phoenix-design/rules/icons.md
Due: none

feat: synced variant picker in EmptyStateGraphic stories
  app/stories/EmptyStateGraphic.stories.tsx
Due: oxfmt-app, oxlint-app

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
