Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

style: apply oxfmt formatting to cli-agent-starter-kit examples
  js/examples/apps/cli-agent-starter-kit/evals/README.md
  js/examples/apps/cli-agent-starter-kit/evals/benchmarks/terminal-format.benchmark.ts
  js/examples/apps/cli-agent-starter-kit/package.json
  js/examples/apps/cli-agent-starter-kit/vitest.config.ts
Due: oxfmt-js, oxlint-js

docs(eval): add ready-to-copy CI workflows to pytest and vitest guides
  docs/phoenix/evaluation/integrations/pytest.mdx
  docs/phoenix/evaluation/integrations/vitest-jest.mdx
Due: none

feat(pxi): show running token usage on the prompt status line
  js/packages/phoenix-cli/src/pxi/App.tsx
  js/packages/phoenix-cli/src/pxi/tokenUsage.ts
  js/packages/phoenix-cli/test/pxiApp.test.tsx
  js/packages/phoenix-cli/test/pxiTokenUsage.test.ts
Due: oxfmt-js, oxlint-js

docs(phoenix-client): correct create_evaluator 2-tuple scorer docs
  packages/phoenix-client/src/phoenix/client/resources/experiments/evaluators.py
Due: format-python, lint-python

refactor(examples): vitest suite uses Vercel AI SDK and phoenix-evals
  js/examples/apps/vitest-example/package.json
  js/examples/apps/vitest-example/support-bot.eval.ts
  js/pnpm-lock.yaml
Due: oxfmt-js, oxlint-js

fix(agents): mount Anthropic prompt cache through model wrapper
  src/phoenix/server/agents/agent_factory.py
  src/phoenix/server/agents/capabilities/__init__.py
  src/phoenix/server/agents/capabilities/anthropic_prompt_cache.py
  src/phoenix/server/agents/server_agents.py
  tests/unit/server/agents/test_agent_factory.py
Due: format-python, lint-python

refactor(agents): discriminate prompt cache on model.system
  src/phoenix/server/agents/capabilities/anthropic_prompt_cache.py
Due: format-python, lint-python

docs(agents): trim prompt-cache docstrings to comment standard
  src/phoenix/server/agents/capabilities/anthropic_prompt_cache.py
Due: format-python, lint-python

fix(playground): re-wrap unwrapped Bedrock tools at span import
  app/src/pages/playground/__tests__/playgroundUtils.test.ts
  app/src/pages/playground/playgroundUtils.ts
Due: oxfmt-app, oxlint-app

docs(examples): add getting-started-with-evals blog post
  examples/pytest-example/blog-getting-started-with-evals.md
Due: none

refactor(examples): pytest suite uses arize-phoenix-evals for the LLM judge
  examples/pytest-example/blog-getting-started-with-evals.md
  examples/pytest-example/requirements.txt
  examples/pytest-example/test_support_bot.py
Due: format-python, lint-python

docs(phoenix-client): correct create_evaluator 2-tuple scorer docs (#13939)
  packages/phoenix-client/src/phoenix/client/resources/experiments/evaluators.py
Due: format-python, lint-python

feat(pxi): add inference eval live runner
  evals/pxi/README.md
  src/phoenix/config.py
  src/phoenix/db/insertion/span.py
  src/phoenix/server/agents/inference_evals.py
  src/phoenix/server/api/routers/agents.py
  src/phoenix/server/app.py
  tests/unit/server/agents/test_inference_evals.py
Due: format-python, lint-python

fix(pxi): address inference eval review
  evals/pxi/README.md
  src/phoenix/server/agents/agent_factory.py
  src/phoenix/server/agents/inference_evals.py
  tests/unit/server/agents/test_inference_evals.py
Due: format-python, lint-python

docs(examples): drop Acme branding for a generic support-bot scenario
  examples/pytest-example/README.md
  examples/pytest-example/blog-getting-started-with-evals.md
  examples/pytest-example/test_support_bot.py
  js/examples/apps/vitest-example/package.json
  js/examples/apps/vitest-example/support-bot.eval.ts
Due: format-python, lint-python, oxfmt-js, oxlint-js

docs(examples): ground README and blog in the real evals-library code
  examples/pytest-example/README.md
  examples/pytest-example/blog-getting-started-with-evals.md
Due: none

docs(eval): move CI-workflow guide changes to a separate PR
  docs/phoenix/evaluation/integrations/pytest.mdx
  docs/phoenix/evaluation/integrations/vitest-jest.mdx
Due: none

docs(eval): trim CI workflow prose and fix vitest PHOENIX_HOST env var
  docs/phoenix/evaluation/integrations/pytest.mdx
  docs/phoenix/evaluation/integrations/vitest-jest.mdx
Due: none

docs(skill): add pytest/vitest/jest integration references to phoenix-evals skill
  .agents/skills/phoenix-evals/SKILL.md
  .agents/skills/phoenix-evals/references/integrations-pytest.md
  .agents/skills/phoenix-evals/references/integrations-vitest-jest.md
Due: none

docs: drop links to unmerged example dirs; keep skill refs self-contained
  .agents/skills/phoenix-evals/references/integrations-pytest.md
  .agents/skills/phoenix-evals/references/integrations-vitest-jest.md
  docs/phoenix/evaluation/integrations/pytest.mdx
  docs/phoenix/evaluation/integrations/vitest-jest.mdx
Due: none

docs(skill): drop repo-path 'Full reference' pointers from integration refs
  .agents/skills/phoenix-evals/references/integrations-pytest.md
  .agents/skills/phoenix-evals/references/integrations-vitest-jest.md
Due: none

docs(skill): add pytest/vitest/jest integration references to phoenix-evals (#13942)
  .agents/skills/phoenix-evals/SKILL.md
  .agents/skills/phoenix-evals/references/integrations-pytest.md
  .agents/skills/phoenix-evals/references/integrations-vitest-jest.md
Due: none

chore(main): release arize-phoenix 17.13.0
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

style(pxi): color token usage green and tighten prompt footer gap
  js/packages/phoenix-cli/src/pxi/App.tsx
Due: oxfmt-js, oxlint-js

feat(pxi): show running token usage on the prompt status line (#13938)
  js/packages/phoenix-cli/src/pxi/App.tsx
  js/packages/phoenix-cli/src/pxi/tokenUsage.ts
  js/packages/phoenix-cli/test/pxiApp.test.tsx
  js/packages/phoenix-cli/test/pxiTokenUsage.test.ts
Due: oxfmt-js, oxlint-js

chore: update sitemap.xml (#13926)
  docs/phoenix/sitemap.xml
  sitemap.xml
Due: none

chore(js): update versions (#13932)
  js/.changeset/curly-moons-send.md
  js/.changeset/phoenix-client-test-tracking-disable.md
  js/.changeset/pxi-slash-commands.md
  js/packages/phoenix-cli/CHANGELOG.md
  js/packages/phoenix-cli/package.json
  js/packages/phoenix-client/CHANGELOG.md
  js/packages/phoenix-client/package.json
  js/packages/phoenix-mcp/CHANGELOG.md
  js/packages/phoenix-mcp/package.json
Due: oxfmt-js

docs: update pydantic ai tracing examples (#13891)
  docs/phoenix/integrations/python/pydantic/pydantic-tracing.mdx
Due: none

fix(cli): suppress stray kitty-keyboard query echo on pxi startup
  js/packages/phoenix-cli/src/pxi/index.tsx
Due: oxfmt-js, oxlint-js

fix(cli): suppress stray kitty-keyboard query echo on pxi startup (#13944)
  js/packages/phoenix-cli/src/pxi/index.tsx
Due: oxfmt-js, oxlint-js

docs(phoenix-otel): document new span-kind wrappers and verify re-export
  docs/phoenix/sdk-api-reference/typescript/arizeai-openinference-core.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-otel/overview.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-otel/tracing-helpers.mdx
  js/packages/phoenix-otel/README.md
  js/packages/phoenix-otel/test/openinference.test.ts
Due: oxfmt-js, oxlint-js

feat(ui): add per-level annotation summary cards to project settings
  app/schema.graphql
  app/src/pages/project/ProjectAnnotationCountsCards.tsx
  app/src/pages/project/ProjectConfigPage.tsx
  app/src/pages/project/__generated__/ProjectAnnotationCountsCardsQuery.graphql.ts
  src/phoenix/server/api/types/AnnotationNameCount.py
  src/phoenix/server/api/types/Project.py
  tests/unit/server/api/types/test_Project.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix(ui): polish the delete-annotations dialog formatting
  app/src/pages/project/ProjectAnnotationCountsCards.tsx
Due: oxfmt-app, oxlint-app

fix(ui): default the delete time range to the last 7 days
  app/src/pages/project/ProjectAnnotationCountsCards.tsx
Due: oxfmt-app, oxlint-app

feat(ui): bulk-delete project annotations by name with optional time range
  app/schema.graphql
  app/src/contexts/NotificationContext/NotificationContext.tsx
  app/src/pages/project/ProjectAnnotationCountsCards.tsx
  app/src/pages/project/__generated__/ProjectAnnotationCountsCardsDeleteSessionAnnotationsMutation.graphql.ts
  app/src/pages/project/__generated__/ProjectAnnotationCountsCardsDeleteSpanAnnotationsMutation.graphql.ts
  app/src/pages/project/__generated__/ProjectAnnotationCountsCardsDeleteTraceAnnotationsMutation.graphql.ts
  src/phoenix/server/api/input_types/DeleteProjectAnnotationsInput.py
  src/phoenix/server/api/mutations/__init__.py
  src/phoenix/server/api/mutations/project_annotations_mutations.py
  tests/unit/server/api/mutations/test_project_annotation_mutations.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

feat(ui): merge data retention into the project settings card
  app/src/pages/project/ProjectConfigPage.tsx
  app/src/pages/project/ProjectRetentionPolicyCard.tsx
Due: oxfmt-app, oxlint-app

refactor: simplify project annotation mutations and settings cards
  app/src/contexts/ViewerContext.tsx
  app/src/pages/project/ProjectAnnotationCountsCards.tsx
  app/src/pages/project/ProjectConfigPage.tsx
  src/phoenix/server/api/mutations/project_annotations_mutations.py
  src/phoenix/server/api/types/Project.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix: harden project annotation bulk delete
  app/src/contexts/NotificationContext/NotificationContext.tsx
  app/src/pages/project/ProjectAnnotationCountsCards.tsx
  src/phoenix/server/api/mutations/project_annotations_mutations.py
  tests/unit/server/api/mutations/test_project_annotation_mutations.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

Update Google model versions in cost tracking doc
  docs/phoenix/tracing/how-to-tracing/cost-tracking.mdx
Due: none
