Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs(mcp-bench): illustrate native Harbor architecture
  evals/mcp/README.md
  evals/mcp/assets/architecture.png
  evals/mcp/assets/architecture.svg
Due: none

chore(ui): remove phoenix-devs mailto link from error boundary
  js/app/src/pages/ErrorElement.tsx
Due: oxfmt-js, oxlint-js

feat(ui): add evaluator gallery category icons
  .agents/skills/phoenix-design/references/icons.md
  js/app/src/components/core/icon/Icons.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
Due: oxfmt-js, oxlint-js

feat(ui): show trace annotations by default on the traces table
  js/app/src/pages/project/TracesTable.tsx
  js/app/src/store/tracingStore.tsx
Due: oxfmt-js, oxlint-js

refactor(annotations): move the rowid resolvers into the annotations helper
  src/phoenix/server/api/helpers/annotations.py
  src/phoenix/server/api/helpers/entity_rowids.py
  tests/unit/server/api/helpers/test_annotations.py
  tests/unit/server/api/helpers/test_entity_rowids.py
Due: format-python, lint-python

fix(ui): delete span notes through the note mutation
  js/app/src/components/trace/SpanAnnotationDeleteButton.tsx
  js/app/src/components/trace/__generated__/SpanAnnotationDeleteButtonMutation.graphql.ts
  js/app/src/components/trace/__generated__/SpanAnnotationDeleteButton_payload.graphql.ts
  js/app/src/pages/trace/SpanNotesTable.tsx
Due: oxfmt-js, oxlint-js

feat(mcp): admit note writes on the read-only agent surface
  src/phoenix/server/agents/prompts/static/tools/PHOENIX_MCP_TOOL_INSTRUCTIONS.xml
  src/phoenix/server/mcp_server.py
  tests/unit/server/agents/capabilities/test_phoenix_mcp.py
  tests/unit/server/test_app_mcp_mount.py
Due: format-python, lint-python

refactor(annotations): name note inputs by the entity they reference
  js/app/schema.graphql
  js/app/src/pages/trace/SpanNoteBar.tsx
  js/app/src/pages/trace/__generated__/SpanNoteBarAddNoteMutation.graphql.ts
  src/phoenix/server/api/input_types/NoteInputs.py
  src/phoenix/server/api/input_types/ReferenceInputs.py
  src/phoenix/server/api/mutations/project_session_annotations_mutations.py
  src/phoenix/server/api/mutations/span_annotations_mutations.py
  src/phoenix/server/api/mutations/trace_annotations_mutations.py
  tests/unit/server/api/helpers/test_entity_rowids.py
  tests/unit/server/api/mutations/test_project_session_annotation_mutations.py
  tests/unit/server/api/mutations/test_span_annotation_mutations.py
  tests/unit/server/api/mutations/test_trace_annotation_mutations.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(ui): name the traces table span annotations column for all spans
  js/app/src/pages/project/TracesTable.tsx
Due: oxfmt-js, oxlint-js

fix(graphql): regenerate the schema from this branch's types
  js/app/schema.graphql
Due: none

refactor(annotations): batch note upserts and address review feedback
  js/app/schema.graphql
  src/phoenix/server/api/helpers/annotations.py
  src/phoenix/server/api/helpers/entity_rowids.py
  src/phoenix/server/api/input_types/NoteInputs.py
  src/phoenix/server/api/mutations/annotation_config_mutations.py
  src/phoenix/server/api/mutations/project_session_annotations_mutations.py
  src/phoenix/server/api/mutations/span_annotations_mutations.py
  src/phoenix/server/api/mutations/trace_annotations_mutations.py
  tests/unit/server/api/helpers/test_entity_rowids.py
  tests/unit/server/api/mutations/test_project_session_annotation_mutations.py
  tests/unit/server/api/mutations/test_span_annotation_mutations.py
  tests/unit/server/api/mutations/test_trace_annotation_mutations.py
Due: format-python, lint-python

feat(annotations): add note mutations with flexible target identifiers
  js/app/schema.graphql
  js/app/src/pages/trace/SpanNoteBar.tsx
  js/app/src/pages/trace/__generated__/SpanNoteBarAddNoteMutation.graphql.ts
  src/phoenix/server/api/helpers/annotations.py
  src/phoenix/server/api/helpers/note_targets.py
  src/phoenix/server/api/input_types/CreateSpanAnnotationInput.py
  src/phoenix/server/api/input_types/NoteInputs.py
  src/phoenix/server/api/mutations/annotation_config_mutations.py
  src/phoenix/server/api/mutations/project_session_annotations_mutations.py
  src/phoenix/server/api/mutations/span_annotations_mutations.py
  src/phoenix/server/api/mutations/trace_annotations_mutations.py
  tests/unit/server/api/helpers/test_note_targets.py
  tests/unit/server/api/mutations/test_annotation_config_mutations.py
  tests/unit/server/api/mutations/test_project_session_annotation_mutations.py
  tests/unit/server/api/mutations/test_span_annotation_mutations.py
  tests/unit/server/api/mutations/test_trace_annotation_mutations.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

refactor(mcp): let the read-only test name the note write exception
  src/phoenix/server/mcp_server.py
  tests/unit/server/agents/capabilities/test_phoenix_mcp.py
  tests/unit/server/test_app_mcp_mount.py
Due: format-python, lint-python

refactor(ui): drop the comment from the span annotation delete refetch query
  js/app/src/components/trace/SpanAnnotationDeleteButton.tsx
Due: oxfmt-js, oxlint-js

fix(tests): narrow the tool annotations before reading the read-only hint
  tests/unit/server/agents/capabilities/test_phoenix_mcp.py
Due: format-python, lint-python

feat(mcp): serve the shared skills root on the /mcp mount
  src/phoenix/server/mcp/skills/__init__.py
  src/phoenix/server/mcp/skills/general/project-overview/SKILL.md
  src/phoenix/server/mcp_server.py
  tests/unit/server/mcp/test_skills.py
  tests/unit/server/test_app_mcp_mount.py
Due: format-python, lint-python

fix(ui): keep the span annotation delete mutation to one Relay definition
  js/app/src/components/trace/SpanAnnotationDeleteButton.tsx
  js/app/src/components/trace/__generated__/SpanAnnotationDeleteButtonMutation.graphql.ts
  js/app/src/components/trace/__generated__/SpanAnnotationDeleteButton_payload.graphql.ts
Due: oxfmt-js, oxlint-js

fix(mcp): keep the read-only surface to note creation
  src/phoenix/server/agents/prompts/static/tools/PHOENIX_MCP_TOOL_INSTRUCTIONS.xml
  src/phoenix/server/mcp_server.py
  tests/unit/server/agents/capabilities/test_phoenix_mcp.py
  tests/unit/server/test_app_mcp_mount.py
Due: format-python, lint-python

feat(annotations): require explicit source for notes and sessions
  js/app/schema.graphql
  js/app/src/components/trace/__generated__/SessionAnnotationsEditorCreateAnnotationMutation.graphql.ts
  js/app/src/pages/trace/SpanNoteBar.tsx
  js/app/src/pages/trace/__generated__/SpanNoteBarAddNoteMutation.graphql.ts
  src/phoenix/server/api/input_types/CreateProjectSessionAnnotationInput.py
  src/phoenix/server/api/input_types/NoteInputs.py
  src/phoenix/server/api/input_types/UpdateAnnotationInput.py
  src/phoenix/server/api/mutations/project_session_annotations_mutations.py
  src/phoenix/server/api/mutations/span_annotations_mutations.py
  src/phoenix/server/api/mutations/trace_annotations_mutations.py
  tests/unit/server/api/helpers/test_entity_rowids.py
  tests/unit/server/api/mutations/test_project_session_annotation_mutations.py
  tests/unit/server/api/mutations/test_span_annotation_mutations.py
  tests/unit/server/api/mutations/test_trace_annotation_mutations.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

feat(annotations): require explicit annotator kind for notes and sessions
  js/app/schema.graphql
  js/app/src/components/trace/__generated__/SessionAnnotationsEditorCreateAnnotationMutation.graphql.ts
  js/app/src/pages/trace/SpanNoteBar.tsx
  js/app/src/pages/trace/__generated__/SpanNoteBarAddNoteMutation.graphql.ts
  src/phoenix/server/api/input_types/CreateProjectSessionAnnotationInput.py
  src/phoenix/server/api/input_types/NoteInputs.py
  src/phoenix/server/api/input_types/UpdateAnnotationInput.py
  src/phoenix/server/api/mutations/project_session_annotations_mutations.py
  src/phoenix/server/api/mutations/span_annotations_mutations.py
  src/phoenix/server/api/mutations/trace_annotations_mutations.py
  tests/unit/server/api/helpers/test_entity_rowids.py
  tests/unit/server/api/mutations/test_project_session_annotation_mutations.py
  tests/unit/server/api/mutations/test_span_annotation_mutations.py
  tests/unit/server/api/mutations/test_trace_annotation_mutations.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(annotations): use explicit one-of note target identifiers
  js/app/schema.graphql
  js/app/src/pages/trace/SpanNoteBar.tsx
  js/app/src/pages/trace/__generated__/SpanNoteBarAddNoteMutation.graphql.ts
  src/phoenix/server/api/helpers/entity_rowids.py
  src/phoenix/server/api/input_types/EntityIdentifierInput.py
  src/phoenix/server/api/input_types/NoteInputs.py
  src/phoenix/server/api/mutations/project_session_annotations_mutations.py
  src/phoenix/server/api/mutations/span_annotations_mutations.py
  src/phoenix/server/api/mutations/trace_annotations_mutations.py
  tests/unit/server/api/helpers/test_entity_rowids.py
  tests/unit/server/api/mutations/test_project_session_annotation_mutations.py
  tests/unit/server/api/mutations/test_span_annotation_mutations.py
  tests/unit/server/api/mutations/test_trace_annotation_mutations.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(ui): show pointer cursor on list box items
  js/app/src/components/core/listbox/ListBox.tsx
  js/app/src/components/core/listbox/__tests__/ListBox.test.tsx
Due: oxfmt-js, oxlint-js

feat(evaluator-playground): save updates a loaded evaluator; save dialog with Save as new
  docs/phoenix/prompt-engineering/how-to-prompts/using-the-playground.mdx
  js/app/src/agent/uiOperations/operations/evaluatorPlayground.ts
  js/app/src/pages/playground/evaluators/EvaluatorSlot.tsx
  js/app/src/pages/playground/evaluators/EvaluatorSlotEditor.tsx
  js/app/src/pages/playground/evaluators/SaveEvaluatorSlotDialog.tsx
  js/app/src/pages/playground/evaluators/__generated__/EvaluatorSlot_datasetEvaluator.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/EvaluatorSlot_source.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/useEvaluatorSlotSaveAttachCodeMutation.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/useEvaluatorSlotSaveCodeVersionMutation.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/useEvaluatorSlotSaveCreateCodeMutation.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/useEvaluatorSlotSaveCreateLLMMutation.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/useEvaluatorSlotSaveNamesQuery.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/useEvaluatorSlotSavePatchCodeMutation.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/useEvaluatorSlotSaveUpdateCodeMutation.graphql.ts
  js/app/src/pages/playground/evaluators/__generated__/useEvaluatorSlotSaveUpdateLLMMutation.graphql.ts
  js/app/src/pages/playground/evaluators/__tests__/evaluatorAgentSlot.test.ts
  js/app/src/pages/playground/evaluators/__tests__/evaluatorCopyName.test.ts
  js/app/src/pages/playground/evaluators/__tests__/evaluatorSaveTarget.test.ts
  js/app/src/pages/playground/evaluators/evaluatorAgentSlot.ts
  js/app/src/pages/playground/evaluators/evaluatorCopyName.ts
  js/app/src/pages/playground/evaluators/evaluatorSaveTarget.ts
  js/app/src/pages/playground/evaluators/useEvaluatorSlotSave.ts
  src/phoenix/server/agents/prompts/skills/playground/SKILL.md
Due: oxfmt-js, oxlint-js

specified new sql mcp tools in the access step of the prompt in rca workflow
  .github/workflows/claude-rca.yml
Due: none

fix(evaluator-playground): call the calibration label resolver's logic directly in the test
  src/phoenix/server/api/types/DatasetExampleRevision.py
  tests/unit/server/api/mutations/test_evaluator_calibration.py
Due: format-python, lint-python

feat(mcp): serve the shared skills root on the /mcp mount (#15726)
  src/phoenix/server/mcp/skills/__init__.py
  src/phoenix/server/mcp/skills/general/project-overview/SKILL.md
  src/phoenix/server/mcp_server.py
  tests/unit/server/mcp/test_skills.py
  tests/unit/server/test_app_mcp_mount.py
Due: format-python, lint-python

feat(annotations): add GraphQL mutations for span, trace, and session notes (#16053)
  js/app/schema.graphql
  js/app/src/components/trace/SpanAnnotationDeleteButton.tsx
  js/app/src/components/trace/__generated__/SessionAnnotationsEditorCreateAnnotationMutation.graphql.ts
  js/app/src/components/trace/__generated__/SpanAnnotationDeleteButtonMutation.graphql.ts
  js/app/src/pages/trace/SpanNoteBar.tsx
  js/app/src/pages/trace/SpanNotesTable.tsx
  js/app/src/pages/trace/__generated__/SpanNoteBarAddNoteMutation.graphql.ts
  src/phoenix/server/api/helpers/annotations.py
  src/phoenix/server/api/input_types/CreateProjectSessionAnnotationInput.py
  src/phoenix/server/api/input_types/CreateSpanAnnotationInput.py
  src/phoenix/server/api/input_types/NoteInputs.py
  src/phoenix/server/api/input_types/ReferenceInputs.py
  src/phoenix/server/api/input_types/UpdateAnnotationInput.py
  src/phoenix/server/api/mutations/annotation_config_mutations.py
  src/phoenix/server/api/mutations/project_session_annotations_mutations.py
  src/phoenix/server/api/mutations/span_annotations_mutations.py
  src/phoenix/server/api/mutations/trace_annotations_mutations.py
  tests/unit/server/api/helpers/test_annotations.py
  tests/unit/server/api/mutations/test_annotation_config_mutations.py
  tests/unit/server/api/mutations/test_project_session_annotation_mutations.py
  tests/unit/server/api/mutations/test_span_annotation_mutations.py
  tests/unit/server/api/mutations/test_trace_annotation_mutations.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
