Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: clean-notebooks, format-notebooks

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/psf/black
      rev: 23.3.0
      hooks:
          - id: black
            exclude: _pb2\.pyi?$
    - repo: https://github.com/charliermarsh/ruff-pre-commit
      rev: "v0.0.254"
      hooks:
          - id: ruff
            args: [--fix]
    - repo: local
      hooks:
          - id: clean-notebooks
            name: clean-notebooks
            files: \.ipynb$
            stages: [commit]
            language: system
            entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --ClearMetadataPreprocessor.enabled=True --inplace
    - repo: local
      hooks:
          - id: format-notebooks
            name: format-notebooks
            files: \.ipynb$
            exclude: \.*internal.*$
            stages: [commit]
            language: system
            entry: nbqa ruff --fix
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: "6f3cb139ef36133b6f903b97facc57b07cef57c9"
      hooks:
          - id: prettier
            files: \.(jsx?|tsx?|css|.md)$
            exclude: \.*__generated__.*$
            additional_dependencies:
                - prettier@2.8.7
    - repo: https://github.com/pre-commit/mirrors-eslint
      rev: "8ddcbd412c0b348841f0f82c837702f432539652"
      hooks:
          - id: eslint
            additional_dependencies:
                - eslint@8.31.0
                - eslint-plugin-react@7.31.11
                - eslint-plugin-react-hooks@4.6.0
                - eslint-plugin-simple-import-sort@10.0.0

docs: flesh out langchain notebook
  tutorials/tracing/langchain_callback_example.ipynb
  tutorials/tracing/llama_index_tracing_tutorial.ipynb
Due: clean-notebooks, format-notebooks

docs: bump notebooks for tracing (#1320)
  src/phoenix/__init__.py
  tutorials/tracing/langchain_callback_example.ipynb
  tutorials/tracing/llama_index_tracing_tutorial.ipynb
Due: clean-notebooks, format-notebooks

bump version
  pyproject.toml
Due: none

add tool parameters
  integration-tests/experimental/callbacks/test_llama_index_callback_handler.py
  src/phoenix/experimental/callbacks/langchain_tracer.py
  src/phoenix/experimental/callbacks/llama_index_trace_callback_handler.py
  src/phoenix/trace/semantic_conventions.py
  tests/server/api/types/test_span.py
Due: none

docs: fine-tuning notebook
  tutorials/evals/evaluate_relevance_fine_tuned_gpt_35_turbo.ipynb
Due: clean-notebooks, format-notebooks

bump version (#1321)
  pyproject.toml
Due: none

clean up
  src/phoenix/experimental/callbacks/langchain_tracer.py
Due: none

feat: add tool parameters for llama-index (#1322)
  integration-tests/experimental/callbacks/test_llama_index_callback_handler.py
  src/phoenix/experimental/callbacks/langchain_tracer.py
  src/phoenix/experimental/callbacks/llama_index_trace_callback_handler.py
  src/phoenix/trace/semantic_conventions.py
  tests/server/api/types/test_span.py
Due: none

Add Q&A and Summarization prompt templates
  src/phoenix/experimental/evals/templates/default_templates.py
Due: none

add rails
  src/phoenix/experimental/evals/__init__.py
  src/phoenix/experimental/evals/templates/__init__.py
  src/phoenix/experimental/evals/templates/default_templates.py
  tutorials/evals/evaluate_hallucination_classifications.ipynb
  tutorials/evals/evaluate_relevance_classifications.ipynb
Due: clean-notebooks, format-notebooks

add rails (#1332)
  src/phoenix/experimental/evals/__init__.py
  src/phoenix/experimental/evals/templates/__init__.py
  src/phoenix/experimental/evals/templates/default_templates.py
  tutorials/evals/evaluate_hallucination_classifications.ipynb
  tutorials/evals/evaluate_relevance_classifications.ipynb
Due: clean-notebooks, format-notebooks

chore: improve logging for llm_eval_binary
  src/phoenix/experimental/evals/functions/binary.py
  src/phoenix/experimental/evals/models/base.py
  tutorials/internal/logging.ipynb
Due: clean-notebooks

add invocation params
  integration-tests/experimental/callbacks/test_llama_index_callback_handler.py
  src/phoenix/experimental/callbacks/llama_index_trace_callback_handler.py
Due: none

cleanup
  src/phoenix/experimental/evals/functions/binary.py
  tutorials/internal/logging.ipynb
Due: clean-notebooks

fix(tracing): map message to input
  src/phoenix/experimental/callbacks/llama_index_trace_callback_handler.py
Due: none

fix(evals): name the logger
  src/phoenix/experimental/evals/functions/generate.py
Due: none

fix(evals): name the logger (#1336)
  src/phoenix/experimental/evals/functions/generate.py
Due: none

chore: improve logging for llm_eval_binary (#1333)
  src/phoenix/experimental/evals/functions/binary.py
  src/phoenix/experimental/evals/models/base.py
  tutorials/internal/logging.ipynb
Due: clean-notebooks

fix(tracing): map message to input (#1335)
  src/phoenix/experimental/callbacks/llama_index_trace_callback_handler.py
Due: none

clean up
  integration-tests/experimental/callbacks/test_llama_index_callback_handler.py
  src/phoenix/experimental/callbacks/llama_index_trace_callback_handler.py
Due: none

chore: rename notebooks
  tutorials/tracing/langchain_google_palm_tracing_tutorial.ipynb
  tutorials/tracing/langchain_tracing_tutorial.ipynb
Due: clean-notebooks, format-notebooks

feat: add LLM invocation parameters for llama-index (#1334)
  integration-tests/experimental/callbacks/test_llama_index_callback_handler.py
  src/phoenix/experimental/callbacks/llama_index_trace_callback_handler.py
Due: none

Update default_templates.py
  src/phoenix/experimental/evals/templates/default_templates.py
Due: none

chore: rename notebooks (#1337)
  tutorials/tracing/langchain_google_palm_tracing_tutorial.ipynb
  tutorials/tracing/langchain_tracing_tutorial.ipynb
Due: clean-notebooks, format-notebooks

docs: add tracing tutorial links
  docs/tutorials/notebooks.md
Due: none

docs: correct link
  docs/tutorials/notebooks.md
Due: none

remove trailing whitespace
  src/phoenix/experimental/evals/templates/default_templates.py
Due: none

feat(tracing): UI for documents
  app/src/openInference/tracing/semanticConventions.ts
  app/src/openInference/tracing/types.ts
  app/src/pages/trace/TracePage.tsx
Due: none

docs: Typo in Traces (GITBOOK-240)
  docs/concepts/langchain-and-llamaindex-traces.md
Due: none

add faker
  scripts/data/generate_traces.py
Due: none

add faker to dev gen script (#1342)
  scripts/data/generate_traces.py
Due: none

feat(tracing): UI for documents (#1339)
  app/src/openInference/tracing/semanticConventions.ts
  app/src/openInference/tracing/types.ts
  app/src/pages/trace/TracePage.tsx
Due: none

get port from env
  src/phoenix/session/session.py
Due: none

get port number from environment variable (#1343)
  src/phoenix/session/session.py
Due: none

feat: semantic convention for llm.prompt
  integration-tests/experimental/callbacks/test_llama_index_callback_handler.py
  src/phoenix/experimental/callbacks/llama_index_trace_callback_handler.py
  src/phoenix/trace/semantic_conventions.py
Due: none

add env var for host and port
  src/phoenix/config.py
  src/phoenix/session/session.py
  src/phoenix/trace/exporter.py
Due: none

clean up
  pyproject.toml
Due: none

clean up
  src/phoenix/server/main.py
  src/phoenix/session/session.py
Due: none
