Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

feat(online-eval): session eval queue (#14460)
  js/app/tests/server-evaluators.spec.ts
  src/phoenix/db/bulk_inserter.py
  src/phoenix/db/insertion/project_session.py
  src/phoenix/db/insertion/span.py
  src/phoenix/db/migrations/versions/a7f1c3e9d2b4_add_online_eval_coordination.py
  src/phoenix/db/models.py
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/routers/agents.py
  src/phoenix/server/online_eval/producer.py
  src/phoenix/tracers.py
  tests/integration/db_migrations/test_db_schema_a7f1c3e9d2b4_online_eval_coordination.py
  tests/unit/db/test_bulk_inserter.py
  tests/unit/db/test_eval_work_coordination.py
  tests/unit/server/agents/test_agents_router.py
  tests/unit/server/api/test_evaluators.py
  tests/unit/server/online_eval/test_consumer.py
  tests/unit/server/online_eval/test_producer.py
  tests/unit/test_tracers.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

feat(evaluators): bind existing code evaluators to projects (#14593)
  js/app/schema.graphql
  src/phoenix/server/api/mutations/evaluator_mutations.py
  tests/unit/server/api/mutations/test_project_evaluator_mutations.py
Due: format-python, lint-python

feat(online-eval): consumer throughput env knobs, TTL-vs-drain warning, expired-work gauge
  src/phoenix/config.py
  src/phoenix/server/app.py
  src/phoenix/server/online_eval/consumer.py
  src/phoenix/server/online_eval/coordinator.py
  src/phoenix/server/online_eval/db_coordinator.py
  src/phoenix/server/prometheus.py
  tests/unit/server/online_eval/test_db_coordinator.py
  tests/unit/test_config.py
Due: format-python, lint-python

refactor(online-eval): align span evaluation context vocabulary (#14556)
  js/app/schema.graphql
  src/phoenix/server/online_eval/executor.py
  tests/unit/server/online_eval/test_consumer.py
  tests/unit/server/online_eval/test_derivation.py
Due: format-python, lint-python

fix(db): re-parent online-eval coordination migration onto c9d0e1f2a3b4
  src/phoenix/db/migrations/versions/a7f1c3e9d2b4_add_online_eval_coordination.py
Due: format-python, lint-python

feat(online-eval): consumer + env-var config (stacked on producer-only) (#14100)
  src/phoenix/config.py
  src/phoenix/server/app.py
  src/phoenix/server/online_eval/consumer.py
  src/phoenix/server/online_eval/coordinator.py
  src/phoenix/server/online_eval/db_coordinator.py
  src/phoenix/server/online_eval/executor.py
  src/phoenix/server/online_eval/producer.py
  src/phoenix/server/prometheus.py
  tests/unit/server/online_eval/test_app_wiring.py
  tests/unit/server/online_eval/test_consumer.py
  tests/unit/server/online_eval/test_db_coordinator.py
  tests/unit/server/online_eval/test_producer.py
  tests/unit/test_config.py
Due: format-python, lint-python

feat(evals): add Evaluators tab to the project page (#14081)
  js/app/src/Routes.tsx
  js/app/src/components/evaluators/EditBuiltInEvaluatorDialogContent.tsx
  js/app/src/components/evaluators/EditLLMEvaluatorDialogContent.tsx
  js/app/src/components/evaluators/EvaluatorDatasetTestPanel.tsx
  js/app/src/components/evaluators/EvaluatorForm.tsx
  js/app/src/components/evaluators/EvaluatorNameAndDescriptionFields.tsx
  js/app/src/pages/project/ProjectPage.tsx
  js/app/src/pages/project/evaluators/AddProjectEvaluatorMenu.tsx
  js/app/src/pages/project/evaluators/CreateLLMProjectEvaluatorSlideover.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorTargetField.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorTestPlaceholder.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsPage.tsx
  js/app/src/pages/project/evaluators/createProjectLlmEvaluator.ts
  js/app/src/pages/project/evaluators/projectEvaluatorTypes.ts
  js/app/src/pages/project/index.tsx
Due: oxfmt-js, oxlint-js

fix(db): linearize migration chain — re-parent online-eval coordination onto eaf1907ae453
  src/phoenix/db/migrations/versions/a7f1c3e9d2b4_add_online_eval_coordination.py
Due: format-python, lint-python

feat(evals): GraphQL CRUD for project evaluators (#14375)
  js/app/schema.graphql
  src/phoenix/db/ddl/postgresql_schema.sql
  src/phoenix/db/migrations/versions/a7f1c3e9d2b4_add_online_eval_coordination.py
  src/phoenix/db/models.py
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/project_evaluator_criteria_by_id.py
  src/phoenix/server/api/helpers/evaluators.py
  src/phoenix/server/api/mutations/evaluator_mutations.py
  src/phoenix/server/api/types/Evaluator.py
  src/phoenix/server/api/types/Project.py
  src/phoenix/server/online_eval/derivation.py
  src/phoenix/server/online_eval/producer.py
  src/phoenix/trace/dsl/filter.py
  tests/integration/db_migrations/test_db_schema_a7f1c3e9d2b4_online_eval_coordination.py
  tests/unit/db/test_eval_work_coordination.py
  tests/unit/server/api/mutations/test_evaluator_mutations.py
  tests/unit/server/api/mutations/test_project_evaluator_mutations.py
  tests/unit/server/online_eval/test_derivation.py
  tests/unit/server/online_eval/test_producer.py
Due: format-python, lint-python

feat(online-evals): route-driven project evaluator slideovers with real titles (#15302)
  js/app/src/Routes.tsx
  js/app/src/pages/project/ProjectPage.tsx
  js/app/src/pages/project/evaluators/AddProjectEvaluatorMenu.tsx
  js/app/src/pages/project/evaluators/CreateProjectCodeEvaluatorDialogContent.tsx
  js/app/src/pages/project/evaluators/CreateProjectEvaluatorSlideover.tsx
  js/app/src/pages/project/evaluators/EditProjectEvaluatorSlideover.tsx
  js/app/src/pages/project/evaluators/ProjectCodeEvaluatorDialogContent.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorActionMenu.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorSlideover.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorSlideoverError.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorSlideoverRoutes.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsEmptyGallery.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsTable.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsToolbar.tsx
  js/app/src/pages/project/evaluators/projectEvaluatorOptions.ts
  js/app/src/pages/project/evaluators/projectEvaluatorPaths.ts
  js/app/src/pages/project/evaluators/projectEvaluatorsLoader.ts
  js/app/src/pages/project/index.tsx
  js/app/tests/projects.spec.ts
Due: oxfmt-js, oxlint-js

feat(online-evals): remove online eval flags (#15537)
  docs/phoenix/self-hosting/configuration.mdx
  src/phoenix/config.py
  src/phoenix/server/api/types/Evaluator.py
  src/phoenix/server/app.py
  tests/unit/server/online_eval/test_app_wiring.py
Due: format-python, lint-python

fix(db): re-parent online-eval coordination migration onto 4aad9107d196
  js/app/src/pages/project/ProjectPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopePanel.tsx
  js/app/src/pages/project/evaluators/__generated__/CreateProjectCodeEvaluatorDialogContentQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/EditProjectEvaluatorSlideoverQuery.graphql.ts
  src/phoenix/db/migrations/versions/a7f1c3e9d2b4_add_online_eval_coordination.py
  src/phoenix/server/api/mutations/evaluator_mutations.py
  tests/integration/db_migrations/test_db_schema_a7f1c3e9d2b4_online_eval_coordination.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(online-evals): preserve evaluator fields on update, guard clearProject session deletes, close LLM provider identity gap (#15238)
  js/app/schema.graphql
  src/phoenix/db/ddl/postgresql_schema.sql
  src/phoenix/db/migrations/versions/a7f1c3e9d2b4_add_online_eval_coordination.py
  src/phoenix/db/models.py
  src/phoenix/server/api/mutations/evaluator_mutations.py
  src/phoenix/server/online_eval/producer.py
  tests/integration/db_migrations/test_db_schema_a7f1c3e9d2b4_online_eval_coordination.py
  tests/unit/server/api/mutations/test_evaluator_mutations.py
  tests/unit/server/api/mutations/test_project_evaluator_mutations.py
  tests/unit/server/online_eval/test_producer.py
Due: format-python, lint-python

chore(online-evals): trim PR comments to hygiene bar
  js/app/src/pages/project/evaluators/ProjectEvaluatorTraces.tsx
  src/phoenix/db/helpers.py
  src/phoenix/server/api/builtin_evaluator_sync.py
  src/phoenix/server/api/helpers/playground_clients.py
  src/phoenix/server/api/mutations/evaluator_mutations.py
  src/phoenix/server/online_eval/db_coordinator.py
  src/phoenix/server/online_eval/project_evaluator_resolution.py
  src/phoenix/server/online_eval/session_policy.py
  src/phoenix/server/online_eval/tracing.py
  tests/unit/server/agents/test_model_factory.py
  tests/unit/server/api/types/test_Evaluator.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

feat(online-evals): show evaluator config columns in the project evaluators table
  js/app/src/pages/project/evaluators/ProjectEvaluatorsTable.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsPageQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTablePaginationQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_project.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_row.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/refetchProjectEvaluatorsQuery.graphql.ts
Due: oxfmt-js, oxlint-js

feat(online-evals): metrics stats strip on the evaluator overview (#15643)
  js/app/src/Routes.tsx
  js/app/src/components/chart/ChartPanelStrip.tsx
  js/app/src/pages/experiments/ExperimentsMetricsCharts.tsx
  js/app/src/pages/project/TableMetricsCharts.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorDetailsPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorMetrics.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorStats.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorStatsCard.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorStatusCell.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorStatsCard_projectEvaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorStats_projectEvaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorDetailsLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/projectEvaluatorDetailsLoader.ts
  js/app/src/pages/project/evaluators/projectEvaluatorMetricPanels.tsx
  js/app/src/pages/project/evaluators/projectEvaluatorTypes.ts
  js/app/tests/auth.setup.ts
  js/app/tests/member-access.spec.ts
  js/app/tests/metrics.spec.ts
  js/app/tests/projects.spec.ts
  js/app/tests/pxi/playground-prompt-smoke.spec.ts
  js/app/tests/viewer-access.spec.ts
Due: oxfmt-js, oxlint-js

feat(online-evals): move Add evaluator into a project evaluators search header (#15300)
  js/app/schema.graphql
  js/app/src/pages/project/ProjectPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsTable.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsToolbar.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsPageQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTablePaginationQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorsTable_project.graphql.ts
  src/phoenix/server/api/input_types/ProjectEvaluatorFilter.py
  src/phoenix/server/api/types/Project.py
  tests/unit/server/api/mutations/test_project_evaluator_mutations.py
  tests/unit/server/online_eval/test_consumer.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

feat(online-evals): reorganize the evaluator overview into stats and cards (#15593)
  js/app/src/components/evaluators/EvaluatorDetailsSection.tsx
  js/app/src/components/evaluators/OutputConfigBlock.tsx
  js/app/src/hooks/useTimeFormatters.ts
  js/app/src/pages/dataset/evaluators/CodeDatasetEvaluatorDetails.tsx
  js/app/src/pages/dataset/evaluators/__generated__/CodeDatasetEvaluatorDetails_datasetEvaluator.graphql.ts
  js/app/src/pages/evaluators/PromptCell.tsx
  js/app/src/pages/project/evaluators/AnnotationConfigurationCard.tsx
  js/app/src/pages/project/evaluators/CodeProjectEvaluatorDetails.tsx
  js/app/src/pages/project/evaluators/LLMProjectEvaluatorDetails.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorDetailsPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorRunDetails.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopeDetails.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorStatsCard.tsx
  js/app/src/pages/project/evaluators/__generated__/AnnotationConfigurationCard_projectEvaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/CodeProjectEvaluatorDetails_projectEvaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/LLMProjectEvaluatorDetails_projectEvaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorStatsCard_projectEvaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorDetailsLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/projectEvaluatorDetailsLoader.ts
  js/app/src/pages/project/evaluators/projectEvaluatorTypes.ts
  js/app/src/utils/timeFormatUtils.ts
Due: oxfmt-js, oxlint-js

fix(ui): ensure users table refetch sees a newly created user
  js/app/src/pages/settings/UsersCard.tsx
Due: oxfmt-js, oxlint-js

chore: regenerate relay artifacts after rebase
  js/app/src/pages/project/__generated__/SpansTable_spans.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorTracesQuery.graphql.ts
Due: oxfmt-js, oxlint-js

fix(online-evals): port project evaluator slideover to ViewportModal
  js/app/src/pages/project/evaluators/DiscardEvaluatorChangesDialog.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorSlideover.tsx
Due: oxfmt-js, oxlint-js

feat(online-eval): execute session evaluations (#14501)
  docs/phoenix/self-hosting/configuration.mdx
  src/phoenix/config.py
  src/phoenix/db/ddl/postgresql_schema.sql
  src/phoenix/db/ddl/sqlite_schema.sql
  src/phoenix/db/migrations/versions/a7f1c3e9d2b4_add_online_eval_coordination.py
  src/phoenix/db/models.py
  src/phoenix/server/api/evaluators.py
  src/phoenix/server/api/mutations/trace_mutations.py
  src/phoenix/server/api/types/Evaluator.py
  src/phoenix/server/app.py
  src/phoenix/server/online_eval/consumer.py
  src/phoenix/server/online_eval/coordinator.py
  src/phoenix/server/online_eval/criteria_resolution.py
  src/phoenix/server/online_eval/db_coordinator.py
  src/phoenix/server/online_eval/derivation.py
  src/phoenix/server/online_eval/executor.py
  src/phoenix/server/online_eval/failure_policy.py
  src/phoenix/server/online_eval/producer.py
  src/phoenix/server/online_eval/session_policy.py
  src/phoenix/server/online_eval/session_sweeper.py
  src/phoenix/server/prometheus.py
  src/phoenix/server/sandbox/daytona_backend.py
  src/phoenix/server/sandbox/e2b_backend.py
  src/phoenix/server/sandbox/modal_backend.py
  src/phoenix/server/sandbox/session_manager.py
  src/phoenix/server/sandbox/types.py
  src/phoenix/server/sandbox/vercel_backend.py
  tests/integration/db_migrations/test_db_schema_a7f1c3e9d2b4_online_eval_coordination.py
  tests/unit/server/api/mutations/test_trace_transfer_mutations.py
  tests/unit/server/api/test_code_evaluator_runner.py
  tests/unit/server/api/test_evaluators_timeout.py
  tests/unit/server/online_eval/test_app_wiring.py
  tests/unit/server/online_eval/test_consumer.py
  tests/unit/server/online_eval/test_db_coordinator.py
  tests/unit/server/online_eval/test_derivation.py
  tests/unit/server/online_eval/test_producer.py
  tests/unit/server/online_eval/test_session_sweeper.py
  tests/unit/server/sandbox/test_session_manager.py
  tests/unit/test_config.py
Due: format-python, lint-python

feat(online-evals): simple empty state for the project evaluators tab, evaluator count in the tab (#15312)
  js/app/schema.graphql
  js/app/src/pages/project/ProjectPage.tsx
  js/app/src/pages/project/__generated__/ProjectPageQuery.graphql.ts
  js/app/src/pages/project/evaluators/ProjectEvaluatorsEmptyGallery.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsEmptyState.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsTable.tsx
  js/app/src/pages/project/evaluators/__generated__/refetchProjectEvaluatorsQuery.graphql.ts
  js/app/src/pages/project/evaluators/refetchProjectEvaluators.ts
  js/app/tests/projects.spec.ts
  src/phoenix/server/api/types/Project.py
  tests/unit/server/api/mutations/test_project_evaluator_mutations.py
  tests/unit/server/online_eval/test_producer.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

chore(lint): suppress react/refs on intentional render-time ref sync
  js/app/src/pages/project/SpanFilterConditionField.tsx
Due: oxfmt-js, oxlint-js

feat(online-evals): use segmented control for evaluator target selector (#15416)
  js/app/src/pages/project/evaluators/ProjectEvaluatorTargetField.tsx
Due: oxfmt-js, oxlint-js

Thread sandbox runtime into online eval execution
  src/phoenix/server/app.py
  src/phoenix/server/online_eval/consumer.py
  src/phoenix/server/online_eval/executor.py
  tests/unit/server/online_eval/test_consumer.py
Due: format-python, lint-python

feat: add project evaluator template gallery (#15525)
  .agents/skills/phoenix-frontend/references/components.md
  js/app/src/Routes.tsx
  js/app/src/components/core/empty/EmptyState.tsx
  js/app/src/components/nav/NavBreadcrumb.tsx
  js/app/src/hooks/useMatchesWithCrumb.ts
  js/app/src/pages/project/evaluators/AddProjectEvaluatorMenu.tsx
  js/app/src/pages/project/evaluators/CreateProjectEvaluatorSlideover.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorSlideoverRoutes.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsEmptyState.tsx
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorTemplatesQuery.graphql.ts
  js/app/src/pages/project/evaluators/projectEvaluatorPaths.ts
  js/app/src/pages/project/evaluators/projectEvaluatorTemplates.ts
  js/app/src/pages/project/index.tsx
Due: oxfmt-js, oxlint-js

fix(online-evals): keep union arms' bind parameters distinct in the session sweeper
  src/phoenix/server/online_eval/session_sweeper.py
  tests/unit/server/online_eval/test_session_sweeper.py
Due: format-python, lint-python

fix(online-evals): repair merge fallout from renamed sandbox APIs
  src/phoenix/server/api/mutations/evaluator_mutations.py
  tests/unit/server/api/mutations/test_evaluator_preview_mutation.py
Due: format-python, lint-python

feat(online-evals): show projects in the evaluators table used-in column (#15341)
  js/app/schema.graphql
  js/app/src/components/project/ProjectToken.tsx
  js/app/src/pages/evaluators/EvaluatorsTable.tsx
  js/app/src/pages/evaluators/__generated__/GlobalEvaluatorsTableEvaluatorsQuery.graphql.ts
  js/app/src/pages/evaluators/__generated__/GlobalEvaluatorsTable_evaluators.graphql.ts
  js/app/src/pages/evaluators/__generated__/evaluatorsPageLoaderQuery.graphql.ts
  js/app/src/pages/settings/RetentionPoliciesTable.tsx
  js/app/src/pages/settings/RetentionPolicyProjects.tsx
  js/app/stories/domains/app-shell/ProjectToken.stories.tsx
  src/phoenix/server/api/dataloaders/__init__.py
  src/phoenix/server/api/dataloaders/projects_by_evaluator.py
  src/phoenix/server/api/types/Evaluator.py
  tests/unit/server/api/types/test_Evaluator.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

feat(online-evals): metrics tab on the evaluator details page (#15536)
  .github/workflows/python-CI.yml
  js/app/schema.graphql
  js/app/src/Routes.tsx
  js/app/src/components/annotation/__tests__/optimizationUtils.test.ts
  js/app/src/components/annotation/optimizationUtils.ts
  js/app/src/components/annotation/useProjectAnnotationConfigsByName.ts
  js/app/src/components/chart/AnnotationMetricsChart.tsx
  js/app/src/components/datetime/TimeRangeContext.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorDetailsPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorMetrics.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorMetrics_projectEvaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorDetailsLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/useProjectEvaluatorResultAnnotationsFragment.graphql.ts
  js/app/src/pages/project/evaluators/projectEvaluatorDetailsLoader.ts
  js/app/src/pages/project/evaluators/useProjectEvaluatorResultAnnotations.ts
  js/app/src/pages/project/metrics/ProjectAnnotationMetrics.tsx
  js/app/src/pages/project/metrics/ProjectMetricsPage.tsx
  js/app/src/pages/project/metrics/chartCatalog.tsx
  js/app/src/pages/project/metrics/metricsLayout.ts
  src/phoenix/server/api/types/Evaluator.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

feat(online-evals): card-based matching-span list in evaluator scope panel (#15424)
  js/app/src/components/annotation/AnnotationNameAndValue.tsx
  js/app/src/components/evaluators/CodeEvaluatorTestSection.tsx
  js/app/src/components/evaluators/EvaluatorOutputPreview.tsx
  js/app/src/components/experiment/ExperimentAnnotationButton.tsx
  js/app/src/pages/project/evaluators/CreateProjectCodeEvaluatorDialogContent.tsx
  js/app/src/pages/project/evaluators/CreateProjectEvaluatorSlideover.tsx
  js/app/src/pages/project/evaluators/EditProjectEvaluatorSlideover.tsx
  js/app/src/pages/project/evaluators/ProjectCodeEvaluatorDialogContent.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorFormSections.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopeFields.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopePanel.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorTargetField.tsx
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorScopePanelSpansQuery.graphql.ts
  js/app/src/pages/project/evaluators/projectEvaluatorTypes.ts
  js/app/stories/ExperimentAnnotationButton.stories.tsx
Due: oxfmt-js, oxlint-js

feat(evaluators): refine project evaluator gallery (#15609)
  js/app/src/pages/project/evaluators/ProjectEvaluatorGalleryPage.tsx
Due: oxfmt-js, oxlint-js

feat(online-evals): LLM project evaluator details page (#15322)
  js/app/src/Routes.tsx
  js/app/src/components/evaluators/EvaluatorDetailsSection.tsx
  js/app/src/pages/dataset/evaluators/LLMDatasetEvaluatorDetails.tsx
  js/app/src/pages/project/evaluators/EditProjectEvaluatorSlideover.tsx
  js/app/src/pages/project/evaluators/LLMProjectEvaluatorDetails.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorDetailsPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopeDetails.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorSlideoverRoutes.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorsTable.tsx
  js/app/src/pages/project/evaluators/__generated__/LLMProjectEvaluatorDetails_projectEvaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorScopeDetails_projectEvaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorDetailsLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/projectEvaluatorDetailsLoader.ts
  js/app/src/pages/project/evaluators/projectEvaluatorPaths.ts
  js/app/src/pages/project/evaluators/projectEvaluatorTypes.ts
  js/app/tests/projects.spec.ts
Due: oxfmt-js, oxlint-js
