Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-python
        name: format python
        language: system
        entry: make format-python
        files: \.py$
        pass_filenames: false
      - id: lint-python
        name: lint python
        language: system
        entry: make lint-python
        files: \.py$
        pass_filenames: false
      - id: clean-notebooks
        name: clean notebooks
        entry: make clean-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false
        stages: [pre-commit]
      - id: oxfmt-app
        name: oxfmt (app)
        entry: pnpm --dir app run fmt:check
        language: system
        files: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
        pass_filenames: false
      - id: oxfmt-js
        name: oxfmt (js)
        entry: pnpm --dir js run fmt:check
        language: system
        files: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
        pass_filenames: false
      - id: oxlint-app
        name: oxlint (app)
        entry: pnpm --dir app run lint
        language: system
        files: ^app/.*\.[jt]sx?$
        pass_filenames: false
      - id: oxlint-js
        name: oxlint (js)
        entry: pnpm --dir js run lint
        language: system
        files: ^js/.*\.[jt]sx?$
        pass_filenames: false
      - id: forbid-commit-to-local-main-branch
        name: Check branch before committing
        entry: bash -c '[[ "$(git rev-parse --abbrev-ref HEAD)" != "main" ]] || { echo "Should not commit to local main branch."; exit 1; }'
        language: system
        stages: [pre-commit]
      - id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: system
        files: (pyproject\.toml$|^uv\.lock$)
        pass_filenames: false
        stages: [pre-commit]

Fix accessor-scoping claim in the span filter section
  .agents/skills/phoenix-cli/SKILL.md
Due: none

docs(skills): clean up terminology in the phoenix-cli skill docs (#15700)
  .agents/skills/phoenix-cli/SKILL.md
  .agents/skills/phoenix-cli/references/axial-coding.md
  .agents/skills/phoenix-cli/references/open-coding.md
Due: none

cleaned experiment result column for experiments created by mcpbench experiments
  scripts/benchmarks/mcp/harness/mcpbench/experiment.py
Due: format-python, lint-python

Keep jittered token totals consistent when one component is missing
  src/phoenix/datagen/replayer.py
Due: format-python, lint-python

chore(js): update versions (#15704)
  js/.changeset/pii-detection-evaluator.md
  js/packages/phoenix-evals/CHANGELOG.md
  js/packages/phoenix-evals/package.json
Due: oxfmt-js

feat(online-evals): reorganize code evaluator form with shared authoring fields (#15696)
  js/app/src/components/dataset/CreateCodeDatasetEvaluatorSlideover.tsx
  js/app/src/components/dataset/EditCodeDatasetEvaluatorSlideover.tsx
  js/app/src/components/evaluators/CodeAuthoringFields.tsx
  js/app/src/components/evaluators/CodeEvaluatorAnnotationSection.tsx
  js/app/src/components/evaluators/CodeEvaluatorLanguageSandboxFields.tsx
  js/app/src/components/evaluators/CodeEvaluatorSourceEditor.tsx
  js/app/src/components/evaluators/EditCodeEvaluatorDialogContent.tsx
  js/app/src/components/evaluators/EvaluatorNameAndDescriptionFields.tsx
  js/app/src/components/evaluators/EvaluatorSectionHeader.tsx
  js/app/src/components/evaluators/__tests__/codeEvaluatorUtils.test.ts
  js/app/src/components/evaluators/codeEvaluatorUtils.ts
  js/app/src/pages/project/evaluators/CreateProjectCodeEvaluatorDialogContent.tsx
  js/app/src/pages/project/evaluators/CreateProjectEvaluatorSlideover.tsx
  js/app/src/pages/project/evaluators/EditProjectEvaluatorSlideover.tsx
  js/app/src/pages/project/evaluators/ProjectCodeEvaluatorDialogContent.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorFormSections.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopeFields.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopePanel.tsx
Due: oxfmt-js, oxlint-js

feat(online-evals): feature-complete code evaluator details for projects (#15697)
  js/app/src/Routes.tsx
  js/app/src/components/dataset/__generated__/EditCodeDatasetEvaluatorSlideover_updateDatasetCodeEvaluatorMutation.graphql.ts
  js/app/src/components/evaluators/CodeEvaluatorSandboxCard.tsx
  js/app/src/components/evaluators/CodeEvaluatorVersions.tsx
  js/app/src/components/evaluators/EvaluatorAnnotationsCard.tsx
  js/app/src/components/evaluators/EvaluatorInputMappingCard.tsx
  js/app/src/components/evaluators/__generated__/CodeEvaluatorSandboxCardBackendsQuery.graphql.ts
  js/app/src/components/evaluators/__generated__/CodeEvaluatorSandboxCard_sandboxConfig.graphql.ts
  js/app/src/components/evaluators/__generated__/CodeEvaluatorVersionsQuery.graphql.ts
  js/app/src/pages/dataset/evaluators/CodeDatasetEvaluatorDetails.tsx
  js/app/src/pages/dataset/evaluators/DatasetEvaluatorDetailsPage.tsx
  js/app/src/pages/dataset/evaluators/__generated__/CodeDatasetEvaluatorDetails_datasetEvaluator.graphql.ts
  js/app/src/pages/dataset/evaluators/__generated__/CodeDatasetEvaluatorVersionsQuery.graphql.ts
  js/app/src/pages/dataset/evaluators/__generated__/CodeDatasetEvaluatorVersions_datasetEvaluator.graphql.ts
  js/app/src/pages/dataset/evaluators/__generated__/datasetEvaluatorDetailsLoaderQuery.graphql.ts
  js/app/src/pages/dataset/evaluators/datasetEvaluatorDetailsLoader.ts
  js/app/src/pages/project/evaluators/AnnotationConfigurationCard.tsx
  js/app/src/pages/project/evaluators/CodeProjectEvaluatorConfigCards.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorDetailsPage.tsx
  js/app/src/pages/project/evaluators/ProjectEvaluatorStats.tsx
  js/app/src/pages/project/evaluators/__generated__/AnnotationConfigurationCard_projectEvaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/CodeProjectEvaluatorConfigCards_projectEvaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/ProjectEvaluatorStats_projectEvaluator.graphql.ts
  js/app/src/pages/project/evaluators/__generated__/projectEvaluatorDetailsLoaderQuery.graphql.ts
  js/app/src/pages/project/evaluators/projectEvaluatorDetailsLoader.ts
Due: oxfmt-js, oxlint-js

ci: scope test dependency upgrades to all-platform tests
  .github/workflows/python-all-platforms.yml
  tox.ini
Due: none

fix(ci): cap pydantic-ai-slim below 2.34 in unit test requirements (#15701)
  requirements/unit-tests.txt
Due: none

model+target+label to experiment metadata
  scripts/benchmarks/mcp/harness/mcpbench/experiment.py
Due: format-python, lint-python

agent latency as annotation in mcpbench experiment
  scripts/benchmarks/mcp/harness/mcpbench/experiment.py
Due: format-python, lint-python

chore: complete removal of the legacy phoenix.session.client module (#15709)
  MIGRATION.md
  src/phoenix/__init__.py
  src/phoenix/config.py
  src/phoenix/utilities/client.py
  src/phoenix/utilities/re.py
  tests/unit/utilities/test_re.py
Due: format-python, lint-python

chore(deps): bump uv to 0.12.5 (#15712)
  .github/workflows/claude-weekly-deps-upgrade.yml
  .github/workflows/cost-sync.yml
  .github/workflows/harbor-evals.yml
  .github/workflows/helm-ci.yml
  .github/workflows/playwright.yaml
  .github/workflows/publish.yaml
  .github/workflows/pxi-evals.yml
  .github/workflows/pxi-online-evals.yml
  .github/workflows/pypi-smoke-test.yml
  .github/workflows/python-CI.yml
  .github/workflows/python-all-platforms.yml
  .github/workflows/sync-lockfile-release-pr.yml
  Dockerfile
  pyproject.toml
  scripts/docker/devops/Dockerfile
Due: uv-lock-check

chore: update sitemap.xml (#15703)
  docs/phoenix/sitemap.xml
  sitemap.xml
Due: none

chore(deps): upgrade pydantic-ai-slim to 2.34 and re-sync vendored data-stream types
  pyproject.toml
  requirements/type-check.txt
  requirements/unit-tests.txt
  src/phoenix/db/types/data_stream_protocol/_models.py
  src/phoenix/db/types/data_stream_protocol/request_types.py
  uv.lock
Due: format-python, lint-python, uv-lock-check

fix(frontend): expand users card to page height
  js/app/src/pages/settings/UsersCard.tsx
  js/app/src/pages/settings/UsersTable.tsx
Due: oxfmt-js, oxlint-js

chore: regenerate OpenAPI schema and clients for ReasoningUIPart.id
  js/app/src/api/__generated__/v1.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix: contain retention policy loading state in drawer
  js/app/src/pages/settings/RetentionPolicyDetailsDrawer.tsx
  js/app/src/pages/settings/__tests__/RetentionPolicyDetailsDrawer.test.tsx
Due: oxfmt-js, oxlint-js

chore(js): upgrade Changesets publishing
  .github/workflows/typescript-packages-publish.yml
  js/.changeset/config.json
  js/package.json
  js/pnpm-lock.yaml
Due: oxfmt-js

chore(js): upgrade pnpm to 12.0.0
  DEVELOPMENT.md
  Makefile
  js/DEVELOPMENT.md
  js/examples/apps/mastra-quickstart/package.json
  js/package.json
  js/pnpm-lock.yaml
  js/pnpm-workspace.yaml
  scripts/docker/devops/oidc-server/frontend/package.json
  scripts/docker/devops/oidc-server/package.json
  scripts/docker/devops/smtp-server/Dockerfile
  scripts/docker/devops/smtp-server/package.json
  scripts/docker/devops/vite-dev/Dockerfile
  scripts/gh-comment-watch/package.json
  scripts/gh-comment-watch/web/package.json
  scripts/mock-llm-server/dashboard/package.json
  scripts/mock-llm-server/package.json
Due: oxfmt-js

chore(deps): upgrade pydantic-ai-slim to 2.34 and re-sync vendored data-stream types (#15714)
  js/app/src/api/__generated__/v1.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  pyproject.toml
  requirements/type-check.txt
  requirements/unit-tests.txt
  schemas/openapi.json
  src/phoenix/db/types/data_stream_protocol/_models.py
  src/phoenix/db/types/data_stream_protocol/request_types.py
  uv.lock
Due: format-python, lint-python, oxfmt-js, oxlint-js, uv-lock-check

fix(frontend): expand users card to page height (#15716)
  js/app/src/pages/settings/UsersCard.tsx
  js/app/src/pages/settings/UsersTable.tsx
Due: oxfmt-js, oxlint-js

fix: contain retention policy loading state in drawer (#15717)
  js/app/src/pages/settings/RetentionPolicyDetailsDrawer.tsx
  js/app/src/pages/settings/__tests__/RetentionPolicyDetailsDrawer.test.tsx
Due: oxfmt-js, oxlint-js

Drop the pydantic-ai-slim unit-test cap after the vendored re-sync
  requirements/unit-tests.txt
Due: none

fix(agents): persist reasoning part id from reasoning-start chunks
  src/phoenix/server/agents/vercel_ui_message_stream.py
  tests/unit/server/agents/test_ui_message_stream_conformance.py
Due: format-python, lint-python

Inline PHOENIX_CLIENT_HEADERS parsing in the datagen command
  src/phoenix/server/cli/commands/datagen.py
Due: format-python, lint-python

test(agents): pin reasoning part ids in the pydantic-ai metadata canary
  tests/unit/server/agents/test_pydantic_ai_metadata_canary.py
Due: format-python, lint-python

Mark datagen as internal tooling and move it under experimental
  src/phoenix/datagen/__init__.py
  src/phoenix/experimental/datagen/__init__.py
  src/phoenix/experimental/datagen/composer.py
  src/phoenix/experimental/datagen/exporter.py
  src/phoenix/experimental/datagen/fetcher.py
  src/phoenix/experimental/datagen/loader.py
  src/phoenix/experimental/datagen/replayer.py
  src/phoenix/experimental/datagen/schema.py
  src/phoenix/server/cli/commands/datagen.py
  tests/unit/datagen/test_composer.py
  tests/unit/datagen/test_exporter.py
  tests/unit/datagen/test_loader.py
  tests/unit/datagen/test_replayer.py
  tests/unit/server/cli/commands/test_datagen.py
Due: format-python, lint-python

Follow the datagen package move to phoenix.experimental
  .github/workflows/python-CI.yml
  scripts/datagen/README.md
  scripts/datagen/corpus.py
  scripts/datagen/publish.py
  scripts/datagen/tests/test_corpus_pipeline.py
  scripts/datagen/tests/test_fetcher.py
Due: format-python, lint-python

test(evals): cover async rate limit cooldown
  packages/phoenix-evals/tests/phoenix/evals/test_rate_limiters.py
Due: format-python, lint-python

fix(evals): restore limiter event on cancellation
  packages/phoenix-evals/src/phoenix/evals/rate_limiters.py
  packages/phoenix-evals/tests/phoenix/evals/test_rate_limiters.py
Due: format-python, lint-python

chore(js): keep pnpm install hint generic
  Makefile
Due: none

fix(atif): ensure subagent parents are emitted
  packages/phoenix-client/src/phoenix/client/helpers/atif/__init__.py
  packages/phoenix-client/src/phoenix/client/helpers/atif/_convert.py
  packages/phoenix-client/tests/client/helpers/atif/test_convert.py
Due: format-python, lint-python

Match the datagen tooling job's uv pin to the repo-wide bump
  .github/workflows/python-CI.yml
Due: none

feat(datagen): add a sidecar that replays a recorded trace corpus (#15614)
  src/phoenix/experimental/datagen/__init__.py
  src/phoenix/experimental/datagen/composer.py
  src/phoenix/experimental/datagen/exporter.py
  src/phoenix/experimental/datagen/fetcher.py
  src/phoenix/experimental/datagen/loader.py
  src/phoenix/experimental/datagen/replayer.py
  src/phoenix/experimental/datagen/schema.py
  src/phoenix/server/cli/commands/datagen.py
  src/phoenix/server/main.py
  tests/unit/datagen/fixtures/fragment_bank/fragments.jsonl
  tests/unit/datagen/fixtures/fragment_bank/traces.jsonl
  tests/unit/datagen/fixtures/replay/fragments.jsonl
  tests/unit/datagen/fixtures/replay/traces.jsonl
  tests/unit/datagen/fixtures/split_trace/fragments.jsonl
  tests/unit/datagen/fixtures/split_trace/traces.jsonl
  tests/unit/datagen/test_composer.py
  tests/unit/datagen/test_exporter.py
  tests/unit/datagen/test_loader.py
  tests/unit/datagen/test_replayer.py
  tests/unit/server/cli/commands/test_datagen.py
Due: format-python, lint-python

fix(ui): truncate long annotation names in experiment comparisons
  js/app/src/pages/experiment/ExperimentCompareListPage.tsx
Due: oxfmt-js, oxlint-js

fix(cost): update built-in model token prices
  src/phoenix/server/cost_tracking/model_cost_manifest.json
Due: none

test(atif): assert subagent root fallback hierarchy
  tests/integration/client/test_atif.py
Due: format-python, lint-python

fix(ui): truncate long annotation names in experiment comparisons (#15722)
  js/app/src/pages/experiment/ExperimentCompareListPage.tsx
Due: oxfmt-js, oxlint-js

fix(evals): use non-blocking sleep in async rate limiter (#15404)
  packages/phoenix-evals/src/phoenix/evals/rate_limiters.py
  packages/phoenix-evals/tests/phoenix/evals/test_rate_limiters.py
Due: format-python, lint-python
