Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(client): add dataset evaluator binding helpers to the Python and TypeScript clients
  js/.changeset/dataset-evaluators-client.md
  js/packages/phoenix-client/README.md
  js/packages/phoenix-client/src/constants/serverRequirements.ts
  js/packages/phoenix-client/src/evaluators/createDatasetEvaluator.ts
  js/packages/phoenix-client/src/evaluators/deleteDatasetEvaluators.ts
  js/packages/phoenix-client/src/evaluators/getDatasetEvaluator.ts
  js/packages/phoenix-client/src/evaluators/getDatasetEvaluators.ts
  js/packages/phoenix-client/src/evaluators/index.ts
  js/packages/phoenix-client/src/evaluators/updateDatasetEvaluator.ts
  js/packages/phoenix-client/src/types/evaluators.ts
  js/packages/phoenix-client/test/evaluators/datasetEvaluators.test.ts
  js/packages/phoenix-client/test/evaluators/datasetVersionGate.test.ts
  packages/phoenix-client/README.md
  packages/phoenix-client/src/phoenix/client/constants/server_requirements.py
  packages/phoenix-client/src/phoenix/client/resources/evaluators/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/evaluators/dataset_evaluators.py
  packages/phoenix-client/src/phoenix/client/types/__init__.py
  packages/phoenix-client/src/phoenix/client/types/evaluators.py
  packages/phoenix-client/tests/client/resources/evaluators/test_dataset_evaluators.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

feat(api): add REST routes to attach, list, update, and detach online evaluators on a project
  js/app/schema.graphql
  js/app/src/api/__generated__/v1.ts
  js/packages/phoenix-client/src/__generated__/api/v1.ts
  js/packages/phoenix-testing/src/__generated__/api/v1.ts
  packages/phoenix-client/src/phoenix/client/__generated__/v1/__init__.py
  schemas/openapi.json
  src/phoenix/db/models.py
  src/phoenix/server/api/helpers/evaluator_service.py
  src/phoenix/server/api/mutations/evaluator_mutations.py
  src/phoenix/server/api/routers/v1/evaluators.py
  tests/integration/_helpers.py
  tests/integration/evaluators/conftest.py
  tests/integration/evaluators/test_evaluator_references.py
  tests/integration/evaluators/test_evaluators.py
  tests/unit/server/api/routers/v1/test_evaluators.py
  tests/unit/server/api/routers/v1/test_project_evaluators.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

docs(client): document evaluator helpers and custom_provider_id
  docs.json
  docs/phoenix/llms.txt
  docs/phoenix/sdk-api-reference/python/arize-phoenix-client.mdx
  docs/phoenix/sdk-api-reference/typescript/arizeai-phoenix-client.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/evaluators.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/overview.mdx
  docs/phoenix/sdk-api-reference/typescript/packages/phoenix-client/prompts.mdx
  js/packages/phoenix-cli/src/commands/projectEvaluator.ts
  js/packages/phoenix-client/README.md
  js/packages/phoenix-client/src/evaluators/createProjectEvaluator.ts
  js/packages/phoenix-client/src/evaluators/updateProjectEvaluator.ts
  packages/phoenix-client/README.md
  packages/phoenix-client/docs/source/api/evaluators.rst
  packages/phoenix-client/docs/source/api/types.rst
  packages/phoenix-client/docs/source/index.md
  packages/phoenix-client/src/phoenix/client/resources/evaluators/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/evaluators/project_evaluators.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

feat(client): add project evaluator binding helpers to the Python and TypeScript clients
  js/.changeset/project-evaluators-client.md
  js/packages/phoenix-client/README.md
  js/packages/phoenix-client/src/constants/serverRequirements.ts
  js/packages/phoenix-client/src/evaluators/createProjectEvaluator.ts
  js/packages/phoenix-client/src/evaluators/deleteProjectEvaluators.ts
  js/packages/phoenix-client/src/evaluators/getProjectEvaluator.ts
  js/packages/phoenix-client/src/evaluators/getProjectEvaluators.ts
  js/packages/phoenix-client/src/evaluators/index.ts
  js/packages/phoenix-client/src/evaluators/updateProjectEvaluator.ts
  js/packages/phoenix-client/src/types/evaluators.ts
  js/packages/phoenix-client/test/evaluators/projectEvaluators.test.ts
  js/packages/phoenix-client/test/evaluators/projectVersionGate.test.ts
  packages/phoenix-client/README.md
  packages/phoenix-client/src/phoenix/client/constants/server_requirements.py
  packages/phoenix-client/src/phoenix/client/resources/evaluators/__init__.py
  packages/phoenix-client/src/phoenix/client/resources/evaluators/project_evaluators.py
  packages/phoenix-client/src/phoenix/client/types/__init__.py
  packages/phoenix-client/src/phoenix/client/types/evaluators.py
  packages/phoenix-client/tests/client/resources/evaluators/test_project_evaluators.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

feat(cli): add px project evaluator commands to list, get, create, update, and delete bindings
  .agents/skills/phoenix-cli/SKILL.md
  js/.changeset/cli-project-evaluators.md
  js/packages/phoenix-cli/README.md
  js/packages/phoenix-cli/src/commands/formatProjectEvaluator.ts
  js/packages/phoenix-cli/src/commands/index.ts
  js/packages/phoenix-cli/src/commands/project.ts
  js/packages/phoenix-cli/src/commands/projectEvaluator.ts
  js/packages/phoenix-cli/test/cli.test.ts
  js/packages/phoenix-cli/test/projectEvaluatorCommand.test.ts
Due: oxfmt-js, oxlint-js

fix(db): ORM deletes follow the foreign keys' ON DELETE rules
  src/phoenix/db/models.py
  src/phoenix/server/api/routers/v1/users.py
  tests/unit/db/test_models.py
  tests/unit/server/api/routers/test_oauth2_authorization_server.py
  tests/unit/server/api/routers/v1/test_users.py
Due: format-python, lint-python

fix(experiments): offer Open in Playground only for prompt experiments
  js/app/src/components/experiment/ExperimentActionMenu.tsx
  js/app/src/pages/experiments/ExperimentsTable.tsx
  js/app/src/pages/experiments/__generated__/ExperimentsPageQuery.graphql.ts
  js/app/src/pages/experiments/__generated__/ExperimentsTableFragment.graphql.ts
  js/app/src/pages/experiments/__generated__/ExperimentsTableQuery.graphql.ts
Due: oxfmt-js, oxlint-js

fix(playground): freeze the code evaluator's description with its definition
  js/app/src/pages/playground/__tests__/getExperimentsOverDatasetInput.test.ts
  js/app/src/pages/playground/evaluators/evaluatorTaskSnapshot.ts
Due: oxfmt-js, oxlint-js

fix(playground): validate the evaluator task name as an identifier
  js/app/src/components/evaluators/EvaluatorNameInput.tsx
  js/app/src/pages/playground/evaluators/EvaluatorTaskEditor.tsx
  js/app/src/pages/playground/evaluators/__tests__/evaluatorTaskValidation.test.ts
  js/app/src/pages/playground/evaluators/evaluatorTaskValidation.ts
Due: oxfmt-js, oxlint-js

fix(db): require user_id on api_keys and password_reset_tokens
  src/phoenix/db/ddl/postgresql_schema.sql
  src/phoenix/db/ddl/sqlite_schema.sql
  src/phoenix/db/migrations/versions/52e79887a7e3_require_user_id_on_api_keys_and_password_reset_tokens.py
  tests/integration/db_migrations/test_data_migration_52e79887a7e3_require_token_user_ids.py
  tests/integration/db_migrations/test_model_column_nullability.py
Due: format-python, lint-python

feat(api): expose the frozen evaluator definition as typed GraphQL
  js/app/schema.graphql
  src/phoenix/server/api/types/EvaluatorTaskDefinition.py
  src/phoenix/server/api/types/ExperimentTaskConfig.py
  tests/unit/server/api/types/test_ExperimentJob.py
Due: format-python, lint-python

fix(api): give the frozen definition's output configs their own ids
  src/phoenix/server/api/types/EvaluatorTaskDefinition.py
  tests/unit/server/api/types/test_ExperimentJob.py
Due: format-python, lint-python

docs: move TypeSafe AI under LLM Providers
  README.md
  docs.json
  docs/phoenix/integrations.mdx
  docs/phoenix/integrations/llm-providers/typesafe.mdx
  docs/phoenix/integrations/llm-providers/typesafe/typesafe-sdk-typescript.mdx
  docs/phoenix/integrations/llm-providers/typesafe/typesafe-tracing.mdx
  docs/phoenix/llms.txt
Due: none

docs: name TypeSafe AI pages by language
  README.md
  docs.json
  docs/phoenix/integrations/llm-providers/typesafe.mdx
  docs/phoenix/integrations/llm-providers/typesafe/typesafe-python.mdx
  docs/phoenix/integrations/llm-providers/typesafe/typesafe-typescript.mdx
  docs/phoenix/llms.txt
Due: none

docs: move TypeSafe AI under LLM Providers (#16312)
  README.md
  docs.json
  docs/phoenix/integrations.mdx
  docs/phoenix/integrations/llm-providers/typesafe.mdx
  docs/phoenix/integrations/llm-providers/typesafe/typesafe-python.mdx
  docs/phoenix/integrations/llm-providers/typesafe/typesafe-typescript.mdx
  docs/phoenix/llms.txt
Due: none

chore: update sitemap.xml
  docs/phoenix/sitemap.xml
  sitemap.xml
Due: none

fix(ui): keep slot order and failure wording in the evaluator binding preview
  js/app/src/components/core/card/styles.ts
  js/app/src/pages/project/evaluators/ProjectEvaluatorScopePanel.tsx
  js/app/src/pages/project/evaluators/__tests__/bindingPreview.test.tsx
  js/app/src/pages/project/evaluators/__tests__/projectEvaluatorTypes.test.ts
  js/app/src/pages/project/evaluators/projectEvaluatorTypes.ts
Due: oxfmt-js, oxlint-js

fix(db): preserve SQLite autoincrement counters across migrations
  src/phoenix/db/migrations/versions/132d988c5bef_add_oauth2_authorization_server_tables.py
  src/phoenix/db/migrations/versions/6a88424799fe_update_users_with_auth_method.py
  src/phoenix/db/migrations/versions/a1b2c3d4e5f6_ldap_schema_migration.py
  tests/integration/db_migrations/test_autoincrement_primary_keys.py
Due: format-python, lint-python

fix(db): preserve SQLite autoincrement counters across migrations (#16313)
  src/phoenix/db/migrations/versions/132d988c5bef_add_oauth2_authorization_server_tables.py
  src/phoenix/db/migrations/versions/6a88424799fe_update_users_with_auth_method.py
  src/phoenix/db/migrations/versions/a1b2c3d4e5f6_ldap_schema_migration.py
  tests/integration/db_migrations/test_autoincrement_primary_keys.py
Due: format-python, lint-python

chore(main): release arize-phoenix 20.14.1
  .release-please-manifest.json
  CHANGELOG.md
  src/phoenix/version.py
Due: format-python, lint-python

fix(evals): give "developer" its own MessageRole instead of folding it into SYSTEM
  packages/phoenix-evals/src/phoenix/evals/llm/adapters/anthropic/adapter.py
  packages/phoenix-evals/src/phoenix/evals/llm/adapters/google/adapter.py
  packages/phoenix-evals/src/phoenix/evals/llm/adapters/langchain/adapter.py
  packages/phoenix-evals/src/phoenix/evals/llm/adapters/litellm/adapter.py
  packages/phoenix-evals/src/phoenix/evals/llm/adapters/openai/adapter.py
  packages/phoenix-evals/src/phoenix/evals/llm/prompts.py
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/anthropic/test_build_messages.py
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/google/test_build_content.py
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/langchain/test_build_prompt.py
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/litellm/test_build_messages.py
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/openai/test_build_messages.py
  packages/phoenix-evals/tests/phoenix/evals/llm/test_prompt_versions.py
  packages/phoenix-evals/tests/phoenix/evals/llm/test_prompts.py
Due: format-python, lint-python

fix(client): register TYPESAFE in the client prompt provider literals
  js/packages/phoenix-client/src/prompts/constants.ts
  js/packages/phoenix-client/src/types/prompts.ts
  packages/phoenix-client/src/phoenix/client/types/prompts.py
Due: format-python, lint-python, oxfmt-js, oxlint-js

fix(cli): list TYPESAFE among the pxi built-in providers
  js/packages/phoenix-cli/src/pxi/options.ts
Due: oxfmt-js, oxlint-js

fix(evals): accept role aliases in PromptTemplate message lists (#16002)
  packages/phoenix-evals/src/phoenix/evals/llm/adapters/anthropic/adapter.py
  packages/phoenix-evals/src/phoenix/evals/llm/adapters/google/adapter.py
  packages/phoenix-evals/src/phoenix/evals/llm/adapters/langchain/adapter.py
  packages/phoenix-evals/src/phoenix/evals/llm/adapters/litellm/adapter.py
  packages/phoenix-evals/src/phoenix/evals/llm/adapters/openai/adapter.py
  packages/phoenix-evals/src/phoenix/evals/llm/prompts.py
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/anthropic/test_build_messages.py
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/google/test_build_content.py
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/langchain/test_build_prompt.py
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/litellm/test_build_messages.py
  packages/phoenix-evals/tests/phoenix/evals/llm/adapters/openai/test_build_messages.py
  packages/phoenix-evals/tests/phoenix/evals/llm/test_prompt_versions.py
  packages/phoenix-evals/tests/phoenix/evals/llm/test_prompts.py
Due: format-python, lint-python

chore(main): release arize-phoenix-client 3.6.0
  .release-please-manifest.json
  packages/phoenix-client/CHANGELOG.md
  packages/phoenix-client/pyproject.toml
Due: uv-lock-check

chore(main): release arize-phoenix-evals 3.9.0
  .release-please-manifest.json
  packages/phoenix-evals/CHANGELOG.md
  packages/phoenix-evals/pyproject.toml
Due: uv-lock-check

fix(client): format string system messages in anthropic adapter
  packages/phoenix-client/src/phoenix/client/helpers/sdk/anthropic/messages.py
  packages/phoenix-client/tests/canary/sdk/anthropic/test_messages.py
Due: format-python, lint-python

fix(ui): portal filter tooltips beyond table clipping
  js/app/src/components/filter/DSLFilterConditionField.tsx
  js/app/src/components/filter/__tests__/dslFilterTooltipParent.test.ts
  js/app/src/components/filter/dslFilterTooltipParent.ts
  js/app/src/pages/Layout.tsx
Due: oxfmt-js, oxlint-js

fix(ui): preserve evaluator input type across remounts
  js/app/src/components/evaluators/EvaluatorInputMapping.tsx
  js/app/src/components/evaluators/SwitchableEvaluatorInput.tsx
  js/app/src/components/evaluators/__tests__/initialInputMode.test.ts
  js/app/src/components/evaluators/initialInputMode.ts
Due: oxfmt-js, oxlint-js

fix(ui): prefill prompt metadata from latest version
  js/app/src/pages/playground/SavePromptForm.tsx
  js/app/src/pages/playground/__generated__/SavePromptFormQuery.graphql.ts
  js/app/src/pages/playground/__tests__/formatPromptVersionMetadataForEditor.test.ts
  js/app/src/pages/playground/playgroundPromptUtils.ts
Due: oxfmt-js, oxlint-js

feat(sandbox): add Sandbox0 code evaluator backend
  Makefile
  docs.json
  docs/phoenix/self-hosting/features/sandbox-runtimes.mdx
  docs/phoenix/settings/sandboxes.mdx
  docs/phoenix/settings/sandboxes/sandbox0.mdx
  js/app/schema.graphql
  js/app/src/components/dataset/__generated__/CreateCodeDatasetEvaluatorSlideoverQuery.graphql.ts
  js/app/src/components/dataset/__generated__/EditCodeDatasetEvaluatorSlideover_datasetEvaluatorQuery.graphql.ts
  js/app/src/components/evaluators/CodeEvaluatorLanguageSandboxFields.tsx
  js/app/src/components/sandbox/SandboxProviderIcon.tsx
  js/app/src/components/sandbox/__generated__/SandboxProviderSelectQuery.graphql.ts
  js/app/src/pages/dataset/evaluators/__generated__/CodeDatasetEvaluatorDetails_datasetEvaluator.graphql.ts
  js/app/src/pages/dataset/evaluators/__generated__/datasetEvaluatorDetailsLoaderQuery.graphql.ts
  js/app/src/pages/evaluators/__generated__/DatasetEvaluatorsTable_row.graphql.ts
  js/app/src/pages/settings/sandboxes/__generated__/SandboxConfigDialogCreateSandboxConfigMutation.graphql.ts
  js/app/src/pages/settings/sandboxes/__generated__/SandboxConfigDialogUpdateSandboxConfigMutation.graphql.ts
  js/app/src/pages/settings/sandboxes/__generated__/SandboxConfigsCardConfigEnabledSwitchMutation.graphql.ts
  js/app/src/pages/settings/sandboxes/__generated__/SandboxProvidersCardProviderEnabledSwitchMutation.graphql.ts
  js/app/src/pages/settings/sandboxes/__generated__/SettingsSandboxesPageFragment.graphql.ts
  js/app/src/pages/settings/sandboxes/utils.tsx
  js/app/src/types/evaluators.ts
  js/app/tests/settings-sandboxes.spec.ts
  js/app/tests/utils/testServer.mjs
  pyproject.toml
  requirements/unit-tests.txt
  src/phoenix/config.py
  src/phoenix/db/models.py
  src/phoenix/server/api/mutations/sandbox_config_mutations.py
  src/phoenix/server/api/types/SandboxConfig.py
  src/phoenix/server/sandbox/__init__.py
  src/phoenix/server/sandbox/sandbox0_backend.py
  src/phoenix/server/sandbox/types.py
  tests/live/test_sandbox0_backend.py
  tests/unit/server/api/mutations/test_sandbox_config_mutations.py
  tests/unit/server/sandbox/test_sandbox0_backend.py
  tests/unit/server/sandbox/test_unified_config_contract.py
  uv.lock
Due: format-python, lint-python, oxfmt-js, oxlint-js, uv-lock-check

fix(ui): truncate split values in dataset preview
  js/app/src/pages/datasets/DatasetPreview/DatasetPreviewTable.tsx
  js/app/src/pages/datasets/DatasetPreview/__tests__/DatasetPreviewTable.test.tsx
Due: oxfmt-js, oxlint-js

fix(ui): preserve history for time range and filters
  js/app/src/components/datetime/TimeRangeContext.tsx
  js/app/src/components/datetime/__tests__/TimeRangeContext.test.tsx
  js/app/src/pages/project/PendingSpanFilter.tsx
  js/app/src/pages/project/ProjectPage.tsx
  js/app/src/pages/project/ProjectPageQueries.tsx
  js/app/src/pages/project/ProjectSessionsPage.tsx
  js/app/src/pages/project/ProjectTracesPage.tsx
  js/app/src/pages/project/SessionsTable.tsx
  js/app/src/pages/project/SpansTable.tsx
  js/app/src/pages/project/TracesTable.tsx
  js/app/src/pages/project/__tests__/SpansTableSeedIntegration.test.tsx
Due: oxfmt-js, oxlint-js

fix(ui): order categorical annotation labels by score
  js/app/src/components/annotation/CategoricalAnnotationInput.tsx
  js/app/src/components/annotation/__tests__/AnnotationInputs.test.tsx
  js/app/src/components/annotation/__tests__/optimizationUtils.test.ts
  js/app/src/components/annotation/optimizationUtils.ts
Due: oxfmt-js, oxlint-js

refactor(ui): share annotation label treatment for retrieval metrics
  js/app/src/pages/project/DocumentEvaluationSummary.tsx
  js/app/src/pages/project/RetrievalEvaluationLabel.tsx
  js/app/src/pages/project/RetrievalMetricLabel.tsx
  js/app/src/pages/project/SpansTable.tsx
  js/app/src/pages/project/TracesTable.tsx
  js/app/src/pages/project/__tests__/RetrievalMetricLabel.test.tsx
  js/app/src/pages/trace/span/RetrieverOutput.tsx
Due: oxfmt-js, oxlint-js

fix(ui): cap split preview width
  js/app/src/pages/datasets/DatasetPreview/DatasetPreviewTable.tsx
  js/app/src/pages/datasets/DatasetPreview/__tests__/DatasetPreviewTable.test.tsx
Due: oxfmt-js, oxlint-js

fix(ui): preserve authored annotation label order
  js/app/src/components/annotation/__tests__/optimizationUtils.test.ts
  js/app/src/components/annotation/optimizationUtils.ts
Due: oxfmt-js, oxlint-js

test(ui): cover prompt metadata prefill
  js/app/src/pages/playground/__tests__/SavePromptForm.test.tsx
Due: oxfmt-js, oxlint-js

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
