Repository Arize-ai/phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-python, clean-notebooks, oxfmt-app, oxfmt-js, oxlint-app, oxlint-js, uv-lock-check

format-python:
  name: format python
  language: system
  entry: make format-python
  pass_filenames: false

lint-python:
  name: lint python
  language: system
  entry: make lint-python
  pass_filenames: false

clean-notebooks:
  name: clean notebooks
  entry: make clean-notebooks
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt-app:
  name: oxfmt (app)
  entry: pnpm --dir app run fmt:check
  language: system
  pass_filenames: false

oxfmt-js:
  name: oxfmt (js)
  entry: pnpm --dir js run fmt:check
  language: system
  pass_filenames: false

oxlint-app:
  name: oxlint (app)
  entry: pnpm --dir app run lint
  language: system
  pass_filenames: false

oxlint-js:
  name: oxlint (js)
  entry: pnpm --dir js run lint
  language: system
  pass_filenames: false

uv-lock-check:
  name: uv lock --check
  entry: uv lock --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(ui): wrap the dataset evaluator spans view in a filter error boundary
  app/src/pages/dataset/evaluators/DatasetEvaluatorSpans.tsx
  app/src/pages/project/ProjectSpansPage.tsx
  app/src/pages/project/ProjectTracesPage.tsx
  app/src/pages/project/SpanFilterErrorFallback.tsx
  tests/unit/trace/dsl/test_filter.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix(ui): close note form after submission
  app/src/pages/trace/SpanNoteBar.tsx
  app/src/pages/trace/__tests__/SpanNoteBar.test.tsx
Due: oxfmt-app, oxlint-app

fix(ui): disable notes jump at scroll end
  app/src/pages/trace/SpanDetails.tsx
  app/src/pages/trace/__tests__/SpanDetails.test.tsx
Due: oxfmt-app, oxlint-app

fix(experiments): reject type-mismatched comparisons in the experiment filter
  src/phoenix/server/api/helpers/experiment_run_filters.py
  tests/unit/server/api/helpers/test_experiment_run_filters.py
Due: format-python, lint-python

feat(ui): support editing and deleting span notes
  app/src/hooks/useTimeFormatters.ts
  app/src/pages/trace/SpanNoteBar.tsx
  app/src/pages/trace/SpanNotesList.tsx
  app/src/pages/trace/__generated__/SpanNoteBarAddNoteMutation.graphql.ts
  app/src/pages/trace/__generated__/SpanNotesListDeleteNoteMutation.graphql.ts
  app/src/pages/trace/__generated__/SpanNotesListQuery.graphql.ts
  app/src/pages/trace/__generated__/SpanNotesListUpdateNoteMutation.graphql.ts
  app/src/pages/trace/__tests__/SpanNotesList.test.tsx
  app/src/utils/__tests__/timeFormatUtils.test.ts
  app/src/utils/timeFormatUtils.ts
  app/stories/DetailPanelCompositions.stories.tsx
  app/stories/DetailPanelNotes.stories.tsx
Due: oxfmt-app, oxlint-app

refactor(ui): consolidate shared 280px sizing
  app/src/GlobalStyles.tsx
  app/src/components/agent/ChatEmptyShaderHero.tsx
  app/src/components/core/id/styles.ts
  app/src/components/core/types/style.ts
  app/src/pages/project/ProjectStats.tsx
  app/src/pages/project/SessionsTableAside.tsx
  app/src/pages/project/SpansTableAside.tsx
  app/src/pages/project/TableAside.tsx
  app/src/pages/projects/ProjectsPage.tsx
  app/src/pages/trace/TraceDetails.tsx
  app/stories/RichTokenBreakdown.stories.tsx
Due: oxfmt-app, oxlint-app

refactor(ui): standardize expandable content cutoffs
  app/src/GlobalStyles.tsx
  app/src/components/agent/ToolPartPrimitives.tsx
  app/src/components/core/content/ExpandableContent.tsx
  app/src/components/core/content/__tests__/ExpandableContent.test.tsx
  app/src/components/experiment/ExperimentInputCell.tsx
  app/src/components/experiment/ExperimentReferenceOutputCell.tsx
  app/src/components/experiment/experimentTableUtils.ts
  app/src/pages/experiment/ExperimentCompareTable.tsx
  app/src/pages/playground/PlaygroundDatasetExamplesTable.tsx
  app/src/pages/trace/TraceTurnContent.tsx
  app/src/pages/trace/__tests__/SpanInfoCardsContext.test.tsx
  app/src/pages/trace/span/ExpandableSpanContent.tsx
  app/src/pages/trace/span/LLMMessage.tsx
  app/src/pages/trace/span/SpanAttributesSection.tsx
  app/src/pages/trace/span/__tests__/SpanAttributesSection.test.tsx
  app/stories/ExpandableContent.stories.tsx
Due: oxfmt-app, oxlint-app

refactor(ui): reuse annotation labels for retrieval metrics
  app/src/pages/project/DocumentEvaluationSummary.tsx
  app/src/pages/project/RetrievalEvaluationLabel.tsx
  app/src/pages/project/RetrievalMetricLabel.tsx
  app/src/pages/project/SpansTable.tsx
  app/src/pages/project/TracesTable.tsx
  app/src/pages/project/__tests__/RetrievalMetricLabel.test.tsx
  app/src/pages/trace/span/RetrieverOutput.tsx
Due: oxfmt-app, oxlint-app

refactor(ui): flatten span detail presentations
  app/src/pages/trace/DocumentAnnotationItem.tsx
  app/src/pages/trace/DocumentAnnotationsSection.tsx
  app/src/pages/trace/DocumentItem.tsx
  app/src/pages/trace/SpanDetailsInputSection.tsx
  app/src/pages/trace/SpanEventsList.tsx
  app/src/pages/trace/__tests__/SpanEventsList.test.tsx
  app/src/pages/trace/span/EmbeddingInput.tsx
  app/src/pages/trace/span/LLMInput.tsx
  app/src/pages/trace/span/LLMInvocationParams.tsx
  app/src/pages/trace/span/LLMOutput.tsx
  app/src/pages/trace/span/LLMPromptTemplate.tsx
  app/src/pages/trace/span/LLMPromptsList.tsx
  app/src/pages/trace/span/LLMToolSchemasList.tsx
  app/src/pages/trace/span/MessageContentsList.tsx
  app/src/pages/trace/span/RetrieverOutput.tsx
  app/src/pages/trace/span/SpanMetadata.tsx
  app/src/pages/trace/span/SpanOutput.tsx
  app/src/pages/trace/span/ToolMetadata.tsx
  app/src/pages/trace/span/__tests__/SpanInfo.test.tsx
  app/src/pages/trace/span/constants.ts
  app/stories/DetailPanelSpanPresentations.stories.tsx
Due: oxfmt-app, oxlint-app

feat(dev): support authenticated remote backends
  .dockerignore
  app/.env.example
  app/vite.config.mts
Due: none

fix(experiments): report every filter failure as a filter error
  src/phoenix/server/api/helpers/experiment_run_filters.py
  tests/unit/server/api/helpers/test_experiment_run_filters.py
Due: format-python, lint-python

fix: close boolean-position and identity gaps found in review
  app/src/pages/dataset/evaluators/DatasetEvaluatorSpans.tsx
  app/src/pages/project/ProjectSpansPage.tsx
  app/src/pages/project/ProjectTracesPage.tsx
  app/src/pages/project/SpanFilterErrorFallback.tsx
  internal_docs/specs/span-filter-dsl.md
  scripts/dsl-testing/span-filter/README.md
  src/phoenix/server/api/helpers/experiment_run_filters.py
  src/phoenix/trace/dsl/filter.py
  tests/unit/server/api/helpers/__snapshots__/test_experiment_run_filters.ambr
  tests/unit/server/api/helpers/test_experiment_run_filters.py
  tests/unit/trace/dsl/test_filter_spec_conformance.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

fix(filter): report parser errors against the condition, not the file
  src/phoenix/trace/dsl/filter.py
  tests/unit/trace/dsl/test_filter_error_messages.py
  tests/unit/trace/dsl/test_filter_spec_conformance.py
Due: format-python, lint-python

fix: make experiment JSON casts total and close NFKC attribute spoofing
  internal_docs/specs/span-filter-dsl.md
  src/phoenix/db/models.py
  src/phoenix/server/api/helpers/experiment_run_filters.py
  src/phoenix/trace/dsl/filter.py
  tests/unit/server/api/helpers/__snapshots__/test_experiment_run_filters.ambr
  tests/unit/trace/dsl/test_filter_spec_conformance.py
Due: format-python, lint-python

fix(experiments): stop reporting our bugs as the user's invalid filter
  src/phoenix/server/api/helpers/experiment_run_filters.py
  tests/unit/server/api/helpers/test_experiment_run_filters.py
Due: format-python, lint-python

test(dsl): move the hostile corpus into the suite, drop the scripts package
  scripts/dsl-testing/span-filter/README.md
  scripts/dsl-testing/span-filter/corpus.py
  scripts/dsl-testing/span-filter/seed.py
  tests/unit/trace/dsl/test_filter_hostile_data.py
Due: format-python, lint-python

fix(ui): only blame the filter when someone actually wrote one
  app/src/pages/project/SpanFilterErrorFallback.tsx
Due: oxfmt-app, oxlint-app

fix(ui): surface the caught error without dumping SQL into the banner
  app/src/pages/project/SpanFilterErrorFallback.tsx
Due: oxfmt-app, oxlint-app

fix(db): stop PostgreSQL unwrapping arrays in the safe numeric cast
  src/phoenix/db/models.py
  tests/unit/server/api/helpers/__snapshots__/test_experiment_run_filters.ambr
  tests/unit/trace/dsl/test_filter_hostile_data.py
Due: format-python, lint-python

chore: drop Python 3.9 compatibility branches
  src/phoenix/trace/dsl/filter.py
  tests/unit/trace/dsl/test_filter.py
Due: format-python, lint-python

fix: repair unary minus regression and reject casts PostgreSQL cannot make
  src/phoenix/server/api/helpers/experiment_run_filters.py
  src/phoenix/trace/dsl/filter.py
  tests/unit/server/api/helpers/__snapshots__/test_experiment_run_filters.ambr
  tests/unit/server/api/helpers/test_experiment_run_filters.py
  tests/unit/trace/dsl/test_filter_hostile_data.py
  tests/unit/trace/dsl/test_filter_spec_conformance.py
Due: format-python, lint-python

docs(specs): record what the total-cast and cross-dialect work taught
  internal_docs/specs/span-filter-dsl.md
Due: none

fix(experiments): compare JSON values, not their JSON rendering
  internal_docs/specs/span-filter-dsl.md
  src/phoenix/server/api/helpers/experiment_run_filters.py
  tests/unit/server/api/helpers/__snapshots__/test_experiment_run_filters.ambr
  tests/unit/server/api/helpers/test_experiment_run_filters_execution.py
Due: format-python, lint-python

docs(spec): name the failure mode that fails at no layer
  internal_docs/specs/span-filter-dsl.md
  tests/unit/trace/dsl/test_filter_hostile_data.py
Due: format-python, lint-python

fix(experiments): reject the inherited Python surface by name
  src/phoenix/server/api/helpers/experiment_run_filters.py
  src/phoenix/trace/dsl/filter.py
  tests/unit/server/api/helpers/test_experiment_run_filters.py
Due: format-python, lint-python

test(dsl): pin the divergence when two JSON values are compared
  internal_docs/specs/span-filter-dsl.md
  tests/unit/trace/dsl/test_filter_json_operand_comparison.py
Due: format-python, lint-python

fix(dsl): reject casts and subscripts that fail past validation
  internal_docs/specs/span-filter-dsl.md
  src/phoenix/server/api/helpers/experiment_run_filters.py
  src/phoenix/trace/dsl/filter.py
  tests/unit/server/api/helpers/test_experiment_run_filters.py
  tests/unit/trace/dsl/test_filter_spec_conformance.py
Due: format-python, lint-python

fix(dsl): reject boolean-to-text casts by type, not by syntax
  internal_docs/specs/span-filter-dsl.md
  src/phoenix/server/api/helpers/experiment_run_filters.py
  src/phoenix/trace/dsl/filter.py
  tests/unit/server/api/helpers/test_experiment_run_filters.py
  tests/unit/trace/dsl/test_filter_spec_conformance.py
Due: format-python, lint-python

fix(dsl): restrict str() to operands with a portable text spelling
  internal_docs/specs/span-filter-dsl.md
  src/phoenix/trace/dsl/filter.py
  tests/unit/trace/dsl/test_filter_json_operand_comparison.py
  tests/unit/trace/dsl/test_filter_spec_conformance.py
Due: format-python, lint-python

refactor: keep media support out of upstream's busiest files
  Makefile
  app/src/pages/playground/playgroundMedia.ts
  app/src/pages/playground/playgroundUtils.ts
  scripts/sync_fork.py
  src/phoenix/server/api/helpers/playground_clients.py
  src/phoenix/server/api/helpers/playground_media.py
  tests/unit/db/test_migration_heads.py
  tests/unit/server/api/helpers/test_playground_media.py
Due: format-python, lint-python, oxfmt-app, oxlint-app

refactor(db): fold the media file_name migration into the table creation
  scripts/sync_fork.py
  src/phoenix/db/migrations/versions/31404cf41f6f_add_media_file_name.py
  src/phoenix/db/migrations/versions/e0307b79758d_add_media_files_table.py
Due: format-python, lint-python

refactor(playground): move provider media handling into its own package
  src/phoenix/server/api/helpers/playground_clients.py
  src/phoenix/server/api/helpers/playground_media.py
  src/phoenix/server/api/helpers/playground_media/__init__.py
  src/phoenix/server/api/helpers/playground_media/_allowlists.py
  src/phoenix/server/api/helpers/playground_media/_anthropic.py
  src/phoenix/server/api/helpers/playground_media/_bedrock.py
  src/phoenix/server/api/helpers/playground_media/_google.py
  src/phoenix/server/api/helpers/playground_media/_openai.py
  src/phoenix/server/api/helpers/playground_media/_support.py
  src/phoenix/server/api/helpers/playground_media/_tracing.py
  tests/unit/server/api/helpers/test_playground_media.py
Due: format-python, lint-python

docs(skills): add a sync-fork skill
  .agents/skills/sync-fork/SKILL.md
  .agents/skills/sync-fork/references/conflict-playbook.md
Due: none

refactor(app): share one fragment for the media content parts
  app/src/agent/tools/datasetEvaluatorDefinition/__generated__/readDatasetEvaluatorDefinitionBodyQuery.graphql.ts
  app/src/components/dataset/__generated__/EditLLMDatasetEvaluatorSlideover_evaluator.graphql.ts
  app/src/components/dataset/__generated__/EditLLMDatasetEvaluatorSlideover_evaluatorQuery.graphql.ts
  app/src/components/dataset/__generated__/EditLLMDatasetEvaluatorSlideover_updateLLMEvaluatorMutation.graphql.ts
  app/src/components/evaluators/__generated__/AddEvaluatorMenu_llmEvaluatorTemplates.graphql.ts
  app/src/components/prompt/PromptChatMessagesCard.tsx
  app/src/components/prompt/__generated__/PromptChatMessagesCard__main.graphql.ts
  app/src/pages/dataset/evaluators/__generated__/DatasetEvaluatorsPage_builtInEvaluators.graphql.ts
  app/src/pages/dataset/evaluators/__generated__/LLMDatasetEvaluatorDetails_datasetEvaluator.graphql.ts
  app/src/pages/dataset/evaluators/__generated__/datasetEvaluatorDetailsLoaderQuery.graphql.ts
  app/src/pages/dataset/evaluators/__generated__/datasetEvaluatorsLoaderQuery.graphql.ts
  app/src/pages/playground/__generated__/PlaygroundDatasetSectionQuery.graphql.ts
  app/src/pages/playground/__generated__/experimentRehydrationQuery.graphql.ts
  app/src/pages/playground/__generated__/fetchPlaygroundPromptQuery.graphql.ts
  app/src/pages/playground/__generated__/fetchPlaygroundPrompt_promptVersionToInstance_promptVersion.graphql.ts
  app/src/pages/playground/experimentRehydration.ts
  app/src/pages/playground/fetchPlaygroundPrompt.ts
  app/src/pages/prompt/__generated__/EditPromptButtonPatchPromptMutation.graphql.ts
  app/src/pages/prompt/__generated__/promptLoaderQuery.graphql.ts
  app/src/pages/prompt/__generated__/promptVersionLoaderQuery.graphql.ts
  app/src/schemas/__tests__/contentPartSelectionSets.test.ts
  app/src/schemas/messageSchemas.ts
  app/src/utils/__generated__/mediaContentPartFragment.graphql.ts
  app/src/utils/__generated__/promptUtils_promptMessages.graphql.ts
  app/src/utils/mediaContentPartFragment.ts
  app/src/utils/promptUtils.ts
Due: oxfmt-app, oxlint-app

refactor(playground): derive media variables outside playgroundUtils
  app/src/pages/playground/__tests__/getChatCompletionInput.test.ts
  app/src/pages/playground/__tests__/playgroundMessageFiles.test.ts
  app/src/pages/playground/__tests__/playgroundMessageImages.test.ts
  app/src/pages/playground/__tests__/playgroundUtils.test.ts
  app/src/pages/playground/playgroundMedia.ts
  app/src/pages/playground/playgroundUtils.ts
  app/src/pages/playground/useDerivedPlaygroundVariables.tsx
Due: oxfmt-app, oxlint-app

refactor(app): move the remaining media UI into fork-owned files
  app/src/components/core/types/style.ts
  app/src/components/prompt/ChatTemplateMessageCard.tsx
  app/src/components/prompt/PromptChatMessagesCard.tsx
  app/src/components/prompt/media/ChatTemplateMessageMediaParts.tsx
  app/src/components/prompt/media/partTitles.ts
  app/src/pages/playground/PlaygroundChatTemplate.tsx
  app/src/pages/playground/PlaygroundMessageMedia.tsx
  app/src/pages/playground/media/MessageMediaButtons.tsx
  app/src/pages/playground/media/useMessageMedia.ts
  app/src/pages/playground/schemas.ts
  app/src/pages/trace/span/SpanImage.tsx
  app/src/pages/trace/span/media/MediaNotAnImage.tsx
  app/src/schemas/mediaMessageShape.ts
Due: oxfmt-app, oxlint-app

revert(app): keep style.ts as upstream wrote it
  app/src/components/core/types/style.ts
Due: oxfmt-app, oxlint-app

fix(prompt): keep the message when the code export cannot represent its media
  app/src/components/prompt/ChatTemplateMessageCard.tsx
  app/src/components/prompt/media/ChatTemplateMessageMediaParts.tsx
  app/src/components/trace/__tests__/__fixtures__/mockSpansPage.ts
  app/src/components/trace/__tests__/spanDownloadUtils.test.ts
  app/src/pages/playground/AddMediaInputButton.tsx
  app/src/pages/playground/MediaVariableEditor.tsx
  app/src/pages/playground/PlaygroundMessageMedia.tsx
  app/src/pages/playground/media/useMessageMedia.ts
  app/src/pages/playground/playgroundMedia.ts
  app/src/pages/playground/promptConfigToPlaygroundInstance.ts
  app/src/pages/prompt/__tests__/representableContent.test.ts
  app/src/pages/prompt/media/representableContent.ts
  app/src/pages/prompt/promptCodeSnippets.tsx
  app/src/schemas/mediaMessageShape.ts
  app/src/schemas/mediaPartSchemas.ts
  app/src/schemas/promptSchemas.ts
  app/src/utils/__tests__/promptUtils.test.ts
  app/src/utils/mediaContentPartFragment.ts
  app/src/utils/mediaParts.ts
  app/src/utils/promptUtils.ts
Due: oxfmt-app, oxlint-app

Path conditions:
  format-python: any of: \.py$
  lint-python: any of: \.py$
  clean-notebooks: any of: \.ipynb$
  oxfmt-app: any of: ^app/.*\.(jsx?|tsx?|css|md|json|ya?ml)$
  oxfmt-js: any of: ^js/.*\.(jsx?|tsx?|md|json|ya?ml)$
  oxlint-app: any of: ^app/.*\.[jt]sx?$
  oxlint-js: any of: ^js/.*\.[jt]sx?$
  uv-lock-check: any of: (pyproject\.toml$|^uv\.lock$)
